@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
    ViewBag.Title = "Add New Resource in Resource File";
}

<h2>Add New Resource in Resource File</h2>

<br />
<form id="frmResource">
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewBag.DDLanguage" id="hdnLanguage" name="hdnLanguage" />
    <input type="hidden" value="@ViewBag.DDLModuleMaster" id="hdnModule" name="hdnModule" />
    <input type="hidden" value="@ViewBag.DDLResourceFile" id="hdnPageName" name="hdnPageName" />
    <table id="tblResourceKeyValue" name="tblResourceKeyValue" class="table-bordered" style="width:80%" border="1">
        <thead>
            <tr>
                <th style="width:40%;text-align:left;">
                    Resource Key
                </th>
                <th style="width:40%;text-align:left;">
                    Resource Value
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="txtKey1" name="txtKey1" class="txtKey" maxlength="255" /></td>
                <td><input type="text" id="txtValue1" name="txtValue1" class="txtValue" maxlength="255" /></td>
            </tr>
            <tr>
                <td><input type="text" id="txtKey2" name="txtKey2" class="txtKey" maxlength="255" /></td>
                <td><input type="text" id="txtValue2" name="txtValue2" class="txtValue" maxlength="255" /></td>
            </tr>
            <tr>
                <td><input type="text" id="txtKey3" name="txtKey3" class="txtKey" maxlength="255" /></td>
                <td><input type="text" id="txtValue3" name="txtValue3" class="txtValue" maxlength="255" /></td>
            </tr>
            <tr>
                <td><input type="text" id="txtKey4" name="txtKey4" class="txtKey" maxlength="255" /></td>
                <td><input type="text" id="txtValue4" name="txtValue4" class="txtValue" maxlength="255" /></td>
            </tr>
            <tr>
                <td><input type="text" id="txtKey5" name="txtKey5" class="txtKey" maxlength="255" /></td>
                <td><input type="text" id="txtValue5" name="txtValue5" class="txtValue" maxlength="255" /></td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"><input type="button" id="btnAddNewRow" name="btnAddNewRow" class="GridBtnStyle" style="float:left;" value="Add Row" /></td>

            </tr>
        </tfoot>
    </table>
    <div>
        @*  Key:
            <input type="text" id="txtKey1" name="txtKey1" maxlength="50" />
            Value:
            <input type="text" id="txtValue1" name="txtValue1" maxlength="50" />
            <br />
            Key:
            <input type="text" id="txtKey2" name="txtKey2" maxlength="50" />
            Value:
            <input type="text" id="txtValue2" name="txtValue2" maxlength="50" />
            <br />
            Key:
            <input type="text" id="txtKey3" name="txtKey3" maxlength="50" />
            Value:
            <input type="text" id="txtValue3" name="txtValue3" maxlength="50" />
            <br />
            Key:
            <input type="text" id="txtKey4" name="txtKey4" maxlength="50" />
            Value:
            <input type="text" id="txtValue4" name="txtValue4" maxlength="50" />
            <br />
            Key:
            <input type="text" id="txtKey5" name="txtKey5" maxlength="50" />
            Value:
            <input type="text" id="txtValue5" name="txtValue5" maxlength="50" />
            <br />
        *@
        <input type="button" id="btnSave" name="btnAddResource" class="CreateBtn" style="float:left;" value="@ResCommon.Save" />
    </div>
</form>
<script>
    //$("input[name='btnAddResource']").click(function () {
    //    var language = $("input#hdnLanguage").val();
    //    var module = $("input#hdnModule").val();
    //    var page = $("input#hdnPageName").val();
    //    for (var i = 1; i <= 5; i++) {
    //        var key = $.trim($("input#txtKey" + i).val());
    //        var Value = $.trim($("input#txtValue" + i).val());
    //        if (key != '' && Value != '') {
    //            $.ajax({
    //                url: "AddNewResource",
    //                data: { "lang": language, "module": module, "page": page, "key": key, "value": Value },
    //                type: "POST",
    //                success: function () {
    //                    alert("Saved Succesfully...!!!!!!");
    //                },
    //                error: function () {
    //                    alert("Error!!!!!!");
    //                }, complete: function () {
    //                    ClearResourceSession(true);
    //                    $("#AddNewResourceDialogue").dialog("close");
    //                }
    //            });
    //        }
    //    }
    //});



    $('#tblResourceKeyValue').on('click', 'input[name="btnAddNewRow"]', function () {
        $('#tblResourceKeyValue tbody').append()
        var cloned = $('#tblResourceKeyValue tbody tr:last').clone(true, true).get(0);
        $(cloned).find("input[type='text']").val('');
        $(cloned).appendTo('#tblResourceKeyValue tbody');
    });

    $('form#frmResource').on('click', 'input[name="btnAddResource"]', function () {
        var language = $("input#hdnLanguage").val();
        var module = $("input#hdnModule").val();
        var page = $("input#hdnPageName").val();
        var arrResource = new Array();
        $('#tblResourceKeyValue tbody tr').each(function (i) {
            var key = $.trim($(this).find("input.txtKey").val());
            var Value = $.trim($(this).find("input.txtValue").val());
            if (key != '' && Value != '') {
                var obj = {};
                obj.Key = key;
                obj.Value = Value;
                obj.Language = language;
                obj.Module = module;
                obj.Page = page;
                arrResource.push(obj);
            }
        });

        if (arrResource.length > 0) {
            $.ajax({
                url: "AddNewResources",
                data: JSON.stringify(arrResource),
                contentType: 'application/json',
                type: "POST",
                success: function () {
                    alert("Saved Succesfully...!!!!!!");
                },
                error: function () {
                    alert("Error!!!!!!");
                }, complete: function () {
                    ClearResourceSession(true);
                    $("#AddNewResourceDialogue").dialog("close");
                }
            });
        }
    });
</script>