@{
    ViewBag.Title = ResLayout.CultureSettingsPageTitle;
    var lstsource = (List<eTurns.DTO.Resources.ResourceLanguageDTO>)ViewBag.SourceList;
    var lstdestination = (List<eTurns.DTO.Resources.ResourceLanguageDTO>)ViewBag.DestinationList;
}
<style>
    .divsourcelist, .divdestinationlist
    {
        width: 250px;
        float: left;
    }
    
    .divsourcelist ul
    {
        margin: 0;
        padding: 5px 0;
        width: 200px;
        background-color: #CCC;
    }
    .divsourcelist ul li
    {
        margin: 5px 10px;
        padding: 5px 10px;
        list-style: none;
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
    
    .divdestinationlist ul
    {
        margin: 0;
        padding: 5px 0;
        width: 200px;
        background-color: #CCC;
    }
    .divdestinationlist ul li
    {
        margin: 5px 10px;
        padding: 5px 10px;
        list-style: none;
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
</style>
<div class="userListingWrapper">
    <h2>
        @ResLayout.CultureSettingsPageHeader
    </h2>
    <div class="Pdablockform">
        <div class="bordercontainer">
          
            <div id="divcolumnlist">
                <div class="divsourcelist">
                    <h4>
                        @ResLayout.SourceColumnsList
                    </h4>
                    <ul id="divsource" class="connectedSortable">
                        <li style="visibility: hidden"></li>
                        @if (lstsource != null)
                        {
                            if (lstsource.Any())
                            {
                                foreach (var item in lstsource)
                                {
                            <li id="@item.ID">@item.Language
                                    @Html.Hidden("hidId", item.ID)
                                    @Html.Hidden("hidLanguage", item.Language)
                                    @Html.Hidden("hidCulture", item.Culture)
                             </li>
                                }
                            }
                        }
                    </ul>
                    <br />
                    <br />
                    <input class="PdsCreateBtn" type="button" value="Save" onclick="savedata();" />
                </div>
                <div class="divdestinationlist">
                    <h4>
                        @ResLayout.DestinationColumnsList</h4>
                    <ul id="divdestination" class="connectedSortable">
                        <li style="visibility: hidden" id="liinvisibleid"></li>
                        @if (lstdestination != null)
                        {
                            if (lstdestination.Any())
                            {
                                foreach (var item in lstdestination)
                                {
                            <li id="@item.ID">@item.Language
                                    @Html.Hidden("hidId", item.ID)
                                    @Html.Hidden("hidLanguage", item.Language)
                                    @Html.Hidden("hidCulture", item.Culture)
                            </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        
    });

    $(function () {
        $("#divsource, #divdestination").sortable({
            connectWith: ".connectedSortable"
        });
    });

    function savedata() {
        if ($("#ddlgridlist").val() == "") {
            ShowNotificationMessage("@ResLayout.PleaseSelectList");
        } else {
            $('#DivLoading').show();

            var listItems = $("#divdestination li");
            var tableArr = new Array();
            listItems.each(function () {
                var $this = $(this);
                var id = $this.attr("id");
                if (id != "liinvisibleid") {
                    var hidId = $this.children("#hidId").val();
                    var hidLanguage = $this.children("#hidLanguage").val();
                    var hidCulture = $this.children("#hidCulture").val();
                    
                    tableArr.push({
                        Id: escape(hidId),
                        Language: escape(hidLanguage),
                        Culture: escape(hidCulture)
                    });
                }
            });
            
            $.ajax({
                type: "POST",
                url: "/Resources/SaveCultureSettings",
                data: "{ 'datacollections': '" + JSON.stringify(tableArr) + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $('#DivLoading').hide();
                },
                error: function () {
                    ShowNotificationMessage("@ResCommon.ErrorInProcess");
                    $('#DivLoading').hide();
                }
            });
        }
    }
    
</script>
