@using eTurns.DTO.Resources;
@{
    ViewBag.Title = ResResourceEditor.PageTitleMobile;
    var settings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplayUDFButton = true };

    bool isInsert = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.ResourceMaster, eTurnsWeb.Helper.SessionHelper.PermissionType.Insert);
    bool isUpdate = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.ResourceMaster, eTurnsWeb.Helper.SessionHelper.PermissionType.Update);
    string ResourcesPDFURL = string.Format("{0}?t={1}", "/Uploads/HelpDoc/Resources.pdf", DateTime.Now.Ticks);
    List<HelpDocumentDetailDTO> objHelpDocDtlDTO = eTurnsWeb.Helper.SessionHelper.GetHelpDocumentDetail("Resources", (int)HelpDocType.Module);
}
<div class="userListingWrapper">
    <h2>
        @ResResourceEditor.PageHeaderMobile
    </h2>
    <div class="Infoclass" id="divinfoList" style="width:70px !important">
        @if (objHelpDocDtlDTO != null && objHelpDocDtlDTO.Count > 0 && objHelpDocDtlDTO.FirstOrDefault().IsVideoShow == true)
        {
            var VideoCount = objHelpDocDtlDTO.Where(x => x.IsVideo == true).Count();
            if (VideoCount > 1)
            {
                <div class="refresh" style="z-index: 200 !important; margin-right: 5px;">
                    <a href="#" style="z-index:205 !important">
                        <img src="~/Content/images/InfoVideo.png" alt="Help" />
                    </a>
                    <div class="refreshBlock" style="z-index:200 !important; top: 20px;">
                        <ul class="sub_subMenu">
                            @foreach (var item in objHelpDocDtlDTO)
                            {
                                if (item.IsVideo == true && !string.IsNullOrWhiteSpace(item.ModuleVideoName) && !string.IsNullOrWhiteSpace(item.ModuleVideoPath))
                                {
                                    <li class="help_docvideo" onclick="return OpenHelpDocVideo('@item.ModuleVideoPath.Replace("../Uploads/HelpDoc/", "")', '@item.ModuleVideoNoExt');">@item.ModuleVideoNoExt</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                HelpDocumentDetailDTO helpDetails = new HelpDocumentDetailDTO();
                helpDetails = objHelpDocDtlDTO.Where(x => x.IsVideo == true).FirstOrDefault();

                if (helpDetails != null && helpDetails.IsVideo == true && !string.IsNullOrWhiteSpace(helpDetails.ModuleVideoName) && !string.IsNullOrWhiteSpace(helpDetails.ModuleVideoPath))
                {
                    <div class="refresh" style="z-index: 200 !important; margin-right: 5px;">
                        <img class="help_docvideo" src="~/Content/images/InfoVideo.png" alt="@helpDetails.ModuleVideoNoExt" onclick="return OpenHelpDocVideo('@helpDetails.ModuleVideoPath.Replace("../Uploads/HelpDoc/", "")', '@helpDetails.ModuleVideoNoExt');" />
                    </div>
                }
            }
        }
        @if (objHelpDocDtlDTO != null && objHelpDocDtlDTO.Count > 0 && objHelpDocDtlDTO.FirstOrDefault().IsDocShow == true)
        {
            var DocCount = objHelpDocDtlDTO.Where(x => x.IsDoc == true).Count();
            if (DocCount > 1)
            {
                <div class="refresh" style="z-index: 200 !important; margin-right: 5px;">
                    <a href="#" style="z-index:205 !important">
                        <img src="~/Content/images/Info.png" alt="Help" />
                    </a>
                    <div class="refreshBlock" style="z-index:200 !important; top: 20px;">
                        <ul class="sub_subMenu">
                            @foreach (var item in objHelpDocDtlDTO)
                            {
                                if (item.IsDoc == true && !string.IsNullOrWhiteSpace(item.ModuleDocName) && !string.IsNullOrWhiteSpace(item.ModuleDocPath))
                                {
                                    <li class="help_docvideo" onclick="return window.open('@item.ModuleDocPath', '_blank')">@item.ModuleDocNoExt</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                HelpDocumentDetailDTO helpDetails = new HelpDocumentDetailDTO();
                helpDetails = objHelpDocDtlDTO.Where(x => x.IsDoc == true).FirstOrDefault();

                if (helpDetails != null && helpDetails.IsDoc == true && !string.IsNullOrWhiteSpace(helpDetails.ModuleDocName) && !string.IsNullOrWhiteSpace(helpDetails.ModuleDocPath))
                {
                    <div class="refresh" style="z-index: 200 !important; margin-right: 5px;">
                        <img class="help_docvideo" src="~/Content/images/Info.png" alt="@helpDetails.ModuleDocNoExt" onclick="return window.open('@helpDetails.ModuleDocPath', '_blank')" />
                    </div>
                }
            }
        }
    </div>
    <div class="fieldIcon">
        <a href="#" id="aCopy" style="display: none;">
            <img src='@Url.Content("/Content/images/copy.png")' /></a>
    </div>
    <div class="userListBlock">
        @Html.Hidden("hdnInsertRights", isInsert)
        @Html.Hidden("hdnUpdateRights", isUpdate)
        <div id="tab7" class="tabContener" style="width: 99%">
            @using (Html.BeginForm("Download", "Resources", FormMethod.Post, new { @id = "frmMobileDownLoad" }))
            {
                @Html.AntiForgeryToken()
                <div class="userContent" style="padding-left: 5px; width: 99%;">
                    <div class="userHead" style="margin: 0.5% 0.5% 0; width: 99%">
                        <div class="editorForm" style="width: 98%">
                            <ul>
                                <li style="float: left;">
                                    <div class="editor-label" style="width: 7%; float: left; padding: 0">
                                        @Html.Label(ResResourceEditor.Language)
                                    </div>
                                    <div class="editor-field" style="width: 18%; float: left;">
                                        @Html.DropDownList("ddlMobileResEditorLanguage", (List<SelectListItem>)ViewBag.DDLanguage, new { @style = "width:85%", @class = "selectBox" })
                                    </div>
                                    <div class="editor-label" style="width: 7%; float: left; padding: 0">
                                        @Html.Label(ResResourceEditor.Mdodules)
                                    </div>
                                    <div class="editor-field" style="width: 18%; float: left;">
                                        @Html.DropDownList("ddlMobileResourceModule", (List<SelectListItem>)ViewBag.DDLModuleMaster, new { @style = "width:85%", @class = "selectBox" })
                                    </div>
                                    <div class="editor-label" style="width: 7%; float: left; padding: 0">
                                        @Html.Label(ResResourceEditor.Resources)
                                    </div>
                                    <div class="editor-field" style="width: 18%; float: left;">
                                        @Html.DropDownList("ddlMobileResourcePage", (List<SelectListItem>)ViewBag.DDLResourceFile, new { @style = "width:85%", @class = "selectBox" })
                                    </div>
                                    <div class="editor-label" style="width: 1%; float: left;">
                                        &nbsp;
                                    </div>
                                    <div class="editor-field" style="width: 10%; float: left; display: none">
                                        <input type="button" value="@ResResourceEditor.Load" id="btnMobileLoadGrid" style="display: none;"  class="CreateBtn" name="btnMobileLoadGrid" />
                                        <a href="javascript:void(0);" id="aExportResource" target="_blank">
                                            <input type="button" class="CreateBtn" value="@ResResourceEditor.Export" id="btnExport" name="btnExport" />
                                        </a>
                                        <input type="button" class="CreateBtn" value="@ResResourceEditor.Import" id="btnImportResource" name="btnImportResource" />
                                    </div>
                                    <div class="editor-label" style="width: 25%; float: left;">
                                        &nbsp;
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            <div class="searchWrapper">
                <div class="searchBlock" style="margin-left: 10px;">
                    <span class="label">@eTurns.DTO.Resources.ResCommon.Search </span>
                    <div class="searchinputB">
                        <input type="text" class="searchinput" id="txtSearchMobileResource" />
                        <a href="javascript:void(0);" class="xclose">
                            <img src="~/Content/images/x.png" alt="X" id="cleartxtSearchMobileResource" /></a>
                    </div>
                </div>
            </div>
            @Html.GridTopHeaderForResources(settings, eTurnsWeb.Helper.SessionHelper.ModuleList.ResourceMaster)
            <div class="userContent" style="padding-left: 5px; width: 99%">
                <table id="myResourceDataTableMobileRes" class="display">
                    <thead>
                        <tr>
                            <th style="width: 30%">
                                @ResResourceEditor.ResourceKey
                            </th>
                            <th style="width: 68.5%">
                                @ResResourceEditor.ResourceValue <span style="font-size: 11px; font-weight: normal;">
                                    @ResResourceEditor.DoubleClickToEditValue </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="processing_message" style="display: none" title="Processing">
                    @ResMessage.RequestProcessMessage
                </div>
            </div>
            <div class="editorForm" id="divbtnBlock" style="display: none; width: 98.5% !important;">
                <ul>
                    <li>
                        <div class="BtnBlockform" style="margin-left: 5px;">
                            @if (isInsert || isUpdate)
                            { 
                                <input type="button" value="@ResCommon.Save" id="btnSaveMobRes" name="btnSaveMobRes" class="CreateBtn" style="float: left;" />                            
                            }
                            <input type="button" value="@ResCommon.Cancel" id="btnCancelMobRes" name="btnCancelMobRes" class="CreateBtn"
                                style="float: left;" />
                            <input type="button" value="@ResCommon.BulkEdit" id="btnBulkEditUp" name="btnBulkEditUp" class="CreateBtn"
                                style="float: left;" />
                            <input type="hidden" value="0" id="hdIsEdit" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="dialog" id="ResetMobileResourceModal" style="display: none;">
    <div class="inner">
        <p class="text">
            @ResResourceEditor.ReserCurrentPageResourceConfirmation
        </p>
        <a href="JavaScript:void{}" id="btnResetMobileResourceModelYes" class="yes">
            <img src="~/Content/images/yes.png" alt="@eTurns.DTO.Resources.ResMessage.ConfirmYes" />
            @eTurns.DTO.Resources.ResMessage.ConfirmYes</a><a href="JavaScript:void{}" class="no"
                onclick="closeMobileResModal()">
                <img src="~/Content/images/no.png" alt="@eTurns.DTO.Resources.ResMessage.ConfirmNo" />@eTurns.DTO.Resources.ResMessage.ConfirmNo</a>
    </div>
</div>
<div id="divImport" style="display: none;">
    @using (Html.BeginForm("ImportMobileResources", "Resources", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmImportReource" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @ResCommon.Module: <span style="font-weight: bold" id="spnModuleName"></span>&nbsp;&nbsp;&nbsp
            @ResResourceEditor.Page <span style="font-weight: bold" id="spnPageName"></span>
            <br />
            <br />
            <br />
            <label>
                @ResResourceEditor.SelectResourceFile
            </label>
            &nbsp;&nbsp;&nbsp;
            <input type="file" name="fuResource" id="fuResource" />
            <input type="hidden" name="hdnModuleID" id="hdnModuleID" value="" />
            <input type="hidden" name="hdnModuleName" id="hdnModuleName" value="" />
            <input type="hidden" name="hdnSelectedLanguage" id="hdnSelectedLanguage" value="" />
            <input type="hidden" name="hdnResourceFileName" id="hdnResourceFileName" value="" />
            <input type="hidden" name="hdnResourcePageID" id="hdnResourcePageID" value="" />
            <input type="hidden" name="hdnReturnURL" id="hdnReturnURL" value="" />
            <input type="hidden" name="hdnResourceType" id="hdnResourceType" value="COMPANYBASE" />
            <br />
            <input type="submit" class="CreateBtn" value="@ResResourceEditor.Import" id="btnSubmitResourceFile"
                name="btnSubmitResourceFile" />
        </div>
    }
</div>
<script language="javascript" type="text/javascript">
    $('div.userHead').children('div.BtnBlock').children('div.print').remove();

    $('#aExportResource').live('click', function () {
        var moduleID = $('#ddlMobileResourceModule').val();
        var reourceFile = $('#ddlMobileResourcePage').val();
        if (!isNaN(parseInt(moduleID)) && parseInt(moduleID) > 0) {
            if (!isNaN(parseInt(reourceFile)) && parseInt(reourceFile) > 0) {
                var url = '@Url.Content("~/Resources/ExportMobileResources")' + "?ModuleId=" + moduleID + "&PageID=" + reourceFile + "&ResType=ETURNSBASE";
                $(this).attr('href', url);
                return true;
            }
        }
        return false;
    });

    $('#btnImportResource').live('click', function () {
        var moduleID = $('#ddlMobileResourceModule').val();
        var reourceFile = $('#ddlMobileResourcePage').val();
        if (!isNaN(parseInt(moduleID)) && parseInt(moduleID) > 0) {
            if (!isNaN(parseInt(reourceFile)) && parseInt(reourceFile) > 0) {
                var selectedLangujage = $('#ddlMobileResEditorLanguage option:selected').text();
                var selectedModuleName = $('#ddlMobileResourceModule option:selected').text();
                var selectedFileName = $('#ddlMobileResourcePage option:selected').text();

                if (selectedModuleName.length <= 0) {
                    selectedModuleName = $('#ddlMobileResEditorLanguage option:first').text();
                }

                $('#frmImportReource').find('#hdnModuleID').val(moduleID);
                $('#frmImportReource').find('#hdnModuleName').val(selectedModuleName);
                $('#frmImportReource').find('#hdnSelectedLanguage').val(selectedLangujage);
                $('#frmImportReource').find('#hdnResourceFileName').val(selectedFileName);
                $('#frmImportReource').find('#hdnResourcePageID').val(reourceFile);

                $('#frmImportReource').find('#spnModuleName').text(selectedModuleName);
                $('#frmImportReource').find('#spnPageName').text(selectedFileName)

                $('#divImport').dialog('open');
            }
        }
        return false;
    });



    var oTable;
    var IsRefreshGrid = false;
    var PostCount = 0;
    var AllowDeletePopup = false;
    var changedResourceValue = '';
    var changedResourceKey = '';
    var IsDeletePopupOpen = false;
    var Idreadonly = "";
    $('#btnReset').unbind('click');
    $('#btnReset').click(function () {
        if (parseInt($("#ddlMobileResourcePage").val()) > 0) {
            AllowDeletePopup = true
            IsDeletePopupOpen = true
            $('#ResetMobileResourceModal').modal();
        }
    });
    function closeMobileResModal() {
        AllowDeletePopup = false
        IsDeletePopupOpen == false
        $.modal.impl.close();
    }

    $(document).keyup(function (e) {

        if (AllowDeletePopup) {

            var code = (e.keyCode ? e.keyCode : e.which);

            if (code == 46) {

            }
            if (code == 89 && IsDeletePopupOpen == true) {
                $('#btnResetMobileResourceModelYes').click();
            }
            else if (code == 78 && IsDeletePopupOpen == true) {
                closeMobileResModal();
            }
        }

    });

    $('#btnResetMobileResourceModelYes').click(function () {
        if (parseInt($("#ddlMobileResourcePage").val()) > 0) {
            $.ajax({ url: '@Url.Content("~/Resources/ResetMobileResource")'
                        , type: 'POST'
                        , cache: false
                        , data: { 'ResourcePageID': $("#ddlMobileResourcePage").val(), 'LanguageID': $("#ddlMobileResEditorLanguage").val() }
                        , success: function (response) {
                            closeMobileResModal();
                            ClearResourceSession(true);
                            showNotificationDialog();
                            $("#spanGlobalMessage").html(response.Message);
                            $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
                        }
                        , error: function (message) {
                            closeMobileResModal();
                            $("#spanGlobalMessage").html(message.statusText);
                            showNotificationDialog();

                        }
            });
        }
    });

    $("#btnMobileLoadGrid").click(function () {

        $('#myResourceDataTableMobileRes').dataTable().fnDraw();

    });

    $('#ddlMobileResourcePage').change(function () {

        var selectedVal = $('#ddlMobileResourcePage option:selected').attr('value');
        ClearResourceSession(true);
    });

    $('#ddlMobileResEditorLanguage').change(function () {
        var selectedVal = $('#ddlMobileResEditorLanguage option:selected').attr('value');
        ClearResourceSession(true);
    });

    $('#ddlMobileResourceModule').change(function () {
        var selectedVal = $('#ddlMobileResourceModule option:selected').attr('value');

        $.ajax({ url: '@Url.Content("~/Resources/GetResourcePageData")'
                , type: 'GET'
                , data: { 'ModuleID': selectedVal }
                , dataType: 'json'
                , contentType: "application/json"
                , success: function (result) {
                    var items = "";
                    $.each(result, function (i, result) {
                        items += "<option value='" + result.Value + "'>" + result.Text + "</option>";
                    });
                    $("#ddlMobileResourcePage").html(items);
                    ClearResourceSession(true);
                }
                , error: function (msg) {
                    // alert(msg);
                }
        });

    });



    $('#btnSaveMobRes').click(function () {
        $.ajax({ url: '@Url.Content("~/Resources/SaveMobileResources")'
                        , type: 'POST'
                        , cache: false
                        , dataType: 'json'
                        , data: { 'SelectedResourceFile': $("#ddlMobileResourcePage").val(), 'SelectedCulter': $("#ddlMobileResEditorLanguage").val() }
                        , success: function (response) {
                            showNotificationDialog();
                            $("#spanGlobalMessage").html(response.Message);
                            $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
                            ClearResourceSession(true);

                        }
                        , error: function (message) {
                            $("#spanGlobalMessage").html(message.statusText);
                            showNotificationDialog();
                        }
        });
        $('#hdIsEdit').val('');
        $('#btnBulkEditUp').html("@ResCommon.BulkEdit");
        $('#myResourceDataTableMobileRes').dataTable().fnDraw();
    });


    function fnFilterOrderList(searchtext) {
        $('#myResourceDataTableMobileRes').dataTable().fnFilter(searchtext, null, null, null);
        $('#myResourceDataTableMobileRes' + ' td').removeHighlight();
        if (searchtext.length > 0)
            $('#myResourceDataTableMobileRes' + ' td').highlight(searchtext);
    }

    var timeoutsc1;
    $('#txtSearchMobileResource').bind('textchange', function () {
        clearTimeout(timeoutsc1);
        var self = this;
        timeoutsc1 = setTimeout(function () {
            fnFilterOrderList($("#txtSearchMobileResource").val().replace(/'/g, "''"));
        }, 200);
    });
    $("#txtSearchMobileResource").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            fnFilterOrderList($("#txtSearchMobileResource").val().replace(/'/g, "''"));
            return false;
        }
    });
    $("#cleartxtSearchMobileResource").click(function () {
        $("#txtSearchMobileResource").val('');
        $("#txtSearchMobileResource").focus();
        $("#txtSearchMobileResource").change();
        return false;
    });

    $(document).ready(function () {
        ClearResourceSession(false);
        $('#DivLoading').hide().ajaxStart(function () { $(this).show(); }).ajaxStop(function () { $(this).hide(); });
        if ('@(HttpContext.Current.Request.QueryString.Count <= 0)' == 'True') {
            $('#ddlMobileResourceModule').change();
        }
        var gaiSelected = [];
        oTable = $('#myResourceDataTableMobileRes').dataTable({
            "bJQueryUI": true,
            "sDom": 'rti<"clear">T',
            "bProcessing": false,
            "bStateSave": false,
            "oLanguage": {
                "sEmptyTable": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
                "sInfo": '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries',
                "sInfoEmpty": '@eTurns.DTO.Resources.ResMessage.ShowingZeroEntries'
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                var varIsEdit = $('#hdIsEdit').val();
                if (varIsEdit === '1') {
                    $(nRow).find('td').each(function () {
                        $(this).removeClass('Idreadonly')
                        $(this).addClass('read_only');
                        $(this).className = 'read_only';
                    });
                }
                return nRow;
            },
            "fnStateLoad": function (oSettings) {
                var o;
                $.ajax({
                    "url": '@Url.Content("~/Resources/LoadGridState")',
                    "type": "POST",
                    data: { ListName: 'MobileResource' },
                    "async": false,
                    "cache": false,
                    "dataType": "json",
                    "success": function (json) {
                        o = JSON.parse(json.jsonData);

                    }
                });
                return o;
            },
            "bServerSide": true,
            "sAjaxSource": '@Url.Content("~/Resources/GetMobileResourceList")',
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {

                PostCount = PostCount + 1;
                var arrCols = new Array();
                var objCols = this.fnSettings().aoColumns;
                for (var i = 0; i <= objCols.length - 1; i++) {
                    arrCols.push(objCols[i].mDataProp);
                }
                for (var j = 0; j <= aoData.length - 1; j++) {
                    if (aoData[j].name == "sColumns") {
                        aoData[j].value = arrCols.join("|");
                        break;
                    }
                }
                if (oSettings.aaSorting.length != 0)
                    aoData.push({ "name": "SortingField", "value": oSettings.aaSorting[0][3] });
                else
                    aoData.push({ "name": "SortingField", "value": "0" });

                aoData.push({ "name": "resourcefile", "value": $("#ddlMobileResourcePage").val() });
                aoData.push({ "name": "resourcelang", "value": $("#ddlMobileResEditorLanguage").val() });

                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
					"headers": { "__RequestVerificationToken": $("input[name='__RequestVerificationToken'][type='hidden']").val() },
                    "cache": false,
                    "success": fnCallback,
                    beforeSend: function () {
                        $('#myResourceDataTableMobileRes td').removeHighlight();
                        $('.dataTables_scroll').css({ "opacity": 0.2 });
                    },
                    complete: function () {

                        $('.dataTables_scroll').css({ "opacity": 1 });

                        if ($("#txtSearchMobileResource").val() != '') {
                            $('#myResourceDataTableMobileRes td').highlight($("#txtSearchMobileResource").val());
                        }
                        $('#myResourceDataTableMobileRes_info').html('');
                        if ($('#myResourceDataTableMobileRes tbody tr').length > 0) {
                            var totalRow = $('#myResourceDataTableMobileRes tbody tr').length;
                            $('#divbtnBlock').attr("style", "display:inline;width:98.5%");
                            $('#myResourceDataTableMobileRes tbody tr').each(function () {

                                var keyName = $(this).find("td:first").text();
                                if (keyName == changedResourceKey) {
                                    $(this).find("td:first").next().text(changedResourceValue);
                                    changedResourceValue = '';
                                    changedResourceKey = '';

                                }
                            });
                            var noofrec = '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries';
                            noofrec = noofrec.replace(/_START_/g, "1")
                            noofrec = noofrec.replace(/_END_/g, totalRow)
                            noofrec = noofrec.replace(/_TOTAL_/g, totalRow)
                            $('#myResourceDataTableMobileRes_info').html(noofrec);
                        }

                        changedResourceValue = '';
                        changedResourceKey = '';
                        $('#myResourceDataTableMobileRes').css('width', '');
                    }
                })
            }
            , "aoColumns": [

            { mDataProp: "ResourceKey", sClass: "read_only alignLeft", sWidth: "30%" },
                          { mDataProp: "ResourceValue", "sClass": "Idreadonly", sDefaultContent: '', bSortable: false, bSearchable: false
                            , "fnRender": function (obj, val) {
                                var varIsEdit = $('#hdIsEdit').val();
                                if (varIsEdit === '1') {
                                    return "<input type='text' id='txtvalue' style='width:50%' maxLength='250' class='text-boxinner' value='" + val + "' onblur='SaveResourceFile(this);' />";
                                }
                                else
                                    return val;
                            }
                          }]
        }).makeEditable({
            fnShowError: function (errorText, action) {
            },
            sUpdateURL: function (value, settings) {
                changedResourceKey = this.parentNode.children[0].innerHTML;
                var aPos = oTable.fnGetPosition($(this).parent()[0]);
                var aData = oTable.fnGetData(aPos);
                changedResourceValue = value;
                $.ajax({ url: '@Url.Content("~/Resources/UpdateDataInMobileResourceSession")'
                                        , type: 'GET'
                                        , cache: false
                                        , dataType: 'json'
                                        , data: { 'ID': aData.ID, 'changedKey': aData.ResourceKey, 'changedValue': value }
                                        , success: function (result) {

                                        }
                                        , error: function (xhr) {
                                            alert(xhr);
                                        }
                });
            }
        });

        $('.DTTT_container').css('z-index', '-1');

        $('#divImport').dialog({
            autoOpen: false,
            modal: true,
            draggable: true,
            resizable: true,
            width: '60%',
            height: '250',
            title: 'Import Reource File',
            open: function () {

            }
        });
    });

    $('#btnCancelMobRes').click(function () {
        ClearResourceSession(true);
        $('#hdIsEdit').val('');
        $('#btnBulkEditUp').html("@ResCommon.BulkEdit");
        $('#myResourceDataTableMobileRes').dataTable().fnDraw();
    });

    function SaveResourceFile(obj) {

        $.ajax({ url: '@Url.Content("~/Resources/UpdateDataInMobileResourceSession")'
                                        , type: 'GET'
                                        , cache: false
                                        , data: { 'ID': $(obj.parentNode.parentNode).attr("id"), 'changedKey': obj.parentNode.parentNode.children[0].innerHTML, 'changedValue': $(obj).val() }
                                        , success: function (result) {
                                        }
                                        , error: function (xhr) {
                                            alert(xhr);
                                        }
        });
    }

    $('#btnBulkEditUp').click(function () {
        var varIsEdit = $('#hdIsEdit').val();
        if (varIsEdit === '1') {
            $('#hdIsEdit').val('');
            $('#btnBulkEditUp').html("@ResCommon.BulkEdit");
        }
        else {
            $('#hdIsEdit').val('1');
            $('#btnBulkEditUp').html("@ResCommon.SingleEdit");
        }
        $('#myResourceDataTableMobileRes').dataTable().fnDraw();
    });


    $('#myResourceDataTableMobileRes tbody tr').live('click', function () {
        $(this).removeClass('row_selected');
    });
    function ClearResourceSession(isFeelGrid) {
        $.ajax({ url: '@Url.Content("~/Resources/ClearCurrentResourceList")'
                        , type: 'GET'
                        , dataType: 'json'
                        , cache: false
                        , async: false
                        , success: function (result) { if (isFeelGrid) { $("#btnMobileLoadGrid").click(); } }
                        , error: function (msg) { }
        });
    }

    _Common.setGloblaSearch('txtSearchMobileResource', 'myResourceDataTableMobileRes');
</script>
<script language="javascript" type="text/javascript" src="@Url.Content("~/Scripts/Authorization.js?v=" + eTurnsWeb.Helper.CommonUtility.GetReleaseNumber())"></script>
