@{
    //Layout = "~/Views/Shared/_PopupMaster.cshtml";
    ViewBag.Title = "eTurns: Upload Reources File";
}
<div class="userListingWrapper">
    <h2>
        Resources</h2>
    <div class="userListBlock">
        <ul class='tabs'>
            <li class="tab1"><a id="au"  href='@Url.Content("~/Resources/Upload")'></a></li>
            <li class="tab7"><a id="ad" class="active" href='@Url.Content("~/Resources/DownLoad")'>
            </a></li>
        </ul>
        <div id='tab7' class="tabContener">
            @using (Html.BeginForm("Upload", "Resources", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmUpload" }))
            {
                @Html.AntiForgeryToken()
                <div class="userContent">
                    <div class="userHead">
                        <h3>
                            Upload Reources file</h3>
                        <div class="editorForm">
                            <ul>
                                <li>
                                    <div class="editor-label">
                                        @Html.Label("Language")
                                    </div>
                                    <div class="editor-field">
                                        @Html.DropDownList("ddlLanguage", (List<SelectListItem>)ViewBag.DLLLanguage)
                                    </div>
                                </li>
                                <li>
                                    <div class="editor-label">
                                        @Html.Label("Select File")
                                    </div>
                                    <div class="editor-field">
                                        @Html.DropDownList("ddlResourceFile", (List<SelectListItem>)ViewBag.DLLResourceFile)
                                    </div>
                                </li>
                                <li>
                                    <div class="editor-label">
                                        @Html.Label("Select File from path")
                                    </div>
                                    <div class="editor-field">
                                        <input type="file" name="fuResource" id="fuResource" style="float: left" />
                                    </div>
                                </li>
                                <li>
                                    <div class="editor-label">
                                        &nbsp;
                                    </div>
                                    <div class="BtnBlockform">
                                        <input type="submit" value="Upload" id="btnUpload" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        alert('@ViewBag.ShowMessage');
        if ('@ViewBag.ShowMessage' == '1') {
            IsRefreshGrid = false;
            showNotificationDialog();
            $("#spanGlobalMessage").html(response.Message);
        }
    });

   
</script>
@{
    ViewBag.ShowMessage = "";
}
