@model eTurnsWeb.Models.BillingTypeModuleViewModel
@{
    ViewBag.Title = ResCommon.BillingRoomTypeModules;
}

<style>

    th, td {
        padding: 3px 8px;
    }

    .border_bottom th, .border_bottom td {
        border: 1px solid #999;
    }
</style>
<div class="userListingWrapper">
    <h2>@ResCommon.BillingRoomTypeModules</h2>
    <div class="userListBlock">
        <div id="divTab" class="tabContener" style="width:99.5%">
            <div class="userHead">


                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="mainForm">
                    <div class="editorForm">
                        @*<h4>
                                @Html.LabelFor(model => model.BillingRoomType)
                            </h4>*@
                        <ul>
                            <li>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Enterprise)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.Enterprise
                                                                           , Model.EnterpriseList
                                                                               , new { @class = "selectBox", onchange = "_billingTypeModule.Enterprise_change()" })
                                </div>
                            </li>
                        </ul>
                        <ul id="trAddNewPanel1" style="display:none">
                            <li>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.BillingRoomTypeName)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.BillingRoomTypeName, new { id = "txtBillingRoomTypeName", @class = "text-box", maxlength = 50 })
                                    <label>
                                        <a onclick="_billingTypeModule.HidePanel();" id="btnHideNewBillingRoomTypeMaster" class="addNewLink">
                                            (@ResCommon.Cancel)
                                        </a>
                                    </label>
                                    <span class="ErrorMessage">@Html.ValidationMessageFor(model => model.BillingRoomTypeName)</span>
                                </div>
                            </li>
                        </ul>
                        <ul id="trAddNewPanel3">
                            <li>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.BillingRoomType, new { id = "lblBillingRoomType" })
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.BillingRoomType
                                          , Model.BillingRoomTypeList
                                              , new { @class = "selectBox", onchange = "_billingTypeModule.BillingRoomType_change(this)" })

                                    <label id="lblAddnew" style="display:none">
                                        <a onclick="_billingTypeModule.ShowPanel();" id="btnShowNewBillingRoomTypeMaster" class="addNewLink">
                                            (@ResCommon.AddNew)
                                        </a>
                                    </label>

                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="editor-label">
                                    &nbsp;
                                </div>
                                <div class="editor-field">
                                        <input type="button"
                                               value="@eTurns.DTO.Resources.ResCommon.Save" id="btnSave" class="CreateBtn"
                                               style="float:left"
                                               onclick="return _billingTypeModule.saveBillingRoomTypeMaster()" />
                                    
                                </div>
                            </li>
                        </ul>
                        <ul>

                            <li>
                                @*<div class="editor-label">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>*@
                                <div class="editor-field">
                                    <table>
                                        @*<tr>
                                                <td>@Html.LabelFor(model => model.Enterprise) &nbsp;&nbsp;</td>
                                                <td></td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.Enterprise
                                                                               , Model.EnterpriseList
                                                                                   , new { @class = "selectBox", onchange = "_billingTypeModule.Enterprise_change()" })
                                                </td>
                                            </tr>*@
                                        @*<tr id="trAddNewPanel1" style="display:none">
                                                <td>@Html.LabelFor(model => model.BillingRoomTypeName) &nbsp;&nbsp;</td>
                                                <td></td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.BillingRoomTypeName, new { id = "txtBillingRoomTypeName", @class = "text-box", maxlength = 50 })
                                                    <span class="ErrorMessage">@Html.ValidationMessageFor(model => model.BillingRoomTypeName)</span>
                                                    <label>
                                                        <a onclick="_billingTypeModule.HidePanel();" id="btnHideNewBillingRoomTypeMaster" class="addNewLink">
                                                            (@ResCommon.Cancel)
                                                        </a>
                                                    </label>
                                                </td>
                                            </tr>*@
                                        @*<tr id="trAddNewPanel3">
                                                <td>@Html.LabelFor(model => model.BillingRoomType, new { id = "lblBillingRoomType" }) &nbsp;&nbsp;</td>
                                                <td></td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.BillingRoomType
                                               , Model.BillingRoomTypeList
                                                   , new { @class = "selectBox", onchange = "_billingTypeModule.BillingRoomType_change(this)" })
                                                    @if (eTurnsWeb.Helper.SessionHelper.UserType == 2 && eTurnsWeb.Helper.SessionHelper.RoleID == -2)
                                                    {
                                                        <label id="lblAddnew">
                                                            <a onclick="_billingTypeModule.ShowPanel();" id="btnShowNewBillingRoomTypeMaster" class="addNewLink">
                                                                (@ResCommon.AddNew)
                                                            </a>
                                                        </label>
                                                    }
                                                </td>
                                            </tr>*@

                                        @*<tr id="trAddNewPanel2" style="display:none">
                                                <td>
                                                    <label>
                                                        @ResRoomMaster.TakeReferenceFromBillingRoomType
                                                    </label> &nbsp;&nbsp;
                                                </td>
                                                <td></td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.BillingRoomTypeName
                                               , Model.BillingRoomTypeList
                                                   , new { @class = "selectBox", onchange = "_billingTypeModule.BillingRoomType_change(this)" })
                                                </td>
                                            </tr>*@
                                        @*<tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <br />
                                                    @if (eTurnsWeb.Helper.SessionHelper.UserType == 2 && eTurnsWeb.Helper.SessionHelper.RoleID == -2)
                                                    {
                                                        <input type="button"
                                                               value="@eTurns.DTO.Resources.ResCommon.Save" id="btnSave" class="CreateBtn"
                                                               style="float:left"
                                                               onclick="return _billingTypeModule.saveBillingRoomTypeMaster()" />
                                                    }
                                                    else
                                                    {
                                                        <input type="button"
                                                               value="@eTurns.DTO.Resources.ResCommon.Save" id="btnSave" class="CreateBtn"
                                                               style="float:left"
                                                               onclick="return _billingTypeModule.saveBillingRoomModuleMap()" />
                                                    }
                                                </td>
                                            </tr>*@
                                    </table>


                                </div>
                            </li>

                            @*<li id="liMsg" style="display:none">
                                   <div class="editor-label">
                                       &nbsp;
                                   </div>
                                   <div class="editor-field">
                                       <img src="~/Content/images/ajax-loader.gif" style="height:15px" />
                                       <span id="spnMsg" style="color:red"></span>

                                   </div>
                                </li>*@
                        </ul>
                    </div>
                </div>
                <div id="CreateRolePermissionDIV">
                    <div class="mainForm">
                        <div class="container">
                            <ul class="tabs">
                                @*<li class="active"><a href="#Roomtab2">@ResRoleMaster.SupportTablesPermissions</a></li>*@
                                <li class="active"><a id="lnkMP" href="#MPtab3">@ResRoleMaster.ModulePermissions</a></li>

                            </ul>
                            <div id="MPtab3" class="tab_content">
                                <p>
                                    <table style="width:70%;" class="tableBorder">
                                        <tr class="border_bottom">
                                            <th width="45%" style="text-align:left">
                                                @ResCommon.Modules
                                            </th>

                                            <th style="text-align:left">
                                                @ResCommon.IsEnable
                                            </th>
                                        </tr>
                                        <tr class="border_bottom">
                                            <td>
                                            </td>

                                            <td>
                                                @Html.CheckBox("AllView",
                                               new
                                                    {
                                                        @class = "check-box",
                                                        id = "AllEnable",
                                                   onclick = "javascript:_billingTypeModule.checkAll(this);",
                                                   title = ResCommon.SelectAll
                                               })
                                                <label for="AllEnable">@ResCommon.SelectAll</label>
                                            </td>
                                        </tr>
                                        @foreach (var mm in Model.ModuleMapping)
                                        {
                                            <tr class="border_bottom">
                                                <td>
                                                    @mm.ModuleNameFromResource
                                                </td>

                                                <td>
                                                    @Html.CheckBox("chk" + mm.ModuleID, mm.IsModuleEnabled
                                                   , new
                                                        {
                                                            id = "chk" + mm.ModuleID,
                                                            @class = "check-box"
                                                   ,
                                                            data_mid = mm.ModuleID
                                                   ,
                                                            data_mapid = mm.MapID
                                                   })
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _billingTypeModule = (function ($) {        
        var self = {};

        self.init = function () {
            $("#lnkMP").click();
        }

        self.checkAll = function (chk) {
            if ($(chk).is(":checked")) {
                $("#MPtab3 input:checkbox").attr("checked", "checked");
            }
            else {
                $("#MPtab3 input:checkbox").removeAttr("checked");
            }
        }

        self.BillingRoomType_change = function (BillingRoomType) {
            $('#DivLoading').show();
            var billRoomType = $(BillingRoomType).val();
            _AjaxUtil.getJson('/BillingTypeModules/GetBillingRoomTypeModulesMap', { billRoomType: billRoomType }
                , function (res) {
                    $('#DivLoading').hide();
                    var list = res.list;
                    $("#AllEnable").removeAttr('checked');
                    if (typeof list !== 'undefined' && list != null && list.length) {

                        var len = list.length;
                        for (var i = 0; i < len; i++) {
                            var obj = list[i];
                            var chk = $("input:checkbox[data-mid='" + obj.ModuleID + "']");
                            if (chk.length) {
                                if (obj.IsModuleEnabled) {
                                    chk.attr('checked', 'checked');
                                }
                                else {
                                    chk.removeAttr('checked', 'checked');
                                }
                            }
                        }
                    }

                }, function (error) {
                    $('#DivLoading').hide();
                    _notification.showError("Something went wrong !!");

                }, true, false);
        }

        self.Enterprise_change = function (BillingRoomType) {
            $('#DivLoading').show();
            var entId = $("#Enterprise").val();
            SetBillingRoomTypeControls();
            var ddlBillingRoomType = BillingRoomType != null && BillingRoomType != undefined ? $(BillingRoomType): $("#BillingRoomType");
            ddlBillingRoomType.empty();

            _AjaxUtil.getJson('/BillingTypeModules/GetBillingRoomTypeByEnt', { EntId: entId }
                , function (res) {
                    $('#DivLoading').hide();
                    var list = res.list;
                    if (typeof list !== 'undefined' && list != null && list.length) {

                        var len = list.length;
                        for (var i = 0; i < len; i++) {
                            var obj = list[i];
                            ddlBillingRoomType.append($("<option></option>").val(obj.ID).html(obj.ResourceValue));
                        }

                        self.BillingRoomType_change(ddlBillingRoomType);
                    }

                }, function (error) {
                    $('#DivLoading').hide();
                    _notification.showError("Something went wrong !!");

                }, true, false);
        }
        self.saveBillingRoomTypeMaster = function () {
            if ($("#txtBillingRoomTypeName").val() == null || $("#txtBillingRoomTypeName").val() == undefined || $('#trAddNewPanel1').is(':visible')==false) {
                return self.saveBillingRoomModuleMap();
            }
            else {
                if ($('#trAddNewPanel1').is(':visible') && $("#txtBillingRoomTypeName").val() == '') {
                    showNotificationDialog();
                    $("#spanGlobalMessage").html('@ResRoomMaster.Required');
                    $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');

                    return;
                }
                var lst = [];

                $.each($("#MPtab3 input:checkbox").not("#AllEnable"), function (index, chk) {

                    var $chk = $(chk);
                    lst.push({
                        BillingRoomTypeID: _utils.parseNumber($("#BillingRoomType").val()),
                        MapID: _utils.parseNumber($chk.attr("data-mapid")),
                        ModuleID: _utils.parseNumber($chk.attr("data-mid")),
                        IsModuleEnabled: $chk.prop('checked')
                    });
                })
                _Common.showHideLoader(true);

                _AjaxUtil.postText('/BillingTypeModules/SaveBillingRoomTypeMaster'
                    , JSON.stringify({ EnterpriseID:$("#Enterprise").val(), newBillingRoomTypeName: $("#txtBillingRoomTypeName").val(), list: lst })
                    , function (res) {
                        var resJson = JSON.parse(res);
                        _Common.showHideLoader(false);

                        if (resJson.status != 0) {
                            _notification.showError(resJson.message);
                        }
                        else {
                            _notification.showSuccess(resJson.message);
                            //self.Enterprise_change($("#BillingRoomTypeName"));
                            self.Enterprise_change($("#BillingRoomType"));
                            self.HidePanel();
                            //var conf = confirm('\n' + resJson.message + '\n\nDo you want to update room permissions? (Click OK for "Yes", Cancel for "No")\nNote: It may take some minutes and will run in background.');

                            //if (conf) {
                            //    //alert("Under development");
                            //    self.UpdateUserRoleModulePermissions();
                            //}
                        }
                    }
                    , function (error) {
                        _Common.showHideLoader(false);
                        _notification.showError("Something went wrong !!");

                    }, true, false);

                return false;
            }
        }
        self.saveBillingRoomModuleMap = function () {

            var lst = [];

            $.each($("#MPtab3 input:checkbox").not("#AllEnable"), function (index, chk) {

                var $chk = $(chk);
                lst.push({
                    BillingRoomTypeID: _utils.parseNumber($("#BillingRoomType").val()),
                    MapID: _utils.parseNumber($chk.attr("data-mapid")),
                    ModuleID: _utils.parseNumber($chk.attr("data-mid")),
                    IsModuleEnabled: $chk.prop('checked')
                });
            })

            _Common.showHideLoader(true);

            _AjaxUtil.postText('/BillingTypeModules/SaveBillingRoomModuleMap'
                , JSON.stringify({ list: lst })
                , function (res) {
                    var resJson = JSON.parse(res);
                    _Common.showHideLoader(false);

                    if (resJson.status != 0) {
                        _notification.showError(resJson.message);
                    }
                    else {
                        _notification.showSuccess(resJson.message);
                        //var conf = confirm('\n' + resJson.message + '\n\nDo you want to update room permissions? (Click OK for "Yes", Cancel for "No")\nNote: It may take some minutes and will run in background.');

                        //if (conf) {
                        //    //alert("Under development");
                        //    self.UpdateUserRoleModulePermissions();
                        //}
                    }
                }
                , function (error) {
                    _Common.showHideLoader(false);
                    _notification.showError("Something went wrong !!");

                }, true, false);

            return false;
        }

        //self.UpdateUserRoleModulePermissions = function () {



        //   // var $spnMsg = $("#spnMsg");
        //   // var $liMsg = $("#liMsg");

        //    //setTimeout(function () {
        //    //    $spnMsg.text("Updating room permissions ...");
        //    //    $liMsg.slideDown();
        //    //}, 3000);

        //    //_notification.showSuccess("Updating room permissions ...");

        //    $('#DivLoading').show();
        //    var billRoomType = $("#BillingRoomType").val();

        //    _AjaxUtil.getJson('/BillingTypeModules/UpdateUserRoleModulePermissions', { billingRoomTypeId: billRoomType }
        //        , function (res) {
        //            $('#DivLoading').hide();
        //            if (parseInt(res.status) == 0) {
        //                _notification.showSuccess(res.message);
        //            }
        //            else {
        //                _notification.showError(res.message);
        //            }

        //            //$spnMsg.text(res.message);
        //            //$liMsg.slideUp();
        //            //$spnMsg.text("");

        //        }, function (error) {
        //            $('#DivLoading').hide();

        //            //setTimeout(function () {
        //            //    $spnMsg.text("Something went wrong!!");
        //            //    $liMsg.slideUp();
        //            //    $spnMsg.text("");
        //            //}, 3000);

        //            _notification.showError("Something went wrong !!");
        //            console.error(error)
        //        }, true, false);
        //}
        self.ShowPanel = function () {
            $("#lblBillingRoomType").text("@ResRoomMaster.TakeReferenceFromBillingRoomType");
            $("#txtBillingRoomTypeName").val("");
            $('#trAddNewPanel1').show();
            //$('#trAddNewPanel2').show();
            //$('#trAddNewPanel3').hide();
            $('#lblAddnew').hide();
        }
        self.HidePanel = function () {
            $("#lblBillingRoomType").text("@ResRoomMaster.BillingRoomType");
            $("#txtBillingRoomTypeName").val("");
            $('#trAddNewPanel1').hide();
            //$('#trAddNewPanel2').hide();
            //$('#trAddNewPanel3').show();
            $('#lblAddnew').show();
        }
        return self;
    })(jQuery);

    $(function () {
        _billingTypeModule.init();
        SetBillingRoomTypeControls();
    })

    function SetBillingRoomTypeControls() {
        _billingTypeModule.HidePanel();
        var selectedEntId = $("#Enterprise").val();
        if (selectedEntId > 0) {
            $('#lblAddnew').show();
        } else {            
            $('#lblAddnew').hide();            
        }

    }
</script>