<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandOrderNarrowSearch">
        <img alt="" src="~/Content/images/open.png" /></a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseQLNarrowSearch">
        <img alt="" src="~/Content/images/closed.png" /></a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="NarrowUL">
        <li>
            <select id="QLCreatedBy" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="QLCreatedByCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="QLUpdatedBy" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="QLUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="QLDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" /></div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From</label>
                    <input id="QLDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                        data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancQLDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To</label>
                    <input id="QLDateCTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                        class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancQLDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="QLDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" /></div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From</label>
                    <input id="QLDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                        data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancQLDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To</label>
                    <input id="QLDateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                        class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancQLDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
            </div>
        </li>
        <li id="liQLUDF1" style="display: none">
            <select id="QLUDF1" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF1">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="QLUDF1Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQLUDF2" style="display: none">
            <select id="QLUDF2" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="QLUDF2Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQLUDF3" style="display: none">
            <select id="QLUDF3" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="QLUDF3Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQLUDF4" style="display: none">
            <select id="QLUDF4" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="QLUDF4Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQLUDF5" style="display: none">
            <select id="QLUDF5" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF5">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="QLUDF5Collapse" name="CUDFS">
                </div>
            </div>
        </li>
    </ul>
    <input id="QLNarroSearchClear" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />
</div>
<script type="text/javascript">

    var CreatedBySelectedValues = '';
    var UpdatedBySelectedValues = '';
    var QLUDF1NarrowValues = ''
    var QLUDF2NarrowValues = ''
    var QLUDF3NarrowValues = ''
    var QLUDF4NarrowValues = ''
    var QLUDF5NarrowValues = ''
    //var isFromQLNarrowSearchClear = false;
    $(document).ready(function () {
      
     
        $('#QLDateCFrom').blur(function () {
        }).datepicker({
            dateFormat: RoomDateJSFormat, changeMonth: true,
            changeYear: true
        });
        $('#QLDateCTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#QLDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#QLDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

        var NarrowSearchState = getCookie('NarrowSearchState');
        if (NarrowSearchState == 'Expanded') {
            CollapseQLNarrowSearch();
        }
        else {
            ExpandOrderNarrowSearch();
        }

        $('.IteamBlock').css('width', '99.5%');

        FillNarrowSearchData()

    });


    $('#QLDateCFrom,#QLDateCTo').change(function () {
        var DateCFromValid = true;//Date.isValid($('#QLDateCFrom').val(),format);
        var DateCToValid = true;//Date.isValid($('#QLDateCTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#QLDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#QLDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }

        if (DateCFromValid && DateCToValid) {
            $("#txtOrderFilter").val('');
            if (!isFromNarrowSearchClear) {
                DoQLNarrowSearch();
            }            
        }
        else {
            if (!DateCFromValid)
                $('#QLDateCFrom').val('');
            if (!DateCToValid)
                $('#QLDateCTo').val('');
        }
    });

    $('#QLDateUFrom,#QLDateUTo').change(function () {
       

        var DateUFromValid = true;// Date.isValid($('#QLDateUFrom').val(),format);
        var DateUToValid = true;//Date.isValid($('#QLDateUTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#QLDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateUFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#QLDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
            $("#txtOrderFilter").val('');
            if (!isFromNarrowSearchClear) {
                DoQLNarrowSearch();
            }
            
        }
        else {
            if (!DateUFromValid)
                $('#QLDateUFrom').val('');
            if (!DateUToValid)
                $('#QLDateUTo').val('');
        }
    });

    $('#ancQLDateCFrom').click(function () {
        $('#QLDateCFrom').focus();
    });
    $('#ancQLDateCTo').click(function () {
        $('#QLDateCTo').focus();
    });
    $('#ancQLDateUFrom').click(function () {
        $('#QLDateUFrom').focus();
    });
    $('#ancQLDateUTo').click(function () {
        $('#QLDateUTo').focus();
    });

    $('#QLDateCreatedClear').click(function () {
        if ($('#QLDateCFrom').val() != '' || $('#DateCTo').val() != '') {
            $('#QLDateCFrom').val('');
            $('#QLDateCTo').val('');
            //NarrowSearchInGrid('');
            if (!isFromNarrowSearchClear) {
                DoQLNarrowSearch();
            }            
        }
    });
    $('#QLDateUpdatedClear').click(function () {
        if ($('#QLDateUFrom').val() != '' || $('#DateUTo').val() != '') {
            $('#QLDateUFrom').val('');
            $('#QLDateUTo').val('');
            //NarrowSearchInGrid('');
            if (!isFromNarrowSearchClear) {
                DoQLNarrowSearch();
            }
            
        }
    });

    $('#ExpandOrderNarrowSearch').click(function (e) {
        ExpandOrderNarrowSearch();
    });
    $('#CollapseQLNarrowSearch').click(function (e) {
        CollapseQLNarrowSearch();
    });


    $('#QLNarroSearchClear').click(function () {
        isFromNarrowSearchClear = true;
        $('#QLDateCFrom').val('');
        $('#QLDateCTo').val('');
        $('#QLDateUFrom').val('');
        $('#QLDateUTo').val('');
        $("#QLCreatedBy").multiselect("uncheckAll");
        $("#QLCreatedByCollapse").html('');
        $("#QLUpdatedBy").multiselect("uncheckAll");
        $("#QLUpdatedByCollapse").html('');

        $("#OrderStatus").multiselect("uncheckAll");
        $("#OrderStatusCollapse").html('');
        $("#OrderRequiredDate").multiselect("uncheckAll");
        $("#OrderRequiredDateCollapse").html('');
        $("#OrderSupplier").multiselect("uncheckAll");
        $("#OrderSupplierCollapse").html('');
        if ($('#global_filter').val() != '') $('#global_filter').val('');
        $("select[name='UDFS']").each(function (index) {
            $(this).multiselect("uncheckAll");
        });

        $("div[name='CUDFS']").each(function (index) {
            $(this).html('');
        });
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        isFromNarrowSearchClear = false;
        $('input[type="search"]').val('').trigger('keyup');        
        DoQLNarrowSearch();
    });

    function clearSearchFilterIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'txtOrderFilter')
            $("#txtOrderFilter").val('');
    }

    function ExpandOrderNarrowSearch() {
        var w = $('.IteamBlock').css("width");
        $('.IteamBlock').show();
        $('.IteamBlock').stop().animate({
            width: "99.5%"
        }, 0, function () {
            $('.userContent').css({ "width": "80.5%", "margin": "0" });
            $('#myDataTable_length').css({ "left": "0px" });
            $('#myDataTable_paginate').css({ "left": "145px" });
            $('.leftopenContent').css({ "display": "none" });
            setCookie('NarrowSearchState', 'Collapsed');
        });
        $('#divNarrowSearch').css('width', '18%');
    }

    function CollapseQLNarrowSearch() {
        $('.IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('.IteamBlock').hide();
            $('.userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#myDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#myDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('.leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchState', 'Expanded');
        });
        $('#divNarrowSearch').css('width', '0%');
    }

    function FillNarrowSearchData() {
        $.ajax({
            url: '@Url.Content("~/QuickList/GetNarrowSearchData")',
            data: { 'IsDeleted': _IsDeleted, 'IsArchived': _IsArchived},
            dataType: 'json',
            success: function (response) {
                if (response.Success && response.Data != null) {
                    BindDropDownList(response.Data.CreatedByList, 'QLCreatedBy', 'QLCreatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby');
                    BindDropDownList(response.Data.UpdatedByList, 'QLUpdatedBy', 'QLUpdatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby');
                    if (response.Data.UDF1List != null) {
                        $('#liQLUDF1').css('display', '');
                        BindDropDownList(response.Data.UDF1List, 'QLUDF1', 'QLUDF1Collapse', '@eTurns.DTO.ResQuickList.UDF1');
                    }
                    if (response.Data.UDF2List != null) {
                        $('#liQLUDF2').css('display', '');
                        BindDropDownList(response.Data.UDF2List, 'QLUDF2', 'QLUDF2Collapse', '@eTurns.DTO.ResQuickList.UDF2');
                    }
                    if (response.Data.UDF3List != null) {
                        $('#liQLUDF3').css('display', '');
                        BindDropDownList(response.Data.UDF3List, 'QLUDF3', 'QLUDF3Collapse', '@eTurns.DTO.ResQuickList.UDF3');
                    }
                    if (response.Data.UDF4List != null) {
                        $('#liQLUDF4').css('display', '');
                        BindDropDownList(response.Data.UDF4List, 'QLUDF4', 'QLUDF4Collapse', '@eTurns.DTO.ResQuickList.UDF4');
                    }
                    if (response.Data.UDF5List != null) {
                        $('#liQLUDF5').css('display', '');
                        BindDropDownList(response.Data.UDF5List, 'QLUDF5', 'QLUDF5Collapse', '@eTurns.DTO.ResQuickList.UDF5');
                    }
                }
            },
            error: function (xhr) {
                //alert(xhr);
                console.log(xhr);
            }
        });
    }


    function GetOptions(arrData, isUDF) {
        var options;
        if (isUDF) {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].Text + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });
        }
        else {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].ID + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });

        }
        return options;
    }

    function BindDropDownList(arrData, ddlName, ddlCollapseName, displayName) {
        $("#" + ddlName).empty();
        $("#" + ddlName).multiselect('destroy');
        $("#" + ddlName).multiselectfilter('destroy');
        $("#" + ddlName).append(GetOptions(arrData, (ddlName.indexOf('QLUDF') != -1)));
        $("#" + ddlName).multiselect(
            {
                      checkAllText: Check,
                      uncheckAllText: UnCheck,
                      noneSelectedText: displayName, selectedList: 5,
                      selectedText: function (numChecked, numTotal, checkedItems) {
                          return displayName + ' ' + numChecked + ' ' + selected;
                      }
                  },
                {
                    checkAll: function (ui) {
                        $("#" + ddlCollapseName).html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#" + ddlCollapseName).text().indexOf(ui.target[i].text) == -1) {
                                $("#" + ddlCollapseName).append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#" + ddlCollapseName).show();
                    }
                }).bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#" + ddlCollapseName).text().indexOf(ui.text) == -1) {
                            $("#" + ddlCollapseName).append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#" + ddlCollapseName).html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#" + ddlCollapseName).html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#" + ddlCollapseName).html(text);
                        }
                        else
                            $("#" + ddlCollapseName).html('');
                    }
                    switch ($(this).attr('id')) {
                        case 'QLCreatedBy':
                            CreatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'QLUpdatedBy':
                            UpdatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'QLUDF1':
                            QLUDF1NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'QLUDF2':
                            QLUDF2NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'QLUDF3':
                            QLUDF3NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'QLUDF4':
                            QLUDF4NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'QLUDF5':
                            QLUDF5NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                    }

                    if ($("#" + ddlCollapseName).text().trim() != '')
                        $("#" + ddlCollapseName).show();
                    else
                        $("#" + ddlCollapseName).hide();


                    if ($("#" + ddlCollapseName).find('span').length <= 2) {
                        $("#" + ddlCollapseName).scrollTop(0).height(50);
                    }
                    else {
                        $("#" + ddlCollapseName).scrollTop(0).height(100);
                    }
                    if (!isFromNarrowSearchClear) {
                        DoQLNarrowSearch();
                    }                  
                }).multiselectfilter({ label: Filter, placeholder: Enterkeywords });

    }

    function DoQLNarrowSearch() {

     //   clearSearchFilterIfNotInFocus();

        var narrowSearchValues = '';

        if (CreatedBySelectedValues == undefined || CreatedBySelectedValues.length <= 0)
            CreatedBySelectedValues = '';

        if (UpdatedBySelectedValues == undefined || UpdatedBySelectedValues.length <= 0)
            UpdatedBySelectedValues = '';

        
        if (QLUDF1NarrowValues == undefined || QLUDF1NarrowValues.length <= 0)
            QLUDF1NarrowValues = '';

        if (QLUDF2NarrowValues == undefined || QLUDF2NarrowValues.length <= 0)
            QLUDF2NarrowValues = '';

        if (QLUDF3NarrowValues == undefined || QLUDF3NarrowValues.length <= 0)
            QLUDF3NarrowValues = '';

        if (QLUDF4NarrowValues == undefined || QLUDF4NarrowValues.length <= 0)
            QLUDF4NarrowValues = '';

        if (QLUDF5NarrowValues == undefined || QLUDF5NarrowValues.length <= 0)
            QLUDF5NarrowValues = '';


        narrowSearchValues += CreatedBySelectedValues + "~";
        narrowSearchValues += UpdatedBySelectedValues + "~";
        
        if ($('#QLDateCFrom').val() != '' && $('#QLDateCTo').val() != '') {
            narrowSearchValues += ($('#QLDateCFrom').val()) + "," + ($('#QLDateCTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        if ($('#QLDateUFrom').val() != '' && $('#QLDateUTo').val() != '') {
            narrowSearchValues += ($('#QLDateUFrom').val()) + "," + ($('#QLDateUTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        narrowSearchValues += QLUDF1NarrowValues + "~";
        narrowSearchValues += QLUDF2NarrowValues + "~";
        narrowSearchValues += QLUDF3NarrowValues + "~";
        narrowSearchValues += QLUDF4NarrowValues + "~";
        narrowSearchValues += QLUDF5NarrowValues;

      //  if (narrowSearchValues.replace(/~/g, '') == '') {
      //      narrowSearch = '';
     //   }
     //   else {
            var searchtext = $("#global_filter").val().replace(/'/g, "''");
            narrowSearch = "[###]" + narrowSearchValues + "[###]" + searchtext;
     //   }

        //fnFilterOrderList(narrowSearch);
        $('#myDataTable').dataTable().fnFilter(narrowSearch, null, null, null)
    }


     

</script>
