@model IList<eTurns.DTO.PermissionTemplateDetailDTO>
@using eTurns.DTO
@using eTurns.DTO.Resources
@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
    IList<eTurns.DTO.PermissionTemplateDetailDTO> lstSupportingPermissions = Model.Where(t => t.GroupId == 1).OrderBy(t => t.GroupId).ThenBy(t => t.DisplayOrderNumber).ThenBy(t => t.ModuleNameFromResource).ToList();
    List<eTurns.DTO.PermissionTemplateDetailDTO> lstModulePermissions = Model.Where(t => t.GroupId == 2 && t.IsDelete == false).OrderBy(t => t.GroupId).ThenBy(t => t.DisplayOrderNumber).ThenBy(t => t.ModuleNameFromResource).ToList();
    IList<eTurns.DTO.PermissionTemplateDetailDTO> lstSpecialPermissions = Model.Where(t => t.GroupId == 3).OrderBy(t => t.GroupId).ThenBy(t => t.DisplayOrderNumber).ThenBy(t => t.ModuleNameFromResource).ToList();
    IList<eTurns.DTO.PermissionTemplateDetailDTO> OtherPermissions = Model.Where(t => t.GroupId == 4).OrderBy(t => t.GroupId).ThenBy(t => t.DisplayOrderNumber).ThenBy(t => t.ModuleNameFromResource).ToList();
    eTurns.DAL.ModuleMasterDAL mm = new eTurns.DAL.ModuleMasterDAL(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName);
      
}
<div class="mainForm">
    <div class="container">
        <ul class="tabs">
            <li class="active"><a href="#Roomtab2">@ResRoleMaster.SupportTablesPermissions</a></li>
            <li><a href="#Roomtab3">@ResRoleMaster.ModulePermissions</a></li>
            <li><a href="#Roomtab4">@ResRoleMaster.AdminPermissions</a></li>
            @*<li><a href="#Roomtab5">@ResRoleMaster.DefaultSettings</a></li>*@
        </ul>
        <div id="Roomtab2" class="tab_content">
            <p>
                <div style="float: right">
                    @Html.CheckBox("chkSelectAllTab1", false, new { onclick = "javascript:return SelectAllTabChk(this,1);" })
                    @Html.Label(ResCommon.CheckALL)
                </div>
                <table>
                    <tr>
                        <th>
                            @ResRoleMaster.Permissions
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.All
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.View
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Insert
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Update
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Delete
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowDeleted
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowArchived
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowUDF
                        </th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllView", new { @class = "check-box", id = "AllView$Tab2" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllInsert", new { @class = "check-box", id = "AllInsert$Tab2" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllUpdate", new { @class = "check-box", id = "AllUpdate$Tab2" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllDelete", new { @class = "check-box", id = "AllDelete$Tab2" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowDeleted", new { @class = "check-box", id = "AllShowDeleted$Tab2" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowArchived", new { @class = "check-box", id = "AllShowArchived$Tab2" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowUDF", new { @class = "check-box", id = "AllShowUDF$Tab2" })
                        </th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        PermissionTemplateDetailDTO objPermissionTemplateDetailDTO = Model[i];
                        if (objPermissionTemplateDetailDTO.GroupId == 1)
                        {
                        <tr id="module_@(i))">
                            <td>
                                @Html.HiddenFor(t => t[i].ModuleID)
                                @Html.DisplayFor(t => t[i].ModuleNameFromResource)
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBox("RowSelectAll$Tab2", new { @class = "check-box"})
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].IsView, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].IsInsert, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].IsUpdate, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].IsDelete, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].ShowDeleted, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].ShowArchived, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].ShowUDF, new { @class = "check-box" })
                            </td>
                        </tr>
                        }
                    }
                </table>
            </p>
        </div>
        <div id="Roomtab3" class="tab_content">
            <p>
                <div style="float: right">
                    @Html.CheckBox("chkSelectAllTab2", false, new { onclick = "javascript:return SelectAllTabChk(this,2);" })
                    @Html.Label(ResCommon.CheckALL)
                </div>
                <table>
                    <tr>
                        <th>
                            @ResRoleMaster.Permissions
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.All
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.View
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Insert
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Update
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Delete
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowDeleted
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowArchived
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowUDF
                        </th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllView", new { @class = "check-box", id = "AllView$Tab3" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllInsert", new { @class = "check-box", id = "AllInsert$Tab3" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllUpdate", new { @class = "check-box", id = "AllUpdate$Tab3" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllDelete", new { @class = "check-box", id = "AllDelete$Tab3" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowDeleted", new { @class = "check-box", id = "AllShowDeleted$Tab3" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowArchived", new { @class = "check-box", id = "AllShowArchived$Tab3" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowUDF", new { @class = "check-box", id = "AllShowUDF$Tab3" })
                        </th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        PermissionTemplateDetailDTO objPermissionTemplateDetailDTO = Model[i];
                        ModuleMasterDTO MMDto = mm.GetModuleByIDNormal(Model[i].ModuleID);
                        if (objPermissionTemplateDetailDTO.GroupId == 2 && (MMDto != null && !MMDto.IsDeleted) && (!Model[i].IsModuleDeleted))
                        {
                        <tr id="module_@(i))">
                            <td>
                                @Html.HiddenFor(t => t[i].ModuleID)
                                @Html.DisplayFor(t => t[i].ModuleNameFromResource)
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBox("RowSelectAll$Tab3", new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].IsView, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].IsInsert, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].IsUpdate, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].IsDelete, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].ShowDeleted, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].ShowArchived, new { @class = "check-box" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => t[i].ShowUDF, new { @class = "check-box" })
                            </td>
                        </tr>

                        }
                    }
                </table>
            </p>
        </div>
        <div id="Roomtab4" class="tab_content">
            <p>
                <div style="float: right">
                    @Html.CheckBox("chkSelectAllTab3", false, new { onclick = "javascript:return SelectAllTabChk(this,3);" })
                    @Html.Label(ResCommon.CheckALL)
                </div>
                <table>
                    <tr>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Permissions
                        </th>
                    </tr>
                    @if (Model != null)
                    {
                        string DisplayName = string.Empty;

                        for (int i = 0; i < Model.Count; i++)
                        {
                            PermissionTemplateDetailDTO objPermissionTemplateDetailDTO = Model[i];
                            if (objPermissionTemplateDetailDTO.GroupId == 3)
                            {

                                if (objPermissionTemplateDetailDTO.DisplayOrderName != null && DisplayName != objPermissionTemplateDetailDTO.DisplayOrderName)
                                {
                        <tr>
                            <td>
                                <b><u>@Html.DisplayFor(t => t[i].DisplayOrderName)</u> </b>
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td>
                            </td>
                        </tr>
                                    DisplayName = objPermissionTemplateDetailDTO.DisplayOrderName;
                                }
                        <tr>
                            @if (Model[i].ModuleID == (int)eTurnsWeb.Helper.SessionHelper.ModuleList.AllowOverwriteLotOrSerial
                                || Model[i].ModuleID == (int)eTurnsWeb.Helper.SessionHelper.ModuleList.AllowToEnterLotOrSerialInBlankBox
                                || Model[i].ModuleID == (int)eTurnsWeb.Helper.SessionHelper.ModuleList.ViewOnlyLotOrSerial)
                            {
                            <td>
                                @Html.CheckBoxFor(t => t[i].IsChecked, new { @class = "check-box pull-permision", id = Model[i].ModuleID + "_IsChecked" })
                            </td>
                            }
                            else
                            {
                            <td>
                                @Html.CheckBoxFor(t => t[i].IsChecked, new { @class = "check-box" })
                            </td>
                            }
                            <td style="width: 5px">
                            </td>
                            <td>
                                @Html.HiddenFor(t => t[i].ModuleID)
                                @Html.DisplayFor(t => t[i].ModuleNameFromResource)
                            </td>
                        </tr>

                            }
                        }
                    }
                </table>
            </p>
        </div>
        @*<div id="Roomtab5" class="tab_content">
            <p>
            </p>
        </div>*@
    </div>
</div>
<script language="javascript" type="text/javascript">
    //    var SelectedModuleList = new Array();
    //    var SelectedNonModuleList = new Array();

    //    var hdnSelectedModuleList = $("#hdnSelectedModuleList");
    //    var hdnSelectedNonModuleList = $("#hdnSelectedNonModuleList");


    $(document).ready(function () {

        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //On Click Event
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content
            return true;
        });

        $(".pull-permision").click(function () {

            var vModuleID = $(this).prop("id").split('_')[0]
            if ($(this).is(':checked')) {

                $(".pull-permision").each(function (index, itm) {
                    var vOtherModuleID = $(this).prop("id").split('_')[0]
                    if (vOtherModuleID != vModuleID) {
                        $(this).prop('checked', false);
                    }
                });

            }
            //            else {
            //                //$(this).prop('checked', true);
            //            }
        });

    });


</script>
