@model eTurns.DTO.RoleWiseRoomsAccessDetailsDTO
@using eTurns.DTO
@using eTurns.DTO.Resources
@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
}
<div class="mainForm">
    <div class="container">
        <ul class="tabs">
            <li class="active"><a  id="lnkSupportTables" href="#Roomtab2">@ResRoleMaster.SupportTablesPermissions</a></li>
            <li><a id="lnkModules" href="#Roomtab3">@ResRoleMaster.ModulePermissions</a></li>
            <li><a id="lnkAdminPer" href="#Roomtab4">@ResRoleMaster.AdminPermissions</a></li>
            <li><a id="lnkDefaultSett" href="#Roomtab5">@ResRoleMaster.DefaultSettings</a></li>
        </ul>
        <div id="Roomtab2" class="tab_content">
            <p>
                <div style="float: right">
                    @Html.CheckBox("chkSelectAllTab1", false, new { onclick = "javascript:return SelectAllTabChk(this,1);" })
                    @Html.Label(ResCommon.CheckALL)
                </div>
                <table>
                    <tr>
                        <th>
                            @ResRoleMaster.Permissions
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.All
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.View
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Insert
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Update
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Delete
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowDeleted
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowArchived
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowUDF
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowChangeLog
                        </th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllView", new { @class = "check-box", id = "AllView$Tab2", onclick = "javascript:SelectRowColumnChk(this,1);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllInsert", new { @class = "check-box", id = "AllInsert$Tab2", onclick = "javascript:SelectRowColumnChk(this,1);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllUpdate", new { @class = "check-box", id = "AllUpdate$Tab2", onclick = "javascript:SelectRowColumnChk(this,1);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllDelete", new { @class = "check-box", id = "AllDelete$Tab2", onclick = "javascript:SelectRowColumnChk(this,1);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowDeleted", new { @class = "check-box", id = "AllShowDeleted$Tab2", onclick = "javascript:SelectRowColumnChk(this,1);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowArchived", new { @class = "check-box", id = "AllShowArchived$Tab2", onclick = "javascript:SelectRowColumnChk(this,1);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowUDF", new { @class = "check-box", id = "AllShowUDF$Tab2", onclick = "javascript:SelectRowColumnChk(this,1);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowChangeLog", new { @class = "check-box", id = "AllShowChangeLog$Tab2", onclick = "javascript:SelectRowColumnChk(this,1);" })
                        </th>
                    </tr>
                    @if (Model.ModuleMasterList != null)
                    {
                        foreach (eTurns.DTO.RoleModuleDetailsDTO item in Model.ModuleMasterList)
                        {                                     
                        <tr id="module_@(item.ModuleID)">
                            <td title="@item.ModuleToolTipFromResource">
                                @Html.DisplayFor(t => item.ModuleNameFromResource)
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBox(item.ModuleID + "_RowAll", new { @class = "check-box", id = item.ModuleID + "_RowAll", onclick = "javascript:SelectRowColumnChk(this,1);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsView, new { @class = "check-box", id = item.ModuleID + "_View" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsInsert, new { @class = "check-box", id = item.ModuleID + "_Insert", onclick = "javascript:SelectViewPermission(this,1);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsUpdate, new { @class = "check-box", id = item.ModuleID + "_Update", onclick = "javascript:SelectViewPermission(this,1);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsDelete, new { @class = "check-box", id = item.ModuleID + "_Delete", onclick = "javascript:SelectViewPermission(this,1);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.ShowDeleted, new { @class = "check-box", id = item.ModuleID + "_ShowDeleted", onclick = "javascript:SelectViewPermission(this,1);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.ShowArchived, new { @class = "check-box", id = item.ModuleID + "_ShowArchived", onclick = "javascript:SelectViewPermission(this,1);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.ShowUDF, new { @class = "check-box _ShowUDFAll", id = item.ModuleID + "_ShowUDF", onclick = "javascript:SelectViewPermission(this,1);" })
                            </td>
                            <td style="width: 5px"></td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.ShowChangeLog, new { @class = "check-box", id = item.ModuleID + "_ShowChangeLog", onclick = "javascript:SelectViewPermission(this,1);" })
                            </td>
                        </tr>
                        }
                    }
                </table>
            </p>
        </div>
        <div id="Roomtab3" class="tab_content">
            <p>
                <div style="float: right">
                    @Html.CheckBox("chkSelectAllTab2", false, new { onclick = "javascript:return SelectAllTabChk(this,2);" })
                    @Html.Label(ResCommon.CheckALL)
                </div>
                <table>
                    <tr>
                        <th>
                            @ResRoleMaster.Permissions
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.All
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.View
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Insert
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Update
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Delete
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowDeleted
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowArchived
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowUDF
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.ShowChangeLog
                        </th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllView", new { @class = "check-box", id = "AllView$Tab3", onclick = "javascript:SelectRowColumnChk(this,2);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllInsert", new { @class = "check-box", id = "AllInsert$Tab3", onclick = "javascript:SelectRowColumnChk(this,2);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllUpdate", new { @class = "check-box", id = "AllUpdate$Tab3", onclick = "javascript:SelectRowColumnChk(this,2);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllDelete", new { @class = "check-box", id = "AllDelete$Tab3", onclick = "javascript:SelectRowColumnChk(this,2);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowDeleted", new { @class = "check-box", id = "AllShowDeleted$Tab3", onclick = "javascript:SelectRowColumnChk(this,2);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowArchived", new { @class = "check-box", id = "AllShowArchived$Tab3", onclick = "javascript:SelectRowColumnChk(this,2);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowUDF", new { @class = "check-box _ShowUDFAll", id = "AllShowUDF$Tab3", onclick = "javascript:SelectRowColumnChk(this,2);" })
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @Html.CheckBox("AllShowChangeLog", new { @class = "check-box", id = "AllShowChangeLog$Tab3", onclick = "javascript:SelectRowColumnChk(this,2);" })
                        </th>
                    </tr>
                    @if (Model.OtherModuleList != null)
                    {
                        foreach (eTurns.DTO.RoleModuleDetailsDTO item in Model.OtherModuleList)
                        {
                        <tr id="module_@(item.ModuleID)">
                            <td title="@item.ModuleToolTipFromResource">
                                @Html.DisplayFor(t => item.ModuleNameFromResource)                                
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBox(item.ModuleID + "_RowAll", new { @class = "check-box", id = item.ModuleID + "_RowAll", onclick = "javascript:SelectRowColumnChk(this,2);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsView, new { @class = "check-box", id = item.ModuleID + "_View" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsInsert, new { @class = "check-box", id = item.ModuleID + "_Insert", onclick = "javascript:SelectViewPermission(this,2);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsUpdate, new { @class = "check-box", id = item.ModuleID + "_Update", onclick = "javascript:SelectViewPermission(this,2);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsDelete, new { @class = "check-box", id = item.ModuleID + "_Delete", onclick = "javascript:SelectViewPermission(this,2);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.ShowDeleted, new { @class = "check-box", id = item.ModuleID + "_ShowDeleted", onclick = "javascript:SelectViewPermission(this,2);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.ShowArchived, new { @class = "check-box", id = item.ModuleID + "_ShowArchived", onclick = "javascript:SelectViewPermission(this,2);" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.ShowUDF, new { @class = "check-box _ShowUDFAll", id = item.ModuleID + "_ShowUDF", onclick = "javascript:SelectViewPermission(this,2);" })
                            </td>
                            <td style="width: 5px"></td>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.ShowChangeLog, new { @class = "check-box", id = item.ModuleID + "_ShowChangeLog", onclick = "javascript:SelectViewPermission(this,2);" })
                            </td>
                        </tr>
                        }
                    }
                </table>
            </p>
        </div>
        <div id="Roomtab4" class="tab_content">
            <p>
                <div style="float: right">
                    @Html.CheckBox("chkSelectAllTab3", false, new { onclick = "javascript:return SelectAllTabChk(this,3);" })
                    @Html.Label(ResCommon.CheckALL)
                </div>
                <table>
                    <tr>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Permissions
                        </th>
                    </tr>
                    @if (Model.NonModuleList != null)
                    {
                        string DisplayName = "";
                        foreach (eTurns.DTO.RoleModuleDetailsDTO item in Model.NonModuleList)
                        {
                            if (item.DisplayOrderName != null && DisplayName != item.DisplayOrderName)
                            { 
                        <tr>
                            <td>
                                <b><u>@Html.DisplayFor(t => item.DisplayOrderName)</u> </b>
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td>
                            </td>
                        </tr> 
                                DisplayName = item.DisplayOrderName;
                            }

                            if (item.ModuleID == (int)eTurnsWeb.Helper.SessionHelper.ModuleList.AllowOverwriteLotOrSerial
                                || item.ModuleID == (int)eTurnsWeb.Helper.SessionHelper.ModuleList.AllowToEnterLotOrSerialInBlankBox
                                || item.ModuleID == (int)eTurnsWeb.Helper.SessionHelper.ModuleList.ViewOnlyLotOrSerial)
                            {
                            <tr>
                                    <td>
                                            @Html.CheckBoxFor(t => item.IsChecked, new { @class = "check-box pull-permision", id = item.ModuleID + "_IsChecked" })
                                        </td>
                                    <td style="width: 5px"></td>
                                <td title="@item.ModuleToolTipFromResource">
                                    @Html.DisplayFor(t => item.ModuleNameFromResource)                                    
                                </td>
                                </tr>
                            }
                            else
                            {           
                        <tr>
                            <td>
                                @Html.CheckBoxFor(t => item.IsChecked, new { @class = "check-box", id = item.ModuleID + "_IsChecked" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td title="@item.ModuleToolTipFromResource">
                                @Html.DisplayFor(t => item.ModuleNameFromResource)                               
                            </td>
                        </tr>
                            }
                        }
                    }
                </table>
            </p>
        </div>
        <div id="Roomtab5" class="tab_content">
            <p>
                <table>
                    @if (Model.OtherDefaultSettings != null)
                    {
                        foreach (eTurns.DTO.RoleModuleDetailsDTO item in Model.OtherDefaultSettings)
                        {
                        <tr>
                            <td>
                                @if (item.ModuleID != 25)
                                {
                                    @Html.DisplayFor(t => item.ModuleName)
                                }
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td>
                                @if (item.ModuleID == 25)
                                {
@*@Html.TextBoxFor(t => item.ModuleValue, new { id = item.ModuleID, @class = "text-box", maxlength = 128 })*@
                                }
                                else
                                {
                                    @Html.TextBoxFor(t => item.ModuleValue, new { id = item.ModuleID, @class = "text-box", maxlength = 128, onkeypress = "javascript:return numberOnly();" })
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 5px">
                                &nbsp;
                            </td>
                        </tr>
                        }
                    }
                </table>
            </p>
        </div>
      
    </div>
</div>
<script language="javascript" type="text/javascript">
    //    var SelectedModuleList = new Array();
    //    var SelectedNonModuleList = new Array();

    //    var hdnSelectedModuleList = $("#hdnSelectedModuleList");
    //    var hdnSelectedNonModuleList = $("#hdnSelectedNonModuleList");


    $(document).ready(function () {

        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //On Click Event
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content
            return true;
        });

        $(".pull-permision").click(function () {

            var vModuleID = $(this).prop("id").split('_')[0]
            if ($(this).is(':checked')) {

                $(".pull-permision").each(function (index, itm) {
                    var vOtherModuleID = $(this).prop("id").split('_')[0]
                    if (vOtherModuleID != vModuleID) {
                        $(this).prop('checked', false);
                    }
                });

            }
            //            else {
            //                //$(this).prop('checked', true);
            //            }
        });
    });

    
</script>
