<!DOCTYPE html>
<html>
<head>
    @*<script type='text/javascript' src="~/Scripts/Common.js"></script>*@
</head>
<body>
   @* @if (eTurnsWeb.Helper.SessionHelper.CompanyConfig != null)
    {
        @Html.Hidden("hdQuantitycentsLimit", eTurnsWeb.Helper.SessionHelper.NumberDecimalDigits)
        @Html.Hidden("hdCostcentsLimit", eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits) 
        //@Html.Hidden("hdTurnUsageLimit", 2)   
        @Html.Hidden("hdTurnUsageLimit", eTurnsWeb.Helper.SessionHelper.TurnUsageFormat) 
    }
    else
    {
        @Html.Hidden("hdQuantitycentsLimit", 2)
        @Html.Hidden("hdCostcentsLimit", 3)   
        @Html.Hidden("hdTurnUsageLimit", 2)       
    }*@

    @if (!string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits))
    {
        @Html.Hidden("hdCostcentsLimit", eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits)
    }
    else
    {
        @Html.Hidden("hdCostcentsLimit", 3)
    }
    @if (!string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.NumberDecimalDigits))
    {
        @Html.Hidden("hdQuantitycentsLimit", eTurnsWeb.Helper.SessionHelper.NumberDecimalDigits)
    }
    else
    {
        @Html.Hidden("hdQuantitycentsLimit", 2)
    }

    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
