@model BOMItemDTO
<input type="button" name="btnOpenPopup" id="btnOpenPopup" value="@Model.ButtonText" class="btnGeneral" onclick="OpenBOMPopup(this);" />
<div id="divBOMItems" style="display: none;">
</div>
<script type="text/javascript">
    function OpenBOMPopup(curobj) {
        if ('@Model.OpenPopup' == '@Boolean.TrueString') {
            if ('@Model.SourcePageName' == 'OrderMaster') {
                $("#ItemModel").dialog("close");
            }
            $('#divBOMItems').data("data", { SourcePageName: '@Model.SourcePageName', OrderId: '@Model.OrderGUID', OrderSupplier: escape('@Model.OrderSupplier') }).dialog('open');
        }
        else {

        }
    }
    jQuery(function () {
        $("#divBOMItems").dialog({
            autoOpen: false,
            modal: true,
            draggable: true,
            resizable: true,
            width: '82%',
            height: 710,
            title: '@ResCommon.SelectItemFromCatalog',
            open: function () {
                $('#DivLoading').show();

                $("#divBOMItems").load('@Url.Action("LoadBOMItems", "BOM")?SourcePage=' + $(this).data("data").SourcePageName + '&OrderGUID=' + $(this).data("data").OrderGUID + '&OrderSupplier=' + $(this).data("data").OrderSupplier, function () {
                    $('#DivLoading').hide();
                    $("#divBOMItems").dialog("option", "width", "82%");
                    $("#divBOMItems").dialog("option", "height", 710);
                    $("#divBOMItems").dialog('option', 'position', 'center');
                });
            },
            close: function () {
                $("#divBOMItems").html("");
            }
        });

    });

</script>
