@model CommonDTO
@{
    List<ModuleMasterDTO> lstModulename = new List<ModuleMasterDTO>();
    if (ViewBag.ModuleMasterList != null)
    {
        lstModulename = ViewBag.ModuleMasterList;

    }
    //System.Xml.Linq.XElement Settinfile = System.Xml.Linq.XElement.Load(System.Web.Hosting.HostingEnvironment.MapPath("/SiteSettings.xml"));
    //string LoadDataCount = Settinfile.Element("LoadNarrowDataCount") != null ? Convert.ToString(Settinfile.Element("LoadNarrowDataCount").Value) : "0";
    string LoadDataCount = eTurns.DTO.SiteSettingHelper.LoadNarrowDataCount != string.Empty ? Convert.ToString(eTurns.DTO.SiteSettingHelper.LoadNarrowDataCount) : "0";
    string version = eTurnsWeb.Helper.CommonUtility.GetReleaseNumber();
}
@*<style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>*@
<style>
    .handle {
        height: 20px;
        width: 5%;
        vertical-align: middle;
        /*background-image: url("../../Content/images/Drage.png");*/
        cursor: move;
        float: right;
    }

        .handle img {
            height: 20px;
            width: 6%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
</style>
<script type='text/javascript' src="@Url.Content("~/Scripts/date.js")"></script>
<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandNarrowSearch">
        <img src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseNarrowSearch">
        <img src="~/Content/images/closed.png" />
    </a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    @*<h3>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h3>*@
<ul id="nssortable" class="NarrowUL">

    @if (Model.PageName == "ReportMasterList")
    {
        <li>
            <div class="stockroom">
                <div class="editor-field">
                    @ResReportMaster.ReportType
                    <select id="ReportDetailType" class="selectBox" onchange="ReportTypeNarroSearch(this);">
                        <option value=""></option>
                        <option value="Report">@ResReportMaster.Report</option>
                        <option value="EmailTemplate">@ResEmailUserConfiguration.EmailTemplate</option>
                    </select>
                </div>
            </div>
        </li>

    }

    @if (Model.PageName == "NotificationMasterList")
    {
        <li>
            <select id="ntfcNotificationType" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ntfcNotificationTypeCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ntfcSchedule" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ntfcScheduleCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ntfcReports" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ntfcReportsCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ntfcEmailTemlate" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ntfcEmailTemlateCollapse">
                </div>
            </div>
        </li>
    }
    @if (Model.PageName == "RoleMaster")
    {
        <li>
            <select id="RoleUserType" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="RoleUserTypeCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="RoleEnterprise" class="showloadmore" data-unique="roleenterprise" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="RoleEnterpriseCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="RoleCompany" class="showloadmore" data-unique="rolecompany" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="RoleCompanyCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="RoleRoom" class="showloadmore" data-unique="roleroom" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="RoleRoomCollapse">
                </div>
            </div>
        </li>
    }
    @if (Model.PageName == "UserMaster")
    {
        <li>
            <select id="UserType" multiple="multiple" name="example-basic" size="5" class="UseListNarrowSearch"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserTypeCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="UserEnterprise" class="showloadmore" data-unique="userenterprise" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserEnterpriseCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="UserCompany" class="showloadmore" data-unique="usercompany" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserCompanyCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="UserRoom" class="showloadmore" data-unique="userroom" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserRoomCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="UserRole" class="showloadmore" data-unique="userrole" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserRoleCollapse">
                </div>
            </div>
        </li>
    }
    @if (Model.PageName == "InventoryCountList")
    {
        <li>
            <select id="ICountType" multiple="multiple" name="example-basic" size="5">
                <option value="M">Manual</option>
                <option value="C">Automated(Cycle)</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ICountTypeCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ICountStatus" multiple="multiple" name="example-basic" size="5">
                <option value="O">Open</option>
                <option value="A">Applied</option>
                <option value="C">Closed</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ICountStatusCollapse">
                </div>
            </div>
        </li>
    }
    @if (Model.PageName == "ItemMasterBinList")
    {
        <li>
            <select id="ItemNumber" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemNumberCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="BinList" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="BinListCollapse">
                </div>
            </div>
        </li>
    }
    <!-- Tools Related Fields START-->
    @if (Model.PageName == "PullMaster")
    {
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            <select id="PullActionType" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullActionTypeCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="PullSupplier" class="showloadmore" data-unique="pullsupp" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullSupplierCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="PullCategory" class="showloadmore" data-unique="pullcat" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullCategoryCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="Manufacturer" class="showloadmore" data-unique="pullman" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ManufacturerCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="5">
            <p class="handle"><img /></p>
            <select id="PullProjectSpend" class="showloadmore" data-unique="pullpsm" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullProjectSpendCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="6">
            <p class="handle"><img /></p>
            <select id="PullWorkOrder" class="showloadmore" data-unique="pullwo" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullWorkOrderCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="7">
            <p class="handle"><img /></p>
            <select id="PullRequistion" class="showloadmore" data-unique="pullreq" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullRequistionCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="8">
            <p class="handle"><img /></p>
            <select id="PullOrderNumber" class="showloadmore" data-unique="pullordnm" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullOrderNumberCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="9">
            <p class="handle"><img /></p>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.Resources.ResNarrowSearch.Cost
                    <select id="PullCost" class="selectBox" onchange="CostNarroSearch(this);">
                        <option value="0_-1"></option>
                        <option value="100_1000">>$100 </option>
                        <option value="50_99.99">>$50 to 99.99 </option>
                        <option value="25_49.99">>$25 to 49.99 </option>
                        <option value="10_24.99">>$10 to 24.99 </option>
                        <option value="10_1000"><$10</option>
                    </select>
                </div>
            </div>
        </li>
        <li attrsortOrder="10">
            <p class="handle"><img /></p>
            <div class="stockroom">
                <div class="editor-field">
                    @*@eTurns.DTO.Resources.ResNarrowSearch.Cost*@
                    @eTurns.DTO.Resources.ResNarrowSearch.IsBilling
                    <select id="isBilling" class="selectBox" onchange="BillingNarroSearch(this);">
                        <option value=""></option>
                        <option value="True">Yes </option>
                        <option value="False">No </option>
                    </select>
                </div>
            </div>
        </li>
        <li attrsortOrder="11">
            <p class="handle"><img /></p>
            <div class="stockroom">
                <div class="editor-field">
                    @*@eTurns.DTO.Resources.ResNarrowSearch.Cost*@
                    @eTurns.DTO.Resources.ResNarrowSearch.IsEDISent
                    <select id="isEDISent" class="selectBox" onchange="EDISentNarroSearch(this);">
                        <option value=""></option>
                        <option value="True">Yes </option>
                        <option value="False">No </option>
                    </select>
                </div>
            </div>
        </li>
        <li attrsortOrder="12">
            <p class="handle"><img /></p>
            <select id="PullConsignment" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullConsignmentCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="13">
            <p class="handle"><img /></p>
            <select id="PullSupplierAccountNumber" class="showloadmore" data-unique="pullsupplieraccountnm" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullSupplierAccountNumberCollapse">
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "ItemMaster")
    {
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            <select id="PullSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullSupplierCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="PullCategory" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullCategoryCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="Manufacturer" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ManufacturerCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="ItemLocation" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ItemLocationCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="5">
            <p class="handle"><img /></p>
            <select id="ItemTrackingType" multiple="multiple" name="example-basic" size="5">
                <option value="1">No Tracking</option>
                <option value="2">@eTurns.DTO.ResItemMaster.SerialNumberTracking</option>
                <option value="3">@eTurns.DTO.ResItemMaster.LotNumberTracking</option>
                <option value="4">@eTurns.DTO.ResItemMaster.DateCodeTracking</option>

            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ItemTrackingTypeCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="6">
            <p class="handle"><img /></p>
            @*<div class="stockroom">*@

            <select id="StockStatus" class="multiple" name="example-basic" size="5">
                <option value="0"></option>
                <option value="1">Out of Stock</option>
                <option value="2">Below Critical</option>
                <option value="3">Below Min</option>
                <option value="4">Above Max</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="StockStatusCollapse">
                </div>
            </div>
            @*</div>*@
        </li>
        <li attrsortOrder="7">
            <p class="handle"><img /></p>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.ResItemMaster.IsActive:
                    <select id="IsActive" class="selectBox" onchange="SActive(this);">
                        <option value=""></option>
                        <option value="1"> Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
        </li>
        <li attrsortOrder="8">
            <p class="handle"><img /></p>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.Resources.ResNarrowSearch.Cost:
                    <select id="PullCost" class="selectBox" onchange="CostNarroSearch(this);">
                        <option value="0_-1"></option>
                        <option value="100_1000">>$100 </option>
                        <option value="50_99.99">>$50 to 99.99 </option>
                        <option value="25_49.99">>$25 to 49.99 </option>
                        <option value="10_24.99">>$10 to 24.99 </option>
                        <option value="10_1000"><$10</option>
                    </select>
                </div>
            </div>
        </li>


        <li attrsortOrder="9">
            <p class="handle"><img /></p>
            <div class="editor-field">
                @eTurns.DTO.Resources.ResNarrowSearch.AverageUsage:
                <select id="AverageUsage" class="selectBox" onchange="AverageCostNarroSearch(this);">
                    <option value="0_-1"></option>
                    <option value="100_-1">> 100</option>
                    <option value="75_99.9">75 - 99.9</option>
                    <option value="50_74.9">50 - 74.9</option>
                    <option value="30_49.9">30 - 49.9</option>
                    <option value="20_29.9">20 - 29.9</option>
                    <option value="10_19.9">10 - 19.9</option>
                    <option value="7.5_9.9">7.5 - 9.9</option>
                    <option value="5_7.4">5 - 7.4</option>
                    <option value="2_4.9">2 - 4.9</option>
                    <option value="1_1.9">1 - 1.9</option>
                    <option value="0.5_0.9">0.5 - 0.9</option>
                    <option value="0.4_-1">< 0.4</option>
                </select>
            </div>
        </li>
        <li attrsortOrder="10">
            <p class="handle"><img /></p>
            <div class="editor-field">
                @eTurns.DTO.Resources.ResNarrowSearch.Turns:
                <select id="Turns" class="selectBox" onchange="TurnsNarroSearch(this);">
                    <option value="0_-1"></option>
                    <option value="20_-1">> 20</option>
                    <option value="15_19.9">15 - 19.9</option>
                    <option value="12_14.9">12 - 14.9</option>
                    <option value="9_11.9">9 - 11.9</option>
                    <option value="6_8.9">6 - 8.9</option>
                    <option value="4_5.9">4 - 5.9</option>
                    <option value="2_3.9">2 - 3.9</option>
                    <option value="1_1.9">1 - 1.9</option>
                    <option value="1_-1">< 1</option>
                </select>
            </div>
        </li>
        <li attrsortOrder="11">
            <p class="handle"><img /></p>
            <select id="ItemTypeNarroDDL" multiple="multiple" name="example-basic" size="5">
                @* <option value="1">Item</option>
                    <option value="3">Kit</option>
                    <option value="4">Labor</option>*@
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemTypeCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="12">
            <p class="handle"><img /></p>
            <select id="InventoryClassificationDDL" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="InventoryClassification">
                    Inventory Classification
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "ItemBinMaster")
    {
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            <select id="PullSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullSupplierCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="PullCategory" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullCategoryCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="Manufacturer" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ManufacturerCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="ItemLocation" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ItemLocationCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="5">
            <p class="handle"><img /></p>
            <select id="ItemTrackingType" multiple="multiple" name="example-basic" size="5">
                <option value="1">No Tracking</option>
                <option value="2">@eTurns.DTO.ResItemMaster.SerialNumberTracking</option>
                <option value="3">@eTurns.DTO.ResItemMaster.LotNumberTracking</option>
                <option value="4">@eTurns.DTO.ResItemMaster.DateCodeTracking</option>

            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ItemTrackingTypeCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrder="6">
            <p class="handle"><img /></p>
            @*<div class="stockroom">*@

            <select id="StockStatus" class="multiple" name="example-basic" size="5">
                <option value="0"></option>
                <option value="1">Out of Stock</option>
                <option value="2">Below Critical</option>
                <option value="3">Below Min</option>
                <option value="4">Above Max</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="StockStatusCollapse">
                </div>
            </div>
            @*</div>*@
        </li>
        <li attrsortOrder="7">
            <p class="handle"><img /></p>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.ResItemMaster.IsActive:
                    <select id="IsActive" class="selectBox" onchange="SActive(this);">
                        <option value=""></option>
                        <option value="1"> Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
        </li>
        <li attrsortOrder="8">
            <p class="handle"><img /></p>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.Resources.ResNarrowSearch.Cost:
                    <select id="PullCost" class="selectBox" onchange="CostNarroSearch(this);">
                        <option value="0_-1"></option>
                        <option value="100_1000">>$100 </option>
                        <option value="50_99.99">>$50 to 99.99 </option>
                        <option value="25_49.99">>$25 to 49.99 </option>
                        <option value="10_24.99">>$10 to 24.99 </option>
                        <option value="10_1000"><$10</option>
                    </select>
                </div>
            </div>
        </li>


        <li attrsortOrder="9">
            <p class="handle"><img /></p>
            <div class="editor-field">
                @eTurns.DTO.Resources.ResNarrowSearch.AverageUsage:
                <select id="AverageUsage" class="selectBox" onchange="AverageCostNarroSearch(this);">
                    <option value="0_-1"></option>
                    <option value="100_-1">> 100</option>
                    <option value="75_99.9">75 - 99.9</option>
                    <option value="50_74.9">50 - 74.9</option>
                    <option value="30_49.9">30 - 49.9</option>
                    <option value="20_29.9">20 - 29.9</option>
                    <option value="10_19.9">10 - 19.9</option>
                    <option value="7.5_9.9">7.5 - 9.9</option>
                    <option value="5_7.4">5 - 7.4</option>
                    <option value="2_4.9">2 - 4.9</option>
                    <option value="1_1.9">1 - 1.9</option>
                    <option value="0.5_0.9">0.5 - 0.9</option>
                    <option value="0.4_-1">< 0.4</option>
                </select>
            </div>
        </li>
        <li attrsortOrder="10">
            <p class="handle"><img /></p>
            <div class="editor-field">
                @eTurns.DTO.Resources.ResNarrowSearch.Turns:
                <select id="Turns" class="selectBox" onchange="TurnsNarroSearch(this);">
                    <option value="0_-1"></option>
                    <option value="20_-1">> 20</option>
                    <option value="15_19.9">15 - 19.9</option>
                    <option value="12_14.9">12 - 14.9</option>
                    <option value="9_11.9">9 - 11.9</option>
                    <option value="6_8.9">6 - 8.9</option>
                    <option value="4_5.9">4 - 5.9</option>
                    <option value="2_3.9">2 - 3.9</option>
                    <option value="1_1.9">1 - 1.9</option>
                    <option value="1_-1">< 1</option>
                </select>
            </div>
        </li>
        <li attrsortOrder="11">
            <p class="handle"><img /></p>
            <select id="ItemTypeNarroDDL" multiple="multiple" name="example-basic" size="5">
                @* <option value="1">Item</option>
                    <option value="3">Kit</option>
                    <option value="4">Labor</option>*@
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemTypeCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="12">
            <p class="handle"><img /></p>
            <select id="InventoryClassificationDDL" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="InventoryClassification">
                    Inventory Classification
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "BOMItemMaster")
    {
        <li>
            <select id="PullSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullSupplierCollapse">
                </div>
            </div>
        </li>

        <li>
            <select id="PullCategory" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullCategoryCollapse">
                </div>
            </div>
        </li>

        <li>
            <select id="Manufacturer" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ManufacturerCollapse">
                </div>
            </div>
        </li>
        @*<li style="display: none">
                <div class="stockroom">
                    <div class="editor-field">
                        @eTurns.DTO.Resources.ResNarrowSearch.Cost:
                        <select id="PullCost" class="selectBox" onchange="CostNarroSearch(this);">
                            <option value="0_-1"></option>
                            <option value="100_1000">>$100 </option>
                            <option value="50_99.99">>$50 to 99.99 </option>
                            <option value="25_49.99">>$25 to 49.99 </option>
                            <option value="10_24.99">>$10 to 24.99 </option>
                            <option value="10_1000"><$10</option>
                        </select>
                    </div>
                </div>
            </li>*@

        @*<li style="display: none">
                <div class="stockroom">
                    <div class="editor-field">
                        @eTurns.DTO.Resources.ResNarrowSearch.StockStatus:
                        <select id="StockStatus" class="selectBox" onchange="SSNarroSearch(this);">
                            <option value="0"></option>
                            <option value="1">Out of Stock</option>
                            <option value="2">Below Critical</option>
                            <option value="3">Below Min</option>
                            <option value="4">Above Max</option>
                        </select>
                    </div>
                </div>
            </li>*@
        <li>

            <select id="ItemTypeNarroDDL" multiple="multiple" name="example-basic" size="5">
                @* <option value="1">Item</option>
                    <option value="3">Kit</option>
                    <option value="4">Labor</option>*@
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemTypeCollapse">
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "ToolMaster" || Model.PageName == "KitToolMaster")
    {
        if (Model.PageName == "ToolMaster")
        {
            <li attrsortOrder="1">
                <p class="handle"><img /></p>
                <select id="ToolsCategory" class="showloadmore" data-unique="toolscategory" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="ToolsCategoryCollapse">
                    </div>
                </div>
            </li>

            <li attrsortOrder="2">
                <p class="handle"><img /></p>
                <div class="stockroom">
                    <div class="editor-field">
                        @eTurns.DTO.ResToolMaster.Cost:
                        <select id="ToolsCost" class="selectBox" onchange="CostNarroSearch(this);">
                            <option value="0_-1"></option>
                            <option value="1000_1000">>$1000 </option>
                            <option value="750_999">>$750 to 999 </option>
                            <option value="500_749">>$500 to 749 </option>
                            <option value="250_499">>$250 to 499 </option>
                            <option value="0_249">$0 to 249 </option>
                        </select>
                    </div>
                </div>
            </li>
        }
        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="ToolCheckout" multiple="multiple" name="example-basic" size="5">
                <option value="1">Checked out</option>
                <option value="2">Checked out to Maintenance</option>
                <option value="3">Group fully checked out</option>
                <option value="4">None checked out</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolCheckoutCollapse">
                </div>
            </div>

        </li>
        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="ToolsTechnician" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolsTechnicianCollapse">
                </div>
            </div>
        </li>
        @* <li>
                <select id="ToolsTechnician" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="ToolsTechnicianCollapse">
                    </div>
                </div>
            </li>*@
        @*<li>
                <select id="ToolsWorkOrder" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="ToolsWorkOrderCollapse">
                    </div>
                </div>
            </li>*@
        @*<li>
                <select id="ToolsMaintenance" multiple="multiple" name="example-basic" size="5">
                    <option value="1">Maintenance 1</option>
                    <option value="2">Maintenance 2</option>
                </select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="ToolsMaintenanceCollapse">
                    </div>
                </div>
            </li>*@
        if (Model.PageName == "ToolMaster")
        {
            <li attrsortOrder="5">
                <p class="handle"><img /></p>
                <select id="ToolsLocation" class="showloadmore" data-unique="toolslocation" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="ToolsLocationCollapse">
                    </div>
                </div>
            </li>
        }
    }
    else if (Model.PageName == "KitToolMasterNew")
    {

        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="ToolCheckoutNew" multiple="multiple" name="example-basic" size="5">
                <option value="1">Checked out</option>
                <option value="2">Checked out to Maintenance</option>
                <option value="3">Group fully checked out</option>
                <option value="4">None checked out</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolCheckoutNewCollapse">
                </div>
            </div>

        </li>
        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="ToolsTechnicianNew" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolsTechnicianNewCollapse">
                </div>
            </div>
        </li>


    }
    else if (Model.PageName == "ToolMasterNew")
    {
        if (Model.PageName == "ToolMasterNew")
        {
            <li attrsortOrder="1">
                <p class="handle"><img /></p>
                <select id="ToolsCategoryNew" class="showloadmore" data-unique="toolscategorynew" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="ToolsCategoryNewCollapse">
                    </div>
                </div>
            </li>

            <li attrsortOrder="2">
                <p class="handle"><img /></p>
                <div class="stockroom">
                    <div class="editor-field">
                        @eTurns.DTO.ResToolMaster.Cost:
                        <select id="ToolsCostNew" class="selectBox" onchange="CostNarroSearch(this);">
                            <option value="0_-1"></option>
                            <option value="1000_1000">>$1000 </option>
                            <option value="750_999">>$750 to 999 </option>
                            <option value="500_749">>$500 to 749 </option>
                            <option value="250_499">>$250 to 499 </option>
                            <option value="0_249">$0 to 249 </option>
                        </select>
                    </div>
                </div>
            </li>
        }
        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="ToolCheckoutNew" multiple="multiple" name="example-basic" size="5">
                <option value="1">Checked out</option>
                <option value="2">Checked out to Maintenance</option>
                <option value="3">Group fully checked out</option>
                <option value="4">None checked out</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolCheckoutNewCollapse">
                </div>
            </div>

        </li>
        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="ToolsTechnicianNew" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolsTechnicianNewCollapse">
                </div>
            </div>
        </li>
        if (Model.PageName == "ToolMasterNew")
        {
            <li attrsortOrder="5">
                <p class="handle"><img /></p>
                <select id="ToolsLocationNew" class="showloadmore" data-unique="toolslocationnew" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="ToolsLocationNewCollapse">
                    </div>
                </div>
            </li>
        }
    }
    else if (Model.PageName == "OrderMaster")
    {

        <li>
            <select id="OrderSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderSupplierCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="OrderStatus" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderStatusCollapse">
                </div>
            </div>
        </li>
        <li>
            <div class="stockroom">
                <div class="editor-field">
                    <select id="OrderRequiredDate" multiple="multiple" name="example-basic" size="5"></select>
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "RequisitionMaster")
    {
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            @*<div class="stockroom">
                <div class="editor-field">*@
            <select id="OrderRequiredDate" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderRequiredDateCollapse">
                </div>
            </div>
            @*</div>
                </div>*@
        </li>
        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="RequisitionSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="RequisitionSupplierCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="ReqCustomer" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ReqCustomerCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="ReqWorkOrder" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ReqWorkOrderCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="5">
            <p class="handle"><img /></p>
            <select id="ddlRequisitionStatus" multiple="multiple" name="example-basic" size="5">
                <option value="Unsubmitted">Unsubmitted</option>
                <option value="Submitted">Submitted</option>
                <option value="Approved">Approved</option>
                <option value="Closed">Closed</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlRequisitionStatusCollapse">
                </div>
            </div>
        </li>

        @*<li>
                <select id="ReqWO" multiple="multiple" name="example-basic" size="5">
                    <option value="0" selected="selected"></option>
                    <option value="1">WO1</option>
                    <option value="2">WO2</option>
                </select>
                <div class="accordion" id="accordion2">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="ReqWOCollapse">
                    </div>
                </div>
            </li>*@
    }
    else if (Model.PageName == "WorkOrder")
    {
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            <select id="WOSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="WOSupplierCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="WOTechnician" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="WOTechnicianCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="WOCustomer" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="WOCustomerCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="WOAsset" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="WOAssetCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="5">
            <p class="handle"><img /></p>
            <select id="WOTool" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="WOToolCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="6">
            <p class="handle"><img /></p>
            <select id="WOStatus" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="WOStatusCollapse">
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "ProjectList")
    {
        <li><span class="dateText">@ResProjectSpendItems.SpendLimitText</span> </li>
        <li>
            @Html.DropDownList("ddlTotalSpendLimitInPer", (IEnumerable<SelectListItem>)ViewBag.TotalSpendLimitInPer, "", new { @style = "width:150px;", @class = "selectBox", @onchange = "ProjectSpendNarroSearch();" })
        </li>
        <li><span class="dateText">@ResProjectSpendItems.TotalSpendlimit</span> </li>
        <li>
            @Html.DropDownList("ddlTotalSpendLimitInDlr", (IEnumerable<SelectListItem>)ViewBag.TotalSpendLimitInDlr, "", new { @style = "width:150px;", @class = "selectBox", @onchange = "ProjectSpendNarroSearch();" })
        </li>
        <li><span class="dateText">@ResProjectSpendItems.TotalSpendremaining</span></li>
        <li>
            @Html.DropDownList("ddlTotalSpendLimitRemaingInDlr", (IEnumerable<SelectListItem>)ViewBag.TotalSpendLimitRemaingInDlr, "", new { @style = "width:150px;", @class = "selectBox", @onchange = "ProjectSpendNarroSearch();" })
        </li>
        <li><span class="dateText">@ResProjectSpendItems.TotalItemSpendlimit</span></li>
        <li>
            @Html.DropDownList("TotalItemSpendLimitInDlr", (IEnumerable<SelectListItem>)ViewBag.TotalItemSpendLimitInDlr, "", new { @style = "width:150px;", @class = "selectBox", @onchange = "ProjectSpendNarroSearch();" })
        </li>
    }
    else if (Model.PageName == "MaterialStaging")
    {
        <li>
            <select id="MatStagLocations" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="MatStagLocationsCollapse">
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "CartItem" || Model.PageName == "CartItemList")
    {
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            <select id="CartRT" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="CartRTCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="CartSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="CartSupplierCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="ItemLocation" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ItemLocationCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="4">
            @*<div class="stockroom">*@
            @*<div class="editor-field">
                @eTurns.DTO.Resources.ResNarrowSearch.StockStatus:*@
            <p class="handle"><img /></p>
            <select id="StockStatus" multiple="multiple" class="stockstatus" name="example-basic" size="5">
                <option value="0"></option>
                <option value="1">Out of Stock</option>
                <option value="2">Below Critical</option>
                <option value="3">Below Min</option>
                <option value="4">Above Max</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="StockStatusCollapse">
                </div>
            </div>
            @*</div>*@
        </li>
        <li attrsortOrder="5">
            <p class="handle"><img /></p>
            <select id="PullCategory" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullCategoryCollapse">
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "ReceiveMaster")
    {
        <li>
            <select id="ddlOrderNumber" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ddlOrderNumberCollapse">
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "AssetMaster")
    {
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            <select id="AssetsCategory" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="AssetsCategoryCollapse">
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "AssetToolSchedulerList")
    {
        <li>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.Resources.ResNarrowSearch.SchedulerItem:
                    <select id="NSSchedulerItem" class="selectBox" onchange="SchedulerItemNarroSearch(this);">
                        <option value="0"></option>
                        <option value="1">Asset</option>
                        <option value="2">Tool</option>
                    </select>
                </div>
            </div>
        </li>
        <li>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.Resources.ResNarrowSearch.SchedulerType:
                    <select id="NSSchedulerType" class="selectBox" onchange="SchedulerTypeNarroSearch(this);">
                        <option value="0"></option>
                        <option value="1">Time Based</option>
                        <option value="2">Operational Hours</option>
                        <option value="3">Mileage</option>
                    </select>
                </div>
            </div>
        </li>
    }
    else if (Model.PageName == "KitMaster")
    {
        <li>
            <select id="ddlWIPKit" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ddlWIPKitCollapse">
                </div>
            </div>
        </li>
    }

    @if (Model.PageName == "CompanyMaster")
    {
        <li>
            <select id="ddlCompanyEnterprise" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlCompanyEnterpriseCollapse">
                </div>
            </div>
        </li>
        <li>
            @ResRoomMaster.IsRoomActive
            <select id="ddlCompanyStatus" name="example-basic" class="selectBox" onchange="CompanyStatusNarroSearch(this);">
                <option value=""></option>
                <option value="0">@ResCommon.No</option>
                <option value="1">@ResCommon.Yes</option>
            </select>

        </li>
    }
    @if (Model.PageName == "Room")
    {
        <li>
            <select id="ddlCompanyEnterprise" class="showloadmore" data-unique="ddlCompanyEnterprise" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlCompanyEnterpriseCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ddlCompanySearch" class="showloadmore" data-unique="ddlCompanySearch" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlCompanySearchCollapse">
                </div>
            </div>
        </li>
        <li>
            Is Room Active
            <select id="ddlRoomStatus" name="example-basic" class="selectBox" onchange="RoomStatusNarroSearch(this);">
                <option value=""></option>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>

        </li>
        <li>
            <select id="ddlInvoiceBranch" class="showloadmore" data-unique="ddlInvoiceBranch" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlInvoiceBranchCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ddlBillingRoomType" class="showloadmore" data-unique="ddlBillingRoomType" multiple="multiple" name="example-basic" size="5">
                @*<option value="1">@ResRoomMaster.BillingRoomType_AssetOnly</option>
                    <option value="2">@ResRoomMaster.BillingRoomType_eVMI</option>
                    <option value="3">@ResRoomMaster.BillingRoomType_Manage</option>
                    <option value="4">@ResRoomMaster.BillingRoomType_Replenish</option>
                    <option value="5">@ResRoomMaster.BillingRoomType_RFID</option>
                    <option value="6">@ResRoomMaster.BillingRoomType_ToolandAssetOnly</option>
                    <option value="7">@ResRoomMaster.BillingRoomType_ToolOnly</option>
                    <option value="8">@ResRoomMaster.BillingRoomType_Truck</option>
                    <option value="9">@ResRoomMaster.BillingRoomType_Optimize</option>*@
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlBillingRoomTypeCollapse">
                </div>
            </div>
        </li>
    }
    @if (Model.PageName == "MoveMaterial")
    {
        <li>
            @ResMoveMaterial.MoveType
            <select id="ddlMoveTypeNR" name="example-basic" class="selectBox" onchange="MoveTypeNarroSearch(this);">
                <option value=""></option>
                <option value="1">@ResMoveMaterial.MoveTypeItemInvtoInv</option>
                <option value="2">@ResMoveMaterial.MoveTypeItemInvtoStage</option>
                <option value="3">@ResMoveMaterial.MoveTypeItemStageToInv</option>
                <option value="4">@ResMoveMaterial.MoveTypeItemStageToStage</option>
            </select>
        </li>
    }
    @if (Model.PageName == "BarcodeMaster")
    {
        <li style="display:none;">
            <select id="ddlModule" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlModuleSearchCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ddlItems" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlItemsSearchCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ddlSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlSupplierSearchCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ddlBinItemCategory" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ddlBinItemCategorySearchCollapse">
                </div>
            </div>
        </li>
    }
    @if (Model.PageName == "PullPoMasterList")
    {
        <li>
            @eTurns.DTO.ResItemMaster.IsActive
            <select id="ddlPullPOStatus" name="example-basic" class="selectBox" onchange="PullPOStatusNarroSearch(this);">
                <option value=""></option>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>

        </li>
    }
    @if (Model.PageName == "QuoteMaster")
    {
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            <select id="QuoteStatus" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteStatusCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="QuoteSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteSupplierCollapse">
                </div>
            </div>
        </li>
    }
<li attrsortOrder="101">
    @if (Model.PageName == "ItemMaster" || Model.PageName == "ItemBinMaster" || Model.PageName == "RequisitionMaster" || Model.PageName == "WorkOrder" || Model.PageName == "ToolMaster" ||
        Model.PageName == "ToolMasterNew" || Model.PageName == "KitToolMaster" || Model.PageName == "AssetMaster" || Model.PageName == "PullMaster" || Model.PageName == "KitToolMasterNew"
        || Model.PageName == "CartItemList" || Model.PageName == "QuoteMaster")
    {
        <p class="handle"><img /></p>
    }
    @if (Model.PageName == "UserMaster" || Model.PageName == "RoleMaster" || Model.PageName == "Room")
    {
        <select id="UserCreated" multiple="multiple" name="example-basic" size="5" class="showloadmore" data-unique="userlistusercreated"></select>
        <div class="accordion" id="accordion">
            <a href='#' class='downarrow'>
                <img src="~/Content/images/down-arrow.gif" alt="" height="24">
            </a>
            <div class='dropcontent' id="UserCreatedCollapse">
            </div>
        </div>
    }
    else
    {
        <select id="UserCreated" multiple="multiple" name="example-basic" size="5"></select>
        <div class="accordion" id="accordion">
            <a href='#' class='downarrow'>
                <img src="~/Content/images/down-arrow.gif" alt="" height="24">
            </a>
            <div class='dropcontent' id="UserCreatedCollapse">
            </div>
        </div>
    }
    </li>
<li attrsortOrder="102">
    @if (Model.PageName == "ItemMaster" || Model.PageName == "ItemBinMaster" || Model.PageName == "RequisitionMaster" || Model.PageName == "WorkOrder" || Model.PageName == "ToolMaster" ||
        Model.PageName == "ToolMasterNew" || Model.PageName == "KitToolMaster" || Model.PageName == "AssetMaster" || Model.PageName == "PullMaster" || Model.PageName == "KitToolMasterNew"
        || Model.PageName == "CartItemList" || Model.PageName == "QuoteMaster")
    {
        <p class="handle"><img /></p>
    }
    @if (Model.PageName == "UserMaster" || Model.PageName == "RoleMaster" || Model.PageName == "Room")
    {
        <select id="UserUpdated" multiple="multiple" name="example-basic" size="5" class="showloadmore" data-unique="userlistuserupdated"></select>
        <div class="accordion" id="accordion">
            <a href='#' class='downarrow'>
                <img src="~/Content/images/down-arrow.gif" alt="" height="24">
            </a>
            <div class='dropcontent' id="UserUpdatedCollapse">
            </div>
        </div>
    }
    else
    {
        <select id="UserUpdated" multiple="multiple" name="example-basic" size="5"></select>
        <div class="accordion" id="accordion">
            <a href='#' class='downarrow'>
                <img src="~/Content/images/down-arrow.gif" alt="" height="24">
            </a>
            <div class='dropcontent' id="UserUpdatedCollapse">
            </div>
        </div>
    }
</li>
    @if (Model.PageName == "WorkOrder")
    {
        <li attrsortorder="108">
            <p class="handle"><img /></p>
            <select id="WOType" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="WOTypeCollapse">
                </div>
            </div>
        </li>
    }
    <li style="float: left;" attrsortOrder="103">
        @if (Model.PageName == "ItemMaster" || Model.PageName == "ItemBinMaster" || Model.PageName == "RequisitionMaster" || Model.PageName == "WorkOrder" || Model.PageName == "ToolMaster"
            || Model.PageName == "ToolMasterNew" || Model.PageName == "KitToolMaster" || Model.PageName == "AssetMaster" || Model.PageName == "PullMaster" ||
            Model.PageName == "KitToolMasterNew" || Model.PageName == "CartItemList" || Model.PageName == "QuoteMaster")
        {
            <p class="handle"><img /></p>
        }
        <div class="dateForm">
            <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
            <div style="float: right; margin-top: -24px; cursor: pointer;">
                <img id="DateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
            </div>
            <div class="divLabel" style="padding-bottom: 4px;">
                <label for="From" class="labelText">
                    @eTurns.DTO.Resources.ResNarrowSearch.From
                </label>
                <input id="DateCFrom" type="text" value="" name="From" data-val-length-max="20" data-val="true"
                       class="text-box" />
                <a href="javascript:;" title="" class="datePicker" id="ancDateCFrom">
                    <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                </a>
            </div>
            <div class="divLabel">
                <label for="To" class="labelText">
                    @eTurns.DTO.Resources.ResNarrowSearch.To
                </label>
                <input id="DateCTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                       class="text-box" />
                <a href="javascript:;" title="" class="datePicker" id="ancDateCTo">
                    <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                </a>
            </div>
        </div>
    </li>
    <li style="float: left;" attrsortOrder="104">
        @if (Model.PageName == "ItemMaster" || Model.PageName == "ItemBinMaster" || Model.PageName == "RequisitionMaster" || Model.PageName == "WorkOrder" || Model.PageName == "ToolMaster" ||
            Model.PageName == "ToolMasterNew" || Model.PageName == "KitToolMaster" || Model.PageName == "AssetMaster" || Model.PageName == "PullMaster" || Model.PageName == "KitToolMasterNew"
            || Model.PageName == "CartItemList" || Model.PageName == "QuoteMaster")
        {
            <p class="handle"><img /></p>
        }
        <div class="dateForm">
            <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
            <div style="float: right; margin-top: -24px; cursor: pointer;">
                <img id="DateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
            </div>
            <div class="divLabel" style="padding-bottom: 4px;">
                <label for="From" class="labelText">
                    @eTurns.DTO.Resources.ResNarrowSearch.From
                </label>
                <input id="DateUFrom" type="text" value="" name="From" data-val-length-max="20" data-val="true"
                       class="text-box" />
                <a href="javascript:;" title="" class="datePicker" id="ancDateUFrom">
                    <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                </a>
            </div>
            <div class="divLabel">
                <label for="To" class="labelText">
                    @eTurns.DTO.Resources.ResNarrowSearch.To
                </label>
                <input id="DateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                       class="text-box" />
                <a href="javascript:;" title="" class="datePicker" id="ancDateUTo">
                    <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                </a>
            </div>
        </div>
    </li>

    @Html.RenderUDFForNarrowSearch(Model.PageName)
    @if (Model.PageName == "ToolMaster" || Model.PageName == "KitToolMaster")
    {
        @Html.RenderUDFForNarrowSearchForItemModel("ToolCheckInOutHistory", Model.IDsufix, "")
        @Html.RenderUDFForNarrowSearchForItemModel("TechnicianMaster", Model.IDsufix2, "")
    }
    @if (Model.PageName == "ToolMasterNew" || Model.PageName == "KitToolMasterNew")
    {
        @Html.RenderUDFForNarrowSearchForItemModel("ToolCheckInOutHistory", Model.IDsufix, "")
        @Html.RenderUDFForNarrowSearchForItemModel("TechnicianMaster", Model.IDsufix2, "")
    }
    @if (Model.PageName == "CartItemList")
    {
        @Html.RenderUDFForNarrowSearchForItemModel("ItemMaster", "_CartListItem", "")
    }
</ul>


    <input id="NarroSearchClear" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />

    @{ Html.RenderPartial("NarrowSearchSave", Model);}
    @*<input id="NarroSearchGo" type="button" value="Search" class="CreateBtn" />*@
</div>
<script type="text/javascript">
    var WorkOrderType = '@eTurns.DTO.Resources.ResNarrowSearch.WorkOrderType';
    var CustomerNS = '@eTurns.DTO.Resources.ResNarrowSearch.Customer';
    var AssetNS = '@eTurns.DTO.Resources.ResNarrowSearch.Asset';
    var ToolNS = '@eTurns.DTO.Resources.ResNarrowSearch.Tool';
    var WOStatusNS = '@eTurns.DTO.ResWorkOrder.WOStatus';

</script>
<script type='text/javascript' src="@Url.Content("~/Scripts/PageScripts/NarrowSearchLayout.js?v=" + version)"></script>

<script type="text/javascript">
    //NARROW BY SEARCH
    var ICLNarroValues = "";
    var UserCreatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby';
    var UserUpdatedby = '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby';
    var UpdatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.Updatedby';
    var CreatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.Createdby';
    var selected = '@eTurns.DTO.Resources.ResNarrowSearch.selected';

    var Manufacturer = '@eTurns.DTO.Resources.ResNarrowSearch.Manufacturer';
    var Supplier = '@eTurns.DTO.Resources.ResNarrowSearch.Supplier';
    var Category = '@eTurns.DTO.Resources.ResNarrowSearch.Category';

    var ItemTypeNarrowSearch = '@eTurns.DTO.Resources.ResNarrowSearch.ItemType';
    var InventoryClassificationNarrowSearch = '@eTurns.DTO.Resources.ResNarrowSearch.InventoryClassification';
    var ItemLocation = '@eTurns.DTO.Resources.ResNarrowSearch.ItemLocation';
    var ItemTrackingType = '@eTurns.DTO.Resources.ResNarrowSearch.ItemTrackingType';
    var ProjectSpend = '@eTurns.DTO.Resources.ResNarrowSearch.ProjectSpend';
    var WorkOrder = '@eTurns.DTO.Resources.ResNarrowSearch.WorkOrder';
    var Requisition = '@eTurns.DTO.Resources.ResNarrowSearch.Requisition';
    var OrderNumber = '@eTurns.DTO.Resources.ResNarrowSearch.OrderNumber';
    var AccountNumber = '@eTurns.DTO.Resources.ResNarrowSearch.SupplierAccountNumber';
    var Items = '@eTurns.DTO.Resources.ResNarrowSearch.Items';
    var StockStatus = '@eTurns.DTO.Resources.ResNarrowSearch.StockStatus'
    var ModuleType = '@eTurns.DTO.Resources.ResNarrowSearch.ModuleType';

    var ActionType = '@eTurns.DTO.Resources.ResNarrowSearch.ActionType';
    var TechnicianList = '@eTurns.DTO.Resources.ResNarrowSearch.Technician';
    var ToolsCategory = '@eTurns.DTO.Resources.ResNarrowSearch.ToolsCategory';
    var vAssetsCategory = '@eTurns.DTO.Resources.ResNarrowSearch.AssetsCategory';
    var ToolsLocation = '@eTurns.DTO.Resources.ResNarrowSearch.ToolsLocation';
    var ItemNumberNarrowSearch = '@eTurns.DTO.Resources.ResNarrowSearch.ItemNumber';
    var BinNumberNarrowSearch = '@eTurns.DTO.Resources.ResNarrowSearch.BinNumber';
    var ToolsMaintenance = '@eTurns.DTO.Resources.ResNarrowSearch.ToolsMaintenance';
    var sConsignment = '@eTurns.DTO.Resources.ResNarrowSearch.Consignment';
    var ReplenishType = '@eTurns.DTO.Resources.ResNarrowSearch.ReplenishType';
    var Check = '@eTurns.DTO.Resources.ResNarrowSearch.Check';
    var UnCheck = '@eTurns.DTO.Resources.ResNarrowSearch.UnCheck';
    var Filter = '@eTurns.DTO.Resources.ResNarrowSearch.Filter';
    var Enterkeywords = '@eTurns.DTO.Resources.ResNarrowSearch.Enterkeywords';
    var QuoteStatus = '@eTurns.DTO.ResQuoteMaster.QuoteStatus';
    var loadNarrowSearchDataCount = '@LoadDataCount';
    var IDsufix = '@Model.IDsufix', IDsufix2 = '@Model.IDsufix2';
    var ItemModelCallFrom = '@Model.ControlID', ItemModelParentID = '@Model.ID';

    _NarrowSearchLayout.init('@Model.PageName',
         '@Model.ListName',
        '@eTurnsWeb.Helper.SessionHelper.CompanyID'
        , '@eTurnsWeb.Helper.SessionHelper.RoomID'
        ,@eTurnsWeb.Helper.SessionHelper.EnterPriceID);

    var PageName = _NarrowSearchLayout.pageName;
    //GetNarroHTML('UserMaster', 'UserName', 1, 1);
</script>