@model eTurns.DTO.SupplierCatalogNS
@{

    string SuppName = "";
    if (Model.PageName == "BOMList")
    {

    }
    else if (Model.PageName.ToLower() == "suppliercatalog" && Model.ShowSupplirSearch == false)
    {
        SuppName = Model.Value;
    }

}
<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandNarrowSearchSC">
        <img src="~/Content/images/open.png" /></a>
</div>
<div class="IteamBlock" style="min-height:700px">
    <a class="closedBtn" id="CollapseNarrowSearchSC">
        <img src="~/Content/images/closed.png" /></a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="NarrowUL">
        @if (Model.PageName.ToLower() == "suppliercatalog")
        {
            if (Model.ShowSupplirSearch)
            {
            <li>
                <select id="CatalogSupplier" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="CatalogSupplierCollapse">
                    </div>
                </div>
            </li>
            }
            <li>
                <select id="CatalogManufacturer" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="CatalogManufacturerCollapse">
                    </div>
                </div>
            </li>
        }
        @if (Model.PageName.ToLower() == "bomlist")
        {
            <li style="display: none;">
                <select id="BomRoom" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="BomRoomCollapse">
                    </div>
                </div>
            </li>
            <li>
                <select id="BomSupplier" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="BomSupplierCollapse">
                    </div>
                </div>
            </li>
         
            <li>
                <select id="BomManufacturer" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="BomManufacturerCollapse">
                    </div>
                </div>
            </li>
            <li>
                <select id="BomCategory" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="BomCategoryCollapse">
                    </div>
                </div>
            </li>
            <li>
                <select id="BomItemType" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="BomItemTypeCollapse">
                    </div>
                </div>
            </li>
            <li>
                <select id="BOMCreatedBy" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion" id="accordion4">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24" /></a>
                    <div class='dropcontent' id="BOMCreatedByCollapse">
                    </div>
                </div>
            </li>
            <li>
                <select id="BOMUpdatedBy" multiple="multiple" name="example-basic" size="5">
                </select>
                <div class="accordion" id="accordion5">
                    <a href='javascript:void(0);' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                    <div class='dropcontent' id="BOMUpdatedByCollapse">
                    </div>
                </div>
            </li>
            <li style="float: left;">
                <div class="dateForm">
                    <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                    <div style="float: right; margin-top: -24px; cursor: pointer;">
                        <img id="BOMDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" /></div>
                    <div class="divLabel" style="padding-bottom: 4px;">
                        <label for="From" class="labelText">
                            @eTurns.DTO.Resources.ResNarrowSearch.From</label>
                        <input id="BOMDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                            data-val="true" class="text-box" />
                        <a href="javascript:void(0);" title="" class="datePicker" id="ancBOMDateCFrom">
                            <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
                    <div class="divLabel">
                        <label for="To" class="labelText">
                            @eTurns.DTO.Resources.ResNarrowSearch.To</label>
                        <input id="BOMDateCTo" type="text" value="" name="To" data-val-length-max="20"
                            data-val="true" class="text-box" />
                        <a href="javascript:void(0);" title="" class="datePicker" id="ancBOMDateCTo">
                            <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
                </div>
            </li>
            <li style="float: left;">
                <div class="dateForm">
                    <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                    <div style="float: right; margin-top: -24px; cursor: pointer;">
                        <img id="BOMDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" /></div>
                    <div class="divLabel" style="padding-bottom: 4px;">
                        <label for="From" class="labelText">
                            @eTurns.DTO.Resources.ResNarrowSearch.From</label>
                        <input id="BOMDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                            data-val="true" class="text-box" />
                        <a href="javascript:void(0);" title="" class="datePicker" id="ancBOMDateUFrom">
                            <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
                    <div class="divLabel">
                        <label for="To" class="labelText">
                            @eTurns.DTO.Resources.ResNarrowSearch.To</label>
                        <input id="BOMDateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                            class="text-box" />
                        <a href="javascript:void(0);" title="" class="datePicker" id="ancBOMDateUTo">
                            <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
                </div>
            </li>
            
        }
    </ul>
    <input id="NarroSearchClearSC" type="button" value="@ResNarrowSearch.Clear" class="CreateBtn" />
</div>
<script type="text/javascript">

    var selected = '@eTurns.DTO.Resources.ResNarrowSearch.selected';
    var Supplier = '@eTurns.DTO.Resources.ResNarrowSearch.Supplier';
    var Manufacturer = '@eTurns.DTO.Resources.ResNarrowSearch.Manufacturer';
    var Category = '@eTurns.DTO.Resources.ResNarrowSearch.Category';
    var ItemType = '@eTurns.DTO.Resources.ResNarrowSearch.ItemType';
    var CreatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.Createdby';
    var UpdatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.Updatedby';
    var RoomResourceName = '@eTurns.DTO.Resources.ResNarrowSearch.Room';
    var CatalogSupplierNarroValues = "";
    var CatalogManufacturerNarroValues = "";
    var BomRoomNarroValues = "";
    var BomSupplierNarroValues = "";
    var BomManufacturerNarroValues = "";
    var BomCategoryNarroValues = "";
    var BomItemTypeNarroValues = "";
    var BomCreatedByNarroValues = "";
    var BomUpdatedByNarroValues = "";
    var _SuppName = '@SuppName';
    $(document).ready(function () {
        var _IsArchived = false;
        var _IsDeleted = false;
        if ('@Model.PageName.ToLower()' == 'suppliercatalog') {
            GetSupplierNarrowSearches('@Model.PageName', _IsArchived, _IsDeleted);
        }
        if ('@Model.PageName.ToLower()' == 'bomlist') {
            GetbomNarrowSearches('@Model.PageName', _IsArchived, _IsDeleted);
        }
        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

    });



    $('#NarroSearchGo').click(function () {
        DoNarrowSearchSC();
    });

    $('#BOMDateCreatedClear').click(function () {
        if ($('#BOMDateCFrom').val() != '' || $('#BOMDateCTo').val() != '') {
            $('#BOMDateCFrom').val('');
            $('#BOMDateCTo').val('');
            //NarrowSearchInGrid('');
            DoNarrowSearchSC();
        }
    });
    $('#BOMDateUpdatedClear').click(function () {
        if ($('#BOMDateUFrom').val() != '' || $('#BOMDateUTo').val() != '') {
            $('#BOMDateUFrom').val('');
            $('#BOMDateUTo').val('');
            //NarrowSearchInGrid('');
            DoNarrowSearchSC();
        }
    });

    //CLEAR NARROW SEARCH ..
    $('#NarroSearchClearSC').click(function () {

        if (typeof ($("#CatalogSupplier").multiselect("getChecked").length) != undefined && $("#CatalogSupplier").multiselect("getChecked").length > 0) {
            $("#CatalogSupplier").multiselect("uncheckAll");
            $("#CatalogSupplierCollapse").html('');
        }
        if (typeof ($("#CatalogManufacturer").multiselect("getChecked").length) != undefined && $("#CatalogManufacturer").multiselect("getChecked").length > 0) {
            $("#CatalogManufacturer").multiselect("uncheckAll");
            $("#CatalogManufacturerCollapse").html('');
        }
        if (typeof ($("#BomRoom").multiselect("getChecked").length) != undefined && $("#BomRoom").multiselect("getChecked").length > 0) {
            $("#BomRoom").multiselect("uncheckAll");
            $("#BomRoomCollapse").html('');
        }
        if (typeof ($("#BomSupplier").multiselect("getChecked").length) != undefined && $("#BomSupplier").multiselect("getChecked").length > 0) {
            $("#BomSupplier").multiselect("uncheckAll");
            $("#BomSupplierCollapse").html('');
        }
        if (typeof ($("#BomManufacturer").multiselect("getChecked").length) != undefined && $("#BomManufacturer").multiselect("getChecked").length > 0) {
            $("#BomManufacturer").multiselect("uncheckAll");
            $("#BomManufacturerCollapse").html('');
        }
        if (typeof ($("#BomCategory").multiselect("getChecked").length) != undefined && $("#BomCategory").multiselect("getChecked").length > 0) {
            $("#BomCategory").multiselect("uncheckAll");
            $("#BomCategoryCollapse").html('');
        }
        if (typeof ($("#BomItemType").multiselect("getChecked").length) != undefined && $("#BomItemType").multiselect("getChecked").length > 0) {
            $("#BomItemType").multiselect("uncheckAll");
            $("#BomItemTypeCollapse").html('');
        }
        if (typeof ($("#BOMCreatedBy").multiselect("getChecked").length) != undefined && $("#BOMCreatedBy").multiselect("getChecked").length > 0) {
            $("#BOMCreatedBy").multiselect("uncheckAll");
            $("#BOMCreatedByCollapse").html('');
        }
        if (typeof ($("#BOMUpdatedBy").multiselect("getChecked").length) != undefined && $("#BOMUpdatedBy").multiselect("getChecked").length > 0) {
            $("#BOMUpdatedBy").multiselect("uncheckAll");
            $("#BOMUpdatedByCollapse").html('');
        }

        if ($('#BOMDateCFrom').val() != '') $('#BOMDateCFrom').val('');
        if ($('#BOMDateCTo').val() != '') $('#BOMDateCTo').val('');
        if ($('#BOMDateUFrom').val() != '') $('#BOMDateUFrom').val('');
        if ($('#BOMDateUTo').val() != '') $('#BOMDateUTo').val('');

        $('input[type="search"]').val('').trigger('keyup');

        if ($('#ClearFilterSupplierCatalogItems').val() != '') $('#ClearFilterSupplierCatalogItems').val('');

        $("#FilterSupplierCatalogItems").val("");
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        NarrowSearchInGridSC('');
    });

    function GetSupplierNarrowSearches(_TableName, _IsArchived, _IsDeleted) {

        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'SupplierName', IsArchived: _IsArchived, IsDeleted: _IsDeleted, ItemModelCallFrom: _SuppName },
            success: function (response) {
                var s = '';

                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#CatalogSupplier").empty();
                $("#CatalogSupplier").multiselect('destroy');
                $("#CatalogSupplier").multiselectfilter('destroy');

                $("#CatalogSupplier").append(s);
                $("#CatalogSupplier").multiselect
            (
                {
                    checkAllText: Check,
                    uncheckAllText: UnCheck,
                    noneSelectedText: Supplier, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return Supplier + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#CatalogSupplierCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#CatalogSupplierCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#CatalogSupplierCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#CatalogSupplierCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#CatalogSupplierCollapse").text().indexOf(ui.text) == -1) {
                        $("#CatalogSupplierCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#CatalogSupplierCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#CatalogSupplierCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#CatalogSupplierCollapse").html(text);
                    }
                    else
                        $("#CatalogSupplierCollapse").html('');
                }
                CatalogSupplierNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#CatalogSupplierCollapse").text().trim() != '')
                    $("#CatalogSupplierCollapse").show();
                else
                    $("#CatalogSupplierCollapse").hide();


                if ($("#CatalogSupplierCollapse").find('span').length <= 2) {
                    $("#CatalogSupplierCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#CatalogSupplierCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter({ label: Filter, placeholder: Enterkeywords });
            },
            error: function (response) {
                // through errror message
            }
        });

        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'ManufacturerName', IsArchived: _IsArchived, IsDeleted: _IsDeleted, ItemModelCallFrom: _SuppName },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#CatalogManufacturer").empty();
                $("#CatalogManufacturer").multiselect('destroy');
                $("#CatalogManufacturer").multiselectfilter('destroy');

                $("#CatalogManufacturer").append(s);
                $("#CatalogManufacturer").multiselect
            (
                {
                    checkAllText: '@ResNarrowSearch.Check',
                    uncheckAllText: '@ResNarrowSearch.UnCheck',
                    noneSelectedText: Manufacturer, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return Manufacturer + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#CatalogManufacturerCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#CatalogManufacturerCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#CatalogManufacturerCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#CatalogManufacturerCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#CatalogManufacturerCollapse").text().indexOf(ui.text) == -1) {
                        $("#CatalogManufacturerCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#CatalogManufacturerCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#CatalogManufacturerCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#CatalogManufacturerCollapse").html(text);
                    }
                    else {
                        $("#CatalogManufacturerCollapse").html('');
                    }
                }
                CatalogManufacturerNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#CatalogManufacturerCollapse").text().trim() != '')
                    $("#CatalogManufacturerCollapse").show();
                else
                    $("#CatalogManufacturerCollapse").hide();


                if ($("#CatalogManufacturerCollapse").find('span').length <= 2) {
                    $("#CatalogManufacturerCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#CatalogManufacturerCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter({ label: '@ResNarrowSearch.Filter', placeholder: '@ResNarrowSearch.Enterkeywords' });
            },
            error: function (response) {
                // through errror message
            }
        });


    }

    function GetbomNarrowSearches(_TableName, _IsArchived, _IsDeleted) {
        //if ($('#BOMDateCFrom').val() != '') $('#BOMDateCFrom').val('');
        //if ($('#BOMDateCTo').val() != '') $('#BOMDateCTo').val('');
        //if ($('#BOMDateUFrom').val() != '') $('#BOMDateUFrom').val('');
        //if ($('#BOMDateUTo').val() != '') $('#BOMDateUTo').val('');

        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'SupplierName', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';

                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#BomSupplier").empty();
                $("#BomSupplier").multiselect('destroy');
                $("#BomSupplier").multiselectfilter('destroy');
                //$("#BomSupplierCollapse").html('');
                //$("#BomSupplierCollapse").hide();
                $("#BomSupplier").append(s);
                $("#BomSupplier").multiselect
            (
                { noneSelectedText: Supplier, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return Supplier + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#BomSupplierCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#BomSupplierCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#BomSupplierCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#BomSupplierCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#BomSupplierCollapse").text().indexOf(ui.text) == -1) {
                        $("#BomSupplierCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#BomSupplierCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#BomSupplierCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#BomSupplierCollapse").html(text);
                    }
                    else
                        $("#BomSupplierCollapse").html('');
                }
                BomSupplierNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#BomSupplierCollapse").text().trim() != '')
                    $("#BomSupplierCollapse").show();
                else
                    $("#BomSupplierCollapse").hide();


                if ($("#BomSupplierCollapse").find('span').length <= 2) {
                    $("#BomSupplierCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#BomSupplierCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });

        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'ManufacturerName', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });

                //alert('test');
                //Destroy widgets before reapplying the filter
                $("#BomManufacturer").empty();
                $("#BomManufacturer").multiselect('destroy');
                $("#BomManufacturer").multiselectfilter('destroy');
                //$("#BomManufacturerCollapse").html('');
                //$("#BomManufacturerCollapse").hide();
                $("#BomManufacturer").append(s);
                $("#BomManufacturer").multiselect
            (
                { noneSelectedText: Manufacturer, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return Manufacturer + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#BomManufacturerCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#BomManufacturerCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#BomManufacturerCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#BomManufacturerCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#BomManufacturerCollapse").text().indexOf(ui.text) == -1) {
                        $("#BomManufacturerCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#BomManufacturerCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#BomManufacturerCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#BomManufacturerCollapse").html(text);
                    }
                    else {
                        $("#BomManufacturerCollapse").html('');
                    }
                }
                BomManufacturerNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#BomManufacturerCollapse").text().trim() != '')
                    $("#BomManufacturerCollapse").show();
                else
                    $("#BomManufacturerCollapse").hide();


                if ($("#BomManufacturerCollapse").find('span').length <= 2) {
                    $("#BomManufacturerCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#BomManufacturerCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'RoomName', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#BomRoom").empty();
                $("#BomRoom").multiselect('destroy');
                $("#BomRoom").multiselectfilter('destroy');
                $("#BomRoomCollapse").html('');
                $("#BomRoomCollapse").hide();
                var narrowsearchtext = "Room";
                if (typeof RoomResourceName != 'undefined') {
                    narrowsearchtext = RoomResourceName;
                }
                $("#BomRoom").append(s);
                $("#BomRoom").multiselect
            (
                {
                    noneSelectedText: narrowsearchtext, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return narrowsearchtext + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#BomRoomCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#BomRoomCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#BomRoomCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#BomRoomCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#BomRoomCollapse").text().indexOf(ui.text) == -1) {
                        $("#BomRoomCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#BomRoomCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#BomRoomCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#BomRoomCollapse").html(text);
                    }
                    else {
                        $("#BomRoomCollapse").html('');
                    }
                }
                BomRoomNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#BomRoomCollapse").text().trim() != '')
                    $("#BomRoomCollapse").show();
                else
                    $("#BomRoomCollapse").hide();


                if ($("#BomRoomCollapse").find('span').length <= 2) {
                    $("#BomRoomCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#BomRoomCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'CategoryName', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#BomCategory").empty();
                $("#BomCategory").multiselect('destroy');
                $("#BomCategory").multiselectfilter('destroy');
                $("#BomCategoryCollapse").html('');
                $("#BomCategoryCollapse").hide();

                $("#BomCategory").append(s);
                $("#BomCategory").multiselect
            (
                { noneSelectedText: Category, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return Category + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#BomCategoryCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#BomCategoryCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#BomCategoryCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#BomCategoryCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#BomCategoryCollapse").text().indexOf(ui.text) == -1) {
                        $("#BomCategoryCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#BomCategoryCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#BomCategoryCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#BomCategoryCollapse").html(text);
                    }
                    else {
                        $("#BomCategoryCollapse").html('');
                    }
                }
                BomCategoryNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#BomCategoryCollapse").text().trim() != '')
                    $("#BomCategoryCollapse").show();
                else
                    $("#BomCategoryCollapse").hide();


                if ($("#BomCategoryCollapse").find('span').length <= 2) {
                    $("#BomCategoryCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#BomCategoryCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'ItemType', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#BomItemType").empty();
                $("#BomItemType").multiselect('destroy');
                $("#BomItemType").multiselectfilter('destroy');
                $("#BomItemTypeCollapse").html('');
                $("#BomItemTypeCollapse").hide();
                $("#BomItemType").append(s);
                $("#BomItemType").multiselect
            (
                { noneSelectedText: ItemType, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return ItemType + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#BomItemTypeCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#BomItemTypeCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#BomItemTypeCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#BomItemTypeCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#BomItemTypeCollapse").text().indexOf(ui.text) == -1) {
                        $("#BomItemTypeCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#BomItemTypeCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#BomItemTypeCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#BomItemTypeCollapse").html(text);
                    }
                    else {
                        $("#BomItemTypeCollapse").html('');
                    }
                }
                BomItemTypeNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#BomItemTypeCollapse").text().trim() != '')
                    $("#BomItemTypeCollapse").show();
                else
                    $("#BomItemTypeCollapse").hide();


                if ($("#BomItemTypeCollapse").find('span').length <= 2) {
                    $("#BomItemTypeCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#BomItemTypeCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'CreatedBy', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#BOMCreatedBy").empty();
                $("#BOMCreatedBy").multiselect('destroy');
                $("#BOMCreatedBy").multiselectfilter('destroy');
                $("#BOMCreatedByCollapse").html('');
                $("#BOMCreatedByCollapse").hide();
                $("#BOMCreatedBy").append(s);
                $("#BOMCreatedBy").multiselect
            (
                { noneSelectedText: CreatedBy, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return CreatedBy + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#BOMCreatedByCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#BOMCreatedByCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#BOMCreatedByCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#BOMCreatedByCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#BOMCreatedByCollapse").text().indexOf(ui.text) == -1) {
                        $("#BOMCreatedByCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#BOMCreatedByCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#BOMCreatedByCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#BOMCreatedByCollapse").html(text);
                    }
                    else {
                        $("#BOMCreatedByCollapse").html('');
                    }
                }
                BomCreatedByNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#BOMCreatedByCollapse").text().trim() != '')
                    $("#BOMCreatedByCollapse").show();
                else
                    $("#BOMCreatedByCollapse").hide();


                if ($("#BOMCreatedByCollapse").find('span').length <= 2) {
                    $("#BOMCreatedByCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#BOMCreatedByCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'UpdatedBy', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#BOMUpdatedBy").empty();
                $("#BOMUpdatedBy").multiselect('destroy');
                $("#BOMUpdatedBy").multiselectfilter('destroy');
                $("#BOMUpdatedByCollapse").html('');
                $("#BOMUpdatedByCollapse").hide();

                $("#BOMUpdatedBy").append(s);
                $("#BOMUpdatedBy").multiselect
            (
                { noneSelectedText: UpdatedBy, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return RoomResourceName + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#BOMUpdatedByCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#BOMUpdatedByCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#BOMUpdatedByCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#BOMUpdatedByCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#BOMUpdatedByCollapse").text().indexOf(ui.text) == -1) {
                        $("#BOMUpdatedByCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#BOMUpdatedByCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#BOMUpdatedByCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#BOMUpdatedByCollapse").html(text);
                    }
                    else {
                        $("#BOMUpdatedByCollapse").html('');
                    }
                }
                BomUpdatedByNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#BOMUpdatedByCollapse").text().trim() != '')
                    $("#BOMUpdatedByCollapse").show();
                else
                    $("#BOMUpdatedByCollapse").hide();


                if ($("#BOMUpdatedByCollapse").find('span').length <= 2) {
                    $("#BOMUpdatedByCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#BOMUpdatedByCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });


    }



</script>
<script type="text/javascript">

    /* COMMON FUNCTION TO NARROW SEARCH HIDE/SHOW ALONG WITH STATE SAVED : Dec 24, 2012 : IJ */


    $(document).ready(function () {
        $('#ExpandNarrowSearchSC').click(function (e) {
            ExpandNarrowSearchSC();
        });
        $('#CollapseNarrowSearchSC').click(function (e) {
            CollapseNarrowSearchSC();
        });
        var NarrowSearchStateSC = getCookieIM('NarrowSearchStateSC');

        if (NarrowSearchStateSC == 'Expanded') {
            CollapseNarrowSearchSC();
        }
        else {
            ExpandNarrowSearchSC();
        }

        //        GetNarroHTMLForItemTypeIM();
    });

    function ExpandNarrowSearchSC() {
        var w = $('#ItemModelPS .IteamBlock').css("width");
        $('#ItemModelPS .IteamBlock').show();
        $('#ItemModelPS .IteamBlock').stop().animate({
            width: "18%"
        }, 0, function () {
            $('#ItemModelPS .userContent').css({ "width": "80.5%", "margin": "0" });
            $('#CatalogItemDataTable_length').css({ "left": "0px" });
            $('#CatalogItemDataTable_paginate').css({ "left": "145px" });
            $('#ItemModelPS .leftopenContent').css({ "display": "none" });
            setCookieIM('NarrowSearchStateSC', 'Collapsed');
        });
    }

    function CollapseNarrowSearchSC() {
        $('#ItemModelPS .IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('#ItemModelPS .IteamBlock').hide();
            $('#ItemModelPS .userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#CatalogItemDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#CatalogItemDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('#ItemModelPS .leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchStateSC', 'Expanded');
        });
    }

    function getCookieIM(name) {
        var arg = name + "=";
        var alen = arg.length;
        var clen = document.cookie.length;
        var i = 0;
        while (i < clen) {
            var j = i + alen;
            if (document.cookie.substring(i, j) == arg) {
                return getCookieValIM(j);
            }
            i = document.cookie.indexOf(" ", i) + 1;
            if (i == 0) break;
        }
        return null;
    }

    function getCookieValIM(offset) {
        var endstr = document.cookie.indexOf(";", offset);
        if (endstr == -1) { endstr = document.cookie.length; }
        return unescape(document.cookie.substring(offset, endstr));
    }

    function setCookieIM(name, value, days) {
        if (typeof days != "undefined") { //if set persistent cookie
            var expireDate = new Date();
            expireDate.setDate(expireDate.getDate() + days);
            document.cookie = name + "=" + value + "; path=/; expires=" + expireDate.toGMTString() + " ;SameSite=Strict;";
        }
        else //else if this is a session only cookie
            document.cookie = name + "=" + value + "; path=/ ;SameSite=Strict;";
    }

    /* COMMON FUNCTION TO NARROW SEARCH HIDE/SHOW ALONG WITH STATE SAVED : Dec 24, 2012 : IJ */

    /* CLEAR NARROW SEARCH - START */
    function clearNarrowSearchFilterIM() {

        if (typeof ($("#CatalogSupplier").multiselect("getChecked").length) != undefined && $("#CatalogSupplier").multiselect("getChecked").length > 0) {
            $("#CatalogSupplier").multiselect("uncheckAll");
            $("#CatalogSupplierCollapse").html('');
        }

        if (typeof ($("#CatalogManufacturer").multiselect("getChecked").length) != undefined && $("#CatalogManufacturer").multiselect("getChecked").length > 0) {
            $("#CatalogManufacturer").multiselect("uncheckAll");
            $("#CatalogManufacturerCollapse").html('');
        }
        if (typeof ($("#BomRoom").multiselect("getChecked").length) != undefined && $("#BomRoom").multiselect("getChecked").length > 0) {
            $("#BomRoom").multiselect("uncheckAll");
            $("#BomRoomCollapse").html('');
        }
        if (typeof ($("#BomCategory").multiselect("getChecked").length) != undefined && $("#BomCategory").multiselect("getChecked").length > 0) {
            $("#BomCategory").multiselect("uncheckAll");
            $("#BomCategoryCollapse").html('');
        }
        if (typeof ($("#BomItemType").multiselect("getChecked").length) != undefined && $("#BomItemType").multiselect("getChecked").length > 0) {
            $("#BomItemType").multiselect("uncheckAll");
            $("#BomItemTypeCollapse").html('');
        }
        if (typeof ($("#BOMCreatedBy").multiselect("getChecked").length) != undefined && $("#BOMCreatedBy").multiselect("getChecked").length > 0) {
            $("#BOMCreatedBy").multiselect("uncheckAll");
            $("#BOMCreatedByCollapse").html('');
        }
        if (typeof ($("#BOMUpdatedBy").multiselect("getChecked").length) != undefined && $("#BOMUpdatedBy").multiselect("getChecked").length > 0) {
            $("#BOMUpdatedBy").multiselect("uncheckAll");
            $("#BOMUpdatedByCollapse").html('');
        }

        if ($('#BOMDateCFrom').val() != '') $('#BOMDateCFrom').val('');
        if ($('#BOMDateCTo').val() != '') $('#BOMDateCTo').val('');
        if ($('#BOMDateUFrom').val() != '') $('#BOMDateUFrom').val('');
        if ($('#BOMDateUTo').val() != '') $('#BOMDateUTo').val('');

    }
    /* CLEAR NARROW SEARCH - END */

    /* CLEAR GLOBAL FILTER IF NOT IN FOCUS - START */
    function clearGlobalIMIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'FilterSupplierCatalogItems')
            $("#FilterSupplierCatalogItems").val('');
    }
    /* CLEAR GLOBAL FILTER IF NOT IN FOCUS - END */
    function DoNarrowSearchSC() {
        var narrowSearchFields = '';
        var narrowSearchValues = '';
        var narrowSearchItem = '';


        if (CatalogSupplierNarroValues != undefined && CatalogSupplierNarroValues.length > 0) {
            narrowSearchFields += "SupplierName" + ",";
            narrowSearchValues += CatalogSupplierNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "SupplierName" + ",";
            narrowSearchValues += '@("@")';
        }

        if (CatalogManufacturerNarroValues != undefined && CatalogManufacturerNarroValues.length > 0) {
            narrowSearchFields += "ManufacturerName" + ",";
            narrowSearchValues += CatalogManufacturerNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "ManufacturerName" + ",";
            narrowSearchValues += '@("@")';
        }
        if (BomRoomNarroValues != undefined && BomRoomNarroValues.length > 0) {
            narrowSearchFields += "RoomName" + ",";
            narrowSearchValues += BomRoomNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "RoomName" + ",";
            narrowSearchValues += '@("@")';
        }
        if (BomSupplierNarroValues != undefined && BomSupplierNarroValues.length > 0) {
            narrowSearchFields += "Supplier" + ",";
            narrowSearchValues += BomSupplierNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "Supplier" + ",";
            narrowSearchValues += '@("@")';
        }

        if (BomManufacturerNarroValues != undefined && BomManufacturerNarroValues.length > 0) {
            narrowSearchFields += "Manufacturer" + ",";
            narrowSearchValues += BomManufacturerNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "Manufacturer" + ",";
            narrowSearchValues += '@("@")';
        }
        if (BomCategoryNarroValues != undefined && BomCategoryNarroValues.length > 0) {
            narrowSearchFields += "Category" + ",";
            narrowSearchValues += BomCategoryNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "Category" + ",";
            narrowSearchValues += '@("@")';
        }
        if (BomItemTypeNarroValues != undefined && BomItemTypeNarroValues.length > 0) {
            narrowSearchFields += "ItemType" + ",";
            narrowSearchValues += BomItemTypeNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "ItemType" + ",";
            narrowSearchValues += '@("@")';
        }
        if (BomUpdatedByNarroValues != undefined && BomUpdatedByNarroValues.length > 0) {
            narrowSearchFields += "UpdatedBy" + ",";
            narrowSearchValues += BomUpdatedByNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "UpdatedBy" + ",";
            narrowSearchValues += '@("@")';
        }
        if (BomCreatedByNarroValues != undefined && BomCreatedByNarroValues.length > 0) {
            narrowSearchFields += "CreatedBy" + ",";
            narrowSearchValues += BomCreatedByNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "CreatedBy" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////
        if ($('#BOMDateCFrom').val() != '' && $('#BOMDateCTo').val() != '') {
            narrowSearchFields += "DateCreatedFrom" + ",";
            narrowSearchValues +=($('#BOMDateCFrom').val()) + "," + ($('#BOMDateCTo').val())+ '@("@")';
        }
        else {
            narrowSearchFields += "DateCreatedFrom" + ",";
            narrowSearchValues += '@("@")';
        }
        ////////////////////////////////////////////////////////////////////////////////////////////////
        if ($('#BOMDateUFrom').val() != '' && $('#BOMDateUTo').val() != '') {
            narrowSearchFields += "DateUpdatedFrom" + ",";
            narrowSearchValues +=($('#BOMDateUFrom').val()) + "," + ($('#BOMDateUTo').val())+ '@("@")';
        }
        else {
            narrowSearchFields += "DateUpdatedFrom" + ",";
            narrowSearchValues += '@("@")';
        }
        //narrowSearch = 'STARTWITH#' + narrowSearchItem;
        if (narrowSearchValues.replace(/@("@")/g, '') == '')
            NarrowSearchInGridSC('');
        else {
            narrowSearch = narrowSearchFields + "[###]" + narrowSearchValues;

            if (narrowSearch.length > 10)
                NarrowSearchInGridSC(narrowSearch);
            else if (UserCreatedNarroValues == undefined || UserCreatedNarroValues.length == 0 ||
             UserUpdatedNarroValues == undefined || UserUpdatedNarroValues.length == 0)
                NarrowSearchInGridSC(narrowSearch);
        }

    }
    function NarrowSearchInGridSC(searchstr) {
        if ('@Model.PageName.ToLower()' == 'suppliercatalog') {
            $('#CatalogItemDataTable').dataTable().fnFilter(searchstr, null, null, null)
        }
        if ('@Model.PageName.ToLower()' == 'bomlist') {

            $('#BOMItemDataTable').dataTable().fnFilter(searchstr, null, null, null)
        }
    }
</script>
