@model eTurns.DTO.CommonDTO

<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandNarrowSearchIM">
        <img src="~/Content/images/open.png" />
    </a>
</div>
@{
    string modelText = string.Empty;
    if (!String.IsNullOrEmpty(Model.Text))
    {
        modelText = Model.Text;
    }
    var vers = eTurnsWeb.Helper.CommonUtility.GetReleaseNumber();
    RouteValueDictionary obj = new RouteValueDictionary();
    obj = ViewContext.Controller.ControllerContext.RouteData.Values;
    string ControllerName = Convert.ToString(obj["controller"]);
    string ActionName = Convert.ToString(obj["action"]);
}
<div class="IteamBlock" style="min-height:800px">
    <a class="closedBtn" id="CollapseNarrowSearchIM">
        <img src="~/Content/images/closed.png" />
    </a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    @*<h3>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h3>*@
<ul id="divNarrowULForIM">
    @if (!(!string.IsNullOrEmpty(Model.Text) && (Model.Text.ToLower() == "order" || Model.Text.ToLower() == "inventory count")))
    {
        if (ActionName == "NewPull" || (ControllerName == "WorkOrder" && ActionName == "LoadItemMasterModel"))
        {
            @*<li>
                    @eTurns.DTO.ResMaterialStagingDetail.StagingBinName:
                    <input type="checkbox" id="chkPullStagingLocOnly" class="check-box" />
                </li>*@

            <li id="liStageLocationHeaderIM" attrsortOrder="1">
                <p class="handle"><img /></p>
                <select id="StageLocationHeaderIM" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="StageLocationHeaderCollapseIM">
                    </div>
                </div>

            </li>

            <li id="liStageLocationIM" attrsortOrder="2">
                <p class="handle"><img /></p>
                <select id="StageLocationIM" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="StageLocationCollapseIM">
                    </div>
                </div>

            </li>

        }
        if (ActionName == "LoadItemMasterModel" && ControllerName == "Order")
        {
            <li attrsortOrder="3">

                <p class="handle"><img /></p>

                <select id="PullSupplierOrd" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="PullSupplierCollapseOrd">
                    </div>
                </div>
            </li>
        }
        else if (!string.IsNullOrEmpty(Model.ControlID) && !string.IsNullOrWhiteSpace(Model.ControlID) && Model.ControlID.ToLower() == "movemtr")
        {
            <li attrsortOrder="3">

                <p class="handle"><img /></p>

                <select id="PullSupplierIM" class="showloadmore" data-unique="pullsupplierim" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="PullSupplierCollapseIM">
                    </div>
                </div>
            </li>
        }
        else
        {
            <li attrsortOrder="3">

                <p class="handle"><img /></p>

                <select id="PullSupplierIM" multiple="multiple" name="example-basic" size="5"></select>
                <div class="accordion" id="accordion">
                    <a href='#' class='downarrow'>
                        <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                    </a>
                    <div class='dropcontent' id="PullSupplierCollapseIM">
                    </div>
                </div>
            </li>
        }
    }
    @if (!string.IsNullOrEmpty(Model.Text) && Model.Text.ToLower() == "inventory count")
    {

        <li>
            <select id="ItemLocationsIC" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemLocationsICCollapseIM">
                </div>
            </div>
        </li>

    }
    @if (ActionName == "LoadItemMasterModel" && ControllerName == "Order")
    {
        <li attrsortOrder="4">

            <p class="handle"><img /></p>

            <select id="ManufacturerOrd" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ManufacturerCollapseOrd">
                </div>
            </div>
        </li>
    }
    else if (!string.IsNullOrEmpty(Model.ControlID) && !string.IsNullOrWhiteSpace(Model.ControlID) && Model.ControlID.ToLower() == "movemtr")
    {
        <li attrsortOrder="4">

            <p class="handle"><img /></p>

            <select id="ManufacturerIM" class="showloadmore" data-unique="manufacturerim" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ManufacturerCollapseIM">
                </div>
            </div>
        </li>

    }
    else
    {
        <li attrsortOrder="4">

            <p class="handle"><img /></p>

            <select id="ManufacturerIM" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ManufacturerCollapseIM">
                </div>
            </div>
        </li>
    }
    @if (ActionName == "LoadItemMasterModel" && ControllerName == "Order")
    {
        <li attrsortOrder="5">

            <p class="handle"><img /></p>

            <select id="PullCategoryOrd" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullCategoryCollapseOrd">
                </div>
            </div>
        </li>
    }
    else if (!string.IsNullOrEmpty(Model.ControlID) && !string.IsNullOrWhiteSpace(Model.ControlID) && Model.ControlID.ToLower() == "movemtr")
    {
        <li attrsortOrder="5">

            <p class="handle"><img /></p>

            <select id="PullCategoryIM" class="showloadmore" data-unique="pullcategoryim" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullCategoryCollapseIM">
                </div>
            </div>
        </li>
    }
    else
    {
        <li attrsortOrder="5">

            <p class="handle"><img /></p>

            <select id="PullCategoryIM" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="PullCategoryCollapseIM">
                </div>
            </div>
        </li>
    }
    @*<li>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.ResToolMaster.Cost:
                    <select id="PullCostIM" class="selectBox">
                        <option>>$1000 </option>
                        <option>>$750 to 999 </option>
                        <option>>$500 to 749 </option>
                        <option>>$250 to 499 </option>
                        <option>$0 to 249 </option>
                    </select>
                </div>
            </div>
        </li>*@
    <li attrsortOrder="6">

        <p class="handle"><img /></p>

        <div class="stockroom">
            <div class="editor-field">
                @eTurns.DTO.ResToolMaster.Cost:
                <select id="PullCostIM" class="selectBox" onchange="CostNarroSearchIM(this);">
                    <option value="0_-1"></option>
                    <option value="100_1000">>$100 </option>
                    <option value="50_99.99">>$50 to 99.99 </option>
                    <option value="25_49.99">>$25 to 49.99 </option>
                    <option value="10_24.99">>$10 to 24.99 </option>
                    <option value="10_1000"><$10 </option>
                </select>
            </div>
        </div>
    </li>
    <li attrsortOrder="7">

        <p class="handle"><img /></p>

        <div class="stockroom">
            <div class="editor-field">
                @eTurns.DTO.Resources.ResNarrowSearch.StockStatus:
                <select id="StockStatus" class="selectBox" onchange="SSNarroSearch(this);">
                    <option value="0"></option>
                    <option value="1">@ResItemMaster.OutOfStock</option>
                    <option value="2">@ResItemMaster.BelowCritical</option>
                    <option value="3">@ResItemMaster.BelowMinimum</option>
                    <option value="4">@ResItemMaster.AboveMaximum</option>
                </select>
            </div>
        </div>
    </li>
    <li attrsortOrder="8">

        <p class="handle"><img /></p>

        <div class="stockroom">
            <div class="editor-field">
                @eTurns.DTO.Resources.ResNarrowSearch.AverageUsage:
                <select id="StockStatus" class="selectBox" name="NarroSearchAvgUsage" onchange="SSNarroSearchAvgUsage(this);">
                    <option value="0_-1"></option>
                    <option value="100_1000"> >100</option>
                    <option value="75_99.9">75 - 99.9</option>
                    <option value="50_74.9">50 - 74.9</option>
                    <option value="30_49.9">30 - 49.9</option>
                    <option value="20_29.9">20 - 29.9</option>
                    <option value="10_19.9">10 - 19.9</option>
                    <option value="7.5_9.9">7.5 - 9.9</option>
                    <option value="5_7.4">5 - 7.4</option>
                    <option value="2_4.9">2 - 4.9</option>
                    <option value="1_1.9">1 - 1.9</option>
                    <option value="0.5_0.9">0.5 - 0.9</option>
                    <option value="0.4_1000">< 0.4</option>
                </select>
            </div>
        </div>
    </li>
    <li attrsortOrder="9">

        <p class="handle"><img /></p>

        <div class="stockroom">
            <div class="editor-field">
                @eTurns.DTO.Resources.ResNarrowSearch.Turns:
                <select id="StockStatus" class="selectBox" name="NarroSearchTurns" onchange="SSNarroSearchTurns(this);">
                    <option value="0_-1"></option>
                    <option value="20_1000"> >20</option>
                    <option value="15_19.9">15 - 19.9</option>
                    <option value="12_14.9">12 - 14.9</option>
                    <option value="9_11.9">9 - 11.9</option>
                    <option value="6_8.9">6 - 8.9</option>
                    <option value="4_5.9">4 - 5.9</option>
                    <option value="2_3.9">2 - 3.9</option>
                    <option value="1_1.9">1 - 1.9</option>
                    <option value="1_1000">< 1</option>
                </select>
            </div>
        </div>
    </li>
    @if (ActionName == "LoadItemMasterModel" && ControllerName == "Order")
    {
        <li attrsortOrder="10">

            <p class="handle"><img /></p>

            <select id="ItemTypeOrd" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemTypeCollapseOrd">
                </div>
            </div>
        </li>
    }
    else
    {
        <li attrsortOrder="10">

            <p class="handle"><img /></p>

            <select id="ItemTypeIM" multiple="multiple" name="example-basic" size="5">
                @*<option value="1">Item</option>
                    <option value="2">Quick List</option>
                    <option value="3">Kit</option>
                    <option value="4">Labor</option>*@
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemTypeCollapseIM">
                </div>
            </div>
        </li>
    }
    @if (ActionName == "LoadItemMasterModel" && ControllerName == "Order")
    {
        <li attrsortOrder="101">
            <p class="handle"><img /></p>
            <select id="UserCreatedOrd" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserCreatedCollapseOrd">
                </div>
            </div>
        </li>
    }
    else
    {
        <li attrsortOrder="101">
            <p class="handle"><img /></p>
            <select id="UserCreatedIM" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserCreatedCollapseIM">
                </div>
            </div>
        </li>
    }
    @if (ActionName == "LoadItemMasterModel" && ControllerName == "Order")
    {
        <li attrsortOrder="102">
            <p class="handle"><img /></p>
            <select id="UserUpdatedOrd" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserUpdatedCollapseOrd">
                </div>
            </div>
        </li>
    }
    else
    {
        <li attrsortOrder="102">
            <p class="handle"><img /></p>
            <select id="UserUpdatedIM" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="UserUpdatedCollapseIM">
                </div>
            </div>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.ControlID) && !string.IsNullOrWhiteSpace(Model.ControlID) && Model.ControlID.ToLower() == "rq")
    {
        <li attrsortOrder="11">
            <p class="handle"><img /></p>

            <select id="BinListIM" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="BinListCollapseIM">
                </div>
            </div>
        </li>
    }
    <li style="float: left;" attrsortOrder="103">
        <p class="handle"><img /></p>
        <div class="dateForm">
            <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
            <div style="float: right; margin-top: -24px; cursor: pointer;">
                <img id="DateCreatedClearIM" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
            </div>
            <div class="divLabel" style="padding-bottom: 4px;">
                <label for="From" class="labelText">
                    @eTurns.DTO.Resources.ResNarrowSearch.From
                </label>
                <input id="DateCFromIM" type="text" value="" name="From" data-val-length-max="20"
                       data-val="true" class="text-box" />
                <a href="javascript:;" title="" class="datePicker" id="ancDateCFromIM">
                    <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                </a>
            </div>
            <div class="divLabel">
                <label for="To" class="labelText">
                    @eTurns.DTO.Resources.ResNarrowSearch.To
                </label>
                <input id="DateCToIM" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                       class="text-box" />
                <a href="javascript:;" title="" class="datePicker" id="ancDateCToIM">
                    <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                </a>
            </div>
        </div>
    </li>
    <li style="float: left;" attrsortOrder="104">
        <p class="handle"><img /></p>

        <div class="dateForm">
            <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
            <div style="float: right; margin-top: -24px; cursor: pointer;">
                <img id="DateUpdatedClearIM" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
            </div>
            <div class="divLabel" style="padding-bottom: 4px;">
                <label for="From" class="labelText">
                    @eTurns.DTO.Resources.ResNarrowSearch.From
                </label>
                <input id="DateUFromIM" type="text" value="" name="From" data-val-length-max="20"
                       data-val="true" class="text-box" />
                <a href="javascript:;" title="" class="datePicker" id="ancDateUFromIM">
                    <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                </a>
            </div>
            <div class="divLabel">
                <label for="To" class="labelText">
                    @eTurns.DTO.Resources.ResNarrowSearch.To
                </label>
                <input id="DateUToIM" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                       class="text-box" />
                <a href="javascript:;" title="" class="datePicker" id="ancDateUToIM">
                    <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                </a>
            </div>
        </div>
    </li>
    @Html.RenderUDFForNarrowSearchForItemModel(Model.PageName, "_Item", Model.ControlID)

</ul>
    <input id="NarroSearchClearIM" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />
    @{ Html.RenderPartial("NarrowSearchSave", Model);}
    @*<input id="NarroSearchGo" type="button" value="Search" class="CreateBtn" />*@
</div>
<style>
     .IteamBlock li
    {
        width:93% !important;
    }
    .handle {
        height: 20px;
        width: 5%;
        vertical-align: middle;
        /*background-image: url("../../Content/images/Drage.png");*/
        cursor: move;
        float: right;
    }

        .handle img {
            height: 20px;
            width: 6%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
</style>

<script type="text/javascript">
    //NARROW BY SEARCH
    var UserCreatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby';
    var UserUpdatedby = '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby';
    var UpdatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.Updatedby';
    var CreatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.Createdby';
    var selected = '@eTurns.DTO.Resources.ResNarrowSearch.selected';


    var Manufacturer = '@eTurns.DTO.Resources.ResNarrowSearch.Manufacturer';
    var Supplier = '@eTurns.DTO.Resources.ResNarrowSearch.Supplier';
    var Category = '@eTurns.DTO.Resources.ResNarrowSearch.Category';
    var BinNumber = '@eTurns.DTO.Resources.ResNarrowSearch.BinNumber';
    var ItemType = '@eTurns.DTO.Resources.ResNarrowSearch.ItemType';
    var Check = '@eTurns.DTO.Resources.ResNarrowSearch.Check';
    var UnCheck = '@eTurns.DTO.Resources.ResNarrowSearch.UnCheck';
    var Filter = '@eTurns.DTO.Resources.ResNarrowSearch.Filter';
    var Enterkeywords = '@eTurns.DTO.Resources.ResNarrowSearch.Enterkeywords';

    var StageHeaderLocation = '@eTurns.DTO.ResMaterialStagingDetail.MaterialStagingDetailHeader';
    var StageLocation = '@eTurns.DTO.ResMaterialStagingDetail.StagingBinName';
    //GetNarroHTML('UserMaster', 'UserName', 1, 1);
    var ICLNarroValues = "";
    var modelText = '@Model.Text',
        modelID = '@Model.ID';

    //$(document).ready(function () {
    //    CallNarrowfunctionsIM();
    //});

</script>


<script>
    //$(function () {
        _narrowSearchForIM.init('@Model.PageName', '@eTurnsWeb.Helper.SessionHelper.CompanyID', '@eTurnsWeb.Helper.SessionHelper.RoomID'
            , '@Model.ControlID', '@Model.ItemModelCallFromPageName', '@ActionName', '@ControllerName');
    //});

</script>
