@model CommonDTO
<style>
    .handle {
        height: 20px;
        width: 5%;
        vertical-align: middle;
        /*background-image: url("../../Content/images/Drage.png");*/
        cursor: move;
        float: right;
    }

        .handle img {
            height: 20px;
            width: 6%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
</style>
<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandNarrowSearchSC">
        <img src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseNarrowSearchSC">
        <img src="~/Content/images/closed.png" />
    </a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="NarrowULTHL">
        <li attrsortOrderTHL="1">
            <p class="handle"><img /></p>
            <select id="ToolHistoryCategoryNew" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolHistoryCategoryNewCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrderTHL="2">
            <p class="handle"><img /></p>
            <div class="stockroom">
                <div class="editor-field">
                    @eTurns.DTO.ResToolMaster.Cost:
                    <select id="ToolHistoryCost" class="selectBox" onchange="HistoryCostNarroSearch(this);">
                        <option value="0_-1"></option>
                        <option value="1000_1000">>$1000 </option>
                        <option value="750_999">>$750 to 999 </option>
                        <option value="500_749">>$500 to 749 </option>
                        <option value="250_499">>$250 to 499 </option>
                        <option value="0_249">$0 to 249 </option>
                    </select>
                </div>
            </div>
        </li>
        <li attrsortOrderTHL="3">
            <p class="handle"><img /></p>
            <select id="ToolHistoryCheckoutNew" multiple="multiple" name="example-basic" size="5">
                <option value="1">Checked out</option>
                <option value="2">Checked out to Maintenance</option>
                <option value="3">Group fully checked out</option>
                <option value="4">None checked out</option>
            </select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolHistoryCheckoutNewCollapse">
                </div>
            </div>

        </li>
        <li attrsortOrderTHL="4">
            <p class="handle"><img /></p>
            <select id="ToolHistoryTechnicianNew" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolHistoryTechnicianNewCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrderTHL="5">
            <p class="handle"><img /></p>
            <select id="ToolHistoryLocationNew" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolHistoryLocationNewCollapse">
                </div>
            </div>
        </li>


        <li attrsortOrderTHL="101">
            <p class="handle"><img /></p>
            <select id="ToolHistoryCreatedByNew" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ToolHistoryCreatedByNewCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrderTHL="102">
            <p class="handle"><img /></p>
            <select id="ToolHistoryUpdatedByNew" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolHistoryUpdatedByNewCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;" attrsortOrderTHL="103">
            <p class="handle"><img /></p>
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="ToolHistoryDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ToolHistoryDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancToolHistoryDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="ToolHistoryDateCTo" type="text" value="" name="To" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancToolHistoryDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li style="float: left;" attrsortOrderTHL="104">
            <p class="handle"><img /></p>
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="ToolHistoryDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ToolHistoryDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancToolHistoryDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="ToolHistoryDateUTo" type="text" value="" name="To" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancToolHistoryDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>

        @Html.RenderUDFForNarrowSearchForToolHistory("ToolMasterHistoryNew", "tool")
        @Html.RenderUDFForNarrowSearchForToolHistory("ToolCheckInOutHistoryNew", "thistory")
        @Html.RenderUDFForNarrowSearchForToolHistory("TechnicianMasterNew", "thtech")

    </ul>
    <input id="NarroSearchClearSC" type="button" value="@ResNarrowSearch.Clear" class="CreateBtn" />
    @{ Html.RenderPartial("NarrowSearchSave", Model);}
</div>
<script type="text/javascript">

    var selected = '@eTurns.DTO.Resources.ResNarrowSearch.selected';
    

    var OrderNumver = "Order Number";

    var CreatedBy = "CreatedBy";
    var UpdatedBy = "UpdatedBy";
    var RoomResourceName = "Room";
    
    var ReceiveSupplierNarroValues = "";

    $(document).ready(function () {
        var _IsArchived = false;
        var _IsDeleted = false;

        $(".handle").each(function () {
            $(this).find("img").attr("src", "../../Content/images/Drage.png");
        });

        $("#NarrowULTHL").sortable({
            handle: "> .handle",
            stop: function (event, ui) {
                var linkOrderDataTHL = $("#NarrowULTHL").sortable("toArray", { attribute: 'attrsortOrderTHL' });

                $.ajax({
                    "type": "POST",
                    "url": '/Master/SaveGridState',
                    "data": { Data: JSON.stringify(linkOrderDataTHL), ListName: 'ToolHistoryList_NarrowSearch' },
                    "dataType": "json",
                    "cache": false,
                    "async": false,
                    "success": function (json1) {
                    }
                });
            }
        });

        $.ajax({
            "type": "POST",
            "url": '/Master/LoadGridState',
            "data": { ListName: 'ToolHistoryList_NarrowSearch' },
            "dataType": "json",
            "cache": false,
            "async": false,
            "success": function (json1) {
                if (json1.jsonData != null && json1.jsonData != '') {

                    var sorted = JSON.parse(json1.jsonData);
                    sorted = sorted.reverse();

                    sorted.forEach(function (id) {
                        $("[attrsortOrderTHL=" + parseInt(id) + "]").prependTo("#NarrowULTHL");
                    });
                }
            }
        });

        $('#ToolHistoryDateCFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ToolHistoryDateCTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ToolHistoryDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ToolHistoryDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });

        $('#ancToolHistoryDateCFrom').click(function () {
            $('#ToolHistoryDateCFrom').focus();
        });
        $('#ancToolHistoryDateCTo').click(function () {
            $('#ToolHistoryDateCTo').focus();
        });
        $('#ancToolHistoryDateUFrom').click(function () {
            $('#ToolHistoryDateUFrom').focus();
        });
        $('#ancToolHistoryDateUTo').click(function () {
            $('#ToolHistoryDateUTo').focus();
        });
        GetToolHistoryNarrowSearchData('ToolHistoryNew', _IsArchived, _IsDeleted);
  		//reset cose global variable
        THCostNarroSearchValue = '';
        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

    });



    $('#NarroSearchGo').click(function () {
        DoNarrowSearchSC();
    });
    $('#ToolHistoryDateCFrom,#ToolHistoryDateCTo').change(function () {

        var DateCFromValid =true;// Date.isValid($('#ReceiveDateCFrom').val(),format);
        var DateCToValid = true;//Date.isValid($('#ReceiveDateCTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ToolHistoryDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ToolHistoryDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }
        if (DateCFromValid && DateCToValid) {
            DoNarrowSearchSC();
        }
        else {
            if (!DateCFromValid)
                $('#ToolHistoryDateCFrom').val('');
            if (!DateCToValid)
                $('#ToolHistoryDateCTo').val('');
        }
    });

    $('#ToolHistoryDateUFrom,#ToolHistoryDateUTo').change(function () {

        var DateUFromValid = true;// Date.isValid($('#ReceiveDateUFrom').val(),format);
        var DateUToValid =  true;//Date.isValid($('#ReceiveDateUTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ToolHistoryDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateUFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ToolHistoryDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
            DoNarrowSearchSC();
        }
        else {
            if (!DateUFromValid)
                $('#ToolHistoryDateUFrom').val('');
            if (!DateUToValid)
                $('#ToolHistoryDateUTo').val('');
        }
    });
    $('#ToolHistoryDateCreatedClear').click(function () {
        if ($('#ToolHistoryDateCFrom').val() != '' || $('#ToolHistoryDateCTo').val() != '') {
            $('#ToolHistoryDateCFrom').val('');
            $('#ToolHistoryDateCTo').val('');
            //NarrowSearchInGrid('');
            DoNarrowSearchSC();
        }
    });
    $('#ToolHistoryDateUpdatedClear').click(function () {
        if ($('#ToolHistoryDateUFrom').val() != '' || $('#ToolHistoryDateUTo').val() != '') {
            $('#ToolHistoryDateUFrom').val('');
            $('#ToolHistoryDateUTo').val('');
            //NarrowSearchInGrid('');
            DoNarrowSearchSC();
        }
    });
    //CLEAR NARROW SEARCH
    $('#NarroSearchClearSC').click(function () {

        if (typeof ($("#ToolHistoryCategoryNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryCategoryNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryCategoryNew").multiselect("uncheckAll");
            $("#ToolHistoryCategoryNewCollapse").html('');
        }
        if (typeof ($("#ToolHistoryTechnicianNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryTechnicianNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryTechnicianNew").multiselect("uncheckAll");
            $("#ToolHistoryTechnicianNewCollapse").html('');
        }
        if (typeof ($("#ToolHistoryCreatedByNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryCreatedByNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryCreatedByNew").multiselect("uncheckAll");
            $("#ToolHistoryCreatedByNewCollapse").html('');
        }
        if (typeof ($("#ToolHistoryUpdatedBy").multiselect("getChecked").length) != undefined && $("#ToolHistoryUpdatedByNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryUpdatedBy").multiselect("uncheckAll");
            $("#ToolHistoryUpdatedByCollapse").html('');
        }
        if (typeof ($("#ToolHistoryLocationNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryLocationNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryLocationNew").multiselect("uncheckAll");
            $("#ToolHistoryLocationNewCollapse").html('');
        }
        
        if (typeof ($("#ToolHistoryCheckoutNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryCheckoutNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryCheckoutNew").multiselect("uncheckAll");
            $("#ToolHistoryCheckoutNewCollapse").html('');
            ToolHistoryCheckoutValue = '';
        }

        if ($('#ToolHistoryCost') != undefined) {
            $('#ToolHistoryCost').val('0_-1');
        }

        $("select[name='udflist']").each(function (index) {
            if (typeof ($(this).multiselect("getChecked").length) != undefined && $(this).multiselect("getChecked").length > 0) {
                var UDFUniqueID = this.getAttribute('UID');
                $(this).multiselect("uncheckAll");
                $('#' + UDFUniqueID + 'Collapse').html('');
            }
        });
        
        $("select[name='udflisttool']").each(function (index) {
            if (typeof ($(this).multiselect("getChecked").length) != undefined && $(this).multiselect("getChecked").length > 0) {
                var UDFUniqueID = this.getAttribute('UID');
                $(this).multiselect("uncheckAll");
                $('#' + UDFUniqueID + 'Collapsetool').html('');
                $('#' + UDFUniqueID + 'Collapsetool').hide('');
            }
        });

        $("select[name='udflistthtech']").each(function (index) {
            if (typeof ($(this).multiselect("getChecked").length) != undefined && $(this).multiselect("getChecked").length > 0) {
                var UDFUniqueID = this.getAttribute('UID');
                $(this).multiselect("uncheckAll");
                $('#' + UDFUniqueID + 'Collapsethtech').html('');
                $('#' + UDFUniqueID + 'Collapsethtech').hide('');
            }
        });

        $("select[name='udflistthistory']").each(function (index) {
            if (typeof ($(this).multiselect("getChecked").length) != undefined && $(this).multiselect("getChecked").length > 0) {
                var UDFUniqueID = this.getAttribute('UID');
                $(this).multiselect("uncheckAll");
                $('#' + UDFUniqueID + 'Collapsethistory').html('');
                $('#' + UDFUniqueID + 'Collapsethistory').hide('');
            }
        });

        if ($('#ToolHistoryDateCFrom').val() != '') $('#ToolHistoryDateCFrom').val('');
        if ($('#ToolHistoryDateCTo').val() != '') $('#ToolHistoryDateCTo').val('');
        if ($('#ToolHistoryDateUFrom').val() != '') $('#ToolHistoryDateUFrom').val('');
        if ($('#ToolHistoryDateUTo').val() != '') $('#ToolHistoryDateUTo').val('');

        if ($('#thistory_filter').val() != '') $('#thistory_filter').val('');

        $('input[type="search"]').val('').trigger('keyup');
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        NarrowSearchInGridSC('');
    });


   

    function GetToolHistoryNarrowSearchData(_TableName, _IsArchived, _IsDeleted) {
        

        $.ajax({
            'url': '/Master/GetNarrowDDData',
            data: { TableName: 'ToolHistoryNew', TextFieldName: 'ToolCategory', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });
                //Destroy widgets before reapplying the filter
                $("#ToolHistoryCategoryNew").empty();
                $("#ToolHistoryCategoryNew").multiselect('destroy');
                $("#ToolHistoryCategoryNew").multiselectfilter('destroy');

                $("#ToolHistoryCategoryNew").append(s);
                $("#ToolHistoryCategoryNew").multiselect(
                            {
                                noneSelectedText: ToolsCategory, selectedList: 5,
                                selectedText: function (numChecked, numTotal, checkedItems) {
                                    return ToolsCategory + ': ' + numChecked + ' ' + selected;
                                }
                            },
                            {
                                checkAll: function (ui) {
                                    $("#ToolHistoryCategoryNewCollapse").html('');
                                    for (var i = 0; i <= ui.target.length - 1; i++) {
                                        if ($("#ToolHistoryCategoryNewCollapse").text().indexOf(ui.target[i].text) == -1) {
                                            $("#ToolHistoryCategoryNewCollapse").append("<span>" + ui.target[i].text + "</span>");
                                        }
                                    }
                                    $("#ToolHistoryCategoryNewCollapse").show();
                                }
                            }
                )
                .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#ToolHistoryCategoryNewCollapse").text().indexOf(ui.text) == -1) {
                            $("#ToolHistoryCategoryNewCollapse").append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#ToolHistoryCategoryNewCollapse").html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#ToolHistoryCategoryNewCollapse").html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#ToolHistoryCategoryNewCollapse").html(text);
                        }
                        else
                            $("#ToolHistoryCategoryNewCollapse").html('');
                    }
                    ToolHistoryCategoryValue = $.map($(this).multiselect("getChecked"), function (input) {
                        return input.value;
                    })

                    _NarrowSearchSave.objSearch.ToolHistoryCategoryNew = ToolHistoryCategoryValue;

                    if ($("#ToolHistoryCategoryNewCollapse").text().trim() != '')
                        $("#ToolHistoryCategoryNewCollapse").show();
                    else
                        $("#ToolHistoryCategoryNewCollapse").hide();


                    if ($("#ToolHistoryCategoryNewCollapse").find('span').length <= 2) {
                        $("#ToolHistoryCategoryNewCollapse").scrollTop(0).height(50);
                    }
                    else {
                        $("#ToolHistoryCategoryNewCollapse").scrollTop(0).height(100);
                    }
                    //clearGlobalIfNotInFocus();
                    DoNarrowSearchSC();
                }).multiselectfilter();
                _NarrowSearchSave.setControlValue("ToolHistoryCategoryNew");
            },
            error: function (response) {
                // through errror message
            }
        });

        $("#ToolHistoryTechnicianNew").empty();
        $("#ToolHistoryTechnicianNew").multiselect('destroy');
        $("#ToolHistoryTechnicianNew").multiselectfilter('destroy');

        $("#ToolHistoryTechnicianNew").multiselect(
            {
                noneSelectedText: TechnicianList, selectedList: 5,
                selectedText: function (numChecked, numTotal, checkedItems) {
                    return TechnicianList + ': ' + numChecked + ' ' + selected;
                }
            },
            {
                checkAll: function (ui) {
                    $("#ToolHistoryTechnicianNewCollapse").html('');
                    for (var i = 0; i <= ui.target.length - 1; i++) {
                        if ($("#ToolHistoryTechnicianNewCollapse").text().indexOf(ui.target[i].text) == -1) {
                            $("#ToolHistoryTechnicianNewCollapse").append("<span>" + ui.target[i].text + "</span>");
                        }
                    }
                    $("#ToolHistoryTechnicianNewCollapse").show();
                }
            },
            {
                beforeopen: function () {                    
                    if ($("#ToolHistoryTechnicianNew option").length == 0) {                        
                        $.ajax({
                            'url': '/Master/GetNarrowDDData',
                            data: { TableName: 'ToolHistoryNew', TextFieldName: 'ToolsTechnician', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
                            success: function (response) {
                                var s = '';
                                $.each(response.DDData, function (ValData, ValCount) {
                                    var ArrData = ValData.toString().split('[###]');
                                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                                });
                                $("#ToolHistoryTechnicianNew").empty();
                                $("#ToolHistoryTechnicianNew").append(s);
                                $("#ToolHistoryTechnicianNew").multiselect("refresh");
                                $("#ToolHistoryTechnicianNew").multiselectfilter("refresh");
                            },
                            error: function (response) {
                                // through errror message
                            }
                        });
                    }
                }
            }
        )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#ToolHistoryTechnicianNewCollapse").text().indexOf(ui.text) == -1) {
                        $("#ToolHistoryTechnicianNewCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#ToolHistoryTechnicianNewCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#ToolHistoryTechnicianNewCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#ToolHistoryTechnicianNewCollapse").html(text);
                    }
                    else
                        $("#ToolHistoryTechnicianNewCollapse").html('');
                }
                ToolHistoryTechnicianValue = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                _NarrowSearchSave.objSearch.ToolHistoryTechnicianNew = ToolHistoryTechnicianValue;

                if ($("#ToolHistoryTechnicianNewCollapse").text().trim() != '')
                    $("#ToolHistoryTechnicianNewCollapse").show();
                else
                    $("#ToolHistoryTechnicianNewCollapse").hide();


                if ($("#ToolHistoryTechnicianNewCollapse").find('span').length <= 2) {
                    $("#ToolHistoryTechnicianNewCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#ToolHistoryTechnicianNewCollapse").scrollTop(0).height(100);
                }
                clearGlobalIfNotInFocus();
                DoNarrowSearchSC();
                if (ToolHistoryTechnicianValue.length == 1) {
                    $("input#btnToolCheckInAllBottom").show();
                }
                else {
                    $("input#btnToolCheckInAllBottom").hide();
                }
            }).multiselectfilter();

        _NarrowSearchSave.setControlValue("ToolHistoryTechnicianNew");
        $.ajax({
            'url': '/Master/GetDDData',
            data: { TableName: 'TechnicianMaster', TextFieldName: 'Technician' },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (i, val) {
                    s += '<option value="' + val.ID + '">' + val.Text + '</option>';
                });
                $("#ToolHistoryTechnicianNew").append(s);
                $("#ToolHistoryTechnicianNew").multiselect(
                            {
                                noneSelectedText: TechnicianList, selectedList: 5,
                                selectedText: function (numChecked, numTotal, checkedItems) {
                                    return TechnicianList + numChecked + ' ' + selected;
                                }
                            }
                )
                .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    TechicianValue = $.map($(this).multiselect("getChecked"), function (input) {
                        return input.value;
                    })
                });
            },
            error: function (response) {
                // through errror message
            }
        });


        $.ajax({
            'url': '/Master/GetNarrowDDData',
            data: { TableName: 'ToolHistoryNew', TextFieldName: 'Location', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });

                //Destroy widgets before reapplying the filter
                $("#ToolHistoryLocationNew").empty();
                $("#ToolHistoryLocationNew").multiselect('destroy');
                $("#ToolHistoryLocationNew").multiselectfilter('destroy');

                $("#ToolHistoryLocationNew").append(s);
                $("#ToolHistoryLocationNew").multiselect(
                            {
                                noneSelectedText: ToolsLocation, selectedList: 5,
                                selectedText: function (numChecked, numTotal, checkedItems) {
                                    return ToolsLocation + ': ' + numChecked + ' ' + selected;
                                }
                            },
                            {
                                checkAll: function (ui) {
                                    $("#ToolHistoryLocationNewCollapse").html('');
                                    for (var i = 0; i <= ui.target.length - 1; i++) {
                                        if ($("#ToolHistoryLocationNewCollapse").text().indexOf(ui.target[i].text) == -1) {
                                            $("#ToolHistoryLocationNewCollapse").append("<span>" + ui.target[i].text + "</span>");
                                        }
                                    }
                                    $("#ToolHistoryLocationNewCollapse").show();
                                }
                            }
                )
                .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#ToolHistoryLocationNewCollapse").text().indexOf(ui.text) == -1) {
                            $("#ToolHistoryLocationNewCollapse").append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#ToolHistoryLocationNewCollapse").html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#ToolHistoryLocationNewCollapse").html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#ToolHistoryLocationNewCollapse").html(text);
                        }
                        else
                            $("#ToolHistoryLocationCollapse").html('');
                    }
                    THLocationValue = $.map($(this).multiselect("getChecked"), function (input) {
                        return input.value;
                    })

                    _NarrowSearchSave.objSearch.ToolHistoryLocationNew = THLocationValue;

                    if ($("#ToolHistoryLocationNewCollapse").text().trim() != '')
                        $("#ToolHistoryLocationNewCollapse").show();
                    else
                        $("#ToolHistoryLocationNewCollapse").hide();


                    if ($("#ToolHistoryLocationNewCollapse").find('span').length <= 2) {
                        $("#ToolHistoryLocationNewCollapse").scrollTop(0).height(50);
                    }
                    else {
                        $("#ToolHistoryLocationNewCollapse").scrollTop(0).height(100);
                    }
                    clearGlobalIfNotInFocus();
                    DoNarrowSearchSC();
                }).multiselectfilter();
                _NarrowSearchSave.setControlValue("ToolHistoryLocationNew");
            },
            error: function (response) {
                // through errror message
            }
        });

        $.ajax({
            'url': '/Master/GetNarrowDDData',
            data: { TableName: 'ToolHistoryNew', TextFieldName: 'ToolMaintenance', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('###');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });

                //Destroy widgets before reapplying the filter
                $("#ToolHistoryCheckoutNew").empty();
                $("#ToolHistoryCheckoutNew").multiselect('destroy');
                $("#ToolHistoryCheckoutNew").multiselectfilter('destroy');

                $("#ToolHistoryCheckoutNew").append(s);
                $("#ToolHistoryCheckoutNew").multiselect(
                            {
                                noneSelectedText: ToolsMaintenance, selectedList: 5,
                                selectedText: function (numChecked, numTotal, checkedItems) {
                                    return ToolsMaintenance + ': ' + numChecked + ' ' + selected;
                                }
                            },
                            {
                                checkAll: function (ui) {
                                    $("#ToolHistoryCheckoutNewCollapse").html('');
                                    for (var i = 0; i <= ui.target.length - 1; i++) {
                                        if ($("#ToolHistoryCheckoutNewCollapse").text().indexOf(ui.target[i].text) == -1) {
                                            $("#ToolHistoryCheckoutNewCollapse").append("<span>" + ui.target[i].text + "</span>");
                                        }
                                    }
                                    $("#ToolHistoryCheckoutNewCollapse").show();
                                }
                            }
                )
                .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#ToolHistoryCheckoutNewCollapse").text().indexOf(ui.text) == -1) {
                            $("#ToolHistoryCheckoutNewCollapse").append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#ToolHistoryCheckoutNewCollapse").html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#ToolHistoryCheckoutNewCollapse").html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#ToolHistoryCheckoutNewCollapse").html(text);
                        }
                        else
                            $("#ToolHistoryCheckoutNewCollapse").html('');
                    }
                    THMaintenanceValue = $.map($(this).multiselect("getChecked"), function (input) {
                        return input.value;
                    })
                    _NarrowSearchSave.objSearch.ToolHistoryCheckoutNew = THMaintenanceValue;
                    if ($("#ToolHistoryCheckoutNewCollapse").text().trim() != '')
                        $("#ToolHistoryCheckoutNewCollapse").show();
                    else
                        $("#ToolHistoryCheckoutNewCollapse").hide();


                    if ($("#ToolHistoryCheckoutNewCollapse").find('span').length <= 2) {
                        $("#ToolHistoryCheckoutNewCollapse").scrollTop(0).height(50);
                    }
                    else {
                        $("#ToolHistoryCheckoutNewCollapse").scrollTop(0).height(100);
                    }
                    clearGlobalIfNotInFocus();
                    DoNarrowSearchSC();
                }).multiselectfilter();

                _NarrowSearchSave.setControlValue("ToolHistoryCheckoutNew");

            },
            error: function (response) {
                // through errror message
            }
        });

        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'CreatedBy', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#ToolHistoryCreatedByNew").empty();
                $("#ToolHistoryCreatedByNew").multiselect('destroy');
                $("#ToolHistoryCreatedByNew").multiselectfilter('destroy');

                $("#ToolHistoryCreatedByNew").append(s);
                $("#ToolHistoryCreatedByNew").multiselect
            (
                { noneSelectedText: CreatedBy, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return CreatedBy + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#ToolHistoryCreatedByNewCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#ToolHistoryCreatedByNewCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#ToolHistoryCreatedByNewCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#ToolHistoryCreatedByNewCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#ToolHistoryCreatedByNewCollapse").text().indexOf(ui.text) == -1) {
                        $("#ToolHistoryCreatedByNewCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#ToolHistoryCreatedByNewCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#ToolHistoryCreatedByNewCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#ToolHistoryCreatedByNewCollapse").html(text);
                    }
                    else {
                        $("#ToolHistoryCreatedByNewCollapse").html('');
                    }
                }
                ToolHistoryCreatedByNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                _NarrowSearchSave.objSearch.ToolHistoryCreatedByNew = ToolHistoryCreatedByNarroValues;

                if ($("#ToolHistoryCreatedByNewCollapse").text().trim() != '')
                    $("#ToolHistoryCreatedByNewCollapse").show();
                else
                    $("#ToolHistoryCreatedByNewCollapse").hide();


                if ($("#ToolHistoryCreatedByNewCollapse").find('span').length <= 2) {
                    $("#ToolHistoryCreatedByNewCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#ToolHistoryCreatedByNewCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
                _NarrowSearchSave.setControlValue("ToolHistoryCreatedByNew");
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'LastUpdatedBy', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#ToolHistoryUpdatedByNew").empty();
                $("#ToolHistoryUpdatedByNew").multiselect('destroy');
                $("#ToolHistoryUpdatedByNew").multiselectfilter('destroy');

                $("#ToolHistoryUpdatedByNew").append(s);
                $("#ToolHistoryUpdatedByNew").multiselect
            (
                { noneSelectedText: UpdatedBy, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return UpdatedBy + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#ToolHistoryUpdatedByCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#ToolHistoryUpdatedByNewCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#ToolHistoryUpdatedByNewCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#ToolHistoryUpdatedByNewCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#ToolHistoryUpdatedByNewCollapse").text().indexOf(ui.text) == -1) {
                        $("#ToolHistoryUpdatedByNewCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#ToolHistoryUpdatedByNewCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#ToolHistoryUpdatedByNewCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#ToolHistoryUpdatedByNewCollapse").html(text);
                    }
                    else {
                        $("#ToolHistoryUpdatedByNewCollapse").html('');
                    }
                }
                ToolHistoryUpdatedByNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#ToolHistoryUpdatedByNewCollapse").text().trim() != '')
                    $("#ToolHistoryUpdatedByNewCollapse").show();
                else
                    $("#ToolHistoryUpdatedByNewCollapse").hide();


                if ($("#ToolHistoryUpdatedByNewCollapse").find('span').length <= 2) {
                    $("#ToolHistoryUpdatedByNewCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#ToolHistoryUpdatedByNewCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
        
        
    }



</script>
<script type="text/javascript">

    /* COMMON FUNCTION TO NARROW SEARCH HIDE/SHOW ALONG WITH STATE SAVED : Dec 24, 2012 : IJ */

    $(document).ready(function () {
        $('#ExpandNarrowSearchSC').click(function (e) {
            ExpandNarrowSearchSC();
        });
        $('#CollapseNarrowSearchSC').click(function (e) {
            CollapseNarrowSearchSC();
        });
        var NarrowSearchStateSC = getCookieIM('NarrowSearchStateSC');

        if (NarrowSearchStateSC == 'Expanded') {
            CollapseNarrowSearchSC();
        }
        else {
            ExpandNarrowSearchSC();
        }

        var _IsArchived = false;
        var _IsDeleted = false;

        if (typeof ($('#IsArchivedRecords')) != undefined)
            _IsArchived = $('#IsArchivedRecords').is(':checked');

        if (typeof ($('#IsDeletedRecords')) != undefined)
            _IsDeleted = $('#IsDeletedRecords').is(':checked');

        var OrderStatusin = '';

        GetNarroFromItemHTMLForUDF('ToolMasterNew', '@eTurnsWeb.Helper.SessionHelper.CompanyID', '@eTurnsWeb.Helper.SessionHelper.RoomID', _IsArchived, _IsDeleted, 'tool');
        GetNarroFromItemHTMLForUDFForCheckOUT('ToolCheckOUTNew', '@eTurnsWeb.Helper.SessionHelper.CompanyID', '@eTurnsWeb.Helper.SessionHelper.RoomID', _IsArchived, _IsDeleted, 'thistory');
        GetNarroFromItemHTMLForTechnicianUDF('ToolTechnicianUDF', '@eTurnsWeb.Helper.SessionHelper.CompanyID', '@eTurnsWeb.Helper.SessionHelper.RoomID', _IsArchived, _IsDeleted, 'thtech');

    });


    function GetNarroFromItemHTMLForUDF(tableName, companyID, roomID, _IsArchived, _IsDeleted, suFix) {
        var UDFObject;


        $("select[name='udflist" + suFix + "']").each(function (index) {
            var UDFUniqueID = this.getAttribute('UID');
            $.ajax({
                'url': '/Master/GetUDFDDData',
                data: { TableName: tableName, UDFName: this.id, UDFUniqueID: UDFUniqueID, IsArchived: _IsArchived, IsDeleted: _IsDeleted, RequisitionCurrentTab: '', NotIncludeDeletedUDF: true },
                success: function (response) {
                    var s = '';
                   
                    if (response.DDData != null) {
                        $.each(response.DDData, function (UDFVal, ValCount) {
                            var ArrData = UDFVal.toString().split('[###]');
                            s += '<option value="' + ArrData[0] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                        });
                      
                    }
                    var UDFColumnNameTemp = response.UDFColName.toString().replace("_dd", "").replace(suFix, "");
                    //alert(response.UDFColName + '   ' + s);
                    //Destroy widgets before reapplying the filter
                    $('[id="' + response.UDFColName + '"]').empty();
                    $('[id="' + response.UDFColName + '"]').multiselect('destroy');
                    $('[id="' + response.UDFColName + '"]').multiselectfilter('destroy');

                    $('[id="' + response.UDFColName + '"]').append(s);

                    $('[id="' + response.UDFColName + '"]').multiselect
                    (
                        {
                            noneSelectedText: UDFColumnNameTemp, selectedList: 5,
                            selectedText: function (numChecked, numTotal, checkedItems) {
                                return UDFColumnNameTemp + ' ' + numChecked + ' ' + selected;
                            }
                        },
                        {
                            checkAll: function (ui) {
                                var CollapseObject = $('#' + UDFUniqueID + 'Collapse' + suFix)
                                $(CollapseObject).html('');
                                for (var i = 0; i <= ui.target.length - 1; i++) {
                                    if ($(CollapseObject).text().indexOf(ui.target[i].text) == -1) {
                                        $(CollapseObject).append("<span>" + ui.target[i].text + "</span>");
                                    }
                                }
                                $(CollapseObject).show();
                            }
                        }
                    )
                    .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                        var CollapseObject = $('#' + UDFUniqueID + 'Collapse' + suFix)
                        if (ui.checked) {
                            if ($(CollapseObject).text().indexOf(ui.text) == -1) {
                                $(CollapseObject).append("<span>" + ui.text + "</span>");
                            }
                        }
                        else {
                            if (ui.checked == undefined) {
                                $(CollapseObject).html('');
                            }
                            else if (!ui.checked) {
                                var text = $(CollapseObject).html();
                                text = text.replace("<span>" + ui.text + "</span>", '');
                                $(CollapseObject).html(text);
                            }
                            else
                                $(CollapseObject).html('');
                        }
                        if (UDFUniqueID == "UDF1") {
                            UserUDF1NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }
                        else if (UDFUniqueID == "UDF2") {
                            UserUDF2NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }
                        else if (UDFUniqueID == "UDF3") {
                            UserUDF3NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }
                        else if (UDFUniqueID == "UDF4") {
                            UserUDF4NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }
                        else {
                            UserUDF5NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }

                        if ($(CollapseObject).text().trim() != '')
                            $(CollapseObject).show();
                        else
                            $(CollapseObject).hide();


                        if ($(CollapseObject).find('span').length <= 2) {
                            $(CollapseObject).scrollTop(0).height(50);
                        }
                        else {
                            $(CollapseObject).scrollTop(0).height(100);
                        }
                        clearGlobalIfNotInFocus();

                        DoNarrowSearchSC();
                    }).multiselectfilter();
                },
                error: function (response) {

                    // through errror message
                }
            });
        });
    }

    function GetNarroFromItemHTMLForUDFForCheckOUT(tableName, companyID, roomID, _IsArchived, _IsDeleted, suFix) {
        var UDFObject;


        $("select[name='udflist" + suFix + "']").each(function (index) {
            var UDFUniqueID = this.getAttribute('UID');
            $.ajax({
                'url': '/Master/GetUDFDDData',
                data: { TableName: tableName, UDFName: this.id, UDFUniqueID: UDFUniqueID, IsArchived: _IsArchived, IsDeleted: _IsDeleted, RequisitionCurrentTab: '', NotIncludeDeletedUDF: true, ToolCurrentTab: ToolListTab },
                success: function (response) {
                    var s = '';

                    if (response.DDData != null) {
                        $.each(response.DDData, function (UDFVal, ValCount) {
                            var ArrData = UDFVal.toString().split('[###]');
                            s += '<option value="' + ArrData[0] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                        });

                    }
                    var UDFColumnNameTemp = response.UDFColName.toString().replace("_dd", "").replace(suFix, "");
                    //alert(response.UDFColName + '   ' + s);
                    //Destroy widgets before reapplying the filter
                    $('[id="' + response.UDFColName + '"]').empty();
                    $('[id="' + response.UDFColName + '"]').multiselect('destroy');
                    $('[id="' + response.UDFColName + '"]').multiselectfilter('destroy');

                    $('[id="' + response.UDFColName + '"]').append(s);

                    $('[id="' + response.UDFColName + '"]').multiselect
                    (
                        {
                            noneSelectedText: UDFColumnNameTemp, selectedList: 5,
                            selectedText: function (numChecked, numTotal, checkedItems) {
                                return UDFColumnNameTemp + ' ' + numChecked + ' ' + selected;
                            }
                        },
                        {
                            checkAll: function (ui) {
                                var CollapseObject = $('#' + UDFUniqueID + 'Collapse' + suFix)
                                $(CollapseObject).html('');
                                for (var i = 0; i <= ui.target.length - 1; i++) {
                                    if ($(CollapseObject).text().indexOf(ui.target[i].text) == -1) {
                                        $(CollapseObject).append("<span>" + ui.target[i].text + "</span>");
                                    }
                                }
                                $(CollapseObject).show();
                            }
                        }
                    )
                    .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                        var CollapseObject = $('#' + UDFUniqueID + 'Collapse' + suFix)
                        if (ui.checked) {
                            if ($(CollapseObject).text().indexOf(ui.text) == -1) {
                                $(CollapseObject).append("<span>" + ui.text + "</span>");
                            }
                        }
                        else {
                            if (ui.checked == undefined) {
                                $(CollapseObject).html('');
                            }
                            else if (!ui.checked) {
                                var text = $(CollapseObject).html();
                                text = text.replace("<span>" + ui.text + "</span>", '');
                                $(CollapseObject).html(text);
                            }
                            else
                                $(CollapseObject).html('');
                        }
                        if (UDFUniqueID == "UDF1") {
                            ToolCheckOutUDF1 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }
                        else if (UDFUniqueID == "UDF2") {
                            ToolCheckOutUDF2 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }
                        else if (UDFUniqueID == "UDF3") {
                            ToolCheckOutUDF3 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }
                        else if (UDFUniqueID == "UDF4") {
                            ToolCheckOutUDF4 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }
                        else {
                            ToolCheckOutUDF5 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }

                        if ($(CollapseObject).text().trim() != '')
                            $(CollapseObject).show();
                        else
                            $(CollapseObject).hide();


                        if ($(CollapseObject).find('span').length <= 2) {
                            $(CollapseObject).scrollTop(0).height(50);
                        }
                        else {
                            $(CollapseObject).scrollTop(0).height(100);
                        }

                        DoNarrowSearchSC();
                    }).multiselectfilter();
                },
                error: function (response) {

                    // through errror message
                }
            });
        });
    }


    function GetNarroFromItemHTMLForTechnicianUDF(tableName, companyID, roomID, _IsArchived, _IsDeleted, suFix) {
        var UDFObject;
        $("select[name='udflist" + suFix + "']").each(function (index) {
            var UDFUniqueID = this.getAttribute('UID');
            $.ajax({
                'url': '/Master/GetUDFDDData',
                data: { TableName: tableName, UDFName: this.id, UDFUniqueID: UDFUniqueID, IsArchived: _IsArchived, IsDeleted: _IsDeleted, RequisitionCurrentTab: '', NotIncludeDeletedUDF: true, ToolCurrentTab: ToolListTab },
                success: function (response) {
                    var s = '';

                    if (response.DDData != null) {
                        $.each(response.DDData, function (UDFVal, ValCount) {
                            var ArrData = UDFVal.toString().split('[###]');
                            s += '<option value="' + ArrData[0] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                        });

                    }
                    var UDFColumnNameTemp = response.UDFColName.toString().replace("_dd", "").replace(suFix, "");
                    //alert(response.UDFColName + '   ' + s);
                    //Destroy widgets before reapplying the filter
                    $('[id="' + response.UDFColName + '"]').empty();
                    $('[id="' + response.UDFColName + '"]').multiselect('destroy');
                    $('[id="' + response.UDFColName + '"]').multiselectfilter('destroy');

                    $('[id="' + response.UDFColName + '"]').append(s);

                    $('[id="' + response.UDFColName + '"]').multiselect
                    (
                        {
                            noneSelectedText: UDFColumnNameTemp, selectedList: 5,
                            selectedText: function (numChecked, numTotal, checkedItems) {
                                return UDFColumnNameTemp + ' ' + numChecked + ' ' + selected;
                            }
                        },
                        {
                            checkAll: function (ui) {
                                var CollapseObject = $('#' + UDFUniqueID + 'Collapse' + suFix)
                                $(CollapseObject).html('');
                                for (var i = 0; i <= ui.target.length - 1; i++) {
                                    if ($(CollapseObject).text().indexOf(ui.target[i].text) == -1) {
                                        $(CollapseObject).append("<span>" + ui.target[i].text + "</span>");
                                    }
                                }
                                $(CollapseObject).show();
                            }
                        }
                    )
                    .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                        var CollapseObject = $('#' + UDFUniqueID + 'Collapse' + suFix)
                        if (ui.checked) {
                            if ($(CollapseObject).text().indexOf(ui.text) == -1) {
                                $(CollapseObject).append("<span>" + ui.text + "</span>");
                            }
                        }
                        else {
                            if (ui.checked == undefined) {
                                $(CollapseObject).html('');
                            }
                            else if (!ui.checked) {
                                var text = $(CollapseObject).html();
                                text = text.replace("<span>" + ui.text + "</span>", '');
                                $(CollapseObject).html(text);
                            }
                            else
                                $(CollapseObject).html('');
                        }
                        if (UDFUniqueID == "UDF1") {
                            ToolTechUDF1 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }
                        else if (UDFUniqueID == "UDF2") {
                            ToolTechUDF2 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }
                        else if (UDFUniqueID == "UDF3") {
                            ToolTechUDF3 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }
                        else if (UDFUniqueID == "UDF4") {
                            ToolTechUDF4 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }
                        else {
                            ToolTechUDF5 = $.map($(this).multiselect("getChecked"), function (input) {
                                return escape(input.value);
                            })
                        }

                        if ($(CollapseObject).text().trim() != '')
                            $(CollapseObject).show();
                        else
                            $(CollapseObject).hide();


                        if ($(CollapseObject).find('span').length <= 2) {
                            $(CollapseObject).scrollTop(0).height(50);
                        }
                        else {
                            $(CollapseObject).scrollTop(0).height(100);
                        }

                        DoNarrowSearchSC();
                    }).multiselectfilter();
                },
                error: function (response) {

                    // through errror message
                }
            });
        });
    }



    function ExpandNarrowSearchSC() {
        var w = $('#divSupplierCatalogItems,#Ctab .IteamBlock').css("width");
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').show();
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').stop().animate({
            width: "18%"
        }, 0, function () {
            $('#divSupplierCatalogItems,#Ctab .userContent').css({ "width": "80.5%", "margin": "0" });
            $('#CatalogItemDataTable_length').css({ "left": "0px" });
            $('#CatalogItemDataTable_paginate').css({ "left": "145px" });
            $('#divSupplierCatalogItems,#Ctab .leftopenContent').css({ "display": "none" });
            setCookieIM('NarrowSearchStateSC', 'Collapsed');
        });
    }

    function CollapseNarrowSearchSC() {
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('#divSupplierCatalogItems,#Ctab .IteamBlock').hide();
            $('#divSupplierCatalogItems,#Ctab .userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#CatalogItemDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#CatalogItemDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('#divSupplierCatalogItems,#Ctab .leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchStateSC', 'Expanded');
        });
    }

    function getCookieIM(name) {
        var arg = name + "=";
        var alen = arg.length;
        var clen = document.cookie.length;
        var i = 0;
        while (i < clen) {
            var j = i + alen;
            if (document.cookie.substring(i, j) == arg) {
                return getCookieValIM(j);
            }
            i = document.cookie.indexOf(" ", i) + 1;
            if (i == 0) break;
        }
        return null;
    }

    function getCookieValIM(offset) {
        var endstr = document.cookie.indexOf(";", offset);
        if (endstr == -1) { endstr = document.cookie.length; }
        return unescape(document.cookie.substring(offset, endstr));
    }

    function setCookieIM(name, value, days) {
        if (typeof days != "undefined") { //if set persistent cookie
            var expireDate = new Date();
            expireDate.setDate(expireDate.getDate() + days);
            document.cookie = name + "=" + value + "; path=/; expires=" + expireDate.toGMTString() + " ;SameSite=Strict;";
        }
        else //else if this is a session only cookie
            document.cookie = name + "=" + value + "; path=/ ;SameSite=Strict;";
    }

    /* COMMON FUNCTION TO NARROW SEARCH HIDE/SHOW ALONG WITH STATE SAVED : Dec 24, 2012 : IJ */

    /* CLEAR NARROW SEARCH - START */
    function clearNarrowSearchFilterIM() {

        if (typeof ($("#ToolHistoryCategoryNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryCategoryNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryCategoryNew").multiselect("uncheckAll");
            $("#ToolHistoryCategoryNewCollapse").html('');
        }
        if (typeof ($("#ToolHistoryTechnicianNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryTechnicianNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryTechnicianNew").multiselect("uncheckAll");
            $("#ToolHistoryTechnicianNewCollapse").html('');
        }
        if (typeof ($("#ToolHistoryCreatedByNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryCreatedByNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryCreatedByNew").multiselect("uncheckAll");
            $("#ToolHistoryCreatedByNewCollapse").html('');
        }
        if (typeof ($("#ToolHistoryUpdatedByNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryUpdatedByNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryUpdatedByNew").multiselect("uncheckAll");
            $("#ToolHistoryUpdatedByNewCollapse").html('');
        }
        if (typeof ($("#ToolHistoryLocationNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryLocationNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryLocationNew").multiselect("uncheckAll");
            $("#ToolHistoryLocationNewCollapse").html('');
        }

        if (typeof ($("#ToolHistoryCheckoutNew").multiselect("getChecked").length) != undefined && $("#ToolHistoryCheckoutNew").multiselect("getChecked").length > 0) {
            $("#ToolHistoryCheckoutNew").multiselect("uncheckAll");
            $("#ToolHistoryCheckoutNewCollapse").html('');
            ToolHistoryCheckoutValue = '';

        }

        if ($('#ToolHistoryCost') != undefined) {
            $('#ToolHistoryCost').val('0_-1');
            THCostNarroSearchValue = '';
        }

        $("select[name='udflist']").each(function (index) {
            if (typeof ($(this).multiselect("getChecked").length) != undefined && $(this).multiselect("getChecked").length > 0) {
                var UDFUniqueID = this.getAttribute('UID');
                $(this).multiselect("uncheckAll");
                $('#' + UDFUniqueID + 'Collapse').html('');
            }
        });
        if ($('#ToolHistoryDateCFrom').val() != '') $('#ToolHistoryDateCFrom').val('');
        if ($('#ToolHistoryDateCTo').val() != '') $('#ToolHistoryDateCTo').val('');
        if ($('#ToolHistoryDateUFrom').val() != '') $('#ToolHistoryDateUFrom').val('');
        if ($('#ToolHistoryDateUTo').val() != '') $('#ToolHistoryDateUTo').val('');


    }
    /* CLEAR NARROW SEARCH - END */

    /* CLEAR GLOBAL FILTER IF NOT IN FOCUS - START */
    function clearGlobalIMIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'FilterSupplierCatalogItems')
            $("#FilterSupplierCatalogItems").val('');
    }
    /* CLEAR GLOBAL FILTER IF NOT IN FOCUS - END */
    function DoNarrowSearchSC() {

        var narrowSearchFields = '';
        var narrowSearchValues = '';
        var narrowSearchItem = '';

        if (ToolHistoryCreatedByNarroValues != undefined && ToolHistoryCreatedByNarroValues.length > 0) {
            narrowSearchFields += "CreatedBy" + ",";
            narrowSearchValues += ToolHistoryCreatedByNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "CreatedBy" + ",";
            narrowSearchValues += '@("@")';
        }

        if (ToolHistoryUpdatedByNarroValues != undefined && ToolHistoryUpdatedByNarroValues.length > 0) {
            narrowSearchFields += "UpdatedBy" + ",";
            narrowSearchValues += ToolHistoryUpdatedByNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "UpdatedBy" + ",";
            narrowSearchValues += '@("@")';
        }

        ///////////////////////////////////////////////////////////////////////////////////////////////
        if ($('#ToolHistoryDateCFrom').val() != '' && $('#ToolHistoryDateCTo').val() != '') {

            narrowSearchFields += "DateCreatedFrom" + ",";
            narrowSearchValues += ($('#ToolHistoryDateCFrom').val()) + "," + ($('#ToolHistoryDateCTo').val()) + '@("@")';
        }
        else {
            narrowSearchFields += "DateCreatedFrom" + ",";
            narrowSearchValues += '@("@")';
        }
        ////////////////////////////////////////////////////////////////////////////////////////////////
        if ($('#ToolHistoryDateUFrom').val() != '' && $('#ToolHistoryDateUTo').val() != '') {

            narrowSearchFields += "DateUpdatedFrom" + ",";
            narrowSearchValues += ($('#ToolHistoryDateUFrom').val()) + "," + ($('#ToolHistoryDateUTo').val()) + '@("@")';
        }
        else {
            narrowSearchFields += "DateUpdatedFrom" + ",";
            narrowSearchValues += '@("@")';
        }

        if (UserUDF1NarrowValues != undefined && UserUDF1NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF1#" + UserUDF1NarrowValues;
            narrowSearchFields += "UDF1" + ",";
            narrowSearchValues += UserUDF1NarrowValues + '@("@")';
        }
        else {
            narrowSearchFields += "UDF1" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////////
        if (UserUDF2NarrowValues != undefined && UserUDF2NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF2#" + UserUDF2NarrowValues;
            narrowSearchFields += "UDF2" + ",";
            narrowSearchValues += UserUDF2NarrowValues + '@("@")';
        }
        else {
            narrowSearchFields += "UDF2" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////
        if (UserUDF3NarrowValues != undefined && UserUDF3NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF3#" + UserUDF3NarrowValues;
            narrowSearchFields += "UDF3" + ",";
            narrowSearchValues += UserUDF3NarrowValues + '@("@")';
        }
        else {
            narrowSearchFields += "UDF3" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////
        if (UserUDF4NarrowValues != undefined && UserUDF4NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF4#" + UserUDF4NarrowValues;
            narrowSearchFields += "UDF4" + ",";
            narrowSearchValues += UserUDF4NarrowValues + '@("@")';
        }
        else {
            narrowSearchFields += "UDF4" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////
        if (UserUDF5NarrowValues != undefined && UserUDF5NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF5#" + UserUDF5NarrowValues;
            narrowSearchFields += "UDF5" + ",";
            narrowSearchValues += UserUDF5NarrowValues + '@("@")';
        }
        else {
            narrowSearchFields += "UDF5" + ",";
            narrowSearchValues += '@("@")';
        }

        if (ToolCheckOutUDF1 != undefined && ToolCheckOutUDF1.length > 0) {
            narrowSearchFields += "ToolCheckOutUDF1" + ",";
            narrowSearchValues += ToolCheckOutUDF1 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolCheckOutUDF1" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolCheckOutUDF2 != undefined && ToolCheckOutUDF2.length > 0) {
            narrowSearchFields += "ToolCheckOutUDF2" + ",";
            narrowSearchValues += ToolCheckOutUDF2 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolCheckOutUDF2" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolCheckOutUDF3 != undefined && ToolCheckOutUDF3.length > 0) {
            narrowSearchFields += "ToolCheckOutUDF3" + ",";
            narrowSearchValues += ToolCheckOutUDF3 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolCheckOutUDF3" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolCheckOutUDF4 != undefined && ToolCheckOutUDF4.length > 0) {
            narrowSearchFields += "ToolCheckOutUDF4" + ",";
            narrowSearchValues += ToolCheckOutUDF4 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolCheckOutUDF4" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolCheckOutUDF5 != undefined && ToolCheckOutUDF5.length > 0) {
            narrowSearchFields += "ToolCheckOutUDF5" + ",";
            narrowSearchValues += ToolCheckOutUDF5 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolCheckOutUDF5" + ",";
            narrowSearchValues += '@("@")';
        }


        if (ToolHistoryCategoryValue != undefined && ToolHistoryCategoryValue.length > 0) {
            narrowSearchFields += "ToolCategoryID" + ",";
            narrowSearchValues += ToolHistoryCategoryValue + '@("@")';
        }
        else {
            narrowSearchFields += "ToolCategoryID" + ",";
            narrowSearchValues += '@("@")';
        }

        if (THCostNarroSearchValue != undefined && THCostNarroSearchValue.length > 0) {
            narrowSearchFields += "Cost" + ",";
            narrowSearchValues += THCostNarroSearchValue + '@("@")';
        }
        else {
            narrowSearchFields += "Cost" + ",";
            narrowSearchValues += '@("@")';
        }

        if (THMaintenanceValue != undefined && THMaintenanceValue.length > 0) {
            narrowSearchFields += "MaintenanceValue" + ",";
            narrowSearchValues += THMaintenanceValue + '@("@")';
        }
        else {
            narrowSearchFields += "MaintenanceValue" + ",";
            narrowSearchValues += '@("@")';
        }

        if (THLocationValue != undefined && THLocationValue.length > 0) {
            narrowSearchFields += "LocationID" + ",";
            narrowSearchValues += THLocationValue + '@("@")';
        }
        else {
            narrowSearchFields += "LocationID" + ",";
            narrowSearchValues += '@("@")';
        }

        if (ToolHistoryTechnicianValue != undefined && ToolHistoryTechnicianValue.length > 0) {
            narrowSearchFields += "ToolTechnician" + ",";
            narrowSearchValues += ToolHistoryTechnicianValue + '@("@")';
        }
        else {
            narrowSearchFields += "ToolTechnician" + ",";
            narrowSearchValues += '@("@")';
        }

        ///////////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolTechUDF1 != undefined && ToolTechUDF1.length > 0) {
            narrowSearchFields += "ToolTechUDF1" + ",";
            narrowSearchValues += ToolTechUDF1 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolTechUDF1" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolTechUDF2 != undefined && ToolTechUDF2.length > 0) {
            narrowSearchFields += "ToolTechUDF2" + ",";
            narrowSearchValues += ToolTechUDF2 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolTechUDF2" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolTechUDF3 != undefined && ToolTechUDF3.length > 0) {
            narrowSearchFields += "ToolTechUDF3" + ",";
            narrowSearchValues += ToolTechUDF3 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolTechUDF3" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolTechUDF4 != undefined && ToolTechUDF4.length > 0) {
            narrowSearchFields += "ToolTechUDF4" + ",";
            narrowSearchValues += ToolTechUDF4 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolTechUDF4" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////
        if (ToolTechUDF5 != undefined && ToolTechUDF5.length > 0) {
            narrowSearchFields += "ToolTechUDF5" + ",";
            narrowSearchValues += ToolTechUDF5 + '@("@")';
        }
        else {
            narrowSearchFields += "ToolTechUDF5" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////


  

    

        var searchtext = $("#thistory_filter").val().replace(/'/g, "''");
        narrowSearch = narrowSearchFields + "[###]" + narrowSearchValues+"[###]"+searchtext;

        if (narrowSearch.length > 10)
            NarrowSearchInGridSC(narrowSearch);
        else if (UserCreatedNarroValues == undefined || UserCreatedNarroValues.length == 0 ||
         UserUpdatedNarroValues == undefined || UserUpdatedNarroValues.length == 0)
            NarrowSearchInGridSC(narrowSearch);
    }

    function NarrowSearchInGridSC(searchstr) {
        $('#THLDataTable').dataTable().fnFilter(searchstr, null, null, null);
    }

    function HistoryCostNarroSearch(CostDDLObject) {
        //oTable.fnFilter($(CostDDLObject).val(),null,null,null);
        if ($(CostDDLObject).val() != "0_-1") {
            THCostNarroSearchValue = $(CostDDLObject).val();
            _NarrowSearchSave.objSearch.ToolHistoryCost = THCostNarroSearchValue;
            DoNarrowSearchSC();
        }
        else {
            THCostNarroSearchValue = '';
            _NarrowSearchSave.objSearch.ToolHistoryCost = THCostNarroSearchValue;
            DoNarrowSearchSC();
        }
    }
</script>
