@model SupplierCatalogItemDTO
@*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dataTables/demo_table_jui.css")" />*@
@if (Model.SourcePageName != "ItemMaster")
{
    if (Model.ButtonText == "Add from Catalog")
    {
        <input type="button" name="btnOpenPopup" id="btnOpenPopup" value="@ResOrder.AddFromCatalogButton" class="btnGeneral" onclick="OpenSupplierCatalogPopup(this);" style=" margin-top: 1.3% !important; " />
    }
    else
    {
        <input type="button" name="btnOpenPopup" id="btnOpenPopup" value="@Model.ButtonText" class="btnGeneral" onclick="OpenSupplierCatalogPopup(this);" style=" margin-top: 1.3% !important; " />
    }

}
<div id="divSupplierCatalogItems" style="display: none;">
</div>
<script type="text/javascript">
    var SupplierId = 0;
    function OpenSupplierCatalogPopup(curobj) {
        var SuppName = '@Model.OrderSupplier';
        if ('@Model.SourcePageName' == 'OrderMaster') {
            SuppName = $('#ddlSupplier option:selected').text();
            SupplierId = $('#ddlSupplier option:selected').val();
        }

        if ('@Model.OpenPopup' == '@Boolean.TrueString') {
            if ('@Model.SourcePageName' == 'OrderMaster') {
                $("#ItemModel").dialog("close");
            }
            $('#divSupplierCatalogItems').data("data", { SourcePageName: '@Model.SourcePageName', OrderGUID: '@Model.OrderGUID', OrderSupplier: escape(SuppName) }).dialog('open');
        }
        else {

        }
    }
    jQuery(function () {
        $("#divSupplierCatalogItems").dialog({
            autoOpen: false,
            modal: true,
            draggable: true,
            resizable: true,
            width: '82%',
            height: 710,
            title: '@ResCommon.SelectItemFromCatalog',
            open: function () {
                $('#DivLoading').show();

                $("#divSupplierCatalogItems").load('@Url.Action("LoadSupplierCatalogItems", "SupplierCatalog")?SourcePage=' + $(this).data("data").SourcePageName + '&OrderGUID=' + $(this).data("data").OrderGUID + '&OrderSupplier=' + $(this).data("data").OrderSupplier + '&OrderSupplierID=' + SupplierId, function () {
                    $('#DivLoading').hide();
                    $("#divSupplierCatalogItems").dialog("option", "width", "82%");
                    $("#divSupplierCatalogItems").dialog("option", "height", 710);
                    $("#divSupplierCatalogItems").dialog('option', 'position', 'center');
                });
            },
            close: function () {
                $("#divSupplierCatalogItems").html("");
            }
        });

    });
    
</script>
