@model IEnumerable<eTurns.DTO.RequisitionDetailsDTO>    
<script src="@Url.Content("~/Scripts/DynemicDataTable.js?v=" + eTurnsWeb.Helper.CommonUtility.GetReleaseNumber())" type="text/javascript"></script>
<div class="innerGrid" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">
    <table style="width: 100%;">
        <tr>
            <td class="BtnBlock" style="float: none; border: 1px solid #F8F8F8; height: 2px;">
                <div class="innerHeadSec">
                    <div style="position: absolute; left: 470px; top: -11px; width: 350px; z-index: 10;">
                        <a href="javascript:void(null);" onclick="DeleteItemLocatino();" title="@ViewBag.RequisitionID" id="btnDeleteRecords">
                            <img src="~/Content/images/delete.png" />
                        </a>
                        <input type="button" id="InnerGridGobtn" class="go" value='@eTurns.DTO.Resources.ResGridHeader.Go' />
                        <input type="text" id="InnerGridPageNumber" class="inputNum" />
                        <span class="label">@eTurns.DTO.Resources.ResGridHeader.GoToPage</span>
                    </div>
                </div>
            </td>
            <td style="text-align: right;">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 14px; padding-bottom: 35px; border: 1px solid #F8F8F8;">
                <div class="userContentInnerGrid">
                    <table id="RequisitionDetails@(ViewBag.RequisitionID)" class="display">
                        <thead>
                            <tr>                                
                                <th>
                                </th>
                                <th>@eTurns.DTO.ResItemMaster.ItemNumber
                                </th>
                                <th>@eTurns.DTO.ResRequisitionDetails.QuantityRequisitioned
                                </th>
                                <th>@eTurns.DTO.ResRequisitionDetails.QuantityPulled
                                </th>
                                <th>@eTurns.DTO.ResRequisitionDetails.QuantityApproved
                                </th>
                                <th>
                                    @eTurns.DTO.ResItemMaster.LongDescription
                                </th>
                                <th>
                                    @eTurns.DTO.ResSupplierMaster.Supplier
                                </th>
                                <th>
                                    @eTurns.DTO.ResCategoryMaster.Category
                                </th>
                                <th>
                                    @eTurns.DTO.ResPullMaster.BinID
                                </th>
                                <th>
                                    @eTurns.DTO.ResPullMaster.ProjectID
                                </th>
                                @Html.RenderColumnsHeader("PullMaster", typeof(eTurns.DTO.ResPullMaster))
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="RequisitionDetails">
</div>
<script type="text/javascript">

    $(function (event) {
        var ColumnObject = new Array();
        ColumnObject.push
            (
                { mDataProp: null, sClass: "read_only control center", "bSortable": false, "sDefaultContent": ''
                   , "fnRender": function (obj, val) {
                      if(obj.aData.RequisitionStatus == 'Approved')
                            return "<input type='button' value='Pull' onclick='FinalSave(this);' id='btnRequisitionPull' class='CreateBtn' style='float: none;padding: 2px 6px;margin-left: 5px;' />" + "<span id='spnRequisitionDetialsID' style='display:none'>" + obj.aData.ID + "</span>" + "" + "<span id='spnRequisitionID' style='display:none'>" + obj.aData.RequisitionID + "</span>" + "" + "<span id='spnRequisitionDetialItemID' style='display:none'>" + obj.aData.ItemID + "</span>" + "" + "<span id='spnPullID' style='display:none'>" + obj.aData.PullID + "</span>" + "" + "<span id='spnBinID' style='display:none'>" + obj.aData.BinID + "</span>" + "" + "<span id='spnProjectSpendID' style='display:none'>" + obj.aData.ProjectSpendID + "</span>" + "" + "<span id='spnItemGUID' style='display:none'>" + obj.aData.ItemGUID + "</span>" + "";
                       else
                            return "<input type='button' value='Pull' onclick='return false;' disabled id='btnRequisitionPull' class='CreateBtn' style='float: none;padding: 2px 6px;margin-left: 5px;' />" + "<span id='spnRequisitionDetialsID' style='display:none'>" + obj.aData.ID + "</span>" + "" + "<span id='spnRequisitionID' style='display:none'>" + obj.aData.RequisitionID + "</span>" + "" + "<span id='spnRequisitionDetialItemID' style='display:none'>" + obj.aData.ItemID + "</span>" + "" + "<span id='spnPullID' style='display:none'>" + obj.aData.PullID + "</span>" + "" + "<span id='spnBinID' style='display:none'>" + obj.aData.BinID + "</span>" + "" + "<span id='spnProjectSpendID' style='display:none'>" + obj.aData.ProjectSpendID + "</span>" + "" + "<span id='spnItemGUID' style='display:none'>" + obj.aData.ItemGUID + "</span>" + "";
                   }
                }
            );
        ColumnObject.push({mDataProp : "ItemNumber",sClass : "read_only"});
        ColumnObject.push
        (
            { mDataProp: null, sClass: "read_only  control center" ,"sDefaultContent":'',
                    "fnRender": function (obj, val)
                    {
                        var tempQuantityRequisitioned = obj.aData.QuantityRequisitioned == null ? 0 : obj.aData.QuantityRequisitioned;
                        if(tempQuantityRequisitioned > 0)
                            return "<input type='text' value='"+ parseFloat(tempQuantityRequisitioned).toFixed(parseInt($('#hdQuantitycentsLimit').val(), 10))   +"' class='text-boxPriceFormat text-box' id='aQuantityRequisitioned' style='width:60px;' />";
                        else
                            return "<input type='text' value='"+ 0 +"' class='text-boxPriceFormat text-box' id='aQuantityRequisitioned' style='width:60px;' />";
                    }
            }
        );
        ColumnObject.push
        (
            { mDataProp: null, sClass: "read_only control center" ,"sDefaultContent":'',
                    "fnRender": function (obj, val)
                    {
                        var tempDataPullQnt = obj.aData.QuantityPulled == null ? 0 : obj.aData.QuantityPulled;
                        if(tempDataPullQnt > 0)
                            return "<input type='text' value='"+ parseFloat(tempDataPullQnt).toFixed(parseInt($('#hdQuantitycentsLimit').val(), 10))  +"' class='text-boxPriceFormat text-box' id='aPullQuantity' style='width:60px;' />";
                        else
                            return "<input type='text' value='"+ 0 +"' class='text-boxPriceFormat text-box' id='aPullQuantity' style='width:60px;' />";
                    }
            }
        );
        ColumnObject.push
        (
            { mDataProp: null, sClass: "read_only control center" ,"sDefaultContent":'',
                    "fnRender": function (obj, val)
                    {
                        var tempQuantityApproved = obj.aData.QuantityApproved == null ? 0 : obj.aData.QuantityApproved;
                        if(tempQuantityApproved > 0)
                            return "<input type='text' value='"+ parseFloat(tempQuantityApproved).toFixed(parseInt($('#hdQuantitycentsLimit').val(), 10)) +"' class='text-boxPriceFormat text-box' id='aQuantityApproved' style='width:60px;' />";
                        else
                            return "<input type='text' value='"+ 0 +"' class='text-boxPriceFormat text-box' id='aQuantityApproved' style='width:60px;' />";
                    }
            }
        );

        ColumnObject.push({mDataProp : "LongDescription",sClass : "read_only"});
        ColumnObject.push({mDataProp : "SupplierName",sClass : "read_only"});
        ColumnObject.push({mDataProp : "CategoryName",sClass : "read_only"});
        ColumnObject.push
        (
            {
			    "mDataProp": null,
			    "sClass": "read_only",
			    "bSortable": false,
			    "bSearchable": false,
                "sDefaultContent": '',
			    "fnRender": function (obj, val) {
                var sOut = '';
			        $.ajax({
			            "url": '@Url.Content("~/Master/GetDropDownList")',
			            data: { ID: obj.aData.ItemID, PageName: 'ItemLocationList', SelectedID: obj.aData.BinID },
			            "async": false,
			            cache: false,
			            "dataType": "text",
			            "success": function (json) {
			                sOut = json;
			                $('#DivLoading').hide();
			            },
			            error: function (response) {
			            }
			        });
			        return sOut;
			    }
		    }
        );
        ColumnObject.push
        (
            {
			    "mDataProp": null,
			    "sClass": "read_only",
			    "bSortable": false,
			    "bSearchable": false,
                "sDefaultContent": '',
			    "fnRender": function (obj, val) {
                    var sOut = '';
			        $.ajax({
			            "url": '@Url.Content("~/Master/GetDropDownList")',
			            data: { ID: obj.aData.ItemID, PageName: 'ProjectList', SelectedID: obj.aData.ProjectSpendID },
			            "async": false,
			            cache: false,
			            "dataType": "text",
			            "success": function (json) {
			                sOut = json;
			                $('#DivLoading').hide();
			            },
			            error: function (response) {
			            }
			        });
			        return sOut;
			    }
			}
        );
        ColumnObject.push(@Html.RenderColumnsArrayEditableObject("PullMaster",false, isUDFOrderRequire: true));
        PrepareItemLocationDataTable("RequisitionDetails",'@ViewBag.RequisitionID','@Url.Content("~/Consume/ItemRequisitionDetailsAjax")','RequisitionDetails',ColumnObject);
    });
    function DeleteItemLocatino()
    {
        DeleteDynemicTableData($("#" + "RequisitionDetails" + '@ViewBag.RequisitionID').DataTable(),'@Url.Content("~/Consume/RequisitionDetailsDelete")');
    }
    function onlyNumeric(event) {
            var charCode = (event.which) ? event.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57 || code == 86))
                return false;

            return true;
        }
</script>
<script type="text/javascript">
    function FinalSave(RowObject) {
        

        var tempRequestionDetialsID = $(RowObject).parent().find('#spnRequisitionDetialsID').text();
        var tempRequisitionID = $(RowObject).parent().parent().find('#spnRequisitionID').text();
        var tempItemID = $(RowObject).parent().parent().find('#spnRequisitionDetialItemID').text();
        var tempItemGUID = $(RowObject).parent().parent().find('#spnItemGUID').text();
        var tempPullID = $(RowObject).parent().parent().find('#spnPullID').text() == "null" ? 0 : $(RowObject).parent().parent().find('#spnPullID').text();
        var tempBinID = $(RowObject).parent().parent().find('#BinID')[0].value
        var tempProjectSpendID = $(RowObject).parent().parent().find('#ProjectID')[0].value;

        var tempQuantityRequisition = $(RowObject).parent().parent().find('#aQuantityRequisitioned')[0].value == "" ? 0 : $(RowObject).parent().parent().find('#aQuantityRequisitioned')[0].value;
        var tempPullQuntity = $(RowObject).parent().parent().find('#aPullQuantity')[0].value == "" ? 0 : $(RowObject).parent().parent().find('#aPullQuantity')[0].value;
        var tempQuantityApproved = $(RowObject).parent().parent().find('#aQuantityApproved')[0].value == "" ? 0 : $(RowObject).parent().parent().find('#aQuantityApproved')[0].value;
        
        if ((tempPullQuntity > tempQuantityApproved) || (tempPullQuntity == 0 || tempQuantityApproved == 0)) {
            $('div#target').fadeToggle();
            $("div#target").delay(DelayTime).fadeOut(FadeOutTime);
            $("#spanGlobalMessage").html('@ResRequisitionDetails.validatePullQuantity');
            $("#spanGlobalMessage").removeClass('errorIcon succesIcon').addClass('WarningIcon');            
            return false;
        }

        if (tempPullQuntity > 0 && tempBinID > 0) {
            $('#DivLoading').show();

            var vUDF1 = '';
            var vUDF2 = '';
            var vUDF3 = '';
            var vUDF4 = '';
            var vUDF5 = '';


            if ($(RowObject).parent().parent().find('#UDF1') != null) {
                if ($(RowObject).parent().parent().find('#UDF1').attr("class") == 'selectBox') {
                    vUDF1 = $(RowObject).parent().parent().find('#UDF1 option:selected').text();
                }
                else {
                    vUDF1 = $(RowObject).parent().parent().find('#UDF1').val();
                }
            }

            if ($(RowObject).parent().parent().find('#UDF2') != null) {
                if ($(RowObject).parent().parent().find('#UDF2').attr("class") == 'selectBox') {
                    vUDF2 = $(RowObject).parent().parent().find('#UDF2  option:selected').text();
                }
                else {
                    vUDF2 = $(RowObject).parent().parent().find('#UDF2').val();
                }
            }

            if ($(RowObject).parent().parent().find('#UDF3') != null) {
                if ($(RowObject).parent().parent().find('#UDF3').attr("class") == 'selectBox') {
                    vUDF3 = $(RowObject).parent().parent().find('#UDF3 option:selected').text();
                }
                else {
                    vUDF3 = $(RowObject).parent().parent().find('#UDF3').val();
                }
            }

            if ($(RowObject).parent().parent().find('#UDF4') != null) {
                if ($(RowObject).parent().parent().find('#UDF4').attr("class") == 'selectBox') {
                    vUDF4 = $(RowObject).parent().parent().find('#UDF4 option:selected').text();
                }
                else {
                    vUDF4 = $(RowObject).parent().parent().find('#UDF4').val();
                }
            }

            if ($(RowObject).parent().parent().find('#UDF5') != null) {
                if ($(RowObject).parent().parent().find('#UDF5').attr("class") == 'selectBox') {
                    vUDF5 = $(RowObject).parent().parent().find('#UDF5 option:selected').text();
                }
                else {
                    vUDF5 = $(RowObject).parent().parent().find('#UDF5').val();
                }
            }
            //(Int64 RequisitionDetailID, Int64 RequisitionID, Int64 ItemID, string ItemGUID, Int64 PullID, Int64 BinID, 
            //Int64 ProjectID, int PullQuantity, string UDF1, string UDF2, string UDF3, string UDF4, string UDF5)
            $.ajax({
                "url": '@Url.Content("~/Consume/UpdatePullData")',
                data: { RequisitionDetailID: tempRequestionDetialsID, RequisitionID: tempRequisitionID, ItemID: tempItemID,
                        ItemGUID: tempItemGUID, PullID: tempPullID, BinID: tempBinID, ProjectID: tempProjectSpendID,
                        PullQuantity: tempPullQuntity, UDF1: vUDF1, UDF2: vUDF2, UDF3: vUDF3, UDF4: vUDF4, UDF5: vUDF5
                      },
                "async": false,
                cache: false,
                "dataType": "json",
                "success": function (response) {
                    $('#DivLoading').hide();
                    if (response.Status == "ok") {
                        if (response.LocationMSG != "") {
                            alert(response.LocationMSG);
                        }
                        else {
                            $('div#target').fadeToggle();
                            $("div#target").delay(DelayTime).fadeOut(FadeOutTime);
                            $("#spanGlobalMessage").html(response.Message);
                            $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
                            oTable.fnDraw();
                        }
                    }
                    else {
                        $("#spanGlobalMessage").html(response.Message);
                        $('div#target').fadeToggle();
                        $("div#target").delay(DelayTime).fadeOut(FadeOutTime);
                        $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
                    }
                },
                error: function (response) {
                    $('#DivLoading').hide();
                    $("#spanGlobalMessage").html(response.Message);
                    $('div#target').fadeToggle();
                    $("div#target").delay(DelayTime).fadeOut(FadeOutTime);
                    $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
                }
            });
        }
        else {
            alert('@ResLocation.ReqInventoryLocation');
        }
    }

</script>

<script type="text/javascript">
    var objColumnsRequisitionDetails = {
        '': 0,        
        '@MvcHtmlString.Create(eTurns.DTO.ResItemMaster.ItemNumber)': 1,
        '@MvcHtmlString.Create(eTurns.DTO.ResRequisitionDetails.QuantityRequisitioned)': 2,
        '@MvcHtmlString.Create(eTurns.DTO.ResRequisitionDetails.QuantityPulled)': 3,
        '@MvcHtmlString.Create(eTurns.DTO.ResPullMaster.UDF1)': 4,
        '@MvcHtmlString.Create(eTurns.DTO.ResPullMaster.UDF2)': 5,
        '@MvcHtmlString.Create(eTurns.DTO.ResPullMaster.UDF3)': 6,
        '@MvcHtmlString.Create(eTurns.DTO.ResPullMaster.UDF4)': 7,
        '@MvcHtmlString.Create(eTurns.DTO.ResPullMaster.UDF5)': 8,
        '@MvcHtmlString.Create(eTurns.DTO.ResItemMaster.LongDescription)': 9,
        '@MvcHtmlString.Create(eTurns.DTO.ResSupplierMaster.Supplier)': 10,
        '@MvcHtmlString.Create(eTurns.DTO.ResCategoryMaster.Category)': 11
    };
</script>
