@model IEnumerable<eTurns.DTO.ToolCheckInOutHistoryDTO>
@{

    bool AllowCheckinCheckOut = eTurnsWeb.Helper.SessionHelper.GetAdminPermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowCheckInCheckout);
    string version = eTurnsWeb.Helper.CommonUtility.GetReleaseNumber();
    var settings = new GridHeaderSettings() { DisplaySaveButton = false, DisplaySettings = true, DisplayColumnSetupButton = true, ColumnSetupFor = "CheckinCheckOutList" };
}

<style type="text/css">
    .TableTools{
        display:none;
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Scripts/DynemicDataTable.js?v=" + eTurnsWeb.Helper.CommonUtility.GetReleaseNumber())"></script>
<script>
    var allowCheckinCheckOut = false;
    
    if('@AllowCheckinCheckOut' == 'True')
    {
        allowCheckinCheckOut =true;
    }
    
</script>
<div class="innerGrid" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">
    <table>
        <tr>
            <td class="BtnBlock" style="float: none; border: 1px solid #F8F8F8; height: 2px;">

                <div class="innerHeadSec">
                    <div style="position: absolute; left: 400px; top: -9px; width: 350px; z-index: 10;">
                        @Html.GridInnerGridTopHeader(settings)
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 14px; padding-bottom: 35px; border: 1px solid #F8F8F8;">
                <div class="userContentInnerGrid">
                    <table id="ToolChekinCheckoutTable@(ViewBag.ToolGUID)" class="display toolcheckouttables" style="width:800px;">
                        <thead>
                            <tr>
                                <th class="NotHide">
                                    @ResItemMaster.Expand
                                </th>
                                <th class="NotHide">
                                    @ResToolCheckInOutHistory.Action
                                </th>
                                <th class="NotHide">
                                    @ResToolCheckInOutHistory.CheckinQuantity
                                </th>
                                <th>
                                    @ResToolCheckInOutHistory.CheckOutDate
                                </th>
                                <th>
                                    @ResToolMaster.Quantity
                                </th>
                                <th class="NotHide">
                                    @ResToolCheckInOutHistory.CurrentAvalQty
                                </th>
                                <th>
                                    @ResToolCheckInOutHistory.RemainingQty
                                </th>
                                <th>
                                    @ResToolMaster.ForMaintanence
                                </th>
                                <th>
                                    @ResToolMaster.CheckedOutBy
                                </th>
                                <th>
                                    @ResToolMaster.UpdatedDate
                                </th>
                                <th>
                                    @ResToolMaster.UpdatedBy
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.AddedFrom
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.EditedFrom
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.ReceivedOnDate
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.ReceivedOnWebDate
                                </th>
                                <th class="NotHide">
                                    @eTurns.DTO.Resources.ResCommon.Technician
                                </th>
                                <th>
                                    @ResToolCheckInOutHistory.CheckoutFromKit
                                </th>
                                @Html.RenderColumnsHeader("ToolCheckInOutHistory", typeof(eTurns.DTO.ResToolCheckInOutHistory), "")
                                
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div style="clear: both; width: 90%; margin-top: 10px;">
                        <input type="button" value="@eTurns.DTO.ResToolMaster.ToolCheckInAllButton" id="btnToolCheckInAllNewFlow" class="CreateBtn" style="float: left;display:none; " />
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<input type="hidden" id="hdnListName" value="CheckinCheckOutList" />
<input type="hidden" id="hdnGuid" value="'@ViewBag.ToolGUID'" />
<script type='text/javascript' src="@Url.Content("~/Scripts/PageScripts/Assets_CheckInCheckout.js?v=" + version)"></script>

<script type="text/javascript">
    _AssetsCheckInCheckout.initUrls('@Url.Content("~/Assets/CheckInCheckOutListAjax")', '@Url.Content("~/Assets/CheckInData")'
        , '@Url.Content("~/Assets/DeleteCheckInCheckOutRecords")', '@Url.Content("~/Assets/CheckOutCheckIn")'
        , '@Url.Content("~/Assets/CheckInAll")'
    );
    
</script>

<script type="text/javascript">
     var toolCheckInChekOutTableColumns;
    $(document).ready(function () {
        objColumns = GetGridHeaderColumnsObject('ToolChekinCheckoutTable' + '@(ViewBag.ToolGUID)');
        toolCheckInChekOutTableColumns = objColumns;
        BindReorderInnerGridPopUpAndEvents(true);
    });
    var arrToolCheckInOutHistory = [@Html.RenderColumnsArray("ToolCheckInOutHistory", false, "")];
    var MsgCheckinCheckoutValidation = '@ResAssetMaster.MsgCheckinCheckoutValidation';
    var MsgInvalidOperationNoCheckout = '@ResAssetMaster.MsgInvalidOperationNoCheckout';
    var MsgRecordSucessfullyUpdated = '@ResCommon.MsgRecordSucessfullyUpdated';
    var MsgKindlyFillTechnician = '@ResTechnician.MsgKindlyFillTechnician';
    var MsgInvalidTechnician = '@ResTechnician.MsgInvalidTechnician';
    var MsgInsertProperQuantityValue = '@ResAssetMaster.MsgInsertProperQuantityValue';
    var MsgCheckInValidation = '@ResAssetMaster.MsgCheckInValidation';
    var MsgCheckedOutQuantityValidation = '@ResAssetMaster.MsgCheckedOutQuantityValidation';
    var Invalidtechincian = '@ResRequisitionDetails.Invalidtechincian';
    var MsgKindlyFillTechnician = '@ResTechnician.MsgKindlyFillTechnician';

    @*//    var objColumns_inner = GetGridHeaderColumnsObject("ToolChekinCheckoutTable" + '@ViewBag.ToolGUID');
    $(document).ready(function () {
        ColumnObjectAC = GetGridHeaderColumnsObject('ToolChekinCheckoutTable'+'@(ViewBag.ToolGUID)');
    });*@
    _AssetsCheckInCheckout.init('@(ViewBag.ToolGUID)');
    function InnerGridColumnAndTableRebinding() {
        oTableGlobalTABLE = $("#" + "ToolChekinCheckoutTable" + '@ViewBag.ToolGUID').dataTable();
        objColumns = toolCheckInChekOutTableColumns;
    }
    function InnerGridReloadAfterReorder() {
        var anOpenToolCheckOuts = [];
        anOpenToolCheckOuts = anOpen1;

        $('#myDataTable').find("tbody tr").each(function (index, tr) {
            if ($(tr).find('#hdnGUID').val() == '@(ViewBag.ToolGUID)') {
                $(tr).find('img.Expand').click(); //$(tr).find('img.ExpandLocationSerials').click();
                $(tr).find('img.Expand').click();
                //ToolIDToOpen = '';
                return;
            }
        });
    }

</script>
<script type="text/javascript" language="javascript">
    /// code for check in and check out operation
       

</script>
<script type="text/javascript">
    //    var objColumnsLocation = {
    //        '@MvcHtmlString.Create(eTurns.DTO.ResItemMaster.ItemNumber)': 1,
    //        '@MvcHtmlString.Create(eTurns.DTO.ResBin.BinNumber)': 2,
    //        '@MvcHtmlString.Create(eTurns.DTO.ResItemLocationDetails.SerialNumber)': 3,
    //        '@MvcHtmlString.Create(eTurns.DTO.ResItemLocationDetails.LotNumber)': 4,
    //        '@MvcHtmlString.Create(eTurns.DTO.ResItemLocationDetails.ExpirationDate)': 5,
    //        '@MvcHtmlString.Create(eTurns.DTO.ResItemLocationDetails.CustomerOwnedQuantity)': 6,
    //        '@MvcHtmlString.Create(eTurns.DTO.ResItemLocationDetails.ConsignedQuantity)': 7,
    //        '@MvcHtmlString.Create(eTurns.DTO.ResItemLocationDetails.Created)': 8
    //    };
</script>
