@model CommonDTO
<style>
    .handle {
        height: 20px;
        width: 5%;
        vertical-align: middle;
        /*background-image: url("../../Content/images/Drage.png");*/
        cursor: move;
        float: right;
    }

        .handle img {
            height: 20px;
            width: 6%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
</style>
<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandNarrowSearchSC">
        <img src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseNarrowSearchSC">
        <img src="~/Content/images/closed.png" />
    </a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="WriitenOffNarrowULTHL">
        <li attrsortOrderWOT="1">
            <p class="handle"><img /></p>
            <select id="ToolWrittenOffCategory" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolWrittenOffCategoryCollapse">
                </div>
            </div>
        </li>

        <li attrsortOrderWOT="101">
            <p class="handle"><img /></p>
            <select id="ToolWrittenOffCreatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ToolWrittenOffCreatedByCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrderWOT="102">
            <p class="handle"><img /></p>
            <select id="ToolWrittenOffUpdatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ToolWrittenOffUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;" attrsortOrderWOT="103">
            <p class="handle"><img /></p>
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="ToolWrittenOffCreatedDateClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ToolWrittenOffDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancToolWrittenOffDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="ToolWrittenOffDateCTo" type="text" value="" name="To" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancToolWrittenOffDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li style="float: left;" attrsortOrderWOT="104">
            <p class="handle"><img /></p>
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="ToolWrittenOffUpdatedDateClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ToolWrittenOffDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancToolWrittenOffDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="ToolWrittenOffDateUTo" type="text" value="" name="To" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancToolWrittenOffDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <input id="NarroSearchClearWOT" type="button" value="@ResNarrowSearch.Clear" class="CreateBtn" />
    @{ Html.RenderPartial("NarrowSearchSave", Model);}
</div>
<script type="text/javascript">

    var selected = '@eTurns.DTO.Resources.ResNarrowSearch.selected';
    var CreatedBy = "CreatedBy";
    var UpdatedBy = "UpdatedBy";
    var RoomResourceName = "Room";

    $(document).ready(function () {
        var _IsArchived = false;
        var _IsDeleted = false;

        $(".handle").each(function () {
            $(this).find("img").attr("src", "../../Content/images/Drage.png");
        });

        $("#WriitenOffNarrowULTHL").sortable({
            handle: "> .handle",
            stop: function (event, ui) {
                var linkOrderDataTHL = $("#WriitenOffNarrowULTHL").sortable("toArray", { attribute: 'attrsortOrderWOT' });

                $.ajax({
                    "type": "POST",
                    "url": '/Master/SaveGridState',
                    "data": { Data: JSON.stringify(linkOrderDataTHL), ListName: 'WrittenOffToolList_NarrowSearch' },
                    "dataType": "json",
                    "cache": false,
                    "async": false,
                    "success": function (json1) {
                    }
                });
            }
        });

        $.ajax({
            "type": "POST",
            "url": '/Master/LoadGridState',
            "data": { ListName: 'WrittenOffToolList_NarrowSearch' },
            "dataType": "json",
            "cache": false,
            "async": false,
            "success": function (json1) {
                if (json1.jsonData != null && json1.jsonData != '') {

                    var sorted = JSON.parse(json1.jsonData);
                    sorted = sorted.reverse();

                    sorted.forEach(function (id) {
                        $("[attrsortOrderWOT=" + parseInt(id) + "]").prependTo("#WriitenOffNarrowULTHL");
                    });
                }
            }
        });

        $('#ToolWrittenOffDateCFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ToolWrittenOffDateCTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ToolWrittenOffDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ToolWrittenOffDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });

        $('#ancToolWrittenOffDateCFrom').click(function () {
            $('#ToolWrittenOffDateCFrom').focus();
        });
        $('#ancToolWrittenOffDateCTo').click(function () {
            $('#ToolWrittenOffDateCTo').focus();
        });
        $('#ancToolWrittenOffDateUFrom').click(function () {
            $('#ToolWrittenOffDateUFrom').focus();
        });
        $('#ancToolWrittenOffDateUTo').click(function () {
            $('#ToolWrittenOffDateUTo').focus();
        });
        GetWrittenOffToolListNarrowSearchData('WrittenOffToolList', _IsArchived, _IsDeleted);

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });
    });

    $('#NarroSearchGo').click(function () {
        DoNarrowSearchWOT();
    });
    $('#ToolWrittenOffDateCFrom,#ToolWrittenOffDateCTo').change(function () {

        var DateCFromValid =true;// Date.isValid($('#ReceiveDateCFrom').val(),format);
        var DateCToValid = true;//Date.isValid($('#ReceiveDateCTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ToolWrittenOffDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ToolWrittenOffDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }
        if (DateCFromValid && DateCToValid) {
            DoNarrowSearchWOT();
        }
        else {
            if (!DateCFromValid)
                $('#ToolWrittenOffDateCFrom').val('');
            if (!DateCToValid)
                $('#ToolWrittenOffDateCTo').val('');
        }
    });

    $('#ToolWrittenOffDateUFrom,#ToolWrittenOffDateUTo').change(function () {

        var DateUFromValid = true;// Date.isValid($('#ReceiveDateUFrom').val(),format);
        var DateUToValid =  true;//Date.isValid($('#ReceiveDateUTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ToolWrittenOffDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateUFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ToolWrittenOffDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
            DoNarrowSearchWOT();
        }
        else {
            if (!DateUFromValid)
                $('#ToolWrittenOffDateUFrom').val('');
            if (!DateUToValid)
                $('#ToolWrittenOffDateUTo').val('');
        }
    });
    $('#ToolWrittenOffCreatedDateClear').click(function () {
        if ($('#ToolWrittenOffDateCFrom').val() != '' || $('#ToolWrittenOffDateCTo').val() != '') {
            $('#ToolWrittenOffDateCFrom').val('');
            $('#ToolWrittenOffDateCTo').val('');
            //NarrowSearchInGrid('');
            DoNarrowSearchWOT();
        }
    });
    $('#ToolWrittenOffUpdatedDateClear').click(function () {
        if ($('#ToolWrittenOffDateUFrom').val() != '' || $('#ToolWrittenOffDateUTo').val() != '') {
            $('#ToolWrittenOffDateUFrom').val('');
            $('#ToolWrittenOffDateUTo').val('');
            //NarrowSearchInGrid('');
            DoNarrowSearchWOT();
        }
    });
    //CLEAR NARROW SEARCH
    //$("#NarroSearchClearSC").off("click").on("click", function () {
    $("#NarroSearchClearWOT").off("click").on("click", function () {        
        if (typeof ($("#ToolWrittenOffCategory").multiselect("getChecked").length) != undefined && $("#ToolWrittenOffCategory").multiselect("getChecked").length > 0) {
            $("#ToolWrittenOffCategory").multiselect("uncheckAll");
            $("#ToolWrittenOffCategoryCollapse").html('');
        }
        if (typeof ($("#ToolWrittenOffCreatedBy").multiselect("getChecked").length) != undefined && $("#ToolWrittenOffCreatedBy").multiselect("getChecked").length > 0) {
            $("#ToolWrittenOffCreatedBy").multiselect("uncheckAll");
            $("#ToolWrittenOffCreatedByCollapse").html('');
        }
        if (typeof ($("#ToolWrittenOffUpdatedBy").multiselect("getChecked").length) != undefined && $("#ToolWrittenOffUpdatedBy").multiselect("getChecked").length > 0) {
            $("#ToolWrittenOffUpdatedBy").multiselect("uncheckAll");
            $("#ToolWrittenOffUpdatedByCollapse").html('');
        }

        if ($('#ToolWrittenOffDateCFrom').val() != '') $('#ToolWrittenOffDateCFrom').val('');
        if ($('#ToolWrittenOffDateCTo').val() != '') $('#ToolWrittenOffDateCTo').val('');
        if ($('#ToolWrittenOffDateUFrom').val() != '') $('#ToolWrittenOffDateUFrom').val('');
        if ($('#ToolWrittenOffDateUTo').val() != '') $('#ToolWrittenOffDateUTo').val('');

        if ($('#WOT_filter').val() != '') $('#WOT_filter').val('');

        $('input[type="search"]').val('').trigger('keyup');

        NarrowSearchInGridSCWOT('');
    });

    function GetWrittenOffToolListNarrowSearchData(_TableName, _IsArchived, _IsDeleted) {
        $.ajax({
            'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'ToolWrittenOffCategory', IsArchived: _IsArchived, IsDeleted: _IsDeleted, RequisitionCurrentTab: null },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });
                //Destroy widgets before reapplying the filter
                $("#ToolWrittenOffCategory").empty();
                $("#ToolWrittenOffCategory").multiselect('destroy');
                $("#ToolWrittenOffCategory").multiselectfilter('destroy');

                $("#ToolWrittenOffCategory").append(s);
                $("#ToolWrittenOffCategory").multiselect(
                            {
                                noneSelectedText: ToolsCategory, selectedList: 5,
                                selectedText: function (numChecked, numTotal, checkedItems) {
                                    return ToolsCategory + ': ' + numChecked + ' ' + selected;
                                }
                            },
                            {
                                checkAll: function (ui) {
                                    $("#ToolWrittenOffCategoryCollapse").html('');
                                    for (var i = 0; i <= ui.target.length - 1; i++) {
                                        if ($("#ToolWrittenOffCategoryCollapse").text().indexOf(ui.target[i].text) == -1) {
                                            $("#ToolWrittenOffCategoryCollapse").append("<span>" + ui.target[i].text + "</span>");
                                        }
                                    }
                                    $("#ToolWrittenOffCategoryCollapse").show();
                                }
                            }
                )
                .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#ToolWrittenOffCategoryCollapse").text().indexOf(ui.text) == -1) {
                            $("#ToolWrittenOffCategoryCollapse").append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#ToolWrittenOffCategoryCollapse").html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#ToolWrittenOffCategoryCollapse").html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#ToolWrittenOffCategoryCollapse").html(text);
                        }
                        else
                            $("#ToolWrittenOffCategoryCollapse").html('');
                    }
                    ToolWrittenOffCategoryValue = $.map($(this).multiselect("getChecked"), function (input) {
                        return input.value;
                    })

                    _NarrowSearchSave.objSearch.ToolWrittenOffCategory = ToolWrittenOffCategoryValue;

                    if ($("#ToolWrittenOffCategoryCollapse").text().trim() != '')
                        $("#ToolWrittenOffCategoryCollapse").show();
                    else
                        $("#ToolWrittenOffCategoryCollapse").hide();


                    if ($("#ToolWrittenOffCategoryCollapse").find('span').length <= 2) {
                        $("#ToolWrittenOffCategoryCollapse").scrollTop(0).height(50);
                    }
                    else {
                        $("#ToolWrittenOffCategoryCollapse").scrollTop(0).height(100);
                    }
                    //clearGlobalIfNotInFocus();
                    DoNarrowSearchWOT();
                }).multiselectfilter();

                _NarrowSearchSave.setControlValue("ToolWrittenOffCategory");

            },
            error: function (response) {
                // through errror message
            }
        });

        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'CreatedBy', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#ToolWrittenOffCreatedBy").empty();
                $("#ToolWrittenOffCreatedBy").multiselect('destroy');
                $("#ToolWrittenOffCreatedBy").multiselectfilter('destroy');

                $("#ToolWrittenOffCreatedBy").append(s);
                $("#ToolWrittenOffCreatedBy").multiselect
            (
                { noneSelectedText: CreatedBy, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return CreatedBy + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#ToolWrittenOffCreatedByCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#ToolWrittenOffCreatedByCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#ToolWrittenOffCreatedByCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#ToolWrittenOffCreatedByCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#ToolWrittenOffCreatedByCollapse").text().indexOf(ui.text) == -1) {
                        $("#ToolWrittenOffCreatedByCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#ToolWrittenOffCreatedByCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#ToolWrittenOffCreatedByCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#ToolWrittenOffCreatedByCollapse").html(text);
                    }
                    else {
                        $("#ToolWrittenOffCreatedByCollapse").html('');
                    }
                }
                ToolWrittenOffCreatedByNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })
                _NarrowSearchSave.objSearch.ToolWrittenOffCreatedBy = ToolWrittenOffCreatedByNarroValues;
                if ($("#ToolWrittenOffCreatedByCollapse").text().trim() != '')
                    $("#ToolWrittenOffCreatedByCollapse").show();
                else
                    $("#ToolWrittenOffCreatedByCollapse").hide();


                if ($("#ToolWrittenOffCreatedByCollapse").find('span').length <= 2) {
                    $("#ToolWrittenOffCreatedByCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#ToolWrittenOffCreatedByCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchWOT();
            }).multiselectfilter();
                _NarrowSearchSave.setControlValue("ToolWrittenOffCreatedBy");
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'LastUpdatedBy', IsArchived: _IsArchived, IsDeleted: _IsDeleted },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#ToolWrittenOffUpdatedBy").empty();
                $("#ToolWrittenOffUpdatedBy").multiselect('destroy');
                $("#ToolWrittenOffUpdatedBy").multiselectfilter('destroy');

                $("#ToolWrittenOffUpdatedBy").append(s);
                $("#ToolWrittenOffUpdatedBy").multiselect
            (
                { noneSelectedText: UpdatedBy, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return UpdatedBy + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#ToolWrittenOffUpdatedByCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#ToolWrittenOffUpdatedByCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#ToolWrittenOffUpdatedByCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#ToolWrittenOffUpdatedByCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#ToolWrittenOffUpdatedByCollapse").text().indexOf(ui.text) == -1) {
                        $("#ToolWrittenOffUpdatedByCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#ToolWrittenOffUpdatedByCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#ToolWrittenOffUpdatedByCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#ToolWrittenOffUpdatedByCollapse").html(text);
                    }
                    else {
                        $("#ToolWrittenOffUpdatedByCollapse").html('');
                    }
                }
                ToolWrittenOffUpdatedByNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })
                _NarrowSearchSave.objSearch.ToolWrittenOffUpdatedBy = ToolWrittenOffUpdatedByNarroValues;

                if ($("#ToolWrittenOffUpdatedByCollapse").text().trim() != '')
                    $("#ToolWrittenOffUpdatedByCollapse").show();
                else
                    $("#ToolWrittenOffUpdatedByCollapse").hide();


                if ($("#ToolWrittenOffUpdatedByCollapse").find('span').length <= 2) {
                    $("#ToolWrittenOffUpdatedByCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#ToolWrittenOffUpdatedByCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchWOT();
            }).multiselectfilter();
                _NarrowSearchSave.setControlValue("ToolWrittenOffUpdatedBy");
            },
            error: function (response) {
                // through errror message
            }
        });
        _NarrowSearchSave.setStaticControlValues();
    }
</script>
<script type="text/javascript">

    /* COMMON FUNCTION TO NARROW SEARCH HIDE/SHOW ALONG WITH STATE SAVED : Dec 24, 2012 : IJ */

    $(document).ready(function () {
        _NarrowSearchSave.isPageLoading = true;
        $('#ExpandNarrowSearchSC').click(function (e) {
            ExpandNarrowSearchSC();
        });
        $('#CollapseNarrowSearchSC').click(function (e) {
            CollapseNarrowSearchSC();
        });
        var NarrowSearchStateSC = getCookieIM('NarrowSearchStateSC');

        if (NarrowSearchStateSC == 'Expanded') {
            CollapseNarrowSearchSC();
        }
        else {
            ExpandNarrowSearchSC();
        }

        var _IsArchived = false;
        var _IsDeleted = false;

        if (typeof ($('#IsArchivedRecords')) != undefined)
            _IsArchived = $('#IsArchivedRecords').is(':checked');

        if (typeof ($('#IsDeletedRecords')) != undefined)
            _IsDeleted = $('#IsDeletedRecords').is(':checked');

        var OrderStatusin = '';
    });

    function ExpandNarrowSearchSC() {
        var w = $('#divSupplierCatalogItems,#Ctab .IteamBlock').css("width");
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').show();
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').stop().animate({
            width: "18%"
        }, 0, function () {
            $('#divSupplierCatalogItems,#Ctab .userContent').css({ "width": "80.5%", "margin": "0" });
            $('#CatalogItemDataTable_length').css({ "left": "0px" });
            $('#CatalogItemDataTable_paginate').css({ "left": "145px" });
            $('#divSupplierCatalogItems,#Ctab .leftopenContent').css({ "display": "none" });
            setCookieIM('NarrowSearchStateSC', 'Collapsed');
        });
    }

    function CollapseNarrowSearchSC() {
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('#divSupplierCatalogItems,#Ctab .IteamBlock').hide();
            $('#divSupplierCatalogItems,#Ctab .userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#CatalogItemDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#CatalogItemDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('#divSupplierCatalogItems,#Ctab .leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchStateSC', 'Expanded');
        });
    }

    function getCookieIM(name) {
        var arg = name + "=";
        var alen = arg.length;
        var clen = document.cookie.length;
        var i = 0;
        while (i < clen) {
            var j = i + alen;
            if (document.cookie.substring(i, j) == arg) {
                return getCookieValIM(j);
            }
            i = document.cookie.indexOf(" ", i) + 1;
            if (i == 0) break;
        }
        return null;
    }

    function getCookieValIM(offset) {
        var endstr = document.cookie.indexOf(";", offset);
        if (endstr == -1) { endstr = document.cookie.length; }
        return unescape(document.cookie.substring(offset, endstr));
    }

    function setCookieIM(name, value, days) {
        if (typeof days != "undefined") { //if set persistent cookie
            var expireDate = new Date();
            expireDate.setDate(expireDate.getDate() + days);
            document.cookie = name + "=" + value + "; path=/; expires=" + expireDate.toGMTString() +" ;SameSite=Strict;";
        }
        else //else if this is a session only cookie
            document.cookie = name + "=" + value + "; path=/ ;SameSite=Strict;";
    }

    /* COMMON FUNCTION TO NARROW SEARCH HIDE/SHOW ALONG WITH STATE SAVED : Dec 24, 2012 : IJ */

    /* CLEAR NARROW SEARCH - START */
    function clearNarrowSearchFilterIM() {

        if (typeof ($("#ToolWrittenOffCategory").multiselect("getChecked").length) != undefined && $("#ToolWrittenOffCategory").multiselect("getChecked").length > 0) {
            $("#ToolWrittenOffCategory").multiselect("uncheckAll");
            $("#ToolWrittenOffCategoryCollapse").html('');
        }
        if (typeof ($("#ToolWrittenOffCreatedBy").multiselect("getChecked").length) != undefined && $("#ToolWrittenOffCreatedBy").multiselect("getChecked").length > 0) {
            $("#ToolWrittenOffCreatedBy").multiselect("uncheckAll");
            $("#ToolWrittenOffCreatedByCollapse").html('');
        }
        if (typeof ($("#ToolWrittenOffUpdatedBy").multiselect("getChecked").length) != undefined && $("#ToolWrittenOffUpdatedBy").multiselect("getChecked").length > 0) {
            $("#ToolWrittenOffUpdatedBy").multiselect("uncheckAll");
            $("#ToolWrittenOffUpdatedByCollapse").html('');
        }

        if ($('#ToolWrittenOffDateCFrom').val() != '') $('#ToolWrittenOffDateCFrom').val('');
        if ($('#ToolWrittenOffDateCTo').val() != '') $('#ToolWrittenOffDateCTo').val('');
        if ($('#ToolWrittenOffDateUFrom').val() != '') $('#ToolWrittenOffDateUFrom').val('');
        if ($('#ToolWrittenOffDateUTo').val() != '') $('#ToolWrittenOffDateUTo').val('');
    }
    /* CLEAR NARROW SEARCH - END */

    /* CLEAR GLOBAL FILTER IF NOT IN FOCUS - START */
    function clearGlobalIMIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'FilterSupplierCatalogItems')
            $("#FilterSupplierCatalogItems").val('');
    }
    /* CLEAR GLOBAL FILTER IF NOT IN FOCUS - END */
    function DoNarrowSearchWOT() {
        var narrowSearchFields = '';
        var narrowSearchValues = '';
        var narrowSearchItem = '';

        if (ToolWrittenOffCreatedByNarroValues != undefined && ToolWrittenOffCreatedByNarroValues.length > 0) {
            narrowSearchFields += "CreatedBy" + ",";
            narrowSearchValues += ToolWrittenOffCreatedByNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "CreatedBy" + ",";
            narrowSearchValues += '@("@")';
        }

        if (ToolWrittenOffUpdatedByNarroValues != undefined && ToolWrittenOffUpdatedByNarroValues.length > 0) {
            narrowSearchFields += "UpdatedBy" + ",";
            narrowSearchValues += ToolWrittenOffUpdatedByNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "UpdatedBy" + ",";
            narrowSearchValues += '@("@")';
        }

        ///////////////////////////////////////////////////////////////////////////////////////////////
        if ($('#ToolWrittenOffDateCFrom').val() != '' && $('#ToolWrittenOffDateCTo').val() != '') {

            narrowSearchFields += "DateCreatedFrom" + ",";
            narrowSearchValues += ($('#ToolWrittenOffDateCFrom').val()) + "," + ($('#ToolWrittenOffDateCTo').val()) + '@("@")';
        }
        else {
            narrowSearchFields += "DateCreatedFrom" + ",";
            narrowSearchValues += '@("@")';
        }
        ////////////////////////////////////////////////////////////////////////////////////////////////
        if ($('#ToolWrittenOffDateUFrom').val() != '' && $('#ToolWrittenOffDateUTo').val() != '') {

            narrowSearchFields += "DateUpdatedFrom" + ",";
            narrowSearchValues += ($('#ToolWrittenOffDateUFrom').val()) + "," + ($('#ToolWrittenOffDateUTo').val()) + '@("@")';
        }
        else {
            narrowSearchFields += "DateUpdatedFrom" + ",";
            narrowSearchValues += '@("@")';
        }

        if (ToolWrittenOffCategoryValue != undefined && ToolWrittenOffCategoryValue.length > 0) {
            narrowSearchFields += "WrittenOffCategory" + ",";
            narrowSearchValues += ToolWrittenOffCategoryValue + '@("@")';
        }
        else {
            narrowSearchFields += "WrittenOffCategory" + ",";
            narrowSearchValues += '@("@")';
        }

        var searchtext = $("#WOT_filter").val().replace(/'/g, "''");
        narrowSearch = narrowSearchFields + "[###]" + narrowSearchValues+"[###]"+searchtext;

        if (narrowSearch.length > 10)
            NarrowSearchInGridSCWOT(narrowSearch);
        else if (UserCreatedNarroValues == undefined || UserCreatedNarroValues.length == 0 ||
         UserUpdatedNarroValues == undefined || UserUpdatedNarroValues.length == 0)
            NarrowSearchInGridSCWOT(narrowSearch);
    }

    function NarrowSearchInGridSCWOT(searchstr) {
        $('#writtenOffToolTable').dataTable().fnFilter(searchstr, null, null, null);
    }
</script>
