@model eTurns.DTO.RoleMasterDTO_BKP
@{
    ViewBag.Title = "Create";
}
<table border="0" bordercolor="red" style="width: 80%">
    <tr>
        <td colspan="1">
            <table>
                <tr>
                    <td style="width: 200px">
                        @Html.Label("Role")
                    </td>
                    <td>
                        @Html.TextBox("Enter Role")
                    </td>
                </tr>
            </table>
        </td>
        <td colspan="1">
            <input id="btnAdd" type="button" value="Add" />
            <br />
            <input id="btnCancel" type="button" value="Cancel" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td style="width: 200px">
                        @Html.Label("Description")
                    </td>
                    <td>
                        @Html.TextArea("Enter Description")
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <fieldset>
                <legend><b>Room Access</b></legend>
                <table>
                    <tr>
                        <td>
                            <b></b>
                        </td>
                        <td>
                            <b>Room</b>
                        </td>
                        <td>
                            <b>Created Date</b>
                        </td>
                        <td>
                            <b>Updated Date</b>
                        </td>
                        <td>
                            <b>User</b>
                        </td>
                    </tr>
                    @if (Model.RoomAccess != null)
                    {
                        foreach (var item in Model.RoomAccess)
                        {     <tr>
                            <td>
                                @Html.CheckBox("chkCheck")
                            </td>
                            <td>
                                @Html.DisplayFor(t => item.RoomName)
                            </td>
                            <td>
                                @*     @Html.DisplayFor(t => item.CreatedDate)*@
                                @item.CreatedDate
                            </td>
                            <td>
                                @*@Html.DisplayFor(t => item.UpdatedDate)*@
                                @item.UpdatedDate
                            </td>
                            <td>
                                @Html.DisplayFor(t => item.User)
                            </td>
                        </tr>
                        }
                    }
                    <tr>
                        <td colspan="1">
                            @* <input id="btnAdd" type="button" value="Add" />*@
                            @Html.ActionLink("Add", "Index", "RoomAccess", null, new { @class = "openDialog", data_dialog_id = "EditDialog", data_dialog_title = "Room Access" })
                        </td>
                        <td colspan="4">
                            <input id="btnDelete" type="button" value="Delete" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
        <td valign="top">
            <fieldset>
                <legend><b>Replenishing Rooms</b></legend>
                <table>
                    <tr>
                        <td>
                            <b></b>
                        </td>
                        <td>
                            <b>Room</b>
                        </td>
                        <td>
                            <b>Created Date</b>
                        </td>
                        <td>
                            <b>Updated Date</b>
                        </td>
                        <td>
                            <b>User</b>
                        </td>
                    </tr>
                    @if (Model.ReplenishingRooms != null)
                    {
                       foreach (var item in Model.ReplenishingRooms)
                        {     <tr> <td>
                            @Html.CheckBox("chkCheck")
                            </td> <td>
                            @Html.DisplayFor(t => item.RoomName)
                            </td> <td>
                            @item.CreatedDate.ToString("yyyy-MM-dd")
                            </td> <td>
                            @item.UpdatedDate.ToString("yyyy-MM-dd")
                            </td> <td>
                            @Html.DisplayFor(t => item.User)
                        </td> </tr>
                        }
                    }
                    <tr>
                        <td colspan="1">
                            @Html.ActionLink("Add", "Index", "RoomAccess", new { id = 1 }, new { @class = "openDialog", data_dialog_id = "EditDialog", data_dialog_title = "Replenishing Room" })
                        </td>
                        <td colspan="4">
                            <input id="btnDelete" type="button" value="Delete" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <fieldset>
                <legend>Master Permissions</legend>
                <table>
                    <tr>
                        <th>
                            @*  @Html.DisplayNameFor(model => model.PermmisionTitle)*@ Permissions
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @*  @Html.DisplayNameFor(model => model.Insert)*@ Insert
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @*    @Html.DisplayNameFor(model => model.Update)*@ Update
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Delete)*@ Delete
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.View)*@ View
                        </th>
                    </tr>
                    @if (Model.MasterPermissions != null)
                    {
                       foreach (var item in Model.MasterPermissions)
                        {
                            <tr> <td>
                            @Html.DisplayFor(modelItem => item.PermmisionTitle)
                            </td> <td style="width: 5px"> </td> <td>
                            @Html.CheckBox("chkView", item.View)
                            </td> <td style="width: 5px"> </td> <td>
                            @Html.CheckBox("chkInsert", item.Insert)
                            </td> <td style="width: 5px"> </td> <td>
                            @Html.CheckBox("chkUpdate", item.Update)
                            </td> <td style="width: 5px"> </td> <td>
                            @Html.CheckBox("chkDelete", item.Delete)
                        </td> </tr>
                        }}
                </table>
            </fieldset>
        </td>
        <td valign="top" rowspan="2">
            <fieldset>
                <legend>Permissions</legend>
                <table>
                    @* <tr>
                    <th>
                    </th>
                    <th style="width: 5px">
                    </th>
                    <th align="center">
                        Permissions
                    </th>
                </tr>*@
                    @if (Model.CheckPermissions != null)
                    {
                        foreach (var item in Model.CheckPermissions)
                        {
                            <tr> <td>
                            @Html.CheckBox("chkCheck")
                            </td> <td style="width: 5px"> </td> <td>
                            @Html.DisplayFor(modelItem => item.PermmisionTitle)
                        </td> </tr>
                        }}
                    <tr>
                        <td>
                        </td>
                        <td style="width: 5px">
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        Default Bin Name
                                    </td>
                                    <td>
                                        @Html.TextBox("Enter bin name")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        eVMI wait command
                                    </td>
                                    <td>
                                        @Html.TextBox("Enter eVMI wait command")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        eVMI wait port
                                    </td>
                                    <td>
                                        @Html.TextBox("Enter eVMI wait port")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Supplier Filter
                                    </td>
                                    <td>
                                        @{
                                            Dictionary<string, string> dictionary = new Dictionary<string, string>();
                                            dictionary.Add("", "");
                                            dictionary.Add("ACME", "ACME");
                                            dictionary.Add("COSTCO", "COSTCO");
                                            dictionary.Add("GEXPRO", "GEXPRO");
                                            SelectList list = new SelectList(dictionary, "value", "key");
                                        }
                                        @Html.DropDownList("name", list)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <fieldset>
                <legend>Other Permissions</legend>
                <table>
                    <tr>
                        <th>
                            @*  @Html.DisplayNameFor(model => model.PermmisionTitle)*@ Permissions
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @*  @Html.DisplayNameFor(model => model.Insert)*@ Insert
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @*    @Html.DisplayNameFor(model => model.Update)*@ Update
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Delete)*@ Delete
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.View)*@ View
                        </th>
                    </tr>
                    @if (Model.Permissions != null)
                    {
                    foreach (var item in Model.Permissions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermmisionTitle)
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td>
                                @Html.CheckBox("chkView", item.View)
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td>
                                @Html.CheckBox("chkInsert", item.Insert)
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td>
                                @Html.CheckBox("chkUpdate", item.Update)
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td>
                                @Html.CheckBox("chkDelete", item.Delete)
                            </td>
                        </tr>
                    }}
                </table>
            </fieldset>
        </td>
        <td valign="top">
        </td>
    </tr>
</table>
<script type="text/javascript">
    //$.ajaxSetup({ cache: false });
    $(document).ready(function () {
        $(".openDialog").live("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).close() },
                        modal: true
                    })
                    .load(this.href);
        });
        $(".close").live("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
</script>
