@model IEnumerable<eTurns.DTO.RoleMasterDTO_BKP>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table border="1">
    <tr>
        
        <td>
        </td>
        <td>
            Role Name
        </td>
        @foreach (var Labelitem in Model)
        {
            if (Labelitem.PermissionsName != null)
            {
                foreach (var item in Labelitem.PermissionsName)
                {
            <td>
                @Html.DisplayFor(ttt => item)
            </td>
                }

            }
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.RoleID }, new { @class = "dialog" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            @foreach (var Inneritem in item.Permissions)
            {                
                <td>
                    @Html.DisplayFor(tt => Inneritem.PermissionText)
                </td>
            }
            @foreach (var Inneritem in item.MasterPermissions)
            {                
                <td>
                    @Html.DisplayFor(tt => Inneritem.PermissionText)
                </td>
            }
            @foreach (var Inneritem in item.CheckPermissions)
            {                
                <td>
                    @*@Html.DisplayFor((tt => Inneritem.isChecked==true) ? "Yes" : "No")*@
                    @if (Inneritem.isChecked == true)
                    { <text> Yes </text> }
                    else
                    {
                        <text> No </text>
                    }
                </td>
            }
        </tr>
    }
</table>
