@model List<CountLineItemDetailDTO>
@{
    string DetailTableClass = "";
}
<div class="innerGrid" id="InnerGrid" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px;float:left;  width: 98%;">
    @if (Model != null && Model.Count > 0 && Model[0].GUID != Guid.Empty)
    {
        <table id="NewReceiveEntry" class="display dataTable" style="float:left;clear:both;width:60%">
            <thead>
                <tr>
                    <th class="ui-state-default">
                        Bin Number
                    </th>
                    <th class="ui-state-default">
                        Comment
                    </th>
                    @if (Model[0].LotNumberTracking == true)
                    {
                    <th class="ui-state-default">
                        Lot Number
                    </th>
                    }
                    else if (Model[0].SerialNumberTracking == true)
                    {
                        <th class="ui-state-default">
                            Serial Number
                        </th>
                    }
                    <th class="ui-state-default">
                        Cust. Owned Qty.
                    </th>
                    <th class="ui-state-default">
                        Cons. Owned Qty.
                    </th>
                    <th>
                        Cust. Owned Difference
                    </th>
                    <th>
                        Consigned Difference
                    </th>
                    @if (Model[0].DateCodeTracking == true)
                    {
                    <th class="ui-state-default">
                        Expiration Date
                    </th>
                    }
                    @if (Model != null && Model.Count > 0 && Model[0].IsApplied != true)
                    {
                        <th class="ui-state-default">
                            Delete
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (CountLineItemDetailDTO objLineItem in Model)
                {
                    if (Model.IndexOf(objLineItem) % 2 == 0)
                    {
                        DetailTableClass = "even";
                    }
                    else
                    {
                        DetailTableClass = "odd";
                    }
                    <tr class="@DetailTableClass">
                        <td>
                            @objLineItem.BinNumber
                        </td>
                        <td>
                            @objLineItem.Comment
                        </td>
                        @if (objLineItem.SerialNumberTracking == true || objLineItem.LotNumberTracking == true)
                        {
                        <td>
                            @objLineItem.LotSerialNumber
                        </td>
                        }
                        <td>
                            @{ string CustQty = (objLineItem.CountCustomerOwnedQuantity == (-0.000000001) ? "NA" : objLineItem.CountCustomerOwnedQuantity.ToString()); }
                            @CustQty
                        </td>
                        <td>
                            @{ string ConsQty = (objLineItem.CountConsignedQuantity == (-0.000000001) ? "NA" : objLineItem.CountConsignedQuantity.ToString()); }
                            @ConsQty
                        </td>


                        <td>
                            @{ string CustQtyDiff = (objLineItem.CusOwnedDifference == null || objLineItem.CusOwnedDifference == (-0.000000001) ? "NA" : objLineItem.CusOwnedDifference.ToString()); }
                            @CustQtyDiff
                        </td>
                        <td>
                            @{ string ConsQtyDiff = (objLineItem.ConsignedDifference == null || objLineItem.ConsignedDifference == (-0.000000001) ? "NA" : objLineItem.ConsignedDifference.ToString()); }
                            @ConsQtyDiff
                        </td>



                        @if (objLineItem.DateCodeTracking == true)
                        {
                        <td>
                            @objLineItem.Expiration
                        </td>
                        }
                        @if (objLineItem.IsApplied != true)
                        {
                            <td>
                                <img id="imgDelete" class="clsDeleteLineItem" src="/content/images/delete.png" alt="Delete" style="cursor: pointer;" onclick="return DeleteLineItemCountByGUID(this, '@objLineItem.GUID');">
                            </td>
                        }
                    </tr>
                                }
            </tbody>
        </table>
    }
    @if (Model != null && Model.Count > 0 && Model[0].IsApplied != true)
                {
                    string stage = Model[0].IsStagingLocationCount.GetValueOrDefault(false).ToString();
                    string InventoryCountDetailDescription = Convert.ToString(Model[0].InventoryCountDetailDescription).Trim().Replace("\n","\\n");
                    if (Model[0].CountGUID != null && Model[0].CountGUID != Guid.Empty)
                    {
                        <div class="editorForm">
                            <input value="Add/Edit Line Item Detail" id="btnAddEditCountLineItemDetail" class="CreateBtn" type="submit" onclick="return OpenPopupForSerialLotItem('@Model[0].ItemGUID', @Model[0].BinID, '@Model[0].CountDetailGUID', '@InventoryCountDetailDescription', 'EDIT','@stage');">
                        </div>
                    }
                    else
                    {
                        <div class="editorForm">
                            <input value="Add/Edit Line Item Detail" id="btnAddEditCountLineItemDetail" class="CreateBtn" type="submit" onclick="return OpenPopupForSerialLotItem('@Model[0].ItemGUID', @Model[0].BinID, '00000000-0000-0000-0000-000000000000', '@InventoryCountDetailDescription', 'EDIT', '@Model[0].IsStagingLocationCount');">
                        </div>
                }
    }
</div>
<script type="text/javascript">    
    if (IsCountClosed == "true")
        $("#btnAddEditCountLineItemDetail").hide();    
</script>
