@model List<eTurns.DTO.ItemMasterDTO>
@{
    string WeightDecimalPoints = "N";
    if (eTurnsWeb.Helper.SessionHelper.WeightDecimalPoints != null)
    {
        WeightDecimalPoints = "N" + eTurnsWeb.Helper.SessionHelper.WeightDecimalPoints;
    }
}
    <div class="stock-block">
        @foreach (ItemMasterDTO item in Model)
        {
            string Scale = "0";
            string Pad = "0";
            if (item.eVMISensorID != null)
            {
                string[] strScale = Convert.ToString(item.eVMISensorID.GetValueOrDefault(0)).Split('.');
                if (strScale.Length >= 1)
                {
                    Scale = strScale[0];
                }
                if (strScale.Length > 1)
                {
                    Pad = strScale[1];
                }
            }
            if (item.IsRed.GetValueOrDefault(false))
            {
                <div class="double-stock">
                    <div class="blue-blk">
                        <div class="icon-top">
                            <img src="/content/images/low-stock-icon.png" alt="@eTurns.DTO.ResItemeVMIList.StockLow">
                            <p class="stockLow">@eTurns.DTO.ResItemeVMIList.MinOrderLabel @item.DefaultReorderQuantity</p>
                        </div>
                        <figure><img src="/content/images/inventory-low-stock-image.png" alt="@eTurns.DTO.ResItemeVMIList.StockLow"></figure>
                        <div class="order stockLow">@eTurns.DTO.ResItemeVMIList.StockLow</div>
                    </div>
                    <div class="setting-blk">
                        <ul>
                            <li>@(item.WeightPerPiece.GetValueOrDefault(0).ToString(WeightDecimalPoints,eTurnsWeb.Helper.SessionHelper.RoomCulture))</li>
                            <li>@eTurns.DTO.ResItemeVMIList.Scale: @Scale</li>
                            <li>@eTurns.DTO.ResItemeVMIList.Pad: @Pad</li>
                        </ul>
                        <div class="setting"><a href="#"><img src="/content/images/setting-wheel.png" alt="@eTurns.DTO.ResItemeVMIList.Settings" title="@eTurns.DTO.ResItemeVMIList.Settings"></a></div>
                        <div class="info"><a href="#"><img src="/content/images/info-icon.png" alt="@eTurns.DTO.ResItemeVMIList.Info" title="@eTurns.DTO.ResItemeVMIList.Info"></a></div>
                    </div>
                    <div class="order-count">
                        <span>@item.OnHandQuantity</span><span class="color-stript redStrip"></span>
                    </div>
                    <div class="skuDetail redStrip">
                        @item.BinNumber<span class="prodName">@item.ItemNumber</span>
                    </div>
                </div>
            }
            else if (item.IsYellow.GetValueOrDefault(false))
            {
                <div class="double-stock">
                    <div class="blue-blk">
                        <div class="icon-top">
                            <img src="/content/images/re-order-icon.png" alt="@eTurns.DTO.ResItemeVMIList.ReOrder">
                            <p>@eTurns.DTO.ResItemeVMIList.MinOrderLabel @item.DefaultReorderQuantity</p>
                        </div>
                        <figure><img src="/content/images/inventory-reorder-stock-image.png" alt="@eTurns.DTO.ResItemeVMIList.ReOrder"></figure>
                        <div class="order reOrder">@eTurns.DTO.ResItemeVMIList.ReOrder</div>
                    </div>
                    <div class="setting-blk">
                        <ul>
                            <li>@(item.WeightPerPiece.GetValueOrDefault(0).ToString(WeightDecimalPoints,eTurnsWeb.Helper.SessionHelper.RoomCulture))</li>
                            <li>@eTurns.DTO.ResItemeVMIList.Scale: @Scale</li>
                            <li>@eTurns.DTO.ResItemeVMIList.Pad: @Pad</li>
                        </ul>
                        <div class="setting"><a href="#"><img src="/content/images/setting-wheel.png" alt="@eTurns.DTO.ResItemeVMIList.Settings" title="@eTurns.DTO.ResItemeVMIList.Settings"></a></div>
                        <div class="info"><a href="#"><img src="/content/images/info-icon.png" alt="@eTurns.DTO.ResItemeVMIList.Info" title="@eTurns.DTO.ResItemeVMIList.Info"></a></div>
                    </div>
                    <div class="order-count">
                        <span>@item.OnHandQuantity</span><span class="color-stript"></span>
                    </div>
                    <div class="skuDetail orangeStrip">
                        @item.BinNumber<span class="prodName">@item.ItemNumber</span>
                    </div>
                </div>
            }
            else if (item.IsGreen.GetValueOrDefault(false))
            {
                <div class="double-stock">
                    <div class="blue-blk">
                        <div class="icon-top"><img src="/content/images/full-stock-icon.png" alt="@eTurns.DTO.ResItemeVMIList.StockOk"></div>
                        <figure><img src="/content/images/inventory-image.png" alt="@eTurns.DTO.ResItemeVMIList.StockOk"></figure>
                        <div class="order stockOk">@eTurns.DTO.ResItemeVMIList.StockOk</div>
                    </div>
                    <div class="setting-blk">
                        <ul>
                            <li>@(item.WeightPerPiece.GetValueOrDefault(0).ToString(WeightDecimalPoints,eTurnsWeb.Helper.SessionHelper.RoomCulture))</li>
                            <li>@eTurns.DTO.ResItemeVMIList.Scale: @Scale</li>
                            <li>@eTurns.DTO.ResItemeVMIList.Pad: @Pad</li>
                        </ul>
                        <div class="setting"><a href="#"><img src="/content/images/setting-wheel.png" alt="@eTurns.DTO.ResItemeVMIList.Settings" title="@eTurns.DTO.ResItemeVMIList.Settings"></a></div>
                        <div class="info"><a href="#"><img src="/content/images/info-icon.png" alt="@eTurns.DTO.ResItemeVMIList.Info" title="@eTurns.DTO.ResItemeVMIList.Info"></a></div>
                    </div>
                    <div class="order-count">
                        <span>@item.OnHandQuantity</span><span class="color-stript greenStrip"></span>
                    </div>
                    <div class="skuDetail greenStrip">
                        @item.BinNumber<span class="prodName">@item.ItemNumber</span>
                    </div>
                </div>
            }
        }
    </div>
