@using eTurns.DTO
@using eTurns.DTO.Resources
@{    
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
    var settings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplayDeleteButton = false, DataTableName = "HistoryTableItemLocationDetails" };
}
<script language="javascript" type="text/javascript">
    var oHistoryTableItemLocationDetails;
    $(document).ready(function () {
        oHistoryTableItemLocationDetails = $('#HistoryTableItemLocationDetails').dataTable({
            "bJQueryUI": true,
            "bScrollCollapse": true,
            "bAutoWidth": false,
            "sScrollX": "1000px",
            "sDom": 'R<"top"lp<"clear">>rt<"bottom"i<"clear">>',
            "oColVis": {},
            "oColReorder": {},
            "sPaginationType": "full_numbers",
            "bSort": false,
            "bFilter": false,
            "bSearchable": false,
            "bServerSide": true,
            "bPaginate": false,
            "bInfo": true,
            "sAjaxSource": '@Url.Content("~/Inventory/GetHistoryDataForLocationDetails")',
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {                
                aoData.push({ "name": "PageID", "value": '@ViewBag.LocationDGUID' });
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
					"headers": { "__RequestVerificationToken": $("input[name='__RequestVerificationToken'][type='hidden']").val() },
                    "success": fnCallback
                })
            },
            "fnInitComplete": function () {
                compareHistoryRows(this);
            },
            "aoColumns": [                            
//                            { "mDataProp": "ID", "sClass": "read_only" },    
//                            { "mDataProp": "HistoryID", "sClass": "read_only" },
                            {"mDataProp": "Action", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "CustomerOwnedQuantity", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "ConsignedQuantity", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "LotNumber", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "SerialNumber", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "BinNumber", "bSortable": true, "sClass": "read_only" },
			                { "mDataProp": "ItemNumber", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "Expiration", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "Received", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "Cost", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "RoomName", "bSortable": true, "sClass": "read_only" },
			                { "mDataProp": "Created", "bSortable": true, "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        //return GetDateInFullFormat(val);
			                        return obj.aData.CreatedDate;
			                    }
			                },
			                { "mDataProp": "Updated", "bSortable": true, "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        // return GetDateInFullFormat(val);
			                        return obj.aData.UpdatedDate;
			                    }
			                },
                            { "mDataProp": "UpdatedByName", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "CreatedByName", "bSortable": true, "sClass": "read_only" },
                            { "mDataProp": "AddedFrom", "sClass": "read_only" },
                            { "mDataProp": "EditedFrom", "sClass": "read_only" },
                            { "mDataProp": "ReceivedOn", "sClass": "read_only",
                                "fnRender": function (obj, val) {
                                    return obj.aData.ReceivedOnDate;
                                }
                            },
			                { "mDataProp": "ReceivedOnWeb", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        return obj.aData.ReceivedOnDateWeb;
			                    }
			                }
//                            { "mDataProp": "ReceivedOnDate", "sClass": "read_only" },
//                            { "mDataProp": "ReceivedOnDateWeb", "sClass": "read_only" }                         

		    ]
        });
        //HIDE PRINT CONTAINER
        $('.DTTT_container').css('z-index', '-1');

        $('#divItemLocationHistoryView .printBlock').css({ 'left': '-83px' });

    });    
</script>
@Html.GridTopHeaderForHistory(settings)
<div style="margin: 0 0.4% 1%">
    <table id="HistoryTableItemLocationDetails" class="display">
        <thead>
            <tr>
                @*<th>
                    @eTurns.DTO.Resources.ResCommon.ID
                </th>*@
                @*<th>
                    @eTurns.DTO.Resources.ResCommon.HistoryID
                </th>*@
                <th>
                    @eTurns.DTO.Resources.ResCommon.HistoryAction
                </th>
                <th>
                    @eTurns.DTO.ResItemLocationDetails.CustomerOwnedQuantity
                </th>
                <th>
                    @eTurns.DTO.ResItemLocationDetails.ConsignedQuantity
                </th>
                <th>
                    @eTurns.DTO.ResItemLocationDetails.LotNumber
                </th>
                <th>
                    @eTurns.DTO.ResItemLocationDetails.SerialNumber
                </th>
                <th>
                    @eTurns.DTO.ResItemLocationDetails.BinNumber
                </th>
                <th>
                    @eTurns.DTO.ResItemMaster.ItemNumber
                </th>
                <th>
                    @eTurns.DTO.ResItemLocationDetails.ExpirationDate
                </th>
                <th>
                    @eTurns.DTO.ResItemLocationDetails.ReceivedDate
                </th>
                <th>
                    @eTurns.DTO.ResItemLocationDetails.Cost
                </th>                
                <th>
                    @eTurns.DTO.Resources.ResCommon.RoomName
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedBy
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedBy
                </th>              
                <th>
                    @eTurns.DTO.Resources.ResCommon.AddedFrom
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.EditedFrom
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.ReceivedOnDate
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.ReceivedOnWebDate
                </th>  
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
