@{
    List<ItemLocationDetailsDTO> lstBins = (List<ItemLocationDetailsDTO>)ViewBag.Itembins;

    bool isInsert = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Materialstaging, eTurnsWeb.Helper.SessionHelper.PermissionType.Insert);
    bool isUpdate = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Materialstaging, eTurnsWeb.Helper.SessionHelper.PermissionType.Update);
    bool isDelete = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Materialstaging, eTurnsWeb.Helper.SessionHelper.PermissionType.Delete);
    string ConcatedId = Convert.ToString(ViewBag.ItemID) + "_" + Convert.ToString(ViewBag.StageBinId) + "_" + Guid.NewGuid().ToString();
    var version = eTurnsWeb.Helper.CommonUtility.GetReleaseNumber();
}
<script type="text/javascript" src="@Url.Content("~/Scripts/SiteScripts.js?v=" +version)"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DynemicDataTable.js?v=" +version)" ></script>
@*<div class="innerGrid" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px;
    border: 4px solid #2181D4;">*@
<div class="innerGrid" style="background: none repeat scroll 0 0 #F8F8F8; border: 4px solid #2181D4;">
    <table style="width: 100%;">
        <tr>
            <td colspan="4" style="border: none !important;">
                <div style="height: 20px;">
                    &nbsp;</div>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 14px; padding-bottom: 35px; border: 1px solid #F8F8F8;" colspan="4">
                <div class="userContentInnerGrid">
                    <table id="MaterialStagingdtl_@(ConcatedId)" class="display tbldatach">
                        <thead>
                            <tr>
                                <th>
                                    @eTurns.DTO.ResMaterialStagingDetail.ID
                                </th>
                                <th>
                                    @eTurns.DTO.ResMaterialStaging.BinName
                                </th>
                                <th>
                                    @eTurns.DTO.ResMaterialStagingDetail.StagingBinName
                                </th>
                                <th>
                                    @eTurns.DTO.ResMaterialStagingDetail.Quantity
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var ConcatedIds = '@ConcatedId';
    jQuery(function ($) {

        var ColumnObject = new Array();
        //        ColumnObject.push({ mDataProp: null, sClass: "read_only", sDefaultContent: '', fnRender: function (obj, val) { return "<input type='button' value='Edit' onclick='return EditRec(this);' id='btnEditItem~" + obj.aData.ID + "' class='CreateBtn' style='float: none;padding: 2px 6px;margin-left: 5px;' /><input type='button' value='Delete' onclick='return DeleteRec(this);' id='btnDeleteItem~" + obj.aData.ID + "' class='CreateBtn' style='float: none;padding: 2px 6px;margin-left: 5px;' />"; } });
        ColumnObject.push({ mDataProp: "ID", sClass: "read_only" });
        ColumnObject.push({ mDataProp: "BinName", sClass: "read_only", sDefaultContent: '', fnRender: function (obj, val) { return "<a href='javascript:void(0);' onclick='EditRec(this,&quot;" + ConcatedIds + "&quot;);'>" + val + "</a>"; } });
        ColumnObject.push({ mDataProp: "StagingBinName", sClass: "read_only" });
        ColumnObject.push({ mDataProp: "Quantity", sClass: "read_only" });

        var paramsMS = [];
        paramsMS.push({ "name": "ItemGUID", "value": '@ViewBag.ItemGUID' });
        paramsMS.push({ "name": "MSGUID", "value": '@ViewBag.MsId' });
        paramsMS.push({ "name": "MSLIBinID", "value": '@ViewBag.StageBinId' });
        var scrollx = "";
        if ('@ViewBag.StageBinId' == "0") {
            scrollx = "9.5%";
        }
        else {
            scrollx = "100%";
        }
        PrepareMyDynatable("MaterialStagingdtl_@ConcatedId", '@Url.Content("~/Inventory/MSItemDetailsAJAX")', 'MSDetailsLocationwise', ColumnObject, paramsMS, scrollx);
        $('#MaterialStagingdtl_@(ConcatedId)' + '_wrapper .ColVis').css({ 'left': '780px' });
    });
</script>
