@model IEnumerable<eTurns.DTO.MaterialStagingPullDetailDTO>
<script type="text/javascript" src="@Url.Content("~/Scripts/DynemicDataTable.js")"></script>
@{
    
}
<style>
    .userContentInnerGrid .TableTools_Button {
        display:none !important;
    }
</style>
<div class="innerGrid" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">
    <table style="width: 880px;">
        <tr>
            <td class="BtnBlock" style="float: none; border: 1px solid #F8F8F8; height: 2px;">
                <div class="innerHeadSec">
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 14px; padding-bottom: 35px; border: 1px solid #F8F8F8;">
                <div class="userContentInnerGrid">
                    <table id="MSPullDetail@(ViewBag.MaterialStagingdtlGUID)" class="display">
                        <thead>
                            <tr>
                                
                                    <th>
                                        @eTurns.DTO.Resources.ResCommon.RowNo
                                    </th>
                                    @if (ViewBag.SerialNumberTracking)
                                    {
                                        <th>
                                            @eTurns.DTO.ResMaterialStagingPullDetail.SerialNumber
                                        </th>
                                    }
                                    @if (ViewBag.LotNumberTracking)
                                    {
                                        <th>
                                            @eTurns.DTO.ResMaterialStagingPullDetail.LotNumber
                                        </th>
                                    }
                                    @if (ViewBag.DateCodeTracking)
                                    {
                                        <th>
                                            @eTurns.DTO.ResMaterialStagingPullDetail.Expiration
                                        </th>
                                    }
                                    <th>
                                        @eTurns.DTO.ResMaterialStagingPullDetail.PoolQuantity
                                    </th>
                                    <th>
                                        @eTurns.DTO.ResItemLocationDetails.Created
                                    </th>
                                    <th>
                                        @eTurns.DTO.ResItemLocationDetails.Updated
                                    </th>
                                    <th>
                                        @eTurns.DTO.ResItemLocationDetails.CreatedBy
                                    </th>
                                    <th>
                                        @eTurns.DTO.ResItemLocationDetails.LastUpdatedBy
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
<script type="text/javascript">
    $(function (event) {

        var ColumnObject = new Array();

        ColumnObject.push({ mDataProp: null, sClass: "read_only center NotHide RowNo", "bSortable": false, sDefaultContent: '' });

        if ('@ViewBag.SerialNumberTracking' == 'True') {
            ColumnObject.push({ mDataProp: "SerialNumber", sClass: "read_only" });
        }
        if ('@ViewBag.LotNumberTracking' == 'True') {
            ColumnObject.push({ mDataProp: "LotNumber", sClass: "read_only" });
        }
        if ('@ViewBag.DateCodeTracking' == 'True') {

            ColumnObject.push({ mDataProp: "Expiration", sClass: "read_only" });
        }


        ColumnObject.push({ mDataProp: "PoolQuantity", sClass: "read_only" });

        ColumnObject.push({
            mDataProp: "Created",
            sClass: "read_only",
            fnRender: function (obj, val) {
                return obj.aData.CreatedDate;
            }
        });
        ColumnObject.push({ mDataProp: "Updated", sClass: "read_only", fnRender: function (obj, val) { return obj.aData.UpdatedDate; } });
        ColumnObject.push({ mDataProp: "CreatedByName", sClass: "read_only" });
        ColumnObject.push({ mDataProp: "UpdatedByName", sClass: "read_only" });

        var paramsMS = [];
        paramsMS.push({ "name": "ItemGUID", "value": '@ViewBag.ItemGUID' });
        paramsMS.push({ "name": "MaterialStagingdtlGUID", "value": '@ViewBag.MaterialStagingdtlGUID' });
        var scrollx = "";

        PrepareMyDynatable("MSPullDetail@(ViewBag.MaterialStagingdtlGUID)", '@Url.Content("~/Inventory/MaterialStagingPullDetailListAjax")', 'StagingLineItems', ColumnObject, paramsMS, scrollx);


    });

</script>