
@section head{
    <script type="text/javascript">
        var TabsArry = [
         @*new TabClass('tab1', '@eTurns.DTO.Resources.ResCommon.New', 'callbacknew();', true, true),*@
         new TabClass('tab5', '@eTurns.DTO.Resources.ResCommon.List', 'callbackhistory();', true, true)
         @*new TabClass('tab6', '@eTurns.DTO.Resources.ResCommon.ChangeLog', 'callbackCL();', false, true)*@
         ];
        function callbacknew() { ShowNewTab('ItemCreate', 'frmItemMaster'); }
        function callbackhistory() { } //HistoryTabClick(); }
        function callbackCL() { HistoryTabClick(); }
        $(document).ready(function () {
            LoadTabs();
            LoadeVMIItemLocationList();
            $(document).on('propertychange input', "#eVMI_filter", function (event) {
                if ('@eTurnsWeb.Helper.SessionHelper.SearchPattern' == "2") {
                    if ($(this).val().length > 2 || $(this).val().length === 0) {
                        LoadeVMIItemLocationList();
                    }
                }
                else {
                    var keycode = (event.keyCode ? event.keyCode : event.which);
                    if (keycode == '13') {
                        LoadeVMIItemLocationList();
                    }
                }
            });
            $("#eVMI_filter").keyup(function (event) {
                if ('@eTurnsWeb.Helper.SessionHelper.SearchPattern' == "2") {
                    if ($(this).val().length > 2 || $(this).val().length === 0) {
                        LoadeVMIItemLocationList();
                    }
                }
                else {
                    var keycode = (event.keyCode ? event.keyCode : event.which);
                    if (keycode == '13') {
                        LoadeVMIItemLocationList();
                    }
                }
            });
            $(document).on("click", "#clear_eVMI_filter", function () { 
                $("#eVMI_filter").val("");
                LoadeVMIItemLocationList();
                return false;
            });
            $("#ddlItemStatus").change(function () {
                LoadeVMIItemLocationList();
            });
        });

    </script>

}
<div class="userListingWrapper">
    <h2>
        @eTurns.DTO.ResItemeVMIList.PageTitle
    </h2>
    <div class="userListBlock">
        <ul class='tabs'>
        </ul>
        <div id="Ctab" class="tabContener">
            <div class="userContent fullWidth ">
                <div class="inventTitleBlock">
                    <h2 class="inventoryTitle">@eTurns.DTO.ResItemeVMIList.InventoryTitle1 <span>@eTurns.DTO.ResItemeVMIList.InventoryTitle2</span></h2>
                    <h3 class="inventorysubTitle">@eTurns.DTO.ResItemeVMIList.InventorysubTitle</h3>
                </div>
                <div class="inventorydetails">
                    <div class="search-block">
                        <span class="label">@eTurns.DTO.Resources.ResCommon.Search </span>
                        <div class="search-data">
                            <input type="text" class="searchinput" id="eVMI_filter" />
                            <a href="javascript:void(0);" class="xclose">
                                <img src="~/Content/images/x.png" alt="X" id="clear_eVMI_filter" />
                            </a>
                        </div>
                    </div>
                    <div class="select-block">
                        <span class="label">@eTurns.DTO.ResItemeVMIList.ItemStatus </span>
                        <div>
                            <select id="ddlItemStatus" style="width: 100%;">
                                <option value="0 ">@eTurns.DTO.Resources.ResCommon.Select</option>
                                <option value="1 ">@eTurns.DTO.ResItemeVMIList.BelowCritical</option>
                                <option value="2">@eTurns.DTO.ResItemeVMIList.BelowMinimum</option>
                                <option value="3">@eTurns.DTO.ResItemeVMIList.AboveOrEqualMinimum</option>
                            </select>
                        </div>
                    </div>
                <div class="inventorySection clearfix" id="diveVMILocationList">
                    @*<div class="double-stock">
                <div class="blue-blk">
                    <div class="icon-top"><img src="/content/images/re-order-icon.png"><p>min order. 11</p></div>
                    <figure><img src="/content/images/inventory-reorder-stock-image.png" alt=""></figure>
                    <div class="order reOrder">re-order</div>
                </div>
                <div class="setting-blk">
                    <ul>
                        <li class="weightHighlight">0.2924 Kg</li>
                        <li>Scale: 2</li>
                        <li>Pad: 0</li>
                    </ul>
                    <div class="setting"><a href="#"><img src="/content/images/setting-wheel.png" alt="Settings" title="Settings"></a></div>
                    <div class="info"><a href="#"><img src="/content/images/info-icon.png" alt="Info" title="Info"></a></div>
                </div>
                <div class="order-count">
                    <span>52</span><span class="color-stript"></span>
                </div>
                <div class="skuDetail orangeStrip">
                    SKU 2-0 <span class="prodName">6mm Screw</span> Storeroom
                </div>
            </div>
                    *@
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function LoadeVMIItemLocationList()
    {
        var SearchValue = "";
        var ItemStatus = 0;
        if ($("#eVMI_filter").val() != null && $("#eVMI_filter").val() != "") {
            SearchValue = $("#eVMI_filter").val();
        }
        if ($("#ddlItemStatus").val() > 0) {
            ItemStatus = $("#ddlItemStatus").val();
        }

        $('#DivLoading').show();
         $.ajax({
             url: 'ItemMastereVMIListAjax',
             data: { 'SearchValue': SearchValue, 'ItemStatus': ItemStatus },
             type: 'Post',
             success: function (data) {
                 $("#diveVMILocationList").html(data);
                 $('#DivLoading').hide();
             },
             error: function (xhr) {
                 $('#DivLoading').hide();
             }
        });
    }
</script>

