@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
}
@*<script type='text/javascript' src="@Url.Content("~/Scripts/jquery.watermark.js")"></script>*@
@*<h2>
        @Model.ModelHeader
    </h2>*@
<div class="userListBlock">
    <div id="tab7" class="tabContener">
        <div class="">
            <table id="tblSelectedItemData" class="display dataTable" style="width:100%">
                <tr>
                    <td style="width:20%">@eTurns.DTO.ResItemMaster.ItemNumber :</td>
                    <td style="width:20%"><span id="lblItemNumber"></span></td>
                    <td style="width:20%">@eTurns.DTO.ResItemMaster.Item  @eTurns.DTO.ResItemMaster.Description:</td>
                    <td style="width:40%"><span id="lblItemDescription">@ViewBag.Descriotion</span></td>
                </tr>
            </table>
        </div>
        <div class="">
            <table id="ItemModeDataTableForLots" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th class="ui-state-default read_only" style="width:20%">
                            @eTurns.DTO.ResItemMaster.BinNumber
                        </th>
                        <th class="ui-state-default read_only" style="width:15%" id="thLotSerialNumber">
                            @eTurns.DTO.ResItemMaster.SerialOrLotNo
                        </th>
                        <th class="ui-state-default read_only" style="width:15%">
                            @eTurns.DTO.ResOrder.Comment
                        </th>
                        <th id="thQty1" class="ui-state-default read_only" style="width:15%">
                            @eTurns.DTO.ResItemMaster.CustomerOwnedQty
                        </th>
                        <th id="thQty2" class="ui-state-default read_only" style="width:15%">
                            @eTurns.DTO.ResItemMaster.ConsignedQty
                        </th>
                        <th class="ui-state-default read_only" style="width:15%" id="thExpiryDate">
                            @eTurns.DTO.ResItemMaster.ExpiryDate
                        </th>
                        <th class="ui-state-default read_only" style="width:15%">
                            @ResToolMaster.Delete
                        </th>
                    </tr>
                </thead>
                <tbody id="ItemModeDataTableBody">
                    
                </tbody>
            </table>
        </div>
        <div class="editorForm" style="width: 80%">
            <input type="button" value="@ResCommon.Save" id="btnSave" class="CreateBtn" style="float: left; margin-left: 15px; margin-top: 1px;" onclick="return SaveAndCloseLotDetailPopupForCount();" />
            <input type="button" value="@ResCommon.Cancel" id="btnCancel" class="CreateBtn" style="float: left; margin-left: 5px; margin-top: 1px;" onclick="return CloseLotDetailPopupForCount();" />
        </div>
    </div>
</div>
@*</div>*@
<div class="popBlock" id="targetItemModel">
    <div class="popBlockinner">
        <span id="spanGlobalMSGIM" class="WarningIcon"></span><a href="#" id="close" class="close">
            <img src="~/Content/images/popup-close.png" alt="" />
        </a>
    </div>
</div>
<script type="text/javascript">
    
    @*
    function LoadLotDetailPopupForCountAjax() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadLotDetailPopupForCountAjax", "Inventory")',
            contentType: 'application/json',
            dataType: 'json',
            data: "{ItemGUID:'" + @ViewBag.ItemGUID + "',BinId:" + @ViewBag.BinId + "}",
            success: function (response) {                
            },
            error: function (err) {
            }
        });
    }*@
    
</script>
