@model eTurns.DTO.ItemImageUploadDTO
<!DOCTYPE html>
<html>
<head>
    <title>@eTurns.DTO.ResItemMaster.lblPageMediaUploadTitle</title>
    @Scripts.Render("~/bundles/Scripts")
    @Styles.Render("~/Content/css")
</head>
<body>
    <form id="ajaxUploadForm" style="padding: 20px;" action="@(Url.Action("ItemFileUpload", "Inventory"))" method="post" enctype="multipart/form-data">
    <h4>
        @Html.AntiForgeryToken()
        Item Image Upload</h4>
    <div style="padding: 10px; background-color: #f9f9f9;">
        <label for="file">
            Item Image File</label>
        <input type="file" name="file" id="file" onchange="checkfile();"/>
        <input id="ajaxUploadButton" type="submit" class="CreateBtn" style="float: right;
            margin-top: 10px;" value="Upload" onclick="return checkfile();"/>
        <br />
        <input type="hidden" name="id" id="id" value='@(Convert.ToString(Request.QueryString["id"]))' />
        <input type="hidden" name="ItemNumber" id="ItemNumber" value='@(Convert.ToString(Request.QueryString["ItemNumber"]))' />
        @if (Session["Parenturlid"] != null)
        {
            <input type="hidden" name="urlid" id="urlid" value='@( Convert.ToString(Session["Parenturlid"]))' />
            @(Session["Parenturlid"] = null)
        }
        else
        {
            <input type="hidden" name="urlid" id="urlid" value='@( Convert.ToString(Request.QueryString["urlid"]))' />
        }<br />
    </div>
    <br />
    @if (Session["FileUploaded"] != null)
    {
        <table style="visibility: hidden;">
            <tr>
                <td>
                    Uploaded Item Image file Name:-
                </td>
            </tr>
            <tr>
                <td>
                    @*<input type="text" name="txtUploadedurl" id="txtUploadedurl" value='@(Convert.ToString(Session["FileUploaded"]))' style="width:300px;" />*@
                    <input type="text" name="txtUploadedurl" id="txtUploadedurl" value='@(Convert.ToString(Session["FileUploadedItemNumber"]))' style="width:300px;" />
                    <input type="hidden" name="hdnUploadedURLPath" id="hdnUploadedURLPath" value='@(Convert.ToString(Session["FileUploadedPATH"]))' />
                    <input type="button" value="Close" name="CloseButton" class="CreateBtn" id="CloseButton" />
                </td>
            </tr>
        </table>
       
        Session["FileUploaded"] = null;
            
        <script type="text/javascript">
            window.opener.UpdateFileName($('#txtUploadedurl').val(), $('#hdnUploadedURLPath').val());
            window.close();
        </script>
                
    }
    </form>
    <script type="text/javascript">


        function checkfile() {
            var validExts = new Array(".jpg", ".jpeg", ".png", ".bmp");
            var fileExt = $("#file")[0].value;
            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
            if (validExts.indexOf(fileExt) < 0) {
                alert("Invalid file selected, valid files are of " + validExts.toString() + " types.");
                $("#file")[0].value = '';
                return false;
            }
            else return true;
        }


        $(function () {

            $('#CloseButton').click(function () {
                // Set them to the parent window
                window.opener.UpdateFileName($('#txtUploadedurl').val(), $('#hdnUploadedURLPath').val());
                window.close();
            });
        });
    </script>
</body>
</html>
