@model eTurns.DTO.MaterialStagingDTO
@{
    GridHeaderSettings settings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplaySaveButton = false, DisplayUDFButton = false, UDFSetupFor = "", DisplaySettings = false, DisplayColumnSetupButton = false, DisplayContextMenu = false, DisplayPrintBlock = false, DisplayDeleteButton = false, DataTableName = "MSItemsTable" + Model.ID };
}
<div class="userListingWrapper">
    <div class="userListBlock">
        <div id="tab7" class="tabContener" style="width: 99.5%; height: 800px;">
            <div class="searchWrapper">
                <div class="searchBlock">
                    <span class="label">@eTurns.DTO.Resources.ResCommon.Search</span>
                    <div class="searchinputB">
                        <input type="text" class="searchinput" id="InnerItem_filter" />
                        <a href="javascript:void(0);" class="xclose">
                            <img src="~/Content/images/x.png" alt="X" id="clear_QLItem_filter" /></a>
                    </div>
                </div>
                <input type="button" id="btnDiv" value="Div" style="visibility: hidden" />
            </div>
            @Html.QuickListItemsGridTopHeader(settings, eTurnsWeb.Helper.SessionHelper.ModuleList.ProjectMaster)
            <div class="userContentInnerGrid" style="width: 99% !important; margin-left: 5px !important;
                float: left;">
                <table id="MSItemsTable@(Model.ID)" class="display">
                    <thead>
                        <tr>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.HistoryID
                            </th>
                            <th>
                                @eTurns.DTO.ResItemMaster.Action
                            </th>
                            @*<th>
                                @eTurns.DTO.ResMaterialStagingDetail.ItemID
                            </th>*@
                            <th>
                                @eTurns.DTO.ResItemMaster.ItemNumber
                            </th>
                            <th>
                                @eTurns.DTO.ResMaterialStagingDetail.Quantity
                            </th>
                            <th>
                                @eTurns.DTO.ResMaterialStagingDetail.StagingBinID
                            </th>
                            <th>
                                @eTurns.DTO.ResMaterialStagingDetail.StagingBinName
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.AddedFrom
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.EditedFrom
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.ReceivedOnDate
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.ReceivedOnWebDate
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.RoomName
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MaterialStagingItemList != null && Model.MaterialStagingItemList.Count > 0)
                        {
                            foreach (var item in Model.MaterialStagingItemList)
                            { 
                            <tr>
                                <td>
                                    <img src="~/Content/images/drildown_open.jpg" name="pullDrillDown" alt="Show/Hide Pull" />
                                    <input id="hdnitmID" name="hdnitmID" type="hidden" value="@item.ItemGUID" />
                                    <input id="hdnStagBinID" name="hdnStagBinID" type="hidden" value="@item.StagingBinID" />
                                    <input id="hdnStagingBinName" name="hdnStagingBinName" type="hidden" value="@item.StagingBinName" />
                                    <input id="hdnMatStagID" name="hdnMatStagID" type="hidden" value="@item.MaterialStagingGUID" />
                                </td>
                                <td>
                                    @item.HistoryID
                                </td>
                                <td>
                                    @item.Action
                                </td>
                                @*<td>@item.ItemID
                                </td>*@
                                <td>@item.ItemNumber
                                </td>
                                <td>@item.Quantity
                                </td>
                                <td>@item.StagingBinID
                                </td>
                                <td>@item.StagingBinName
                                </td>
                                <td>
                                    @item.AddedFrom
                                </td>
                                <td>
                                    @item.EditedFrom
                                </td>
                                <td>
                                    @item.ReceivedOnDate
                                </td>
                                <td>
                                    @item.ReceivedOnDateWeb
                                </td>
                                <td>@item.RoomName
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var oTableProjectItems;
    var DTName = 'MSItemsTable' + '@Model.ID';
    var bIsMSIHFilter = false;
    var anOpen = [];
    var sImageUrl1 = "/Content/images/";
    function ReDirectData() {
        ShowEditTab("WOEdit/" + '@Model.ID', "frmWOMaster");
    }
    $(document).ready(function () {
        var DTName = 'MSItemsTable' + '@Model.ID';
        $(".text-boxPriceFormat").priceFormat({
            prefix: '',
            thousandsSeparator: '',
            centsLimit: parseInt($('#hdCostcentsLimit').val(), 10)
        });
        $(".text-boxQuantityFormat").priceFormat({
            prefix: '',
            thousandsSeparator: '',
            centsLimit: parseInt($('#hdQuantitycentsLimit').val(), 10)
        });

        var gaiSelected = [];
        oTableProjectItems = $('#' + DTName).dataTable({
            "bJQueryUI": true,
            "bRetrieve": true,
            "bDestroy": true,
            "bScrollCollapse": true,
            "sScrollX": "900px",
            "sDom": 'RC<"top"lp<"clear">>rt<"bottom"i<"clear">>',
            "aaSorting": [],
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bStateSave": true,
            "oLanguage": {
                "sLengthMenu": '@eTurns.DTO.Resources.ResGridHeader.Show' + ' _MENU_ ' + '@eTurns.DTO.Resources.ResGridHeader.Records',
                "sEmptyTable": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
                "sInfo": '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries',
                "sInfoEmpty": '@eTurns.DTO.Resources.ResMessage.ShowingZeroEntries'
            },
            "fnStateSaveParams": function (oSettings, oData) {
                oData.oSearch.sSearch = "";
                if (!bIsMSIHFilter) {
                    $.ajax({
                        "url": '@Url.Content("~/Master/SaveGridState")',
                        "type": "POST",
                        data: { Data: JSON.stringify(oData), ListName: 'ProjectItemsList' },
                        "async": false,
                        cache: false,
                        "dataType": "json",
                        "success": function (json) {
                            o = json;
                        }
                    });
                }
                bIsMSIHFilter = false;
            },
            "fnStateLoad": function (oSettings) {
                var o;
                $.ajax({
                    "url": '@Url.Content("~/Master/LoadGridState")',
                    "type": "POST",
                    data: { ListName: 'ProjectItemsList' },
                    "async": false,
                    cache: false,
                    "dataType": "json",
                    "success": function (json) {
                        if (json.jsonData != '')
                            o = JSON.parse(json.jsonData);
                    }
                });
                return o;
            }
        });
        $('.DTTT_container').css('z-index', '-1');

        $('[name = "pullDrillDown"]').on("click", function (event) {
            //$("#" + DTName).on("click", "td.control", function (event) {
            var nTr = this.parentNode.parentNode;
            var i = $.inArray(nTr, anOpen);
            if (i === -1) {
                $(this).attr('src', sImageUrl1 + "drildown_close.jpg");
                $('#' + DTName).dataTable().fnOpen(nTr, fnFormatDetailsLI($('#' + DTName).dataTable(), nTr), '');
                anOpen.push(nTr);
                $('#' + DTName).dataTable().fnDraw();
            }
            else {
                $(this).attr('src', sImageUrl1 + "drildown_open.jpg");
                $('#' + DTName).dataTable().fnClose(nTr);
                anOpen.splice(i, 1);
            }
        });

        /* search function */
        
        //$("#InnerItem_filter").keyup(function (e) {
        //    debugger
        //    var code = (e.keyCode ? e.keyCode : e.which);
        //    if (code == 13) {
        //    }
        //    else {
        //        fnFilterStagingLineItemsHistory();
        //    }
        //});

        //Keydown event is required to handle ENTER KEY to work in IE
        $("#InnerItem_filter").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                fnFilterStagingLineItemsHistory(code);
            } 
        });

        //Clear Filter
        $("#clear_QLItem_filter").click(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            $("#InnerItem_filter").val('');
            fnFilterStagingLineItemsHistory(code);
            $("#InnerItem_filter").focus();
            return false;
        });

        //var timeoutscheduler;
        $(document).on('propertychange input', "#InnerItem_filter", function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            fnFilterStagingLineItemsHistory(code);
            //clearTimeout(timeoutscheduler);
            //var self = this;
            //timeoutscheduler = setTimeout(function () {
            //    debugger
            //    if (SearchPattern == 2 || SearchPattern == "2") {
            //        fnFilterStagingLineItemsHistory();
            //    }
            //    else {
            //        $('#InnerItem_filter').unbind("keypress");
            //        $('#InnerItem_filter').keypress(function (event) {
            //            var keycode = (event.keyCode ? event.keyCode : event.which);
            //            if (keycode == 13) {
            //                fnFilterStagingLineItemsHistory();
            //            }
            //        });
            //        //if ($("#InnerItem_filter").val().length == 0) {
            //        //    setTimeout(function () { fnFilterStagingLineItemsHistory();; }, 200);
            //        //}
            //    }
            //}, 500);
        });
    });

    function fnFilterStagingLineItemsHistory(keycode) {
        //set filter only if more than 2 characters are pressed
        if (typeof $("#InnerItem_filter") != 'undefined') {
            var searchtext = $("#InnerItem_filter").val().replace(/'/g, "''");
            $('#' + DTName).removeHighlight();
            if ((SearchPattern == 2 || SearchPattern == "2") && searchtext.length > 2) {
                bIsMSIHFilter = true;
                $('#' + DTName).dataTable().fnFilter(
                    searchtext,
                    null,
                    null,
                    null
                );
            } else if ((SearchPattern == 1 || SearchPattern == "1") && searchtext.length > 2 && keycode == 13) {
                bIsMSIHFilter = true;
                $('#' + DTName).dataTable().fnFilter(
                    searchtext,
                    null,
                    null,
                    null
                );
            } else if (searchtext.length <= 0) {
                $('#' + DTName).dataTable().fnFilter(
                    searchtext,
                    null,
                    null,
                    null
                );
            }
            if (searchtext.length > 0)
                $('#' + DTName).highlight(searchtext);
        }

        //var searchtext = $("#InnerItem_filter").val().replace(/'/g, "''");
        //$('#' + DTName).removeHighlight();
        //if (typeof $("#InnerItem_filter") != 'undefined' && ($("#InnerItem_filter").val().length > 2 || $("#InnerItem_filter").val().length == 0)) {
        ////if (typeof $("#InnerItem_filter") != 'undefined') {
        //    bIsMSIHFilter = true;
        //    $('#' + DTName).dataTable().fnFilter(
        //        searchtext,
        //        null,
        //        null,
        //        null
        //    );
        //}
        //if (searchtext.length > 0)
        //    $('#' + DTName).highlight(searchtext);
    }

    function fnFormatDetailsLI(oTableMSItem, nTr) {
        var oData = oTableMSItem.fnGetData(nTr);
        var sOut = '';
        //        var stgbinName = oData[7]; //$(nTr).find("input[type='hidden'][name='hdnStagingBinName']").val();
        //        var stgItemID = oData[3]; //$(nTr).find("input[type='hidden'][name='hdnitmID']").val();
        //        var stgBinID = oData[6]; //$(nTr).find("input[type='hidden'][name='hdnStagBinID']").val();
        //        var stgID = oData[8]; //$(nTr).find("input[type='hidden'][name='hdnMatStagID']").val();

        var stgbinName = $(nTr).find("input[type='hidden'][name='hdnStagingBinName']").val();
        var stgItemID = $(nTr).find("input[type='hidden'][name='hdnitmID']").val();
        var stgBinID = $(nTr).find("input[type='hidden'][name='hdnStagBinID']").val();
        var stgID = $(nTr).find("input[type='hidden'][name='hdnMatStagID']").val();

        $('#DivLoading').show();
        $.ajax({
            "url": '@Url.Content("~/Inventory/ItemLocDetHistory")',
            data: { ItemGUID: stgItemID, MsId: stgID, StageBinId: stgBinID, staLocName: stgbinName },
            "async": false,
            cache: false,
            "dataType": "text",
            "success": function (json) {
                sOut = json;
                $('#DivLoading').hide();
            },
            error: function (response) {

            }
        });

        return sOut;
    }

</script>
