@model IEnumerable<eTurns.DTO.OrderMasterDTO>
@{
    bool isCost = eTurnsWeb.Helper.SessionHelper.GetAdminPermission(eTurnsWeb.Helper.SessionHelper.ModuleList.HideCostMarkUpSellPrice);
    OrderType OrdType = OrderType.Order;
    if (HttpContext.Current.Request.Url.ToString().Contains("ReturnOrderList"))
    {
        OrdType = OrderType.RuturnOrder;
    }

    string qtyFormat = "N";
    string costFormat = "N";
    string dateFormat = "MM/dd/yyyy";

    if (!string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.NumberDecimalDigits))
    {
        qtyFormat = "N" + eTurnsWeb.Helper.SessionHelper.NumberDecimalDigits;
    }
    if (!string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits))
    {
        costFormat = "N" + eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits;
    }
    if (!string.IsNullOrEmpty(eTurnsWeb.Helper.SessionHelper.RoomDateFormat))
    {
        dateFormat = eTurnsWeb.Helper.SessionHelper.RoomDateFormat;
    }
}
<div id="divChangeOrderHistory" class="innerGrid borderblue" style="background: none repeat scroll 0 0 #F8F8F8;
    padding: 10px 0 0 28px; overflow-x: auto; float: left; width: 1600px;">
    <table style="width: 100%;">
        <tr>
            <td class="BtnBlock" style="float: none; border: 1px solid #F8F8F8; height: 2px;">
                <div class="innerHeadSec">
                    <div style="position: absolute; left: 470px; top: -11px; width: 350px; z-index: 10;">
                        <input type="button" id="InnerGridGobtn" class="go" value="@eTurns.DTO.Resources.ResGridHeader.Go" />
                        <input type="text" id="InnerGridPageNumber" class="inputNum" />
                        <span class="label">@eTurns.DTO.Resources.ResGridHeader.GoToPage</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 14px; padding-bottom: 35px; border: 1px solid #F8F8F8;">
                @* Open for scroll enabled <div class="userContentInnerGrid" style="float:left;width:80%;">*@
                <div class="userContentInnerGrid">
                    <table id="tblChangeOrders_@ViewBag.OrderGuid" class="display">
                        <thead>
                            <tr>
                                <th>
                                    @eTurns.DTO.ResItemMaster.Expand
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.ChangeOrderRevisionNo
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.NoOfLineItems
                                </th>
                                @if (OrdType == OrderType.RuturnOrder)
                                { 
                                    <th>
                                        @eTurns.DTO.ResOrder.ReturnOrderNumber
                                    </th>
                                }
                                else
                                {
                                    <th>
                                        @eTurns.DTO.ResOrder.OrderNumber
                                    </th>
                                }
                                <th>
                                    @eTurns.DTO.ResOrder.ReleaseNumber
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.ShippingMethod
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.Supplier
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.StagingName
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.Comment
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.RequiredDate
                                </th>
                                @if (OrdType == OrderType.RuturnOrder)
                                {
                                    <th>
                                        @eTurns.DTO.ResOrder.ReturnOrderStatus
                                    </th>
                                }
                                else
                                {
                                    <th>
                                        @eTurns.DTO.ResOrder.OrderStatus
                                    </th>
                                }
                                @if (OrdType == OrderType.RuturnOrder)
                                {
                                    <th>
                                        @eTurns.DTO.ResOrder.ReturnOrderCost
                                    </th>
                                }
                                else
                                {
                                    <th>
                                        @eTurns.DTO.ResOrder.OrderCost
                                    </th>
                                }
                                <th>
                                    @eTurns.DTO.ResOrder.Customer
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.PackSlipNumber
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.ShippingTrackNumber
                                </th>
                                <th>
                                    @eTurns.DTO.ResOrder.Indicator
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.CreatedOn
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.CreatedBy
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.UpdatedOn
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.UpdatedBy
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.AddedFrom
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.EditedFrom
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.ReceivedOnDate
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.ReceivedOnWebDate
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                <tr id="tr_@item.ChangeOrderID">
                                    <td>
                                        <a href="javascript:void(0);" id="aPlusMinus" onclick="return ShowHideChOrdDetailInnerGrid(this,@item.ChangeOrderID);">
                                            <img src="/Content/images/drildown_open.jpg" alt="" />
                                        </a>
                                        <input type="hidden" id="hdnChOrdGuid" value="@item.ChangeOrderGUID" />
                                        <input type="hidden" id="hdnIsMainOrder" value="@item.IsMainOrderInChangeOrderHistory" />
                                        <input type="hidden" id="hdnOrdGuid" value="@item.GUID"/>
                                    </td>
                                    <td>
                                        @item.ChangeOrderRevisionNo
                                    </td>
                                    <td>
                                        @item.NoOfLineItems
                                    </td>
                                    <td>
                                        @item.OrderNumber
                                    </td>
                                    <td>
                                        @item.ReleaseNumber
                                    </td>
                                    <td>
                                        @item.ShipViaName
                                    </td>
                                    <td>
                                        @item.SupplierName
                                    </td>
                                    <td>
                                        @item.StagingName
                                    </td>
                                    <td>
                                        @item.Comment
                                    </td>
                                    <td>
                                        @item.RequiredDate.ToString(dateFormat)
                                    </td>
                                    <td>
                                        @item.OrderStatusText
                                    </td>
                                    <td>
                                        @item.OrderCost.GetValueOrDefault(0).ToString(costFormat, eTurnsWeb.Helper.SessionHelper.RoomCulture)
                                    </td>
                                    <td>
                                        @item.CustomerName
                                    </td>
                                    <td>
                                        @item.PackSlipNumber
                                    </td>
                                    <td>
                                        @item.ShippingTrackNumber
                                    </td>
                                    <td>
                                        @item.Indicator
                                    </td>
                                    <td>
                                        @item.ChangeOrderCreatedDate
                                    </td>
                                    <td>
                                        @item.ChangeOrderCreatedByName
                                    </td>
                                    <td>
                                        @item.ChangeOrderUpdatedDate
                                    </td>
                                    <td>
                                        @item.ChangeOrderUpdatedByName
                                    </td>
                                    <td>
                                        @item.AddedFrom
                                    </td>
                                    <td>
                                        @item.EditedFrom
                                    </td>
                                    <td>
                                        @item.ReceivedOnDateWeb
                                    </td>
                                    <td>
                                        @item.ReceivedOnDate
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var OrdGuid = '@ViewBag.OrderGuid';

    var oTableChangeOrders;
    var anCHOpen = [];
    $(document).ready(function () {

        var gaiSelected = [];
        oTableChangeOrders = $('#tblChangeOrders_' + OrdGuid).dataTable({
            "bJQueryUI": true,
            "bRetrieve": true,
            "bDestroy": true,
            "bScrollCollapse": true,
            "sScrollX": "130%",
            "sDom": 'RC<"top"lp<"clear">>rt<"bottom"i<"clear">>',
            "oColVis": {},
            "aaSorting": [],
            "oColReorder": {},
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bStateSave": true,
            "oLanguage": {
                "sLengthMenu": '@eTurns.DTO.Resources.ResGridHeader.Show' + ' _MENU_ ' + '@eTurns.DTO.Resources.ResGridHeader.Records',
                "sEmptyTable": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
                "sInfo": '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries',
                "sInfoEmpty": '@eTurns.DTO.Resources.ResMessage.ShowingZeroEntries'
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var isMainOrder = $(nRow).find('#hdnIsMainOrder').val();
                if (isMainOrder) {
                    $(nRow).css('background-color', '#C8F6C8');
                }

                return nRow;
            },
            "fnStateSaveParams": function (oSettings, oData) {
                oData.oSearch.sSearch = "";

                $.ajax({
                    "url": '@Url.Content("~/Master/SaveGridState")',
                    "type": "POST",
                    data: { Data: JSON.stringify(oData), ListName: 'ChangeOrdersList' },
                    "async": false,
                    cache: false,
                    "dataType": "json",
                    "success": function (json) {

                        if (json.jsonData != '')
                            o = json;
                    }
                });
            },
            "fnStateLoad": function (oSettings) {
                var o;
                $.ajax({
                    "url": '@Url.Content("~/Master/LoadGridState")',
                    "type": "POST",
                    data: { ListName: 'ChangeOrdersList' },
                    "async": false,
                    cache: false,
                    "dataType": "json",
                    "success": function (json) {

                        if (json.jsonData != '')
                            o = JSON.parse(json.jsonData);
                    }
                });
                return o;
            },
            "fnInitComplete": function () {

            }
        });

        $('.DTTT_container').css('z-index', '-1');
        $('#btnblock').css({ 'margin-right': '45px' });

        $('#InnerGridPageNumber').keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                $(".go").click();
                return false;
            }
        });

        $("#InnerGridGobtn").click(function () {
            var pval = $('#InnerGridPageNumber').val();
            if (pval == "" || pval.match(/[^0-9]/)) {
                return;
            }
            if (pval == 0)
                return;
            $('#tblChangeOrders_' + OrdGuid).dataTable().fnPageChange(Number(pval - 1));
            $('#InnerGridPageNumber').val('');
        });


    });

    function fnCHOrdFormatDetails(oTbl, nTr) {
        var chngOrdMstGuid = $(nTr).find('#hdnChOrdGuid').val();
        var sOut = '';
        $('#DivLoading').show();
        var callurl = 'GetChangeOrderDetail';
        var isMainOrder = $(nTr).find('#hdnIsMainOrder').val();

        if (isMainOrder) {
            chngOrdMstGuid = $(nTr).find('#hdnOrdGuid').val();
            callurl = 'GetCurrentOrderDetailInChangeOrderHistory';

        }
        $.ajax({
            "url": callurl,
            "data": { ChangeOrderMasterGuid: chngOrdMstGuid },
            "async": false,
            "cache": false,
            "type": "POST",
            "dataType": "text",
            //"contentType": "application/text",
            "success": function (json) {
                sOut = json;
                $('#DivLoading').hide();
                $(nTr).removeClass('row_selected');
            },
            error: function (response) {
                alert('@ResCommon.ErrorInProcess');
            }
        });

        return sOut;
    }

    function ShowHideChOrdDetailInnerGrid(ctrl, id) {
        $('#DivLoading').show();
        var tr = $('#tr_' + id);
        var nTr = tr[0];
        var i = $.inArray(nTr, anCHOpen);
        var dtTable = $('#tblChangeOrders_' + OrdGuid).dataTable();
        if (i === -1) {
            $('img', ctrl).attr('src', sImageUrl + "drildown_close.jpg");
            dtTable.fnOpen(nTr, fnCHOrdFormatDetails(dtTable, nTr), '');
            anCHOpen.push(nTr);
            var trWidth = $(nTr).css('width');
            if (trWidth != null && trWidth.length > 0) {
                var innerWidth = parseInt(trWidth.replace('px', '')) - 100;
                var newInnerWidth = innerWidth + 'px';
                $('#divChangeOrderDetailHistory').css('width', newInnerWidth);
            }
        }
        else {

            $('img', ctrl).attr('src', sImageUrl + "drildown_open.jpg");
            dtTable.fnClose(nTr);
            anCHOpen.splice(i, 1);
            //  dtTable.fnDraw();
            $('#DivLoading').hide();
        }
    }

     


</script>
