@model IList<eTurns.DTO.ItemToReturnDTO>
@{
    string viewRight = "ViewOnly";

    bool IsAllowOverwriteLotOrSerial = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowOverwriteLotOrSerial, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);
    bool IsAllowToEnterLotOrSerialInBlankBox = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowToEnterLotOrSerialInBlankBox, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);
    bool IsViewOnlyLotOrSerial = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.ViewOnlyLotOrSerial, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);

    if (IsAllowOverwriteLotOrSerial)
    {
        viewRight = "ViewOverwrite";
    }
    else if (IsAllowToEnterLotOrSerialInBlankBox)
    {
        viewRight = "NoRight";
    }
    else if (IsViewOnlyLotOrSerial)
    {
        viewRight = "ViewOnly";
    }
}
<div>
    @if (Model != null && Model.Count > 0)
    {


        <div style="width: 100%; padding-bottom: 10px;">
            <input type="button" class="btnGeneral" value="Return All" id="btnPullAllPopUp" name="btnPullAllPopUp" />
        </div>
        foreach (ItemToReturnDTO objItem in Model)
        {
            string jsonPullMasterDTO = Newtonsoft.Json.JsonConvert.SerializeObject(objItem);
            <div style="padding: 10px; margin-bottom: 10px; border: 1px solid red;" id="divItem_@(objItem.ItemGUID)">
                <table style="width: 100%" class="display" id="tblItemPullheader_@(objItem.ItemGUID)">
                    <thead>
                        <tr>
                            <th>
                                <input type="hidden" id="hdnPullMasterDTO_@(objItem.ItemGUID)" value="@jsonPullMasterDTO" name="hdnPullMasterDTO" />
                                Item #
                            </th>
                            <th>
                                Item Tracking
                            </th>
                            <th>
                                Bin
                            </th>
                            <th>
                                Qty To Return
                            </th>
                            <th>
                                Order#
                            </th>
                            <th>
                                UDF1
                            </th>
                            <th>
                                UDF2
                            </th>
                            <th>
                                UDF3
                            </th>
                            <th>
                                UDF4
                            </th>
                            <th>
                                UDF5
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @objItem.ItemNumber
                            </td>
                            <td>
                                @if (objItem.IsLotTrack)
                                {
                                    <text>Lot# Tracking</text>
                                    <input type='hidden' id='hdnTrackingType_@(objItem.ItemGUID)' value='LotNumberTracking' />
                                }
                                else if (objItem.IsSRTrack)
                                {
                                    <text>Serial# Tracking</text>
                                    <input type='hidden' id='hdnTrackingType_@(objItem.ItemGUID)' value='SerialNumberTracking' />
                                }
                                else if (objItem.IsDCTrack)
                                {
                                    <text>Date Code Tracking</text>
                                    <input type='hidden' id='hdnTrackingType_@(objItem.ItemGUID)' value='DateCodeTracking' />
                                }
                                else
                                {
                                    <text>No Tracking</text>
                                    <input type='hidden' id='hdnTrackingType_@(objItem.ItemGUID)' value='NoTracking' />
                                }
                            </td>
                            <td>
                                @objItem.BinNumber
                            </td>
                            <td>
                                <input type='text' value='@objItem.QtyToReturn' id='txtPoolQuantity_@(objItem.ItemGUID)' name='txtPoolQuantity_@(objItem.ItemGUID)' class='text-boxinner pull-quantity' />
                            </td>
                            <td>
                                @objItem.OrderNumber
                            </td>
                            <td>
                                @objItem.UDF1
                            </td>
                            <td>
                                @objItem.UDF2
                            </td>
                            <td>
                                @objItem.UDF3
                            </td>
                            <td>
                                @objItem.UDF4
                            </td>
                            <td>
                                @objItem.UDF5
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
                @if (objItem.QtyToReturn > 0)
                {
                    string htmltableName = "tblItemPull_" + objItem.ItemGUID;
                    <table style="width: 100%" class="display tbl-item-pull" id="@htmltableName">
                        <thead>
                            <tr>
                                <th style="text-align: left;">
                                    @if (objItem.IsLotTrack)
                                    {
                                        @eTurns.DTO.ResItemLocationDetails.LotNumber
                                    }
                                    else if (objItem.IsSRTrack)
                                    {
                                        @eTurns.DTO.ResItemLocationDetails.SerialNumber
                                    }
                                    else
                                    {
                                        @eTurns.DTO.ResPullMaster.LotSrnumber
                                    }
                                </th>
                                <th style="text-align: left;">
                                    Bin
                                </th>
                                <th style="text-align: left;">
                                    AvailableQuantity
                                </th>
                                <th>
                                    ReturnQuantity
                                </th>
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.ReceivedDate
                                </th>
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.ExpirationDate
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <script type="text/javascript">
                        var IsCheckViewRight = true;
                        var isDeleteSrLotRow = false;
                        var BoolTrueString = '@Boolean.TrueString';
                        var PullSerialsAndLotsNewUrl = '@Url.Action("ReturnSerialsAndLots", "Order")';
                        var PullLotSrSelectionUrl = '@Url.Content("~/Pull/PullLotSrSelection")';
                        var objReturnItemDetail = {
                            tableID: '@htmltableName',
                            ItemGUID: '@objItem.ItemGUID',
                            BinID: '@objItem.BinID',
                            PullQuantity: '@objItem.QtyToReturn',
                            InventoryConsuptionMethod: '@objItem.InventoryConsuptionMethod',
                            LotNumberTracking: '@objItem.IsLotTrack',
                            SerialNumberTracking: '@objItem.IsSRTrack',
                            DateCodeTracking: '@objItem.IsDCTrack',
                            ViewRight: '@viewRight'
                        };

                        PrepareReturnDataTable(objReturnItemDetail);

                    </script>
                }
                <div style="width: 100%; padding-top: 10px;">
                    @if (viewRight != "ViewOnly")
                    {
                        <input type="button" class="btnGeneral" value="Add" id="btnLoadMoreLots_@(objItem.ItemGUID)" name="btnLoadMoreLots" />
                        <input type="button" class="btnGeneral" value="Delete" id="btnDeleteLots_@(objItem.ItemGUID)" name="btnDeleteLots" />
                    }
                    <input type="button" class="btnGeneral" value="Return" id="btnPullPopup_@(objItem.ItemGUID)" name="btnPullPopup" />
                    <input type="hidden" name="hdnSelectedId" id="hdnSelectedId_@(objItem.ItemGUID)" />
                    <input type="hidden" name="hdnCurrentLoadedIds" id="hdnCurrentLoadedIds_@(objItem.ItemGUID)" />
                </div>
            </div>
        }
    }
    <table style="width: 100%">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <input type="button" class="btnGeneral" value="Return All" id="btnPullAllPopUp1" name="btnPullAllPopUp" />
                <input type="button" class="btnGeneral" value="Cancel" id="btnCancel1" name="btnCancelPullPopup" />
            </td>
        </tr>
    </table>
    <div class="dialog" id="dlgCommonErrorMsgPopup" style="display: none; width: 600px;">
        <div class="inner" style="width: 600px; max-height: 300px; overflow: scroll;">
            <p class="text" id="pErrMessage" style="text-align: left; padding-left: 10px;">
            </p>
            <p id="pOkbtn" class="text" style="text-align: center; padding-left: 10px; display: none;">
                <a href="#" class="no" onclick="closeMessageModalInPopup()">
                    <img src="~/Content/images/yes.png" alt="@eTurns.DTO.Resources.ResMessage.InformOk" />@eTurns.DTO.Resources.ResMessage.InformOk
                </a>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        if ('@viewRight' == "ViewOnly") {
            $("input[type='text'][name^='txtPoolQuantity_']").keypress(function () {
                return false;
            });
        }

    });

    function closeMessageModalInPopup() {
        $.modal.impl.close();
    }

</script>