@model ReceivableItemDTO
@{
    string strDecimalFormat = eTurnsWeb.Helper.SessionHelper.QuantityFormat;
    string strPriceFormat = eTurnsWeb.Helper.SessionHelper.PriceFormat;
    bool isAllowConsigned = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowedToChangeConsignedQuantityItems, eTurnsWeb.Helper.SessionHelper.PermissionType.Approval);
    bool isCost = false;
    isCost = eTurnsWeb.Helper.SessionHelper.GetAdminPermission(eTurnsWeb.Helper.SessionHelper.ModuleList.HideCostMarkUpSellPrice);
    bool HasOnTheFlyEntryRight = eTurnsWeb.Helper.SessionHelper.GetAdminPermission(eTurnsWeb.Helper.SessionHelper.ModuleList.OnTheFlyEntry);
    bool isUpdate = false;
    bool isInsert = false;
    isUpdate = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Receive, eTurnsWeb.Helper.SessionHelper.PermissionType.Update);
    isInsert = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Receive, eTurnsWeb.Helper.SessionHelper.PermissionType.Insert);
    eTurns.DAL.RegionSettingDAL objRegionSettingDAL = new eTurns.DAL.RegionSettingDAL(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName);
    var version = eTurnsWeb.Helper.CommonUtility.GetReleaseNumber();
    string CurrencyDecimalDigits = eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits;
}
<table id="NewReceiveEntry@(Model.OrderDetailID)" style="display:none;">
    <tr>
        <td>
            <input type="hidden" id="hdnIsConsign_@Model.OrderDetailID" value="@Model.ItemConsignment.ToString()" />
            <input type="hidden" id="hdnIsSerial_@Model.OrderDetailID" value="@Model.SerialNumberTracking.ToString()" />
            <input type="hidden" id="hdnIsLot_@Model.OrderDetailID" value="@Model.LotNumberTracking.ToString()" />
            <input type="hidden" id="hdnIsDateCode_@Model.OrderDetailID" value="@Model.DateCodeTracking.ToString()" />
            <input type="hidden" id="hdnOrderDetailGUID_@Model.OrderDetailID" value="@Model.OrderDetailGUID" />
            <input type="hidden" id="hdnItemGuid_@Model.OrderDetailID" value="@Model.ItemGUID" />
            <input type="hidden" id="hdnItemType_@Model.OrderDetailID" value="@Model.ItemType" />
            <input type="hidden" id="hdnRequestedQty_@Model.OrderDetailID" value="@Model.RequestedQuantity" />
            <input type="hidden" id="hdnStagingID_@Model.OrderDetailID" value="@Model.StagingID" />
            <input type="hidden" id="hdnApprovedQty_@Model.OrderDetailID" value="@Model.ApprovedQuantity" />
            <input type="hidden" id="hdnReceivedQty_@Model.OrderDetailID" value="@Model.ReceivedQuantity" />
            <input type="hidden" id="hdnOrderGuid_@Model.OrderDetailID" value="@Model.OrderGUID" />
            <input type="hidden" id="hdnIsPackSlipNumberMandatory_@Model.OrderDetailID" value="@Model.IsPackSlipNumberMandatory.ToString()" />
        </td>
    </tr>
</table>
<div class="innerGrid" id="InnerGrid_@Model.OrderDetailID" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px;float:left;  width: 98%;">      
    <div id="ItemReceivedGrid_@Model.OrderDetailID" style="float: left;clear:both; width: 70%;margin:25px 0px 15px 0px;">
    </div>
</div>
@*<script type='text/javascript' src="@Url.Content("~/Scripts/PageScripts/ReceiveItem.js?v=" + version)"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        fillReturnItemGrid('@Model.OrderDetailID');
    });
</script>
