@model ReceivableItemDTO
@{
    GridHeaderSettings returnsettings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplaySaveButton = false, DisplayUDFButton = false, UDFSetupFor = "", DisplaySettings = false, DisplayColumnSetupButton = false, DisplayContextMenu = false, DisplayPrintBlock = false, DisplayDeleteButton = true, DataTableName = "ReturnedItemDetail_" + Model.OrderDetailID };
    returnsettings.DisplayDeleteButton = false;

    bool isCost = false;
    isCost = eTurnsWeb.Helper.SessionHelper.GetAdminPermission(eTurnsWeb.Helper.SessionHelper.ModuleList.HideCostMarkUpSellPrice);
    string strCostDeci = "N";
    string strQtyDeci = "N";
    string strDateFor = "MM/dd/yyyy";

    if (!string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits))
    {
        strCostDeci = "N" + eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits;
    }
    if (!string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.NumberDecimalDigits))
    {
        strQtyDeci = "N" + eTurnsWeb.Helper.SessionHelper.NumberDecimalDigits;
    }
    if (!string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.DateTimeFormat))
    {
        strDateFor = eTurnsWeb.Helper.SessionHelper.DateTimeFormat;
    }
    var version = eTurnsWeb.Helper.CommonUtility.GetReleaseNumber();
    bool isOrderDetailsUDF = new eTurns.DAL.UDFDAL(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName).GetNonDeletedUDFCountByUDFTableName("OrderDetails", eTurnsWeb.Helper.SessionHelper.RoomID, eTurnsWeb.Helper.SessionHelper.CompanyID) > 0;
}
<table style="width: 50%; float: left; margin-bottom: 10px;">
    <tr>
        <td>
            <div class="userContentInnerGrid">
                @Html.QuickListItemsGridTopHeader(returnsettings, eTurnsWeb.Helper.SessionHelper.ModuleList.ReturnOrder)
                <table id="ReturnedItemDetail_@Model.OrderDetailID" class="display">
                    <thead>
                        <tr>
                            @*<th class="NotSortable">
                    Edit
                </th>*@
                            <th>
                                @eTurns.DTO.ResBin.BinNumber
                            </th>
                            @if (Model.SerialNumberTracking)
                            {
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.SerialNumber
                                </th>
                            }
                            @if (Model.LotNumberTracking)
                            {
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.LotNumber
                                </th>
                            }
                            @if (Model.DateCodeTracking)
                            {
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.ExpirationDate
                                </th>
                            }
                            <th>
                                @eTurns.DTO.ResOrder.ReturnDate
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationDetails.CustomerOwnedQuantity
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationDetails.ConsignedQuantity
                            </th>
                            @if (isCost)
                            {
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.Cost
                                </th>
                            }
                            <th>
                                @eTurns.DTO.ResOrder.PackSlipNumber
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationDetails.Created
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationDetails.CreatedBy
                            </th>
                            <th>
                                @eTurns.DTO.ResReceiveOrderDetails.IsEDISent
                            </th>
                            <th>
                                @eTurns.DTO.ResReceiveOrderDetails.LastEDIDate
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.AddedFrom
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.EditedFrom
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.ReceivedOnDate
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.ReceivedOnWebDate
                            </th>
                            @Html.RenderColumnsHeader("ReceivedOrderTransferDetail", typeof(eTurns.DTO.ResReceiveOrderDetails), "")
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ReceivedItemDetail != null && Model.ReceivedItemDetail.Count() > 0)
                        {
                            foreach (var item in Model.ReceivedItemDetail)
                            {
                                <tr id="tr_@item.ID">
                                    <td>
                                        @item.BinNumber
                                        <input type='hidden' id='hdnGUID' value="@item.GUID.ToString()" />
                                        <input type='hidden' id='hdnID' value="@item.ID.ToString()" />
                                    </td>
                                    @if (Model.SerialNumberTracking)
                                    {
                                        <td>
                                            @item.SerialNumber
                                        </td>
                                    }
                                    @if (Model.LotNumberTracking)
                                    {
                                        <td>
                                            @item.LotNumber
                                        </td>
                                    }
                                    @if (Model.DateCodeTracking)
                                    {
                                        <td>
                                            @item.Expiration
                                        </td>
                                    }
                                    <td>
                                        @item.CreatedDate
                                    </td>
                                    <td>
                                        @item.CustomerOwnedQuantity.GetValueOrDefault(0).ToString(strQtyDeci)
                                    </td>
                                    <td>
                                        @item.ConsignedQuantity.GetValueOrDefault(0).ToString(strQtyDeci)
                                    </td>
                                    @if (isCost)
                                    {
                                        <td>
                                            @item.Cost.GetValueOrDefault(0).ToString(strCostDeci, eTurnsWeb.Helper.SessionHelper.RoomCulture)
                                        </td>
                                    }
                                    <td>
                                        @item.PackSlipNumber
                                    </td>
                                    <td>
                                        @item.CreatedDate
                                    </td>
                                    <td>
                                        @item.CreatedByName
                                    </td>
                                    @if (item.IsEDISent.GetValueOrDefault(false))
                                    {
                                        <td id="tdEDISent_@item.ID">
                                            Yes
                                        </td>
                                    }
                                    else
                                    {
                                        <td id="tdEDISent_@item.ID">
                                            No
                                        </td>
                                    }
                                    @if (item.LastEDIDate.GetValueOrDefault(DateTime.MinValue) > DateTime.MinValue)
                                    {
                                        <td>
                                            @eTurnsWeb.Helper.CommonUtility.ToClientDateTime((item.LastEDIDate.GetValueOrDefault(DateTime.MinValue)))
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                        </td>
                                    }
                                    <td>
                                        @item.AddedFrom
                                    </td>
                                    <td>
                                        @item.EditedFrom
                                    </td>
                                    <td>
                                        @item.ReceivedOnDate
                                    </td>
                                    <td>
                                        @item.ReceivedOnDateWeb
                                    </td>
                                    @Html.RenderColumnsArrayForDOM("ReceivedOrderTransferDetail", item)
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        fillReturnItemDetailGrid('@Model.OrderDetailID');
    });
</script>