<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandLPNarrowSearch">
        <img alt="" src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseLPNarrowSearch">
        <img alt="" src="~/Content/images/closed.png" />
    </a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="NarrowUL">
        <li>
            <select id="LPCreatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion4">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="LPCreatedByCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="LPUpdatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="LPUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="LPDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="LPDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancLPDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="LPDateCTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancLPDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="LPDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="LPDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancLPDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="LPDateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancLPDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <input id="LPNarroSearchClear" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />
</div>
<script type="text/javascript">


    var CreatedBySelectedValues = '';
    var UpdatedBySelectedValues = '';

    $(document).ready(function () {

        $('#LPDateCFrom').blur(function () {
        }).datepicker({ dateFormat: RoomDateJSFormat });
        $('#LPDateCTo').blur(function () {
        }).datepicker({ dateFormat: RoomDateJSFormat });
        $('#LPDateUFrom').blur(function () {
        }).datepicker({ dateFormat: RoomDateJSFormat });
        $('#LPDateUTo').blur(function () {
        }).datepicker({ dateFormat: RoomDateJSFormat });

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

        var NarrowSearchState = getCookie('NarrowSearchState');
        if (NarrowSearchState == 'Expanded') {
            CollapseLPNarrowSearch();
        }
        else {
            ExpandLPNarrowSearch();
        }

        $('.IteamBlock').css('width', '99.5%');

        FillNarrowSearchData()

    });


    $('#LPDateCFrom,#LPDateCTo').change(function () {
        var DateCToValid = false;// Date.isValid($('#LPDateCTo').val(), RoomDateJSFormat); //isDate($('#DateCTo').val());
        var DateCFromValid = false;// Date.isValid($('#LPDateCFrom').val(), RoomDateJSFormat);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#LPDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#LPDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        if (DateCFromValid && DateCToValid) {
            $("#txtLPFilter").val('');
            DoLPNarrowSearch();
        }
        else {
            if (!DateCFromValid)
                $('#LPDateCFrom').val('');
            if (!DateCToValid)
                $('#LPDateCTo').val('');
        }
    });

    $('#LPDateUFrom,#LPDateUTo').change(function () {

        var DateUToValid = false;//Date.isValid($('#LPDateUTo').val(), RoomDateJSFormat); //isDate($('#DateCTo').val());
        var DateUFromValid = false;//Date.isValid($('#LPDateUFrom').val(), RoomDateJSFormat);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#LPDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#LPDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateUFromValid = false;
        }

        //var DateUFromValid = isDate($('#LPDateUFrom').val());
        //var DateUToValid = isDate($('#LPDateUTo').val());
        if (DateUFromValid && DateUToValid) {
            $("#txtLPFilter").val('');
            DoLPNarrowSearch();
        }
        else {
            if (!DateUFromValid)
                $('#LPDateUFrom').val('');
            if (!DateUToValid)
                $('#LPDateUTo').val('');
        }
    });

    $('#ancLPDateCFrom').click(function () {
        $('#LPDateCFrom').focus();
    });
    $('#ancLPDateCTo').click(function () {
        $('#LPDateCTo').focus();
    });
    $('#ancLPDateUFrom').click(function () {
        $('#LPDateUFrom').focus();
    });
    $('#ancLPDateUTo').click(function () {
        $('#LPDateUTo').focus();
    });

    $('#LPDateCreatedClear').click(function () {
        if ($('#LPDateCFrom').val() != '' || $('#LPDateCTo').val() != '') {
            $('#LPDateCFrom').val('');
            $('#LPDateCTo').val('');
            //NarrowSearchInGrid('');
            DoLPNarrowSearch();
        }
    });
    $('#LPDateUpdatedClear').click(function () {
        if ($('#LPDateUFrom').val() != '' || $('#LPDateUTo').val() != '') {
            $('#LPDateUFrom').val('');
            $('#LPDateUTo').val('');
            //NarrowSearchInGrid('');
            DoLPNarrowSearch();
        }
    });

    $('#ExpandLPNarrowSearch').click(function (e) {
        ExpandLPNarrowSearch();
    });
    $('#CollapseLPNarrowSearch').click(function (e) {
        CollapseLPNarrowSearch();
    });


    $('#LPNarroSearchClear').click(function () {

        $('#LPDateCFrom').val('');
        $('#LPDateCTo').val('');
        $('#LPDateUFrom').val('');
        $('#LPDateUTo').val('');
        $("#LPCreatedBy").multiselect("uncheckAll");
        $("#LPCreatedByCollapse").html('');
        $("#LPUpdatedBy").multiselect("uncheckAll");
        $("#LPUpdatedByCollapse").html('');
        $("#LPLabelModule").multiselect("uncheckAll");
        $("#LPLabelModuleCollapse").html('');
        $("#LPLabelOnlyBase").multiselect("uncheckAll");
        $("#LPLabelOnlyBaseCollapse").html('');
        $("#txtLPFilter").val('');
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        DoLPNarrowSearch();
    });

    function clearSearchFilterIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'txtLPFilter')
            $("#txtLPFilter").val('');
    }

    function ExpandLPNarrowSearch() {
        var w = $('.IteamBlock').css("width");
        $('.IteamBlock').show();
        $('.IteamBlock').stop().animate({
            width: "99.5%"
        }, 0, function () {
            $('.userContent').css({ "width": "80.5%", "margin": "0" });
            $('#myDataTable_length').css({ "left": "0px" });
            $('#myDataTable_paginate').css({ "left": "145px" });
            $('.leftopenContent').css({ "display": "none" });
            setCookie('NarrowSearchState', 'Collapsed');
        });
        $('#divNarrowSearch').css('width', '18%');
    }

    function CollapseLPNarrowSearch() {
        $('.IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('.IteamBlock').hide();
            $('.userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#myDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#myDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('.leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchState', 'Expanded');
        });
        $('#divNarrowSearch').css('width', '0%');
    }

    function FillNarrowSearchData() {
        $.ajax({
            url: '@Url.Content("GetNarrowSearchData")',
            data: { 'IsDeleted': _IsDeleted, 'IsArchived': _IsArchived },
            dataType: 'json',
            success: function (response) {
                if (response.Success && response.Data != null) {
                    BindDropDownList(response.Data.CreatedByList, 'LPCreatedBy', 'LPCreatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby');
                    BindDropDownList(response.Data.UpdatedByList, 'LPUpdatedBy', 'LPUpdatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby');
                }
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }


    function GetOptions(arrData, isUDF) {
        var options;

        $.each(arrData, function (i) {
            options += '<option value="' + arrData[i].ID + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
        });


        return options;
    }

    function BindDropDownList(arrData, ddlName, ddlCollapseName, displayName) {
        $("#" + ddlName).empty();
        $("#" + ddlName).multiselect('destroy');
        $("#" + ddlName).multiselectfilter('destroy');
        $("#" + ddlName).append(GetOptions(arrData, false));
        var showHeader = true;
        var showMultiple = true;
        if (ddlName == 'LPLabelOnlyBase') {
            showHeader = false;
            showMultiple = true;
        }
        $("#" + ddlName).multiselect(
                  {
                      noneSelectedText: displayName,
                      selectedList: 5,
                      header: showHeader,
                      multiple: showMultiple,
                      selectedText: function (numChecked, numTotal, checkedItems) {
                          if (ddlName == 'LPLabelOnlyBase') {
                              return displayName;
                          }
                          else
                              return displayName + ' ' + numChecked + ' ' + selected;
                      }
                  },
                {
                    checkAll: function (ui) {
                        $("#" + ddlCollapseName).html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#" + ddlCollapseName).text().indexOf(ui.target[i].text) == -1) {
                                $("#" + ddlCollapseName).append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#" + ddlCollapseName).show();
                    }
                }).bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {

                    switch ($(this).attr('id')) {
                        case 'LPCreatedBy':
                            CreatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'LPUpdatedBy':
                            UpdatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                    }

                    if ($("#" + ddlCollapseName).text().trim() != '')
                        $("#" + ddlCollapseName).show();
                    else
                        $("#" + ddlCollapseName).hide();


                    if ($("#" + ddlCollapseName).find('span').length <= 2) {
                        $("#" + ddlCollapseName).scrollTop(0).height(50);
                    }
                    else {
                        $("#" + ddlCollapseName).scrollTop(0).height(100);
                    }
                    DoLPNarrowSearch();

                }).multiselectfilter();

    }

    function DoLPNarrowSearch() {

        //clearSearchFilterIfNotInFocus();

        var narrowSearchValues = '';


        //var searchvalue = $("#txtLPFilter").val();

        //if (LabelModuleSelectedValues == undefined || LabelModuleSelectedValues.length <= 0)
        //    LabelModuleSelectedValues = '';

        if (CreatedBySelectedValues == undefined || CreatedBySelectedValues.length <= 0)
            CreatedBySelectedValues = '';

        if (UpdatedBySelectedValues == undefined || UpdatedBySelectedValues.length <= 0)
            UpdatedBySelectedValues = '';

        //if (LabelOnlyBaseSelectedValues == undefined || LabelOnlyBaseSelectedValues.length <= 0)
        //    LabelOnlyBaseSelectedValues = '';

        //narrowSearchValues += LabelModuleSelectedValues + "~";
        narrowSearchValues += CreatedBySelectedValues + "~";
        narrowSearchValues += UpdatedBySelectedValues + "~";
       

        if ($('#LPDateCFrom').val() != '' && $('#LPDateCTo').val() != '') {
            narrowSearchValues += ($('#LPDateCFrom').val()) + "," + ($('#LPDateCTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        if ($('#LPDateUFrom').val() != '' && $('#LPDateUTo').val() != '') {
            narrowSearchValues += ($('#LPDateUFrom').val()) + "," + ($('#LPDateUTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        //narrowSearchValues += LabelOnlyBaseSelectedValues + "~";

        var searchtext = '';
        var tmpGlobalFilter = $("#txtLPFilter");
        if (typeof (tmpGlobalFilter) !== undefined && tmpGlobalFilter != null && tmpGlobalFilter.val() != undefined && tmpGlobalFilter.val() != null && tmpGlobalFilter.val() != '')
            searchtext = $("#txtLPFilter").val().replace(/'/g, "''").replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");

        narrowSearch = "[###]" + narrowSearchValues + "[###]" + searchtext;

        bIsFilter = true;

        fnFilterLPList(narrowSearch)

    }




</script>
