@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
    var settings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplayDeleteButton = false, DataTableName = "HistoryTable" };
    
}
<script type="text/javascript">
         var oHistoryTable;
        $(document).ready(function () {
            oHistoryTable = $('#HistoryTable').dataTable({
            "bJQueryUI": true,
            "bScrollCollapse": true,
            "bAutoWidth": true,                        
            "sDom": 'R<"top"lp<"clear">>rt<"bottom"i<"clear">>T',
            "oColVis": {},
            "sScrollX": "100%",
            "aaSorting": [[1, "asc"]],
            "oColReorder": {},
            "bSort": true,
            "sPaginationType": "full_numbers",
            "sAjaxSource": '@Url.Content("~/Master/GetHistoryData")',
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                aoData.push({ "name": "PageType", "value": "OrderList" });
                aoData.push({ "name": "PageID", "value": HistorySelectedID });
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
					"headers": { "__RequestVerificationToken": $("input[name='__RequestVerificationToken'][type='hidden']").val() },
                    "success": fnCallback
                })
            },
            "fnInitComplete": function () {                     
                     compareHistoryRows(this);
            },
            "aoColumns": [
                //{ "mDataProp": "HistoryID", "sClass": "read_only" },
                { "mDataProp": "Action", "sClass": "read_only" },
			                //{ "mDataProp": "ID", "sClass": "read_only" },
			                { 
                            "mDataProp": "OrderNumber",
			                    "sClass": "read_only",
			                    "sDefaultContent": ''			                    
                                 ,"fnRender": function (obj, val) {
                                     //return "<a onclick='return TabItemClickedEdit(&quot;OrderHistoryView/" + obj.aData.HistoryID + "&quot;,&quot;frmOrder&quot;)' href='JavaScript:void(0);'>" + obj.aData.OrderNumber+ "</a>";
                                     return "<a onclick='return openModel(" + obj.aData.HistoryID + ")' href='JavaScript:void(0);'>" + obj.aData.OrderNumber+ "</a>";
                                 }
                            },
                              { "mDataProp": "WhatWhereAction", "sClass": "read_only" },
			                { "mDataProp": "ReleaseNumber", "sClass": "read_only" },
			                { "mDataProp": "ShipViaName", "sClass": "read_only" },
			                { "mDataProp": "SupplierName", "sClass": "read_only" },
			                { "mDataProp": "StagingName", "sClass": "read_only" },
			                { "mDataProp": "Comment", "sClass": "read_only" },
			                { "mDataProp": "RequiredDate", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        return GetDateInFullFormat(val);
			                    }
			                },
			                { "mDataProp": "OrderStatusText", "sClass": "read_only" },
                            { "mDataProp": "RejectionReason", "sClass": "read_only" },
			                { "mDataProp": "CustomerName", "sClass": "read_only" },
			                { "mDataProp": "PackSlipNumber", "sClass": "read_only" },
			                { "mDataProp": "ShippingTrackNumber", "sClass": "read_only" },
			                { "mDataProp": "Created", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        //return GetDateInFullFormat(val);
                                    return obj.aData.CreatedDate;
			                    }
			                },
                               { "mDataProp": "CreatedByName", "sClass": "read_only" },
			                { "mDataProp": "LastUpdated", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        //return GetDateInFullFormat(val);
                                     return obj.aData.UpdatedDate;
			                    }
			                },
			             
			                { "mDataProp": "UpdatedByName", "sClass": "read_only" },
			                { "mDataProp": "RoomName", "sClass": "read_only" },
			                { "mDataProp": "IsDeleted", "sClass": "read_only", "fnRender": function (obj, val) {
			                    return  GetBoolInFormat(obj, val) ;
			                }  },
			                { "mDataProp": "IsArchived", "sClass": "read_only" , "fnRender": function (obj, val) {
			                    return   GetBoolInFormat(obj, val) ;
			                } },
                             { "mDataProp": "AddedFrom", "sClass": "read_only" },
                            { "mDataProp": "EditedFrom", "sClass": "read_only" },
                            { "mDataProp": "ReceivedOn", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                       return obj.aData.ReceivedOnDate;
 			                    }
			                },
			                { "mDataProp": "ReceivedOnWeb", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                       return obj.aData.ReceivedOnDateWeb;
			                    }
			                }
//                            { "mDataProp": "ReceivedOnDate", "sClass": "read_only" },
//                            { "mDataProp": "ReceivedOnDateWeb", "sClass": "read_only" }

                            @Html.RenderColumnsArray("OrderMaster")
		    ]
            }).makeEditable({
            });

            //HIDE PRINT CONTAINER
            $('.DTTT_container').css('z-index', '-1');                
            $("#HistoryText").keydown(function (e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if (code == 13) {                
                        oHistoryTable.fnFilter(this.value);
                    }
            });
            $("#HistoryClear").click(function () {
                if ($("#HistoryText").val().length > 0) {
                    $("#HistoryText").val("");
                    oHistoryTable.fnFilter("");
                }
                return false;
            });
        });
</script>
<div class="searchWrapper">
    <div class="searchBlock">
        <span class="label">@eTurns.DTO.Resources.ResCommon.Search </span>
        <div class="searchinputB">
            <input type="text" class="searchinput" id="HistoryText" />
            <a href="javascript:void(0);" class="xclose">
                <img src="~/Content/images/x.png" alt="X" id="HistoryClear" /></a>
        </div>
    </div>
</div>
@Html.GridTopHeaderForHistory(settings)
<div style="margin: 0 0.4% 1%">
    <table id="HistoryTable" class="display">
        <thead>
            <tr>
                @*<th>
                    @eTurns.DTO.Resources.ResCommon.HistoryID
                </th>*@
                <th>
                    @eTurns.DTO.Resources.ResCommon.HistoryAction
                </th>
                @*<th>
                    @eTurns.DTO.Resources.ResCommon.ID
                </th>*@
                <th>
                    @eTurns.DTO.ResOrder.OrderNumber
                </th>
                <th>
                    From Where
                </th>
                <th>
                    @eTurns.DTO.ResOrder.ReleaseNumber
                </th>
                <th>
                    @eTurns.DTO.ResOrder.ShipVia
                </th>
                <th>
                    @eTurns.DTO.ResOrder.Supplier
                </th>
                <th>
                    @eTurns.DTO.ResOrder.StagingName
                </th>
                <th>
                    @eTurns.DTO.ResOrder.Comment
                </th>
                <th>
                    @eTurns.DTO.ResOrder.RequiredDate
                </th>
                <th>
                    @eTurns.DTO.ResOrder.OrderStatus
                </th>
                <th>
                    @eTurns.DTO.ResOrder.RejectedReason
                </th>
                <th>
                    @eTurns.DTO.ResOrder.Customer
                </th>
                <th>
                    @eTurns.DTO.ResOrder.PackSlipNumber
                </th>
                <th>
                    @eTurns.DTO.ResOrder.ShippingTrackNumber
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedBy
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedBy
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.RoomName
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.IsArchived
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.IsDeleted
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.AddedFrom
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.EditedFrom
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.ReceivedOnDate
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.ReceivedOnWebDate
                </th>
                @Html.RenderColumnsHeader("OrderMaster", typeof(eTurns.DTO.ResOrder))
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="divOrderLineItemHistory">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#divOrderLineItemHistory").dialog({
            autoOpen: false,
            modal: true,
            draggable: true,
            resizable: true,
            width: '95%',
            height: 720,
            title: 'Order List History',
            open: function () {
                $('#DivLoading').show();
                $("#divOrderLineItemHistory").empty();
                $.get('OrderHistoryView', { ID: $(this).data("cid") }, function (data) {
                    $("#divOrderLineItemHistory").html(data);
                });
            },
            close: function () {
                $("#divOrderLineItemHistory").empty();
            }
        });


    });

    function openModel(id) {
        $('#divOrderLineItemHistory').data("cid", id).dialog('open')
        return false;
    }
</script>
