
<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandOrderNarrowSearch">
        <img alt="" src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseOrderNarrowSearch">
        <img alt="" src="~/Content/images/closed.png" />
    </a>
    <h2>
        @eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2
    </h2>
    <ul id="NarrowUL">
         
        <li attrsortOrder="1">
            <p class="handle"><img /></p>
            <select id="OrderStatus" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderStatusCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="OrderRequiredDate" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderRequiredDateCollapse">
                </div>
            </div>
        </li>
        
        <li style="display: none" attrsortOrder="5">
            <p class="handle"><img /></p>
            <select id="ChangeOrder" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordionCO3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ChangeOrderCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="101">
            <p class="handle"><img /></p>
            <select id="OrderCreatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="OrderCreatedByCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="102">
            <p class="handle"><img /></p>
            <select id="OrderUpdatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;" attrsortOrder="103">
            <p class="handle"><img /></p>
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="OrdDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="OrdDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancOrdDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="OrdDateCTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancOrdDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li style="float: left;" attrsortOrder="104">
            <p class="handle"><img /></p>
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="OrdDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="OrdDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancOrdDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="OrdDateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancOrdDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li id="liOrdUDF1" style="display: none" attrsortOrder="201">
            <p class="handle"><img /></p>
            <select id="OrderUDF1" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF1">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderUDF1Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liOrdUDF2" style="display: none" attrsortOrder="202">
            <p class="handle"><img /></p>
            <select id="OrderUDF2" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderUDF2Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liOrdUDF3" style="display: none" attrsortOrder="203">
            <p class="handle"><img /></p>
            <select id="OrderUDF3" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderUDF3Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liOrdUDF4" style="display: none" attrsortOrder="204">
            <p class="handle"><img /></p>
            <select id="OrderUDF4" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderUDF4Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liOrdUDF5" style="display: none" attrsortOrder="205">
            <p class="handle"><img /></p>
            <select id="OrderUDF5" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF5">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="OrderUDF5Collapse" name="CUDFS">
                </div>
            </div>
        </li>
    </ul>
    <input id="OrdNarroSearchClear" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />
</div>
<style>
    .IteamBlock li {
        width: 90% !important;
    }

    .handle {
        height: 20px;
        width: 5%;
        vertical-align: middle;
        /*background-image: url("../../Content/images/Drage.png");*/
        cursor: move;
        float: right;
    }

        .handle img {
            height: 20px;
            width: 6%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
</style>
<script type="text/javascript">

    var CreatedBySelectedValues = '';
    var UpdatedBySelectedValues = '';
    var SupplierBySelectedValues = '';
    var StatusBySelectedValues = '';
    var RequiredDateSelectedValues = '';
    var ChangeOrderSelectedValues = '';
    var WorkOrderSelectedValues = '';
    var OrderUDF1NarrowValues = ''
    var OrderUDF2NarrowValues = ''
    var OrderUDF3NarrowValues = ''
    var OrderUDF4NarrowValues = ''
    var OrderUDF5NarrowValues = ''

    $(document).ready(function () {
        $(".handle").each(function () {
            $(this).find("img").attr("src", "../../Content/images/Drage.png");
        });
        $("#NarrowUL").sortable({
            handle: "> .handle",
            stop: function (event, ui) {
                var linkOrderData = $("#NarrowUL").sortable("toArray", { attribute: 'attrsortOrder' });

                $.ajax({
                    "type": "POST",
                    "url": '/Master/SaveGridState',
                    "data": { Data: JSON.stringify(linkOrderData), ListName: "OrderMaster_NarrowSearch" },
                    "dataType": "json",
                    "cache": false,
                    "async": false,
                    "success": function (json1) {
                    }
                });
            }
        });

        //var orderArray = '3,2,4,5,6,7,8,9,10,1,12,11,103,101,102,104,';
        //var listArray = $('#nssortable li');
        //for (var i = 0; i < orderArray.length; i++) {
        //    $('#nssortable').append(listArray[orderArray[i]-1]);
        //}
        $.ajax({
            "type": "POST",
            "url": '/Master/LoadGridState',
            "data": { ListName: "OrderMaster_NarrowSearch" },
            "dataType": "json",
            "cache": false,
            "async": false,
            "success": function (json1) {

                if (json1.jsonData != null && json1.jsonData != '') {

                    var sorted = JSON.parse(json1.jsonData);
                    sorted = sorted.reverse();

                    sorted.forEach(function (id) {
                        $("#NarrowUL [attrsortOrder=" + parseInt(id) + "]").prependTo("#NarrowUL");
                    });
                }
            }
        });

        $('#OrdDateCFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat, date: true
        });
        $('#OrdDateCTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat, date: true
        });
        $('#OrdDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat, date: true
        });
        $('#OrdDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat, date: true
        });

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

        var NarrowSearchState = getCookie('NarrowSearchState');
        if (NarrowSearchState == 'Expanded') {
            CollapseOrderNarrowSearch();
        }
        else {
            ExpandOrderNarrowSearch();
        }

        $('.IteamBlock').css('width', '99.5%');

        FillNarrowSearchData()

    });


    $('#OrdDateCFrom,#OrdDateCTo').change(function () {



        var DateCFromValid = true;//Date.isValid($('#OrdDateCFrom').val(),format);
        var DateCToValid = true;// Date.isValid($('#OrdDateCTo').val(), format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#OrdDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#OrdDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }
        if (DateCFromValid && DateCToValid) {
            $("#txtOrderFilter").val('');
            DoOrderNarrowSearch();
        }
        else {
            if (!DateCFromValid)
                $('#OrdDateCFrom').val('');
            if (!DateCToValid)
                $('#OrdDateCTo').val('');
        }
    });

    $('#OrdDateUFrom,#OrdDateUTo').change(function () {



        var DateUFromValid = true;//Date.isValid($('#OrdDateUFrom').val(), format);
        var DateUToValid = true;//Date.isValid($('#OrdDateUTo').val(), format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#OrdDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#OrdDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
            $("#txtOrderFilter").val('');
            DoOrderNarrowSearch();
        }
        else {
            if (!DateUFromValid)
                $('#OrdDateUFrom').val('');
            if (!DateUToValid)
                $('#OrdDateUTo').val('');
        }
    });

    $('#ancOrdDateCFrom').click(function () {
        $('#OrdDateCFrom').focus();
    });
    $('#ancOrdDateCTo').click(function () {
        $('#OrdDateCTo').focus();
    });
    $('#ancOrdDateUFrom').click(function () {
        $('#OrdDateUFrom').focus();
    });
    $('#ancOrdDateUTo').click(function () {
        $('#OrdDateUTo').focus();
    });

    $('#OrdDateCreatedClear').click(function () {
        if ($('#OrdDateCFrom').val() != '' || $('#DateCTo').val() != '') {
            $('#OrdDateCFrom').val('');
            $('#OrdDateCTo').val('');
            //NarrowSearchInGrid('');
            DoOrderNarrowSearch();
        }
    });
    $('#OrdDateUpdatedClear').click(function () {
        if ($('#OrdDateUFrom').val() != '' || $('#DateUTo').val() != '') {
            $('#OrdDateUFrom').val('');
            $('#OrdDateUTo').val('');
            //NarrowSearchInGrid('');
            DoOrderNarrowSearch();
        }
    });

    $('#ExpandOrderNarrowSearch').click(function (e) {
        ExpandOrderNarrowSearch();
    });
    $('#CollapseOrderNarrowSearch').click(function (e) {
        CollapseOrderNarrowSearch();
    });


    $('#OrdNarroSearchClear').click(function () {

        if ('@Session["MainFilter"]' === "True") {
            ClickFromMenu(false);
            window.location = "/ToolAssetOrder/OrderList"
            return;
        }
        $('#OrdDateCFrom').val('');
        $('#OrdDateCTo').val('');
        $('#OrdDateUFrom').val('');
        $('#OrdDateUTo').val('');

        if (typeof ($("#OrderCreatedBy").multiselect("getChecked").length) != undefined && $("#OrderCreatedBy").multiselect("getChecked").length > 0) {
            $("#OrderCreatedBy").multiselect("uncheckAll");
            $("#OrderCreatedByCollapse").html('');
        }

        if (typeof ($("#OrderUpdatedBy").multiselect("getChecked").length) != undefined && $("#OrderUpdatedBy").multiselect("getChecked").length > 0) {
            $("#OrderUpdatedBy").multiselect("uncheckAll");
            $("#OrderUpdatedByCollapse").html('');
        }

        if (typeof ($("#OrderStatus").multiselect("getChecked").length) != undefined && $("#OrderStatus").multiselect("getChecked").length > 0) {
            $("#OrderStatus").multiselect("uncheckAll");
            $("#OrderStatusCollapse").html('');
        }

        if (typeof ($("#OrderRequiredDate").multiselect("getChecked").length) != undefined && $("#OrderRequiredDate").multiselect("getChecked").length > 0) {
            $("#OrderRequiredDate").multiselect("uncheckAll");
            $("#OrderRequiredDateCollapse").html('');
        }

        if (typeof ($("#OrderSupplier").multiselect("getChecked").length) != undefined && $("#OrderSupplier").multiselect("getChecked").length > 0) {
            $("#OrderSupplier").multiselect("uncheckAll");
            $("#OrderSupplierCollapse").html('');
        }



        if (typeof ($("#OrderShippingVendor").multiselect("getChecked").length) != undefined && $("#OrderShippingVendor").multiselect("getChecked").length > 0) {
            $("#OrderShippingVendor").multiselect("uncheckAll");
            $("#OrderShippingVendorCollapse").html('');
        }

        //UDFs
        $("select[name='UDFS']").each(function (index) {
            if (typeof ($(this).multiselect("getChecked").length) != undefined && $(this).multiselect("getChecked").length > 0) {
                var UDFUniqueID = this.getAttribute('UID');
                $(this).multiselect("uncheckAll");
                // $('#' + UDFUniqueID + 'Collapse').html('');
            }
        });


        $("div[name='CUDFS']").each(function (index) {
            $(this).html('');
        });

        if ($('#txtOrderFilter').val() != '') $('#txtOrderFilter').val('');
        $('input[type="search"]').val('').trigger('keyup');
        //$('div.ui-multiselect-filter').each(function(i){
        //    $(this).find('input[type="search"]').val('').trigger('keyup');
            
        //});

        TempNarrow = '';
        IsRetainNarrow = false;
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        DoOrderNarrowSearch();

        fillOrderNarrowSearchDiv();
    });

    function clearSearchFilterIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'txtOrderFilter')
            $("#txtOrderFilter").val('');
    }

    function ExpandOrderNarrowSearch() {
        var w = $('.IteamBlock').css("width");
        $('.IteamBlock').show();
        $('.IteamBlock').stop().animate({
            width: "99.5%"
        }, 0, function () {
            $('.userContent').css({ "width": "80.5%", "margin": "0" });
            $('#myDataTable_length').css({ "left": "0px" });
            $('#myDataTable_paginate').css({ "left": "145px" });
            $('.leftopenContent').css({ "display": "none" });
            setCookie('NarrowSearchState', 'Collapsed');
        });
        $('#divNarrowSearch').css('width', '18%');
    }

    function CollapseOrderNarrowSearch() {
        $('.IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('.IteamBlock').hide();
            $('.userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#myDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#myDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('.leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchState', 'Expanded');
        });
        $('#divNarrowSearch').css('width', '0%');
    }

    function FillNarrowSearchData() {
        $.ajax({
            url: '@Url.Content("~/ToolAssetOrder/GetNarrowSearchData")',
            data: { 'IsDeleted': _IsDeleted, 'IsArchived': _IsArchived, 'OrderStatus': GetCurrentSelectedTab() },
            dataType: 'json',
            async: true,
            success: function (response) {
                if (response.Success && response.Data != null) {
                    
                    BindDropDownList(response.Data.CreatedByList, 'OrderCreatedBy', 'OrderCreatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby');
                    BindDropDownList(response.Data.UpdatedByList, 'OrderUpdatedBy', 'OrderUpdatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby');
                    //BindDropDownList(response.Data.SupplierByList, 'OrderSupplier', 'OrderSupplierCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.Supplier')
                    BindDropDownList(response.Data.StatusByList, 'OrderStatus', 'OrderStatusCollapse', '@eTurns.DTO.ResOrder.OrderStatus')
                    BindDropDownList(response.Data.RequiredDateList, 'OrderRequiredDate', 'OrderRequiredDateCollapse', '@eTurns.DTO.ResOrder.RequiredDate');
                   // BindDropDownList(response.Data.VendorList, 'OrderShippingVendor', 'OrderShippingVendorCollapse', '@eTurns.DTO.ResOrder.ShippingVendor');
                    BindDropDownList(response.Data.ChangeOrderList, 'ChangeOrder', 'ChangeOrderCollapse', 'Change Order');
                    if (response.Data.UDF1List != null) {
                        $('#liOrdUDF1').css('display', '');
                        BindDropDownList(response.Data.UDF1List, 'OrderUDF1', 'OrderUDF1Collapse', '@eTurns.DTO.ResToolAssetOrder.UDF1');
                    }
                    if (response.Data.UDF2List != null) {
                        $('#liOrdUDF2').css('display', '');
                        BindDropDownList(response.Data.UDF2List, 'OrderUDF2', 'OrderUDF2Collapse', '@eTurns.DTO.ResToolAssetOrder.UDF2');
                    }
                    if (response.Data.UDF3List != null) {
                        $('#liOrdUDF3').css('display', '');
                        BindDropDownList(response.Data.UDF3List, 'OrderUDF3', 'OrderUDF3Collapse', '@eTurns.DTO.ResToolAssetOrder.UDF3');
                    }
                    if (response.Data.UDF4List != null) {
                        $('#liOrdUDF4').css('display', '');
                        BindDropDownList(response.Data.UDF4List, 'OrderUDF4', 'OrderUDF4Collapse', '@eTurns.DTO.ResToolAssetOrder.UDF4');
                    }
                    if (response.Data.UDF5List != null) {
                        $('#liOrdUDF5').css('display', '');
                        BindDropDownList(response.Data.UDF5List, 'OrderUDF5', 'OrderUDF5Collapse', '@eTurns.DTO.ResToolAssetOrder.UDF5');
                    }
                }
            },
            error: function (xhr) {
                //alert(xhr);
            }
        });
    }


    function GetOptions(arrData, isUDF) {

        var options;
        if (isUDF) {
            $.each(arrData, function (i) {
                if (arrData[i].Text != '') {
                    options += '<option value="' + arrData[i].Text + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
                }
            });
        }
        else {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].ID + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });

        }
        return options;
    }

    function BindDropDownList(arrData, ddlName, ddlCollapseName, displayName) {
        $("#" + ddlName).empty();
        $("#" + ddlName).multiselect('destroy');
        $("#" + ddlName).multiselectfilter('destroy');
        $("#" + ddlName).append(GetOptions(arrData, (ddlName.indexOf('OrderUDF') != -1)));
        $("#" + ddlName).multiselect(
                  {
                      noneSelectedText: displayName, selectedList: 5,
                      selectedText: function (numChecked, numTotal, checkedItems) {
                          return displayName + ' ' + numChecked + ' ' + selected;
                      }
                  },
                {
                    checkAll: function (ui) {
                        $("#" + ddlCollapseName).html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#" + ddlCollapseName).text().indexOf(ui.target[i].text) == -1) {
                                $("#" + ddlCollapseName).append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#" + ddlCollapseName).show();
                    }
                }).bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#" + ddlCollapseName).text().indexOf(ui.text) == -1) {
                            $("#" + ddlCollapseName).append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#" + ddlCollapseName).html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#" + ddlCollapseName).html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#" + ddlCollapseName).html(text);
                        }
                        else
                            $("#" + ddlCollapseName).html('');
                    }
                    switch ($(this).attr('id')) {
                        case 'OrderCreatedBy':
                            CreatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderUpdatedBy':
                            UpdatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderSupplier':
                            SupplierBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderStatus':
                            StatusBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderRequiredDate':
                            RequiredDateSelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderShippingVendor':
                            WorkOrderSelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'ChangeOrder':
                            ChangeOrderSelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderUDF1':
                            OrderUDF1NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderUDF2':
                            OrderUDF2NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderUDF3':
                            OrderUDF3NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderUDF4':
                            OrderUDF4NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'OrderUDF5':
                            OrderUDF5NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                    }

                    if ($("#" + ddlCollapseName).text().trim() != '')
                        $("#" + ddlCollapseName).show();
                    else
                        $("#" + ddlCollapseName).hide();


                    if ($("#" + ddlCollapseName).find('span').length <= 2) {
                        $("#" + ddlCollapseName).scrollTop(0).height(50);
                    }
                    else {
                        $("#" + ddlCollapseName).scrollTop(0).height(100);
                    }
                    DoOrderNarrowSearch();

                }).multiselectfilter();

    }

    function DoOrderNarrowSearch() {

        // clearSearchFilterIfNotInFocus();

        var narrowSearchValues = '';

        if (CreatedBySelectedValues == undefined || CreatedBySelectedValues.length <= 0)
            CreatedBySelectedValues = '';

        if (UpdatedBySelectedValues == undefined || UpdatedBySelectedValues.length <= 0)
            UpdatedBySelectedValues = '';

        if (SupplierBySelectedValues == undefined || SupplierBySelectedValues.length <= 0)
            SupplierBySelectedValues = '';

        if (StatusBySelectedValues == undefined || StatusBySelectedValues.length <= 0)
            StatusBySelectedValues = '';

        if (RequiredDateSelectedValues == undefined || RequiredDateSelectedValues.length <= 0)
            RequiredDateSelectedValues = '';

        if (WorkOrderSelectedValues == undefined || WorkOrderSelectedValues.length <= 0)
            WorkOrderSelectedValues = '';

        if (ChangeOrderSelectedValues == undefined || ChangeOrderSelectedValues.length <= 0)
            ChangeOrderSelectedValues = '';

        if (OrderUDF1NarrowValues == undefined || OrderUDF1NarrowValues.length <= 0)
            OrderUDF1NarrowValues = '';

        if (OrderUDF2NarrowValues == undefined || OrderUDF2NarrowValues.length <= 0)
            OrderUDF2NarrowValues = '';

        if (OrderUDF3NarrowValues == undefined || OrderUDF3NarrowValues.length <= 0)
            OrderUDF3NarrowValues = '';

        if (OrderUDF4NarrowValues == undefined || OrderUDF4NarrowValues.length <= 0)
            OrderUDF4NarrowValues = '';

        if (OrderUDF5NarrowValues == undefined || OrderUDF5NarrowValues.length <= 0)
            OrderUDF5NarrowValues = '';


        narrowSearchValues += CreatedBySelectedValues + "~";
        narrowSearchValues += UpdatedBySelectedValues + "~";
        narrowSearchValues += SupplierBySelectedValues + "~";
        narrowSearchValues += StatusBySelectedValues + "~";
        narrowSearchValues += RequiredDateSelectedValues + "~";

        if ($('#OrdDateCFrom').val() != '' && $('#OrdDateCTo').val() != '') {
            narrowSearchValues += ($('#OrdDateCFrom').val()) + "," + ($('#OrdDateCTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        if ($('#DateUFrom').val() != '' && $('#OrdDateUTo').val() != '') {
            narrowSearchValues += ($('#OrdDateUFrom').val()) + "," + ($('#OrdDateUTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        narrowSearchValues += ChangeOrderSelectedValues + "~";
        narrowSearchValues += OrderUDF1NarrowValues + "~";
        narrowSearchValues += OrderUDF2NarrowValues + "~";
        narrowSearchValues += OrderUDF3NarrowValues + "~";
        narrowSearchValues += OrderUDF4NarrowValues + "~";
        narrowSearchValues += OrderUDF5NarrowValues + "~";
        narrowSearchValues += WorkOrderSelectedValues;

        // var appendedText = GetCurrentSelectedTab();

        // if (narrowSearchValues.replace(/~/g, '') == '') {
        // narrowSearch = '';
        //  }
        //  else {

        narrowSearch = "[###]" + narrowSearchValues + "[###]" + $("#txtOrderFilter").val().replace(/'/g, "''");

        //  }

        //        if (appendedText.length > 0)
        //            narrowSearch = narrowSearch + "[^]" + appendedText;
        bIsFilter = true;
        fnFilterOrderList(narrowSearch)
        //   $('#myDataTable').dataTable().fnFilter(narrowSearch, null, null, null);
    }




</script>
