
<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandNarrowSearchSC">
        <img src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseNarrowSearchSC">
        <img src="~/Content/images/closed.png" />
    </a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="NarrowUL">
        <li>
            <select id="ReceivePO" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ReceivePOCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="POReceiveaDate" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="POReceiveaDateCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ReceiveCreatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="ReceiveCreatedByCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ReceiveUpdatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ReceiveUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="ReceiveDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ReceiveDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancReceiveDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="ReceiveDateCTo" type="text" value="" name="To" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancReceiveDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="ReceiveDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ReceiveDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancReceiveDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="ReceiveDateUTo" type="text" value="" name="To" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancReceiveDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        @Html.RenderUDFForNarrowSearch("ToolMaster")
    </ul>
    <input id="NarroSearchClearSC" type="button" value="@ResNarrowSearch.Clear" class="CreateBtn" />
</div>
<script type="text/javascript">

    var selected = '@eTurns.DTO.Resources.ResNarrowSearch.selected';
    var Supplier = '@eTurns.DTO.Resources.ResNarrowSearch.Supplier';
    var dateReceived = '@eTurns.DTO.Resources.ResNarrowSearch.DateReceived';

    var OrderNumver = "Tool Asset Order Number";

    var CreatedBy = "CreatedBy";
    var UpdatedBy = "UpdatedBy";
    var RoomResourceName = "Room";
    


    
    var ReceiveSupplierNarroValues = "";
    var ReceivePONarroValues = "";
    var POReceiveaDateValues = "";

    var ReceiveCreatedByNarroValues = "";
    var ReceiveUpdatedByNarroValues = "";
    $(document).ready(function () {
        var _IsArchived = false;
        var _IsDeleted = false;

        $('#ReceiveDateCFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ReceiveDateCTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ReceiveDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ReceiveDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });

        $('#ancReceiveDateCFrom').click(function () {
            $('#ReceiveDateCFrom').focus();
        });
        $('#ancReceiveDateCTo').click(function () {
            $('#ReceiveDateCTo').focus();
        });
        $('#ancReceiveDateUFrom').click(function () {
            $('#ReceiveDateUFrom').focus();
        });
        $('#ancReceiveDateUTo').click(function () {
            $('#ReceiveDateUTo').focus();
        });
        GetReceiveToolAssetNarrowSearches('ReceiveToolAssetMaster', _IsArchived, _IsDeleted);

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

    });



    $('#NarroSearchGo').click(function () {
        DoNarrowSearchSC();
    });
    $('#ReceiveDateCFrom,#ReceiveDateCTo').change(function () {

        var DateCFromValid =true;// Date.isValid($('#ReceiveDateCFrom').val(),format);
        var DateCToValid = true;//Date.isValid($('#ReceiveDateCTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ReceiveDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ReceiveDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }
        if (DateCFromValid && DateCToValid) {
            DoNarrowSearchSC();
        }
        else {
            if (!DateCFromValid)
                $('#ReceiveDateCFrom').val('');
            if (!DateCToValid)
                $('#ReceiveDateCTo').val('');
        }
    });

    $('#ReceiveDateUFrom,#ReceiveDateUTo').change(function () {

        var DateUFromValid = true;// Date.isValid($('#ReceiveDateUFrom').val(),format);
        var DateUToValid =  true;//Date.isValid($('#ReceiveDateUTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ReceiveDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateUFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ReceiveDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
            DoNarrowSearchSC();
        }
        else {
            if (!DateUFromValid)
                $('#ReceiveDateUFrom').val('');
            if (!DateUToValid)
                $('#ReceiveDateUTo').val('');
        }
    });
    $('#ReceiveDateCreatedClear').click(function () {
        if ($('#ReceiveDateCFrom').val() != '' || $('#ReceiveDateCTo').val() != '') {
            $('#ReceiveDateCFrom').val('');
            $('#ReceiveDateCTo').val('');
            //NarrowSearchInGrid('');
            DoNarrowSearchSC();
        }
    });
    $('#ReceiveDateUpdatedClear').click(function () {
        if ($('#ReceiveDateUFrom').val() != '' || $('#ReceiveDateUTo').val() != '') {
            $('#ReceiveDateUFrom').val('');
            $('#ReceiveDateUTo').val('');
            //NarrowSearchInGrid('');
            DoNarrowSearchSC();
        }
    });
    //CLEAR NARROW SEARCH
    $('#NarroSearchClearSC').click(function () {

        if (typeof ($("#ReceivePO").multiselect("getChecked").length) != undefined && $("#ReceivePO").multiselect("getChecked").length > 0) {
            $("#ReceivePO").multiselect("uncheckAll");
            $("#ReceivePOCollapse").html('');
        }
        
        if (typeof ($("#ReceiveCreatedBy").multiselect("getChecked").length) != undefined && $("#ReceiveCreatedBy").multiselect("getChecked").length > 0) {
            $("#ReceiveCreatedBy").multiselect("uncheckAll");
            $("#ReceiveCreatedByCollapse").html('');
        }
        if (typeof ($("#ReceiveUpdatedBy").multiselect("getChecked").length) != undefined && $("#ReceiveUpdatedBy").multiselect("getChecked").length > 0) {
            $("#ReceiveUpdatedBy").multiselect("uncheckAll");
            $("#ReceiveUpdatedByCollapse").html('');
        }
        if (typeof ($("#POReceiveaDate").multiselect("getChecked").length) != undefined && $("#POReceiveaDate").multiselect("getChecked").length > 0) {
            $("#POReceiveaDate").multiselect("uncheckAll");
            $("#POReceiveaDateCollapse").html('');
        }
        if (typeof ($("#POReceiveaDate").multiselect("getChecked").length) != undefined && $("#POReceiveaDate").multiselect("getChecked").length > 0) {
            $("#POReceiveaDate").multiselect("uncheckAll");
            $("#POReceiveaDateCollapse").html('');
        }
        $("select[name='udflist']").each(function (index) {
            if (typeof ($(this).multiselect("getChecked").length) != undefined && $(this).multiselect("getChecked").length > 0) {
                var UDFUniqueID = this.getAttribute('UID');
                $(this).multiselect("uncheckAll");
                $('#' + UDFUniqueID + 'Collapse').html('');
            }
        });
        if ($('#ReceiveDateCFrom').val() != '') $('#ReceiveDateCFrom').val('');
        if ($('#ReceiveDateCTo').val() != '') $('#ReceiveDateCTo').val('');
        if ($('#ReceiveDateUFrom').val() != '') $('#ReceiveDateUFrom').val('');
        if ($('#ReceiveDateUTo').val() != '') $('#ReceiveDateUTo').val('');

        if ($('#global_filter').val() != '') $('#global_filter').val('');
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        $('input[type="search"]').val('').trigger('keyup');

        NarrowSearchInGridSC('');
    });



    function GetReceiveToolAssetNarrowSearches(_TableName, _IsArchived, _IsDeleted) {
        var iscloseorder = true;
        if ($('#tab4').hasClass('selected'))
            iscloseorder = false;

        //alert(_TableName);
       

        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'OrderNumber', IsArchived: _IsArchived, IsDeleted: _IsDeleted, IsIncludeClosedOrder: iscloseorder },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[0] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#ReceivePO").empty();
                $("#ReceivePO").multiselect('destroy');
                $("#ReceivePO").multiselectfilter('destroy');

                $("#ReceivePO").append(s);
                $("#ReceivePO").multiselect
            (
                { noneSelectedText: OrderNumver, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return OrderNumver + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#ReceivePOCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#ReceivePOCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#ReceivePOCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#ReceivePOCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#ReceivePOCollapse").text().indexOf(ui.text) == -1) {
                        $("#ReceivePOCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#ReceivePOCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#ReceivePOCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#ReceivePOCollapse").html(text);
                    }
                    else {
                        $("#ReceivePOCollapse").html('');
                    }
                }
                ReceivePONarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#ReceivePOCollapse").text().trim() != '')
                    $("#ReceivePOCollapse").show();
                else
                    $("#ReceivePOCollapse").hide();


                if ($("#ReceivePOCollapse").find('span').length <= 2) {
                    $("#ReceivePOCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#ReceivePOCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });

        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'CreatedBy', IsArchived: _IsArchived, IsDeleted: _IsDeleted, IsIncludeClosedOrder: iscloseorder },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#ReceiveCreatedBy").empty();
                $("#ReceiveCreatedBy").multiselect('destroy');
                $("#ReceiveCreatedBy").multiselectfilter('destroy');

                $("#ReceiveCreatedBy").append(s);
                $("#ReceiveCreatedBy").multiselect
            (
                { noneSelectedText: CreatedBy, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return CreatedBy + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#ReceiveCreatedByCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#ReceiveCreatedByCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#ReceiveCreatedByCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#ReceiveCreatedByCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#ReceiveCreatedByCollapse").text().indexOf(ui.text) == -1) {
                        $("#ReceiveCreatedByCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#ReceiveCreatedByCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#ReceiveCreatedByCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#ReceiveCreatedByCollapse").html(text);
                    }
                    else {
                        $("#ReceiveCreatedByCollapse").html('');
                    }
                }
                ReceiveCreatedByNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#ReceiveCreatedByCollapse").text().trim() != '')
                    $("#ReceiveCreatedByCollapse").show();
                else
                    $("#ReceiveCreatedByCollapse").hide();


                if ($("#ReceiveCreatedByCollapse").find('span').length <= 2) {
                    $("#ReceiveCreatedByCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#ReceiveCreatedByCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'UpdatedBy', IsArchived: _IsArchived, IsDeleted: _IsDeleted, IsIncludeClosedOrder: iscloseorder },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#ReceiveUpdatedBy").empty();
                $("#ReceiveUpdatedBy").multiselect('destroy');
                $("#ReceiveUpdatedBy").multiselectfilter('destroy');

                $("#ReceiveUpdatedBy").append(s);
                $("#ReceiveUpdatedBy").multiselect
            (
                { noneSelectedText: UpdatedBy, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return UpdatedBy + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#ReceiveUpdatedByCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#ReceiveUpdatedByCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#ReceiveUpdatedByCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#ReceiveUpdatedByCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#ReceiveUpdatedByCollapse").text().indexOf(ui.text) == -1) {
                        $("#ReceiveUpdatedByCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#ReceiveUpdatedByCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#ReceiveUpdatedByCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#ReceiveUpdatedByCollapse").html(text);
                    }
                    else {
                        $("#ReceiveUpdatedByCollapse").html('');
                    }
                }
                ReceiveUpdatedByNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#ReceiveUpdatedByCollapse").text().trim() != '')
                    $("#ReceiveUpdatedByCollapse").show();
                else
                    $("#ReceiveUpdatedByCollapse").hide();


                if ($("#ReceiveUpdatedByCollapse").find('span').length <= 2) {
                    $("#ReceiveUpdatedByCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#ReceiveUpdatedByCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
        $.ajax({ 'url': '/Master/GetNarrowDDData',
            data: { TableName: _TableName, TextFieldName: 'POReceiveaDate', IsArchived: _IsArchived, IsDeleted: _IsDeleted, IsIncludeClosedOrder: iscloseorder },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (ValData, ValCount) {
                    var ArrData = ValData.toString().split('[###]');
                    //s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                    s += '<option value="' + ArrData[1] + '">' + ArrData[0] + '</option>';
                });


                //Destroy widgets before reapplying the filter
                $("#POReceiveaDate").empty();
                $("#POReceiveaDate").multiselect('destroy');
                $("#POReceiveaDate").multiselectfilter('destroy');

                $("#POReceiveaDate").append(s);
                $("#POReceiveaDate").multiselect
            (
                { noneSelectedText: dateReceived, selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return dateReceived + ' ' + numChecked + ' ' + selected;
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#POReceiveaDateCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#POReceiveaDateCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#POReceiveaDateCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#POReceiveaDateCollapse").show();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#POReceiveaDateCollapse").text().indexOf(ui.text) == -1) {
                        $("#POReceiveaDateCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#POReceiveaDateCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#POReceiveaDateCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#POReceiveaDateCollapse").html(text);
                    }
                    else
                        $("#POReceiveaDateCollapse").html('');
                }
                POReceiveaDateValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#POReceiveaDateCollapse").text().trim() != '')
                    $("#POReceiveaDateCollapse").show();
                else
                    $("#POReceiveaDateCollapse").hide();


                if ($("#POReceiveaDateCollapse").find('span').length <= 2) {
                    $("#POReceiveaDateCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#POReceiveaDateCollapse").scrollTop(0).height(100);
                }
                clearGlobalIMIfNotInFocus();
                DoNarrowSearchSC();
            }).multiselectfilter();
            },
            error: function (response) {
                // through errror message
            }
        });
    }



</script>
<script type="text/javascript">

    /* COMMON FUNCTION TO NARROW SEARCH HIDE/SHOW ALONG WITH STATE SAVED : Dec 24, 2012 : IJ */

    $(document).ready(function () {
        $('#ExpandNarrowSearchSC').click(function (e) {
            ExpandNarrowSearchSC();
        });
        $('#CollapseNarrowSearchSC').click(function (e) {
            CollapseNarrowSearchSC();
        });
        var NarrowSearchStateSC = getCookieIM('NarrowSearchStateSC');

        if (NarrowSearchStateSC == 'Expanded') {
            CollapseNarrowSearchSC();
        }
        else {
            ExpandNarrowSearchSC();
        }

        var _IsArchived = false;
        var _IsDeleted = false;

        if (typeof ($('#IsArchivedRecords')) != undefined)
            _IsArchived = $('#IsArchivedRecords').is(':checked');

        if (typeof ($('#IsDeletedRecords')) != undefined)
            _IsDeleted = $('#IsDeletedRecords').is(':checked');

        var iscloseorder = true;


        var OrderStatusin = '4,5,6,7,8'
        if ($('#tab4').hasClass('selected'))
            OrderStatusin = '4,5,6,7'



        //GetNarroHTMLForUDF('ReceiveList', '@eTurnsWeb.Helper.SessionHelper.CompanyID', '@eTurnsWeb.Helper.SessionHelper.RoomID', _IsArchived, _IsDeleted, OrderStatusin);
        GetNarroFromToolHTMLForUDF('ReceiveToolAssetList', '@eTurnsWeb.Helper.SessionHelper.CompanyID', '@eTurnsWeb.Helper.SessionHelper.RoomID', _IsArchived, _IsDeleted, OrderStatusin);

        //        GetNarroHTMLForItemTypeIM();
    });
    function GetNarroFromToolHTMLForUDF(tableName, companyID, roomID, _IsArchived, _IsDeleted, _RequisitionCurrentTab) {
        var UDFObject;
        

        $("select[name='udflist']").each(function (index) {
            var UDFUniqueID = this.getAttribute('UID');
            $.ajax({
                'url': '/Master/GetUDFDDData',
                data: { TableName: tableName, UDFName: this.id, UDFUniqueID: UDFUniqueID, IsArchived: _IsArchived, IsDeleted: _IsDeleted, RequisitionCurrentTab: _RequisitionCurrentTab },
                success: function (response) {
                    var s = '';
                    if (response.DDData != null) {
                        $.each(response.DDData, function (UDFVal, ValCount) {
                            var ArrData = UDFVal.toString().split('[###]');
                            s += '<option value="' + ArrData[1] + '">' + ArrData[0] + ' (' + ValCount + ')' + '</option>';
                        });
                    }
                    var UDFColumnNameTemp = response.UDFColName.toString().replace("_dd", "");

                    //Destroy widgets before reapplying the filter
                    $('[id="' + response.UDFColName + '"]').empty();
                    $('[id="' + response.UDFColName + '"]').multiselect('destroy');
                    $('[id="' + response.UDFColName + '"]').multiselectfilter('destroy');

                    $('[id="' + response.UDFColName + '"]').append(s);

                    $('[id="' + response.UDFColName + '"]').multiselect
                    (
                        {
                            noneSelectedText: UDFColumnNameTemp, selectedList: 5,
                            selectedText: function (numChecked, numTotal, checkedItems) {
                                return UDFColumnNameTemp + ' ' + numChecked + ' ' + selected;
                            }
                        },
                        {
                            checkAll: function (ui) {
                                var CollapseObject = $('#' + UDFUniqueID + 'Collapse')
                                $(CollapseObject).html('');
                                for (var i = 0; i <= ui.target.length - 1; i++) {
                                    if ($(CollapseObject).text().indexOf(ui.target[i].text) == -1) {
                                        $(CollapseObject).append("<span>" + ui.target[i].text + "</span>");
                                    }
                                }
                                $(CollapseObject).show();
                            }
                        }
                    )
                    .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                        var CollapseObject = $('#' + UDFUniqueID + 'Collapse')
                        if (ui.checked) {
                            if ($(CollapseObject).text().indexOf(ui.text) == -1) {
                                $(CollapseObject).append("<span>" + ui.text + "</span>");
                            }
                        }
                        else {
                            if (ui.checked == undefined) {
                                $(CollapseObject).html('');
                            }
                            else if (!ui.checked) {
                                var text = $(CollapseObject).html();
                                text = text.replace("<span>" + ui.text + "</span>", '');
                                $(CollapseObject).html(text);
                            }
                            else
                                $(CollapseObject).html('');
                        }
                        if (UDFUniqueID == "UDF1") {
                            UserUDF1NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }
                        else if (UDFUniqueID == "UDF2") {
                            UserUDF2NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }
                        else if (UDFUniqueID == "UDF3") {
                            UserUDF3NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }
                        else if (UDFUniqueID == "UDF4") {
                            UserUDF4NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }
                        else {
                            UserUDF5NarrowValues = $.map($(this).multiselect("getChecked"), function (input) {
                                return input.value;
                            })
                        }

                        if ($(CollapseObject).text().trim() != '')
                            $(CollapseObject).show();
                        else
                            $(CollapseObject).hide();


                        if ($(CollapseObject).find('span').length <= 2) {
                            $(CollapseObject).scrollTop(0).height(50);
                        }
                        else {
                            $(CollapseObject).scrollTop(0).height(100);
                        }
                        clearGlobalIfNotInFocus();

                        DoNarrowSearchSC();
                    }).multiselectfilter();
                },
                error: function (response) {

                    // through errror message
                }
            });
        });
    }
    function ExpandNarrowSearchSC() {
        var w = $('#divSupplierCatalogItems,#Ctab .IteamBlock').css("width");
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').show();
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').stop().animate({
            width: "18%"
        }, 0, function () {
            $('#divSupplierCatalogItems,#Ctab .userContent').css({ "width": "80.5%", "margin": "0" });
            $('#CatalogItemDataTable_length').css({ "left": "0px" });
            $('#CatalogItemDataTable_paginate').css({ "left": "145px" });
            $('#divSupplierCatalogItems,#Ctab .leftopenContent').css({ "display": "none" });
            setCookieIM('NarrowSearchStateSC', 'Collapsed');
        });
    }

    function CollapseNarrowSearchSC() {
        $('#divSupplierCatalogItems,#Ctab .IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('#divSupplierCatalogItems,#Ctab .IteamBlock').hide();
            $('#divSupplierCatalogItems,#Ctab .userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#CatalogItemDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#CatalogItemDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('#divSupplierCatalogItems,#Ctab .leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchStateSC', 'Expanded');
        });
    }

    function getCookieIM(name) {
        var arg = name + "=";
        var alen = arg.length;
        var clen = document.cookie.length;
        var i = 0;
        while (i < clen) {
            var j = i + alen;
            if (document.cookie.substring(i, j) == arg) {
                return getCookieValIM(j);
            }
            i = document.cookie.indexOf(" ", i) + 1;
            if (i == 0) break;
        }
        return null;
    }

    function getCookieValIM(offset) {
        var endstr = document.cookie.indexOf(";", offset);
        if (endstr == -1) { endstr = document.cookie.length; }
        return unescape(document.cookie.substring(offset, endstr));
    }

    function setCookieIM(name, value, days) {
        if (typeof days != "undefined") { //if set persistent cookie
            var expireDate = new Date();
            expireDate.setDate(expireDate.getDate() + days);
            document.cookie = name + "=" + value + "; path=/; expires=" + expireDate.toGMTString() + " ;SameSite=Strict;";
        }
        else //else if this is a session only cookie
            document.cookie = name + "=" + value + "; path=/ ;SameSite=Strict;";
    }

    /* COMMON FUNCTION TO NARROW SEARCH HIDE/SHOW ALONG WITH STATE SAVED : Dec 24, 2012 : IJ */

    /* CLEAR NARROW SEARCH - START */
    function clearNarrowSearchFilterIM() {

      
        if (typeof ($("#ReceivePO").multiselect("getChecked").length) != undefined && $("#ReceivePO").multiselect("getChecked").length > 0) {
            $("#ReceivePO").multiselect("uncheckAll");
            $("#ReceivePOCollapse").html('');
        }

        if (typeof ($("#ReceiveCreatedBy").multiselect("getChecked").length) != undefined && $("#ReceiveCreatedBy").multiselect("getChecked").length > 0) {
            $("#ReceiveCreatedBy").multiselect("uncheckAll");
            $("#ReceiveCreatedByCollapse").html('');
        }
        if (typeof ($("#ReceiveUpdatedBy").multiselect("getChecked").length) != undefined && $("#ReceiveUpdatedBy").multiselect("getChecked").length > 0) {
            $("#ReceiveUpdatedBy").multiselect("uncheckAll");
            $("#ReceiveUpdatedByCollapse").html('');
        }

        if (typeof ($("#POReceiveaDate").multiselect("getChecked").length) != undefined && $("#POReceiveaDate").multiselect("getChecked").length > 0) {
            $("#POReceiveaDate").multiselect("uncheckAll");
            $("#POReceiveaDateCollapse").html('');
        }

        if ($('#ReceiveDateCFrom').val() != '') $('#ReceiveDateCFrom').val('');
        if ($('#ReceiveDateCTo').val() != '') $('#ReceiveDateCTo').val('');
        if ($('#ReceiveDateUFrom').val() != '') $('#ReceiveDateUFrom').val('');
        if ($('#ReceiveDateUTo').val() != '') $('#ReceiveDateUTo').val('');

    }
    /* CLEAR NARROW SEARCH - END */

    /* CLEAR GLOBAL FILTER IF NOT IN FOCUS - START */
    function clearGlobalIMIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'FilterSupplierCatalogItems')
            $("#FilterSupplierCatalogItems").val('');
    }
    /* CLEAR GLOBAL FILTER IF NOT IN FOCUS - END */
    function DoNarrowSearchSC() {

        var narrowSearchFields = '';
        var narrowSearchValues = '';
        var narrowSearchItem = '';


        if (ReceiveSupplierNarroValues != undefined && ReceiveSupplierNarroValues.length > 0) {
            narrowSearchFields += "Supplier" + ",";
            narrowSearchValues += ReceiveSupplierNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "Supplier" + ",";
            narrowSearchValues += '@("@")';
        }


        if (ReceivePONarroValues != undefined && ReceivePONarroValues.length > 0) {
            narrowSearchFields += "OrderNumber" + ",";
            narrowSearchValues += ReceivePONarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "OrderNumber" + ",";
            narrowSearchValues += '@("@")';
        }

        if (ReceiveCreatedByNarroValues != undefined && ReceiveCreatedByNarroValues.length > 0) {
            narrowSearchFields += "CreatedBy" + ",";
            narrowSearchValues += ReceiveCreatedByNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "CreatedBy" + ",";
            narrowSearchValues += '@("@")';
        }

        if (ReceiveUpdatedByNarroValues != undefined && ReceiveUpdatedByNarroValues.length > 0) {
            narrowSearchFields += "UpdatedBy" + ",";
            narrowSearchValues += ReceiveUpdatedByNarroValues + '@("@")';
        }
        else {
            narrowSearchFields += "UpdatedBy" + ",";
            narrowSearchValues += '@("@")';
        }

        ///////////////////////////////////////////////////////////////////////////////////////////////
        if ($('#ReceiveDateCFrom').val() != '' && $('#ReceiveDateCTo').val() != '') {

            narrowSearchFields += "DateCreatedFrom" + ",";
            narrowSearchValues += ($('#ReceiveDateCFrom').val()) + "," + ($('#ReceiveDateCTo').val()) + '@("@")';
        }
        else {
            narrowSearchFields += "DateCreatedFrom" + ",";
            narrowSearchValues += '@("@")';
        }
        ////////////////////////////////////////////////////////////////////////////////////////////////
        if ($('#ReceiveDateUFrom').val() != '' && $('#ReceiveDateUTo').val() != '') {

            narrowSearchFields += "DateUpdatedFrom" + ",";
            narrowSearchValues += ($('#ReceiveDateUFrom').val()) + "," + ($('#ReceiveDateUTo').val()) + '@("@")';
        }
        else {
            narrowSearchFields += "DateUpdatedFrom" + ",";
            narrowSearchValues += '@("@")';
        }
        // POReceive Date
        if (POReceiveaDateValues != undefined && POReceiveaDateValues.length > 0) {
            narrowSearchFields += "POReceiveDate" + ",";
            narrowSearchValues += POReceiveaDateValues + '@("@")';
        }
        else {
            narrowSearchFields += "POReceiveDate" + ",";
            narrowSearchValues += '@("@")';
        }
        // POReceive Date
        if (UserUDF1NarrowValues != undefined && UserUDF1NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF1#" + UserUDF1NarrowValues;
            narrowSearchFields += "UDF1" + ",";
            narrowSearchValues += UserUDF1NarrowValues + '@("@")';
        }
        else {
            narrowSearchFields += "UDF1" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////////
        if (UserUDF2NarrowValues != undefined && UserUDF2NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF2#" + UserUDF2NarrowValues;
            narrowSearchFields += "UDF2" + ",";
            narrowSearchValues += UserUDF2NarrowValues + '@("@")';
        }
        else {
            narrowSearchFields += "UDF2" + ",";
            narrowSearchValues += '@("@")';
        }
        ///////////////////////////////////////////////////////////////////////////////////////////////
        if (UserUDF3NarrowValues != undefined && UserUDF3NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF3#" + UserUDF3NarrowValues;
            narrowSearchFields += "UDF3" + ",";
            narrowSearchValues += UserUDF3NarrowValues+ '@("@")';
        }
        else {
            narrowSearchFields += "UDF3" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////
        if (UserUDF4NarrowValues != undefined && UserUDF4NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF4#" + UserUDF4NarrowValues;
            narrowSearchFields += "UDF4" + ",";
            narrowSearchValues += UserUDF4NarrowValues + '@("@")';
        }
        else {
            narrowSearchFields += "UDF4" + ",";
            narrowSearchValues += '@("@")';
        }
        /////////////////////////////////////////////////////////////////////////////////////////////
        if (UserUDF5NarrowValues != undefined && UserUDF5NarrowValues.length > 0) {
            //narrowSearchItem += "[###]UDF5#" + UserUDF5NarrowValues;
            narrowSearchFields += "UDF5" + ",";
            narrowSearchValues += UserUDF5NarrowValues+ '@("@")';
        }
        else {
            narrowSearchFields += "UDF5" + ",";
            narrowSearchValues += '@("@")';
        }

        //narrowSearch = 'STARTWITH#' + narrowSearchItem;
      //  if (narrowSearchValues.replace(/@("@")/g, '') == '')
        //    NarrowSearchInGridSC('');
        //  else {
        var searchtext = $("#global_filter").val().replace(/'/g, "''");
        narrowSearch = narrowSearchFields + "[###]" + narrowSearchValues+"[###]"+searchtext;

        if (narrowSearch.length > 10)
            NarrowSearchInGridSC(narrowSearch);
        else if (UserCreatedNarroValues == undefined || UserCreatedNarroValues.length == 0 ||
         UserUpdatedNarroValues == undefined || UserUpdatedNarroValues.length == 0)
            NarrowSearchInGridSC(narrowSearch);
    }
    
    function NarrowSearchInGridSC(searchstr) {

        $('#myDataTable').dataTable().fnFilter(searchstr, null, null, null)
    }
</script>
