@model ToolMasterDTO
@{
    string strDecimalFormat = eTurnsWeb.Helper.SessionHelper.QuantityFormat;
    bool isAllowConsigned = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowedToChangeConsignedQuantityItems, eTurnsWeb.Helper.SessionHelper.PermissionType.Approval);
    bool HasOnTheFlyEntryRight = eTurnsWeb.Helper.SessionHelper.GetAdminPermission(eTurnsWeb.Helper.SessionHelper.ModuleList.OnTheFlyEntry);
    bool isUpdate = false;
    bool isInsert = false;
    bool isCost = eTurnsWeb.Helper.SessionHelper.GetAdminPermission(eTurnsWeb.Helper.SessionHelper.ModuleList.HideCostMarkUpSellPrice);

    isUpdate = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Receive, eTurnsWeb.Helper.SessionHelper.PermissionType.Update);
    isInsert = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Receive, eTurnsWeb.Helper.SessionHelper.PermissionType.Insert);
    eTurns.DAL.RegionSettingDAL objRegionSettingDAL = new eTurns.DAL.RegionSettingDAL(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName);
    string IsSerial = Model.SerialNumberTracking?"Yes":"No";
}
<div class="innerGrid" id="InnerGrid_@Model.ID" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px;float:left">
    <table id="NewReceiveEntry@(Model.ID)" class="display">
        <thead>
            <tr>
                <th>
                    @ResOrder.Receive
                </th>
                <th>
                    @eTurns.DTO.ResToolAssetOrder.ToolAssetOrderNumber
                </th>
                
                <th>
                    Quantity To Receive
                </th>
                
                <th>
                    @eTurns.DTO.ResLocation.Location

                </th>
               
                    <th>
                        @eTurns.DTO.ResToolMaster.Cost
                    </th>
                
                <th>
                    @eTurns.DTO.ResReceiveToolAssetOrderDetails.ReceivedDate
                </th>
                <th>
                    @eTurns.DTO.ResReceiveToolAssetOrderDetails.Description
                </th>
                @Html.RenderColumnsHeader("ReceivedOrderTransferDetail", typeof(eTurns.DTO.ResReceiveToolAssetOrderDetails), "")
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @if (isInsert)
                    {
                        <input type="button" id="btnReceive_@Model.ID" onclick="javascript:return NewNotSRReceiveWithoutOrder('@Model.ID',this)" class="GridBtnStyle inLineBtn" value="Receive" />
                    }
                    <input type="hidden" id="hdnIsSerial_@Model.ID" value="@IsSerial" />
                     <input type="hidden" id="hdnToolGuid_@Model.ID" value="@Model.GUID" />
                    <input type="hidden" id="hdnToolType_@Model.ID" value="@Model.Type" />
                    <input type="hidden" id="hdnOrderGUID_@Model.ID" value="" />
                    <input type="hidden" id="hdnOrderID_@Model.ID" value="" />
                    <input type="hidden" id="hdnCostBox_@Model.ID" value="@Model.Cost.GetValueOrDefault(0)" />
                </td>
                <td>
                    @Html.TextBox("txtordernumber_" + Model.ID, "", new { @class = "text-boxinner", @style = "width:93% ;", maxlength = 22 })
                    <input type="hidden" id="hdnordernumberforsort_@Model.ID" value="" />
                </td>
               
                <td>
                    @Html.TextBox("txtReceiveQuantity_" + Model.ID, 0, new { @class = "text-boxinner numericinput",@style="width:93%;" })
                </td>
               
                <td>
                    @if (HasOnTheFlyEntryRight)
                    {
                        <span style='position:relative'>
                            @Html.TextBoxFor(modelItem => modelItem.Location, new { @id = "txtLocation_" + Model.ID, @class = "text-boxinner DirectReciveAuto", @style = "width:93%;" })
                            <a id='lnkShowAllOptions' href='javascript:void(0);' style='position:absolute; right:5px; top:0px;' class="ShowAllOptions">
                                <img src='/Content/images/arrow_down_black.png' alt='select' />
                            </a>
                        </span>
                    }
                    else
                    {
                        List<LocationMasterDTO> lstBinMaster = new List<LocationMasterDTO>();
                        lstBinMaster.Add(new LocationMasterDTO() { Location = Model.Location });
                        @Html.DropDownList("slctBinNumber", new SelectList(lstBinMaster, "Location", "Location", Model.Location), new { @id = "slctReceiveLocation_" + Model.ID, @class = "selectBox", @style = "width:93%;" })
                        <input type="text" name="txtLocation_@(Model.ID)" id="txtLocation_@(Model.ID)" value="@Model.Location" style="display:none;" />
                    }
                </td>
                @if (isCost)
                {
                    <td>
                      
                            @Html.TextBoxFor(modelItem => Model.Cost, eTurnsWeb.Helper.SessionHelper.PriceFormat, new { @class = "text-boxinner numericinput", @style = "width:93%;", @id = "txtCostBox_" + Model.ID + "", @maxlength = "15" })
                         
                    </td>
                }
                <td>
                    @*@Html.TextBox("txtReceived_" + Model.ID, eTurns.DAL.DateTimeUtility.DateTimeNow.ToString("MM/dd/yyyy"), new { name = "Received", @class = "text-boxinner", @style = "width:85px" })*@
                    @Html.TextBox("txtReceived_" + Model.ID, objRegionSettingDAL.GetCurrentDatetimebyTimeZone(eTurnsWeb.Helper.SessionHelper.RoomID, eTurnsWeb.Helper.SessionHelper.CompanyID, eTurnsWeb.Helper.SessionHelper.UserID, eTurnsWeb.Helper.SessionHelper.RoomCulture, eTurnsWeb.Helper.SessionHelper.RoomDateFormat, eTurnsWeb.Helper.SessionHelper.RoomCulture).ToString(eTurnsWeb.Helper.SessionHelper.RoomDateFormat, eTurnsWeb.Helper.SessionHelper.RoomCulture), new { name = "Received", @class = "text-boxinner", @style = "width:85px" })
                </td>
                <td>
                        
                    
                    @Html.TextBox("txtDescription_" + Model.ID, "", new { @class = "text-boxinner", @style = "width:150px;", maxlength = "1024" })
                </td>
                @Html.RenderColumnsArrayEditableObjectForDOM("ReceivedOrderTransferDetail", false, "_" + Model.ID)
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var IsLoadMoreLocations = false;
    $(document).ready(function () {

        UDFfillEditableOptionsForGrid();

        $('.ShowAllOptions').click(function () {
            $(this).siblings('.DirectReciveAuto').trigger("focus");
            $(this).siblings(".DirectReciveAuto").autocomplete("search", " ");
        });

        $(".text-boxPriceFormat").priceFormat({
            prefix: '',
            thousandsSeparator: '',
            centsLimit: parseInt($('#hdCostcentsLimit').val(), 10)
        });
        $(".text-boxQuantityFormat").priceFormat({
            prefix: '',
            thousandsSeparator: '',
            centsLimit: parseInt($('#hdQuantitycentsLimit').val(), 10)
        });
        $(".text-boxQuantityFormatSR").priceFormat({
            prefix: '',
            thousandsSeparator: '',
            centsLimit: 0
        });

        $("[name*=" + "Received" + "]").datepicker(
            {
                dateFormat: '@eTurnsWeb.Helper.SessionHelper.RoomDateJSFormat', showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                clearText: 'Clear', onClose: function () { this.focus(); }
            });

      

        GetToolAssetOrderNumber("@Model.ID", false);
        $('#NewReceiveEntry' + '@Model.ID').on({
            mouseover: function () {
                var itmGuid = '@Model.GUID';
                var orderGuid = '@Guid.Empty';
                getItemInventoryStagingLocation($(this), "", itmGuid, orderGuid);
            },
            focus: function () {
                var itmGuid = '@Model.GUID';
                var orderGuid = '@Guid.Empty';
                getItemInventoryStagingLocation($(this), "", itmGuid, orderGuid);
            },
            change: function () {
                $(this).parent().find("input[id='txtLocation_@Model.ID']").val($(this).val());
            }
        }, "#slctReceiveBinNumber_" + '@Model.ID');

        $('#NewReceiveEntry' + '@Model.ID').on('focus', "input.DirectReciveAuto", function (e) {

            var ajaxURL = '/ReceiveToolAsset/GetToolLocations';
            var tr = $(this).parent().parent();
            var toolGuid = '@Model.GUID';
            var orderGuid = '@Guid.Empty';

            $(this).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: ajaxURL,
                        type: 'POST',
                        data: JSON.stringify({ 'ToolAssetOrderGuid': orderGuid, 'ToolGuid': toolGuid, 'NameStartWith': request.term, 'IsLoadMoreLocations': IsLoadMoreLocations }),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (data) {
                            response($.map(data, function (Items) {
                                return {
                                    label: Items.Value,
                                    value: Items.Key
                                }
                            }));

                        },
                        error: function (err) {
                            $('#DivLoading').hide();
                        }
                    });
                },
                autoFocus: false,
                minLength: 1,
                select: function (event, ui) {
                    if (ui.item.value == MoreLocation) {
                        IsLoadMoreLocations = true;
                        $(this).trigger("focus");
                        $(this).autocomplete("search", " ");
                        return false;
                    }
                    else {
                        $(this).val(ui.item.value);
                    }
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                    $('ul.ui-autocomplete').css('overflow-y', 'auto');
                    $('ul.ui-autocomplete').css('max-height', '300px');
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                },
                change: function (event, ui) {
                }
            });
        });
    });




</script>
