@model ItemMasterDTO
<tr id="@ViewBag.ID">
    <td>
        @Html.TextBox("txtSRNumber_" + Model.ID, "", new { @class = "text-boxinner", @onblur = "return isDuplicateSR(this,'" + Model.ID.ToString() + "')", @style = "width:80px;" })
    </td>
    @if (Model.DateCodeTracking)
    {
        <td>
            @Html.TextBox("txtSRExpiration_" + Model.ID, "", new { @class = "text-boxinner myDatePicker", @style = "width:85px" })
        </td>
    }
    <td>
        @Html.DropDownListFor(modelItem => Model.DefaultLocation, new SelectList((IEnumerable<eTurns.DTO.BinMasterDTO>)ViewBag.BinLocations, "ID", "BinNumber", Model.DefaultLocation), new { @id = "ddlSRBin_" + Model.ID, @class = "selectBox" })
    </td>
    <td>
        @Html.TextBoxFor(modelItem => Model.Cost, eTurnsWeb.Helper.SessionHelper.PriceFormat, new { @class = "text-boxinner text-boxPriceFormat", @id = "txtSRCostBox_" + Model.ID })
    </td>
    <td>
        @Html.TextBox("txtSRReceived_" + Model.ID, DateTime.Now.ToString("MM/dd/yyyy"), new { @class = "text-boxinner myDatePicker", @style = "width:85px" })
    </td>
    <td>
        @Html.TextBox("txtDescription_" + Model.ID, "", new { @class = "text-boxinner", @style = "width:150px;", maxlength = "1024" })
        
    </td>
    <td>
        <input type="button" id="btnSRReceive_@Model.ID" onclick="javascript:return NewSRReceiveWithoutOrder('@Model.ID',this)" class="GridBtnStyle inLineBtn" value="Receive" />
        @*<input style="display:none" type="button" id="btnAddNewSR_@Model.ID" class="GridBtnStyle inLineBtn"  value="Add New" onclick="javascript:return fnAddNewSerial('@Model.ID')" />*@
        <input type="hidden" id="hdnSRIsConsign_@Model.ID" value="@Model.Consignment.ToString()" />
        <input type="hidden" id="hdnSRIsSerial_@Model.ID" value="@Model.SerialNumberTracking.ToString()" />
        <input type="hidden" id="hdnSRIsLot_@Model.ID" value="@Model.LotNumberTracking.ToString()" />
        <input type="hidden" id="hdnSRIsDateCode_@Model.ID" value="@Model.DateCodeTracking.ToString()" />
        <input type="hidden" id="hdnSRItemGuid_@Model.ID" value="@Model.GUID" />
        <input type="hidden" id="hdnSRItemType_@Model.ID" value="@Model.ItemType" />
    </td>
</tr>
<script type="text/javascript">
    $(document).ready(function () {
        $('.myDatePicker').live("focusin", function () {
            $(this).datepicker(
                {
                    dateFormat: 'mm/dd/yy',
                    showButtonPanel: true,
                    clearText: 'Clear',
                    onClose: function () {
                        this.focus();
                    }
                });
        });

    });

     
</script>
