@model eTurnsWeb.Models.RoomRulesModel

@{
    ViewBag.Title = ResLayout.RoomValidationRules;
}


    <div class="userListingWrapper">
        <h2>@ResLayout.RoomValidationRules</h2>
        <div class="userHead">
            <table style="width:100%;margin-left:29.5%">
                <tr>
                    <td style="width: 15%;">
                        <h3 style="color: #1971bd;font-size: 14px;padding: 4px 0 0 4%;">@ResCommon.ModuleBreadCrumb</h3>
                    </td>
                    <td style="width: auto;">
                        <h4 id="breadcrumb" style="color: #1971bd;font-size: 14px;padding: 4px 0 0 4%;clear:both"></h4>
                    </td>
                </tr>
            </table>
            <div class="editorForm" style="float: none; padding-left: 30%;">
                <span>@ResCommon.Modules:</span>

                @Html.DropDownListFor(model => model.ID, Model.ModuleList, string.Empty, new { @class = "selectBox", @ID = "ddlModules" })
            </div>
            <br />
            <div id="columns" class="listing">

                <div style="clear: both; ">
                    @*<div style="padding-left: 30%;float:left;width:100%;padding-top:10px;">
                        <span style="float:left;">Columns list:</span>
                        <ul id="ColumnSortable" class="ui-sortable" style="width: auto; float: left;"></ul>
                        <br />
                    </div>*@
                    <input type="button" id="btnSave" class="CreateBtn" value="@ResCommon.SaveSetting" style="clear: both; margin-left: 35%;float:left;" />
                </div>
            </div>
            <div>
                <div class="userListingWrapper">
                    <input type="hidden" id="hdnListName" value="WorkOrderDetails">
                    <div class="userListBlock">
                        @*height: 800px;*@
                        <div class="tabContener" style="width: 99.5%; ">

                            <div class="userContentInnerGrid" style="width: 70% !important; margin-left: 5px !important;
                float: left;">
                                <div class="dataTables_wrapper" role="grid">
                                    <div class="top">

                                        <div class="dataTables_scroll" style="opacity: 1;">
                                            @*dataTables_scrollBody*@
                                            <div class="" style="overflow: auto; width: 100%;">
                                                <table id="tblRules" class="display dataTable" style="margin-left: 0px;">
                                                    <thead>
                                                        <tr>
                                                            <th class="" style="cursor:default"
                                                                rowspan="1" colspan="1"
                                                                width="10%">@eTurns.DTO.Resources.ResCommon.RowNo</th>
                                                            @*<th class="" style="cursor:default"
                                                                rowspan="1" colspan="1"
                                                                width="7%">Delete</th>*@
                                                            <th class="" style="cursor:default"
                                                                rowspan="1" colspan="1"
                                                                width="40%">@ResCommon.Field</th>
                                                            <th class="" style="cursor:default"
                                                                rowspan="1" colspan="1">
                                                                <input type="checkbox" id="chkReqAll" class="check-box" title="@ResCommon.CheckALL" />&nbsp;
                                                                @ResUDFSetup.IsRequired
                                                            &nbsp;
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbodyRule">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

        @Scripts.Render("~/Scripts/PageScripts/ValidationRules/RoomRules.js")

<script>
            var MsgRoomRulesNotificationPartial = '@ResRoomMaster.MsgRoomRulesNotificationPartial';
            var MsgSaveRecordsRulesNotification = '@ResRoomMaster.MsgSaveRecordsRulesNotification';
            var MsgRequiredColumnDeleteValidation = '@ResRoomMaster.MsgRequiredColumnDeleteValidation'
            var MsgDeleteRecordConfirmation = '@ResCommon.MsgDeleteRecordConfirmation';
            _roomRules.init();
</script>
