@model eTurnsWeb.Models.ValidationRulesMasterModel
@{
    ViewBag.Title = ResLayout.ValidationRulesMaster;
}


<div class="userListingWrapper">
    <h2>@ResLayout.ValidationRulesMaster</h2>
    <div class="userHead">
        @using (Html.BeginForm())
        {
            <div id="ExpandedContent" style="">
                <ul>
                    <li style="border: none">
                        <div class="editorForm">
                            <ul>
                                <li>
                                    <div class="editor-label">
                                        <label for="DTOName">@ResModuleMaster.ModuleName</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(m => m.ValidationRulesMaster.DTOName, Model.DTOList, "None", new { @class = "selectBox", onchange = "_vRule.getPropertyByDTOName()" })
                                    </div>
                                </li>
                                <li>
                                    <div class="editor-label">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="editor-field">
                                        <span id="spnCount">@ResLayout.ZeroProperties</span>
                                        @*&nbsp;&nbsp;<span id="spnModule">Module</span>&nbsp;*@
                                    </div>
                                </li>
                                <li>
                                    <div class="editor-label">
                                        <label for="DTOPropertyDisplayName">@ResLayout.ResourceFileName</label>
                                    </div>
                                    <div class="editor-field">
                                        @*@Html.TextBoxFor(m => m.ValidationRulesMaster.ResourceFileName, new { @class = "text-box" })*@
                                        @Html.DropDownListFor(m => m.ValidationRulesMaster.ResourceFileName, Model.ResourceFiles, "None", new { @class = "selectBox" })
                                    </div>
                                </li>
                                <li>
                                    <div class="editor-label">
                                        <label for="DTOProperty">@ResLayout.Property</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(m => m.ValidationRulesMaster.DTOProperty, new { @class = "text-box" })
                                        @Html.ValidationMessageFor(m => m.ValidationRulesMaster.DTOProperty)
                                    </div>
                                </li>
                                <li>
                                    <div class="editor-label">
                                        <label for="RuleType">
                                            @ResLayout.IsRequired
                                        </label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.CheckBoxFor(m => m.ValidationRulesMaster.IsRequired, new { @class = "check-box" })
                                    </div>
                                </li>
                                @*<li>
            <div class="editor-label">
                <label for="RuleType">RuleType</label>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.ValidationRulesMaster.RuleType, Model.RuleTypeList, new { @class = "selectBox" })
            </div>
        </li>*@
                                <li>
                                    <div class="editor-label">
                                        <label for="DisplayOrder">@ResLayout.DisplayOrder</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(m => m.ValidationRulesMaster.DisplayOrder, new { @class = "text-box" })
                                        @*<input class="text-box" id="DisplayOrder" maxlength="255" name="DisplayOrder" type="text">*@
                                    </div>
                                </li>
                                <li>
                                    <div class="editor-label">
                                        &nbsp;
                                    </div>
                                    <div class="editor-field">
                                        <div class="BtnBlockform" style="width:50%">
                                            <input type="button" onclick="return _vRule.refreshRoomRules()" value="@ResLayout.RefreshRoomRules" id="btnRefreshRoomRules" class="CreateBtn">
                                            <input type="button" onclick="return _vRule.cancel()" value="@ResCommon.Cancel" id="btnCancel" class="CreateBtn">
                                            <input type="submit" onclick="return _vRule.addUpdate()" value="@ResCommon.BtnAddNew" id="btnSave" class="CreateBtn">

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="editorForm padRightNone">
                        </div>
                    </li>
                </ul>
            </div>
        }
            <div >
                <div class="userListingWrapper">
                    <input type="hidden" id="hdnListName" value="WorkOrderDetails">
                    <div class="userListBlock">
                        <div id="tab7" class="tabContener" style="width: 99.5%; ">

                            <div class="userContentInnerGrid" style="width: 99% !important; margin-left: 5px !important;
                float: left; z-index:2;">
                                <div id="WOItemsTable5c4e6859-7a62-499e-b0e1-ed5035eead41_wrapper" class="dataTables_wrapper" role="grid">
                                    <div class="top">

                                        <div class="dataTables_scroll" style="opacity: 1;">
                                            <div class="" style=" width: 100%;">
                                                <table id="tblRules" class="display dataTable" style="margin-left: 0px;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResCommon.RowNo</th>
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResCommon.Delete</th>
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResCommon.ID</th>
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResLayout.DTOName</th>
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResLayout.DTOProperty</th>
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResLayout.IsRequired</th>
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResLayout.ResourceFileName</th>
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResLayout.DisplayOrder</th>
                                                            <th class=""
                                                                rowspan="1" colspan="1">@ResCommon.Created</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbodyRule">
                                                        @*<tr class="odd">
                                                            <td class="read_only center">#</td>
                                                            <td class="read_only center">1</td>
                                                            <td class="read_only center">2</td>
                                                            <td class="read_only center">
                                                                <a>
                                                                    3
                                                                </a>
                                                            </td>
                                                            <td class="read_only center">4</td>
                                                            <td class="read_only center">5</td>
                                                            <td class="read_only center">6</td>
                                                            <td class="read_only center">7</td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="read_only center">#</td>
                                                            <td class="read_only center">1</td>
                                                            <td class="read_only center">2</td>
                                                            <td class="read_only center">3</td>
                                                            <td class="read_only center">4</td>
                                                            <td class="read_only center">5</td>
                                                            <td class="read_only center">6</td>
                                                            <td class="read_only center">7</td>
                                                        </tr>*@
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
       
    </div>
</div>
<script type="text/javascript">
    var _vRule = (function ($) {
        var self = {};

        self.addEditId = 0;

        self.getPropertyByDTOName = function () {
            //var dtoName = $("#ValidationRulesMaster_DTOName option:selected").text();
            var moduleId = $("#ValidationRulesMaster_DTOName option:selected").val();

            $("#spnCount").html("@ResLayout.ZeroProperties");
            $("#spnModule").html("@ResCommon.Module");
            $("#tbodyRule").html("");
            $('#DivLoading').show();

            _AjaxUtil.getJson('/ValidationRulesMaster/GetPropertyByModuleId', { moduleId: moduleId }
                , function (res) {
                    $('#DivLoading').hide();
                    if (res.length > 0) {

                        var rows = "";
                        $("#spnCount").html(" (" + res.length + " " + "@ResLayout.Property" + ")");
                        $("#spnModule").html(res[0].ModulePage);

                        $.each(res, function (index, obj) {
                            var cls = "odd";
                            if ((index + 1) % 2 == 0) {
                                cls = "even";
                            }

                            rows += "<tr class='" + cls + "'>";
                            rows += "   <td class='read_only center'>" + (index + 1) + "</td>";
                            rows += "   <td class='read_only center'>" + "<a id='delRule' onclick='_vRule.delete(" + obj.ID + ")' title='" + "@ResCommon.Delete" + "' href='javascript: void (null);' id='deleteRows'><img src='/content/images/Delete.png' alt='" + "@ResCommon.Delete" +"'></a>" + "</td>";
                            rows += "   <td class='read_only center'>" + obj.ID + "</td>";
                            rows += "   <td class='read_only center'>" + obj.DTOName + "</td>";
                            rows += "   <td class='read_only center'><a href='#'  data-IsRequired='" + obj.IsRequired + "' style='color:blue' onclick='_vRule.edit(" + obj.ID + ")'>" + obj.DTOProperty + "</a></td>";
                            rows += "   <td class='read_only center'>" + obj.IsRequired + "</td>";
                            rows += "   <td class='read_only center'>" + obj.ResourceFileName + "</td>";
                            rows += "   <td class='read_only center'>" + obj.DisplayOrder + "</td>";
                            rows += "   <td class='read_only center'>" + obj.CreatedDisp + "</td>";
                            rows += "</tr>";
                        })

                        $("#tbodyRule").html(rows);
                    }
                }
                , function (error) {
                    $('#DivLoading').hide();

                }, true, false);
        }

        self.edit = function (id) {

            $('#DivLoading').show();

            _AjaxUtil.getJson('/ValidationRulesMaster/GetRulesMasterByID', { id: id }
                , function (res) {
                    $('#DivLoading').hide();
                    var data = res.data;

                    $("#ValidationRulesMaster_DTOName option:selected").removeAttr('selected');

                    $("#ValidationRulesMaster_DTOName option:contains(" + data.DTOName + ")").attr('selected', 'selected');

                    //$("#ValidationRulesMaster_DTOName").val();

                    $("#ValidationRulesMaster_DTOProperty").val(data.DTOProperty);
                    //$("#ValidationRulesMaster_IsRequired").val(data.IsRequired);
                    if (data.IsRequired) {
                        $("#ValidationRulesMaster_IsRequired").prop('checked', true);
                    }
                    else {
                        $("#ValidationRulesMaster_IsRequired").prop('checked', false);
                    }

                    $("#ValidationRulesMaster_ResourceFileName").val(data.ResourceFileName);
                    $("#ValidationRulesMaster_DisplayOrder").val(data.DisplayOrder);
                    self.addEditId = data.ID;

                    $("#btnSave").val("Update");
                }
                , function (error) {
                    $('#DivLoading').hide();

                }, true, false);

        }

        self.addUpdate = function () {

            $('#DivLoading').show();
            var obj = {
                ID: self.addEditId,
                DTOName: $("#ValidationRulesMaster_DTOName option:selected").text() ,
                DTOProperty: $("#ValidationRulesMaster_DTOProperty").val() ,
                IsRequired: $("#ValidationRulesMaster_IsRequired").prop('checked'),
                ResourceFileName: $("#ValidationRulesMaster_ResourceFileName").val(),
                DisplayOrder: $("#ValidationRulesMaster_DisplayOrder").val(),
                ValidationModuleID: $("#ValidationRulesMaster_DTOName  option:selected").val()
            }

            _AjaxUtil.postJson('/ValidationRulesMaster/AddUpdate'
                , obj
                , function (res) {
                    $('#DivLoading').hide();
                    if (res.data != 'success') {
                        _notification.showError(res.data);
                    }
                    else {
                        self.getPropertyByDTOName(); // bind grid
                        self.cancel(); // refresh
                    }
                }
                , function (error) {
                    $('#DivLoading').hide();

                }, true, false);

            return false;
        }

        self.delete = function (id) {
            if (confirm("@ResCommon.MsgDeleteRecordConfirmation")) { //

                showHideLoader(true);

                _AjaxUtil.postJson('/ValidationRulesMaster/DeleteRule',
                    { id: id },
                    function (res) {
                        showHideLoader(false);
                        _notification.showSuccess(res.status);
                        self.getPropertyByDTOName(); // refresh grid
                    },
                    function (error) {
                        showHideLoader(false);
                    }
                )
            }
        }

        self.cancel = function () {
            // cancel or refresh
            self.addEditId = 0;
            //$("#ValidationRulesMaster_DTOName").val('None');
            $("#ValidationRulesMaster_DTOProperty").val("");
            $("#ValidationRulesMaster_IsRequired").prop('checked', false);
            //$("#ValidationRulesMaster_ResourceFileName").val("");
            $("#ValidationRulesMaster_DisplayOrder").val("");
            $("#btnSave").html("@ResCommon.AddNew");
            return false;
        }

        self.refreshRoomRules = function () {

            var moduleId = $("#ValidationRulesMaster_DTOName option:selected").val();

            if (typeof moduleId === 'undefined' || moduleId == null || moduleId == "" || moduleId == "0") {
                _notification.showWarning("@ResImportMasters.SelectModule");
                return false;
            }

            if (confirm("@ResLayout.RefreshRoomRulesConfirmationMsg")) {

                showHideLoader(true);

                _AjaxUtil.postJson('/ValidationRulesMaster/RefreshRoomRules',
                    { moduleId: moduleId },
                    function (res) {
                        showHideLoader(false);
                        _notification.showSuccess(res.status);
                    },
                    function (error) {
                        showHideLoader(false);
                    }
                )
            }
        }

        // -------- Private functions
        showHideLoader = function (isShow) {
            if (isShow) {
                $('#DivLoading').show();
            }
            else {
                $('#DivLoading').hide();
            }
        }

        return self;

    })(jQuery);
</script>