@{
    ViewBag.Title = "DropDownListEdit";    
}

<h2>DropDownListEdit</h2>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/select2.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/select2.js?v=" + eTurnsWeb.Helper.CommonUtility.GetReleaseNumber())"></script>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo.core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo.combobox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo.ui.core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo.window.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo.webcomponents.js")"></script>*@


<div>

    <select id="tags" placeholder="Select size..." style="width: 100%;">
        @*<option>X-Small</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            <option>X-Large</option>
            <option>2X-Large</option>*@
    </select>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        @*$('#size').select2({
            ajax: {
                url: '@Url.Action("GetProducts", "Account")',
                type:'POST',
                dataType: 'json'
            }
        });*@

        @*$("#size").select2({
            minimumInputLength: 2,
            tags: [],
            ajax: {
                url: '@Url.Action("GetProducts", "Account")',
                dataType: 'json',
                type: "POST",
                quietMillis: 50,
                data: function (term) {
                    return {
                        term: term
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.Text,
                                slug: item.Text,
                                id: item.Value
                            }
                        })
                    };
                }
            }
        });*@

        $('#tags').select2({
            tags: true,
            tokenSeparators: [','],
            allowClear: true,
            minimumResultsForSearch: 3,
            placeholder: 'This is my placeholder',
            ajax: {
                url: '@Url.Action("GetProducts", "Account")',
                dataType: 'json',
                type: "POST",
                delay: 300,
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.Text,
                                //slug: item.Text,
                                id: item.Value
                            }
                        }),
                        pagination: {
                            more: true
                        }
                    }
                }
            },
            createTag: function (params) {
                var term = $.trim(params.term);
                if (term === '') {
                    return null;
                }
                return {
                    id: term,
                    text: term
                };
            },
        });
    });

</script>