@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <link href="~/Content/OpenAccess/Login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login-ie-style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login-ie8.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Login-ie9.css" rel="stylesheet" type="text/css" />
    @*<script src="../../Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/OpenAccess/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/css_browser_selector.js")" type="text/javascript"></script>
    <script type="text/javascript" src="js/PIE.js"></script>
    <script type="text/javascript" src="js/PIE_uncompressed.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="wrapper">
        <div id="container" class="clearfix">
            <!-- header starts -->
            <div id="header" class="clearfix">
                <!-- logo starts -->
                <h1 id="logo" class="alignLeft">
                    <a href="#" rel="home" title="eTurns">
                        <img src="@Url.Content("~/Content/images/logo-Login.jpg")" alt="eTurns" title="eTurns" /></a></h1>
                <!-- logo ends -->
            </div>
            <!-- header ends -->
            <!-- content starts -->
            <div id="contentWrap" class="clearfix">
                <!-- main content starts -->
                <div class="content">
                    <h1>
                        Inventory Management System</h1>
                    <div class="mainGreybg">
                        <div class="loginBg">
                            <div class="loginContent alignLeft">
                                <div class="login alignLeft">
                                    <h2 class="alignLeft">
                                        Login</h2>
                                    <div class="loginForm clear">
                                        <ul>
                                            <li>
                                                <div id="ErrorMSG" style="color: Red">
                                                </div>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="alignLeft"><span>
                                                <input type="image" class="icon" src="@Url.Content("~/Content/images/username-icon.png")" name="username" />
                                            </span></li>
                                            <li class="alignLeft">
                                                <input type="text" class="inputtext" value="Username" onfocus="if(this.value=='Username'){this.value=''};"
                                                    onblur="if(this.value==''){this.value='Username'};" id="txtUserName" />
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="alignLeft"><span>
                                                <input type="image" class="icon" src="@Url.Content("~/Content/images/password.png")" name="password" />
                                            </span></li>
                                            <li class="alignLeft">
                                                <input type="password" class="inputtext" value="Password" onfocus="if(this.value=='Password'){this.value=''};"
                                                    onblur="if(this.value==''){this.value='Password'};" id="txtPassword" />
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="mLeft30 alignLeft">
                                                <div class="remember">
                                                    <input type="checkbox" class="checkbox" />
                                                    Remember me</div>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="mLeft30 alignLeft">
                                                <input type="button" class="searchBtn" value="Login" id="btnLogin" onclick="javascript:RedirectToAnother();">
                                            </li>
                                            <li class="alignLeft">
                                                <input type="button" class="searchBtn" value="Cancel" onclick="javascript:return CancelClick();">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="featured alignLeft">
                                    <h2 class="alignLeft">
                                        Features of IMS</h2>
                                    <div class="clear">
                                        <ul>
                                            <li class="alignLeft">Web based Inventory Management System with strong security options
                                                to take care of</li>
                                        </ul>
                                        <ul>
                                            <li class="option alignLeft">Document storage in hierarchical fashion.</li>
                                            <li class="option alignLeft">Image scanning in hierarchical.</li>
                                            <li class="option alignLeft">Key word based document search.</li>
                                            <li class="option alignLeft">Work flow functionality.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main content ends -->
            </div>
            <!-- content ends -->
        </div>
        <!-- footer starts -->
        <div id="footer" class="clearfix">
            <div class="copyright">
                &copy; Copyright 2011. Silver Touch Technologies Ltd</div>
        </div>
        <!-- footer ends -->
    </div>
    <script language="javascript" type="text/javascript">
        function CancelClick() {
            $("#ErrorMSG").html("");
            return false;
        }
        function RedirectToAnother() {
            var UserBlank = false;
            var PassBlank = false;
            var msg = "";

            if ($("#txtUserName").val() == '' || $("#txtUserName").val().toLowerCase() == 'username') {
                UserBlank = true;
            }
            if ($("#txtPassword").val() == '' || $("#txtPassword").val().toLowerCase() == 'password') {
                PassBlank = true;
            }
            if (UserBlank == true && PassBlank == true) {
                msg = "UserName and Password is mandatory";
            }
            else if (UserBlank == true) {
                msg = "UserName is mandatory";
            }
            else if (PassBlank == true) {
                msg = "Password is mandatory";
            }
            if (msg != "") {
                $("#ErrorMSG").html(msg);
                return false;
            }
            msg = "";
            window.location = '/Master/TechnicianList';
        }
    </script>
</body>
</html>
