@model IEnumerable<eTurns.DTO.ItemLocationTareRequestDTO>
@{
    
    ViewBag.Title = eTurns.DTO.ResItemLocationTareRequest.PageTitle;
    var settings = new GridHeaderSettings() { dataViewType = DataViewType.None, ShowSelectAll = false, DisplaySaveButton = false,
        DisplayUDFButton = false, DisplaySettings = true, DisplayColumnSetupButton = true, DisplayDeleteButton = false,
        DisplayPrintBlock = false, ColumnSetupFor = "EVMITareRequestList"
    };
    var modelCommon = new eTurns.DTO.CommonDTO { PageName = "EVMICalibrateRequestList" };

    var version = eTurnsWeb.Helper.CommonUtility.GetReleaseNumber();
}
@if (SiteSettingHelper.IsBorderStateURL == "1" && SiteSettingHelper.EnableOktaLoginForSpecialUrls.Contains(eTurnsWeb.Helper.SessionHelper.CurrentDomainURL)){<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/tabstyleBS.css")" />}else{ <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/tabstyle.css")" />}
@section head{
    <script type='text/javascript' src="@Url.Content("~/Scripts/TabCommon.js?v=" + version)"></script>
}


<div class="userListingWrapper">
    <h2>
        @eTurns.DTO.ResItemLocationCalibrateRequest.PageHeader
    </h2>
    <div class="Infoclass" style="width:70px !important">
    </div>
    <div class="userListBlock">
        
        @Html.Hidden("hdnPageName", modelCommon.PageName)
        <ul class='tabs'>
        </ul>
        <div id="CtabNew" class="tabContener">
        </div>
        <div id="Ctab" class="tabContener">
            <div class="searchWrapper">
                <div class="searchBlock">
                    <span class="label">@eTurns.DTO.Resources.ResCommon.Search</span>
                    <div class="searchinputB">
                        <input type="text" class="searchinput" id="global_filter" />
                        <a href="javascript:void(0);" class="xclose">
                            <img src="~/Content/images/x.png" alt="X" id="clear_global_filter" />
                        </a>
                    </div>
                </div>
                <input type="button" id="btnDiv" value="Div" style="visibility: hidden" />
            </div>
            @Html.GridTopHeader(settings)
            <div id="divNarrowSearch" style="float: left; padding: 0 5px 0 0; width: 18%;">
                &nbsp;
            </div>
            <div class="userContent">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.RowNo
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.ID
                            </th>
                            <th>
                                @eTurns.DTO.ResItemMaster.ItemNumber
                            </th>
                            <th>
                                @eTurns.DTO.ResBin.BinNumber
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.ScaleID
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.ChannelID
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.ComPort
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationPollRequest.RequestType
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.CalibrationWeight
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.IsStep1Started
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.Step1StartTime
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.IsStep1Completed
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.Step1CompletionTime
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.IsStep2Started
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.Step2StartTime
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.IsStep2Completed
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.Step2CompletionTime
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.IsStep3Started
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.Step3StartTime
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.IsStep3Completed
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.Step3CompletionTime
                            </th>
                            <th>
                                @eTurns.DTO.ResItemLocationCalibrateRequest.ErrorDescription
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.CreatedBy
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.UpdatedBy
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.CreatedOn
                            </th>
                            <th>
                                @eTurns.DTO.Resources.ResCommon.UpdatedOn
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div id='CtabCL' class="tabContener">
        </div>
    </div>
</div>

<script type="text/javascript">

    var TabsArry = [new TabClass('tab5', '@eTurns.DTO.Resources.ResCommon.List', 'callbackhistory();', true, true)];
    var oLanguage = {
        "sLengthMenu": '@eTurns.DTO.Resources.ResGridHeader.Show' + ' _MENU_ ' + '@eTurns.DTO.Resources.ResGridHeader.Records',
        "sEmptyTable": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
        "sInfo": '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries',
        "sInfoEmpty": '@eTurns.DTO.Resources.ResMessage.ShowingZeroEntries'
    };

    var ajaxUrl = '@Url.Content("~/eVMICalibrateRequest/GetCalibrateRequestList")';
    var saveGridStateUrl = '@Url.Content("~/Master/SaveGridState")';
    var loadGridStateUrl = '@Url.Content("~/Master/LoadGridState")';
    var GetCalibrateNarrwSearchHTMLUrl = '@Url.Action("GetCalibrateRequestNarrwSearchHTML")';
    var GetNarrowSearchDataUrl = '@Url.Content("~/eVMICalibrateRequest/GetNarrowSearchData")';
    var resUserCreatedby = '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby';
    var resUserUpdatedby = '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby';

</script>
<script type="text/javascript">
    
    

   
        /* HISTORY related data deleated and archived END */
</script>
<script type="text/javascript" src="~/Scripts/PageScripts/CalibrateRequestList.js?v=@version"></script>