@model IEnumerable<eTurns.DTO.TransferInOutItemDetailDTO>
<script src="@Url.Content("~/Scripts/DynemicDataTable.js?v=" + eTurnsWeb.Helper.CommonUtility.GetReleaseNumber())" type="text/javascript"></script>
<div class="innerGrid" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">
    <table style="width: 90%;">
        <tr>
            <td colspan="2" style="float: left; width: 99%; padding-top: 5px; border: 0px solid #F8F8F8;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 14px; padding-bottom: 35px; border: 1px solid #F8F8F8;">
                <div class="userContentInnerGrid">
                    <table id="TransferInOutItemDetail@(ViewBag.TransferInOutQtyDetailGUID)" class="display">
                        <thead>
                            <tr>
                                <th>
                                    @ResCommon.ID
                                </th>
                                <th>
                                    @ResItemMaster.ItemNumber
                                </th>
                                <th>
                                    @ResBin.BinNumber
                                </th>
                                <th>
                                    @ResItemLocationDetails.CustomerOwnedQuantity
                                </th>
                                <th>
                                    @ResItemLocationDetails.ConsignedQuantity
                                </th>
                                <th>
                                    @ResTransfer.SerialNumber
                                </th>
                                <th>
                                    @ResTransfer.LotNumber
                                </th>
                                <th>
                                    @ResTransfer.Expiration
                                </th>                                
                                <th>
                                    @ResCommon.CreatedOn
                                </th>
                                <th>
                                    @ResCommon.AddedFrom
                                </th>
                                <th>
                                    @ResCommon.EditedFrom
                                </th>
                                <th>
                                    @ResCommon.ReceivedOnDate
                                </th>
                                <th>
                                    @ResCommon.ReceivedOnWebDate
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.ID                                        
                                    </td>
                                    <td>
                                        @item.ItemNumber
                                    </td>
                                    <td>
                                        @item.BinNumber
                                    </td>                                    
                                    <td>
                                        @item.CustomerOwnedQuantity
                                    </td>
                                    <td>
                                        @item.ConsignedQuantity
                                    </td>
                                    <td>
                                        @item.SerialNumber
                                    </td>
                                    <td>
                                        @item.LotNumber
                                    </td>
                                    <td>
                                        @if (item.ExpirationDate.HasValue)
                                        {
                                            @item.ExpirationDate.Value.Date.ToShortDateString()
                                        }
                                    </td>                                    
                                    <td>
                                        @item.ReceivedOnWebDate
                                    </td>
                                    <td>
                                        @item.AddedFrom
                                    </td>
                                    <td>
                                        @item.EditedFrom
                                    </td>
                                    <td>
                                        @item.ReceivedOnDate
                                    </td>
                                    <td>
                                        @item.ReceivedOnWebDate
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var id = '@ViewBag.TransferInOutQtyDetailGUID';
        var gaiSelected = [];
        oTableReceivedInOutQty = $('#TransferInOutItemDetail' + id).dataTable({
            "bJQueryUI": true,
            "bRetrieve": true,
            "bDestroy": true,
            "sDom": 'R<"top"lp<"clear">>rt<"bottom"i<"clear">>T',
            "bScrollCollapse": true,
            "sScrollX": "100%",
            "oColVis": {},
            "aaSorting": [[0, "desc"]],
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bStateSave": true,
            "oLanguage": {
                "sLengthMenu": '@eTurns.DTO.Resources.ResGridHeader.Show' + ' _MENU_ ' + '@eTurns.DTO.Resources.ResGridHeader.Records',
                "sEmptyTable": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
                "sInfo": '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries',
                "sInfoEmpty": '@eTurns.DTO.Resources.ResMessage.ShowingZeroEntries'
            },

            "fnStateSaveParams": function (oSettings, oData) {
                oData.oSearch.sSearch = "";
              //  if (!bIsFilter) {
                    $.ajax({
                        "url": '@Url.Content("~/Master/SaveGridState")',
                        "type": "POST",
                        data: { Data: JSON.stringify(oData), ListName: 'TransferInOutItemDetailList' },
                        "async": true,
                        "dataType": "json",
                        "success": function (json) {
                            if (json.jsonData != '')
                                o = json;
                        }
                    });
            //    }
                bIsFilter = false;
            },
            "fnStateLoad": function (oSettings) {
                var o;
                $.ajax({
                    "url": '@Url.Content("~/Master/LoadGridState")',
                    "type": "POST",
                    data: { ListName: 'TransferInOutItemDetailList' },
                    "async": true,
                    "dataType": "json",
                    "success": function (json) {
                        if (json.jsonData != '')
                            o = JSON.parse(json.jsonData);
                    }
                });
                return o;
            }
        });

        $('.DTTT_container').css('z-index', '-1');
        $('#btnblock').css({ 'margin-right': '45px' });

        $.fn.dataTableExt.afnSortData['dom-text'] = function (oSettings, iColumn) {
            var aData = [];
            $('td:eq(' + iColumn + ') input', oSettings.oApi._fnGetTrNodes(oSettings)).each(function () {
                aData.push(this.value);
            });
            return aData;
        }
    });
</script>
