@model IList<TransferDetailDTO>

@{
    string viewRight = "ViewOnly";

    bool IsAllowOverwriteLotOrSerial = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowOverwriteLotOrSerial, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);
    bool IsAllowToEnterLotOrSerialInBlankBox = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowToEnterLotOrSerialInBlankBox, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);
    bool IsViewOnlyLotOrSerial = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.ViewOnlyLotOrSerial, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);

    if (IsAllowOverwriteLotOrSerial)
    {
        viewRight = "ViewOverwrite";
    }
    else if (IsAllowToEnterLotOrSerialInBlankBox)
    {
        viewRight = "NoRight";
    }
    else if (IsViewOnlyLotOrSerial)
    {
        viewRight = "ViewOnly";
    }
}
<script language="javascript" type="text/javascript">
    var ValidateSerialLotNumberUrl = '@Url.Action("ValidateSerialLotNumberForReceiveTransfer", "Transfer")';
    var urlTransferLotSrSelection = '@Url.Action("TransferLotSrSelection", "Transfer")';
    var MsgNoLocationToAdd = '@ResPullMaster.MsgNoLocationToAdd';
    var MsgDuplicateLotNumber = '@ResToolMaster.MsgDuplicateLotNumber';
    var MsgDuplicateSerialNumberValidation = '@ResReceiveOrderDetails.MsgDuplicateSerialNumberValidation';
    var DuplicateNumber = '@ResMessage.DuplicateNumber';
    var MsgNewRowTransferQuantityValidation = '@ResReceiveOrderDetails.MsgNewRowTransferQuantityValidation';
    var MsgSelectRowToDelete = '@ResPullMaster.MsgSelectRowToDelete';
    var MsgRowShouldExists = '@ResToolMaster.MsgRowShouldExists';
    var MsgApprovedReasons = '@ResReceiveOrderDetails.MsgApprovedReasons';
    var MsgReceivedSuccessfully = '@ResReceiveOrderDetails.MsgReceivedSuccessfully';
    var MsgRecieveQtyValidation = '@ResReceiveOrderDetails.MsgRecieveQtyValidation';
    var MsgRecieveEnterValidation = '@ResReceiveOrderDetails.MsgRecieveEnterValidation';

    var rights = '@viewRight';
</script>
<script src="@Url.Content("~/Scripts/PageScripts/ReceiveLotSerialSelection.js?v=" + eTurnsWeb.Helper.CommonUtility.GetReleaseNumber())"></script>

@if (Model != null && Model.Count > 0)
{
    <div style="width: 100%; padding-bottom: 10px;">
        <input type="button" class="btnGeneral" value="Receive All" id="btnReceiveAllPopUp" name="btnReceiveAllPopUp" />
    </div>
    <input type="hidden" id="hdnItemLocationLotSerialDTO" value="@Newtonsoft.Json.JsonConvert.SerializeObject(new ItemLocationLotSerialDTO())" name="hdnItemLocationLotSerialDTO" />
    foreach (TransferDetailDTO transferItemDTO in Model)
    {
        string jsonTransferMasterDTO = Newtonsoft.Json.JsonConvert.SerializeObject(transferItemDTO);

        <div style="padding: 10px; margin-bottom: 10px; border: 1px solid red;" id="divItem_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)">
            <input type="hidden" id="hdnTransferIds_@(transferItemDTO.ItemGUID)_@(transferItemDTO.ItemDetail.GUID)" value="PullIds_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)" />
            <table style="width: 100%" class="display" id="tblItemReceiveheader_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)">
                <thead>
                    <tr>
                        <th>

                            <input type="hidden" id="hdnReceiveMasterDTO_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)" value="@jsonTransferMasterDTO" name="hdnReceiveMasterDTO" />

                            @if (transferItemDTO.ItemGUID != Guid.Empty)
                            {
                                <span>
                                    @ResItemMaster.ItemNumber
                                </span>
                            }
                            else
                            {
                                <span>
                                    @ResToolMaster.ToolName
                                </span>
                            }
                        </th>
                        <th>
                            @ResItemMaster.TrackingDetails
                        </th>
                        @if (transferItemDTO.ItemGUID != Guid.Empty)
                        {
                            <th>

                                <span>
                                    @ResPullMaster.BinID
                                </span>

                            </th>
                        }
                        <th>                            
                            @ResTransfer.QuantityToReceive                       
                        </th>                       
                        <th>
                            @ResTransfer.ReceivedQuantity
                        </th>
                        <th>
                            @ResTransfer.InTransitQuantity
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>@transferItemDTO.ItemNumber</span>

                        </td>
                        <td>
                            @if (transferItemDTO.LotNumberTracking)
                            {
                                <text>@ResTransfer.LotNumberTracking</text>
                                <input type='hidden' id='hdnTrackingType_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)' value='LotNumberTracking' />
                            }
                            else if (transferItemDTO.SerialNumberTracking)
                            {
                                <text>@ResTransfer.SerialNumberTracking</text>
                                <input type='hidden' id='hdnTrackingType_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)' value='SerialNumberTracking' />
                            }
                            else if (transferItemDTO.DateCodeTracking)
                            {
                                <text>@ResTransfer.DateCodeTracking</text>
                                <input type='hidden' id='hdnTrackingType_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)' value='DateCodeTracking' />
                            }
                            else
                            {
                                <text>@ResTransfer.Notracking</text>
                                <input type='hidden' id='hdnTrackingType_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)' value='NoTracking' />
                            }
                        </td>
                        @if (transferItemDTO.ItemGUID != Guid.Empty)
                        {
                            <td>
                                @if ((transferItemDTO.BinName).Equals("[|EmptyStagingBin|]"))
                                {
                                    <span>@string.Empty</span>
                                }
                                else
                                {
                                    <span>@transferItemDTO.BinName</span>
                                }
                            </td>
                        }
                        <td>
                            @if (transferItemDTO.ItemGUID != Guid.Empty)
                            {
                                <input type='text' value='@transferItemDTO.ApprovedQuantity' id='txtReceiveQuantity_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)' name='txtReceiveQuantity_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)' class='text-boxinner pull-quantity' />                            }
                            else
                            {
                                <input type='text' value='@transferItemDTO.ApprovedQuantity' id='txtReceiveQuantity_@(transferItemDTO.ItemDetail.GUID)' name='txtReceiveQuantity_@(transferItemDTO.ItemDetail.GUID)' class='text-boxinner pull-quantity' />
                            }
                        </td>                        
                        <td class="numericalign">
                            <label id="ReceivedQuantity_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)">@transferItemDTO.ReceivedQuantity</label>
                        </td>
                        <td class="numericalign">
                            <label id="IntransitQuantity_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)">@transferItemDTO.IntransitQuantity</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
            @if (transferItemDTO.ItemDetail.OutTransferQuantity > 0)
            {
                string htmltableName = "tblItemReceive_" + transferItemDTO.ItemGUID + "_" + transferItemDTO.GUID.ToString();
                if (transferItemDTO.ItemGUID != Guid.Empty)
                {
                    <table style="width: 100%" class="display tbl-item-pull" id="@htmltableName">
                        <thead>
                            <tr>
                                <th style="text-align: left;">
                                    @if (transferItemDTO.LotNumberTracking)
                                    {
                                        @ResItemLocationDetails.LotNumber
                                    }
                                    else if (transferItemDTO.SerialNumberTracking)
                                    {
                                        @ResItemLocationDetails.SerialNumber
                                    }
                                    else
                                    {
                                        @ResPullMaster.LotSrnumber
                                    }
                                </th>
                                <th style="text-align: left;">
                                    @ResPullMaster.BinID
                                </th>
                                <th style="text-align: left;">
                                    @ResPullMaster.CustomerOwnedQuantityAvail
                                </th>
                                <th>
                                    @ResTransfer.ReceiveQuantity
                                </th>
                                <th>
                                    @ResItemLocationDetails.ReceivedDate
                                </th>
                                <th>
                                    @ResItemLocationDetails.ExpirationDate
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
                <script type="text/javascript">
                    var BoolTrueString = '@Boolean.TrueString';
                    var IsCheckViewRight = true;

                    var objReceiveItemDTO = {
                        tableID: '@htmltableName',
                        ItemGUID: '@transferItemDTO.ItemGUID',
                        TransferDetailGUID: '@transferItemDTO.GUID',
                        BinID: '@transferItemDTO.ItemDetail.BinID',
                        RequisitionDetailGUID: '@transferItemDTO.GUID',
                        PullQuantity: '@transferItemDTO.ItemDetail.OutTransferQuantity',
                        LotNumberTracking: '@transferItemDTO.LotNumberTracking',
                        SerialNumberTracking: '@transferItemDTO.SerialNumberTracking',
                        DateCodeTracking: '@transferItemDTO.DateCodeTracking',
                        ViewRight: '@viewRight',
                    };

                    PrepareReceiveDataTable(objReceiveItemDTO);
                </script>
            }
            <div style="width: 100%; padding-top: 10px;">
                @if (viewRight != "ViewOnly" && transferItemDTO.ItemGUID != Guid.Empty && transferItemDTO.ItemDetail.BinID.GetValueOrDefault(0) > 0)
                {
                    <input type="button" class="btnGeneral" value="Add" id="btnLoadMoreLots_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)" name="btnLoadMoreLots" />
                    <input type="button" class="btnGeneral" value="Delete" id="btnDeleteLots_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)" name="btnDeleteLots" />
                }

                <input type="button" class="btnGeneral" value="Receive" id="btnReceivePopup_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)" name="btnReceivePopup" />
                <input type="hidden" name="hdnSelectedId" id="hdnSelectedId_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)" />
                <input type="hidden" name="hdnCurrentLoadedIds" id="hdnCurrentLoadedIds_@(transferItemDTO.ItemGUID)_@(transferItemDTO.GUID)" />
            </div>
        </div>
    }
}
<table style="width: 100%">
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">
            <input type="button" class="btnGeneral" value="Receive All" id="btnReceiveAllPopUp1" name="btnReceiveAllPopUp" />
            <input type="button" class="btnGeneral" value="Cancel" id="btnCancel1" name="btnCancelReceivePopup" />
        </td>
    </tr>
</table>
<div class="dialog" id="dlgCommonErrorMsgPopup" style="display: none; width: 600px;">
    <div class="inner" style="width: 600px; max-height: 300px; overflow: scroll;">
        <p class="text" id="pErrMessage" style="text-align: left; padding-left: 10px;">
        </p>
        <p id="pOkbtn" class="text" style="text-align: center; padding-left: 10px; display: none;">
            <a href="#" class="no" onclick="closeMessageModalInPopup()">
                <img src="~/Content/images/yes.png" alt="@eTurns.DTO.Resources.ResMessage.InformOk" />@eTurns.DTO.Resources.ResMessage.InformOk
            </a>
        </p>
    </div>
</div>
