
<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandTransferNarrowSearch">
        <img alt="" src="~/Content/images/open.png" /></a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseTransferNarrowSearch">
        <img alt="" src="~/Content/images/closed.png" /></a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="NarrowUL">

        <li>
            <select id="TransferItemLocation" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="TransferItemLocationCollapse">
                </div>
            </div>
        </li>

        <li>
            <select id="TransferStatus" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferStatusCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="TransferRequiredDate" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferRequiredDateCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="TransferCreatedBy" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferCreatedByCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="TransferUpdatedBy" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="TrfDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" /></div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From</label>
                    <input id="TrfDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                        data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancTrfDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To</label>
                    <input id="TrfDateCTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                        class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancTrfDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="TrfDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" /></div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From</label>
                    <input id="TrfDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                        data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancTrfDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To</label>
                    <input id="TrfDateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                        class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancTrfDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" /></a></div>
            </div>
        </li>
        <li id="liTrfUDF1" style="display: none">
            <select id="TransferUDF1" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF1">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferUDF1Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liTrfUDF2" style="display: none">
            <select id="TransferUDF2" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferUDF2Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liTrfUDF3" style="display: none">
            <select id="TransferUDF3" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferUDF3Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liTrfUDF4" style="display: none">
            <select id="TransferUDF4" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferUDF4Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liTrfUDF5" style="display: none">
            <select id="TransferUDF5" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF5">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24"></a>
                <div class='dropcontent' id="TransferUDF5Collapse" name="CUDFS">
                </div>
            </div>
        </li>
    </ul>
    <input id="TrfNarroSearchClear" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />
</div>
<script type="text/javascript">

    var TransferItemLocationSelectedValues = '';
    var CreatedBySelectedValues = '';
    var UpdatedBySelectedValues = '';
    var StatusBySelectedValues = '';
    var RequiredDateSelectedValues = '';
    var TransferUDF1NarrowValues = ''
    var TransferUDF2NarrowValues = ''
    var TransferUDF3NarrowValues = ''
    var TransferUDF4NarrowValues = ''
    var TransferUDF5NarrowValues = ''

    $(document).ready(function () {

        $('#TrfDateCFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#TrfDateCTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#TrfDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#TrfDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

        var NarrowSearchState = getCookie('NarrowSearchState');
        if (NarrowSearchState == 'Expanded') {
            CollapseTransferNarrowSearch();
        }
        else {
            ExpandTransferNarrowSearch();
        }

        $('.IteamBlock').css('width', '99.5%');

        FillNarrowSearchData()

    });


    $('#TrfDateCFrom,#TrfDateCTo').change(function () {

        var DateCFromValid = true;// Date.isValid($('#TrfDateCFrom').val(),format);
        var DateCToValid = true;//Date.isValid($('#TrfDateCTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#TrfDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#TrfDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }
        if (DateCFromValid && DateCToValid) {
            //$("#txtTransferFilter").val('');
            DoTransferNarrowSearch();
        }
        else {
            if (!DateCFromValid)
                $('#TrfDateCFrom').val('');
            if (!DateCToValid)
                $('#TrfDateCTo').val('');
        }
    });

    $('#TrfDateUFrom,#TrfDateUTo').change(function () {

        var DateUFromValid = true;//Date.isValid($('#TrfDateUFrom').val(),format);
        var DateUToValid = true;//Date.isValid($('#TrfDateUTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#TrfDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateUFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#TrfDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
           // $("#txtTransferFilter").val('');
            DoTransferNarrowSearch();
        }
        else {
            if (!DateUFromValid)
                $('#TrfDateUFrom').val('');
            if (!DateUToValid)
                $('#TrfDateUTo').val('');
        }
    });

    $('#ancTrfDateCFrom').click(function () {
        $('#TrfDateCFrom').focus();
    });
    $('#ancTrfDateCTo').click(function () {
        $('#TrfDateCTo').focus();
    });
    $('#ancTrfDateUFrom').click(function () {
        $('#TrfDateUFrom').focus();
    });
    $('#ancTrfDateUTo').click(function () {
        $('#TrfDateUTo').focus();
    });

    $('#TrfDateCreatedClear').click(function () {
        if ($('#TrfDateCFrom').val() != '' || $('#DateCTo').val() != '') {
            $('#TrfDateCFrom').val('');
            $('#TrfDateCTo').val('');
            //NarrowSearchInGrid('');
            DoTransferNarrowSearch();
        }
    });
    $('#TrfDateUpdatedClear').click(function () {
        if ($('#TrfDateUFrom').val() != '' || $('#DateUTo').val() != '') {
            $('#TrfDateUFrom').val('');
            $('#TrfDateUTo').val('');
            //NarrowSearchInGrid('');
            DoTransferNarrowSearch();
        }
    });

    $('#ExpandTransferNarrowSearch').click(function (e) {
        ExpandTransferNarrowSearch();
    });
    $('#CollapseTransferNarrowSearch').click(function (e) {
        CollapseTransferNarrowSearch();
    });


    $('#TrfNarroSearchClear').click(function () {
        if ('@Session["MainFilter"]' === "True") {
            ClickFromMenu(false);
            window.location = "/Transfer/TransferList";
            return;
        }

        $('#TrfDateCFrom').val('');
        $('#TrfDateCTo').val('');
        $('#TrfDateUFrom').val('');
        $('#TrfDateUTo').val('');

        if (typeof ($("#TransferItemLocation").multiselect("getChecked").length) != undefined && $("#TransferItemLocation").multiselect("getChecked").length > 0) {
            $("#TransferItemLocation").multiselect("uncheckAll");
            $("#TransferItemLocationCollapse").html('');
        }

        if (typeof ($("#TransferCreatedBy").multiselect("getChecked").length) != undefined && $("#TransferCreatedBy").multiselect("getChecked").length > 0) {
            $("#TransferCreatedBy").multiselect("uncheckAll");
            $("#TransferCreatedByCollapse").html('');
        }

        if (typeof ($("#TransferUpdatedBy").multiselect("getChecked").length) != undefined && $("#TransferUpdatedBy").multiselect("getChecked").length > 0) {
            $("#TransferUpdatedBy").multiselect("uncheckAll");
            $("#TransferUpdatedByCollapse").html('');
        }

        if (typeof ($("#TransferStatus").multiselect("getChecked").length) != undefined && $("#TransferStatus").multiselect("getChecked").length > 0) {
            $("#TransferStatus").multiselect("uncheckAll");
            $("#TransferStatusCollapse").html('');
        }

        if (typeof ($("#TransferRequiredDate").multiselect("getChecked").length) != undefined && $("#TransferRequiredDate").multiselect("getChecked").length > 0) {
            $("#TransferRequiredDate").multiselect("uncheckAll");
            $("#TransferRequiredDateCollapse").html('');
        }

        $("select[name='UDFS']").each(function (index) {
            $(this).multiselect("uncheckAll");
        });

        $("div[name='CUDFS']").each(function (index) {
            $(this).html('');
        });

        if ($('#txtOrderFilter').val() != '') $('#txtTransferFilter').val('');
        $('input[type="search"]').val('').trigger('keyup');
        
        TempNarrow = '';
        IsRetainNarrow = false;
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        DoTransferNarrowSearch();

        fillTransferNarrowSearchDiv();
    });

    function clearSearchFilterIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'txtTransferFilter')
            $("#txtTransferFilter").val('');
    }

    function ExpandTransferNarrowSearch() {
        var w = $('.IteamBlock').css("width");
        $('.IteamBlock').show();
        $('.IteamBlock').stop().animate({
            width: "99.5%"
        }, 0, function () {
            $('.userContent').css({ "width": "80.5%", "margin": "0" });
            $('#myDataTable_length').css({ "left": "0px" });
            $('#myDataTable_paginate').css({ "left": "145px" });
            $('.leftopenContent').css({ "display": "none" });
            setCookie('NarrowSearchState', 'Collapsed');
        });
        $('#divNarrowSearch').css('width', '18%');
    }

    function CollapseTransferNarrowSearch() {
        $('.IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('.IteamBlock').hide();
            $('.userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#myDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#myDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('.leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchState', 'Expanded');
        });
        $('#divNarrowSearch').css('width', '0%');
    }

    function FillNarrowSearchData() {
        $.ajax({
            url: '@Url.Content("~/Transfer/GetNarrowSearchData")',
            data: { 'IsDeleted': _IsDeleted, 'IsArchived': _IsArchived, 'TransferStatus': GetCurrentSelectedTab() },
            dataType: 'json',
            success: function (response) {
                if (response.Success && response.Data != null) {
                    BindDropDownList(response.Data.ItemLocationList, 'TransferItemLocation', 'TransferItemLocationCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.ItemLocation');
                    BindDropDownList(response.Data.CreatedByList, 'TransferCreatedBy', 'TransferCreatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby');
                    BindDropDownList(response.Data.UpdatedByList, 'TransferUpdatedBy', 'TransferUpdatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby');
                    BindDropDownList(response.Data.StatusByList, 'TransferStatus', 'TransferStatusCollapse', '@eTurns.DTO.ResTransfer.TransferStatus')
                    BindDropDownList(response.Data.RequiredDateList, 'TransferRequiredDate', 'TransferRequiredDateCollapse', '@eTurns.DTO.ResTransfer.RequireDate');
                    if (response.Data.UDF1List != null) {
                        $('#liTrfUDF1').css('display', '');
                        BindDropDownList(response.Data.UDF1List, 'TransferUDF1', 'TransferUDF1Collapse', '@eTurns.DTO.ResTransfer.UDF1');
                    }
                    if (response.Data.UDF2List != null) {
                        $('#liTrfUDF2').css('display', '');
                        BindDropDownList(response.Data.UDF2List, 'TransferUDF2', 'TransferUDF2Collapse', '@eTurns.DTO.ResTransfer.UDF2');
                    }
                    if (response.Data.UDF3List != null) {
                        $('#liTrfUDF3').css('display', '');
                        BindDropDownList(response.Data.UDF3List, 'TransferUDF3', 'TransferUDF3Collapse', '@eTurns.DTO.ResTransfer.UDF3');
                    }
                    if (response.Data.UDF4List != null) {
                        $('#liTrfUDF4').css('display', '');
                        BindDropDownList(response.Data.UDF4List, 'TransferUDF4', 'TransferUDF4Collapse', '@eTurns.DTO.ResTransfer.UDF4');
                    }
                    if (response.Data.UDF5List != null) {
                        $('#liTrfUDF5').css('display', '');
                        BindDropDownList(response.Data.UDF5List, 'TransferUDF5', 'TransferUDF5Collapse', '@eTurns.DTO.ResTransfer.UDF5');
                    }
                }
            },
            error: function (xhr) {
                //alert(xhr);
                console.log(xhr);
            }
        });
    }


    function GetOptions(arrData, isUDF,ddlName) {
        var options;
        if (isUDF) {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].Text + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });
        }
        else {
            if (ddlName !== 'TransferRequiredDate') {
                $.each(arrData, function (i) {
                    options += '<option value="' + arrData[i].ID + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
                });
            }
            else {
                $.each(arrData, function (i) {
                    options += '<option value="' + arrData[i].ID + '">' + arrData[i].Text + '</option>';
                });
            }
        }
        return options;
    }

    function BindDropDownList(arrData, ddlName, ddlCollapseName, displayName) {
        $("#" + ddlName).empty();
        $("#" + ddlName).multiselect('destroy');
        $("#" + ddlName).multiselectfilter('destroy');
        $("#" + ddlName).append(GetOptions(arrData, (ddlName.indexOf('TransferUDF') != -1),ddlName));
        $("#" + ddlName).multiselect(
                  { noneSelectedText: displayName, selectedList: 5,
                      selectedText: function (numChecked, numTotal, checkedItems) {
                          return displayName + ' ' + numChecked + ' ' + selected;
                      }
                  },
                {
                    checkAll: function (ui) {
                        $("#" + ddlCollapseName).html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#" + ddlCollapseName).text().indexOf(ui.target[i].text) == -1) {
                                $("#" + ddlCollapseName).append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#" + ddlCollapseName).show();
                    }
                }).bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#" + ddlCollapseName).text().indexOf(ui.text) == -1) {
                            $("#" + ddlCollapseName).append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#" + ddlCollapseName).html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#" + ddlCollapseName).html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#" + ddlCollapseName).html(text);
                        }
                        else
                            $("#" + ddlCollapseName).html('');
                    }
                    switch ($(this).attr('id')) {
                        case 'TransferItemLocation':
                            TransferItemLocationSelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'TransferCreatedBy':
                            CreatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'TransferUpdatedBy':
                            UpdatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'TransferStatus':
                            StatusBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'TransferRequiredDate':
                            RequiredDateSelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'TransferUDF1':
                            TransferUDF1NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value);  });
                            break;
                        case 'TransferUDF2':
                            TransferUDF2NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                            break;
                        case 'TransferUDF3':
                            TransferUDF3NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                            break;
                        case 'TransferUDF4':
                            TransferUDF4NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                            break;
                        case 'TransferUDF5':
                            TransferUDF5NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                            break;
                    }

                    if ($("#" + ddlCollapseName).text().trim() != '')
                        $("#" + ddlCollapseName).show();
                    else
                        $("#" + ddlCollapseName).hide();


                    if ($("#" + ddlCollapseName).find('span').length <= 2) {
                        $("#" + ddlCollapseName).scrollTop(0).height(50);
                    }
                    else {
                        $("#" + ddlCollapseName).scrollTop(0).height(100);
                    }
                    DoTransferNarrowSearch();

                }).multiselectfilter();

    }

    function DoTransferNarrowSearch() {
       
       // clearSearchFilterIfNotInFocus();

        var narrowSearchValues = '';

        if (TransferItemLocationSelectedValues == undefined || TransferItemLocationSelectedValues.length <= 0)
            TransferItemLocationSelectedValues = '';

        if (CreatedBySelectedValues == undefined || CreatedBySelectedValues.length <= 0)
            CreatedBySelectedValues = '';

        if (UpdatedBySelectedValues == undefined || UpdatedBySelectedValues.length <= 0)
            UpdatedBySelectedValues = '';

        if (StatusBySelectedValues == undefined || StatusBySelectedValues.length <= 0)
            StatusBySelectedValues = '';

        if (RequiredDateSelectedValues == undefined || RequiredDateSelectedValues.length <= 0)
            RequiredDateSelectedValues = '';

        if (TransferUDF1NarrowValues == undefined || TransferUDF1NarrowValues.length <= 0)
            TransferUDF1NarrowValues = '';

        if (TransferUDF2NarrowValues == undefined || TransferUDF2NarrowValues.length <= 0)
            TransferUDF2NarrowValues = '';

        if (TransferUDF3NarrowValues == undefined || TransferUDF3NarrowValues.length <= 0)
            TransferUDF3NarrowValues = '';

        if (TransferUDF4NarrowValues == undefined || TransferUDF4NarrowValues.length <= 0)
            TransferUDF4NarrowValues = '';

        if (TransferUDF5NarrowValues == undefined || TransferUDF5NarrowValues.length <= 0)
            TransferUDF5NarrowValues = '';


        narrowSearchValues += CreatedBySelectedValues + "~";
        narrowSearchValues += UpdatedBySelectedValues + "~";
        narrowSearchValues += StatusBySelectedValues + "~";
        narrowSearchValues += RequiredDateSelectedValues + "~";

        if ($('#TrfDateCFrom').val() != '' && $('#TrfDateCTo').val() != '') {
            narrowSearchValues += ($('#TrfDateCFrom').val()) + "," + ($('#TrfDateCTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        if ($('#DateUFrom').val() != '' && $('#TrfDateUTo').val() != '') {
            narrowSearchValues += ($('#TrfDateUFrom').val()) + "," + ($('#TrfDateUTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        narrowSearchValues += TransferUDF1NarrowValues + "~";
        narrowSearchValues += TransferUDF2NarrowValues + "~";
        narrowSearchValues += TransferUDF3NarrowValues + "~";
        narrowSearchValues += TransferUDF4NarrowValues + "~";
        narrowSearchValues += TransferUDF5NarrowValues + "~";

        narrowSearchValues += TransferItemLocationSelectedValues + "~";

        // var appendedText = GetCurrentSelectedTab();

       // if (narrowSearchValues.replace(/~/g, '') == '') {
       //     narrowSearch = '';
       // }
        //   else {
        var searchtext = $("#txtTransferFilter").val().replace(/'/g, "''");
        narrowSearch = "[###]" + narrowSearchValues + "[###]" + searchtext;
      //  }

        //        if (appendedText.length > 0)
        //            narrowSearch = narrowSearch + "[^]" + appendedText;
        bIsFilter = true;
        fnFilterTransferList(narrowSearch)
        //   $('#myDataTable').dataTable().fnFilter(narrowSearch, null, null, null);
    }

    function DoTransferNarrowSearch_OnEnter(KeyCode) {
        if (typeof $("#txtTransferFilter") != 'undefined' && (KeyCode == 13 || $("#txtTransferFilter").val().length == 0)) {
            DoTransferNarrowSearch();
        }
    }


</script>
