@model IEnumerable<eTurns.DTO.TransferInOutQtyDetailDTO>
<script src="@Url.Content("~/Scripts/DynemicDataTable.js?v=" + eTurnsWeb.Helper.CommonUtility.GetReleaseNumber())" type="text/javascript"></script>
<div class="innerGrid" style="background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">
    <table style="width: 90%;">
        <tr>
            <td colspan="2" style="float: left; width: 99%; padding-top: 5px; border: 0px solid #F8F8F8;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 14px; padding-bottom: 35px; border: 1px solid #F8F8F8;">
                <div class="userContentInnerGrid">
                    <table id="TransferInOutQtyDetail@(ViewBag.TransferDetailID)" class="display">
                        <thead>
                            <tr>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.ID
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.ExpandCollapse
                                </th>
                                <th>
                                    @eTurns.DTO.ResItemMaster.ItemNumber
                                </th>
                                <th>
                                    @eTurns.DTO.ResBin.BinNumber
                                </th>
                                <th>
                                    In/Out
                                </th>

                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.CustomerOwnedQuantity
                                </th>
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.ConsignedQuantity
                                </th>
                                <th>
                                    @eTurns.DTO.ResTransfer.TotalQuantity
                                </th>
                                <th>
                                    @eTurns.DTO.ResTransfer.Received
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.CreatedOn
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.AddedFrom
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.EditedFrom
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.ReceivedOnDate
                                </th>
                                <th>
                                    @eTurns.DTO.Resources.ResCommon.ReceivedOnWebDate
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="tr_@item.GUID">
                                    <td>
                                        @item.ID     
                                    </td>
                                    <td>
                                            @if ((item.SerialNumberTracking.HasValue && item.SerialNumberTracking.Value) ||
                                                    (item.LotNumberTracking.HasValue && item.LotNumberTracking.Value) ||
                                                    (item.DateCodeTracking.HasValue && item.DateCodeTracking.Value))
                                            {
                                                <a href="javascript:void(0);" id="aPlusMinus" onclick="return ShowHideTrfInOutItemDetailGrid(this,'@item.GUID','@item.TransferDetailGUID');">
                                                    <img src="/Content/images/drildown_open.jpg" alt="" />
                                                </a>
                                            }                                        
                                    </td>
                                    <td>
                                        @item.ItemNumber
                                    </td>
                                    <td>
                                        @item.BinNumber
                                    </td>
                                    <td>
                                        @item.TransferInOut
                                    </td>
                                    <td>
                                        @item.CustomerOwnedQuantity
                                    </td>
                                    <td>
                                        @item.ConsignedQuantity
                                    </td>
                                    <td>
                                        @item.TotalQuantity
                                    </td>
                                    <td>
                                        @item.IsTransfered
                                    </td>
                                    <td>
                                        @item.ReceivedOnWebDate
                                    </td>
                                    <td>
                                        @item.AddedFrom
                                    </td>
                                    <td>
                                        @item.EditedFrom
                                    </td>
                                    <td>
                                        @item.ReceivedOnDate
                                    </td>
                                    <td>
                                        @item.ReceivedOnWebDate
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var objTransferDetailGridColumns = {};
    $(document).ready(function () {
        var id = '@ViewBag.TransferDetailID';
        var gaiSelected = [];
        objTransferDetailGridColumns = GetGridChildGridColumnsObject('TransferInOutQtyDetail' + id);
        var ColumnObject = new Array();
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": false });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        ColumnObject.push({ "bSortable": true });
        objTransferDetailGridColumns = GetGridChildGridColumnsObject('TransferInOutQtyDetail' + id);
        oTableTransferInOutQty = $('#TransferInOutQtyDetail' + id).dataTable({
            "bJQueryUI": true,
            "bRetrieve": true,
            "bDestroy": true,
            "sDom": '<"top"lp<"clear">>rt<"bottom"i<"clear">>T',
            "bScrollCollapse": true,
            "sScrollX": "80%",
            "oColVis": {},
            "aaSorting": [[0, "desc"]],
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bStateSave": true,
            "oLanguage": {
                "sLengthMenu": '@eTurns.DTO.Resources.ResGridHeader.Show' + ' _MENU_ ' + '@eTurns.DTO.Resources.ResGridHeader.Records',
                "sEmptyTable": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
                "sInfo": '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries',
                "sInfoEmpty": '@eTurns.DTO.Resources.ResMessage.ShowingZeroEntries'
            },

            "fnStateSaveParams": function (oSettings, oData) {
                oData.oSearch.sSearch = "";
               // if (!bIsFilter) {
                    $.ajax({
                        "url": '@Url.Content("~/Master/SaveGridState")',
                        "type": "POST",
                        data: { Data: JSON.stringify(oData), ListName: 'TransferInOutQtyList' },
                        "async": false,
                        cache: false,
                        "dataType": "json",
                        "success": function (json) {
                            if (json.jsonData != '')
                                o = json;
                        }
                    });
              //  }
                bIsFilter = false;
            },
            "fnStateLoad": function (oSettings) {
                var o;
                $.ajax({
                    "url": '@Url.Content("~/Master/LoadGridState")',
                    "type": "POST",
                    data: { ListName: 'TransferInOutQtyList' },
                    "async": false,
                    cache: false,
                    "dataType": "json",
                    "success": function (json) {
                        if (json.jsonData != '')
                            o = JSON.parse(json.jsonData);
                    }
                });
                return o;
            },
            "fnInitComplete": function () {
                $('.ColVis').detach().appendTo(".setting-arrow");

            }, "aoColumns": ColumnObject
        });

        $('.DTTT_container').css('z-index', '-1');
        $('#btnblock').css({ 'margin-right': '45px' });

        $.fn.dataTableExt.afnSortData['dom-text'] = function (oSettings, iColumn) {
            var aData = [];
            $('td:eq(' + iColumn + ') input', oSettings.oApi._fnGetTrNodes(oSettings)).each(function () {
                aData.push(this.value);
            });
            return aData;
        }
    });
    $("#ColumnOrderSetup1").off('click')
    $("#ColumnOrderSetup1").on('click', function () {
        var DTName = 'TransferInOutQtyDetail' + id;
        $("#divDetailGridReorderPopup").data({ 'DataTableName': DTName, 'ListName': 'TransferInOutQtyList', 'ColumnObjectName': 'objTransferDetailGridColumns' }).dialog("open");
        return false;
    });

    function FillDetailGridDiv() {
        $('#divLineItems').empty();
        $('#divLineItems').load('@Url.Action("LoadTransferLineItems", new { TransferID = @ViewBag.TransferDetailID })', function () {
            $('#DivLoading').hide();
            $("#divDetailGridReorderPopup").dialog("close");
        });
    }

    function ShowHideTrfInOutItemDetailGrid(ctrl, transferInOutQtyDetailGUID,trfDetailGuid) {
        $('#DivLoading').show();
        var row = $('#tr_' + transferInOutQtyDetailGUID);
        var currentRow = row[0];
        var index = $.inArray(currentRow, trfInOutQtyOpenTrList);
        var transferInOutQtydtTable = $('#TransferInOutQtyDetail' + trfDetailGuid).dataTable();

        if (index === -1) {
            $('img', ctrl).attr('src', sImageUrl + "drildown_close.jpg");
            transferInOutQtydtTable.fnOpen(currentRow, fnFormatInOutItemDetails(transferInOutQtyDetailGUID), '');
            trfInOutQtyOpenTrList.push(currentRow);
        }
        else {
            $('img', ctrl).attr('src', sImageUrl + "drildown_open.jpg");
            transferInOutQtydtTable.fnClose(currentRow);
            trfInOutQtyOpenTrList.splice(index, 1);
            $('#DivLoading').hide();
        }
    }

    function fnFormatInOutItemDetails(transferInOutQtyDetailGUID) {
        var strOut = '';        
        $('#DivLoading').show();

        $.ajax({
            url: '@Url.Content("~/Transfer/GetTransferInOutItemDetail")',
            data: { 'TransferInOutQtyDetailGUID': transferInOutQtyDetailGUID},
            async: false,
            cache: false,
            dataType: "text",
            success: function (json) {
                strOut = json;
                $('#DivLoading').hide();
            },
            error: function (response) {
            }
        });

        return strOut;
    }
</script>
