@using eTurns.DTO.Resources;
@model  eTurns.DTO.UDFDTO
@{
    ViewBag.Title = ResUDFSetup.PageTitleUDFSetUp;
    
}

@*<h2>@ResUDFSetup.PageHeaderUDFSetUp</h2>*@

<div class="userHead">
    <div class="mainForm">
        <div class="editorForm">
            <h4>@ResUDFSetup.PageHeaderUDFSetUp</h4>
            <ul>
                <li>
                    <div class="editor-label">
                        @Html.Label(ResResourceEditor.Mdodules)
                    </div>
                    <div class="editor-field">
                        @*@Html.DropDownListFor(model => model.UDFTableName, new SelectList(ViewBag.UDFTableListName , "Key", "Value"), "", new { @class = "selectBox", @id = "dlUDFTableName" })*@
                        <select name="UDFTableName" id="dlUDFTableName">
                            
                            @foreach (var dow in ViewBag.UDFTableListName)
                            {
                                <option value="@dow.Key">@dow.Value[0]</option>
                            }
                        </select>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="UdfSetup">
     
    </div>
</div>
<script>
    $(document).ready(function () {
        $("select#dlUDFTableName option[value='companies']").remove();
        $("select#dlUDFTableName option[value='rooms']").remove();
        $("select#dlUDFTableName option[value='enterprises']").remove();
        $("select#dlUDFTableName").val("assetcategories");
        $('div.UdfSetup').load("GetUDFValue?currentTable=assetcategories", function () {

            $('#DivLoading').hide();
        });
        _Common.setGloblaSearch('global_filter', 'myDataTable');
    });

    $("select#dlUDFTableName").change(function () {
        $('#DivLoading').show();
        var currentTable = '';
        currentTable = $("select#dlUDFTableName option:selected").val();
        if ($.trim(currentTable) != '') {
          
            $('div.UdfSetup').load("GetUDFValue?currentTable=" + currentTable, function () {

                $('#DivLoading').hide();
            });
        }
        else
        {
            $('div.UdfSetup').html('');
            $('#DivLoading').hide();
        }
    });

</script>