@using eTurns.DTO.Resources;
@model  eTurns.DTO.UDFDTO
@{
    ViewBag.Title = ResUDFSetup.PageTitleUDFSetUp;
    List<RoomDTO> lstRooms;
    if (eTurnsWeb.Helper.SessionHelper.RoomList != null && eTurnsWeb.Helper.SessionHelper.RoomList.Count > 0)
    {
        //lstRooms = eTurnsWeb.Helper.SessionHelper.RoomList.Where(t => t.EnterpriseId == eTurnsWeb.Helper.SessionHelper.EnterPriceID && t.CompanyID == eTurnsWeb.Helper.SessionHelper.CompanyID && t.IsRoomActive == true).ToList();
        lstRooms = eTurnsWeb.Helper.SessionHelper.RoomList.Where(t => t.EnterpriseId == eTurnsWeb.Helper.SessionHelper.EnterPriceID && t.CompanyID == eTurnsWeb.Helper.SessionHelper.CompanyID).ToList();
    }
    else
    {
        lstRooms = new List<RoomDTO>();
    }
}

@*<h2>@ResUDFSetup.PageHeaderUDFSetUp</h2>*@

<div class="userHead">
    <div class="mainForm">
        <div class="editorForm">
            <h4>@ResUDFSetup.PageHeaderUDFSetUp</h4>
            <ul>
                <li>
                    <div class="editor-label">
                        @Html.Label(ResResourceEditor.Mdodules)
                    </div>
                    <div class="editor-field">
                        @*@Html.DropDownListFor(model => model.UDFTableName, new SelectList(ViewBag.UDFTableListName , "Key", "Value"), "", new { @class = "selectBox", @id = "dlUDFTableName" })*@
                        <select name="UDFTableName" id="dlUDFTableName">

                            @foreach (var dow in ViewBag.UDFTableListName)
                            {
                                <option value="@dow.Key">@dow.Value[0]</option>
                            }
                        </select>

                    </div>
                    <!--<div class="editor-label" style="width: 6%; float: left; padding: 1%">
                        @Html.Label(ResLayout.StockRoom)
                    </div>
                    <div class="editor-field" style="width: 19%; float: left; padding: 1%">
                        @Html.DropDownList("dlUDFRoomName", new SelectList(lstRooms, "ID", "RoomName", eTurnsWeb.Helper.SessionHelper.RoomID), new { @class = "selectBox" })-->
                    @*@Html.DropDownListFor(model => model.UDFTableName, new SelectList(ViewBag.UDFTableListName , "Key", "Value"), "", new { @class = "selectBox", @id = "dlUDFTableName" })*@
                    @*<select name="UDFRoomName" id="dlUDFRoomName" class="selectBox">

                            @foreach (var dow in ViewBag.UDFRoomListName)
                            {
                                <option value="@dow.Key">@dow.Value[0]</option>
                            }
                        </select>*@
                    <!--</div>
                    <div class="editor-field" style="width: 5%;  float: left; padding: 1%; ">-->
                    @*<input type="button" value="UploadFile" title="Upload File" id="btnUpload" class="CreateBtn" name="btnSave" onclick="return CheckFileName();" />*@
                    <!--<input type="button" id="btnAddRoomUDF" value="@ResCommon.Save" title="@ResImportMasters.Save" class="CreateBtn" />
                    </div>-->
                    </li>
            </ul>
        </div>

    </div>
    <div class="UdfSetup">

    </div>
</div>
<script>
    $(document).ready(function () {
        $("select#dlUDFTableName option[value='companies']").remove();
        $("select#dlUDFTableName option[value='rooms']").remove();
        $("select#dlUDFTableName option[value='enterprises']").remove();
        $("select#dlUDFTableName").val("assetcategories");
        $('div.UdfSetup').load("GetUDFValue?currentTable=assetcategories", function () {

            $('#DivLoading').hide();
        });
    });

    $("select#dlUDFTableName").change(function () {
        $('#DivLoading').show();
        var currentTable = '';
        currentTable = $("select#dlUDFTableName option:selected").val();
        if ($.trim(currentTable) != '') {

            $('div.UdfSetup').load("GetUDFValueEnterprise?currentTable=" + currentTable, function () {

                $('#DivLoading').hide();
            });
        }
        else {
            $('div.UdfSetup').html('');
            $('#DivLoading').hide();
        }
    });
</script>