@model eTurns.DTO.UserWiseRoomsAccessDetailsDTO
@using eTurns.DTO
@using eTurns.DTO.Resources
@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
}
<div class="mainForm">
    <div class="container">
        <ul class="tabs">
            <li class="active"><a href="#Roomtab2">@ResRoleMaster.SupportTablesPermissions</a></li>
            @*<li><a href="#Roomtab3">@ResRoleMaster.ModulePermissions</a></li>
            <li><a href="#Roomtab4">@ResRoleMaster.AdminPermissions</a></li>
            <li><a href="#Roomtab5">@ResRoleMaster.DefaultSettings</a></li>*@
        </ul>
        <div id="Roomtab2" class="tab_content">
            <div style="float: right">
                @Html.CheckBox("chkSelectAllTab3", false, new { onclick = "javascript:return SelectAllTabChk(this,1);" })
                @Html.Label(ResCommon.CheckALL)
            </div>
            <p>
                <table>
                    <tr>
                        <th>
                        </th>
                        <th style="width: 5px">
                        </th>
                        <th>
                            @ResRoleMaster.Permissions
                        </th>
                    </tr>
                    @if (Model.ModuleMasterList != null)
                    {
                        foreach (eTurns.DTO.UserRoleModuleDetailsDTO item in Model.ModuleMasterList)
                        {
                        <tr>
                            <td align="center">
                                @Html.CheckBoxFor(t => item.IsChecked, new { @class = "check-box", id = item.ModuleID + "_IsChecked" })
                            </td>
                            <td style="width: 5px">
                            </td>
                            <td>
                                @Html.DisplayFor(t => item.ModuleName)
                            </td>
                        </tr>
                        }
                    }
                </table>
            </p>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    //    var SelectedModuleList = new Array();
    //    var SelectedNonModuleList = new Array();

    //    var hdnSelectedModuleList = $("#hdnSelectedModuleList");
    //    var hdnSelectedNonModuleList = $("#hdnSelectedNonModuleList");


    $(document).ready(function () {

        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //        //On Click Event
        //        $("ul.tabs li").click(function () {
        //            $("ul.tabs li").removeClass("active"); //Remove any "active" class
        //            $(this).addClass("active"); //Add "active" class to selected tab
        //            $(".tab_content").hide(); //Hide all tab content
        //            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
        //            $(activeTab).fadeIn(); //Fade in the active content
        //            return true;
        //        });
    });

    function numberOnly() {
        if ((event.keyCode < 48) || (event.keyCode > 57))
            return false;
    }

    function SelectAllTabChk(Chked, TabNO) {
        if (TabNO == '1') {
            $("#Roomtab2 input:checkbox").each(function () {
                this.checked = Chked.checked;
            });
        }
    }
    function SelectRowColumnChk(Chked, TabNO) {

        if (Chked.id.toLowerCase().indexOf("rowall") != -1) {
            var chkModuleID = Chked.id.split("_");
            var Tabs = '';
            if (TabNO == '1') {
                var Tabs = $("#Roomtab2 input:checkbox");
            }
            else if (TabNO == '2') {
                var Tabs = $("#Roomtab3 input:checkbox");
            }
            Tabs.each(function () {
                var currentModuleID = this.id.split("_");
                if (currentModuleID[0] == chkModuleID[0]) {
                    this.checked = Chked.checked;
                }
            });
        }

        // ----- Select All Show Deleted,Archived and UDF permission --------
        //        SelectRowColumnChkAll(Chked, TabNO, "allshowdeleted", "showdeleted");
        //        SelectRowColumnChkAll(Chked, TabNO, "allshowarchived", "showarchived");
        //        SelectRowColumnChkAll(Chked, TabNO, "allshowudf", "showudf");
        // ----- Select All Show Deleted,Archived and UDF permission --------

    }

    function SelectRowColumnChkAll(Chked, TabNO, Allchkname, chkname) {
        if (Chked.id.toLowerCase().indexOf(Allchkname) != -1) {
            var Tabs = '';
            if (TabNO == '1') {
                var Tabs = $("#Roomtab2 input:checkbox");
            }
            else if (TabNO == '2') {
                var Tabs = $("#Roomtab3 input:checkbox");
            }

            Tabs.each(function () {
                var currentModuleID = this.id.split("_");
                if (currentModuleID.length > 1) {
                    if (currentModuleID[1].toLowerCase() == chkname) {
                        this.checked = Chked.checked;
                    }
                }
            });
        }
    }

    function SelectViewPermission(Chked, TabNO) {
        var SelectedModuleID = Chked.id.split("_");

        var hasView = false;
        var hasDelete = false;
        var hasUpdate = false;
        var hasInsert = false;

        var Viewbtn = null;

        var Tabs = '';
        if (TabNO == '1') {
            var Tabs = $("#Roomtab2 input:checkbox");
        }
        else if (TabNO == '2') {
            var Tabs = $("#Roomtab3 input:checkbox");
        }

        Tabs.each(function () {
            var currentModuleID = this.id.split("_");
            if (currentModuleID.length > 1) {
                if (currentModuleID[0] == SelectedModuleID[0]) {

                    if (Chked.checked == true && currentModuleID[1].toLowerCase() == 'view') {
                        Viewbtn = this;
                        this.checked = true;
                        this.disabled = true;
                    }
                }
            }
        });
    }   


</script>
