@model List<OLEDBConnectionInfo>

@{
    ViewBag.Title = "BuildConnection";
}
<div class="userListingWrapper">
    <h2>
        Settings
    </h2>
    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="display: block;">
            @using (Html.BeginForm("BuildConnectionSave", "SapphireAdmin", FormMethod.Post, new { id = "frmBuildConnection" }))
            {
                @Html.AntiForgeryToken()
                <div class="userHead">
                    <div class="editorForm" style="width:1400px; overflow-x:scroll;">
                        <table class="display dataTable">
                            <tr>
                                <th>
                                    ConectionType
                                </th>
                                <th>
                                    APP
                                </th>
                                <th>
                                    ApplicationIntent
                                </th>
                                <th>
                                    Database
                                </th>
                                <th>
                                    MarsConn
                                </th>
                                <th>
                                    PacketSize
                                </th>
                                <th>
                                    PWD
                                </th>
                                <th>
                                    Server
                                </th>
                                <th>
                                    Timeout
                                </th>
                                <th>
                                    Trusted_Connection
                                </th>
                                <th>
                                    UID
                                </th>
                                <th>
                                    FailoverPartner
                                </th>
                                <th>
                                    PersistSensitive
                                </th>
                                <th>
                                    MultiSubnetFailover
                                </th>
                            </tr>

                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(modelItem => Model[i].ID)
                                        @Html.DisplayFor(modelItem => Model[i].ConectionType)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].APP)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].ApplicationIntent)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].AppDatabase)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].MarsConn)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].PacketSize)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].PWD)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].Server)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].Timeout)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].Trusted_Connection)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].UID)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].FailoverPartner)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].PersistSensitive)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(modelItem => Model[i].MultiSubnetFailover)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>


                    <div class="editorForm" style="width: 75%">
                        <ul>
                            <li>
                                <div class="editor-label">
                                    &nbsp;
                                </div>
                                <div class="BtnBlockform">
                                    <input type="submit" value="@eTurns.DTO.Resources.ResCommon.Save" id="btnSave" class="CreateBtn" />
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            }


        </div>
    </div>
</div>

