<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandOrderNarrowSearch">
        <img alt="" src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseItemWeightPerPieceNarrowSearch">
        <img alt="" src="~/Content/images/closed.png" />
    </a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="NarrowUL">
        <li>
            <select id="ItemWeightCreatedBy" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemWeightCreatedByCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="ItemWeightUpdatedBy" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="ItemWeightUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="ItemWeightDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ItemWeightDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancItemWeightDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="ItemWeightDateCTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancItemWeightDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="PollDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ItemWeightDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancItemWeightDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="ItemWeightDateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancItemWeightDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <input id="ItemWeightNarroSearchClear" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />
</div>
<script type="text/javascript">

    var CreatedBySelectedValues = '';
    var UpdatedBySelectedValues = '';
    //var QLUDF1NarrowValues = ''
    //var QLUDF2NarrowValues = ''
    //var QLUDF3NarrowValues = ''
    //var QLUDF4NarrowValues = ''
    //var QLUDF5NarrowValues = ''
    //var isFromQLNarrowSearchClear = false;
    $(document).ready(function () {


        $('#ItemWeightDateCFrom').blur(function () {
        }).datepicker({
            dateFormat: RoomDateJSFormat, changeMonth: true,
            changeYear: true
        });
        $('#ItemWeightDateCTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ItemWeightDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ItemWeightDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

        var NarrowSearchState = getCookie('NarrowSearchState');
        if (NarrowSearchState == 'Expanded') {
            CollapseItemWeightPerPieceNarrowSearch();
        }
        else {
            ExpandOrderNarrowSearch();
        }

        $('.IteamBlock').css('width', '99.5%');

        FillNarrowSearchData()

    });


    $('#ItemWeightDateCFrom,#ItemWeightDateCTo').change(function () {
        var DateCFromValid = true;//Date.isValid($('#ItemWeightDateCFrom').val(),format);
        var DateCToValid = true;//Date.isValid($('#ItemWeightDateCTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ItemWeightDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ItemWeightDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }

        if (DateCFromValid && DateCToValid) {
            $("#txtOrderFilter").val('');
            if (!isFromNarrowSearchClear) {
                DoItemWeightNarrowSearch();
            }
        }
        else {
            if (!DateCFromValid)
                $('#ItemWeightDateCFrom').val('');
            if (!DateCToValid)
                $('#ItemWeightDateCTo').val('');
        }
    });

    $('#ItemWeightDateUFrom,#ItemWeightDateUTo').change(function () {


        var DateUFromValid = true;// Date.isValid($('#ItemWeightDateUFrom').val(),format);
        var DateUToValid = true;//Date.isValid($('#ItemWeightDateUTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ItemWeightDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateUFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ItemWeightDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
            $("#txtOrderFilter").val('');
            if (!isFromNarrowSearchClear) {
                DoItemWeightNarrowSearch();
            }

        }
        else {
            if (!DateUFromValid)
                $('#ItemWeightDateUFrom').val('');
            if (!DateUToValid)
                $('#ItemWeightDateUTo').val('');
        }
    });

    $('#ancItemWeightDateCFrom').click(function () {
        $('#ItemWeightDateCFrom').focus();
    });
    $('#ancItemWeightDateCTo').click(function () {
        $('#ItemWeightDateCTo').focus();
    });
    $('#ancItemWeightDateUFrom').click(function () {
        $('#ItemWeightDateUFrom').focus();
    });
    $('#ancItemWeightDateUTo').click(function () {
        $('#ItemWeightDateUTo').focus();
    });

    $('#ItemWeightDateCreatedClear').click(function () {
        if ($('#ItemWeightDateCFrom').val() != '' || $('#DateCTo').val() != '') {
            $('#ItemWeightDateCFrom').val('');
            $('#ItemWeightDateCTo').val('');
            //NarrowSearchInGrid('');
            if (!isFromNarrowSearchClear) {
                DoItemWeightNarrowSearch();
            }
        }
    });
    $('#PollDateUpdatedClear').click(function () {
        if ($('#ItemWeightDateUFrom').val() != '' || $('#DateUTo').val() != '') {
            $('#ItemWeightDateUFrom').val('');
            $('#ItemWeightDateUTo').val('');
            //NarrowSearchInGrid('');
            if (!isFromNarrowSearchClear) {
                DoItemWeightNarrowSearch();
            }

        }
    });

    $('#ExpandOrderNarrowSearch').click(function (e) {
        ExpandOrderNarrowSearch();
    });
    $('#CollapseItemWeightPerPieceNarrowSearch').click(function (e) {
        CollapseItemWeightPerPieceNarrowSearch();
    });


    $('#ItemWeightNarroSearchClear').click(function () {
        isFromNarrowSearchClear = true;
        $('#ItemWeightDateCFrom').val('');
        $('#ItemWeightDateCTo').val('');
        $('#ItemWeightDateUFrom').val('');
        $('#ItemWeightDateUTo').val('');
        $("#ItemWeightCreatedBy").multiselect("uncheckAll");
        $("#ItemWeightCreatedByCollapse").html('');
        $("#ItemWeightUpdatedBy").multiselect("uncheckAll");
        $("#ItemWeightUpdatedByCollapse").html('');

        $("#OrderStatus").multiselect("uncheckAll");
        $("#OrderStatusCollapse").html('');
        $("#OrderRequiredDate").multiselect("uncheckAll");
        $("#OrderRequiredDateCollapse").html('');
        $("#OrderSupplier").multiselect("uncheckAll");
        $("#OrderSupplierCollapse").html('');
        if ($('#global_filter').val() != '') $('#global_filter').val('');
        //$("select[name='UDFS']").each(function (index) {
        //    $(this).multiselect("uncheckAll");
        //});

        //$("div[name='CUDFS']").each(function (index) {
        //    $(this).html('');
        //});
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        isFromNarrowSearchClear = false;
        $('input[type="search"]').val('').trigger('keyup');
        DoItemWeightNarrowSearch();
    });

    function clearSearchFilterIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'txtOrderFilter')
            $("#txtOrderFilter").val('');
    }

    function ExpandOrderNarrowSearch() {
        var w = $('.IteamBlock').css("width");
        $('.IteamBlock').show();
        $('.IteamBlock').stop().animate({
            width: "99.5%"
        }, 0, function () {
            $('.userContent').css({ "width": "80.5%", "margin": "0" });
            $('#myDataTable_length').css({ "left": "0px" });
            $('#myDataTable_paginate').css({ "left": "145px" });
            $('.leftopenContent').css({ "display": "none" });
            setCookie('NarrowSearchState', 'Collapsed');
        });
        $('#divNarrowSearch').css('width', '18%');
    }

    function CollapseItemWeightPerPieceNarrowSearch() {
        $('.IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('.IteamBlock').hide();
            $('.userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#myDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#myDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('.leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchState', 'Expanded');
        });
        $('#divNarrowSearch').css('width', '0%');
    }

    function FillNarrowSearchData() {
        $.ajax({
            url: '@Url.Content("~/PollRequest/GetItemWeightPerPieceNarrowSearchData")',
            data: { 'IsDeleted': _IsDeleted, 'IsArchived': _IsArchived},
            dataType: 'json',
            success: function (response) {
                if (response.Success && response.Data != null) {
                    BindDropDownList(response.Data.CreatedByList, 'ItemWeightCreatedBy', 'ItemWeightCreatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby');
                    BindDropDownList(response.Data.UpdatedByList, 'ItemWeightUpdatedBy', 'ItemWeightUpdatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby');
                }
            },
            error: function (xhr) {
                //alert(xhr);
                console.log(xhr);
            }
        });
    }


    function GetOptions(arrData, isUDF) {
        var options;
        if (isUDF) {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].Text + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });
        }
        else {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].ID + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });

        }
        return options;
    }

    function BindDropDownList(arrData, ddlName, ddlCollapseName, displayName) {
        $("#" + ddlName).empty();
        $("#" + ddlName).multiselect('destroy');
        $("#" + ddlName).multiselectfilter('destroy');
        $("#" + ddlName).append(GetOptions(arrData, (ddlName.indexOf('QLUDF') != -1)));
        $("#" + ddlName).multiselect(
                  { noneSelectedText: displayName, selectedList: 5,
                      selectedText: function (numChecked, numTotal, checkedItems) {
                          return displayName + ' ' + numChecked + ' ' + selected;
                      }
                  },
                {
                    checkAll: function (ui) {
                        $("#" + ddlCollapseName).html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#" + ddlCollapseName).text().indexOf(ui.target[i].text) == -1) {
                                $("#" + ddlCollapseName).append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#" + ddlCollapseName).show();
                    }
                }).bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#" + ddlCollapseName).text().indexOf(ui.text) == -1) {
                            $("#" + ddlCollapseName).append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#" + ddlCollapseName).html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#" + ddlCollapseName).html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#" + ddlCollapseName).html(text);
                        }
                        else
                            $("#" + ddlCollapseName).html('');
                    }
                    switch ($(this).attr('id')) {
                        case 'ItemWeightCreatedBy':
                            CreatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'ItemWeightUpdatedBy':
                            UpdatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                    }

                    if ($("#" + ddlCollapseName).text().trim() != '')
                        $("#" + ddlCollapseName).show();
                    else
                        $("#" + ddlCollapseName).hide();


                    if ($("#" + ddlCollapseName).find('span').length <= 2) {
                        $("#" + ddlCollapseName).scrollTop(0).height(50);
                    }
                    else {
                        $("#" + ddlCollapseName).scrollTop(0).height(100);
                    }
                    if (!isFromNarrowSearchClear) {
                        DoItemWeightNarrowSearch();
                    }
                }).multiselectfilter();

    }

    function DoItemWeightNarrowSearch() {

     //   clearSearchFilterIfNotInFocus();

        var narrowSearchValues = '';

        if (CreatedBySelectedValues == undefined || CreatedBySelectedValues.length <= 0)
            CreatedBySelectedValues = '';

        if (UpdatedBySelectedValues == undefined || UpdatedBySelectedValues.length <= 0)
            UpdatedBySelectedValues = '';


        narrowSearchValues += CreatedBySelectedValues + "~";
        narrowSearchValues += UpdatedBySelectedValues + "~";

        if ($('#ItemWeightDateCFrom').val() != '' && $('#ItemWeightDateCTo').val() != '') {
            narrowSearchValues += ($('#ItemWeightDateCFrom').val()) + "," + ($('#ItemWeightDateCTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        if ($('#DateUFrom').val() != '' && $('#ItemWeightDateUTo').val() != '') {
            narrowSearchValues += ($('#ItemWeightDateUFrom').val()) + "," + ($('#ItemWeightDateUTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }


      //  if (narrowSearchValues.replace(/~/g, '') == '') {
      //      narrowSearch = '';
     //   }
     //   else {
            var searchtext = $("#global_filter").val().replace(/'/g, "''");
            narrowSearch = "[###]" + narrowSearchValues + "[###]" + searchtext;
     //   }

        //fnFilterOrderList(narrowSearch);
        $('#myDataTable').dataTable().fnFilter(narrowSearch, null, null, null)
    }




</script>
