@model eTurns.DTO.eTrunsPub
@{
    ViewBag.Title = "BuildSetup";
}
<style>
    table#FolderTable tbody tr, table#FilesTable tbody tr {
        padding-left: 50px;
    }
</style>
<h2>BuildSetup</h2>
@using (Html.BeginForm("BuildSetup", "EnterpriseAdmin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div style="padding-left:100px;width:800px;">
        <input type="submit" id="Submit Query" style="float:left;"
               value="Submit Query" />
        @for (var productIndex = 0; productIndex < Model.Projects.Count(); productIndex++)
        {

            <div style="padding-top:100px;margin-top:100px;" id="Project">
                <table style="padding-left:50px;width:400px;float:left;margin-left:50px;border:1px;border:solid;" id="mainTable">
                    <tr>
                        <td>
                            Project:
                            Name:

                            @Html.TextBoxFor(model => model.Projects[productIndex].Name, new { @style = "width:250px;border:0.5px;border:groove;float:right;" })
                            <table id="FilesTable">
                                <thead>
                                    <tr>
                                        <td>
                                            Files
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>

                                    @*@foreach (FileOrFolderInfo f in p.Files)*@

                                    @for (var FileCount = 0; (Model.Projects[productIndex].Files != null && FileCount < Model.Projects[productIndex].Files.Count()); FileCount++)
                                    {


                                        <tr style="margin-top:10px;padding-top:10px;">
                                            <td>
                                                Destination Path :
                                                @Html.TextBoxFor(model => model.Projects[productIndex].Files[FileCount].DestPath, new { @style = "width:250px;border:0.5px;border:groove;float:right;" })

                                            </td>

                                        </tr>

                                        <tr style="margin-top:10px;padding-top:10px;">

                                            <td>
                                                Source Path:
                                                @Html.TextBoxFor(model => model.Projects[productIndex].Files[FileCount].SourcePath, new { @style = "width:250px;border:0.5px;border:groove;float:right;" })
                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                            <table id="FolderTable">
                                <thead>
                                    <tr>
                                        <td>
                                            Folders
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (FileOrFolderInfo f in p.Folders)*@
                                    @for (var FolderCount = 0; (Model.Projects[productIndex].Folders != null && FolderCount < Model.Projects[productIndex].Folders.Count()); FolderCount++)
                                    {

                                        <tr style="margin-top:10px;padding-top:10px;">
                                            <td>
                                                Destination Path:
                                                @Html.TextBoxFor(model => model.Projects[productIndex].Folders[FolderCount].DestPath, new { @style = "width:250px;border:0.5px;border:groove;float:right;" })
                                            </td>
                                        </tr>
                                        <tr style="margin-top:10px;padding-top:10px;">
                                            <td>
                                                Source Path :
                                                @Html.TextBoxFor(model => model.Projects[productIndex].Folders[FolderCount].SourcePath, new { @style = "width:250px;border:0.5px;border:groove;float:right;" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table id="OtherPorjectFields">
                                <tr style="margin-top:10px;padding-top:10px;">
                                        <td>
                                            IncludeInDeployment:
                                            
                                            @Html.CheckBoxFor(model =>model.Projects[productIndex].IncludeInDeployment, new { @style = "width:250px;border:0.5px;border:groove;float:right;" })
                                        </td>
                                    </tr>
                                <tr style="margin-top:10px;padding-top:10px;">
                                    <td>
                                        ProjectType:
                                        @*<input type="text" style="width:400px;" id="inputProjectType" value="@p.ProjectType" />*@
                                        @Html.TextBoxFor(model => model.Projects[productIndex].ProjectType, new { @style = "width:250px;border:0.5px;border:groove;float:right;" })
                                    </td>
                                </tr>
                                <tr style="margin-top:10px;padding-top:10px;">
                                    <td>
                                        WebWinSvcAppName:
                                        @*<input type="text" style="width:400px;" id="inputWebWinSvcAppName" value="@p.WebWinSvcAppName" />*@
                                        @Html.TextBoxFor(model => model.Projects[productIndex].WebWinSvcAppName, new { @style = "width:300px;border:0.5px;border:groove;float:right;" })
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
    <input type="submit" id="Submit Query" style="float:left;clear:both;"
           value="Submit Query" />
    //onclick = "return saveBuildSetup();"
}
