@model IList<eTurns.DTO.ToolAssetPullMasterDTO>

@{
    string viewRight = "ViewOnly";
    //string viewRight = "NoRight";
    //string viewRight = "ViewOnly";

    bool IsAllowOverwriteLotOrSerial = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowOverwriteLotOrSerial, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);
    bool IsAllowToEnterLotOrSerialInBlankBox = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AllowToEnterLotOrSerialInBlankBox, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);
    bool IsViewOnlyLotOrSerial = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.ViewOnlyLotOrSerial, eTurnsWeb.Helper.SessionHelper.PermissionType.AllowPull);

    if (IsAllowOverwriteLotOrSerial)
    {
        viewRight = "ViewOverwrite";
    }
    else if (IsAllowToEnterLotOrSerialInBlankBox)
    {
        viewRight = "NoRight";
    }
    else if (IsViewOnlyLotOrSerial)
    {
        viewRight = "ViewOnly";
    }
}

@if (Model != null && Model.Count > 0)
{
    <div style="width: 100%; padding-bottom: 10px;">
        <input type="button" class="btnGeneral" value="CheckOut All" id="btnPullAllPopUp" name="btnPullAllPopUp" />
        @*<input type="button" class="btnGeneral" value="Validate All" id="btnvalidateAll" name="btnvalidateAll" />*@
    </div>
    foreach (ToolAssetPullMasterDTO objToolAssetPullMasterDTO in Model)
    {
        string jsonToolAssetPullMasterDTO = Newtonsoft.Json.JsonConvert.SerializeObject(objToolAssetPullMasterDTO);

        <div style="padding: 10px; margin-bottom: 10px; border: 1px solid red;" id="divItem_@(objToolAssetPullMasterDTO.ToolGUID)">
            <input type="hidden" id="hdnPullIds_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)" value="PullIds_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)" />
            <table style="width: 100%" class="display" id="tblItemPullheader_@(objToolAssetPullMasterDTO.ToolGUID)">
                <thead>
                    <tr>
                        <th>

                            @if (objToolAssetPullMasterDTO.ToolGUID.GetValueOrDefault(Guid.Empty) != Guid.Empty)
                            {
                                <input type="hidden" id="hdnToolAssetPullMasterDTO_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)" value="@jsonToolAssetPullMasterDTO" name="hdnToolAssetPullMasterDTO" />
                            }
                            else
                            {
                                <input type="hidden" id="hdnToolAssetPullMasterDTO_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)" value="@jsonToolAssetPullMasterDTO" name="hdnToolAssetPullMasterDTO" />
                            }

                             
                                <span>
                                    @ResToolMaster.ToolName
                                </span>
                             
                        </th>
                        <th>
                            @ResItemMaster.TrackingDetails
                        </th>
                        
                            <th>

                                <span>
                                    @ResToolAssetPullMaster.BinID
                                </span>

                            </th>
                        <th>
                            <span>Quantity</span>
                        </th>
                        <th>
                            <span>@ResToolAssetPullMaster.PullQuantity</span>
                        </th>

                        <th>
                            
                                <span>@ResToolMaster.Technician</span>
                        </th>

                        <th>
                             
                                <span>@ResToolCheckInOutHistory.CheckOutUDF1</span>
                             
                        </th>
                        <th>
                            
                                <span>@ResToolCheckInOutHistory.CheckOutUDF2</span>
                             
                        </th>
                        <th>
                            
                                <span>@ResToolCheckInOutHistory.CheckOutUDF3</span>
                            
                        </th>
                        <th>
                            
                                <span>@ResToolCheckInOutHistory.CheckOutUDF4</span>
                             
                        </th>
                        <th>
                          
                                <span>@ResToolCheckInOutHistory.CheckOutUDF5</span>
                             
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                           
                                <span>@objToolAssetPullMasterDTO.ToolName</span>
                             
                        </td>
                        <td>
                            @*@if (objToolAssetPullMasterDTO.LotNumberTracking)
                            {
                                <text>Lot Number Tracking</text>
                                <input type='hidden' id='hdnTrackingType_@(objToolAssetPullMasterDTO.ToolGUID)' value='LotNumberTracking' />
                            }
                            else*@ 
                            @if (objToolAssetPullMasterDTO.SerialNumberTracking)
                            {
                                <text>Serial Number Tracking</text>
                                <input type='hidden' id='hdnTrackingType_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)' value='SerialNumberTracking' />
                            }
                            @*else if (objToolAssetPullMasterDTO.DateCodeTracking)
                            {
                                <text>Date Code Tracking</text>
                                <input type='hidden' id='hdnTrackingType_@(objToolAssetPullMasterDTO.ToolGUID)' value='DateCodeTracking' />
                            }*@
                            else
                            {
                                <text>No tracking</text>
                                <input type='hidden' id='hdnTrackingType_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)' value='NoTracking' />
                            }
                        </td>
                       
                            <td>
                                <span>@objToolAssetPullMasterDTO.Location</span>
                            </td>
                        <td>
                            <span>@objToolAssetPullMasterDTO.Quantity</span>
                        </td>
                        <td>
                               <input type='text' value='@objToolAssetPullMasterDTO.PullQuantity' id='txtPullQuantity_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)' name='txtPullQuantity_@(objToolAssetPullMasterDTO.ToolGUID)' class='text-boxinner pull-quantity' />
                        </td>
                        <td>
                              <span>@objToolAssetPullMasterDTO.Technician</span>
                        </td>
                        <td>
                                <span>@objToolAssetPullMasterDTO.ToolCheckoutUDF1</span>
                        </td>
                        <td>
                                <span>@objToolAssetPullMasterDTO.ToolCheckoutUDF2</span>
                        </td>
                        <td>
                                <span>@objToolAssetPullMasterDTO.ToolCheckoutUDF3</span>
                        </td>
                        <td>
                                <span>@objToolAssetPullMasterDTO.ToolCheckoutUDF4</span>
                        </td>
                        <td>
                                <span>@objToolAssetPullMasterDTO.ToolCheckoutUDF5</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
            @if (objToolAssetPullMasterDTO.PullQuantity > 0)
            {
                string htmltableName = "tblToolPull_" + objToolAssetPullMasterDTO.ToolGUID + "_" + objToolAssetPullMasterDTO.RequisitionDetailGUID.ToString();
                if (objToolAssetPullMasterDTO.ToolGUID.GetValueOrDefault(Guid.Empty) != Guid.Empty)
                {
                    <table style="width: 100%" class="display tbl-item-pull" id="@htmltableName">
                        <thead>
                            <tr>
                                @*
                                    <th style="text-align: left;">
                                        <input type="checkbox" name="chkHeader" id="chkHeader" />
                                    </th>*@
                                <th style="text-align: left;">
                                    @*@if (objToolAssetPullMasterDTO.LotNumberTracking)
                                    {
                                        @eTurns.DTO.ResItemLocationDetails.LotNumber
                                    }
                                    else*@
                                    @if (objToolAssetPullMasterDTO.SerialNumberTracking)
                                    {
                                        @eTurns.DTO.ResItemLocationDetails.SerialNumber
                                    }
                                    @*else
                                    {
                                        @eTurns.DTO.ResToolAssetPullMaster.LotSrnumber
                                    }*@
                                </th>
                                <th style="text-align: left;">
                                    @eTurns.DTO.ResToolAssetPullMaster.BinID
                                </th>
                                <th style="text-align: left;">
                                    @eTurns.DTO.ResToolAssetPullMaster.QuantityAvailable
                                </th>
                                <th>
                                    @eTurns.DTO.ResToolAssetPullMaster.PullQuantity
                                </th>
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.ReceivedDate
                                </th>
                                <th>
                                    @eTurns.DTO.ResItemLocationDetails.ExpirationDate
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
        <script type="text/javascript">
                    var IsCheckViewRight = true;
                    var objPullItemDTO = {
                        tableID: '@htmltableName',
                        //ToolGUID: '@objToolAssetPullMasterDTO.ToolGUID',
                        ToolGUID: '@objToolAssetPullMasterDTO.ToolGUID',
                        BinID: '@objToolAssetPullMasterDTO.BinID',
                        RequisitionDetailGUID: '@objToolAssetPullMasterDTO.RequisitionDetailGUID',
                        PullQuantity: '@objToolAssetPullMasterDTO.PullQuantity',

                        LotNumberTracking: '@objToolAssetPullMasterDTO.LotNumberTracking',
                        SerialNumberTracking: '@objToolAssetPullMasterDTO.SerialNumberTracking',
                        DateCodeTracking: '@objToolAssetPullMasterDTO.DateCodeTracking',
                        IsForMaintenance: '@objToolAssetPullMasterDTO.IsForMaintenance',
                        ViewRight: '@viewRight',
                    };
                    var MsgNoLocationToAdd = '@ResPullMaster.MsgNoLocationToAdd';
                    PrepareToolPullDataTable(objPullItemDTO);

        </script>
            }
            <div style="width: 100%; padding-top: 10px;">
                @if (viewRight != "ViewOnly" && objToolAssetPullMasterDTO.ToolGUID.GetValueOrDefault(Guid.Empty) != Guid.Empty && objToolAssetPullMasterDTO.BinID.GetValueOrDefault(0) > 0)
                {
                    <input type="button" class="btnGeneral" value="Add" id="btnLoadMoreLots_@(objToolAssetPullMasterDTO.ToolGUID)" name="btnLoadMoreLots" />
                    <input type="button" class="btnGeneral" value="Delete" id="btnDeleteLots_@(objToolAssetPullMasterDTO.ToolGUID)" name="btnDeleteLots" />
                }

                
                    <input type="button" class="btnGeneral" value="Check Out" id="btnToolPopup_@(objToolAssetPullMasterDTO.ToolGUID)" name="btnToolPopup" />
                 

                @*<input type="button" class="btnGeneral" value="Validate" id="btnValidateThis_@(objToolAssetPullMasterDTO.ToolGUID)" name="btnValidateThis" />*@
                <input type="hidden" name="hdnSelectedId" id="hdnSelectedId_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)" />
                <input type="hidden" name="hdnCurrentLoadedIds" id="hdnCurrentLoadedIds_@(objToolAssetPullMasterDTO.ToolGUID)_@(objToolAssetPullMasterDTO.RequisitionDetailGUID)" />
            </div>
        </div>
    }
}
<table style="width: 100%">
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">
            <input type="button" class="btnGeneral" value="CheckOut All" id="btnPullAllPopUp1" name="btnToolCheckOutAllPopUp" />
            <input type="button" class="btnGeneral" value="Cancel" id="btnCancel1" name="btnCancelToolCheckOutPopup" />
        </td>
    </tr>
</table>
<div class="dialog" id="dlgCommonErrorMsgPopup" style="display: none; width: 600px;">
    <div class="inner" style="width: 600px; max-height: 300px; overflow: scroll;">
        <p class="text" id="pErrMessage" style="text-align: left; padding-left: 10px;">
        </p>
        <p id="pOkbtn" class="text" style="text-align: center; padding-left: 10px; display: none;">
            <a href="#" class="no" onclick="closeMessageModalInPopup()">
                <img src="~/Content/images/yes.png" alt="@eTurns.DTO.Resources.ResMessage.InformOk" />@eTurns.DTO.Resources.ResMessage.InformOk
            </a>
        </p>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        if ('@viewRight' == "ViewOnly") {
            $("input[type='text'][name^='txtPullQuantity_']").keypress(function () {
                return false;
            });
        }

    });

    function closeMessageModalInPopup() {
        $.modal.impl.close();
    }

</script>
