@model eTurns.DTO.ToolMasterDTO
@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";

    bool isInsert = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Kits, eTurnsWeb.Helper.SessionHelper.PermissionType.Insert);
    bool isUpdate = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.Kits, eTurnsWeb.Helper.SessionHelper.PermissionType.Update);

    string costForm = "N";

    if (!string.IsNullOrEmpty(eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits))
    {
        costForm = "N" + eTurnsWeb.Helper.SessionHelper.CurrencyDecimalDigits;
    }
    Double AvailableQuantity = 0;
    Double CheckOutQuantity = 0;
    Double CheckOutMQuantity = 0;

    AvailableQuantity = Model.Quantity - ((Model.CheckedOutQTY ?? 0) + (Model.CheckedOutMQTY ?? 0));
    CheckOutQuantity = (Model.CheckedOutQTY ?? 0);
    CheckOutMQuantity = (Model.CheckedOutMQTY ?? 0);
    string CurrencySymbol = "";
    if (eTurnsWeb.Helper.SessionHelper.CurrencySymbol != null
        && !string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.CurrencySymbol))
    {
        CurrencySymbol = eTurnsWeb.Helper.SessionHelper.CurrencySymbol;
    }
}
@using (Ajax.BeginForm("SaveToolKitHeader", "Kit", new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess", InsertionMode = InsertionMode.Replace, OnFailure = "onFailure" }, new { @id = "frmKitMaster" }))
{
    @Html.AntiForgeryToken()
    <div class="userHead">
        @Html.ValidationSummary(true)
        @if (Model.ID > 0)
        {
            <div class="infoBlock">
                <ul>
                    <li>
                        <label for="RoomName">
                            @Html.LabelFor(model => model.RoomName)
                        </label>
                        : <span>@(Model.RoomName)</span>
                    </li>
                    <li>
                        <label for="RoomName">
                            @Html.LabelFor(model => model.Created)
                        </label>
                        : <span>@(Model.ReceivedOnDateWeb)</span>
                    </li>
                    <li>
                        <label for="RoomName">
                            @Html.LabelFor(model => model.CreatedByName)
                        </label>
                        : <span>@(Model.CreatedByName)</span>
                    </li>
                    <li>
                        <label for="RoomName">
                            @Html.LabelFor(model => model.Updated)
                        </label>
                        : <span>@(Model.ReceivedOnDate)</span>
                    </li>
                    <li style="border: none">
                        <label for="RoomName">
                            @Html.LabelFor(model => model.UpdatedByName)
                        </label>
                        : <span>@(Model.UpdatedByName)</span>
                    </li>
                </ul>
            </div>
        }
        <div style="clear: both; padding-top: 15px">
            <a id="ancHideShowContent" style="float: left; margin-top: 8px; margin-left: 10px">
                <img src="/Content/images/drildown_open.jpg" alt="" />
            </a>
            <div class="infoBlock" style="width: 95%; margin-left: 10px; background: none">
                <div id="CollapsedContent" class="edtForm">
                    <ul>
                        <li style="border-right: none;">
                            <label for="label" style="width: 100px; float: left; padding: 1.3% 0;">
                                @eTurns.DTO.ResKitToolMaster.ToolName <em style="color: Red">*</em>
                            </label>
                            @Html.TextBoxFor(model => model.ToolName, new { @id = "txtToolName", @class = "text-box disableBack", @style = "background:white" })
                            <br />

                            <span>
                                @Html.HiddenFor(model => model.ID, new { id = "hiddenID" })
                                @Html.HiddenFor(model => model.GUID, new { id = "hiddenGUID" })
                                @Html.HiddenFor(model => model.Created)
                                @Html.HiddenFor(model => model.Updated)
                                @Html.HiddenFor(model => model.CreatedBy)
                                @Html.HiddenFor(model => model.LastUpdatedBy)
                                @Html.HiddenFor(model => model.CompanyID)
                                @Html.HiddenFor(model => model.Room)
                                @Html.HiddenFor(model => model.RoomName)
                                @Html.HiddenFor(model => model.CreatedByName)
                                @Html.HiddenFor(model => model.UpdatedByName)
                                @Html.HiddenFor(model => model.IsDeleted)
                                @Html.HiddenFor(model => model.IsArchived)
                                @*@Html.HiddenFor(model => model.IsKitBuildAction)
                                    @Html.HiddenFor(model => model.IsKitBreakAction)
                                    @Html.HiddenFor(model => model.IsNotAbleToDelete)*@
                                @Html.HiddenFor(model => model.ReceivedOn)
                                @Html.HiddenFor(model => model.ReceivedOnWeb)
                                @Html.HiddenFor(model => model.AddedFrom)
                                @Html.HiddenFor(model => model.EditedFrom)
                            </span>
                        </li>
                    </ul>
                    @if (Model.ID > 0)
                    {
                        <ul>
                            <li style="border-right: none;">
                                <label for="label" style="width: 90px; float: left; padding: 1.3% 0;">
                                    @ResKitToolMaster.AvailableQty
                                </label>
                                <span style="padding-left: 10px;">
                                    <input type="text" value="@AvailableQuantity" readonly="readonly" class="text-box text-box disableBack" style="width: 50px;" id="txtAQ" />
                                </span>
                            </li>

                            <li style="border-right: none;">
                                <label for="label" style="width: 90px; float: left; padding: 1.3% 0;">
                                    @eTurns.DTO.ResKitToolMaster.AvailableWIPKit
                                </label>
                                <span>
                                    @Html.TextBoxFor(model => model.AvailableWIPKit, eTurnsWeb.Helper.SessionHelper.QuantityFormat, new { @id = "txtAWIP", @readonly = "readonly", @class = "text-boxQuantityFormat text-box disableBack", @style = "width: 50px;" })
                                </span>
                            </li>
                            <li style="border-right: none;">
                                <label for="label" style="width: 90px; float: left; padding: 1.3% 0;">
                                    @eTurns.DTO.ResKitToolMaster.AvailableInGeneralInventory
                                </label>
                                <span>
                                    @Html.TextBoxFor(model => model.AvailableInGeneralInventory, eTurnsWeb.Helper.SessionHelper.QuantityFormat, new { @id = "txtAQGI", @readonly = "readonly", @class = "text-boxQuantityFormat text-box disableBack", @style = "width: 50px;" })
                                </span>
                            </li>
                        </ul>
                            <ul>
                                <li style="border-right: none;">
                                    <label for="label" style="width: 90px; float: left; padding: 1.3% 0;">
                                        @eTurns.DTO.ResKitToolMaster.TotalQuantity
                                    </label>
                                    <span style="padding-left: 10px;">
                                        @Html.TextBoxFor(model => model.AvailableKitQuantity, eTurnsWeb.Helper.SessionHelper.QuantityFormat, new { @class = "text-boxQuantityFormat text-box disableBack", maxlength = 10, @style = "width: 50px;" ,@id= "txtAvailableToolQty" })
                                    </span>
                                </li>


                                <li style="border-right: none;">
                                    <label for="label" style="width: 95px; float: left; padding: 1.3% 0;">
                                        @eTurns.DTO.ResKitToolMaster.CheckedOutQTY
                                    </label>
                                    <span style="padding-left: 10px;">
                                        <input type="text" value="@CheckOutQuantity" readonly="readonly" class="text-box text-box disableBack" style="width: 50px;" id="txtCheckOutToolQty" />
                                    </span>
                                </li>
                                <li style="border-right: none;">
                                    <label for="label" style="width: 120px; float: left; padding: 1.3% 0;">
                                        @eTurns.DTO.ResKitToolMaster.CheckedOutMQTY
                                    </label>
                                    <span style="padding-left: 10px;">
                                        <input type="text" value="@CheckOutMQuantity" readonly="readonly" class="text-box text-box disableBack" style="width: 50px;" id="txtCheckOutMToolQty" />
                                    </span>
                                </li>

                            </ul>
                    }
                </div>
            </div>
        </div>
        <div id="ExpandedContent" style="display: none">
            <ul>
                <li style="border: none">
                    <div class="editorForm">
                        <ul>

                            <li>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.ReOrderType) <em style="color: Red">*</em>
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.ReOrderType, new SelectList(ViewBag.ReOrderTypeList, "typeValue", "ReOrderType", Model.ReOrderType), new { style = "width:80px", @class = "selectBox" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.ReOrderType)
                                </div>
                            </li>
                            <li>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.KitCategory)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.KitCategory, new SelectList(ViewBag.KitCategoryList, "CategoryValue", "KitCategory", Model.KitCategory), new { style = "width:80px", @class = "selectBox" })
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="editorForm padRightNone">
                        <ul>
                            @Html.Partial("UDFLayout", new eTurns.DTO.ResToolMaster())
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="editorForm" style="width: 98%">
            <ul>
                <li>
                    <div class="editor-label" style="width: 2%">
                        &nbsp;
                    </div>
                    <div class="BtnBlockform" style="width: 98%; margin-left: 50px;">
                        @* <input type="submit" value="@eTurns.DTO.Resources.ResCommon.Save" id="btnSave" class="CreateBtn" />*@
                        @if (!Model.IsDeleted.GetValueOrDefault(false) && !Model.IsArchived.GetValueOrDefault(false))
                        {
                            if ((isInsert == true && Model.ID == 0) || (isUpdate == true && Model.ID > 0) || Convert.ToString(Session["IsInsert"]) == "True")
                            {

                                if (Model.ID > 0)
                                {

                                    <ul style="float: left; width: 99%">
                                        <li style="float: left; width: 99%">
                                            <div style="float: left; margin: 0px 5px;">

                                                <span id="spnBuildBreakQty" style="float: left; margin: 0px 5px;">
                                                    Enter Quantity:&nbsp;&nbsp;

                                                    @Html.TextBox("txtBuildBreakQty", "", eTurnsWeb.Helper.SessionHelper.QuantityFormat, new { @id = "txtBuildBreakQty", @style = "width:80px;", @maxlength = "10", @class = "numericinput text-boxinner", @readonly = "readonly" })

                                                    @*<input id="txtBuildBreakQty" type="text" style="width: 80px; background: white;"
                                                        readonly="readonly" class="text-box text-boxQuantityFormat" onkeydown="return OnlyNumeric(event,this);" />*@
                                                </span>



                                                <span style="float: left; margin: 0px 5px;">
                                                    <input type="button" value="Build" id="btnBuild" style="display: none" class="CreateBtn" />
                                                </span>
                                                <span style="float: left; margin: 0px 5px;">&nbsp;</span> <span style="float: left;
                                                margin: 0px 5px;">
                                                    <input type="button" value="Break" id="btnBreak" style="display: none" class="CreateBtn" />
                                                </span>


                                                <span style="float: left; margin: 0px 5px;">
                                                    <input type="button" value="@eTurns.DTO.Resources.ResCommon.Cancel" id="btnCancel" class="CreateBtn" onclick="showListTab();" />
                                                </span><span style="float: left; margin: 0px 5px;">
                                                    <input type="button" value="Move In Bulk" id="btnMoveInBulk" class="CreateBtn" />
                                                </span><span style="float: left; margin: 0px 5px;">
                                                    <input type="button" value="Move Out Bulk" id="btnMoveOutBulk" class="CreateBtn" />
                                                </span>
                                            </div>
                                        </li>
                                    </ul>


                                }
                            }

                        }
                    </div>
                    @if (Model.ID > 0)
                    {
                        <div class="infoBlock" style="margin-bottom: 10px; margin-top: 10px;">
                            <ul>
                                <li style="width: auto;">
                                    <label for="RoomName">
                                        @*<label>@eTurns.DTO.ResKitMaster.NoOfItemsInKit</label>*@
                                        <label>
                                            Kit parts in WIP
                                        </label>
                                    </label>
                                    : <span id="spnWIPParts">@(Model.NoOfItemsInKit)</span>
                                </li>
                                <li style="border: none; width: auto;">
                                    <label for="RoomName">
                                        @*<label>@eTurns.DTO.ResKitMaster.KitCost</label>*@
                                        <label>
                                            WIP cost
                                        </label>
                                    </label>
                                    : <span id="spnTotalCost">@CurrencySymbol @(Model.WIPKitCost.GetValueOrDefault(0).ToString(costForm, eTurnsWeb.Helper.SessionHelper.RoomCulture))</span>
                                </li>
                            </ul>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
    <div id="divKitLineItems">
    </div>
}
<div id="ItemModel">
</div>
<div id="BuildSearialKitLocationDetail">
</div>
<div id="MoveOutQtyModel">
</div>
<div id="DivPullSelection">

</div>

<input type="hidden" id="hdnListName" value="KitLineItemList" />
@Html.Partial("_RequiredMessages")
<script type="text/javascript">
    var KitID = '@Model.ID';
    var KitGUID = '@Model.GUID';
    $('#ancHideShowContent').click(function () {
        if ($('#ExpandedContent').css('display') == 'none') {
            $('#ExpandedContent').css('display', '');
            $('#ancHideShowContent img').attr('src', '/Content/images/drildown_close.jpg');
        }
        else {
            $('#ExpandedContent').css('display', 'none');
            $('#ancHideShowContent img').attr('src', '/Content/images/drildown_open.jpg');
        }
    });



    $(document).ready(function () {
        //$('form').areYouSure();

        $('#txtBuildBreakQty').val('');
        $("form").submit(function (e) {
            $.validator.unobtrusive.parse("#frmKitMaster");
            if ($(this).valid()) {
                rememberUDFValues($("#hdnPageName").val(), parseInt(KitID, 10));
            } e.preventDefault();
        });

        if (parseInt(KitID, 10) <= 0) {
            $('#ExpandedContent').css('display', '');
            $('#ancHideShowContent').css('display', 'none');
        }
        else {
            $('#ExpandedContent').css('display', 'none');
            $('#ancHideShowContent').css('display', '');
            //CallThisFunctionFromModel('success');
        }

        $(':input[type="text"]', '#frmKitMaster')
            .css('background', 'white');


        $("#BuildSearialKitLocationDetail").dialog({
            autoOpen: false, modal: true, draggable: true, resizable: true, width: '82%', height: 710, title: 'Item Locations',
            open: function () {
                $('#DivLoading').show();
                var strdata = $(this).data("cdata");
                $.get('@Url.Content("~/Inventory/LocationDetails")', strdata, function (data) {
                    $("#BuildSearialKitLocationDetail").html(data);
                    $('#DivLoading').hide();
                });
            },
            close: function () {
                //CallThisFunctionFromModel('success');
                $("#BuildSearialKitLocationDetail").empty();
            }
        });

        $("#ItemModel").dialog({
            autoOpen: false, modal: true, draggable: true, resizable: true, width: '82%', height: 710, title: '@eTurns.DTO.ResKitMaster.PageHeader',
            open: function () {
                $('#DivLoading').show();
                var objData = $("#frmKitMaster").serialize();
                $.ajax({
                    url: '@Url.Action("LoadItemMasterModel","Kit")',
                    type: 'POST',
                    data: objData,
                    success: function (r) {
                        $('#ItemModel').html(r);
                        $('#DivLoading').hide();
                    }
                });
            },
            close: function () {
                $("#ItemModel").empty();
                //CallThisFunctionFromModel('success');
            }
        });

        $('#txtDQ,#txtAQ,#txtAWIP,#txtAQGI,#txtKitParts,#txtKitCost').keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                return false;
            }
        });


        if ('@Model.IsDeleted' === "True" || '@Model.IsArchived' === "True") {
            $(':input', '#frmKitMaster').attr('disabled', 'disabled');

            $('#btnCancel').removeAttr('disabled');
            $('#btnSave,#btnAddNewItem').css('display', 'none');
        }

        $(':input', '#frmKitMaster').attr('readonly', 'readonly');
        $('select', '#frmKitMaster').attr('disabled', 'disabled');
        //$('#btnCancel, #btnBuild,#bntBreak,#txtBuildBreakQty ').removeAttr('disabled');
        $('#txtBuildBreakQty, #txtLotNumber, txtExpireDate').removeAttr('readonly');

        $('#txtExpireDate').datepicker({ dateFormat: 'mm/dd/yy' });

        fillLineItem();


        $("#MoveOutQtyModel").dialog({
            autoOpen: false, modal: true, draggable: true, resizable: true, width: 800, height: 600, title: "Kit move out item quantity",
            open: function () {
                $('#DivLoading').show();
                $("#MoveOutQtyModel").empty();
                var kitDetailGUID = $(this).data("KitDetailGUID");
                $.ajax({
                    url: '@Url.Action("ShowMoveOutQtyModel","Kit")',
                    type: 'POST',
                    data: { 'KitDetailGUID': kitDetailGUID },
                    success: function (r) {
                        $('#MoveOutQtyModel').html(r);
                        $('#DivLoading').hide();
                    }
                });

                return false;
            },
            close: function () {
                $("#MoveOutQtyModel").empty();
                fillLineItem();
            }
        });


        $("#DivPullSelection").dialog({
            autoOpen: false,
            show: "blind",
            hide: "explode",
            height: 700,
            title: "Qty to Move In Kit Items",
            width: 900,
            modal: true,
            open: function () {
            },
            beforeClose: function () {
            },
            close: function () {
                $("#DivPullSelection").empty();
            }
        });

    });

    function fillLineItem() {
        $('#divKitLineItems').html('')
        $.ajax({
            url: '@Url.Action("LoadToolKitLineItemsByToolKitMasterDTO","Kit")',
            type: 'POST',
            data: { 'ToolKitGUID': '@Model.GUID'  },
            success: function (r) {
                $('#divKitLineItems').html(r);
                $('#DivLoading').hide();
            }
        });
    }

    function showListTab()
    {
        SwitchTextTab(0, 'KitCreate', 'frmKitMaster');
        if (oTable !== undefined && oTable != null) {
            oTable.fnDraw();
        }
    }

    function onSuccess(response) {
        IsRefreshGrid = true;

        showNotificationDialog();
        $("#spanGlobalMessage").html(response.Message);
        $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
        var idValue = $("#hiddenID").val();

        if (response.Status == "fail") {

            $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
            $("#Name").val("");
            $("#Name").focus();
        }
        else if (idValue == 0) {

            $("#Name").val("");
            $("#Name").focus();
            if (response.Status == "duplicate")
                $("#spanGlobalMessage").removeClass('errorIcon succesIcon').addClass('WarningIcon');
            else {
                ShowEditTabGUID("KitEdit?KitGUID=" + response.UpdatedDTO.GUID, "frmKitMaster");
            }
        }
        else if (idValue > 0) {
            if (response.Status == "duplicate") {
                $("#spanGlobalMessage").removeClass('errorIcon succesIcon').addClass('WarningIcon');
                $("#Name").val("");
                $("#Name").focus();
            }
            else {
                UpdateLineItemGrid();
                if (oTable !== undefined && oTable != null)
                    oTable.fnDraw();

                if (IsRefreshGrid)
                    $('#NarroSearchClear').click();

                SwitchTextTab(0, 'KitCreate', 'frmKitMaster');
            }
        }

    }

    function onFailure(message) {
        $("#spanGlobalMessage").html(message.statusText);
        showNotificationDialog();
        $("#txtKitPartNumber").focus();
    }

    function UpdateKitCostWIPAndKitParts() {
        //    return;
        var objData = $("#frmKitMaster").serialize();
        $.ajax({
            url: '@Url.Action("ToolUpdateKitCost","Kit")',
            type: 'POST',
            //data: JSON.stringify({ 'KitDTO': objData }),
            data: { 'GUID': '@Model.GUID', 'IsDeleted': '@Model.IsDeleted.GetValueOrDefault(false)', 'IsArchived': '@Model.IsArchived.GetValueOrDefault(false)' },
            success: function (r) {
                 
                if (r.Status == 'ok') {
                    //if (r.KitDTO.WIPKitCost != null && parseFloat(r.KitDTO.WIPKitCost) != NaN && parseFloat(r.KitDTO.WIPKitCost) > 0)
                    //    $('#txtKitCost').val((r.KitDTO.WIPKitCost).toFixed(2));
                    if (r.KitDTO.NoOfItemsInKit != null && parseInt(r.KitDTO.NoOfItemsInKit) != NaN && parseInt(r.KitDTO.NoOfItemsInKit) > 0)
                        $('#txtKitParts').val(r.KitDTO.NoOfItemsInKit);

                    $('#spnTotalCost').html('@CurrencySymbol' + ' ' + parseFloat(r.KitDTO.WIPKitCost).toFixed(2));
                    $('#txtAQ').val(parseFloat(parseFloat(r.KitDTO.Quantity) - (parseFloat(r.KitDTO.CheckedOutQTY) + (parseFloat(r.KitDTO.CheckedOutMQTY)))).toFixed(parseInt($('#hdQuantitycentsLimit').val(), 10)));
                    $('#txtAvailableToolQty').val(parseFloat(r.KitDTO.Quantity).toFixed(parseInt($('#hdQuantitycentsLimit').val(), 10)));
                    $('#txtAWIP').val(parseFloat(r.KitDTO.AvailableWIPKit).toFixed(parseInt($('#hdQuantitycentsLimit').val(), 10)));

                    $('#txtAQGI').val(parseFloat(r.KitDTO.AvailableInGeneralInventory).toFixed(0));


                    $('#spnWIPParts').text(parseFloat(r.KitDTO.NoOfItemsInKit).toFixed(0));

                    $('#txtCost').val(parseFloat(r.KitDTO.KitCost).toFixed(2));
                    $('#txtBuildBreakQty').val('');
                    $('#btnBuild').css('display', 'none');
                    $('#btnBreak').css('display', 'none');


                    //$('#spnBuildBreakQty').css('display', 'none');
                    if (parseFloat(r.KitDTO.AvailableWIPKit) > 0) {
                        $('#btnBuild').css('display', '');
                        $('#spnBuildBreakQty').css('display', '');
                    }
                    if (parseFloat(r.KitDTO.AvailableKitQuantity) > 0) {
                        $('#btnAddNewItem').css('display', 'none');
                        var AvailableQty = (parseFloat(r.KitDTO.Quantity) - (parseFloat(r.KitDTO.CheckedOutQTY) + parseFloat(r.KitDTO.CheckedOutMQTY)));
                        if (parseFloat(AvailableQty) > 0) {
                            $('#btnBreak').css('display', '');
                        }
                        $('#spnBuildBreakQty').css('display', '');
                    }

                    //Upon successfully updating KIT header, load the line items
                    //var objData = $("#frmKitMaster").serialize();

                }
            }
        });
    }


    $('#btnBuild').click(function () {
        $('#DivLoading').show();
        var ItemGUID = '@Model.GUID.ToString()';



        var cost = $("#txtCost").val();
        var qty = $("#txtBuildBreakQty").val();
        var arr = new Array();
        var lotnumber = "";
        var expireDATE = "";



        var obj = { KitGuid: ItemGUID, Quantity: qty, Cost: cost };

        var BuildQty = parseFloat($('#txtBuildBreakQty').val());
        if (BuildQty != NaN && BuildQty != undefined && BuildQty > 0) {
            var AvailWIP = parseFloat($('#txtAWIP').val());
            if (AvailWIP != NaN && AvailWIP != undefined && AvailWIP >= BuildQty) {

                $.ajax({
                    url: '@Url.Action("BuildNewToolKit","Kit")',
                    type: 'POST',
                    data: { 'objDTO': JSON.stringify(obj) },
                    success: function (r) {
                        if (r.Status == 'OK') {
                            $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
                            $("#txtBuildBreakQty").val('');
                            $("#txtExpireDate").val('');
                            $("#txtLotNumber").val('');
                            //CallThisFunctionFromModel('success');
                            UpdateKitCostWIPAndKitParts();
                            fillLineItem();
                            ResetNarrowSearchTechnicianList();
                        }
                        else {
                            $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
                        }
                        $("#spanGlobalMessage").html(r.Message);
                        showNotificationDialog();
                        $("#txtBuildBreakQty").focus();
                        $('#DivLoading').hide();
                    },
                    error: function (xhr) {
                        $("#spanGlobalMessage").html('@ResCommon.ErrorInProcess');
                        showNotificationDialog();
                        $("#txtBuildBreakQty").focus();
                        $('#DivLoading').hide();
                    }
                });
            }
            else {
                $("#spanGlobalMessage").html('@ResKitMaster.BuildQtyLessThanEqualsWIP');
                $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
                showNotificationDialog();
                $("#txtBuildBreakQty").focus();
                $('#DivLoading').hide();

            }
        }
        else {
            $("#spanGlobalMessage").html('@ResKitMaster.EnterQtyToBuildKit');
            $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
            $("#txtBuildBreakQty").focus();
            showNotificationDialog();
            $('#DivLoading').hide();
        }
    });




    $('#btnBreak').click(function () {
        $('#DivLoading').show();
        var ItemGUID = '@Model.GUID.ToString()';

        var qty = $("#txtBuildBreakQty").val();
        var obj;
        var breakQty = parseFloat($('#txtBuildBreakQty').val());
        if (breakQty != NaN && breakQty != undefined && breakQty > 0) {
            var AvailQty = parseFloat($('#txtAQ').val());
            if (AvailQty != NaN && AvailQty != undefined && AvailQty >= breakQty) {

                var arrLocWiseQty = new Array();

                var obj = { 'TotalQty': breakQty, 'ItemGUID': ItemGUID };
                $.ajax({
                    url: '@Url.Action("BreakNewToolKit","Kit")',
                    data: JSON.stringify(obj),
                    type: 'POST',
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        if (response.Status == "ok") {
                            //CallThisFunctionFromModel('success');
                            $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
                            $("#txtBuildBreakQty").val('');
                            $("#txtExpireDate").val('');
                            $("#txtLotNumber").val('');
                            UpdateKitCostWIPAndKitParts();
                            fillLineItem();
                            ResetNarrowSearchTechnicianList();
                            $('#DivLoading').hide();
                        }
                        else {
                            $(this).removeAttr("disabled");
                            $('#DivLoading').hide();
                            alert(response.Message);
                        }
                    },
                    error: function (xhr) {
                        $('#DivLoading').hide();
                        alert('@ResCommon.ErrorInProcess');
                        $(this).removeAttr("disabled");
                    }

                });

            }
            else {
                $("#spanGlobalMessage").html('@ResKitMaster.BuildQtyLessThanEqualsWIP');
                $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
                showNotificationDialog();
                $("#txtBuildBreakQty").focus();
                $('#DivLoading').hide();

            }
        }
        else {
            $("#spanGlobalMessage").html('@ResKitMaster.EnterQtyToBuildKit');
            $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
            $("#txtBuildBreakQty").focus();
            showNotificationDialog();
            $('#DivLoading').hide();
        }
    });





 

    $(document).ready(function () {

        $(".text-boxPriceFormat").priceFormat({
            prefix: '',
            thousandsSeparator: '',
            centsLimit: parseInt($('#hdCostcentsLimit').val(), 10)
        });
        $(".text-boxQuantityFormat").priceFormat({
            prefix: '',
            thousandsSeparator: '',
            centsLimit: parseInt($('#hdQuantitycentsLimit').val(), 10)
        });
        $(".text-boxQuantityFormatSR").priceFormat({
            prefix: '',
            thousandsSeparator: '',
            centsLimit: 0
        });

    });

    $('#btnMoveInBulk,#btnMoveOutBulk').off('click')

    function MoveInQuantityNew() {
        var qtyToMoveBulk = $('#txtBuildBreakQty').val();
        if (isNaN(parseFloat(qtyToMoveBulk)) || parseFloat(qtyToMoveBulk) <= 0) {
            alert("Please enter quantity to Move");
            return false;
        }
        var ItemToMoveIn = new Array();

        $('#KitLineItem' + '@Model.GUID' + ' tbody tr.row_selected').each(function () {

            var tr = $(this);
            var binName = '';
            var qtyPerKit = $(tr).find('input[type="text"][id^="txtQtyPerKit"]').val();
            // var qtyToMove = $(tr).find("#txtQtyToMove").val();
            var qtyToMove = parseFloat(qtyToMoveBulk) * parseFloat(qtyPerKit);

            if (isNaN(parseFloat(qtyToMove)) || parseFloat(qtyToMove) <= 0) {
                alert("Please enter quantity to Move");
                return false;
            }


            var itemType = $(tr).find('#hdnItemType').val();
            if (itemType != 4)
                binName = $(tr).find('#txtItemLocations').val().split(' (')[0];

            if (binName.length <= 0 && itemType != 4) {
                alert('@ResKitMaster.SelectBin');
                return false;
            }
            var kitDetailGuid = $(tr).find('#hdnGUID').val();
            var isSerial = $(tr).find('#hdnItemSRTrack').val();
            var isLotTrack = $(tr).find('#hdnItemLOTTrack').val();
            var isDCT = $(tr).find('#hdnItemDOCTrack').val();


            var kitDetailID = $(tr).find('#hdnID').val();
            var kitDetailGUID = $(tr).find('#hdnGUID').val();
            var vBinName = $(tr).find('#hdnBinName').val();
            var vBinId = $(tr).find('#hdnBinID').val();
            var vItemGUID = $(tr).find("#hdnItemGUID").val();
            if (vBinName.length <= 0) {
                vBinName = $(tr).find("#txtItemLocations").val();
            }

            var kitNumber = '@Model.ToolName';
            var kitGuid = '@Model.GUID';
            var itemNumber = $(tr).find('#hdnItemNumber').val();

            ItemToMoveIn.push({
                ItemGUID: vItemGUID, KitDetailID: kitDetailID, BinID: vBinId, KitDetailGUID: kitDetailGUID, BinNumber: vBinName, BinName: binName,
                KitGuid: kitGuid, QtyToMoveIn: qtyToMove, KitPartNumber: kitNumber,
                IsLotTrack: isLotTrack, IsSRTrack: isSerial, IsDCTrack: isDCT, ItemNumber: itemNumber
            });
        });

        if (ItemToMoveIn.length > 0) {
            $.ajax({
                url: '@Url.Action("OpenPopupToMoveInItem","Kit")',
                type: 'Post',
                data: JSON.stringify(ItemToMoveIn),
                dataType: 'html',
                contentType: 'application/json',
                success: function (result) {
                    // closeOrdReceiveInfoModel();
                    $('#DivPullSelection').html(result);
                    $("#DivPullSelection").dialog('open');
                },
                error: function (xhr) {
                    alert(xhr.status + ' ' + xhr.statusText);
                }
            })
        }
    }

    $('#btnMoveInBulk,#btnMoveOutBulk').on('click', function () {
        var moveQty = $('#txtBuildBreakQty').val();
        if (isNaN(parseFloat(moveQty)) || parseFloat(moveQty) < 0) {
            alert('@ResKitMaster.EnterQtyToMove');
            return;
        }

        var selectedItems = new Array();
        var hasPullPopup = false;
        $('#ToolKitLineItem' + '@Model.GUID' + ' tbody tr.row_selected').each(function () {
            var GUID = $(this).find('#hdnGUID').val();
            selectedItems.push(GUID);
        });

        if (hasPullPopup) {
            return MoveInQuantityNew();
        }


        if (selectedItems.length <= 0) {
            alert('@ResKitMaster.SelectItemsForBulkMove');
            return;
        }

        var moveType = 'IN';
        if ($(this).attr('id') == 'btnMoveOutBulk')
            moveType = "OUT";


        $('#DivLoading').show();
        $.ajax({
            url: '@Url.Action("ToolQtyToMoveBulk","Kit")',
            type: 'POST',
            data: JSON.stringify({ 'qty': parseFloat(moveQty), 'ToolKitGuid': '@Model.GUID', 'MoveType': moveType, 'KitDetailGuids': selectedItems }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result.Status) {
                    UpdateKitCostWIPAndKitParts();
                    fillLineItem();
                     
                }
                else {
                    UpdateKitCostWIPAndKitParts();
                    fillLineItem();
                    
                    alert(result.Message);
                }
                $('#DivLoading').hide();
            },
            error: function (xhr) {
                $('#DivLoading').hide();
            }
        });

    });


    function MoveInOut(arrayObj) {
        var arrObj = new Array();

        $.ajax({
            url: '@Url.Action("ToolQtyToMoveIn","Kit")',
            type: 'POST',
            data: JSON.stringify(arrayObj),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                 
                if (result.Status) {
                    UpdateKitCostWIPAndKitParts();
                    fillLineItem();
             

                }
                else {
                    UpdateKitCostWIPAndKitParts();
                    fillLineItem();
                     
                    alert(result.Message);
                }
            },
            error: function (xhr) {
            } 
        });
    }


    var isDeleteSrLotRow = false;


</script>
<script type="text/javascript">
    var ValidateSerialLotNumberUrl = '@Url.Action("ValidateSerialLotNumber", "Pull")';

    function PrepareReturnDataTable(objPullItemDTO) {
        var columnarrIL = new Array();
        columnarrIL.push({
            mDataProp: null, sClass: "read_only", sDefaultContent: '', fnRender: function (obj, val) {
                if (objPullItemDTO.ViewRight == "ViewOverwrite") {
                    var strReturn = "<span style='position:relative'>";
                    strReturn = strReturn + "<input type='text' value='" + obj.aData.LotOrSerailNumber + "' id='txtLotOrSerailNumber' name='txtLotOrSerailNumber' class='text-boxinner AutoSerialLot' />";
                    strReturn = strReturn + '<a id="lnkShowAllOptions" href="javascript:void(0);" style="position:absolute; right:5px; top:0px;" class="ShowAllOptionsSL" ><img src="/Content/images/arrow_down_black.png" alt="select" /></a></span>';
                    return strReturn;
                }
                else if (objPullItemDTO.ViewRight == "NoRight") // && IsCheckViewRight == false)
                {
                    var strReturn = "<span style='position:relative'>";
                    strReturn = strReturn + "<input type='text' value='" + obj.aData.LotOrSerailNumber + "' id='txtLotOrSerailNumberNoRight' name='txtLotOrSerailNumberNoRight' class='text-boxinner' />";
                    //strReturn = strReturn + '<a id="lnkShowAllOptions" href="javascript:void(0);" style="position:absolute; right:5px; top:0px;" class="ShowAllOptionsSL" ><img src="/Content/images/arrow_down_black.png" alt="select" /></a></span>';
                    return strReturn;
                }
                else if (objPullItemDTO.ViewRight == "ViewOnly") {
                    var strReturn = "<input type='text' value='" + obj.aData.LotOrSerailNumber + "' id='txtLotOrSerailNumberViewOnly' name='txtLotOrSerailNumberViewOnly' class='text-boxinner' />";
                    return strReturn;
                }
                else {
                    var strReturn = "<input type='text' value='" + obj.aData.LotOrSerailNumber + "' id='txtLotOrSerailNumberViewOnly' name='txtLotOrSerailNumberViewOnly' class='text-boxinner' />";
                    return strReturn;
                }
            }
        });
        columnarrIL.push({ mDataProp: "BinNumber", sClass: "read_only" });
        columnarrIL.push({
            mDataProp: null, sClass: "read_only", sDefaultContent: '', fnRender: function (obj, val) {
                var strReturn = "<span name='spnLotSerialQuantity' id='spnLotSerialQuantity_" + obj.aData.ID + "'>" + obj.aData.LotSerialQuantity + "</span>";
                return strReturn;
            }
        });
        columnarrIL.push({
            mDataProp: null, sClass: "read_only", sDefaultContent: '', fnRender: function (obj, val) {
                var strReturn = "<input type='hidden' name='hdnRowUniqueId' value='" + obj.aData.ID + "_" + obj.aData.ItemGUID + "_" + obj.aData.BinID + "' />";
                strReturn = strReturn + "<input type='hidden' name='hdnLotNumberTracking' value='" + obj.aData.LotNumberTracking + "' />";
                strReturn = strReturn + "<input type='hidden' name='hdnSerialNumberTracking' value='" + obj.aData.SerialNumberTracking + "' />";
                strReturn = strReturn + "<input type='hidden' name='hdnDateCodeTracking' value='" + obj.aData.DateCodeTracking + "' />";
                strReturn = strReturn + "<input type='hidden' name='hdnExpiration' value='" + obj.aData.Expiration + "' />";
                strReturn = strReturn + "<input type='hidden' name='hdnExpirationDate' value='" + obj.aData.strExpirationDate + "' />";
                strReturn = strReturn + "<input type='hidden' name='hdnBinNumber' value='" + obj.aData.BinNumber + "' />";

                if (objPullItemDTO.SerialNumberTracking == BoolTrueString) {
                    strReturn = strReturn + "<input type='text' value='" + FormatedCostQtyValues(obj.aData.PullQuantity, 2) + "' id='txtPullQty_" + obj.aData.ID + "' name='txtPullQty' class='text-boxinner pull-quantity' readonly='readonly' />";
                }
                else {
                    strReturn = strReturn + "<input type='text' onkeypress='return isNumberKey(event)' value='" + FormatedCostQtyValues(obj.aData.PullQuantity, 2) + "' id='txtPullQty_" + obj.aData.ID + "' name='txtPullQty' class='text-boxinner pull-quantity' />";
                }
                return strReturn;
            }
        });
        columnarrIL.push({ mDataProp: "Received", sClass: "read_only" });
        columnarrIL.push({ mDataProp: "Expiration", sClass: "read_only" });

        var Curtable = $('#' + objPullItemDTO.tableID).dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": false,
            "sScrollX": "100%",
            "bRetrieve": true,
            "bDestroy": true,
            "bProcessing": true,
            "bServerSide": true,
            "aoColumns": columnarrIL,
            "sAjaxSource": '@Url.Content("~/Pull/PullLotSrSelection")',
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData.IsConsignedLotSerial == true) {
                    nRow.className = "even trconsigned";
                }
            },
            "fnInitComplete": function (oSettings) {
                var strAllSelected = "";
                $("#hdnSelectedId_" + objPullItemDTO.ItemGUID).val();
                if (objPullItemDTO.LotNumberTracking != BoolTrueString && objPullItemDTO.SerialNumberTracking != BoolTrueString) {
                    $('#' + objPullItemDTO.tableID).dataTable().fnSetColumnVis(0, false);
                }
                if (objPullItemDTO.DateCodeTracking != BoolTrueString) {
                    $('#' + objPullItemDTO.tableID).dataTable().fnSetColumnVis(5, false);
                }
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                aoData.push({ "name": "ItemGUID", "value": objPullItemDTO.ItemGUID });
                aoData.push({ "name": "BinID", "value": objPullItemDTO.BinID });
                aoData.push({ "name": "PullQuantity", "value": FormatedCostQtyValues($("#txtPoolQuantity_" + objPullItemDTO.ItemGUID).val(), 2) });
                aoData.push({ "name": "InventoryConsuptionMethod", "value": objPullItemDTO.InventoryConsuptionMethod });
                aoData.push({ "name": "CurrentLoaded", "value": $("#hdnCurrentLoadedIds_" + objPullItemDTO.ItemGUID).val() });
                aoData.push({ "name": "ViewRight", "value": objPullItemDTO.ViewRight });
                aoData.push({ "name": "IsDeleteRowMode", "value": isDeleteSrLotRow });
                oSettings.jqXHR = $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: sSource,
                    cache: false,
                    "data": aoData,
					"headers": { "__RequestVerificationToken": $("input[name='__RequestVerificationToken'][type='hidden']").val() },
                    success: fnCallback,
                    beforeSend: function () {
                        $('.dataTables_scroll').css({ "opacity": 0.2 });
                    },
                    complete: function () {
                        $('.dataTables_scroll').css({ "opacity": 1 });
                        isDeleteSrLotRow = false;
                        $('.ShowAllOptionsSL').click(function () {
                            $(this).siblings('.AutoSerialLot').trigger("focus");
                            $(this).siblings(".AutoSerialLot").autocomplete("search", "");
                        });

                        if (objPullItemDTO.ViewRight == "ViewOnly") {
                            $("input[type='text'][name='txtLotOrSerailNumberViewOnly']").keypress(function () {
                                return false;
                            });

                            $("#DivPullSelection input[type='text'][name='txtPullQty']").keypress(function () {
                                return false;
                            });
                        }

                    }
                });
            }
        });
    }


    function PullAllNewFlow() {
        var ArrItem = new Array();
        var arrItemDetails;
        var ErrorMessage = ValidateAllPull();

        if (ErrorMessage == "") {
            $("#DivPullSelection").find("table[id^='tblItemPullheader']").each(function (indx, tblHeader) {
                arrItemDetails = new Array();
                var ID = $(tblHeader).prop("id").split('_')[1];
                var SpanQty = $(tblHeader).find("#txtPoolQuantity_" + ID);

                var dt = $("#tblItemPull_" + ID).dataTable();
                var currentData = dt.fnGetData();

                var strpullobj = JSON.parse($(tblHeader).find("input[name='hdnPullMasterDTO']").val());
                strpullobj.WorkOrderDetailGUID = null;
                strpullobj.RequisitionDetailGUID = null;


                $("#tblItemPull_" + ID).find("tbody").find("tr").each(function (index, tr) {
                    var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();
                    var hdnLotNumberTracking = $(tr).find("input[name='hdnLotNumberTracking']").val();
                    var hdnSerialNumberTracking = $(tr).find("input[name='hdnSerialNumberTracking']").val();
                    var hdnDateCodeTracking = $(tr).find("input[name='hdnDateCodeTracking']").val();
                    var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();
                    var hdnBinNumber = $(tr).find("input[name='hdnBinNumber']").val();
                    var hdnExpiration = $(tr).find("input[name='hdnExpiration']").val();

                    if (txtPullQty != "") {
                        var txtLotOrSerailNumber = "";
                        if (hdnLotNumberTracking == "true" || hdnSerialNumberTracking == "true")
                            var txtLotOrSerailNumber = $(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val();

                        var vSerialNumber = "";
                        var vLotNumber = "";
                        var vExpiration = "";

                        if (hdnSerialNumberTracking == "true")
                            vSerialNumber = txtLotOrSerailNumber;
                        if (hdnLotNumberTracking == "true")
                            vLotNumber = txtLotOrSerailNumber;
                        if (hdnDateCodeTracking == "true")
                            vExpiration = hdnExpiration;

                        var obj = {
                            "LotOrSerailNumber": txtLotOrSerailNumber, "BinNumber": hdnBinNumber, "PullQuantity": parseFloat(txtPullQty.toString())
                                        , "LotNumberTracking": hdnLotNumberTracking, "SerialNumberTracking": hdnSerialNumberTracking, "DateCodeTracking": hdnDateCodeTracking
                                        , "Expiration": hdnExpiration, "SerialNumber": vSerialNumber, "LotNumber": vLotNumber
                                        , "ItemGUID": strpullobj.ItemGUID, "BinID": strpullobj.BinID, "ID": strpullobj.BinID
                        };

                        arrItemDetails.push(obj);
                    }
                });

                var pullQty = parseFloat($(SpanQty).val().toString());

                var PullItem = {
                    ID: indx,
                    ItemGUID: strpullobj.ItemGUID,
                    KitDetailGUID: strpullobj.KitDetailGUID,
                    ItemID: strpullobj.ItemID,
                    ItemNumber: strpullobj.ItemNumber,
                    BinID: strpullobj.BinID,
                    BinNumber: strpullobj.BinNumber,
                    QtyToMoveIn: pullQty,
                    lstItemPullDetails: arrItemDetails,
                };
                ArrItem.push(PullItem);
            });

            if (ArrItem.length > 0) {
                PullMultipleItemNew(ArrItem);
            }
        }
        else {
            alert(ErrorMessage);
        }
    }

    function PullSingleItem(indx, ArrItem) {
        var SingleItemArrItem = ArrItem[indx];
        $.ajax({
            type: "POST",
            url: PullSerialsAndLotsUrl,
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(SingleItemArrItem),
            success: function (RetData) {
                if (RetData.ErrorList.length > 0) {

                }
                else {
                    alert(RetData.ErrorList.length);
                }

            },
            error: function (err) {
                alert(err);
            },
            complete: function () {
                if ((indx + 1) < ArrItem.length) {
                    PullSingleItem((indx + 1), ArrItem);
                }
            }
        });
    }

    function PullMultipleItemNew(ArrItem) {
        $('#DivLoading').show();

        $.ajax({
            type: "POST",
            url: PullSerialsAndLotsNewUrl,
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(ArrItem),
            success: function (RetData) {

                var errorMessage = "";

                $.each(RetData, function (indx, RetDataItem) {
                    if (RetDataItem.ErrorList.length > 0) {
                        $.each(RetDataItem.ErrorList, function (indx, ErrorListItem) {
                            errorMessage += ErrorListItem.ErrorMessage + "<br />";
                        });
                    }
                    else {
                        $("#divItem_" + RetDataItem.ItemGUID).attr('style', '');
                        $("#divItem_" + RetDataItem.ItemGUID).html("");
                    }
                });
                $('#DivLoading').hide();
                if (errorMessage != "") {
                    $.modal.impl.close();
                    errorMessage = "<b>Some of the Item(s) is(are) not able to move in due to following reasons.</b><br /><br />" + errorMessage;
                    $('#dlgCommonErrorMsgPopup').find("#pOkbtn").css('display', '');
                    $('#dlgCommonErrorMsgPopup').find("#pErrMessage").html(errorMessage);
                    $('#dlgCommonErrorMsgPopup').modal();
                    $('#dlgCommonErrorMsgPopup').css("z-index", "1104");
                    $('#simplemodal-overlay').css("z-index", "1103");
                    $('#simplemodal-container').css("z-index", "1104");
                }
                else {
                    if ($("input[type='hidden'][name^='hdnPullMasterDTO']").length > 0) {
                        $.modal.impl.close();
                        $('#dlgCommonErrorMsgPopup').find("#pOkbtn").css('display', '');
                        $('#dlgCommonErrorMsgPopup').find("#pErrMessage").html("<b>Pull done successfully.</b><br /><br />");
                        $('#dlgCommonErrorMsgPopup').modal();
                        $('#dlgCommonErrorMsgPopup').css("z-index", "1104");
                        $('#simplemodal-overlay').css("z-index", "1103");
                        $('#simplemodal-container').css("z-index", "1104");

                    }
                    else {
                        UpdateKitCostWIPAndKitParts();
                        fillLineItem();
                        $("#spanGlobalMessage").html("@ResKitMaster.MoveInSuccessfully");
                        $('div#target').fadeToggle();
                        $("div#target").delay(DelayTime).fadeOut(FadeOutTime);
                        $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
                        $('#DivPullSelection').dialog('close');
                        //$('#ItemModeDataTable').dataTable().fnStandingRedraw();
                        clearALL();
                    }
                }
            },
            error: function (err) {
                $('#DivLoading').hide();
                $.modal.impl.close();
                $('#dlgCommonErrorMsgPopup').find("#pOkbtn").css('display', '');
                //$('#dlgCommonErrorMsg').find("#pYesNobtn").css('display', 'none');
                $('#dlgCommonErrorMsgPopup').find("#pErrMessage").html("Not saved, error occured");
                $('#dlgCommonErrorMsgPopup').modal();
                $('#dlgCommonErrorMsgPopup').css("z-index", "1004");
                $('#simplemodal-overlay').css("z-index", "1003");
                $('#simplemodal-container').css("z-index", "1004");
            },
            complete: function () {
            }
        });
    }

    function ValidateSinglePull(vItemGUID) {
        var returnVal = true;
        var errormsg = "";
        var isMoreQty = false;
        var dtID = "#tblItemPull_" + vItemGUID;

        var SpanQty = $("#DivPullSelection").find("#txtPoolQuantity_" + vItemGUID);

        var TotalEntered = 0;
        $("#tblItemPull_" + vItemGUID).find("tbody").find("tr").each(function (index, tr) {
            var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();
            var spnLotSerialQuantity = $(tr).find("span[name='spnLotSerialQuantity']").text();

            if (parseFloat(txtPullQty) > parseFloat(spnLotSerialQuantity)) {
                errormsg = "\nYou can not pull more QTY than available QTY.";
                isMoreQty = true;
                return errormsg;
            }

            TotalEntered = TotalEntered + parseFloat(txtPullQty);
        });

        if (isMoreQty == false) {
            var pullQty = parseFloat($(SpanQty).val().toString());
            if (TotalEntered != pullQty) {
                errormsg = errormsg + "\n You have entered :" + TotalEntered + " QTY. You had entered Returned Qty :" + pullQty;
            }
        }
        else {
            errormsg = "You can not return more QTY than available QTY.";
        }

        return errormsg;
    }

    function ValidateAllPull() {
        var returnVal = true;
        var errormsg = "";
        var isMoreQty = false;
        $("#DivPullSelection").find("table[id^='tblItemPullheader']").each(function (indx, tblHeader) {
            var ID = $(tblHeader).prop("id").split('_')[1];
            var SpanQty = $(tblHeader).find("#txtPoolQuantity_" + ID);

            var TotalEntered = 0;
            $("#tblItemPull_" + ID).find("tbody").find("tr").each(function (index, tr) {
                var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();
                var spnLotSerialQuantity = $(tr).find("span[name='spnLotSerialQuantity']").text();

                if (parseFloat(txtPullQty) > parseFloat(spnLotSerialQuantity)) {
                    errormsg = "\nYou can not pull more QTY than available QTY.";
                    isMoreQty = true;
                    return errormsg;
                }

                TotalEntered = TotalEntered + parseFloat(txtPullQty);
            });

            if (isMoreQty == false) {
                var pullQty = parseFloat($(SpanQty).val().toString());
                if (TotalEntered != pullQty) {
                    ////errormsg = errormsg + "\nentered :" + TotalEntered + "\tPull Qty :" + pullQty;
                    errormsg = errormsg + "\n You have entered :" + TotalEntered + " QTY. You had entered Returned Qty :" + pullQty;
                }
            }
            else {
                errormsg = "You can not return more QTY than available QTY.";
            }

        });

        return errormsg;
    }



    $(document).ready(function () {

        $("#DivPullSelection").off('change', "input[type='text'][name^='txtLotOrSerailNumber']");
        $("#DivPullSelection").on('change', "input[type='text'][name^='txtLotOrSerailNumber']", function (e) {
            var objCurtxt = $(this);
            var oldValue = $(objCurtxt).val();
            var ids = $(this).parentbtnMoveInBulk().parent().parent().find("input[type='hidden'][name='hdnRowUniqueId']").val().split('_');
            var dtThisItem = $("#tblItemPull_" + ids[1].toString()).dataTable();
            var currentTR = $(objCurtxt).parent().parent().parent()[0];
            var row_id = dtThisItem.fnGetPosition(currentTR);

            if ($.trim(oldValue) == '')
                return;

            var isDuplicateEntry = false;
            var OtherPullQuantity = 0;
            $("#tblItemPull_" + ids[1].toString() + " tbody tr").each(function (i) {
                if (i != row_id) {
                    var tr = $(this);
                    var SerialOrLotNumber = $(tr).find('#' + objCurtxt.prop("id")).val();
                    if (SerialOrLotNumber == $(objCurtxt).val()) {
                        isDuplicateEntry = true;
                    }
                    else {
                        var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();
                        OtherPullQuantity = OtherPullQuantity + parseFloat(txtPullQty);
                    }
                }
            });

            if (isDuplicateEntry == true) {

                if ($("#hdnTrackingType_" + ids[1].toString()).val() == "LotNumberTracking")
                    alert("Duplicate lot number.");
                else if ($("#hdnTrackingType_" + ids[1].toString()).val() == "SerialNumberTracking")
                    alert("Duplicate serial number.");
                else
                    alert("Duplicate number.");

                $(objCurtxt).val("");
                $(objCurtxt).focus();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: ValidateSerialLotNumberUrl,
                    contentType: 'application/json',
                    dataType: 'json',
                    data: "{ ItemGuid: '" + ids[1].toString() + "', SerialOrLotNumber: '" + $(objCurtxt).val() + "',BinID: '" + ids[2].toString() + "' }",
                    success: function (RetData) {
                        if (RetData.ID > 0) {
                            IsCheckViewRight = false;

                            var spnPoolQuantity = parseFloat($("#txtPoolQuantity_" + ids[1].toString()).val());
                            if ((spnPoolQuantity - OtherPullQuantity) > 0) {
                                if ((spnPoolQuantity - OtherPullQuantity) < RetData.PullQuantity)
                                    RetData.PullQuantity = spnPoolQuantity - OtherPullQuantity;
                            }
                            else {
                                RetData.PullQuantity = 0;
                            }

                            dtThisItem.fnUpdate(RetData, row_id, undefined, false, false);
                            IsCheckViewRight = true;

                            $('.ShowAllOptionsSL').click(function () {
                                $(this).siblings('.AutoSerialLot').trigger("focus");
                                $(this).siblings(".AutoSerialLot").autocomplete("search", "");
                            });

                            if (RetData.IsConsignedLotSerial) {
                                $(currentTR).addClass("trconsigned");
                            }
                            else {
                                $(currentTR).removeClass("trconsigned");
                            }
                        }
                        else {
                            $(objCurtxt).val("");
                            $(objCurtxt).focus();
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }
        });

        $("#DivPullSelection").off('focus', "input[type='text'][name^='txtLotOrSerailNumber']");
        $("#DivPullSelection").on('focus', "input[type='text'][name^='txtLotOrSerailNumber']", function (e) {
            var objCurtxt = $(this);
            var ids = $(this).parent().parent().parent().find("input[type='hidden'][name='hdnRowUniqueId']").val().split('_');
            var aPos = $("#tblItemPull_" + ids[1].toString()).dataTable().fnGetPosition($(this).parent().parent().parent()[0]);
            var aData = $("#tblItemPull_" + ids[1].toString()).dataTable().fnGetData(aPos);

            var dtItemPull = "#tblItemPull_" + ids[1].toString();
            var strSerialLotNos = "";

            $(dtItemPull).find("tbody").find("tr").each(function (index, tr) {

                if (index != aPos) {
                    var hdnLotNumberTracking = $(tr).find("input[name='hdnLotNumberTracking']").val();
                    var hdnSerialNumberTracking = $(tr).find("input[name='hdnSerialNumberTracking']").val();
                    var hdnDateCodeTracking = $(tr).find("input[name='hdnDateCodeTracking']").val();

                    if (hdnLotNumberTracking == "true" || hdnSerialNumberTracking == "true") {
                        var txtLotOrSerailNumber = $(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val();
                        if (txtLotOrSerailNumber != undefined)
                            strSerialLotNos = strSerialLotNos + txtLotOrSerailNumber + "|#|";
                    }
                    else if (hdnDateCodeTracking == "true") {
                        var hdnExpiration = $(tr).find("input[name='hdnExpiration']").val();
                        if (hdnExpiration != undefined)
                            strSerialLotNos = strSerialLotNos + hdnExpiration + "|#|";
                    }
                    else {
                        var hdnBinNumber = $(tr).find("input[name='hdnBinNumber']").val();
                        if (hdnBinNumber != undefined)
                            strSerialLotNos = strSerialLotNos + hdnBinNumber + "|#|";
                    }
                }

            });

            if ($(this).hasClass("AutoSerialLot")) {
                $(this).autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '/Pull/GetLotOrSerailNumberList',
                            contentType: 'application/json',
                            dataType: 'json',
                            data: {
                                maxRows: 1000,
                                name_startsWith: request.term,
                                ItemGuid: ids[1].toString(),
                                BinID: ids[2].toString(),
                                prmSerialLotNos: strSerialLotNos
                            },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.LotOrSerailNumber,
                                        value: item.LotOrSerailNumber,
                                        selval: item.LotOrSerailNumber
                                    }
                                }));
                            },
                            error: function (err) {

                            }
                        });
                    },
                    autoFocus: false,
                    minLength: 0,
                    select: function (event, ui) {
                        //                    $(objCurtxt).parent().parent().find("input[type='hidden'][name='hdnStagingBin']").val(ui.item.selval);
                        //                    $(objCurtxt).parent().parent().find("input[type='hidden'][name='hdnStagingBinName']").val(ui.item.label);
                    },
                    open: function () {
                        $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                        $(this).autocomplete('widget').css('z-index', 9000);
                        $('ul.ui-autocomplete').css('overflow-y', 'auto');
                        $('ul.ui-autocomplete').css('max-height', '300px');
                    },
                    close: function () {
                        $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                        $(objCurtxt).trigger("change");
                    }
                });
            }
        });

        function IsLotSerialExistsInCurrentLoaded(strIds, SerialLot) {
            if (SerialLot.trim() == '')
                return true;

            if (strIds.trim() == '')
                return false

            var ArrIds = strIds.split(',');
            var i = 0;
            for (i = 0; i < ArrIds.length; i++) {
                if (ArrIds[i].split('_')[0].toLowerCase() == SerialLot.toLowerCase()) {
                    return true;
                }
            }

            return false;
        }

        $("#DivPullSelection").off("click", "input[type='button'][name='btnLoadMoreLots']");
        $("#DivPullSelection").on("click", "input[type='button'][name='btnLoadMoreLots']", function () {

            var vItemGUID = $(this).prop("id").split('_')[1];
            var dtID = "#tblItemPull_" + vItemGUID;
            var strIds = "";

            $(dtID).find("tbody").find("tr").each(function (index, tr) {

                var hdnLotNumberTracking = $(tr).find("input[name='hdnLotNumberTracking']").val();
                var hdnSerialNumberTracking = $(tr).find("input[name='hdnSerialNumberTracking']").val();
                var hdnDateCodeTracking = $(tr).find("input[name='hdnDateCodeTracking']").val();
                var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();

                if (txtPullQty != undefined) {
                    if (txtPullQty == "") {
                        txtPullQty = "0";
                    }
                    //if (hdnLotNumberTracking == "true" || hdnSerialNumberTracking == "true") {
                    //    var txtLotOrSerailNumber = $(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val();
                    //    if (txtLotOrSerailNumber != undefined)
                    //        strIds = strIds + txtLotOrSerailNumber + "_" + txtPullQty + ",";
                    //}
                    //else if (hdnDateCodeTracking == "true") {
                    //    var hdnExpiration = $(tr).find("input[name='hdnExpiration']").val();
                    //    if (hdnExpiration != undefined)
                    //        strIds = strIds + hdnExpiration + "_" + txtPullQty + ",";
                    //}
                    //else {
                    //    var hdnBinNumber = $(tr).find("input[name='hdnBinNumber']").val();
                    //    if (hdnBinNumber != undefined)
                    //        strIds = strIds + hdnBinNumber + "_" + txtPullQty + ",";
                    //}

                    if ((hdnLotNumberTracking == "true" && hdnDateCodeTracking == "false")
                        || (hdnSerialNumberTracking == "true" && hdnDateCodeTracking == "false")) {
                        var txtLotOrSerailNumber = $.trim($(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val());
                        if (txtLotOrSerailNumber != undefined && !IsLotSerialExistsInCurrentLoaded(strIds, txtLotOrSerailNumber))
                            strIds = strIds + txtLotOrSerailNumber + "_" + txtPullQty + ",";
                    }
                        //else if (hdnDateCodeTracking == "true") {
                    else if ((hdnLotNumberTracking == "true" && hdnDateCodeTracking == "true")
                        || (hdnSerialNumberTracking == "true" && hdnDateCodeTracking == "true")) {
                        var hdnExpiration = $(tr).find("input[name='hdnExpirationDate']").val();
                        var txtLotOrSerailNumber = $.trim($(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val());
                        if (txtLotOrSerailNumber != undefined && hdnExpiration != undefined && !IsLotSerialExistsInCurrentLoaded(strIds, hdnExpiration))
                            strIds = strIds + txtLotOrSerailNumber + "_" + hdnExpiration + "_" + txtPullQty + ",";
                    }
                    else if (hdnLotNumberTracking == "false" && hdnSerialNumberTracking == "false" && hdnDateCodeTracking == "true") {
                        var hdnExpiration = $(tr).find("input[name='hdnExpirationDate']").val();
                        if (hdnExpiration != undefined)
                            strIds = strIds + hdnExpiration + "_" + txtPullQty + ",";
                    }
                    else {
                        var hdnBinNumber = $(tr).find("input[name='hdnBinNumber']").val();
                        if (hdnBinNumber != undefined && !IsLotSerialExistsInCurrentLoaded(strIds, hdnBinNumber))
                            strIds = strIds + hdnBinNumber + "_" + txtPullQty + ",";
                    }
                }
            });

            $("#hdnCurrentLoadedIds_" + vItemGUID).val(strIds);

            var dt = $(dtID).dataTable();
            dt.fnStandingRedraw();
        });

        $("#DivPullSelection").off("click", "input[type='button'][name='btnPullPopup']");
        $("#DivPullSelection").on("click", "input[type='button'][name='btnPullPopup']", function () {
            //RequisitionDetailsGUID
            var vItemGUID = $(this).prop("id").split('_')[1];
            var dtID = "#tblItemPull_" + vItemGUID;

            var ArrItem = new Array();
            var arrItemDetails;
            var ErrorMessage = ValidateSinglePull(vItemGUID);

            if (ErrorMessage == "") {

                arrItemDetails = new Array();
                var ID = vItemGUID;
                var SpanQty = $("#DivPullSelection").find("#txtPoolQuantity_" + vItemGUID);

                var dt = $("#tblItemPull_" + vItemGUID).dataTable();
                var currentData = dt.fnGetData();

                var strpullobj = JSON.parse($("#hdnPullMasterDTO_" + vItemGUID).val());
                strpullobj.WorkOrderDetailGUID = null;
                strpullobj.RequisitionDetailGUID = null;


                $("#tblItemPull_" + vItemGUID).find("tbody").find("tr").each(function (index, tr) {
                    var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();
                    var hdnLotNumberTracking = $(tr).find("input[name='hdnLotNumberTracking']").val();
                    var hdnSerialNumberTracking = $(tr).find("input[name='hdnSerialNumberTracking']").val();
                    var hdnDateCodeTracking = $(tr).find("input[name='hdnDateCodeTracking']").val();
                    var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();
                    var hdnBinNumber = $(tr).find("input[name='hdnBinNumber']").val();
                    var hdnExpiration = $(tr).find("input[name='hdnExpiration']").val();

                    if (txtPullQty != "") {
                        var txtLotOrSerailNumber = "";
                        if (hdnLotNumberTracking == "true" || hdnSerialNumberTracking == "true")
                            var txtLotOrSerailNumber = $(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val();

                        var vSerialNumber = "";
                        var vLotNumber = "";
                        var vExpiration = "";

                        if (hdnSerialNumberTracking == "true")
                            vSerialNumber = txtLotOrSerailNumber;
                        if (hdnLotNumberTracking == "true")
                            vLotNumber = txtLotOrSerailNumber;
                        if (hdnDateCodeTracking == "true")
                            vExpiration = hdnExpiration;

                        var obj = {
                            "LotOrSerailNumber": txtLotOrSerailNumber, "BinNumber": hdnBinNumber, "PullQuantity": parseFloat(txtPullQty.toString())
                                        , "LotNumberTracking": hdnLotNumberTracking, "SerialNumberTracking": hdnSerialNumberTracking, "DateCodeTracking": hdnDateCodeTracking
                                        , "Expiration": hdnExpiration, "SerialNumber": vSerialNumber, "LotNumber": vLotNumber
                                        , "ItemGUID": strpullobj.ItemGUID, "BinID": strpullobj.BinID, "ID": strpullobj.BinID
                        };

                        arrItemDetails.push(obj);
                    }
                });

                var pullQty = parseFloat($(SpanQty).val().toString());
                alert(strpullobj.KitDetailGUID);
                var PullItem = {
                    ID: 1,
                    ItemGUID: strpullobj.ItemGUID,
                    KitDetailGUID: strpullobj.KitDetailGUID,
                    ItemID: strpullobj.ItemID,
                    ItemNumber: strpullobj.ItemNumber,
                    BinID: strpullobj.BinID,
                    BinNumber: strpullobj.BinNumber,
                    QtyToMoveIn: pullQty,
                    lstItemPullDetails: arrItemDetails,
                };

                ArrItem.push(PullItem);

                if (ArrItem.length > 0) {
                    PullMultipleItemNew(ArrItem);
                }
            }
            else {
                alert(ErrorMessage);
            }
        });

        $("#DivPullSelection").off("click", "input[type='button'][name='btnPullAllPopUp']");
        $("#DivPullSelection").on("click", "input[type='button'][name='btnPullAllPopUp']", function () {
            PullAllNewFlow();
        });

        $("#DivPullSelection").off("click", "input[type='button'][name='btnCancelPullPopup']");
        $("#DivPullSelection").on("click", "input[type='button'][name='btnCancelPullPopup']", function () {
            $("#DivPullSelection").empty();
            $('#DivPullSelection').dialog('close');
            $('#ItemModeDataTable').dataTable().fnStandingRedraw();
        });

        $("#DivPullSelection").off('click', "input[type='button'][name='btnValidateThis']");
        $("#DivPullSelection").on('click', "input[type='button'][name='btnValidateThis']", function (e) {
            var dt = $("#tblItemPull_" + $(this).prop("id").split('_')[1]).dataTable();
            var currentData = dt.fnGetData();
            var TotalEntered = 0;
            $(currentData).each(function (indx, obj) {
                TotalEntered = TotalEntered + parseFloat(obj.PullQuantity);
            });
            var pullQty = parseFloat($("#DivPullSelection").find("#txtPoolQuantity_" + $(this).prop("id").split('_')[1]).val().toString());
            //alert("Entered :" + TotalEntered + ", Pull Qty :" + pullQty);
            if (TotalEntered != pullQty) {
                alert("Please enter correct pull quantity");
            }
            else {
                alert("Validated");
            }

        });

        $("#DivPullSelection").off('click', "input[type='button'][name='btnvalidateAll']");
        $("#DivPullSelection").on('click', "input[type='button'][name='btnvalidateAll']", function (e) {
            var returnmsg = ValidateAllPull();
            if (returnmsg == "")
                returnmsg = "Validated All";
            alert(returnmsg);
        });

        $("#DivPullSelection").off("change", "input[type='text'][name='txtPullQty']");
        $("#DivPullSelection").on("change", "input[type='text'][name='txtPullQty']", function () {
            var ids = $(this).parent().parent().find("input[type='hidden'][name='hdnRowUniqueId']").val().split('_');
            var aPos = $("#tblItemPull_" + ids[1].toString()).dataTable().fnGetPosition($(this).parent().parent()[0]);
            $("#tblItemPull_" + ids[1].toString()).dataTable().fnGetData(aPos).PullQuantity = $(this).val();
        });

        $("#DivPullSelection").off("tap click", ".tbl-item-pull tbody tr");
        $("#DivPullSelection").on("tap click", ".tbl-item-pull tbody tr", function (e) {

            if (e.target.type == "checkbox" || e.target.type == "radio" || e.target.type == "text") {
                e.stopPropagation();
            }
            else if (e.currentTarget.getElementsByTagName("input").btnLoad != undefined) {
                e.stopPropagation();
            }
            else {
                if ((e.metaKey || e.ctrlKey)) {
                    $(this).toggleClass('row_selected');
                } else {
                    $(this).toggleClass('row_selected');
                }
            }
            return false;
        });

        $("#DivPullSelection").off('click', "input[type='button'][name='btnDeleteLots']");
        $("#DivPullSelection").on('click', "input[type='button'][name='btnDeleteLots']", function (e) {

            var vItemGUID = $(this).prop("id").split('_')[1];
            var dtID = "#tblItemPull_" + vItemGUID;
            if ($(dtID + ' tbody tr.row_selected').length <= 0) {
                alert("Select at least one row to delete.");
            }
            else {
                $(dtID).find("tbody").find("tr.row_selected").each(function (index, tr) {
                    $(tr).remove();
                });

                var strIds = "";
                $(dtID).find("tbody").find("tr").each(function (index, tr) {

                    var hdnLotNumberTracking = $(tr).find("input[name='hdnLotNumberTracking']").val();
                    var hdnSerialNumberTracking = $(tr).find("input[name='hdnSerialNumberTracking']").val();
                    var hdnDateCodeTracking = $(tr).find("input[name='hdnDateCodeTracking']").val();
                    var txtPullQty = $(tr).find("input[type='text'][name='txtPullQty']").val();

                    if (txtPullQty == "")
                        txtPullQty = "0";

                    //if (hdnLotNumberTracking == "true" || hdnSerialNumberTracking == "true") {
                    //    var txtLotOrSerailNumber = $(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val();
                    //    strIds = strIds + txtLotOrSerailNumber + "_" + txtPullQty + ",";
                    //}
                    //else if (hdnDateCodeTracking == "true") {
                    //    var hdnExpiration = $(tr).find("input[name='hdnExpiration']").val();
                    //    strIds = strIds + hdnExpiration + "_" + txtPullQty + ",";
                    //}
                    //else {
                    //    var hdnBinNumber = $(tr).find("input[name='hdnBinNumber']").val();
                    //    strIds = strIds + hdnBinNumber + "_" + txtPullQty + ",";
                    //}

                    if ((hdnLotNumberTracking == "true" && hdnDateCodeTracking == "false")
                        || (hdnSerialNumberTracking == "true" && hdnDateCodeTracking == "false")) {
                        var txtLotOrSerailNumber = $.trim($(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val());
                        if (txtLotOrSerailNumber != undefined && !IsLotSerialExistsInCurrentLoaded(strIds, txtLotOrSerailNumber))
                            strIds = strIds + txtLotOrSerailNumber + "_" + txtPullQty + ",";
                    }
                        //else if (hdnDateCodeTracking == "true") {
                    else if ((hdnLotNumberTracking == "true" && hdnDateCodeTracking == "true")
                        || (hdnSerialNumberTracking == "true" && hdnDateCodeTracking == "true")) {
                        var hdnExpiration = $(tr).find("input[name='hdnExpirationDate']").val();
                        var txtLotOrSerailNumber = $.trim($(tr).find("input[type='text'][name^='txtLotOrSerailNumber']").val());
                        if (txtLotOrSerailNumber != undefined && hdnExpiration != undefined && !IsLotSerialExistsInCurrentLoaded(strIds, hdnExpiration))
                            strIds = strIds + txtLotOrSerailNumber + "_" + hdnExpiration + "_" + txtPullQty + ",";
                    }
                    else if (hdnLotNumberTracking == "false" && hdnSerialNumberTracking == "false" && hdnDateCodeTracking == "true") {
                        var hdnExpiration = $(tr).find("input[name='hdnExpirationDate']").val();
                        if (hdnExpiration != undefined)
                            strIds = strIds + hdnExpiration + "_" + txtPullQty + ",";
                    }
                    else {
                        var hdnBinNumber = $(tr).find("input[name='hdnBinNumber']").val();
                        if (hdnBinNumber != undefined && !IsLotSerialExistsInCurrentLoaded(strIds, hdnBinNumber))
                            strIds = strIds + hdnBinNumber + "_" + txtPullQty + ",";
                    }
                });

                $("#hdnCurrentLoadedIds_" + vItemGUID).val(strIds);
                isDeleteSrLotRow = true;
                var dtThisItem = $(dtID).dataTable();
                dtThisItem.fnStandingRedraw();
            }
        });

    });
</script>