@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
    var settings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplayDeleteButton = false, DataTableName = "HistoryTable" };
    
}
<script type="text/javascript">
         var oHistoryTable;
        $(document).ready(function () {
            //LoadTabs();
            oHistoryTable = $('#HistoryTable').dataTable({
            "bJQueryUI": true,
            "bScrollCollapse": true,
            "bAutoWidth": true,                        
            "sDom": 'R<"top"lp<"clear">>rt<"bottom"i<"clear">>T',
            "oColVis": {},
            "sScrollX": "100%",
            "aaSorting": [[1, "asc"]],
            "oColReorder": {},
            "bSort": false,
            "sPaginationType": "full_numbers",
            "sAjaxSource": '@Url.Content("~/Master/GetHistoryDataGUID")',
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                aoData.push({ "name": "PageType", "value": "KitList" });
                aoData.push({ "name": "PageID", "value": HistorySelectedGUID });
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
					"headers": { "__RequestVerificationToken": $("input[name='__RequestVerificationToken'][type='hidden']").val() },
                    "success": fnCallback
                })
            },
            "fnInitComplete": function () {                     
                     compareHistoryRows(this);
            },
                 "aoColumns": [
                  //{ "mDataProp": "HistoryID", "sClass": "read_only" },
                   { "mDataProp": "Action", "sClass": "read_only" },
			                //{ "mDataProp": "ID", "sClass": "read_only" },
                             {  "mDataProp": "KitPartNumber",
			                    "sClass": "read_only",
			                    "sDefaultContent": '',			                    
			                    "fnRender": function (obj, val) {
			                        //return "<a onclick='return ShowEditTab(&quot;KitHistoryView/" + obj.aData.HistoryID + "&quot;,&quot;frmKitMasterHistory&quot;)' href='JavaScript:void(0);'>" + val+ "</a>"  + "<span id='spnKitMasterID' style='display:none'>"+obj.aData.ID+"</span>";
                                     return "<a onclick='return openModel(" + obj.aData.HistoryID + ")' href='JavaScript:void(0);'>" +val + "</a>";
			                    }
                            },
			                { "mDataProp": "Description", "sClass": "read_only" },			              
			                { "mDataProp": "AvailableKitQuentity", "sClass": "read_only" },
			                { "mDataProp": "AvailableWIPKit", "sClass": "read_only" },
			                { "mDataProp": "KitDemand", "sClass": "read_only" },
			                { "mDataProp": "KitCost", "sClass": "read_only" },
			                { "mDataProp": "MinimumKitQuentity", "sClass": "read_only" },
			                { "mDataProp": "MaximumKitQuentity", "sClass": "read_only" },
			                { "mDataProp": "CreatedDate", "sClass": "read_only" },
                            { "mDataProp": "UpdatedDate", "sClass": "read_only" },
			                { "mDataProp": "CreatedByName", "sClass": "read_only" },
			                { "mDataProp": "UpdatedByName", "sClass": "read_only" },
			                { "mDataProp": "IsDeleted", "sClass": "read_only" },
			                { "mDataProp": "IsArchived", "sClass": "read_only" },
			                { "mDataProp": "RoomName", "sClass": "read_only" },
                             { "mDataProp": "AddedFrom", "sClass": "read_only" },
                            { "mDataProp": "EditedFrom", "sClass": "read_only" },
                            { "mDataProp": "ReceivedOnWeb", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
                                   return obj.aData.ReceivedOnWebDate;
			                    }
			                },
			                { "mDataProp": "ReceivedOn", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
                                    return obj.aData.ReceivedOnDate;
			                    }
			                }
                            @Html.RenderColumnsArray("KitMaster")
		    ]
            }).makeEditable({
            });

            //HIDE PRINT CONTAINER
            $('.DTTT_container').css('z-index', '-1');                
            $("#HistoryText").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {                
                oHistoryTable.fnFilter(this.value);
            }
                });
            $("#HistoryClear").click(function () {
            if ($("#HistoryText").val().length > 0) {
                $("#HistoryText").val("");
                oHistoryTable.fnFilter("");
            }
            return false;
            });
       });
</script>
<div class="searchWrapper">
    <div class="searchBlock">
        <span class="label">@eTurns.DTO.Resources.ResCommon.Search </span>
        <div class="searchinputB">
            <input type="text" class="searchinput" id="HistoryText" />
            <a href="javascript:void(0);" class="xclose">
                <img src="~/Content/images/x.png" alt="X" id="HistoryClear" /></a>
        </div>
    </div>
</div>
@Html.GridTopHeaderForHistory(settings)
<div style="margin: 0 0.4% 1%">
    <table id="HistoryTable" class="display">
        <thead>
            <tr>
                @*<th>
                    @eTurns.DTO.Resources.ResCommon.HistoryID
                </th>*@
                <th>
                    @eTurns.DTO.Resources.ResCommon.HistoryAction
                </th>
                @*<th>
                    @eTurns.DTO.Resources.ResCommon.ID
                </th>*@
                <th>
                    @eTurns.DTO.ResKitMaster.KitPartNumber
                </th>
                <th>
                    @eTurns.DTO.ResKitMaster.Description
                </th>
                @*<th>
                    @eTurns.DTO.ResKitMaster.AvailableKitQuentity
                </th>*@
                @*<th>
                    @eTurns.DTO.ResKitMaster.AvailableItemsInWIP
                </th>*@
                <th>
                    @eTurns.DTO.ResKitMaster.KitDemand
                </th>
                <th>
                    @eTurns.DTO.ResKitMaster.KitCost
                </th>
                @*<th>
                    @eTurns.DTO.ResKitMaster.MinimumKitQuentity
                </th>
                <th>
                    @eTurns.DTO.ResKitMaster.MaximumKitQuentity
                </th>*@
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedBy
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedBy
                </th>
                <th>
                    @eTurns.DTO.ResKitMaster.IsDeleted
                </th>
                <th>
                    @eTurns.DTO.ResKitMaster.IsArchived
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.RoomName
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.AddedFrom
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.EditedFrom
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.ReceivedOnDate
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.ReceivedOnWebDate
                </th>
                @Html.RenderColumnsHeader("KitMaster", typeof(eTurns.DTO.ResKitMaster))
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="divLineItemHistory">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        AllowDeletePopup = false;
        $("#divLineItemHistory").dialog({
            autoOpen: false,
            modal: true,
            draggable: true,
            resizable: true,
            width: '95%',
            height: 720,
            title: 'Kit History',
            open: function () {
                $('#DivLoading').show();
                $("#divLineItemHistory").empty();
                $.get('KitHistoryView', { ID: $(this).data("cid") }, function (data) {
                    $("#divLineItemHistory").html(data);
                });
            },
            close: function () {
                $("#divLineItemHistory").empty();
            }
        });


    });

    function openModel(id) {
        $('#divLineItemHistory').data("cid", id).dialog('open')
        return false;
    }
</script>
