@model eTurns.DTO.UserMasterDTO
@{
    Layout = null;
    ViewBag.Title = "Login";
    var modelCommon = new eTurns.DTO.CommonDTO { PageName = "Login" };
    List<UserMasterDTO> lstAllUsers = (List<UserMasterDTO>)ViewBag.AllUsers;
    bool ShowInputs = false;
    string LoginPostMethod = "UserLoginAuthanticate";
    if (ViewBag.LoginWithSelection != "1")
    {
        ShowInputs = true;
    }
    else
    {
        ShowInputs = false;
    }
    if (ViewBag.IsMasterDbLogin == "1")
    {
        LoginPostMethod = "UserLoginAuthanticateMasterDataBase";
    }

        
}
<!DOCTYPE html>
<link href="@Url.Content("~/Content/OpenAccess/Login.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/OpenAccess/jquery-1.7.1.js")" type="text/javascript"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Ajax.BeginForm(LoginPostMethod, "Master", new AjaxOptions { HttpMethod = "Post", LoadingElementId = "DivLoading", OnSuccess = "onSuccess", InsertionMode = InsertionMode.Replace, OnFailure = "onFailure" }, new { @id = "frmUserLogin" }))
    {
        @Html.AntiForgeryToken()
        <div class="wrapper">
            <div id="container" class="clearfix">
                <!-- header starts -->
                <div id="header" class="clearfix">
                    <!-- logo starts -->
                    <h1 id="logo" class="alignLeft">
                        <a href="#" rel="home" title="eTurns">
                            <img src="@Url.Content("~/Content/images/logo-Login.jpg")" alt="eTurns" title="eTurns" />
                        </a>
                    </h1>
                    <!-- logo ends -->
                </div>
                <!-- header ends -->
                <!-- content starts -->
                <div id="contentWrap" class="clearfix">
                    <!-- main content starts -->
                    <div class="content">
                        <h1>
                            Inventory Management System
                        </h1>
                        <div class="mainGreybg">
                            <div class="loginBg">
                                <div class="loginContent alignLeft">
                                    <div class="login alignLeft">
                                        <h2 class="alignLeft">
                                            Login
                                        </h2>
                                        <div class="loginForm clear">
                                            <ul>
                                                <li>
                                                    <div id="ErrorMSG" style="color: Red">
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul @if (!ShowInputs)
                                                { <text> style="display:none;" </text>          }>
                                                <li class="alignLeft"><span>
                                                    <img alt="username" class="icon" src="@Url.Content("~/Content/images/username-icon.png")" />
                                                </span></li>
                                                <li class="alignLeft">
                                                    <input type="text" class="inputtext" value="admin@sttl.com" onfocus="if(this.value=='Email'){this.value=''};"
                                                        onblur="if(this.value==''){this.value='Email'};" id="txtUserName" />
                                                </li>
                                            </ul>
                                            <ul @if (!ShowInputs)
                                                { <text> style="display:none;" </text>          }>
                                                <li class="alignLeft"><span>
                                                    <img alt="password" class="icon" src="@Url.Content("~/Content/images/password.png")" />
                                                </span></li>
                                                <li class="alignLeft">
                                                    <input type="password" class="inputtext" value="admin" onfocus="if(this.value=='Password'){this.value=''};"
                                                        onblur="if(this.value==''){this.value='Password'};" id="txtPassword" />
                                                </li>
                                            </ul>
                                            <ul @if (ShowInputs)
                                                { <text> style="display:none;" </text>          }>
                                                <li class="alignLeft"><span>
                                                    <img alt="username" class="icon" src="@Url.Content("~/Content/images/username-icon.png")" />
                                                </span></li>
                                                <li>
                                                    <select id="Email" name="Email">
                                                        <option value="">-- Select --</option>
                                                        @if (lstAllUsers != null && lstAllUsers.Count > 0)
                                                        {
                                                            foreach (var item in lstAllUsers)
                                                            {
                                                            <option value="@item.Password">@item.UserName</option>
                                                            }
                                                        }
                                                    </select>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li class="mLeft30 alignLeft">
                                                    <div class="remember">
                                                        <input type="checkbox" class="checkbox" id="chkRemember" />
                                                        <label for="chkRemember">
                                                            Remember me
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul>
                                                @*<li class="mLeft30 alignLeft">
                                                        <input type="submit" class="searchBtn" value="Login" id="btnLogin">
                                                    </li>*@ @* <li class="alignLeft">
                                                        <input type="button" class="searchBtn" value="Cancel" onclick="javascript:return CancelClick();">
                                                    </li>*@
                                                <li class="mLeft160 alignLeft">
                                                    <input type="submit" class="searchBtn" value="Login" id="btnLogin" />
                                                </li>
                                                <li class="mLeft130 alignLeft">
                                                    <input type="button" value="Forgot Password" id="btnForgotPassword" class="CreateBtn"
                                                        style="float: none; margin-left: 80px;" />
                                                    @*<a onclick="SendPassword();" id="btnForgotPassword" class="addNewLink">Forgot Password</a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="featured alignLeft">
                                        <h2 class="alignLeft">
                                            Features of IMS
                                        </h2>
                                        <div class="clear">
                                            <ul>
                                                <li class="alignLeft">Web based Inventory Management System with strong security options
                                                    to take care of </li>
                                            </ul>
                                            <ul>
                                                <li class="option alignLeft">Document storage in hierarchical fashion.</li>
                                                <li class="option alignLeft">Image scanning in hierarchical.</li>
                                                <li class="option alignLeft">Key word based document search.</li>
                                                <li class="option alignLeft">Work flow functionality.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- main content ends -->
                </div>
                <!-- content ends -->
            </div>
            <!-- footer starts -->
            <div id="footer" class="clearfix">
                <div class="copyright">
                    &copy; Copyright © @eTurns.DAL.DateTimeUtility.DateTimeNow.Year.ToString() eTurns.com. All rights reserved.
                </div>
            </div>
            <!-- footer ends -->
        </div>
    }
    <script type="text/javascript">
        $(document).ready(function () {

            if ('@ShowInputs' == '@Boolean.TrueString') {
                $("#txtUserName").focus();
            }
            else {
                $("#Email").focus();
            }
            /*START - SET COOKIE */
            var UserName = getCookie('UserName');
            //var Password = getCookie('Password');
            //if (UserName != '' && Password != '') {
            if (UserName != '') {
                $("#txtUserName").val(UserName);
                //$("#txtPassword").val(Password);
                //$("#txtPassword").attr('value', Password);
                $('#chkRemember').attr('checked', 'checked');
            }
            /*END - SET COOKIE */
        });
        $("form").submit(function (e) {

            if (RedirectToAnother() == true) {

                $.validator.unobtrusive.parse("#frmUserLogin");
                if ($(this).valid()) {
                }
                e.preventDefault();
            }
            else
                return false;
        });

        $("#Email").change(function () {
            $("#txtUserName").val($(this).find("option:selected").text());
            $("#txtPassword").val($(this).val());
            $("#frmUserLogin").submit();
        });


        function CancelClick() {
            $("#ErrorMSG").html("");
            return false;
        }

        function RedirectToAnother() {
            var UserBlank = false;
            var PassBlank = false;
            var msg = "";

            if ($("#txtUserName").val() == '' || $("#txtUserName").val().toLowerCase() == 'email') {
                UserBlank = true;
            }
            if ($("#txtPassword").val() == '' || $("#txtPassword").val().toLowerCase() == 'password') {
                PassBlank = true;
            }
            if (UserBlank == true && PassBlank == true) {
                msg = "Email and Password is mandatory";
            }
            else if (UserBlank == true) {
                msg = "Email is mandatory";
            }
            else if (PassBlank == true) {
                msg = "Password is mandatory";
            }
            if (msg != "") {
                $("#ErrorMSG").html(msg);
                return false;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Master/" + '@LoginPostMethod',
                    data: "{'Email': '" + $("#txtUserName").val() + "' ,'Password':'" + $("#txtPassword").val() + "','IsRemember':" + $('#chkRemember').is(':checked') + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (message) {
                        if (message.Message.toLowerCase() == "fail") {
                            msg = "UserName or Password is invalid";
                            $("#ErrorMSG").html(msg);
                            return false;
                        }
                        else {
                            if (message.HasLicenceAccepted) {
                                $.ajax({
                                    type: "POST",
                                    url: "/Master/CheckPasswordChange",
                                    data: "",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (message) {
                                        if (message.Message == "ok") {
                                            window.location = '/Master/ChangePassword';
                                        }
                                        else {
                                            //window.location = '/Master/InventoryAnalysis';
                                            window.location = '/Master/Dashboard2';
                                        }

                                    },
                                    error: function (response) {
                                        // through errror message
                                    }
                                });



                            }
                            else {
                                //window.location = '/Master/TermsAndCondition';
                                window.location = '/Master/_LicencingTermsandConditions';

                            }




                            // window.location = '/Replenish/CartItemList';
                        }
                    },
                    error: function (response) {
                        // through errror message
                    }
                });

            }
        }

        function getCookie(name) {
            var arg = name + "=";
            var alen = arg.length;
            var clen = document.cookie.length;
            var i = 0;
            while (i < clen) {
                var j = i + alen;
                if (document.cookie.substring(i, j) == arg) {
                    return getCookieVal(j);
                }
                i = document.cookie.indexOf(" ", i) + 1;
                if (i == 0) break;
            }
            return null;
        }

        function getCookieVal(offset) {
            var endstr = document.cookie.indexOf(";", offset);
            if (endstr == -1) { endstr = document.cookie.length; }
            return unescape(document.cookie.substring(offset, endstr));
        }

        function setCookie(name, value, days) {
            if (typeof days != "undefined") { //if set persistent cookie
                var expireDate = new Date();
                expireDate.setDate(expireDate.getDate() + days);
                document.cookie = name + "=" + value + "; path=/; expires=" + expireDate.toGMTString() +" ;SameSite=Strict;";
            }
            else //else if this is a session only cookie
                document.cookie = name + "=" + value + "; path=/ ;SameSite=Strict;";
        }
        $('#btnForgotPassword').click(function (e) {
            location.href = '@Url.Action("ForgotPassword", "EmailLink")';

        });
       
    </script>
</body>
</html>
