@{
    ViewBag.Title = "Configuration";
}
<div class="userListingWrapper">
    <h2>
        Configuration</h2>
    <div class="userListBlock">
        <div id="CtabNew" class="tabContener">
            <div class="userHead">
                @using (Ajax.BeginForm("SaveDefaultFieldsTemplate", "LabelPrinting", new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess", InsertionMode = InsertionMode.Replace, OnFailure = "onFailure" }, new { @id = "frmConfiguration" }))
                {         
                    <div class="editorForm" style="width: 70%">
                        <ul>
                            <li>
                                <div class="editor-label" style="width: 130px;">
                                    @Html.Label("Module List")
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("ddlLabelModuleList", new SelectList(ViewBag.LabelModuleList, "ID", "ModuleName", 1), new { id = "ddlLabelModuleList", @class = "selectBox" })
                                </div>
                            </li>
                            <li>
                                <div class="editor-label" style="width: 130px;">
                                    @Html.Label("Template List")
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("ddlLabelTemplateList", new SelectList(ViewBag.LabelTemplateList, "ID", "TemplateName", 5126), new { id = "ddlLabelTemplateList", @class = "selectBox" })
                                </div>
                            </li>
                            <li>
                                <div class="editor-label" style="width: 130px;">
                                    @Html.Label("Fields")
                                </div>
                                <div class="editor-field" id="divFieldList" style="width: 460px; float: left;">
                                    <div style="width: 460px; float: left;">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="editor-label" style="width: 130px;">
                                    @Html.Label("Note:")
                                </div>
                                <div class="editor-field" style="width: 460px; float: left;">
                                    (*) Encoded in the barcode.
                                    <br />
                                    (#) Optionally encoded in the barcode
                                </div>
                            </li>
                            <li>
                                <div class="editor-label">
                                    &nbsp;
                                </div>
                                <div class="BtnBlockform">
                                    <input type="button" value="@eTurns.DTO.Resources.ResCommon.Cancel" id="btnCancel" class="CreateBtn" />
                                    <input type="submit" value="@eTurns.DTO.Resources.ResCommon.Save" id="btnSave" class="CreateBtn" />
                                    <br />
                                    <br />
                                    <br />
                                    <a target="_blank" href="/labelprinting/LoadLabelsInPDF" onclick="javascript:return LoadPDF(this,2)">
                                        <input type="button" value="Test" id="btnOpenPopup" class="CreateBtn" />
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="divPDF">
</div>
<script type="text/javascript">
    function LoadPDF(obj, moduleId) {
        var hrf = $(obj).attr('href');
        hrf = hrf + "?ModuleID=2&IDs=15,16,715,15,15";
        $(obj).attr('href', hrf);
        return true;
    }
    $("form").submit(function (e) {

        $.validator.unobtrusive.parse("#frmConfiguration");
        if ($(this).valid()) { //&& UpdateQLItemQty()

        } e.preventDefault();
    });
    $(document).ready(function () {
        GetFields();
        $('#ddlLabelModuleList').change(function () {
            GetFields();
        });
    });

    //    $('#btnOpenPopup').click(function () {
    //        $.get('LabelsInPDF', { 'ModuleID': 2, 'IDs': '15,16,8,46,66' }, function (result) {
    //            $('#divPDF').html(result);
    //        })
    //    });
    function GetFields() {
        $('#DivLoading').show();
        $.get("GetFields", { 'ModuleID': $('#ddlLabelModuleList').val() }, function (result) {
            $("#divFieldList").html(result);
            if (isNaN($('#hdnTemplateID')) && $('#hdnTemplateID') != null) {
                $("#ddlLabelTemplateList").val($('#hdnTemplateID').val());
            }
            $('#DivLoading').hide();
        });
    }

    function onSuccess(response) {
        showNotificationDialog();
        $("#spanGlobalMessage").text(response.Message);
        $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
        if (response.Status == "fail") {
            $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
        }
        else {
            GetFields();
            $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
        }
    }
    function onFailure(message) {
        $("#spanGlobalMessage").text(message.statusText);
        showNotificationDialog();
    }

</script>
