@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("schedulefor"))
    {
        <th>
            <em>* </em>
            @ResToolsScheduler.ScheduleFor
        </th>
    }
   
    @if (arrcolumns.Contains("toolname"))
    {
        <th>
            @ResToolMaster.ToolName
        </th>
    }
    @if (arrcolumns.Contains("serial"))
    {
        <th>
            @ResToolMaster.Serial
        </th>
    }
    @if (arrcolumns.Contains("assetname"))
    {
        <th>
            @ResAssetMaster.AssetName
        </th>
    }
    @if (arrcolumns.Contains("schedulername"))
    {
        <th>
            <em>* </em>
            @ResToolsScheduler.SchedulerName
        </th>
    }
    @if (arrcolumns.Contains("udf1"))
    {
        <th>
            @ResToolsSchedulerMapping.UDF1
        </th>
    }
    @if (arrcolumns.Contains("udf2"))
    {
        <th>
            @ResToolsSchedulerMapping.UDF2
        </th>
    }
    @if (arrcolumns.Contains("udf3"))
    {
        <th>
            @ResToolsSchedulerMapping.UDF3
        </th>
    }
    @if (arrcolumns.Contains("udf4"))
    {
        <th>
            @ResToolsSchedulerMapping.UDF4
        </th>
    }
    @if (arrcolumns.Contains("udf5"))
    {
        <th>
            @ResToolsSchedulerMapping.UDF5
        </th>
    }
  
</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.AssetToolSchedulerMapping)') {
        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }

            if ('@arrcolumns.Contains("schedulefor")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataScheduleForName = obj.aData.ScheduleForName == null ? "" : obj.aData.ScheduleForName.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataScheduleForName + "'  class='importtext-box' id='aScheduleFor_" + obj.aData.ID + "' style='width:90px;' />" +
                             "<span id='MappingID' style='display:none'>" + obj.aData.ID + "</span>"
                    }
                });
            }

         

            if ('@arrcolumns.Contains("toolname")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempToolName = obj.aData.ToolName == null ? "" : obj.aData.ToolName.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempToolName + "' class='importtext-box' id='aToolName_" + obj.aData.ID + "' style='width:150px;' />";
                    }
                });
            }

            if ('@arrcolumns.Contains("serial")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempSerial = obj.aData.Serial == null ? "" : obj.aData.Serial.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempSerial + "' class='importtext-box' id='aSerial_" + obj.aData.ID + "' style='width:150px;' />";
                    }
                });
            }

            if ('@arrcolumns.Contains("assetname")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempAssetName = obj.aData.AssetName == null ? "" : obj.aData.AssetName.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempAssetName + "' class='importtext-box' id='aAssetName_" + obj.aData.ID + "' style='width:200px;' />"

                    }
                });
            }


            if ('@arrcolumns.Contains("schedulername")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataSchedulerName = obj.aData.SchedulerName == null ? "" : obj.aData.SchedulerName.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataSchedulerName + "' onblur='return ValidateValueWithDataType();' class='importtext-box' id='aSchedulerName_" + obj.aData.ID + "' style='width:200px;' />"
                                               
                    }
                });
            }

            if ('@arrcolumns.Contains("udf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF1 = obj.aData.UDF1 == null ? "" : obj.aData.UDF1.substring(0, 255);
                        return "<input type='text' value='" + tempUDF1 + "' maxLength='255' class='importtext-box' id='aUDF1_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF2 = obj.aData.UDF2 == null ? "" : obj.aData.UDF2.substring(0, 255);
                        return "<input type='text' value='" + tempUDF2 + "' maxLength='255'  class='importtext-box'  id='aUDF2_" + obj.aData.ID + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF3 = obj.aData.UDF3 == null ? "" : obj.aData.UDF3.substring(0, 255);
                        return "<input type='text' value='" + tempUDF3 + "'  maxLength='255'  class='importtext-box'  id='aUDF3_" + obj.aData.ID + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF4 = obj.aData.UDF4 == null ? "" : obj.aData.UDF4.substring(0, 255);
                        return "<input type='text' value='" + tempUDF4 + "'  maxLength='255'  class='importtext-box'  id='aUDF4_" + obj.aData.ID + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.UDF5 == null ? "" : obj.aData.UDF5.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255' class='importtext-box'  id='aUDF5_" + obj.aData.ID + "' style='width:100px;' />"
                    }
                });
            }

        });
    }

</script>