@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("assetname"))
    {
        <th>
            <em>* </em>
            @ResAssetMaster.AssetName
        </th>
    }
    @if (arrcolumns.Contains("description"))
    {
        <th>
            @ResAssetMaster.Description
        </th>
    }
    @if (arrcolumns.Contains("make"))
    {
        <th>
            @ResAssetMaster.Make
        </th>
    }
    @if (arrcolumns.Contains("model"))
    {
        <th>
            @ResAssetMaster.Model
        </th>
    }
    @if (arrcolumns.Contains("serial"))
    {
        <th>
            @ResAssetMaster.Serial
        </th>
    }
    @if (arrcolumns.Contains("toolcategory"))
    {
        <th>
            @ResAssetMaster.ToolCategory
        </th>
    }
    @if (arrcolumns.Contains("purchasedate"))
    {
        <th>
            @ResAssetMaster.PurchaseDate
        </th>
    }
    @if (arrcolumns.Contains("purchaseprice"))
    {
        <th>
            @ResAssetMaster.PurchasePrice
        </th>
    }
    @if (arrcolumns.Contains("depreciatedvalue"))
    {
        <th>
            @ResAssetMaster.DepreciatedValue
        </th>
    }
    @if (arrcolumns.Contains("udf1"))
    {
        <th>
            @ResAssetMaster.UDF1
        </th>
    }
    @if (arrcolumns.Contains("udf2"))
    {
        <th>
            @ResAssetMaster.UDF2
        </th>
    }
    @if (arrcolumns.Contains("udf3"))
    {
        <th>
            @ResAssetMaster.UDF3
        </th>
    }
    @if (arrcolumns.Contains("udf4"))
    {
        <th>
            @ResAssetMaster.UDF4
        </th>
    }
    @if (arrcolumns.Contains("udf5"))
    {
        <th>
            @ResAssetMaster.UDF5
        </th>
    }
    @if (arrcolumns.Contains("udf6"))
    {
        <th>
            @ResAssetMaster.UDF6
        </th>
    }
    @if (arrcolumns.Contains("udf7"))
    {
        <th>
            @ResAssetMaster.UDF7
        </th>
    }
    @if (arrcolumns.Contains("udf8"))
    {
        <th>
            @ResAssetMaster.UDF8
        </th>
    }
    @if (arrcolumns.Contains("udf9"))
    {
        <th>
            @ResAssetMaster.UDF9
        </th>
    }
    @if (arrcolumns.Contains("udf10"))
    {
        <th>
            @ResAssetMaster.UDF10
        </th>
    }
    @if (arrcolumns.Contains("assetcategory"))
    {
        <th>
            @ResAssetMaster.AssetCategory
        </th>
    }
    @if (arrcolumns.Contains("imagepath"))
    {
        <th>
            @ResAssetMaster.ImagePath
        </th>
    }
    @if (arrcolumns.Contains("assetimageexternalurl"))
    {
        <th>
            @ResAssetMaster.AssetImageExternalURL
        </th>
    }
</tr>

<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.Assets)') {
        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("assetname")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.AssetName == null ? "" : obj.aData.AssetName.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "' onblur='return ValidateValueWithDataType();' class='importtext-box' id='aAssetName_" + obj.aData.ID + "' style='width:300px;' />" +
                                                "<span id='AssetID' style='display:none'>" + obj.aData.ID + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("description")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.Description == null ? "" : obj.aData.Description.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'  class='importtext-box' id='aDescription_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("make")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.Make == null ? "" : obj.aData.Make.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'  class='importtext-box' id='aMake_" + obj.aData.ID + "' style='width:300px;' />"
                        "<span id='ToolID' style='display:none'>" + obj.aData.ID + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("model")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.Model == null ? "" : obj.aData.Model.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'  class='importtext-box' id='aModel_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("serial")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.Serial == null ? "" : obj.aData.Serial.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'  class='importtext-box' id='aSerial_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("toolcategory")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.ToolCategory == null ? "" : obj.aData.ToolCategory.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'  class='importtext-box' id='aToolCategory_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("purchasedate")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value

                        var tempDataPullQnt = obj.aData.PurchaseDateString.split(' ')[0] == null ? "" : obj.aData.PurchaseDateString.split(' ')[0];
                        if (tempDataPullQnt != "") {
                            return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'  class='importtext-box' id='aPurchaseDate_" + obj.aData.ID + "' style='width:300px;' />"
                        }
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'  class='importtext-box' id='aPurchaseDate_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("purchaseprice")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.PurchasePrice == null ? "" : obj.aData.PurchasePrice;
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'   class='numericDecimalinput importtext-box' id='aPurchasePrice_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("depreciatedvalue")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.DepreciatedValue == null ? "" : obj.aData.DepreciatedValue;
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'   class='numericDecimalinput importtext-box' id='aDepreciatedValue_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }


            if ('@arrcolumns.Contains("udf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF1 = obj.aData.UDF1 == null ? "" : obj.aData.UDF1.substring(0, 255);
                        return "<input type='text' value='" + tempUDF1 + "' maxLength='255' class='importtext-box' id='aUDF1' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF2 = obj.aData.UDF2 == null ? "" : obj.aData.UDF2.substring(0, 255);
                        return "<input type='text' value='" + tempUDF2 + "' maxLength='255'  class='importtext-box'  id='aUDF2' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF3 = obj.aData.UDF3 == null ? "" : obj.aData.UDF3.substring(0, 255);
                        return "<input type='text' value='" + tempUDF3 + "'  maxLength='255'  class='importtext-box'  id='aUDF3' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF4 = obj.aData.UDF4 == null ? "" : obj.aData.UDF4.substring(0, 255);
                        return "<input type='text' value='" + tempUDF4 + "'  maxLength='255'  class='importtext-box'  id='aUDF4' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.UDF5 == null ? "" : obj.aData.UDF5.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255' class='importtext-box'  id='aUDF5' style='width:100px;' />"
                    }
                });
            }

            if ('@arrcolumns.Contains("udf6")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF6 = obj.aData.UDF6 == null ? "" : obj.aData.UDF6.substring(0, 255);
                        return "<input type='text' value='" + tempUDF6 + "' maxLength='255' class='importtext-box' id='aUDF6' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf7")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF7 = obj.aData.UDF7 == null ? "" : obj.aData.UDF7.substring(0, 255);
                        return "<input type='text' value='" + tempUDF7 + "' maxLength='255'  class='importtext-box'  id='aUDF7' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf8")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF8 = obj.aData.UDF8 == null ? "" : obj.aData.UDF8.substring(0, 255);
                        return "<input type='text' value='" + tempUDF8 + "'  maxLength='255'  class='importtext-box'  id='aUDF8' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf9")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF9 = obj.aData.UDF9 == null ? "" : obj.aData.UDF9.substring(0, 255);
                        return "<input type='text' value='" + tempUDF9 + "'  maxLength='255'  class='importtext-box'  id='aUDF9' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf10")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF10 = obj.aData.UDF10 == null ? "" : obj.aData.UDF10.substring(0, 255);
                        return "<input type='text' value='" + tempUDF10 + "'  maxLength='255' class='importtext-box'  id='aUDF10' style='width:100px;' />"
                    }
                });
            }

            if ('@arrcolumns.Contains("assetcategory")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.UDF5 == null ? "" : obj.aData.UDF5.substring(0, 255);
                        return "<input type='text' value='" + obj.aData.AssetCategory + "'  maxLength='255' class='importtext-box'  id='aAssetCategoryValue_" + obj.aData.ID + "' style='width:100px;' />"
                    }
                });
            }

            if ('@arrcolumns.Contains("imagepath")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var ImagePath = obj.aData.ImagePath == null ? "" : obj.aData.ImagePath.substring(0, 255);

                        return "<input type='text' value='" + ImagePath + "' maxLength='255'  class='importtext-box' id='aImagePath_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }

            if ('@arrcolumns.Contains("assetimageexternalurl")') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        return "<input type='text' maxLength='500'  value='" + obj.aData.AssetImageExternalURL + "' class='importtext-box' id='aAssetImageExternalURL_" + obj.aData.ID + "'  />"
                    }
                });
            }
        });


    }

</script>