@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("modulename"))
    {
        <th>
            <em>* </em>
            @ResBarcodeMaster.ModuleName
        </th>
    }
    @if (arrcolumns.Contains("itemnumber"))
    {
        <th>
            <em>* </em>
            @ResBarcodeMaster.ItemNumber
        </th>
    }
    @if (arrcolumns.Contains("barcodestring"))
    {
        <th>
            <em>* </em>
            @ResBarcodeMaster.BarcodeString
        </th>
    }
    @if (arrcolumns.Contains("binnumber"))
    {
        <th>
            @ResBarcodeMaster.BinNumber
        </th>
    }
</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.BarcodeMaster)') {

        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("modulename")' == 'True') {

                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {

                        var tempSupplier = obj.aData.ModuleName == null ? "" : obj.aData.ModuleName.substring(0, 128);
                        return "<input type='text' value='" + tempSupplier + "'  maxLength='128' class='importtext-box' id='aModuleName_" + obj.aData.ID + "' style='width:100px;'  />" +
                        "<span id='BarcodeID' style='display:none'>" + obj.aData.ID + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("itemnumber")' == 'True') {
                ColumnObject.push({

                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {

                        var tempItemNumber = obj.aData.ItemNumber == null ? "" : obj.aData.ItemNumber.substring(0, 500);

                        return "<input type='text' value='" + tempItemNumber + "'  maxLength='500' onblur='return ValidateValueWithDataType();' class='importtext-box' id='aItemNumber_" + obj.aData.ID + "' style='width:300px;' />"
                    }
                });
            }


            if ('@arrcolumns.Contains("barcodestring")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var BarCode = obj.aData.BarcodeString == null ? "" : obj.aData.BarcodeString.substring(0, 512);

                        return "<input type='text' value='" + BarCode + "'   maxLength='512' class='importtext-box' id='aBarCodeString_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("binnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempBinNumber = obj.aData.BinNumber == null ? "" : obj.aData.BinNumber;
                        return "<input type='text' value='" + tempBinNumber + "'   maxLength='500' class='importtext-box' id='aBinNumber_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }





        });

    }

</script>