@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("itemnumber"))
    {
        <th>
            <em>* </em>
            @ResItemMaster.ItemNumber
        </th>
    }
    @if (arrcolumns.Contains("manufacturername"))
    {
        <th>
            <em>* </em>
            @ResManufacturer.ManufacturerName
        </th>
    }
    @if (arrcolumns.Contains("manufacturernumber"))
    {
        <th>
            @ResItemManufacturerDetails.ManufacturerNumber
        </th>
    }
    @if (arrcolumns.Contains("isdefault"))
    {
        <th>
            @ResItemManufacturerDetails.IsDefault
        </th>
    }
</tr>
<script type="text/javascript">

    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.ItemManufacturer)') {

        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            ColumnObject.push({
                "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                "fnRender": function (obj, val) {
                    var tempItemNumber = obj.aData.ItemNumber == null ? "" : obj.aData.ItemNumber.substring(0, 100);
                    return "<input type='text' value='" + tempItemNumber + "'  maxLength='100' onblur='return ValidateValueWithDataType();' class='importtext-box' id='aItemNumber_" + obj.aData.ID + "' style='width:300px;' />" +
                                            "<span id='ManufacturerID' style='display:none'>" + obj.aData.ID + "</span>"
                }
            });

            if ('@arrcolumns.Contains("manufacturername")' == 'True') {

                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {

                        var tempManufacturer = obj.aData.ManufacturerName == null ? "" : obj.aData.ManufacturerName.substring(0, 150);
                        return "<input type='text' value='" + tempManufacturer + "'  maxLength='150' class='importtext-box' id='aManufacturerName_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }

            if ('@arrcolumns.Contains("manufacturernumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempManufacturerNumber = obj.aData.ManufacturerNumber == null ? "" : obj.aData.ManufacturerNumber.substring(0, 50);
                        return "<input type='text' value='" + tempManufacturerNumber + "'   maxLength='50' class='importtext-box' id='aManufacturerNumber_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }

            if ('@arrcolumns.Contains("isdefault")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var IsDefault = obj.aData.IsDefault == null ? "" : obj.aData.IsDefault;
                        if (IsDefault != "" || IsDefault == "true") {
                            IsDefault = "checked=\"checked\""
                        }
                        else { IsDefault = ""; }
                        return "<input type='checkbox'" + IsDefault + " id='aIsDefault_" + obj.aData.ID + "'  />"
                    }
                });
            }



        });

    }

</script>