@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("modulename"))
    {
        <th>
            <em>* </em>
            @ResBarcodeMaster.ModuleName
        </th>


    }
    @if (arrcolumns.Contains("udfcolumnname"))
    {
        <th>
            <em>* </em>
            UDFColumnName
        </th>


    }
    @if (arrcolumns.Contains("udfname"))
    {
        <th>
            <em>* </em>
            UDFName
        </th>


    }
    @if (arrcolumns.Contains("controltype"))
    {
        <th>
            <em>* </em>
            control type
        </th>


    }
    @if (arrcolumns.Contains("defaultvalue"))
    {
        <th>
            Default Value
        </th>


    }
    @if (arrcolumns.Contains("optionname"))
    {
        <th>
            Option Name
        </th>


    }
    @if (arrcolumns.Contains("isrequired"))
    {
        <th>
            Is Required
        </th>


    }
    @if (arrcolumns.Contains("isdeleted"))
    {
        <th>
            Is Deleted
        </th>


    }
    @if (arrcolumns.Contains("includeinnarrowsearch"))
    {
        <th>
            In narrowsearch
        </th>


    }
</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.UDF)') {

        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("modulename")' == 'True') {

                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {

                        var tempModuleName = obj.aData.ModuleName == null ? "" : obj.aData.ModuleName;
                        return "<input type='text' value='" + tempModuleName + "'  maxLength='128' class='importtext-box' id='aModuleName_" + obj.aData.ID + "' style='width:100px;'  />" +
                        "<span id='UDFID' style='display:none'>" + obj.aData.ID + "</span>";
                    }
                });
            }
            if ('@arrcolumns.Contains("udfcolumnname")' == 'True') {

                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {

                        var tempModuleUDFName = obj.aData.UDFColumnName == null ? "" : obj.aData.UDFColumnName;
                        return "<input type='text' value='" + tempModuleUDFName + "'  maxLength='128' class='importtext-box' id='aUDFColumnName_" + obj.aData.ID + "' style='width:100px;'  />";
                    }
                });
            }
            if ('@arrcolumns.Contains("udfname")' == 'True') {

                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {

                        var tempModuleUDFName = obj.aData.UDFName == null ? "" : obj.aData.UDFName;
                        return "<input type='text' value='" + tempModuleUDFName + "'  maxLength='128' class='importtext-box' id='aUDFName_" + obj.aData.ID + "' style='width:100px;'  />";
                    }
                });
            }
            if ('@arrcolumns.Contains("controltype")' == 'True') {
                ColumnObject.push({

                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {

                        var tempControlType = obj.aData.ControlType == null ? "" : obj.aData.ControlType;

                        return "<input type='text' value='" + tempControlType + "'  maxLength='500' class='importtext-box' id='aControlType_" + obj.aData.ID + "' style='width:300px;' />";
                    }
                });
            }


            if ('@arrcolumns.Contains("defaultvalue")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDefaultValue = obj.aData.DefaultValue == null ? "" : obj.aData.DefaultValue;

                        return "<input type='text' value='" + tempDefaultValue + "'   maxLength='512' class='importtext-box' id='aDefaultValue_" + obj.aData.ID + "' style='width:100px;'  />";
                    }
                });
            }
            if ('@arrcolumns.Contains("optionname")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempOptionName = obj.aData.OptionName == null ? "" : obj.aData.OptionName;
                        return "<input type='text' value='" + tempOptionName + "'   maxLength='500' class='importtext-box' id='aOptionName_" + obj.aData.ID + "' style='width:100px;'  />";
                    }
                });
            }
            if ('@arrcolumns.Contains("isrequired")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempIsRequired = obj.aData.IsRequired == null ? "" : obj.aData.IsRequired;
                        if (tempIsRequired != "" || tempIsRequired == "true") {
                            tempIsRequired = "checked=\"checked\""
                        }
                        else { tempIsRequired = ""; }
                        return "<input type='checkbox' " + tempIsRequired + " id='aIsRequired_" + obj.aData.ID + "' />";
                        //return obj.aData.IsRequired;
                    }
                });
            }
            if ('@arrcolumns.Contains("isdeleted")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempIsDeleted = obj.aData.IsDeleted == null ? "" : obj.aData.IsDeleted;
                        if (tempIsDeleted != "" || tempIsDeleted == "true") {
                            tempIsDeleted = "checked=\"checked\""
                        }
                        else { tempIsDeleted = ""; }
                        return "<input type='checkbox' " + tempIsDeleted + " id='aIsDeleted_" + obj.aData.ID + "' />";
                        //return obj.aData.IsDeleted;
                    }
                });
            }
            if ('@arrcolumns.Contains("includeinnarrowsearch")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempIncludeInNarrowsearch = obj.aData.IncludeInNarrowSearch == null ? "" : obj.aData.IncludeInNarrowSearch;
                        if (tempIncludeInNarrowsearch != "" || tempIncludeInNarrowsearch == "true") {
                            tempIncludeInNarrowsearch = "checked=\"checked\""
                        }
                        else { tempIncludeInNarrowsearch = ""; }
                        return "<input type='checkbox' " + tempIncludeInNarrowsearch + " id='aIncludeInNarrowSearch_" + obj.aData.ID + "' />";
                    }
                });
            }





        });

    }

</script>