@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("unit"))
    {
        <th>
            <em>* </em>
            @ResUnitMaster.Unit
        </th>
    }
    @if (arrcolumns.Contains("description"))
    {
        <th>
            @ResUnitMaster.Description
        </th>
    }
    @if (arrcolumns.Contains("odometer"))
    {
        <th>
            @ResUnitMaster.Odometer
        </th>
    }
    @if (arrcolumns.Contains("ophours"))
    {
        <th>
            @ResUnitMaster.OpHours
        </th>
    }
    @if (arrcolumns.Contains("serialno"))
    {
        <th>
            @ResUnitMaster.SerialNo
        </th>
    }
    @if (arrcolumns.Contains("year"))
    {
        <th>
            @ResUnitMaster.Year@ResUnitMaster.Year
        </th>
    }
    @if (arrcolumns.Contains("make"))
    {
        <th>
            @ResUnitMaster.Make
        </th>
    }
    @if (arrcolumns.Contains("model"))
    {
        <th>
            @ResUnitMaster.Model
        </th>
    }
    @if (arrcolumns.Contains("plate"))
    {
        <th>
            @ResUnitMaster.Plate
        </th>
    }
    @if (arrcolumns.Contains("enginemodel"))
    {
        <th>
            @ResUnitMaster.EngineModel
        </th>
    }
    @if (arrcolumns.Contains("engineserialno"))
    {
        <th>
            @ResUnitMaster.EngineSerialNo
        </th>
    }
    @if (arrcolumns.Contains("markupparts"))
    {
        <th>
            @ResUnitMaster.MarkupParts
        </th>
    }
    @if (arrcolumns.Contains("markuplabour"))
    {
        <th>
            @ResUnitMaster.MarkupLabour
        </th>
    }
    @if (arrcolumns.Contains("udf1"))
    {
        <th>
            @ResUnitMaster.UDF1
        </th>
    }
    @if (arrcolumns.Contains("udf2"))
    {
        <th>
            @ResUnitMaster.UDF2
        </th>
    }
    @if (arrcolumns.Contains("udf3"))
    {
        <th>
            @ResUnitMaster.UDF3
        </th>
    }
    @if (arrcolumns.Contains("udf4"))
    {
        <th>
            @ResUnitMaster.UDF4
        </th>
    }
    @if (arrcolumns.Contains("udf5"))
    {
        <th>
            @ResUnitMaster.UDF5
        </th>
    }
</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.UnitMaster)') {
        $(function (event) {
            // ColumnObject.push({ mDataProp: "ID", sClass: "read_only" });
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("unit")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.Unit == null ? "" : obj.aData.Unit.substring(0, 128);
                        return "<input type='text' value='" + tempDataPullQnt + "' maxLength='128' onblur='return ValidateValueWithDataType();' class='importtext-box' id='aUnit_" + obj.aData.ID + "' style='width:300px;' />" +
                                                "<span id='UnitID' style='display:none'>" + obj.aData.ID + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("description")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDescription = obj.aData.Description == null ? "" : obj.aData.Description.substring(0, 1024);
                        return "<input type='text' value='" + tempDescription + "' maxLength='1024' class='importtext-box' id='aDescription_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("odometer")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempOdometer = obj.aData.Odometer == null ? "" : obj.aData.Odometer.substring(0, 128);
                        return "<input type='text' value='" + tempOdometer + "' maxLength='128' class='importtext-box' id='aOdometer_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("ophours")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempOpHours = obj.aData.OpHours == null ? "" : obj.aData.OpHours;
                        return "<input type='text' value='" + tempOpHours + "' onkeypress='return isNumberKey(event);'  maxLength='10' class='importtext-box' id='aOpHours_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("serialno")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempSerialNo = obj.aData.SerialNo == null ? "" : obj.aData.SerialNo;
                        return "<input type='text' value='" + tempSerialNo + "'  onkeypress='return isNumberKey(event);'  class='importtext-box' id='aSerialNo_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("year")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempYear = obj.aData.Year == null ? "" : obj.aData.Year;
                        return "<input type='text' value='" + tempYear + "'  onkeypress='return isNumberKey(event);'  class='importtext-box' id='aYear_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("make")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempMake = obj.aData.Make == null ? "" : obj.aData.Make.substring(0, 128);
                        return "<input type='text' value='" + tempMake + "' maxLength='128' class='importtext-box' id='aMake_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("model")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempModel = obj.aData.Model == null ? "" : obj.aData.Model.substring(0, 128);
                        return "<input type='text' value='" + tempModel + "' maxLength='128' class='importtext-box' id='aModel_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("plate")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempPlate = obj.aData.Plate == null ? "" : obj.aData.Plate.substring(0, 128);
                        return "<input type='text' value='" + tempPlate + "' maxLength='128' class='importtext-box' id='aPlate_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("enginemodel")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempEngineModel = obj.aData.EngineModel == null ? "" : obj.aData.EngineModel.substring(0, 128);
                        return "<input type='text' value='" + tempEngineModel + "' maxLength='128' class='importtext-box' id='aEngineModel_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("engineserialno")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempEngineSerialNo = obj.aData.EngineSerialNo == null ? "" : obj.aData.EngineSerialNo.substring(0, 128);
                        return "<input type='text' value='" + tempEngineSerialNo + "' maxLength='128' class='importtext-box' id='aEngineSerialNo_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("markupparts")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempMarkupParts = obj.aData.MarkupParts == null ? "" : obj.aData.MarkupParts;
                        return "<input type='text' value='" + tempMarkupParts + "' onkeypress='return isNumberKey(event);'  class='importtext-box' id='aMarkupParts_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("markuplabour")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempMarkupLabour = obj.aData.MarkupLabour == null ? "" : obj.aData.MarkupLabour;
                        return "<input type='text' value='" + tempMarkupLabour + "'  onkeypress='return isNumberKey(event);' class='importtext-box' id='aMarkupLabour_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF1 = obj.aData.UDF1 == null ? "" : obj.aData.UDF1.substring(0, 255);
                        return "<input type='text' value='" + tempUDF1 + "'  maxLength='255'  class='importtext-box' id='aUDF1' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF2 = obj.aData.UDF2 == null ? "" : obj.aData.UDF2.substring(0, 255);
                        return "<input type='text' value='" + tempUDF2 + "'  maxLength='255'  class='importtext-box'  id='aUDF2' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF3 = obj.aData.UDF3 == null ? "" : obj.aData.UDF3.substring(0, 255);
                        return "<input type='text' value='" + tempUDF3 + "'  maxLength='255'  class='importtext-box'  id='aUDF3' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF4 = obj.aData.UDF4 == null ? "" : obj.aData.UDF4.substring(0, 255);
                        return "<input type='text' value='" + tempUDF4 + "'  maxLength='255'  class='importtext-box'  id='aUDF4' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("udf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.UDF5 == null ? "" : obj.aData.UDF5.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aUDF5' style='width:100px;' />"
                    }
                });
            }

            UpdateURL = '@Url.Content("~/ImportMultiRoom/UpdateDataUnitSession")';
        });

    }

</script>