@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("woname"))
    {
        <th>
            <em>* </em>
            @eTurns.DTO.ResWorkOrder.WOName
        </th>
    }
    @if (arrcolumns.Contains("releasenumber"))
    {
        <th>
            @eTurns.DTO.ResWorkOrder.ReleaseNumber
        </th>
    }
    @if (arrcolumns.Contains("description"))
    {
        <th>
            @eTurns.DTO.ResWorkOrder.Description
        </th>
    }
    @if (arrcolumns.Contains("technician"))
    {
        <th>
            @eTurns.DTO.ResTechnician.Technician
        </th>
    }
    @if (arrcolumns.Contains("customer"))
    {
        <th>
            @eTurns.DTO.ResCustomer.Customer
        </th>
    }
    @if (arrcolumns.Contains("wostatus"))
    {
        <th>

            @eTurns.DTO.ResWorkOrder.WOStatus
        </th>
    }
    @if (arrcolumns.Contains("wotype"))
    {
        <th>
            @eTurns.DTO.ResWorkOrder.WOType
        </th>
    }
    @if (arrcolumns.Contains("udf1"))
    {
        <th>
            @eTurns.DTO.ResWorkOrder.UDF1
        </th>
    }
    @if (arrcolumns.Contains("udf2"))
    {
        <th>
            @eTurns.DTO.ResWorkOrder.UDF2
        </th>
    }
    @if (arrcolumns.Contains("udf3"))
    {
        <th>
            @eTurns.DTO.ResWorkOrder.UDF3
        </th>
    }
    @if (arrcolumns.Contains("udf4"))
    {
        <th>

            @eTurns.DTO.ResWorkOrder.UDF4
        </th>
    }
    @if (arrcolumns.Contains("udf5"))
    {
        <th>
            @eTurns.DTO.ResWorkOrder.UDF5
        </th>
    }
    @if (arrcolumns.Contains("suppliername"))
    {
        <th>
            @eTurns.DTO.ResOrder.Supplier
        </th>
    }
    @if (arrcolumns.Contains("asset"))
    {
        <th>
            @eTurns.DTO.ResWorkOrder.Asset
        </th>
    }
    @if (arrcolumns.Contains("odometer"))
    {
        <th>
            @ResWorkOrder.Odometer_OperationHours
        </th>
    }
    @if (arrcolumns.Contains("supplieraccount"))
    {
        <th>
            @ResOrder.SupplierAccountDetail
        </th>
    }
</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.WorkOrders)') {
        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("woname")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.WOName == null ? "" : obj.aData.WOName.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "' onblur='return ValidateValueWithDataType();' class='importtext-box' id='aWOName_" + obj.aData.ID + "' style='width:300px;' />" +
                                                "<span id='InvLocId' style='display:none'>" + obj.aData.ID + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("releasenumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var ReleaseNumber = obj.aData.ReleaseNumber == null ? "" : obj.aData.ReleaseNumber;
                        return "<input type='text' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType(this);'   class='numericDecimalinput importtext-box' value='" + ReleaseNumber + "' id='aReleaseNumber_" + obj.aData.ID + "' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("description")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.Description == null ? "" : obj.aData.Description.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "' class='importtext-box' id='aDescription_" + obj.aData.ID + "' style='width:300px;' />";
                    }
                });
            }
            if ('@arrcolumns.Contains("technician")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.Technician == null ? "" : obj.aData.Technician.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "' class='importtext-box' id='aTechnician_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("customer")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.Customer == null ? "" : obj.aData.Customer.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "' class='importtext-box' id='aCustomer_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("wostatus")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.WOStatus == null ? "" : obj.aData.WOStatus.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "' class='importtext-box' id='aWOStatus_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("wotype")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempDataPullQnt = obj.aData.WOType == null ? "" : obj.aData.WOType.substring(0, 128);
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "' class='importtext-box' id='aWOType_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("udf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempUDF1 = obj.aData.UDF1 == null ? "" : obj.aData.UDF1;
                        return "<input type='text' maxLength='128' ' value='" + tempUDF1 + "'  class='importtext-box' id='aUDF1_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("udf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempUDF2 = obj.aData.UDF2 == null ? "" : obj.aData.UDF2;
                        return "<input type='text' maxLength='128' ' value='" + tempUDF2 + "'  class='importtext-box' id='aUDF2_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("udf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempUDF3 = obj.aData.UDF3 == null ? "" : obj.aData.UDF3;
                        return "<input type='text' maxLength='128' ' value='" + tempUDF3 + "'  class='importtext-box' id='aUDF3_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("udf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value
                        var tempUDF4 = obj.aData.UDF4 == null ? "" : obj.aData.UDF4;
                        return "<input type='text' maxLength='128'   value='" + tempUDF4 + "'  class='importtext-box' id='aUDF4_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("udf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value

                        var tempUDF5 = obj.aData.UDF5 == null ? "" : obj.aData.UDF5;

                        return "<input type='text' maxLength='128'   value='" + tempUDF5 + "'  class='importtext-box' id='aUDF5_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("suppliername")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        //limitField.value

                        var tempSupplierName = obj.aData.SupplierName == null ? "" : obj.aData.SupplierName;

                        return "<input type='text' maxLength='128'   value='" + tempSupplierName + "'  class='importtext-box' id='aSupplierName_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("asset")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempAsset = obj.aData.Asset == null ? "" : obj.aData.Asset;
                        return "<input type='text' maxLength='128'   value='" + tempAsset + "'  class='importtext-box' id='aAsset_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("odometer")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempodometer = obj.aData.Odometer_OperationHours == null ? "" : obj.aData.Odometer_OperationHours;
                        return "<input type='text' onblur='return ValidateValueWithDataType(this);' max='999999999999999' value='" + tempodometer + "'  class='numericDecimalinput importtext-box' id='aOdometer_" + obj.aData.ID + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("supplieraccount")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempSupplierAccount = obj.aData.SupplierAccount == null ? "" : obj.aData.SupplierAccount;
                        return "<input type='text' value='" + tempSupplierAccount + "'  maxLength='128'  class='importtext-box' id='aSupplierAccount_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
        });
    }
</script>