@{
    var lstsource = (List<PdaGridColumsDto>)ViewBag.SourceList;
    var lstdestination = (List<PdaGridColumsDto>)ViewBag.DestinationList;
    var lstUsers = (List<UserMasterDTO>)ViewBag.UserList;
    var lstTableUsers = (List<UserMasterDTO>)ViewBag.TableUser;
    Int64[] lstSelectedUserIDs = lstTableUsers.Select(x => x.ID).ToArray();
}
<style>
    .divsourcelist, .divdestinationlist, .divuserlist
    {
        width: 250px;
        float: left;
    }
    
    .divsourcelist ul
    {
        margin: 0;
        padding: 5px 0;
        width: 200px;
        background-color: #CCC;
    }
    .divsourcelist ul li
    {
        margin: 5px 10px;
        padding: 5px 10px;
        list-style: none;
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
    
    .divdestinationlist ul
    {
        margin: 0;
        padding: 5px 0;
        width: 200px;
        background-color: #CCC;
    }
    .divdestinationlist ul li
    {
        margin: 5px 10px;
        padding: 5px 10px;
        list-style: none;
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#divsource, #divdestination").sortable({
            connectWith: ".connectedSortable"
        });
    });
</script>
<div class="divsourcelist">
    <h4>
        @ResLayout.SourceColumnsList
    </h4> 
    <ul id="divsource" class="connectedSortable">
        <li style="visibility: hidden"></li>
        @if (lstsource != null)
        {
            if (lstsource.Any())
            {
                foreach (var item in lstsource)
                {
            <li id="@item.Id">@item.GridColumnName
                @Html.Hidden("hidId", item.Id)
                @Html.Hidden("hidColumnvalue", item.GridColumnValue)
                @Html.Hidden("hidListName", item.ListName)
                @Html.Hidden("hidTableName", item.TableName)
                @Html.Hidden("hidGridColumnValueWithoutAlias", item.GridColumnValueWithoutAlias)
                @Html.Hidden("hidGridColumnName", item.GridColumnName)
                @Html.Hidden("hidGridColumnAlias", item.GridColumnAlias)
                @Html.Hidden("hidIsSearchFixed", item.IsSearch)
            </li>
                }
            }
        }
    </ul>
</div>
<div class="divdestinationlist">
    <h4>
        @ResLayout.DestinationColumnsList</h4>
    <ul id="divdestination" class="connectedSortable">
        <li style="visibility: hidden" id="liinvisibleid"></li>
        @if (lstdestination != null)
        {
            if (lstdestination.Any())
            {
                foreach (var item in lstdestination)
                {
            <li id="@item.Id">@item.GridColumnName
                @Html.Hidden("hidId", item.Id)
                @Html.Hidden("hidColumnvalue", item.GridColumnValue)
                @Html.Hidden("hidListName", item.ListName)
                @Html.Hidden("hidTableName", item.TableName)
                @Html.Hidden("hidGridColumnValueWithoutAlias", item.GridColumnValueWithoutAlias)
                @Html.Hidden("hidGridColumnName", item.GridColumnName)
                @Html.Hidden("hidGridColumnAlias", item.GridColumnAlias)
                @Html.Hidden("hidIsSearchFixed", item.IsSearch)
            </li>
                }
            }
        }
    </ul>
</div>
@if (eTurnsWeb.Helper.SessionHelper.UserType <= 2)
{
    <div class="divuserlist">
        <h4>
            @ResLayout.UserList</h4>
        @Html.ListBox("lstUsers", new MultiSelectList(ViewBag.UserList, "ID", "UserName", lstSelectedUserIDs), new { @id = "lstUsers", @style = "width:70%;min-height:270px;", @size = "3" })
        @Html.Hidden("hPrevSelectedUser", string.Join(",", lstSelectedUserIDs))
    </div>
}
