@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("itemnumber"))
    {
        <th>
            <em>* </em>
            @ResItemMaster.ItemNumber
        </th>
    }
    @if (arrcolumns.Contains("suppliername"))
    {
        <th>
            <em>* </em>
            @ResSupplierMaster.Supplier
        </th>
    }
    @if (arrcolumns.Contains("suppliernumber"))
    {
        <th>
            @ResItemSupplierDetails.SupplierNumber
        </th>
    }
    @if (arrcolumns.Contains("blanketponame"))
    {
        <th>
            @ResItemSupplierDetails.BlanketPONAME
        </th>
    }
    @if (arrcolumns.Contains("isdefault"))
    {
        <th>
            @ResItemSupplierDetails.IsDefault
        </th>
    }
</tr>

<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.ItemSupplier)') {

        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            ColumnObject.push({

                "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                "fnRender": function (obj, val) {

                    var tempItemNumber = obj.aData.ItemNumber == null ? "" : obj.aData.ItemNumber.substring(0, 100);

                    return "<input type='text' value='" + tempItemNumber + "'  maxLength='100' onblur='return ValidateValueWithDataType();' class='importtext-box' id='aItemNumber_" + obj.aData.ID + "' style='width:300px;' />" +
                                            "<span id='SupplierID' style='display:none'>" + obj.aData.ID + "</span>"
                }
            });

            if ('@arrcolumns.Contains("suppliername")' == 'True') {

                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {

                        var tempSupplier = obj.aData.SupplierName == null ? "" : obj.aData.SupplierName.substring(0, 128);
                        return "<input type='text' value='" + tempSupplier + "'  maxLength='128' class='importtext-box' id='aSupplierName_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }

            if ('@arrcolumns.Contains("suppliernumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempSupplierNumber = obj.aData.SupplierNumber == null ? "" : obj.aData.SupplierNumber.substring(0, 50);
                        return "<input type='text' value='" + tempSupplierNumber + "'   maxLength='50' class='importtext-box' id='aSupplierNumber_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("blanketponame")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempBlanketPOName = obj.aData.BlanketPOName == null ? "" : obj.aData.BlanketPOName;
                        return "<input type='text' value='" + tempBlanketPOName + "'   maxLength='255' class='importtext-box' id='aBlanketPOID_" + obj.aData.ID + "' style='width:100px;'  />"
                    }
                });
            }

            if ('@arrcolumns.Contains("isdefault")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var IsDefault = obj.aData.IsDefault == null ? "" : obj.aData.IsDefault;
                        if (IsDefault != "" || IsDefault == "true") {
                            IsDefault = "checked=\"checked\""
                        }
                        else { IsDefault = ""; }
                        return "<input type='checkbox'" + IsDefault + "id='aIsDefault_" + obj.aData.ID + "'  />"
                    }
                });
            }



        });

    }

</script>