@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("itemnumber"))
    {
        <th>
            <em>* </em>
            @ResItemMaster.ItemNumber
        </th>
    }
    @if (arrcolumns.Contains("sourcebin"))
    {
        <th>
            <em>* </em>
            @ResMoveMaterial.LabelSourceLacation
        </th>
    }
    @if (arrcolumns.Contains("destinationbin"))
    {
        <th>
            <em>* </em>
            @ResMoveMaterial.LabelDestinationLocation
        </th>
    }
    @if (arrcolumns.Contains("movetype"))
    {
        <th>
            <em>* </em>
            @ResMoveMaterial.LabelMoveType
        </th>
    }
    @if (arrcolumns.Contains("quantity"))
    {
        <th>
            <em>* </em>
            @ResMoveMaterial.LabelQuantityToMove
        </th>
    }
    @if (arrcolumns.Contains("destinationstagingheader"))
    {
        <th>
            <em>* </em>
            @ResMoveMaterial.DestinationStagingHeader
        </th>
    }
    
</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.MoveMaterial)') {
        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";

                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("itemnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataToolName = obj.aData.ItemNumber == null ? "" : obj.aData.ItemNumber.substring(0, 100);
                        if (tempDataToolName != '') {
                            tempDataToolName = $.trim(tempDataToolName);
                        }
                        return "<input type='text' maxLength='100'  value='" + tempDataToolName + "'  class='importtext-box' id='aItemNumber_" + obj.aData.Id + "' style='width:200px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("sourcebin")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.SourceBin == null ? "" : obj.aData.SourceBin.substring(0, 128);
                        if (tempDataPullQnt != '') {
                            tempDataPullQnt = $.trim(tempDataPullQnt);
                        }
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "'  class='importtext-box' id='aSourceBin_" + obj.aData.Id + "' style='width:200px;' />" +
                            "<span id='Id' style='display:none'>" + obj.aData.Id + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("destinationbin")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempLocation = obj.aData.DestinationBin == null ? "" : obj.aData.DestinationBin.substring(0, 128);
                        return "<input type='text' value='" + tempLocation + "'  maxLength='128' class='importtext-box'  id='aDestinationBin_" + obj.aData.Id + "' style='width:200px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("movetype")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempTechnician = obj.aData.MoveType == null ? "" : obj.aData.MoveType.substring(0, 128);
                        return "<input type='text' value='" + tempTechnician + "'  maxLength='128' class='importtext-box'  id='aMoveType_" + obj.aData.Id + "' style='width:170px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("quantity")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.Quantity == null ? "" : obj.aData.Quantity;
                        return "<input type='text' maxLength='128'  value='" + tempDataPullQnt + "' onblur='return ValidateValueWithDataType();'  onkeypress='return isNumberKey(event);' class='numericDecimalinput importtext-box' id='aQuantity_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("destinationstagingheader")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDestinationStagingHeader = obj.aData.DestinationStagingHeader == null ? "" : obj.aData.DestinationStagingHeader.substring(0, 128);
                        return "<input type='text' value='" + tempDestinationStagingHeader + "'  maxLength='128' class='importtext-box'  id='aDestinationStagingHeader_" + obj.aData.Id + "' style='width:200px;' />"
                    }
                });
            }
        });
    }

</script>