@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("supplier"))
    {
        <th>
            <em>* </em>
            @ResOrder.Supplier
        </th>
    }
    @if (arrcolumns.Contains("ordernumber"))
    {
        <th>        
            <em>* </em>    
            @ResOrder.OrderNumber
        </th>
    }
    @if (arrcolumns.Contains("requireddate"))
    {
        <th>
            <em>* </em>
            @ResOrder.RequiredDate
        </th>
    }
    @if (arrcolumns.Contains("orderstatus"))
    {
        <th>
             <em>* </em>
            @ResOrder.OrderStatus
        </th>
    }
    @if (arrcolumns.Contains("stagingname"))
    {
        <th>
            @ResOrder.StagingName
        </th>
    }
    @if (arrcolumns.Contains("ordercomment"))
    {
        <th>
            @ResOrder.Comment
        </th>
    }
    @if (arrcolumns.Contains("customername"))
    {
        <th>
            @ResOrder.Customer
        </th>
    }
    @if (arrcolumns.Contains("packslipnumber"))
    {
        <th>
            @ResOrder.PackSlipNumber
        </th>
    }
    @if (arrcolumns.Contains("shippingtracknumber"))
    {
        <th>
            @ResOrder.ShippingTrackNumber
        </th>
    }
    @if (arrcolumns.Contains("orderudf1"))
    {
        <th>
            @ResOrder.UDF1
        </th>}
    @if (arrcolumns.Contains("orderudf2"))
    {
        <th>
            @ResOrder.UDF2
        </th>
    }
    @if (arrcolumns.Contains("orderudf3"))
    {
        <th>
            @ResOrder.UDF3
        </th>
    }
    @if (arrcolumns.Contains("orderudf4"))
    {
        <th>
            @ResOrder.UDF4
        </th>
    }
    @if (arrcolumns.Contains("orderudf5"))
    {
        <th>
            @ResOrder.UDF5
        </th>
    }

    @if (arrcolumns.Contains("shipvia"))
    {
        <th>
            @ResOrder.ShipVia
        </th>
    }
    @if (arrcolumns.Contains("ordertype"))
    {
        <th>
             <em>* </em>
            @ResOrder.OrderType
        </th>
    }
    @if (arrcolumns.Contains("shippingvendor"))
    {
        <th>
            @ResOrder.ShippingVendor
        </th>
    }
    @*@if (arrcolumns.Contains("accountnumber"))
    {
        <th>
            @ResOrder.AccountNumber
        </th>
    }*@
    @if (arrcolumns.Contains("supplieraccount"))
    {
        <th>
            @ResOrder.SupplierAccount
        </th>
    }
    @if (arrcolumns.Contains("itemnumber"))
    {
        <th>
            @ResOrder.ItemNumber
        </th>
    }
    @if (arrcolumns.Contains("bin"))
    {
        <th>
            @ResOrder.Bin
        </th>
    }
    @if (arrcolumns.Contains("requestedqty"))
    {
        <th>
            @ResOrder.RequestedQuantity
        </th>
    }
    @if (arrcolumns.Contains("receivedqty"))
    {
        <th>
            @ResOrder.ReceivedQuantity
        </th>
    }
    @if (arrcolumns.Contains("asnnumber"))
    {
        <th>
            @ResOrder.ASNNumber
        </th>
    }
    @if (arrcolumns.Contains("approvedqty"))
    {
        <th>
            @ResOrder.ApprovedQuantity
        </th>
    }
    @if (arrcolumns.Contains("intransitqty"))
    {
        <th>
            @ResOrder.OrdDtlInTransitQty
        </th>
    }
    @if (arrcolumns.Contains("iscloseitem"))
    {
        <th>
            @ResOrder.IsCloseItem
        </th>
    }
    @if (arrcolumns.Contains("linenumber"))
    {
        <th>
            @ResOrder.LineNumber
        </th>
    }
    @if (arrcolumns.Contains("controlnumber"))
    {
        <th>
            @ResOrder.ControlNumber
        </th>
    }
    @if (arrcolumns.Contains("itemcomment"))
    {
        <th>
            @ResOrder.ItemComment
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf1"))
    {
        <th>
            @ResOrder.OrdDtlUDF1
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf2"))
    {
        <th>
            @ResOrder.OrdDtlUDF2
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf3"))
    {
        <th>
            @ResOrder.OrdDtlUDF3
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf4"))
    {
        <th>
            @ResOrder.OrdDtlUDF4
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf5"))
    {
        <th>
            @ResOrder.OrdDtlUDF5
        </th>
    }
    @if (arrcolumns.Contains("ordercost"))
    {
        <th>
            @ResOrder.OrderCost
        </th>
    }
    @if (arrcolumns.Contains("salesorder"))
    {
        <th>
            @ResOrder.SalesOrder
        </th>
    }

</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.Orders)') {
        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("supplier")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.Supplier == null ? "" : obj.aData.Supplier;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aSupplier_" + obj.aData.ID + "' style='width:300px;' />" +
                                             "<span id='OrderID' style='display:none'>" + obj.aData.ID + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("ordernumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.OrderNumber == null ? "" : obj.aData.OrderNumber;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aOrderNumber_" + obj.aData.ID + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("requireddate")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequiredDate == null ? "" : obj.aData.RequiredDate;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aRequiredDate_" + obj.aData.ID + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("orderstatus")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var temporderStatus = obj.aData.OrderStatus == null ? "" : obj.aData.OrderStatus;
                        if (temporderStatus == "") {
                            return "<input type='text' value='" + temporderStatus + "'  maxLength='128'  class='importtext-box' id='aOrderStatus_" + obj.aData.ID + "' style='width:300px;border-color:red;' />"
                        } else {
                            return "<input type='text' value='" + temporderStatus + "'  maxLength='128'  class='importtext-box' id='aOrderStatus_" + obj.aData.ID + "' style='width:300px;' />"
                        }


                    }
                });
            }
            if ('@arrcolumns.Contains("stagingname")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.StagingName == null ? "" : obj.aData.StagingName;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aStagingName' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("ordercomment")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.OrderComment == null ? "" : obj.aData.OrderComment;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aOrderComment' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("customername")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.CustomerName == null ? "" : obj.aData.CustomerName;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aCustomerName' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("packslipnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.PackSlipNumber == null ? "" : obj.aData.PackSlipNumber;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aPackSlipNumber' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("shippingtracknumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.ShippingTrackNumber == null ? "" : obj.aData.ShippingTrackNumber;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aShippingTrackNumber' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("orderudf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.OrderUDF1 == null ? "" : obj.aData.OrderUDF1;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aOrderUDF1' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("orderudf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.OrderUDF2 == null ? "" : obj.aData.OrderUDF2;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aOrderUDF2' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("orderudf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.OrderUDF3 == null ? "" : obj.aData.OrderUDF3;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aOrderUDF3' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("orderudf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.OrderUDF4 == null ? "" : obj.aData.OrderUDF4;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aOrderUDF4' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("orderudf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.OrderUDF5 == null ? "" : obj.aData.OrderUDF5;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aOrderUDF5' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("shipvia")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.ShipVia == null ? "" : obj.aData.ShipVia;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aShipVia' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("ordertype")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempordertype = obj.aData.OrderType == null ? "" : obj.aData.OrderType;
                        if (tempordertype == "") {
                            return "<input type='text' value='" + tempordertype + "'  maxLength='128'  class='importtext-box' id='aOrderType' style='width:300px;border-color:red;'/>"
                        } else {
                            return "<input type='text' value='" + tempordertype + "'  maxLength='128'  class='importtext-box' id='aOrderType' style='width:300px;' />"
                        }

                    }
                });
            }
            if ('@arrcolumns.Contains("shippingvendor")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.ShippingVendor == null ? "" : obj.aData.ShippingVendor;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aShippingVendor' style='width:300px;' />"

                    }
                });
            }
//            if ('@arrcolumns.Contains("accountnumber")' == 'True') {
//                ColumnObject.push({
//                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
//                    "fnRender": function (obj, val) {
//                        var tempDataPullQnt = obj.aData.AccountNumber == null ? "" : obj.aData.AccountNumber;
//                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aAccountNumber' style='width:300px;' />"

//                    }
//                });
//            }
            if ('@arrcolumns.Contains("supplieraccount")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.SupplierAccount == null ? "" : obj.aData.SupplierAccount;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aSupplierAccount' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("itemnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataBinNumber = obj.aData.ItemNumber == null ? "" : obj.aData.ItemNumber;
                        return "<input type='text' value='" + tempDataBinNumber + "'  maxLength='128'  class='importtext-box' id='aItemNumber_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("bin")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataBinNumber = obj.aData.Bin == null ? "" : obj.aData.Bin;
                        return "<input type='text' value='" + tempDataBinNumber + "'  maxLength='128'  class='importtext-box' id='aBin_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("requestedqty")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequestedQty == null ? "" : obj.aData.RequestedQty;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aRequestedQty_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("receivedqty")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.ReceivedQty == null ? "" : obj.aData.ReceivedQty;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aReceivedQty_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("asnnumber")' == 'True') {
                ColumnObject.push({

                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF1 = obj.aData.ASNNumber == null ? "" : obj.aData.ASNNumber.substring(0, 255);
                        return "<input type='text' value='" + tempUDF1 + "'  maxLength='255'  class='importtext-box' id='aASNNumber' style='width:100px;'  />"
                    }

                });

            }
            if ('@arrcolumns.Contains("approvedqty")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.ApprovedQty == null ? "" : obj.aData.ApprovedQty;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aApprovedQty_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("intransitqty")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.InTransitQty == null ? "" : obj.aData.InTransitQty;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aInTransitQty_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("iscloseitem")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF1 = obj.aData.IsCloseItem == null ? "" : obj.aData.IsCloseItem;
                        if (tempUDF1 != "" || tempUDF1 == "true") {
                            tempUDF1 = "checked=\"checked\""
                        }
                        else { tempUDF1 = ""; }
                        return "<input type='checkbox'" + tempUDF1 + "id='aIsCloseItem' />"
                        //return "<input type='text' value='" + tempUDF1 + "'  maxLength='255'  class='importtext-box' id='aIsCloseItem' style='width:100px;'  />"
                    }

                });
            }
            if ('@arrcolumns.Contains("linenumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF2 = obj.aData.LineNumber == null ? "" : obj.aData.LineNumber;
                        return "<input type='text' value='" + tempUDF2 + "'  maxLength='255'  class='importtext-box'  id='aLineNumber' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("controlnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF3 = obj.aData.ControlNumber == null ? "" : obj.aData.ControlNumber;
                        return "<input type='text' value='" + tempUDF3 + "'  maxLength='255'  class='importtext-box'  id='aControlNumber' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("itemcomment")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF4 = obj.aData.ItemComment == null ? "" : obj.aData.ItemComment;
                        return "<input type='text' value='" + tempUDF4 + "'  maxLength='255'  class='importtext-box'  id='aItemComment' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF1 == null ? "" : obj.aData.LineItemUDF1.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF1' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF2 == null ? "" : obj.aData.LineItemUDF2.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF2' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF3 == null ? "" : obj.aData.LineItemUDF3.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF3' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF4 == null ? "" : obj.aData.LineItemUDF4.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF4' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF5 == null ? "" : obj.aData.LineItemUDF5.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF5' style='width:100px;' />"
                    }
                });
            }
             if ('@arrcolumns.Contains("ordercost")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempordercost = obj.aData.OrderCost == null ? "" : obj.aData.OrderCost;
                        return "<input type='text' value='" + tempordercost + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aOrderCost_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
             if ('@arrcolumns.Contains("salesorder")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.SalesOrder == null ? "" : obj.aData.SalesOrder;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aSalesOrder_" + obj.aData.ID + "' style='width:300px;' />"
                    }
                });
            }
        });

    }

</script>