@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("suppliername"))
    {
        <th>
            <em>* </em>
            @ResQuoteMaster.Supplier
        </th>
    }
    @if (arrcolumns.Contains("quotenumber"))
    {
        <th>
            <em>* </em>
            @ResQuoteMaster.QuoteNumber
        </th>
    }
    @if (arrcolumns.Contains("requireddate"))
    {
        <th>
            <em>* </em>
            @ResQuoteMaster.RequiredDate
        </th>
    }
    @if (arrcolumns.Contains("quotestatus"))
    {
        <th>
            @ResQuoteMaster.QuoteStatus
        </th>
    }

    @if (arrcolumns.Contains("quotecomment"))
    {
        <th>
            @ResQuoteMaster.Comment
        </th>
    }

    @if (arrcolumns.Contains("quoteudf1"))
    {
        <th>
            @ResQuoteMaster.UDF1
        </th>
}
    @if (arrcolumns.Contains("quoteudf2"))
    {
        <th>
            @ResQuoteMaster.UDF2
        </th>
    }
    @if (arrcolumns.Contains("quoteudf3"))
    {
        <th>
            @ResQuoteMaster.UDF3
        </th>
    }
    @if (arrcolumns.Contains("quoteudf4"))
    {
        <th>
            @ResQuoteMaster.UDF4
        </th>
    }
    @if (arrcolumns.Contains("quoteudf5"))
    {
        <th>
            @ResQuoteMaster.UDF5
        </th>
    }

    @if (arrcolumns.Contains("itemnumber"))
    {
        <th>
            @ResQuoteMaster.ItemNumber
        </th>
    }
    @if (arrcolumns.Contains("bin"))
    {
        <th>
            @ResQuoteMaster.Bin
        </th>
    }
    @if (arrcolumns.Contains("requestedqty"))
    {
        <th>
            @ResQuoteMaster.RequestedQuantity
        </th>
    }

    @if (arrcolumns.Contains("asnnumber"))
    {
        <th>
            @ResQuoteMaster.ASNNumber
        </th>
    }
    @if (arrcolumns.Contains("approvedqty"))
    {
        <th>
            @ResQuoteMaster.ApprovedQuantity
        </th>
    }
    @if (arrcolumns.Contains("intransitqty"))
    {
        <th>
            @ResQuoteMaster.OrdDtlInTransitQty
        </th>
    }
    @if (arrcolumns.Contains("iscloseitem"))
    {
        <th>
            @ResQuoteMaster.IsCloseItem
        </th>
    }
    @if (arrcolumns.Contains("linenumber"))
    {
        <th>
            @ResQuoteMaster.LineNumber
        </th>
    }
    @if (arrcolumns.Contains("controlnumber"))
    {
        <th>
            @ResQuoteMaster.ControlNumber
        </th>
    }
    @if (arrcolumns.Contains("itemcomment"))
    {
        <th>
            @ResQuoteMaster.ItemComment
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf1"))
    {
        <th>
            @ResQuoteMaster.OrdDtlUDF1
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf2"))
    {
        <th>
            @ResQuoteMaster.OrdDtlUDF2
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf3"))
    {
        <th>
            @ResQuoteMaster.OrdDtlUDF3
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf4"))
    {
        <th>
            @ResQuoteMaster.OrdDtlUDF4
        </th>
    }
    @if (arrcolumns.Contains("lineitemudf5"))
    {
        <th>
            @ResQuoteMaster.OrdDtlUDF5
        </th>
    }
    @if (arrcolumns.Contains("quotecost"))
    {
        <th>
            @ResQuoteMaster.QuoteCost
        </th>
    }

</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.Quote)') {
        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
               if ('@arrcolumns.Contains("suppliername")' == 'True') {
               
                   ColumnObject.push({
                       "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function(obj, val) {
                           var tempDataPullQnt = obj.aData.SupplierName == null ? "" : obj.aData.SupplierName;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='500'  class='importtext-box' id='aSupplierName_" + obj.aData.ID + "' style='width:300px;' />";
                               
                    }
                   });
               }
            if ('@arrcolumns.Contains("quotenumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuoteNumber == null ? "" : obj.aData.QuoteNumber;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aQuoteNumber_" + obj.aData.ID + "' style='width:300px;' />" +
                            "<span id='QuoteID' style='display:none'>" + obj.aData.ID + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("requireddate")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequiredDate == null ? "" : obj.aData.RequiredDate;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aRequiredDate_" + obj.aData.ID + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("quotestatus")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuoteStatus == null ? "" : obj.aData.QuoteStatus;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aQuoteStatus_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("quotecomment")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuoteComment == null ? "" : obj.aData.QuoteComment;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aQuoteComment' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("quoteudf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuoteUDF1 == null ? "" : obj.aData.QuoteUDF1;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aQuoteUDF1' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("quoteudf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuoteUDF2 == null ? "" : obj.aData.QuoteUDF2;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aQuoteUDF2' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("quoteudf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuoteUDF3 == null ? "" : obj.aData.QuoteUDF3;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aQuoteUDF3' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("quoteudf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuoteUDF4 == null ? "" : obj.aData.QuoteUDF4;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aQuoteUDF4' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("quoteudf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuoteUDF5 == null ? "" : obj.aData.QuoteUDF5;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aQuoteUDF5' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("itemnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataBinNumber = obj.aData.ItemNumber == null ? "" : obj.aData.ItemNumber;
                        return "<input type='text' value='" + tempDataBinNumber + "'  maxLength='128'  class='importtext-box' id='aItemNumber_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("bin")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataBinNumber = obj.aData.Bin == null ? "" : obj.aData.Bin;
                        return "<input type='text' value='" + tempDataBinNumber + "'  maxLength='128'  class='importtext-box' id='aBin_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("requestedqty")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequestedQty == null ? "" : obj.aData.RequestedQty;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aRequestedQty_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("asnnumber")' == 'True') {
                ColumnObject.push({

                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF1 = obj.aData.ASNNumber == null ? "" : obj.aData.ASNNumber.substring(0, 255);
                        return "<input type='text' value='" + tempUDF1 + "'  maxLength='255'  class='importtext-box' id='aASNNumber' style='width:100px;'  />"
                    }

                });

            }
            if ('@arrcolumns.Contains("approvedqty")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.ApprovedQty == null ? "" : obj.aData.ApprovedQty;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aApprovedQty_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("intransitqty")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.InTransitQty == null ? "" : obj.aData.InTransitQty;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aInTransitQty_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("iscloseitem")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF1 = obj.aData.IsCloseItem == null ? "" : obj.aData.IsCloseItem;
                        if (tempUDF1 != "" || tempUDF1 == "true") {
                            tempUDF1 = "checked=\"checked\""
                        }
                        else { tempUDF1 = ""; }
                        return "<input type='checkbox'" + tempUDF1 + "id='aIsCloseItem' />"
                        //return "<input type='text' value='" + tempUDF1 + "'  maxLength='255'  class='importtext-box' id='aIsCloseItem' style='width:100px;'  />"
                    }

                });
            }
            if ('@arrcolumns.Contains("linenumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF2 = obj.aData.LineNumber == null ? "" : obj.aData.LineNumber;
                        return "<input type='text' value='" + tempUDF2 + "'  maxLength='255'  class='importtext-box'  id='aLineNumber' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("controlnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF3 = obj.aData.ControlNumber == null ? "" : obj.aData.ControlNumber;
                        return "<input type='text' value='" + tempUDF3 + "'  maxLength='255'  class='importtext-box'  id='aControlNumber' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("itemcomment")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF4 = obj.aData.ItemComment == null ? "" : obj.aData.ItemComment;
                        return "<input type='text' value='" + tempUDF4 + "'  maxLength='255'  class='importtext-box'  id='aItemComment' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF1 == null ? "" : obj.aData.LineItemUDF1.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF1' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF2 == null ? "" : obj.aData.LineItemUDF2.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF2' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF3 == null ? "" : obj.aData.LineItemUDF3.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF3' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF4 == null ? "" : obj.aData.LineItemUDF4.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF4' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemudf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.LineItemUDF5 == null ? "" : obj.aData.LineItemUDF5.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aLineItemUDF5' style='width:100px;' />"
                    }
                });
            }
             if ('@arrcolumns.Contains("quotecost")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempordercost = obj.aData.QuoteCost == null ? "" : obj.aData.QuoteCost;
                        return "<input type='text' value='" + tempordercost + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aQuoteCost_" + obj.aData.ID + "' style='width:300px;' />"

                    }
                });
            }
        });

    }

</script>