@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("requisitionnumber"))
    {
        <th>
            <em>* </em>
            @ResRequisitionMaster.RequisitionNumber
        </th>
    }
    @if (arrcolumns.Contains("workorder"))
    {
        <th>
            @ResRequisitionMaster.WorkorderName
        </th>
    }
    @if (arrcolumns.Contains("requireddate"))
    {
        <th>
            <em>* </em>
            @ResRequisitionMaster.RequiredDate
        </th>
    }
    @if (arrcolumns.Contains("requisitionstatus"))
    {
        <th>
            <em>* </em>
            @ResRequisitionMaster.RequisitionStatus
        </th>
    }
    @if (arrcolumns.Contains("customername"))
    {
        <th>
            @ResRequisitionMaster.CustomerGUID
        </th>
    }
    @if (arrcolumns.Contains("releasenumber"))
    {
        <th>
            @ResRequisitionMaster.ReleaseNumber
        </th>
    }
    @if (arrcolumns.Contains("projectspend"))
    {
        <th>
            @ResRequisitionMaster.ProjectSpendGUID
        </th>
    }
    @if (arrcolumns.Contains("description"))
    {
        <th>
            @ResRequisitionMaster.Description
        </th>
    }
    @if (arrcolumns.Contains("stagingname"))
    {
        <th>
            @ResMaterialStaging.StagingName
        </th>
    }
    @if (arrcolumns.Contains("supplier"))
    {
        <th>
            @ResOrder.Supplier
        </th>
    }
    @if (arrcolumns.Contains("supplieraccount"))
    {
        <th>
            @ResOrder.SupplierAccountGuid
        </th>
    }
    @if (arrcolumns.Contains("billingaccount"))
    {
        <th>
            @ResRequisitionMaster.BillingAccountID
        </th>
    }
    @if (arrcolumns.Contains("technician"))
    {
        <th>
            @ResRequisitionMaster.TechnicianID
        </th>
    }
    @if (arrcolumns.Contains("requisitionudf1"))
    {
        <th>
            @ResRequisitionMaster.UDF1
        </th>
    }
    @if (arrcolumns.Contains("requisitionudf2"))
    {
        <th>
            @ResRequisitionMaster.UDF2
        </th>
    }
    @if (arrcolumns.Contains("requisitionudf3"))
    {
        <th>
            @ResRequisitionMaster.UDF3
        </th>
    }
    @if (arrcolumns.Contains("requisitionudf4"))
    {
        <th>
            @ResRequisitionMaster.UDF4
        </th>
    }
    @if (arrcolumns.Contains("requisitionudf5"))
    {
        <th>
            @ResRequisitionMaster.UDF5
        </th>
    }

    @if (arrcolumns.Contains("itemnumber"))
    {
        <th>
            @ResItemMaster.ItemNumber
        </th>
    }
    @if (arrcolumns.Contains("tool"))
    {
        <th>
            @ResToolMaster.ToolName
        </th>
    }
    @if (arrcolumns.Contains("toolserial"))
    {
        <th>
            @ResRequisitionMaster.ToolSerial
        </th>
    }
    @if (arrcolumns.Contains("bin"))
    {
        <th>
            @ResRequisitionDetails.BinID
        </th>
    }
    @if (arrcolumns.Contains("quantityrequisitioned"))
    {
        <th>
            @ResRequisitionDetails.QuantityRequisitioned
        </th>
    }
    @if (arrcolumns.Contains("quantityapproved"))
    {
        <th>
            @ResRequisitionDetails.QuantityApproved
        </th>
    }
    @if (arrcolumns.Contains("quantitypulled"))
    {
        <th>
            @ResRequisitionDetails.QuantityPulled
        </th>
    }
    @if (arrcolumns.Contains("lineitemrequireddate"))
    {
        <th>
            @ResRequisitionDetails.LineItemRequiredDate
        </th>
    }
    @if (arrcolumns.Contains("lineitemprojectspend"))
    {
        <th>
            @ResRequisitionDetails.LineItemProjectSpend
        </th>
    }
    @if (arrcolumns.Contains("lineitemsupplieraccount"))
    {
        <th>
            @ResRequisitionDetails.LineItemSupplierAccount
        </th>
    }
    @if (arrcolumns.Contains("pullordernumber"))
    {
        <th>
            @ResPullMaster.PullOrderNumber
        </th>
    }
    @if (arrcolumns.Contains("lineitemtechnician"))
    {
        <th>
            @ResRequisitionDetails.LineItemTechnician
        </th>
    }
    @if (arrcolumns.Contains("pulludf1"))
    {
        <th>
            Pull @ResPullMaster.UDF1
        </th>
    }
    @if (arrcolumns.Contains("pulludf2"))
    {
        <th>
            Pull @ResPullMaster.UDF2
        </th>
    }
    @if (arrcolumns.Contains("pulludf3"))
    {
        <th>
            Pull @ResPullMaster.UDF3
        </th>
    }
    @if (arrcolumns.Contains("pulludf4"))
    {
        <th>
            Pull @ResPullMaster.UDF4
        </th>
    }
    @if (arrcolumns.Contains("pulludf5"))
    {
        <th>
            Pull @ResPullMaster.UDF5
        </th>
    }
    @if (arrcolumns.Contains("toolcheckoutudf1"))
    {
        <th>
            ToolCheckout @ResToolCheckInOutHistory.UDF1
        </th>
    }
    @if (arrcolumns.Contains("toolcheckoutudf2"))
    {
        <th>
            ToolCheckout @ResToolCheckInOutHistory.UDF2
        </th>
    }
    @if (arrcolumns.Contains("toolcheckoutudf3"))
    {
        <th>
            ToolCheckout @ResToolCheckInOutHistory.UDF3
        </th>
    }
    @if (arrcolumns.Contains("toolcheckoutudf4"))
    {
        <th>
            ToolCheckout @ResToolCheckInOutHistory.UDF4
        </th>
    }
    @if (arrcolumns.Contains("toolcheckoutudf5"))
    {
        <th>
            ToolCheckout @ResToolCheckInOutHistory.UDF5
        </th>
    }
</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.Requisitions)') {
        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }

                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }

                        // return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='Status' style='width:100px;color:" + forcol + ";border:1px solid " + bodcol + "' />"
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempUDF5 + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:100px;'>" + tempUDF5 + "</span>"
                    }
                });
            }
            //requisitionnumber,workorder,requireddate,requisitionstatus,customername,releasenumber,projectspend,description,stagingname,supplier,supplieraccount,billingaccount,technician,requisitionudf1,requisitionudf2,requisitionudf3,requisitionudf4,requisitionudf5,itemnumber,tool,toolserial,bin,quantityrequisitioned,quantityapproved,quantitypulled,lineitemrequireddate,lineitemprojectspend,lineitemsupplieraccount,pullordernumber,lineitemtechnician,pulludf1,pulludf2,pulludf3,pulludf4,pulludf5,toolcheckoutudf1,toolcheckoutudf2,toolcheckoutudf3,toolcheckoutudf4,toolcheckoutudf5
            // RequisitionNumber,Workorder,RequiredDate,RequisitionStatus,CustomerName,ReleaseNumber,ProjectSpend,Description,StagingName,Supplier,SupplierAccount,BillingAccount,Technician,RequisitionUDF1,RequisitionUDF2,RequisitionUDF3,RequisitionUDF4,RequisitionUDF5,ItemNumber,Tool,ToolSerial,Bin,QuantityRequisitioned,QuantityApproved,QuantityPulled,LineItemRequiredDate,LineItemProjectSpend,LineItemSupplierAccount,PullOrderNumber,LineItemTechnician,PullUDF1,PullUDF2,PullUDF3,PullUDF4,PullUDF5,ToolCheckoutUDF1,ToolCheckoutUDF2,ToolCheckoutUDF3,ToolCheckoutUDF4,ToolCheckoutUDF5
            if ('@arrcolumns.Contains("requisitionnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData == null ? "" : obj.aData.RequisitionNumber;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='50'  class='importtext-box' id='aRequisitionNumber_" + obj.aData.Id + "' style='width:300px;' />" +
                            "<span id='Id' style='display:none'>" + obj.aData.Id + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("workorder")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tmpWorkorder = obj.aData.Workorder == null ? "" : obj.aData.Workorder;
                        return "<input type='text' value='" + tmpWorkorder + "'  maxLength='128'  class='importtext-box' id='aWorkorder_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("requireddate")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequiredDate == null ? "" : obj.aData.RequiredDate;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aRequiredDate_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("requisitionstatus")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequisitionStatus == null ? "" : obj.aData.RequisitionStatus;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='50'  class='importtext-box' id='aRequisitionStatus_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("customername")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.CustomerName == null ? "" : obj.aData.CustomerName;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='255'  class='importtext-box' id='aCustomerName_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("releasenumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.ReleaseNumber == null ? "" : obj.aData.ReleaseNumber;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='255'  class='importtext-box' id='aReleaseNumber_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("projectspend")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.ProjectSpend == null ? "" : obj.aData.ProjectSpend;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='200'  class='importtext-box' id='aProjectSpend_" + obj.aData.Id + "' style='width:200px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("description")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.Description == null ? "" : obj.aData.Description;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='1024'  class='importtext-box' id='aDescription_" + obj.aData.Id + "' style='width:200px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("stagingname")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.StagingName == null ? "" : obj.aData.StagingName;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aStagingName_" + obj.aData.Id + "' style='width:200px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("supplier")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.Supplier == null ? "" : obj.aData.Supplier;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aSupplier_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("supplieraccount")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.SupplierAccount == null ? "" : obj.aData.SupplierAccount;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aSupplierAccount_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("billingaccount")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.BillingAccount == null ? "" : obj.aData.BillingAccount;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aBillingAccount_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("technician")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.Technician == null ? "" : obj.aData.Technician;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='261'  class='importtext-box' id='aTechnician_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("requisitionudf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequisitionUDF1 == null ? "" : obj.aData.RequisitionUDF1;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='255'  class='importtext-box' id='aRequisitionUDF1_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("requisitionudf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequisitionUDF2 == null ? "" : obj.aData.RequisitionUDF2;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='255'  class='importtext-box' id='aRequisitionUDF2_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("requisitionudf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequisitionUDF3 == null ? "" : obj.aData.RequisitionUDF3;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='255'  class='importtext-box' id='aRequisitionUDF3_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("requisitionudf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequisitionUDF4 == null ? "" : obj.aData.RequisitionUDF4;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='255'  class='importtext-box' id='aRequisitionUDF4_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("requisitionudf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.RequisitionUDF5 == null ? "" : obj.aData.RequisitionUDF5;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='255'  class='importtext-box' id='aRequisitionUDF5_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("itemnumber")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataBinNumber = obj.aData.ItemNumber == null ? "" : obj.aData.ItemNumber;
                        return "<input type='text' value='" + tempDataBinNumber + "'  maxLength='100'  class='importtext-box' id='aItemNumber_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("tool")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataBinNumber = obj.aData.Tool == null ? "" : obj.aData.Tool;
                        return "<input type='text' value='" + tempDataBinNumber + "'  maxLength='128'  class='importtext-box' id='aTool_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("toolserial")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataBinNumber = obj.aData.ToolSerial == null ? "" : obj.aData.ToolSerial;
                        return "<input type='text' value='" + tempDataBinNumber + "'  maxLength='128'  class='importtext-box' id='aToolSerial_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("bin")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataBinNumber = obj.aData.Bin == null ? "" : obj.aData.Bin;
                        return "<input type='text' value='" + tempDataBinNumber + "'  maxLength='128'  class='importtext-box' id='aBin_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }

            if ('@arrcolumns.Contains("quantityrequisitioned")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuantityRequisitioned == null ? "" : obj.aData.QuantityRequisitioned;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aQuantityRequisitioned_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("quantityapproved")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuantityApproved == null ? "" : obj.aData.QuantityApproved;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aQuantityApproved_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("quantitypulled")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.QuantityPulled == null ? "" : obj.aData.QuantityPulled;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128' onkeypress='return isNumberKey(event);'  onblur='return ValidateValueWithDataType();' class='numericDecimalinput importtext-box' id='aQuantityPulled_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemrequireddate")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.LineItemRequiredDate == null ? "" : obj.aData.LineItemRequiredDate;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aLineItemRequiredDate_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemprojectspend")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.LineItemProjectSpend == null ? "" : obj.aData.LineItemProjectSpend;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='200'  class='importtext-box' id='aLineItemProjectSpend_" + obj.aData.Id + "' style='width:200px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemsupplieraccount")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.LineItemSupplierAccount == null ? "" : obj.aData.LineItemSupplierAccount;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='128'  class='importtext-box' id='aLineItemSupplierAccount_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("pullordernumber")' == 'True') {
                ColumnObject.push({

                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF1 = obj.aData.PullOrderNumber == null ? "" : obj.aData.PullOrderNumber.substring(0, 1024);
                        return "<input type='text' value='" + tempUDF1 + "'  maxLength='1024'  class='importtext-box' id='aPullOrderNumber_" + obj.aData.Id + "' style='width:300px;'  />"
                    }
                });
            }
            if ('@arrcolumns.Contains("lineitemtechnician")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataPullQnt = obj.aData.LineItemTechnician == null ? "" : obj.aData.LineItemTechnician;
                        return "<input type='text' value='" + tempDataPullQnt + "'  maxLength='261'  class='importtext-box' id='aLineItemTechnician_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("pulludf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.PullUDF1 == null ? "" : obj.aData.PullUDF1.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aPullUDF1_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("pulludf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.PullUDF2 == null ? "" : obj.aData.PullUDF2.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aPullUDF2_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("pulludf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.PullUDF3 == null ? "" : obj.aData.PullUDF3.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aPullUDF3_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("pulludf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.PullUDF4 == null ? "" : obj.aData.PullUDF4.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aPullUDF4_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("pulludf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.PullUDF5 == null ? "" : obj.aData.PullUDF5.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aPullUDF5_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("toolcheckoutudf1")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.ToolCheckoutUDF1 == null ? "" : obj.aData.ToolCheckoutUDF1.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aToolCheckoutUDF1_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("toolcheckoutudf2")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.ToolCheckoutUDF2 == null ? "" : obj.aData.ToolCheckoutUDF2.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aToolCheckoutUDF2_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("toolcheckoutudf3")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.ToolCheckoutUDF3 == null ? "" : obj.aData.ToolCheckoutUDF3.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aToolCheckoutUDF3_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("toolcheckoutudf4")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.ToolCheckoutUDF4 == null ? "" : obj.aData.ToolCheckoutUDF4.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aToolCheckoutUDF4_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }
            if ('@arrcolumns.Contains("toolcheckoutudf5")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempUDF5 = obj.aData.ToolCheckoutUDF5 == null ? "" : obj.aData.ToolCheckoutUDF5.substring(0, 255);
                        return "<input type='text' value='" + tempUDF5 + "'  maxLength='255'  class='importtext-box'  id='aToolCheckoutUDF5_" + obj.aData.Id + "' style='width:100px;' />"
                    }
                });
            }

        });

    }

</script>