@model ImportModuleModel
@{
    string[] arrcolumns = Model.arrcolumns;
}
<tr>
    @if (arrcolumns.Count() > 0)
    {
        <th>
            @ResCommon.Status
        </th>
        <th>
            @ResCommon.Reason
        </th>
    }
    @if (arrcolumns.Contains("toolname"))
    {
        <th>
            <em>* </em>
            @ResToolMaster.ToolName
        </th>
    }

    @if (arrcolumns.Contains("serial"))
    {
        <th>
            <em>* </em>
            @ResToolMaster.Serial
        </th>
    }
    @if (arrcolumns.Contains("imagename"))
    {
        <th>
            <em>* </em>
            @ResToolMaster.Image
        </th>
    }

</tr>
<script type="text/javascript">
    if (selectedModuleVal == '@((int)eTurnsWeb.Helper.SessionHelper.ModuleList.ToolCertificationImages)') {
        $(function (event) {
            if ('@arrcolumns.Count()' > 0) {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempStatus = obj.aData.Status == null ? "" : obj.aData.Status.substring(0, 255);
                        var forcol = "#000000";
                        var bodcol = "#DDD";
                        if (obj.aData.Status != null && obj.aData.Status == "Fail") {
                            forcol = "Red";
                            bodcol = "Red";
                        }
                        else if (obj.aData.Status != null && obj.aData.Status == "Success") {
                            forcol = "Green";
                            bodcol = "Green";
                        }
                        return "<span id='Status'  style='width:100px;color:" + forcol + ";'>" + tempStatus + "</span>"
                    }
                });
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tmpreason = obj.aData.Reason == null ? "" : obj.aData.Reason.substring(0, 255);
                        return "<span id='Reason'  style='width:150px;'>" + tmpreason + "</span>"
                    }
                });
            }
            if ('@arrcolumns.Contains("toolname")' == 'True') {
                    ColumnObject.push({
                        "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                        "fnRender": function (obj, val) {
                            var tempDataToolName = obj.aData.ToolName == null ? "" : $.trim(obj.aData.ToolName.substring(0, 128));
                            return "<input type='text' maxLength='128'  value='" + tempDataToolName + "'  class='importtext-box' id='aToolName_" + obj.aData.Id + "' style='width:200px;' />" +
                                "<span id='Id' style='display:none'>" + obj.aData.Id + "</span>"
                        }
                    });
            }
            if ('@arrcolumns.Contains("serial")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempDataserialnumber = obj.aData.Serial == null ? "" : $.trim(obj.aData.Serial);
                        return "<input type='text' maxLength='1000' value='" + tempDataserialnumber + "'  class='importtext-box' id='aSerialNumber_" + obj.aData.Id + "' style='width:300px;' />"

                    }
                });
            }
            if ('@arrcolumns.Contains("imagename")' == 'True') {
                ColumnObject.push({
                    "mDataProp": null, "sClass": "read_only", "sDefaultContent": '',
                    "fnRender": function (obj, val) {
                        var tempimagename = obj.aData.ImageName == null ? "" : $.trim(obj.aData.ImageName);
                        return "<input type='text' value='" + tempimagename + "'  maxLength='500' class='importtext-box'  id='aImageName_" + obj.aData.Id + "' style='width:300px;' />"
                    }
                });
            }
        });
    }
</script>