<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandOrderNarrowSearch">
        <img alt="" src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseShelfRequestNarrowSearch">
        <img alt="" src="~/Content/images/closed.png" />
    </a>
    <h2>@eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2</h2>
    <ul id="NarrowUL">
        <li>
            <select id="eVMICOMRequestCreatedBy" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="eVMICOMRequestCreatedByCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="eVMICOMRequestUpdatedBy" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="eVMICOMRequestUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li>
            <select id="eVMICOMCommonRequestType" multiple="multiple" name="example-basic" size="5">
            </select>
            <div class="accordion" id="accordion5">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="eVMICOMCommonRequestTypeCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="eVMICOMRequestDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="eVMICOMRequestDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancShelfRequestDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="eVMICOMRequestDateTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancPullDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li style="float: left;">
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="RequestDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="ShelfRequestDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancShelfRequestDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="PullDateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancPullDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        @*<li id="liQLUDF1" style="display: none">
            <select id="QLUDF1" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF1">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QLUDF1Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQLUDF2" style="display: none">
            <select id="QLUDF2" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QLUDF2Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQLUDF3" style="display: none">
            <select id="QLUDF3" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QLUDF3Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQLUDF4" style="display: none">
            <select id="QLUDF4" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QLUDF4Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQLUDF5" style="display: none">
            <select id="QLUDF5" multiple="multiple" name="UDFS" size="5">
            </select>
            <div class="accordion" id="accordionUDF5">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QLUDF5Collapse" name="CUDFS">
                </div>
            </div>
        </li>*@
    </ul>
    <input id="RequestNarroSearchClear" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />
</div>
<script type="text/javascript">

    var CreatedBySelectedValues = '';
    var UpdatedBySelectedValues = '';
    var RequestTypeSelectedValues = '';
    //var QLUDF1NarrowValues = ''
    //var QLUDF2NarrowValues = ''
    //var QLUDF3NarrowValues = ''
    //var QLUDF4NarrowValues = ''
    //var QLUDF5NarrowValues = ''
    //var isFromQLNarrowSearchClear = false;
    $(document).ready(function () {


        $('#eVMICOMRequestDateCFrom').blur(function () {
        }).datepicker({
            dateFormat: RoomDateJSFormat, changeMonth: true,
            changeYear: true
        });
        $('#eVMICOMRequestDateTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#ShelfRequestDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });
        $('#PullDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat
        });

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

        var NarrowSearchState = getCookie('NarrowSearchState');
        if (NarrowSearchState == 'Expanded') {
            CollapseShelfRequestNarrowSearch();
        }
        else {
            ExpandOrderNarrowSearch();
        }

        $('.IteamBlock').css('width', '99.5%');

        FillNarrowSearchData()

    });


    $('#eVMICOMRequestDateCFrom,#eVMICOMRequestDateTo').change(function () {
        var DateCFromValid = true;//Date.isValid($('#eVMICOMRequestDateCFrom').val(),format);
        var DateCToValid = true;//Date.isValid($('#eVMICOMRequestDateTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#eVMICOMRequestDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#eVMICOMRequestDateTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }

        if (DateCFromValid && DateCToValid) {
            $("#txtOrderFilter").val('');
            if (!isFromNarrowSearchClear) {
                DoShelfRequestNarrowSearch();
            }
        }
        else {
            if (!DateCFromValid)
                $('#eVMICOMRequestDateCFrom').val('');
            if (!DateCToValid)
                $('#eVMICOMRequestDateTo').val('');
        }
    });

    $('#ShelfRequestDateUFrom,#PullDateUTo').change(function () {


        var DateUFromValid = true;// Date.isValid($('#ShelfRequestDateUFrom').val(),format);
        var DateUToValid = true;//Date.isValid($('#PullDateUTo').val(),format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#ShelfRequestDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateUFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#PullDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
            $("#txtOrderFilter").val('');
            if (!isFromNarrowSearchClear) {
                DoShelfRequestNarrowSearch();
            }

        }
        else {
            if (!DateUFromValid)
                $('#ShelfRequestDateUFrom').val('');
            if (!DateUToValid)
                $('#PullDateUTo').val('');
        }
    });

    $('#ancShelfRequestDateCFrom').click(function () {
        $('#eVMICOMRequestDateCFrom').focus();
    });
    $('#ancPullDateCTo').click(function () {
        $('#eVMICOMRequestDateTo').focus();
    });
    $('#ancShelfRequestDateUFrom').click(function () {
        $('#ShelfRequestDateUFrom').focus();
    });
    $('#ancPullDateUTo').click(function () {
        $('#PullDateUTo').focus();
    });

    $('#eVMICOMRequestDateCreatedClear').click(function () {
        if ($('#eVMICOMRequestDateCFrom').val() != '' || $('#DateCTo').val() != '') {
            $('#eVMICOMRequestDateCFrom').val('');
            $('#eVMICOMRequestDateTo').val('');
            //NarrowSearchInGrid('');
            if (!isFromNarrowSearchClear) {
                DoShelfRequestNarrowSearch();
            }
        }
    });
    $('#RequestDateUpdatedClear').click(function () {
        if ($('#ShelfRequestDateUFrom').val() != '' || $('#DateUTo').val() != '') {
            $('#ShelfRequestDateUFrom').val('');
            $('#PullDateUTo').val('');
            //NarrowSearchInGrid('');
            if (!isFromNarrowSearchClear) {
                DoShelfRequestNarrowSearch();
            }

        }
    });

    $('#ExpandOrderNarrowSearch').click(function (e) {
        ExpandOrderNarrowSearch();
    });
    $('#CollapseShelfRequestNarrowSearch').click(function (e) {
        CollapseShelfRequestNarrowSearch();
    });


    $('#RequestNarroSearchClear').click(function () {
        isFromNarrowSearchClear = true;
        $('#eVMICOMRequestDateCFrom').val('');
        $('#eVMICOMRequestDateTo').val('');
        $('#ShelfRequestDateUFrom').val('');
        $('#PullDateUTo').val('');
        $("#eVMICOMRequestCreatedBy").multiselect("uncheckAll");
        $("#eVMICOMRequestCreatedByCollapse").html('');
        $("#eVMICOMRequestUpdatedBy").multiselect("uncheckAll");
        $("#eVMICOMRequestUpdatedByCollapse").html('');

        $("#eVMICOMCommonRequestType").multiselect("uncheckAll");
        $("#eVMICOMCommonRequestTypeCollapse").html('');
        if ($('#global_filter').val() != '') $('#global_filter').val('');
        //$("select[name='UDFS']").each(function (index) {
        //    $(this).multiselect("uncheckAll");
        //});

        //$("div[name='CUDFS']").each(function (index) {
        //    $(this).html('');
        //});
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        isFromNarrowSearchClear = false;
        $('input[type="search"]').val('').trigger('keyup');
        DoShelfRequestNarrowSearch();
    });

    function clearSearchFilterIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'txtOrderFilter')
            $("#txtOrderFilter").val('');
    }

    function ExpandOrderNarrowSearch() {
        var w = $('.IteamBlock').css("width");
        $('.IteamBlock').show();
        $('.IteamBlock').stop().animate({
            width: "99.5%"
        }, 0, function () {
            $('.userContent').css({ "width": "80.5%", "margin": "0" });
            $('#myDataTable_length').css({ "left": "0px" });
            $('#myDataTable_paginate').css({ "left": "145px" });
            $('.leftopenContent').css({ "display": "none" });
            setCookie('NarrowSearchState', 'Collapsed');
        });
        $('#divNarrowSearch').css('width', '18%');
    }

    function CollapseShelfRequestNarrowSearch() {
        $('.IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('.IteamBlock').hide();
            $('.userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#myDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#myDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('.leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchState', 'Expanded');
        });
        $('#divNarrowSearch').css('width', '0%');
    }

    function FillNarrowSearchData() {
        $.ajax({
            url: '@Url.Content("~/eVMICOMCommonRequest/GetNarrowSearchData")',
            data: { 'IsDeleted': _IsDeleted, 'IsArchived': _IsArchived},
            dataType: 'json',
            success: function (response) {
                if (response.Success && response.Data != null) {
                    BindDropDownList(response.Data.CreatedByList, 'eVMICOMRequestCreatedBy', 'eVMICOMRequestCreatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby');
                    BindDropDownList(response.Data.UpdatedByList, 'eVMICOMRequestUpdatedBy', 'eVMICOMRequestUpdatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby');
                    BindDropDownList(response.Data.eVMICOMCommonRequestType, 'eVMICOMCommonRequestType', 'eVMICOMCommonRequestTypeCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.RequestType');
                }
            },
            error: function (xhr) {
                //alert(xhr);
                console.log(xhr);
            }
        });
    }


    function GetOptions(arrData, isUDF) {
        var options;
        if (isUDF) {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].Text + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });
        }
        else {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].ID + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });

        }
        return options;
    }

    function BindDropDownList(arrData, ddlName, ddlCollapseName, displayName) {
        $("#" + ddlName).empty();
        $("#" + ddlName).multiselect('destroy');
        $("#" + ddlName).multiselectfilter('destroy');
        $("#" + ddlName).append(GetOptions(arrData, (ddlName.indexOf('QLUDF') != -1)));
        $("#" + ddlName).multiselect(
                  { noneSelectedText: displayName, selectedList: 5,
                      selectedText: function (numChecked, numTotal, checkedItems) {
                          return displayName + ' ' + numChecked + ' ' + selected;
                      }
                  },
                {
                    checkAll: function (ui) {
                        $("#" + ddlCollapseName).html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#" + ddlCollapseName).text().indexOf(ui.target[i].text) == -1) {
                                $("#" + ddlCollapseName).append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#" + ddlCollapseName).show();
                    }
                }).bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#" + ddlCollapseName).text().indexOf(ui.text) == -1) {
                            $("#" + ddlCollapseName).append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#" + ddlCollapseName).html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#" + ddlCollapseName).html();
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#" + ddlCollapseName).html(text);
                        }
                        else
                            $("#" + ddlCollapseName).html('');
                    }
                    switch ($(this).attr('id')) {
                        case 'eVMICOMRequestCreatedBy':
                            CreatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'eVMICOMRequestUpdatedBy':
                            UpdatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                        case 'eVMICOMCommonRequestType':
                            RequestTypeSelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            break;
                    }

                    if ($("#" + ddlCollapseName).text().trim() != '')
                        $("#" + ddlCollapseName).show();
                    else
                        $("#" + ddlCollapseName).hide();


                    if ($("#" + ddlCollapseName).find('span').length <= 2) {
                        $("#" + ddlCollapseName).scrollTop(0).height(50);
                    }
                    else {
                        $("#" + ddlCollapseName).scrollTop(0).height(100);
                    }
                    if (!isFromNarrowSearchClear) {
                        DoShelfRequestNarrowSearch();
                    }
                }).multiselectfilter();

    }

    function DoShelfRequestNarrowSearch() {

     //   clearSearchFilterIfNotInFocus();

        var narrowSearchValues = '';

        if (CreatedBySelectedValues == undefined || CreatedBySelectedValues.length <= 0)
            CreatedBySelectedValues = '';

        if (UpdatedBySelectedValues == undefined || UpdatedBySelectedValues.length <= 0)
            UpdatedBySelectedValues = '';

        if (RequestTypeSelectedValues == undefined || RequestTypeSelectedValues.length <= 0)
            RequestTypeSelectedValues = '';

        narrowSearchValues += CreatedBySelectedValues + "~";
        narrowSearchValues += UpdatedBySelectedValues + "~";
        narrowSearchValues += RequestTypeSelectedValues + "~";


        if ($('#eVMICOMRequestDateCFrom').val() != '' && $('#eVMICOMRequestDateTo').val() != '') {
            narrowSearchValues += ($('#eVMICOMRequestDateCFrom').val()) + "," + ($('#eVMICOMRequestDateTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        if ($('#DateUFrom').val() != '' && $('#PullDateUTo').val() != '') {
            narrowSearchValues += ($('#ShelfRequestDateUFrom').val()) + "," + ($('#PullDateUTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }
        


      //  if (narrowSearchValues.replace(/~/g, '') == '') {
      //      narrowSearch = '';
     //   }
     //   else {
            var searchtext = $("#global_filter").val().replace(/'/g, "''");
            narrowSearch = "[###]" + narrowSearchValues + "[###]" + searchtext;
     //   }

        //fnFilterOrderList(narrowSearch);
        $('#myDataTable').dataTable().fnFilter(narrowSearch, null, null, null)
    }




</script>
