@model eTurns.DTO.HelpDocumentMasterList
@{
    ViewBag.Title = "HelpVideoList";
}
<div class="userListingWrapper">


    <div class="videoSection">


        <div class="helpLeftLinks">
            <ul>
                <li><a href="/HelpDocument/QuickStartGuide">QuickStart Guide</a></li>
                <li><a href="/HelpDocument/ProductTour">Product Tour</a></li>
                <li><a href="/HelpDocument/HowToVideos">How to Video</a></li>
                <li><a href="/HelpDocument/HelpDocs" class="active">Help Documents</a></li>
            </ul>
        </div>

        <h2>
            Help Documents
        </h2>
        <h3>@eTurns.DTO.Resources.ResLayout.Inventory</h3>
        <ul class="bulletText">
            @if (Model != null && Model.ModuleItemsPDFPath != "")
            {
                <li><a href='@Model.ModuleItemsPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Item</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Item</a></li>
            }

            @if (Model != null && Model.ModuleQLPDFPath != "")
            {
                <li><a href='@Model.ModuleQLPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.QuickList</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.QuickList</a></li>
            }

            @if (Model != null && Model.ModuleCountPDFPath != "")
            {
                <li><a href='@Model.ModuleCountPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Count</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Count</a></li>
            }

            @if (Model != null && Model.MaterialStagingPDFPath != "")
            {
                <li><a href='@Model.MaterialStagingPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Materialstaging</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Materialstaging</a></li>
            }

            @if (Model != null && Model.MoveMaterialPDFPath != "")
            {
                <li><a href='@Model.MoveMaterialPDFPath' target="_blank">@eTurns.DTO.ResMoveMaterial.MenuLinkMoveMaterial</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.ResMoveMaterial.MenuLinkMoveMaterial</a></li>
            }
        </ul>
        <h3>@eTurns.DTO.Resources.ResLayout.Consume</h3>
        <ul class="bulletText">

            @if (Model != null && Model.PullsPDFPath != "")
            {
                <li><a href='@Model.PullsPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Pull</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Pull</a></li>
            }

            @if (Model != null && Model.RequisitionPDFPath != "")
            {
                <li><a href='@Model.RequisitionPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Requisitions</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Requisitions</a></li>
            }

            @if (Model != null && Model.WorkOrderPDFPath != "")
            {
                <li><a href='@Model.WorkOrderPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Workorders</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Workorders</a></li>
            }

            @if (Model != null && Model.ProjectSpendPDFPath != "")
            {
                <li><a href='@Model.ProjectSpendPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.ProjectSpend</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.ProjectSpend</a></li>
            }

        </ul>
        <h3>@eTurns.DTO.Resources.ResLayout.Replenish</h3>
        <ul class="bulletText">


            @if (Model != null && Model.CartPDFPath != "")
            {
                <li><a href='@Model.CartPDFPath' target="_blank">@eTurns.DTO.Resources.ResCommon.mnuSuggestedOrders</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResCommon.mnuSuggestedOrders</a></li>
            }
            @if (Model != null && Model.OrdersPDFPath != "")
            {
                <li><a href='@Model.OrdersPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Orders</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Orders</a></li>
            }
            @if (Model != null && Model.ReceivePDFPath != "")
            {
                <li><a href='@Model.ReceivePDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Receive</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Receive</a></li>
            }
            @if (Model != null && Model.TransferPDFPath != "")
            {
                <li><a href='@Model.TransferPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Transfer</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Transfer</a></li>
            }
            @if (Model != null && Model.ReturnOrderPDFPath != "")
            {
                <li><a href='@Model.ReturnOrderPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.ReturnOrders</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.ReturnOrders</a></li>
            }
            @if (Model != null && Model.QuotePDFPath != "")
            {
                <li><a href='@Model.QuotePDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Quote</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Quote</a></li>
            }
        </ul>
        <h3>@eTurns.DTO.Resources.ResLayout.Asset</h3>
        <ul class="bulletText">

            @if (Model != null && Model.ToolsPDFPath != "")
            {
                <li><a href='@Model.ToolsPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Tool</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Tool</a></li>
            }
            @if (Model != null && Model.AssetPDFPath != "")
            {
                <li><a href='@Model.AssetPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Assets</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Assets </a></li>
            }
            @if (Model != null && Model.MaintenancePDFPath != "")
            {
                <li><a href='@Model.MaintenancePDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Maintenance</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Maintenance</a></li>
            }

        </ul>
        <h3>@eTurns.DTO.Resources.ResLayout.Kit</h3>
        <ul class="bulletText">
            @if (Model != null && Model.KitsPDFPath != "")
            {
                <li><a href='@Model.KitsPDFPath' target="_blank">@eTurns.DTO.Resources.ResLayout.Kits</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);">@eTurns.DTO.Resources.ResLayout.Kits</a></li>
            }
        
        </ul>
        <h3>@ResHelpDocumentMaster.Reporting :</h3>
        <p><strong>@ResHelpDocumentMaster.ReportHeading</strong></p>
        @*<div class="list2col">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="bulletText">
                        <li><a href="/Content/HelpDocuments/Audit_Trail.pdf" target="_blank">Audit Trail</a></li>
                        <li><a href="/Content/HelpDocuments/Audit_Trail_Transaction.pdf" target="_blank">Audit Trail Transaction</a></li>
                        <li><a href="/Content/HelpDocuments/Audit_Trail_Trans_Summary.pdf" target="_blank">Audit Trail Transaction Summary</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="bulletText">
                        <li><a href="/Content/HelpDocuments/Inventory_Daily_History.pdf" target="_blank">Inventory Daily History</a></li>
                        <li><a href="/Content/HelpDocuments/Inventory_Daily_History_with_Date_Range.pdf" target="_blank">Inventory Daily History with Date Range </a></li>
                    </ul>
                </div>
            </div>
        </div>*@
        <ul class="bulletText">
            <li><a>@ResHelpDocumentMaster.ReportDescription</a></li>
        </ul>

        <table class="tableData">
            <tr>
                <td>
                    @if (Model != null && Model.RptAuditTrail != "")
                    {
                    <a href='@Model.RptAuditTrail' target="_blank">@ResourceHelper.GetReportNameByResource("AuditTrail")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("AuditTrail")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/55/InStock.pdf#page=17" target="_blank">@ResourceHelper.GetReportNameByResource("InventoryReconciliation")</a>*@
                    @if (Model != null && Model.RptInventoryReconciliation != "")
                    {
                        <a href='@Model.RptInventoryReconciliation+' target="_blank">@ResourceHelper.GetReportNameByResource("InventoryReconciliation")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InventoryReconciliation")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/55/InStock.pdf#page=26" target="_blank">@ResourceHelper.GetReportNameByResource("PullSummary")</a>*@
                    @if (Model != null && Model.RptPullSummarybyQuarter != "")
                    {
                       <a href='@Model.RptPullSummarybyQuarter' target="_blank">@ResourceHelper.GetReportNameByResource("PullSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PullSummary")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model != null && Model.RptAuditTrailTransaction != "")
                    {
                        <a href='@Model.RptAuditTrailTransaction' target="_blank">@ResourceHelper.GetReportNameByResource("AuditTrailTransaction")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("AuditTrailTransaction")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/55/InStock.pdf#page=18" target="_blank">@ResourceHelper.GetReportNameByResource("InventoryStockOut")</a>*@
                    @if (Model != null && Model.RptInventoryStockOut != "")
                    {
                        <a href='@Model.RptInventoryStockOut' target="_blank">@ResourceHelper.GetReportNameByResource("InventoryStockOut")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InventoryStockOut")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/55/InStock.pdf#page=27" target="_blank">@ResourceHelper.GetReportNameByResource("PullSummaryByWO")</a>*@
                    @if (Model != null && Model.RptPullSummaryByWO != "")
                    {
                        <a href='@Model.RptPullSummaryByWO' target="_blank">@ResourceHelper.GetReportNameByResource("PullSummaryByWO")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PullSummaryByWO")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model != null && Model.RptAuditTrailTransactionSummary != "")
                    {
                        <a href='@Model.RptAuditTrailTransactionSummary' target="_blank">@ResourceHelper.GetReportNameByResource("AuditTrailTransactionSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("AuditTrailTransactionSummary")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/188/Items%20Received%20Receivabel.pdf#page=18" target="_blank">@ResourceHelper.GetReportNameByResource("ItemReceivedReceivable")</a>*@
                    @if (Model != null && Model.RptItemReceivedReceivable != "")
                    {
                        <a href='@Model.RptItemReceivedReceivable' target="_blank">@ResourceHelper.GetReportNameByResource("ItemReceivedReceivable")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ItemReceivedReceivable")</a>
                    }
                </td>
                <td></td>
                <td>
                    @if (Model != null && Model.RptQuoteSummary != "")
                    {
                        <a href='@Model.RptQuoteSummary' target="_blank">@ResourceHelper.GetReportNameByResource("QuoteSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("QuoteSummary")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model != null && Model.RptCompany != "")
                    {
                        <a href='@Model.RptCompany' target="_blank">@ResourceHelper.GetReportNameByResource("Company")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("Company")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/123/Item%20Serial%20Lot%20and%20Date%20Code.pdf#page=18" target="_blank">@ResourceHelper.GetReportNameByResource("ItemSerialLotDatcode")</a>*@
                    @if (Model != null && Model.RptItemSerialLotDatcode != "")
                    {
                        <a href='@Model.RptItemSerialLotDatcode' target="_blank">@ResourceHelper.GetReportNameByResource("ItemSerialLotDatcode")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ItemSerialLotDatcode")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/52/Receivable%20Items.pdf#page=30" target="_blank">@ResourceHelper.GetReportNameByResource("ReceivableItems")</a>*@
                    @if (Model != null && Model.RptReceivableItems != "")
                    {
                        <a href='@Model.RptReceivableItems' target="_blank">@ResourceHelper.GetReportNameByResource("ReceivableItems")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ReceivableItems")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/126/Credit%20Pull.pdf#page=11" target="_blank">@ResourceHelper.GetReportNameByResource("CreditPull")</a>*@
                    @if (Model != null && Model.RptCreditPull != "")
                    {
                        <a href='@Model.RptCreditPull' target="_blank">@ResourceHelper.GetReportNameByResource("CreditPull")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("CreditPull")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/126/Credit%20Pull.pdf#page=18" target="_blank">@ResourceHelper.GetReportNameByResource("ItemSerialNumber")</a>*@
                    @if (Model != null && Model.RptItemSerialNumber != "")
                    {
                        <a href='@Model.RptItemSerialNumber' target="_blank">@ResourceHelper.GetReportNameByResource("ItemSerialNumber")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ItemSerialNumber")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/53/Received%20Items.pdf#page=31" target="_blank">@ResourceHelper.GetReportNameByResource("ReceivedItems")</a>*@
                    @if (Model != null && Model.RptReceivedItems != "")
                    {
                        <a href='@Model.RptReceivedItems' target="_blank">@ResourceHelper.GetReportNameByResource("ReceivedItems")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ReceivedItems")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/78/Cumulative%20Pull.pdf#page=12" target="_blank">@ResourceHelper.GetReportNameByResource("CumulativePull")</a>*@
                    @if (Model != null && Model.RptCumulativePull != "")
                    {
                        <a href='@Model.RptCumulativePull' target="_blank">@ResourceHelper.GetReportNameByResource("CumulativePull")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("CumulativePull")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/106/Item%20Stockout%20History.pdf#page=19" target="_blank">@ResourceHelper.GetReportNameByResource("ItemStockOutHistory")</a>*@
                    @if (Model != null && Model.RptItemStockOutHistory != "")
                    {
                        <a href='@Model.RptItemStockOutHistory' target="_blank">@ResourceHelper.GetReportNameByResource("ItemStockOutHistory")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ItemStockOutHistory")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/187/Received%20Items%20more%20than%20Approved.pdf#page=31" target="_blank">@ResourceHelper.GetReportNameByResource("ReceivedItemsMoreThanApproved")</a>*@
                    @if (Model != null && Model.RptReceivedItemsMoreThanApproved != "")
                    {
                        <a href='@Model.RptReceivedItemsMoreThanApproved' target="_blank">@ResourceHelper.GetReportNameByResource("ReceivedItemsMoreThanApproved")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ReceivedItemsMoreThanApproved")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model != null && Model.RptDiscrepancyReport != "")
                    {
                    <a href='@Model.RptDiscrepancyReport' target="_blank">@ResourceHelper.GetReportNameByResource("DiscrepancyReport")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("DiscrepancyReport")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/122/Items%20with%20Suppliers.pdf#page=20" target="_blank">@ResourceHelper.GetReportNameByResource("ItemsWithSuppliers")</a>*@
                    @if (Model != null && Model.RptItemsWithSuppliers != "")
                    {
                        <a href='@Model.RptItemsWithSuppliers' target="_blank">@ResourceHelper.GetReportNameByResource("ItemsWithSuppliers")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ItemsWithSuppliers")</a>
                    }
                </td>
                <td></td>
                <td>
                     @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/100/Requisition%20Item%20Summary.pdf#page=32" target="_blank">@ResourceHelper.GetReportNameByResource("RequisitionItemSummary")</a>*@
                    @if (Model != null && Model.RptRequisitionItemSummary != "")
                    {
                        <a href='@Model.RptRequisitionItemSummary' target="_blank">@ResourceHelper.GetReportNameByResource("RequisitionItemSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("RequisitionItemSummary")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                     @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/116/Enterprise%20Room.pdf#page=12" target="_blank">@ResourceHelper.GetReportNameByResource("EnterpriseRoom")</a>*@
                    @if (Model != null && Model.RptEnterpriseRoom != "")
                    {
                        <a href='@Model.RptEnterpriseRoom' target="_blank">@ResourceHelper.GetReportNameByResource("EnterpriseRoom")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("EnterpriseRoom")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href=" https://sapphire.eturns.com/Uploads/HelpDoc/182/Kit%20Detail.pdf#page=21" target="_blank">@ResourceHelper.GetReportNameByResource("KitDetail")</a>*@
                    @if (Model != null && Model.RptKitDetail != "")
                    {
                        <a href='@Model.RptKitDetail' target="_blank">@ResourceHelper.GetReportNameByResource("KitDetail")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("KitDetail")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/182/Kit%20Detail.pdf#page=33" target="_blank">@ResourceHelper.GetReportNameByResource("RequisitionWithLineItems")</a>*@
                    @if (Model != null && Model.RptRequisitionWithLineItems != "")
                    {
                        <a href='@Model.RptRequisitionWithLineItems' target="_blank">@ResourceHelper.GetReportNameByResource("RequisitionWithLineItems")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("RequisitionWithLineItems")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model != null && Model.RptEnterprisesList != "")
                    {
                        <a href='@Model.RptEnterprisesList' target="_blank">@ResourceHelper.GetReportNameByResource("EnterprisesList")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("EnterprisesList")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/183/Kit%20Serial.pdf#page=21" target="_blank">@ResourceHelper.GetReportNameByResource("KitSerial")</a>*@
                    @if (Model != null && Model.RptKitSerial != "")
                    {
                        <a href='@Model.RptKitSerial' target="_blank">@ResourceHelper.GetReportNameByResource("KitSerial")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("KitSerial")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/121/Return%20Items%20Candidates.pdf#page=33" target="_blank">@ResourceHelper.GetReportNameByResource("ReturnItemCandidates")</a>*@
                    @if (Model != null && Model.RptReturnItemCandidates != "")
                    {
                        <a href='@Model.RptReturnItemCandidates' target="_blank">@ResourceHelper.GetReportNameByResource("ReturnItemCandidates")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" >@ResourceHelper.GetReportNameByResource("ReturnItemCandidates")</a>
                    }

                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/117/Enterprise%20User.pdf#page=12" target="_blank">@ResourceHelper.GetReportNameByResource("EnterpriseUser")</a>*@
                    @if (Model != null && Model.RptEnterpriseUser != "")
                    {
                        <a href='@Model.RptEnterpriseUser' target="_blank">@ResourceHelper.GetReportNameByResource("EnterpriseUser")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("EnterpriseUser")</a>
                    }

                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/184/Kit%20Summary.pdf#page=22" target="_blank">@ResourceHelper.GetReportNameByResource("KitSummary")</a>*@
                    @if (Model != null && Model.RptKitSummary != "")
                    {
                        <a href='@Model.RptKitSummary' target="_blank">@ResourceHelper.GetReportNameByResource("KitSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("KitSummary")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/70/Room.pdf#page=34" target="_blank">@ResourceHelper.GetReportNameByResource("Room")</a>*@
                    @if (Model != null && Model.RptRoom != "")
                    {
                        <a href='@Model.RptRoom' target="_blank">@ResourceHelper.GetReportNameByResource("Room")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("Room")</a>
                    }
                    
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/64/eVMI%20Poll%20History.pdf#page=13" target="_blank">@ResourceHelper.GetReportNameByResource("eVMIPollHistory")</a>*@
                    @if (Model != null && Model.RpteVMIPollHistory != "")
                    {
                    <a href='@Model.RpteVMIPollHistory' target="_blank">@ResourceHelper.GetReportNameByResource("eVMIPollHistory")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("eVMIPollHistory")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/105/Maintenance%20Due.pdf#page=22" target="_blank">@ResourceHelper.GetReportNameByResource("MaintenanceDue")</a>*@
                    @if (Model != null && Model.RptMaintenanceDue != "")
                    {
                        <a href='@Model.RptMaintenanceDue' target="_blank">@ResourceHelper.GetReportNameByResource("MaintenanceDue")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("MaintenanceDue")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/114/Supplier.pdf#page=36" target="_blank">@ResourceHelper.GetReportNameByResource("Supplier")</a>*@
                    @if (Model != null && Model.RptSupplier != "")
                    {
                        <a href='@Model.RptSupplier' target="_blank">@ResourceHelper.GetReportNameByResource("Supplier")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("Supplier")</a>
                    }

                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/63/eVMI%20Usage.pdf#page=13" target="_blank">@ResourceHelper.GetReportNameByResource("eVMIUsage")</a>*@
                    @if (Model != null && Model.RpteVMIUsage != "")
                    {
                        <a href='@Model.RpteVMIUsage' target="_blank">@ResourceHelper.GetReportNameByResource("eVMIUsage")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("eVMIUsage")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/84/Not%20Pulled.pdf#page=22" target="_blank">@ResourceHelper.GetReportNameByResource("NotPulledReport")</a>*@
                    @if (Model != null && Model.RptNotPulledReport != "")
                    {
                        <a href='@Model.RptNotPulledReport' target="_blank">@ResourceHelper.GetReportNameByResource("NotPulledReport")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("NotPulledReport")</a>
                    }
                </td>
                <td></td>
                <td>
                     @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/109/Tool%20Audit%20Trail.pdf#page=36" target="_blank">@ResourceHelper.GetReportNameByResource("ToolAuditTrail")</a>*@
                    @if (Model != null && Model.RptToolAuditTrail != "")
                    {
                        <a href='@Model.RptToolAuditTrail' target="_blank">@ResourceHelper.GetReportNameByResource("ToolAuditTrail")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ToolAuditTrail")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/96/eVMI%20Usage%20Manual%20Count.pdf#page=13" target="_blank">@ResourceHelper.GetReportNameByResource("eVMIUsageManualCount")</a>*@
                    @if (Model != null && Model.RpteVMIUsageManualCount != "")
                    {
                        <a href='@Model.RpteVMIUsageManualCount' target="_blank">@ResourceHelper.GetReportNameByResource("eVMIUsageManualCount") </a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("eVMIUsageManualCount")</a>
                    }
                </td>
                <td></td>
                <td>
                    @if (Model != null && Model.RptOrderItemSummary != "")
                    {
                    <a href='@Model.RptOrderItemSummary' target="_blank">@ResourceHelper.GetReportNameByResource("OrderItemSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("OrderItemSummary")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/110/Tool%20Audit%20Trail%20Transaction.pdf#page=37" target="_blank">@ResourceHelper.GetReportNameByResource("ToolAuditTrailTransaction")</a>*@
                    @if (Model != null && Model.RptToolAuditTrailTransaction != "")
                    {
                        <a href='@Model.RptToolAuditTrailTransaction' target="_blank">@ResourceHelper.GetReportNameByResource("ToolAuditTrailTransaction")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ToolAuditTrailTransaction")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/71/eVMI%20Usage%20No%20Header.pdf#page=14" target="_blank">@ResourceHelper.GetReportNameByResource("eVMIUsageNoHeader")</a>*@
                    @if (Model != null && Model.RpteVMIUsageNoHeader != "")
                    {
                        <a href='@Model.RpteVMIUsageNoHeader' target="_blank">@ResourceHelper.GetReportNameByResource("eVMIUsageNoHeader")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("eVMIUsageNoHeader")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/85/Order%20Summary.pdf#page=23" target="_blank">@ResourceHelper.GetReportNameByResource("OrderSummary")</a>*@
                    @if (Model != null && Model.RptOrderSummary != "")
                    {
                        <a href='@Model.RptOrderSummary' target="_blank">@ResourceHelper.GetReportNameByResource("OrderSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("OrderSummary")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/115/Tool%20Instock.pdf#page=37" target="_blank">@ResourceHelper.GetReportNameByResource("ToolInStock")</a>*@
                    @if (Model != null && Model.RptToolInstock != "")
                    {
                        <a href='@Model.RptToolInstock' target="_blank">@ResourceHelper.GetReportNameByResource("ToolInStock")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ToolInStock")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/81/Expiring%20Items.pdf#page=14" target="_blank">@ResourceHelper.GetReportNameByResource("ExpiringItems")</a>*@
                    @if (Model != null && Model.RptExpiringItems != "")
                    {
                        <a href='@Model.RptExpiringItems' target="_blank">@ResourceHelper.GetReportNameByResource("ExpiringItems")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ExpiringItems")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/124/Order%20Summary%20Line%20Item.pdf#page=23" target="_blank">@ResourceHelper.GetReportNameByResource("OrderSummaryLineItem")</a>*@
                    @if (Model != null && Model.RptOrderSummaryLineItem != "")
                    {
                        <a href='@Model.RptOrderSummaryLineItem' target="_blank">@ResourceHelper.GetReportNameByResource("OrderSummaryLineItem")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("OrderSummaryLineItem")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/86/Tool%20Asset%20Order.pdf#page=38" target="_blank">@ResourceHelper.GetReportNameByResource("ToolAssetOrder")</a>*@
                    @if (Model != null && Model.RptToolAssetOrder != "")
                    {
                        <a href='@Model.RptToolAssetOrder' target="_blank">@ResourceHelper.GetReportNameByResource("ToolAssetOrder")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ToolAssetOrder")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/55/InStock.pdf#page=14" target="_blank">@ResourceHelper.GetReportNameByResource("InStock")</a>*@
                    @if (Model != null && Model.RptInStock != "")
                    {
                        <a href='@Model.RptInStock' target="_blank">@ResourceHelper.GetReportNameByResource("InStock")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InStock")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/102/Orders%20Closed.pdf#page=24" target="_blank">@ResourceHelper.GetReportNameByResource("OrdersClosed")</a>*@
                    @if (Model != null && Model.RptOrdersClosed != "")
                    {
                        <a href='@Model.RptOrdersClosed' target="_blank">@ResourceHelper.GetReportNameByResource("OrdersClosed")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("OrdersClosed")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/87/Tool%20Asset%20Orders%20with%20Line%20Items.pdf#page=38" target="_blank">@ResourceHelper.GetReportNameByResource("ToolAssetOrdersWithLineItems")</a>*@
                    @if (Model != null && Model.RptToolAssetOrdersWithLineItems != "")
                    {
                        <a href='@Model.RptToolAssetOrdersWithLineItems' target="_blank">@ResourceHelper.GetReportNameByResource("ToolAssetOrdersWithLineItems")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ToolAssetOrdersWithLineItems")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                     @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/101/InStock%20by%20Activity.pdf#page=15" target="_blank">@ResourceHelper.GetReportNameByResource("InStockByActivity")</a>*@
                    @if (Model != null && Model.RptInStockByActivity != "")
                    {
                        <a href='@Model.RptInStockByActivity' target="_blank">@ResourceHelper.GetReportNameByResource("InStockByActivity")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InStockByActivity")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/57/Orders%20with%20Line%20Items.pdf#page=24" target="_blank">@ResourceHelper.GetReportNameByResource("OrdersWithLineItems")</a>*@
                    @if (Model != null && Model.RptOrdersWithLineItems != "")
                    {
                        <a href='@Model.RptOrdersWithLineItems' target="_blank">@ResourceHelper.GetReportNameByResource("OrdersWithLineItems")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("OrdersWithLineItems")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/74/Tools%20Checked%20Out.pdf#page=39" target="_blank">@ResourceHelper.GetReportNameByResource("Toolscheckedout")</a>*@
                    @if (Model != null && Model.RptToolscheckedout != "")
                    {
                        <a href='@Model.RptToolscheckedout' target="_blank">@ResourceHelper.GetReportNameByResource("Toolscheckedout")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("Toolscheckedout")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/68/InStock%20Margin.pdf#page=15" target="_blank">@ResourceHelper.GetReportNameByResource("InStockMargin")</a>*@
                    @if (Model != null && Model.RptInStockMargin != "")
                    {
                        <a href='@Model.RptInStockMargin' target="_blank">@ResourceHelper.GetReportNameByResource("InStockMargin")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InStockMargin")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/111/Precise%20Demand%20Planning.pdf#page=25" target="_blank">@ResourceHelper.GetReportNameByResource("PreciseDemandPlanning")</a>*@
                    @if (Model != null && Model.RptPreciseDemandPlanning != "")
                    {
                        <a href='@Model.RptPreciseDemandPlanning' target="_blank">@ResourceHelper.GetReportNameByResource("PreciseDemandPlanning")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PreciseDemandPlanning")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/77/Tools%20Checked%20In%20Out%20History.pdf#page=40" target="_blank">@ResourceHelper.GetReportNameByResource("ToolsCheckIn-outHistory")</a>*@
                    @if (Model != null && Model.RptToolsCheckInoutHistory != "")
                    {
                        <a href='@Model.RptToolsCheckInoutHistory' target="_blank">@ResourceHelper.GetReportNameByResource("ToolsCheckIn-outHistory")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("ToolsCheckIn-outHistory")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/69/InStock%20with%20Quantity%20On%20Hand.pdf#page=15" target="_blank">@ResourceHelper.GetReportNameByResource("InStockwithQOH")</a>*@
                    @if (Model != null && Model.RptInstockwithQOH != "")
                    {
                        <a href='@Model.RptInstockwithQOH' target="_blank">@ResourceHelper.GetReportNameByResource("InStockwithQOH")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InStockwithQOH")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/113/Precise%20Demand%20Planning%20by%20Item.pdf#page=25" target="_blank">@ResourceHelper.GetReportNameByResource("PreciseDemandPlanningByItem")</a>*@
                    @if (Model != null && Model.RptPreciseDemandPlanningByItem != "")
                    {
                        <a href='@Model.RptPreciseDemandPlanningByItem' target="_blank">@ResourceHelper.GetReportNameByResource("PreciseDemandPlanningByItem")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PreciseDemandPlanningByItem")</a>
                    }

                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/98/Transfer%20with%20Line%20Items.pdf#page=41" target="_blank">@ResourceHelper.GetReportNameByResource("TransferWithLineItems")</a>*@
                    @if (Model != null && Model.RptTransferWithLineItems != "")
                    {
                        <a href='@Model.RptTransferWithLineItems' target="_blank">@ResourceHelper.GetReportNameByResource("TransferWithLineItems")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("TransferWithLineItems")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    
                    @if (Model != null && Model.RptInventoryCountConsigned != "")
                    {
                    <a href='@Model.RptInventoryCountConsigned' target="_blank">@ResourceHelper.GetReportNameByResource("InventoryCountConsigned")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InventoryCountConsigned")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/90/Pull%20Completed.pdf#page=27" target="_blank">@ResourceHelper.GetReportNameByResource("PullCompleted")</a>*@
                    @if (Model != null && Model.RptPullCompleted != "")
                    {
                        <a href='@Model.RptPullCompleted' target="_blank">@ResourceHelper.GetReportNameByResource("PullCompleted")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PullCompleted")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/118/Inventory%20Stockout.pdf#page=12" target="_blank">@ResourceHelper.GetReportNameByResource("Users")</a>*@
                    @if (Model != null && Model.RptUsers != "")
                    {
                        <a href='@Model.RptUsers' target="_blank">@ResourceHelper.GetReportNameByResource("Users")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("Users")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model != null && Model.RptInventoryCountCustomerOwned != "")
                    {
                    <a href='@Model.RptInventoryCountCustomerOwned' target="_blank">@ResourceHelper.GetReportNameByResource("InventoryCountCustomerOwned")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InventoryCountCustomerOwned")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/91/Pull%20Incomplete.pdf#page=27" target="_blank">@ResourceHelper.GetReportNameByResource("PullIncomplete")</a>*@
                    @if (Model != null && Model.RptPullIncomplete != "")
                    {
                        <a href='@Model.RptPullIncomplete' target="_blank">@ResourceHelper.GetReportNameByResource("PullIncomplete")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PullIncomplete")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/107/Work%20Order%20Last%20Cost.pdf#page=42" target="_blank">@ResourceHelper.GetReportNameByResource("WorkOrderLastCost")</a>*@
                    @if (Model != null && Model.RptWorkOrderLastCost != "")
                    {
                        <a href='@Model.RptWorkOrderLastCost' target="_blank">@ResourceHelper.GetReportNameByResource("WorkOrderLastCost")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("WorkOrderLastCost")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/82/Inventory%20Daily%20History.pdf#page=16" target="_blank">@ResourceHelper.GetReportNameByResource("InventoryDailyHistory")</a>*@
                    @if (Model != null && Model.RptInventoryDailyHistory != "")
                    {
                        <a href='@Model.RptInventoryDailyHistory' target="_blank">@ResourceHelper.GetReportNameByResource("InventoryDailyHistory")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InventoryDailyHistory")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/125/Pull%20Item%20Summary.pdf#page=28" target="_blank">@ResourceHelper.GetReportNameByResource("PullItemSummary")</a>*@
                    @if (Model != null && Model.RptPullItemSummary != "")
                    {
                        <a href='@Model.RptPullItemSummary' target="_blank">@ResourceHelper.GetReportNameByResource("PullItemSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PullItemSummary")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/120/Work%20Order%20with%20Attachment.pdf#page=42" target="_blank">@ResourceHelper.GetReportNameByResource("WorkOrderWithAttachment")</a>*@
                    @if (Model != null && Model.RptWorkOrderWithAttachment != "")
                    {
                        <a href='@Model.RptWorkOrderWithAttachment' target="_blank">@ResourceHelper.GetReportNameByResource("WorkOrderWithAttachment")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("WorkOrderWithAttachment")</a>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/112/Inventory%20Daily%20History%20with%20Date%20Range.pdf#page=17" target="_blank">@ResourceHelper.GetReportNameByResource("InventoryDailyHistoryWithDateRange")</a>*@
                    @if (Model != null && Model.RptInventoryDailyHistoryWithDateRange != "")
                    {
                        <a href='@Model.RptInventoryDailyHistoryWithDateRange' target="_blank">@ResourceHelper.GetReportNameByResource("InventoryDailyHistoryWithDateRange")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("InventoryDailyHistoryWithDateRange")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/88/Pull%20No%20Header.pdf#page=28" target="_blank">@ResourceHelper.GetReportNameByResource("PullNoHeader")</a>*@
                    @if (Model != null && Model.RptPullNoHeader != "")
                    {
                        <a href='@Model.RptPullNoHeader' target="_blank">@ResourceHelper.GetReportNameByResource("PullNoHeader")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PullNoHeader")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/186/Work%20Order%20with%20Grouped%20Pulls.pdf#page=43" target="_blank">@ResourceHelper.GetReportNameByResource("WorkOrderWithGroupedPulls")</a>*@
                    @if (Model != null && Model.RptWorkOrderWithGroupedPulls != "")
                    {
                    <a href='@Model.RptWorkOrderWithGroupedPulls' target="_blank">@ResourceHelper.GetReportNameByResource("WorkOrderWithGroupedPulls")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("WorkOrderWithGroupedPulls")</a>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/89/Pull%20Summary.pdf#page=29" target="_blank">@ResourceHelper.GetReportNameByResource("PullSummary")</a>*@
                    @if (Model != null && Model.RptPullSummary != "")
                    {
                        <a href='@Model.RptPullSummary' target="_blank">@ResourceHelper.GetReportNameByResource("PullSummary")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PullSummary")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/94/Work%20Orders%20List.pdf#page=43" target="_blank">@ResourceHelper.GetReportNameByResource("WorkOrdersList")</a>*@
                    @if (Model != null && Model.RptWorkordersList != "")
                    {
                        <a href='@Model.RptWorkordersList' target="_blank">@ResourceHelper.GetReportNameByResource("WorkOrdersList")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("WorkOrdersList")</a>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/80/Pull%20Summary%20by%20Consigned%20PO.pdf#page=29" target="_blank">@ResourceHelper.GetReportNameByResource("PullSummaryByConsignedPO")</a>*@
                    @if (Model != null && Model.RptPullSummaryByConsignedPO != "")
                    {
                        <a href='@Model.RptPullSummaryByConsignedPO' target="_blank">@ResourceHelper.GetReportNameByResource("PullSummaryByConsignedPO")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("PullSummaryByConsignedPO")</a>
                    }
                </td>
                <td></td>
                <td>
                    @*<a href="https://sapphire.eturns.com/Uploads/HelpDoc/108/Written%20Off%20Tools.pdf#page=44" target="_blank">@ResourceHelper.GetReportNameByResource("WrittenOffTools")</a>*@
                    @if (Model != null && Model.RptWrittenOffTools != "")
                    {
                        <a href='@Model.RptWrittenOffTools' target="_blank">@ResourceHelper.GetReportNameByResource("WrittenOffTools")</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">@ResourceHelper.GetReportNameByResource("WrittenOffTools")</a>
                    }
                </td>
            </tr>
        </table>

    </div>
</div>
