@using MvcCheckBoxList.Model;
@model List<SelectListItem>
@{
    var htmlCheckboxInfo = new HtmlListInfo(HtmlTag.table, 4, new { @name = "chkStatus", }, TextLayout.Default, TemplateIsUsed.No);
    string ddlOptions = string.Empty;
    List<SelectListItem> lst = ViewBag.DisabledGroupList;
    string sNew = "";
    string sNewFirst = "";
    string sNewEnterpriseQL="";
    if (lst != null && lst.Count > 0)
    {
        for (int i = 0; i < lst.Count; i++)
        {
            if (lst[i].Value.Contains("Replenish_Order"))
            {
                sNewFirst = System.Net.WebUtility.HtmlDecode("<option selected='true' value='" + lst[i].Value + "'  >" + lst[i].Text + "</option>");
            }
            else if (ViewBag.IsInstockReport != null && ViewBag.IsInstockReport == true && lst[i].Value == "EnterpriseQL")
            {
                sNewEnterpriseQL += System.Net.WebUtility.HtmlDecode("<option value='" + lst[i].Value + "'  >" + lst[i].Text + "</option>");
            }
            else{
                sNew += System.Net.WebUtility.HtmlDecode("<option disabled='true' value='" + lst[i].Value + "'  >" + lst[i].Text + "</option>");
            }
        }

        sNew = sNewFirst + sNewEnterpriseQL + sNew;
    }
}
<li>
    <div class="editor-label">
        @Html.Label(@eTurns.DTO.ResReportMaster.Range):
    </div>
    <div class="editor-field" style="float: left; width: 250px;">
        @Html.DropDownList("ddlReportRange", Model, new { @id = "ddlReportRange", @class = "selectBox", @style = "width:140px;" })
    </div>
</li>
@*<li>
    <div style="height: 20px; width: 100%; float: left;">&nbsp;
    </div>
</li>*@
<script type="text/javascript">
    $('#ddlReportRange').on('change', function () {
        if ('@ViewBag.IsInstockReport' != null && '@ViewBag.IsInstockReport' == 'True') {
            if (typeof (IsEnterpriseQLRangeSelected) != "undefined" && IsEnterpriseQLRangeSelected()) {
                $("#lstModuleItem").removeAttr("multiple").css("min-height", "").addClass("selectBox");
                $("#chkCheckAllItem,#lblSelectAllItems").hide();
            }
            else {
                $("#lstModuleItem").attr("multiple", "multiple").css("min-height", "250px").removeClass("selectBox");
                $("#chkCheckAllItem,#lblSelectAllItems").show();
            }
        }
        FillModuleItem();
        if (typeof (IsEnterpriseQLRangeSelected) != "undefined" && IsEnterpriseQLRangeSelected()) {
            $("select#lstModuleItem").trigger("change");
        }
    });
    $(document).ready(function () {
        var decoded = $('<div/>').html('@sNew').text();
        $('#ddlReportRange').append(decoded);
    });
</script>
