@model ReportPerameters
@{
    string ModuleName = Convert.ToString(Model.ModuleName);

}
@if (!string.IsNullOrWhiteSpace(ModuleName))
{
    <li id="liSortFieldFirst">
        <div class="editor-label">
            @Html.Label(@eTurns.DTO.ResReportMaster.FirstSortField):
        </div>
        <div class="editor-field">
            @Html.DropDownList("ddlSortFieldFirst", new SelectList(Model.SortFields, "key", "value", Model.SortFieldFirstValue), new { @id = "ddlSortFieldFirst", @style = "width:130px" })
            &nbsp;
            @Html.DropDownList("ddlSortOrderFirst", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldFirstOrder), new { @id = "ddlSortOrderFirst", @style = "width:60px" })
        </div>
    </li>
    <li id="liSortFieldSecond">
        <div class="editor-label">
            @Html.Label(@eTurns.DTO.ResReportMaster.SecondSortField):
        </div>
        <div class="editor-field">
            @Html.DropDownList("ddlSortFieldSecond", new SelectList(Model.SortFields, "key", "value", Model.SortFieldSecondValue), new { @id = "ddlSortFieldSecond", @style = "width:130px" })
            &nbsp;
            @Html.DropDownList("ddlSortOrderSecond", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldSecondOrder), new { @id = "ddlSortOrderSecond", @style = "width:60px" })
        </div>
    </li>
    <li id="liSortFieldThird">
        <div class="editor-label">
            @Html.Label(@eTurns.DTO.ResReportMaster.ThirdSortField):
        </div>
        <div class="editor-field">
            @Html.DropDownList("ddlSortFieldThird", new SelectList(Model.SortFields, "key", "value", Model.SortFieldThirdValue), new { @id = "ddlSortFieldThird", @style = "width:130px" })
            &nbsp;
            @Html.DropDownList("ddlSortOrderThird", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldThirdOrder), new { @id = "ddlSortOrderThird", @style = "width:60px" })
        </div>
    </li>
    <li id="liSortFieldFourth">
        <div class="editor-label">
            @Html.Label(@eTurns.DTO.ResReportMaster.FourthSortField):
        </div>
        <div class="editor-field">
            @Html.DropDownList("ddlSortFieldFourth", new SelectList(Model.SortFields, "key", "value", Model.SortFieldFourthValue), new { @id = "ddlSortFieldFourth", @style = "width:130px" })
            &nbsp;
            @Html.DropDownList("ddlSortOrderFourth", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldFourthOrder), new { @id = "ddlSortOrderFourth", @style = "width:60px" })
        </div>
    </li>
    <li id="liSortFieldFifth">
        <div class="editor-label">
            @Html.Label(@eTurns.DTO.ResReportMaster.FifthSortField):
        </div>
        <div class="editor-field">
            @Html.DropDownList("ddlSortFieldFifth", new SelectList(Model.SortFields, "key", "value", Model.SortFieldFifthValue), new { @id = "ddlSortFieldFifth", @style = "width:130px" })
            &nbsp;
            @Html.DropDownList("ddlSortOrderFifth", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldFifthOrder), new { @id = "ddlSortOrderFifth", @style = "width:60px" })
        </div>
    </li>
    <li>
        <div class="editor-label">
            &nbsp;
        </div>
    </li>
    <li>
        <div class="editor-label">
            &nbsp;
        </div>
    </li>
}
<script>
    var value1 = '';
    var value2 = '';
    var value3 = '';
    var value4 = '';
    var value5 = '';
    $(document).ready(function () {
        hideColumnInOtherDropdown("ddlSortFieldFirst", $("#ddlSortFieldFirst").val());
        if ($("#ddlSortFieldSecond").val() != '') {
            hideColumnInOtherDropdown("ddlSortFieldSecond", $("#ddlSortFieldSecond").val());
        }
        if ($("#ddlSortFieldThird").val() != '') {
            hideColumnInOtherDropdown("ddlSortFieldThird", $("#ddlSortFieldThird").val());
        }
        if ($("#ddlSortFieldFourth").val() != '') {
            hideColumnInOtherDropdown("ddlSortFieldFourth", $("#ddlSortFieldFourth").val());
        }
        if ($("#ddlSortFieldFifth").val() != '') {
            hideColumnInOtherDropdown("ddlSortFieldFifth", $("#ddlSortFieldFifth").val());
        }
    });
    $("#ddlSortFieldFirst").change(function () {
        hideColumnInOtherDropdown($(this).attr("id"), $(this).val());
    });
    $("#ddlSortFieldSecond").change(function () {
        hideColumnInOtherDropdown($(this).attr("id"), $(this).val());
    });
    $("#ddlSortFieldThird").change(function () {
        hideColumnInOtherDropdown($(this).attr("id"), $(this).val());
    });
    $("#ddlSortFieldFourth").change(function () {
        hideColumnInOtherDropdown($(this).attr("id"), $(this).val());
    });
    $("#ddlSortFieldFifth").change(function () {
        hideColumnInOtherDropdown($(this).attr("id"), $(this).val());
    });
    function hideColumnInOtherDropdown(drpId, value) {

        value1 = $("#ddlSortFieldFirst").val();
        value2 = $("#ddlSortFieldSecond").val();
        value3 = $("#ddlSortFieldThird").val();
        value4 = $("#ddlSortFieldFourth").val();
        value5 = $("#ddlSortFieldFifth").val();


        if (drpId == "ddlSortFieldFirst") {
            $("#ddlSortFieldSecond").children('option').hide();
            $("#ddlSortFieldThird").children('option').hide();
            $("#ddlSortFieldFourth").children('option').hide();
            $("#ddlSortFieldFifth").children('option').hide();

            $("#ddlSortFieldSecond").children("option[value!=" + value1 + "]").show();
            $("#ddlSortFieldThird").children("option[value!=" + value1 + "]").show();
            $("#ddlSortFieldFourth").children("option[value!=" + value1 + "]").show();
            $("#ddlSortFieldFifth").children("option[value!=" + value1 + "]").show();
            if (value2 != '') {
                $("#ddlSortFieldThird").children("option[value=" + value2 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value2 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value2 + "]").hide();
            }
            if (value3 != '') {
                $("#ddlSortFieldSecond").children("option[value=" + value3 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value3 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value3 + "]").hide();
            }
            if (value4 != '') {
                $("#ddlSortFieldSecond").children("option[value=" + value4 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value4 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value4 + "]").hide();
            }
            if (value5 != '') {
                $("#ddlSortFieldSecond").children("option[value=" + value5 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value5 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value5 + "]").hide();
            }

        }
        if (drpId == "ddlSortFieldSecond") {
            $("#ddlSortFieldFirst").children('option').hide();
            $("#ddlSortFieldThird").children('option').hide();
            $("#ddlSortFieldFourth").children('option').hide();
            $("#ddlSortFieldFifth").children('option').hide();

            $("#ddlSortFieldFirst").children("option[value!=" + value2 + "]").show();
            $("#ddlSortFieldThird").children("option[value!=" + value2 + "]").show();
            $("#ddlSortFieldFourth").children("option[value!=" + value2 + "]").show();
            $("#ddlSortFieldFifth").children("option[value!=" + value2 + "]").show();
            if (value1 != '') {
                $("#ddlSortFieldThird").children("option[value=" + value1 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value1 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value1 + "]").hide();
            }
            if (value3 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value3 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value3 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value3 + "]").hide();
            }
            if (value4 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value4 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value4 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value4 + "]").hide();
            }
            if (value5 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value5 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value5 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value5 + "]").hide();
            }
        }
        if (drpId == "ddlSortFieldThird") {
            $("#ddlSortFieldFirst").children('option').hide();
            $("#ddlSortFieldSecond").children('option').hide();
            $("#ddlSortFieldFourth").children('option').hide();
            $("#ddlSortFieldFifth").children('option').hide();

            $("#ddlSortFieldFirst").children("option[value!=" + value3 + "]").show();
            $("#ddlSortFieldSecond").children("option[value!=" + value3 + "]").show();
            $("#ddlSortFieldFourth").children("option[value!=" + value3 + "]").show();
            $("#ddlSortFieldFifth").children("option[value!=" + value3 + "]").show();
            if (value1 != '') {
                $("#ddlSortFieldSecond").children("option[value=" + value1 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value1 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value1 + "]").hide();
            }
            if (value2 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value2 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value2 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value2 + "]").hide();
            }
            if (value4 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value4 + "]").hide();
                $("#ddlSortFieldSecond").children("option[value=" + value4 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value4 + "]").hide();
            }
            if (value5 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value5 + "]").hide();
                $("#ddlSortFieldSecond").children("option[value=" + value5 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value5 + "]").hide();
            }
        }
        if (drpId == "ddlSortFieldFourth") {
            $("#ddlSortFieldFirst").children('option').hide();
            $("#ddlSortFieldSecond").children('option').hide();
            $("#ddlSortFieldThird").children('option').hide();
            $("#ddlSortFieldFifth").children('option').hide();

            $("#ddlSortFieldFirst").children("option[value!=" + value4 + "]").show();
            $("#ddlSortFieldSecond").children("option[value!=" + value4 + "]").show();
            $("#ddlSortFieldThird").children("option[value!=" + value4 + "]").show();
            $("#ddlSortFieldFifth").children("option[value!=" + value4 + "]").show();
            if (value1 != '') {
                $("#ddlSortFieldSecond").children("option[value=" + value1 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value1 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value1 + "]").hide();
            }
            if (value2 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value2 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value2 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value2 + "]").hide();
            }
            if (value3 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value3 + "]").hide();
                $("#ddlSortFieldSecond").children("option[value=" + value3 + "]").hide();
                $("#ddlSortFieldFifth").children("option[value=" + value3 + "]").hide();
            }
            if (value5 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value5 + "]").hide();
                $("#ddlSortFieldSecond").children("option[value=" + value5 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value5 + "]").hide();
            }
        }
        if (drpId == "ddlSortFieldFifth") {
            $("#ddlSortFieldFirst").children('option').hide();
            $("#ddlSortFieldSecond").children('option').hide();
            $("#ddlSortFieldThird").children('option').hide();
            $("#ddlSortFieldFourth").children('option').hide();

            $("#ddlSortFieldFirst").children("option[value!=" + value5 + "]").show();
            $("#ddlSortFieldSecond").children("option[value!=" + value5 + "]").show();
            $("#ddlSortFieldThird").children("option[value!=" + value5 + "]").show();
            $("#ddlSortFieldFourth").children("option[value!=" + value5 + "]").show();
            if (value1 != '') {
                $("#ddlSortFieldSecond").children("option[value=" + value1 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value1 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value1 + "]").hide();
            }
            if (value2 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value2 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value2 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value2 + "]").hide();
            }
            if (value3 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value3 + "]").hide();
                $("#ddlSortFieldSecond").children("option[value=" + value3 + "]").hide();
                $("#ddlSortFieldFourth").children("option[value=" + value3 + "]").hide();
            }
            if (value4 != '') {
                $("#ddlSortFieldFirst").children("option[value=" + value4 + "]").hide();
                $("#ddlSortFieldSecond").children("option[value=" + value4 + "]").hide();
                $("#ddlSortFieldThird").children("option[value=" + value4 + "]").hide();
            }
        }
        $("#ddlSortFieldFirst").children("option[value='']").show();
        $("#ddlSortFieldSecond").children("option[value='']").show();
        $("#ddlSortFieldThird").children("option[value='']").show();
        $("#ddlSortFieldFourth").children("option[value='']").show();
        $("#ddlSortFieldFifth").children("option[value='']").show();
    }
</script>