@model eTurns.DTO.ReportPerameters
@{
    
}
    <div class="editorForm" style="width: 50%;">
        <ul>
            @if (Model != null)
            {
                <li id="liSortFieldFirst">
                    <div class="editor-label" style="width: 59%;">
                        @Html.Label(@eTurns.DTO.ResReportMaster.FirstSortField):
                    </div>
                    <div class="editor-field" style="width: 335px;">
                        @Html.DropDownList("ddlSortFieldFirst", new SelectList(Model.SortFields, "key", "value", Model.SortFieldFirstValue), new { @id = "ddlSortFieldFirst",@class = "selectBox", @style = "width:130px" })
                        &nbsp;
                        @Html.DropDownList("ddlSortOrderFirst", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldFirstOrder), new { @id = "ddlSortOrderFirst", @class = "selectBox", @style = "width:60px" })
                    </div>
                </li>
                <li id="liSortFieldSecond">
                    <div class="editor-label" style="width: 59%;">
                        @Html.Label(@eTurns.DTO.ResReportMaster.SecondSortField):
                    </div>
                    <div class="editor-field" style="width: 335px;">
                        @Html.DropDownList("ddlSortFieldSecond", new SelectList(Model.SortFields, "key", "value", Model.SortFieldSecondValue), new { @id = "ddlSortFieldSecond", @class = "selectBox", @style = "width:130px" })
                        &nbsp;
                        @Html.DropDownList("ddlSortOrderSecond", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldSecondOrder), new { @id = "ddlSortOrderSecond", @class = "selectBox", @style = "width:60px" })
                    </div>
                </li>
                <li id="liSortFieldThird">
                    <div class="editor-label" style="width: 59%;">
                        @Html.Label(@eTurns.DTO.ResReportMaster.ThirdSortField):
                    </div>
                    <div class="editor-field" style="width: 335px;">
                        @Html.DropDownList("ddlSortFieldThird", new SelectList(Model.SortFields, "key", "value", Model.SortFieldThirdValue), new { @id = "ddlSortFieldThird", @class = "selectBox", @style = "width:130px" })
                        &nbsp;
                        @Html.DropDownList("ddlSortOrderThird", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldThirdOrder), new { @id = "ddlSortOrderThird", @class = "selectBox", @style = "width:60px" })
                    </div>
                </li>
                <li id="liSortFieldFourth">
                    <div class="editor-label" style="width: 59%;">
                        @Html.Label(@eTurns.DTO.ResReportMaster.FourthSortField):
                    </div>
                    <div class="editor-field" style="width: 335px;">
                        @Html.DropDownList("ddlSortFieldFourth", new SelectList(Model.SortFields, "key", "value", Model.SortFieldFourthValue), new { @id = "ddlSortFieldFourth", @class = "selectBox", @style = "width:130px" })
                        &nbsp;
                        @Html.DropDownList("ddlSortOrderFourth", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldFourthOrder), new { @id = "ddlSortOrderFourth", @class = "selectBox", @style = "width:60px" })
                    </div>
                </li>
                <li id="liSortFieldFifth">
                    <div class="editor-label" style="width: 59%;">
                        @Html.Label(@eTurns.DTO.ResReportMaster.FifthSortField):
                    </div>
                    <div class="editor-field" style="width: 335px;">
                        @Html.DropDownList("ddlSortFieldFifth", new SelectList(Model.SortFields, "key", "value", Model.SortFieldFifthValue), new { @id = "ddlSortFieldFifth", @class = "selectBox", @style = "width:130px" })
                        &nbsp;
                        @Html.DropDownList("ddlSortOrderFifth", new SelectList(Model.SortOrders, "key", "value", Model.SortFieldFifthOrder), new { @id = "ddlSortOrderFifth", @class = "selectBox", @style = "width:60px" })
                    </div>
                </li>
               
            }
        </ul>
    </div>

