@model List<eTurns.DTO.ReportBuilderDTO>
@{
   
    ViewBag.Title = "ScheduleReports";
    SchedulerDTO objSchedulerDTO = new SchedulerDTO();

    objSchedulerDTO.LoadSheduleFor = 5;
    objSchedulerDTO.RoomId = eTurnsWeb.Helper.SessionHelper.RoomID;
    objSchedulerDTO.CompanyId = eTurnsWeb.Helper.SessionHelper.CompanyID;
    objSchedulerDTO.CreatedBy = eTurnsWeb.Helper.SessionHelper.UserID;
    objSchedulerDTO.LastUpdatedBy = eTurnsWeb.Helper.SessionHelper.UserID;
    objSchedulerDTO.ModuleName = "Reports";
    objSchedulerDTO.ReportDataSelectionType = 1;
    
}
@using (Ajax.BeginForm("ScheduleSave", "ReportBuilder", new AjaxOptions { HttpMethod = "Post", LoadingElementId = "DivLoading", InsertionMode = InsertionMode.Replace, OnFailure = "onFailure" }, new { @id = "frmScheduleReport" }))
{
    @Html.AntiForgeryToken()
    <div class="userListingWrapper" style="min-height: 600px;">
        <h2 style="padding: 5px;">
            Schedule Reports</h2>
        <div class="userListBlock">
            <div style="width: 97%; float: left; padding: 5px;">
                <ul>
                    <li>
                        <div style="width: 20%; float: left;">
                            <b>List of Reports:</b>
                            <br />
                            <br />
                            @Html.ListBox("lstReports", new SelectList(Model, "ID", "ReportName"), new { @id = "lstReports", @style = "width:99%;min-height:480px;" })
                        </div>
                        <div style="width: 3%; float: left; height: 20px;">
                            &nbsp;
                        </div>
                        <div id="divReportPara" style="width: 72%; float: left; height: 500px;">
                            @Html.Partial("SchedulerInfo", objSchedulerDTO)
                            
                        </div>
                        <div>
                        </div>
                        <input type="hidden" id="ReportIds" name="ReportIds" value="" />
                    </li>
                    <li>
                        <div style="width: 20%; float: left;">
                            <input type="submit" value="@ResCommon.Cancel" id="btnscheduleCancel" class="CreateBtn" />
                            <input type="submit" value="@ResCommon.Save" id="btnschedulesave" class="CreateBtn" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnschedulesave").click(function () {
            if ($('#lstReports option:selected').length > 0) {


                var selectedValues = $.map($('#lstReports option:selected'), function (element) {
                    return element.value;
                });
                $("#ReportIds").val(selectedValues.join(','));
            }
            else {
                alert("Please select some report(s)");
                return false;
            }
        });

    });
</script>
