@model CommonDTO
@{
    
}
<div class="leftopenContent" style="display: none;">
    <a class="openBtn" id="ExpandQuoteNarrowSearch">
        <img alt="" src="~/Content/images/open.png" />
    </a>
</div>
<div class="IteamBlock">
    <a class="closedBtn" id="CollapseQuoteNarrowSearch">
        <img alt="" src="~/Content/images/closed.png" />
    </a>
    <h2>
        @eTurns.DTO.Resources.ResNarrowSearch.NarrowSearchHeader2
    </h2>
    <ul id="NarrowUL">
        <li attrsortOrder="1" id="LIQuotelst">
            @eTurns.DTO.ResQuoteMaster.QuoteNumber:
            <select id="ddlQuotes" name="example-basic" class="selectBox" onchange="changeQuote(this);">                
            </select>
        </li>
        <li attrsortOrder="2">
            <p class="handle"><img /></p>
            <select id="QuoteItemLocations" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion1">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemLocationsCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="3">
            <p class="handle"><img /></p>
            <select id="QuoteItemSupplier" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemSupplierCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="4">
            <p class="handle"><img /></p>
            <select id="QuoteItemManufacturers" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemManufacturersCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="5">
            <p class="handle"><img /></p>
            <select id="QuoteItemCategory" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemCategoryCollapse">
                </div>
            </div>
        </li>
        @*<li attrsortOrder="6">
            <p class="handle"><img /></p>
            <select id="QuoteItemRequiredDate" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemRequiredDateCollapse">
                </div>
            </div>
        </li>*@
        <li attrsortOrder="7">
            <p class="handle"><img /></p>
            <select id="QuoteItemCreatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion5">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24" />
                </a>
                <div class='dropcontent' id="QuoteItemCreatedByCollapse">
                </div>
            </div>
        </li>
        <li attrsortOrder="8">
            <p class="handle"><img /></p>
            <select id="QuoteItemUpdatedBy" multiple="multiple" name="example-basic" size="5"></select>
            <div class="accordion" id="accordion6">
                <a href='javascript:void(0);' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemUpdatedByCollapse">
                </div>
            </div>
        </li>
        <li style="float: left;" attrsortOrder="9">
            <p class="handle"><img /></p>
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateCreated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="QuoteItemDateCreatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="QuoteItemDateCFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancQuoteItemDateCFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="QuoteItemDateCTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancQuoteItemDateCTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li style="float: left;" attrsortOrder="10">
            <p class="handle"><img /></p>
            <div class="dateForm">
                <span class="dateText">@eTurns.DTO.Resources.ResNarrowSearch.DateUpdated</span>
                <div style="float: right; margin-top: -24px; cursor: pointer;">
                    <img id="QuoteItemDateUpdatedClear" src="~/Content/images/XClear.png" alt="@ResNarrowSearch.Clear" />
                </div>
                <div class="divLabel" style="padding-bottom: 4px;">
                    <label for="From" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.From
                    </label>
                    <input id="QuoteItemDateUFrom" type="text" value="" name="From" data-val-length-max="20"
                           data-val="true" class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancQuoteItemDateUFrom">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
                <div class="divLabel">
                    <label for="To" class="labelText">
                        @eTurns.DTO.Resources.ResNarrowSearch.To
                    </label>
                    <input id="QuoteItemDateUTo" type="text" value="" name="To" data-val-length-max="20" data-val="true"
                           class="text-box" />
                    <a href="javascript:void(0);" title="" class="datePicker" id="ancQuoteItemDateUTo">
                        <img src="~/Content/images/date-picker-icon.png" alt="" title="" />
                    </a>
                </div>
            </div>
        </li>
        <li id="liQuoteItemUDF1" style="display: none" attrsortOrder="11">
            <p class="handle"><img /></p>
            <select id="QuoteItemUDF1" UID="QuoteItemUDF1" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF1">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemUDF1Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQuoteItemUDF2" style="display: none" attrsortOrder="12">
            <p class="handle"><img /></p>
            <select id="QuoteItemUDF2" UID="QuoteItemUDF2" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF2">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemUDF2Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQuoteItemUDF3" style="display: none" attrsortOrder="13">
            <p class="handle"><img /></p>
            <select id="QuoteItemUDF3" UID="QuoteItemUDF3" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF3">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemUDF3Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQuoteItemUDF4" style="display: none" attrsortOrder="14">
            <p class="handle"><img /></p>
            <select id="QuoteItemUDF4" UID="QuoteItemUDF4" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF4">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemUDF4Collapse" name="CUDFS">
                </div>
            </div>
        </li>
        <li id="liQuoteItemUDF5" style="display: none" attrsortOrder="15">
            <p class="handle"><img /></p>
            <select id="QuoteItemUDF5" UID="QuoteItemUDF5" multiple="multiple" name="UDFS" size="5"></select>
            <div class="accordion" id="accordionUDF5">
                <a href='#' class='downarrow'>
                    <img src="~/Content/images/down-arrow.gif" alt="" height="24">
                </a>
                <div class='dropcontent' id="QuoteItemUDF5Collapse" name="CUDFS">
                </div>
            </div>
        </li>
    </ul>
    <input id="QuoteItemNarroSearchClear" type="button" value="@ResNarrowSearch.Clear" class="ClearBtn" />
    @*@{ Html.RenderPartial("NarrowSearchSave", Model);}*@
</div>
<style>
    .IteamBlock li {
        width: 90% !important;
    }

    .handle {
        height: 20px;
        width: 5%;
        vertical-align: middle;
        /*background-image: url("../../Content/images/Drage.png");*/
        cursor: move;
        float: right;
    }

        .handle img {
            height: 20px;
            width: 6%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
</style>
<script type="text/javascript">

    var UserCreatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby';
    var UserUpdatedby = '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby';
    var UpdatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.Updatedby';
    var CreatedBy = '@eTurns.DTO.Resources.ResNarrowSearch.Createdby';
    var selected = '@eTurns.DTO.Resources.ResNarrowSearch.selected';
    var Manufacturer = '@eTurns.DTO.Resources.ResNarrowSearch.Manufacturer';
    var Supplier = '@eTurns.DTO.Resources.ResNarrowSearch.Supplier';
    var Category = '@eTurns.DTO.Resources.ResNarrowSearch.Category';
    var ICLNarroValues = "";
    var modelText = '@Model.Text',
        modelID = '@Model.ID';

    var LocationBySelectedValues = '';
    var SupplierBySelectedValues = '';
    var CategorySelectedValues = '';
    var ManufacturerSelectedValues = '';
    //var RequiredDateSelectedValues = '';
    var CreatedBySelectedValues = '';
    var LastUpdatedBySelectedValues = '';
    var QuoteItemUDF1NarrowValues = '';
    var QuoteItemUDF2NarrowValues = '';
    var QuoteItemUDF3NarrowValues = '';
    var QuoteItemUDF4NarrowValues = '';
    var QuoteItemUDF5NarrowValues = '';

    var _GridStateUrl = 'QuoteLineItemList_NarrowSearch';

    $(document).ready(function () {
        $(".handle").each(function () {
            $(this).find("img").attr("src", "../../Content/images/Drage.png");
        });

        $("#NarrowUL").sortable({
            handle: "> .handle",
            stop: function (event, ui) {
                var linkOrderData = $("#NarrowUL").sortable("toArray", { attribute: 'attrsortOrder' });

                $.ajax({
                    "type": "POST",
                    "url": '/Master/SaveGridState',
                    "data": { Data: JSON.stringify(linkOrderData), ListName: _GridStateUrl },
                    "dataType": "json",
                    "cache": false,
                    "async": false,
                    "success": function (json1) {
                    }
                });
            }
        });

        $.ajax({
            "type": "POST",
            "url": '/Master/LoadGridState',
            "data": { ListName: _GridStateUrl },
            "dataType": "json",
            "cache": false,
            "async": false,
            "success": function (json1) {

                if (json1.jsonData != null && json1.jsonData != '') {

                    var sorted = JSON.parse(json1.jsonData);
                    sorted = sorted.reverse();

                    sorted.forEach(function (id) {
                        $("#NarrowUL [attrsortOrder=" + parseInt(id) + "]").prependTo("#NarrowUL");
                    });
                }
            }
        });

        $('#QuoteItemDateCFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat, date: true
        });
        $('#QuoteItemDateCTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat, date: true
        });
        $('#QuoteItemDateUFrom').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat, date: true
        });
        $('#QuoteItemDateUTo').blur(function () {
        }).datepicker({
            changeMonth: true,
            changeYear: true, dateFormat: RoomDateJSFormat, date: true
        });

        $('a.downarrow').click(function (e) {
            e.preventDefault();
            $(this).closest('.accordion').find('.dropcontent').slideToggle();
        });

        var NarrowSearchState = getCookie('NarrowSearchState');
        if (NarrowSearchState == 'Expanded') {
            CollapseQuoteNarrowSearch();
        }
        else {
            ExpandQuoteNarrowSearch();
        }

        $('.IteamBlock').css('width', '99.5%');
    });

    function changeQuote(SSDDLObject) {

        //oTable.fnFilter($(CostDDLObject).val(),null,null,null);
        if ($(SSDDLObject).val() != "") {
            FillQuoteNarrowSearchData();
            fnFilterQuoteItemList("");
        }
        else {
            ItemActive = '';
            DoNarrowSearchForItemCount();
        }
    }

    $('#QuoteItemDateCFrom,#QuoteItemDateCTo').change(function () {
        var DateCFromValid = true;
        var DateCToValid = true;

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#QuoteItemDateCFrom').val());
            DateCFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#QuoteItemDateCTo').val());
            DateCToValid = true;
        } catch (e) {
            DateCToValid = false;
        }
        if (DateCFromValid && DateCToValid) {
            DoQuoteNarrowSearch();
        }
        else {
            if (!DateCFromValid)
                $('#QuoteItemDateCFrom').val('');
            if (!DateCToValid)
                $('#QuoteItemDateCTo').val('');
        }
    });

    $('#QuoteItemDateUFrom,#QuoteItemDateUTo').change(function () {
        var DateUFromValid = true;//Date.isValid($('#QuoteItemDateUFrom').val(), format);
        var DateUToValid = true;//Date.isValid($('#QuoteItemDateUTo').val(), format);

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#QuoteItemDateUFrom').val());
            DateUFromValid = true;
        } catch (e) {
            DateCFromValid = false;
        }

        try {
            $.datepicker.parseDate(RoomDateJSFormat, $('#QuoteItemDateUTo').val());
            DateUToValid = true;
        } catch (e) {
            DateUToValid = false;
        }
        if (DateUFromValid && DateUToValid) {
            DoQuoteNarrowSearch();
        }
        else {
            if (!DateUFromValid)
                $('#QuoteItemDateUFrom').val('');
            if (!DateUToValidItemLocation)
                $('#QuoteItemDateUTo').val('');
        }
    });

    $('#ancQuoteItemDateCFrom').click(function () {
        $('#QuoteItemDateCFrom').focus();
    });
    $('#ancQuoteItemDateCTo').click(function () {
        $('#QuoteItemDateCTo').focus();
    });
    $('#ancQuoteItemDateUFrom').click(function () {
        $('#QuoteItemDateUFrom').focus();
    });
    $('#ancQuoteItemDateUTo').click(function () {
        $('#QuoteItemDateUTo').focus();
    });

    $('#QuoteItemDateCreatedClear').click(function () {
        if ($('#QuoteItemDateCFrom').val() != '' || $('#QuoteItemDateCTo').val() != '') {
            $('#QuoteItemDateCFrom').val('');
            $('#QuoteItemDateCTo').val('');
            //NarrowSearchInGrid('');
            DoQuoteNarrowSearch();
        }
    });
    $('#QuoteItemDateUpdatedClear').click(function () {
        if ($('#QuoteItemDateUFrom').val() != '' ||Category$('#QuoteItemDateUTo').val() != '') {
            $('#QuoteItemDateUFrom').val('');
            $('#QuoteItemDateUTo').val('');
            //NarrowSearchInGrid('');
            DoQuoteNarrowSearch();
        }
    });

    $('#ExpandQuoteNarrowSearch').click(function (e) {
        ExpandQuoteNarrowSearch();
    });
    $('#CollapseQuoteNarrowSearch').click(function (e) {
        CollapseQuoteNarrowSearch();
    });
    $('#QuoteItemNarroSearchClear').click(function () {

        $('#QuoteItemDateCFrom').val('');
        $('#QuoteItemDateCTo').val('');
        $('#QuoteItemDateUFrom').val('');
        $('#QuoteItemDateUTo').val('');

        if (typeof ($("#QuoteItemLocations").multiselect("getChecked").length) != undefined
            && $("#QuoteItemLocations").multiselect("getChecked").length > 0) {
            $("#QuoteItemLocations").multiselect("uncheckAll");
            $("#QuoteItemLocationsCollapse").html('');
        }
        else if (typeof ($("#QuoteItemLocationsCollapse")) != undefined) {
            $("#QuoteItemLocationsCollapse").html('');
            LocationBySelectedValues = '';
            $("#QuoteItemLocationsCollapse").hide();
        }
        if (typeof ($("#QuoteItemSupplier").multiselect("getChecked").length) != undefined
            && $("#QuoteItemSupplier").multiselect("getChecked").length > 0) {
            $("#QuoteItemSupplier").multiselect("uncheckAll");
            $("#QuoteItemSupplierCollapse").html('');
        }
        else if (typeof ($("#QuoteItemSupplierCollapse")) != undefined) {
            $("#QuoteItemSupplierCollapse").html('');
            SupplierBySelectedValues = '';
            $("#QuoteItemSupplierCollapse").hide();
        }
        if (typeof ($("#QuoteItemManufacturers").multiselect("getChecked").length) != undefined
            && $("#QuoteItemManufacturers").multiselect("getChecked").length > 0) {
            $("#QuoteItemManufacturers").multiselect("uncheckAll");
            $("#QuoteItemManufacturersCollapse").html('');
        }
        else if (typeof ($("#QuoteItemManufacturersCollapse")) != undefined) {
            $("#QuoteItemManufacturersCollapse").html('');
            ManufacturerSelectedValues = '';
            $("#QuoteItemManufacturersCollapse").hide();
        }
        if (typeof ($("#QuoteItemCategory").multiselect("getChecked").length) != undefined
            && $("#QuoteItemCategory").multiselect("getChecked").length > 0) {
            $("#QuoteItemCategory").multiselect("uncheckAll");
            $("#QuoteItemCategoryCollapse").html('');
        }
        else if (typeof ($("#QuoteItemCategoryCollapse")) != undefined) {
            $("#QuoteItemCategoryCollapse").html('');
            CategorySelectedValues = '';
            $("#QuoteItemCategoryCollapse").hide();
        }
        //if (typeof ($("#QuoteItemRequiredDate").multiselect("getChecked").length) != undefined && $("#QuoteItemRequiredDate").multiselect("getChecked").length > 0) {
        //    $("#QuoteItemRequiredDate").multiselect("uncheckAll");
        //    $("#QuoteItemRequiredDateCollapse").html('');
        //}
        if (typeof ($("#QuoteItemCreatedBy").multiselect("getChecked").length) != undefined && $("#QuoteItemCreatedBy").multiselect("getChecked").length > 0) {
            $("#QuoteItemCreatedBy").multiselect("uncheckAll");
            $("#QuoteItemCreatedByCollapse").html('');
        }
        else if (typeof ($("#QuoteItemCreatedByCollapse")) != undefined) {
            $("#QuoteItemCreatedByCollapse").html('');
            CreatedBySelectedValues = '';
            $("#QuoteItemCreatedByCollapse").hide();
        }
        if (typeof ($("#QuoteItemUpdatedBy").multiselect("getChecked").length) != undefined && $("#QuoteItemUpdatedBy").multiselect("getChecked").length > 0) {
            $("#QuoteItemUpdatedBy").multiselect("uncheckAll");
            $("#QuoteItemUpdatedByCollapse").html('');
        }
        else if (typeof ($("#QuoteItemUpdatedByCollapse")) != undefined) {
            $("#QuoteItemUpdatedByCollapse").html('');
            LastUpdatedBySelectedValues = '';
            $("#QuoteItemUpdatedByCollapse").hide();
        }
        //UDFs
        $("select[name='UDFS']").each(function (index) {
            if (typeof ($(this).multiselect("getChecked").length) != undefined && $(this).multiselect("getChecked").length > 0) {
                var UDFUniqueID = this.getAttribute('UID');
                $(this).multiselect("uncheckAll");
            }
        });
        $("div[name='CUDFS']").each(function (index) {
            $(this).html('');
        });

        if ($('#txtQuoteItemFilter').val() != '') $('#txtQuoteItemFilter').val('');
        $('input[type="search"]').val('').trigger('keyup');
        TempNarrow = '';
        IsRetainNarrow = false;

        LocationBySelectedValues = '';
        SupplierBySelectedValues = '';
        CategorySelectedValues = '';
        ManufacturerSelectedValues = '';
        //RequiredDateSelectedValues = '';
        CreatedBySelectedValues = '';
        LastUpdatedBySelectedValues = '';
        $('#myDataTable tbody tr').removeClass('row_selected');
        ShowHideChangeLog();
        DoQuoteNarrowSearch();
    });

    function clearSearchFilterIfNotInFocus() {
        if ($(document.activeElement).attr('id') != 'txtQuoteItemFilter')
            $("#txtQuoteItemFilter").val('');
    }

    function ExpandQuoteNarrowSearch() {
        var w = $('.IteamBlock').css("width");
        $('.IteamBlock').show();
        $('.IteamBlock').stop().animate({
            width: "99.5%"
        }, 0, function () {
            $('.userContent').css({ "width": "80.5%", "margin": "0" });
            $('#myDataTable_length').css({ "left": "0px" });
            $('#myDataTable_paginate').css({ "left": "145px" });
            $('.leftopenContent').css({ "display": "none" });
            setCookie('NarrowSearchState', 'Collapsed');
        });
        $('#divNarrowSearch').css('width', '18%');
    }

    function CollapseQuoteNarrowSearch() {
        $('.IteamBlock').stop().animate({
            width: "0%"
        }, 0, function () {
            $('.IteamBlock').hide();
            $('.userContent').css({ "width": "98.5%", margin: "0 0.4% 1%" });
            var Left = $('.viewBlock').css("width");
            $('#myDataTable_length').css({ "left": Left });
            var LeftW = 145 + parseInt(Left);
            $('#myDataTable_paginate').css({ "left": LeftW + 'px' });
            oTable.fnAdjustColumnSizing();
            $('.leftopenContent').css({ "display": "" });
            setCookie('NarrowSearchState', 'Expanded');
        });
        $('#divNarrowSearch').css('width', '0%');
    }

    function FillQuoteNarrowSearchData() {
        var QuoteMasterGuid = $('select#ddlQuotes').val();
        var _IsDeleted = false;
        var _IsArchived = false;
        $.ajax({
            url: '@Url.Content("~/Quote/GetNarrowQuotetoOrderDDData")',
            data: { 'IsDeleted': _IsDeleted, 'IsArchived': _IsArchived, 'QuoteMasterGuid': QuoteMasterGuid },
            dataType: 'json',
            async: true,
            success: function (response) {
                if (response.Success && response.Data != null) {                    
                    BindDropDownList(response.Data.ItemLocationList, 'QuoteItemLocations', 'QuoteItemLocationsCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.ItemLocation');
                    BindDropDownList(response.Data.SupplierByList, 'QuoteItemSupplier', 'QuoteItemSupplierCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.Supplier')
                    BindDropDownList(response.Data.ManufactureByList, 'QuoteItemManufacturers', 'QuoteItemManufacturersCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.Manufacturer')
                    BindDropDownList(response.Data.CategoryByList, 'QuoteItemCategory', 'QuoteItemCategoryCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.Category')
                    BindDropDownList(response.Data.CreatedByList, 'QuoteItemCreatedBy', 'QuoteItemCreatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserCreatedby');
                    BindDropDownList(response.Data.UpdatedByList, 'QuoteItemUpdatedBy', 'QuoteItemUpdatedByCollapse', '@eTurns.DTO.Resources.ResNarrowSearch.UserUpdatedby');
                    if (response.Data.UDF1List != null) {
                        $('#liQuoteItemUDF1').css('display', '');
                        BindDropDownList(response.Data.UDF1List, 'QuoteItemUDF1', 'QuoteItemUDF1Collapse', '@eTurns.DTO.ResQuoteDetail.UDF1');
                    }
                    else {
                        $('#liQuoteItemUDF1').css('display', 'none');
                    }
                    if (response.Data.UDF2List != null) {
                        $('#liQuoteItemUDF2').css('display', '');
                        BindDropDownList(response.Data.UDF2List, 'QuoteItemUDF2', 'QuoteItemUDF2Collapse', '@eTurns.DTO.ResQuoteDetail.UDF2');
                    }
                    else {
                        $('#liQuoteItemUDF2').css('display', 'none');
                    }
                    if (response.Data.UDF3List != null) {
                        $('#liQuoteItemUDF3').css('display', '');
                        BindDropDownList(response.Data.UDF3List, 'QuoteItemUDF3', 'QuoteItemUDF3Collapse', '@eTurns.DTO.ResQuoteDetail.UDF3');
                    }
                    else {
                        $('#liQuoteItemUDF3').css('display', 'none');
                    }
                    if (response.Data.UDF4List != null) {
                        $('#liQuoteItemUDF4').css('display', '');
                        BindDropDownList(response.Data.UDF4List, 'QuoteItemUDF4', 'QuoteItemUDF4Collapse', '@eTurns.DTO.ResQuoteDetail.UDF4');
                    }
                    else {
                        $('#liQuoteItemUDF4').css('display', 'none');
                    }
                    if (response.Data.UDF5List != null) {
                        $('#liQuoteItemUDF5').css('display', '');
                        BindDropDownList(response.Data.UDF5List, 'QuoteItemUDF5', 'QuoteItemUDF5Collapse', '@eTurns.DTO.ResQuoteDetail.UDF5');
                    }
                    else {
                        $('#liQuoteItemUDF5').css('display', 'none');
                    }
                    //$('#liQuoteItemUDF1').css('display', '');
                    //$('#liQuoteItemUDF2').css('display', '');
                    //$('#liQuoteItemUDF3').css('display', '');
                    //$('#liQuoteItemUDF4').css('display', '');
                    //$('#liQuoteItemUDF5').css('display', '');
                }
            },
            error: function (xhr) {
                //alert(xhr);
            }
        });
    }

    function GetOptions(arrData, isUDF) {
        var options;
        if (isUDF) {
            $.each(arrData, function (i) {
                if (arrData[i].Text != '') {
                    options += '<option value="' + arrData[i].Text + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
                }
            });
        }
        else {
            $.each(arrData, function (i) {
                options += '<option value="' + arrData[i].ID + '">' + arrData[i].Text + ' (' + arrData[i].Count + ')' + '</option>';
            });

        }
        return options;
    }

    function BindDropDownList(arrData, ddlName, ddlCollapseName, displayName) {
        $("#" + ddlName).empty();
        $("#" + ddlName).multiselect('destroy');
        $("#" + ddlName).multiselectfilter('destroy');
        if (arrData != null && arrData.length > 0) {
            $("#" + ddlName).append(GetOptions(arrData, (ddlName.indexOf('QuoteItemUDF') != -1)));
        }
        $("#" + ddlName).multiselect(
                  {
                      noneSelectedText: displayName, selectedList: 5,
                      selectedText: function (numChecked, numTotal, checkedItems) {
                          return displayName + ' ' + numChecked + ' ' + selected;
                      }
                  },
                {
                    checkAll: function (ui) {
                        $("#" + ddlCollapseName).html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#" + ddlCollapseName).text().indexOf(ui.target[i].text) == -1) {
                                $("#" + ddlCollapseName).append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#" + ddlCollapseName).show();
                    }
                })
                .unbind("multiselectclick multiselectcheckall multiselectuncheckall")
                .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                    if (ui.checked) {
                        if ($("#" + ddlCollapseName).text().indexOf(ui.text) == -1) {
                            $("#" + ddlCollapseName).append("<span>" + ui.text + "</span>");
                        }
                    }
                    else {
                        if (ui.checked == undefined) {
                            $("#" + ddlCollapseName).html('');
                        }
                        else if (!ui.checked) {
                            var text = $("#" + ddlCollapseName).html();
                            if (text != null && text != '') {
                                text = text.trim().replace("&gt;", '>');
                            }
                            text = text.replace("<span>" + ui.text + "</span>", '');
                            $("#" + ddlCollapseName).html(text);
                        }
                        else
                            $("#" + ddlCollapseName).html('');
                    }
                    switch ($(this).attr('id')) {
                        case 'QuoteItemLocations':
                            LocationBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            //_NarrowSearchSave.objSearch.UserCreated = CreatedBySelectedValues;
                            break;
                        case 'QuoteItemSupplier':
                            SupplierBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                           // _NarrowSearchSave.objSearch.OrderSupplier = SupplierBySelectedValues;
                            break;
                        case 'QuoteItemManufacturers':
                            ManufacturerSelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            // _NarrowSearchSave.objSearch.OrderSupplier = SupplierBySelectedValues;
                            break;
                        case 'QuoteItemCategory':
                            CategorySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            // _NarrowSearchSave.objSearch.OrderSupplier = SupplierBySelectedValues;
                            break;
                        case 'QuoteItemCreatedBy':
                            CreatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            //_NarrowSearchSave.objSearch.UserCreated = CreatedBySelectedValues;
                            break;
                        case 'QuoteItemUpdatedBy':
                            UpdatedBySelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                            //_NarrowSearchSave.objSearch.UserUpdated = UpdatedBySelectedValues;
                            break;

                        //case 'OrderRequiredDate':
                        //    RequiredDateSelectedValues = $.map($(this).multiselect("getChecked"), function (input) { return input.value; });
                        //    _NarrowSearchSave.objSearch.OrderRequiredDate = RequiredDateSelectedValues;
                        //    break;

                        case 'QuoteItemUDF1':
                            QuoteItemUDF1NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                           /// _NarrowSearchSave.objSearch.UDF1 = OrderUDF1NarrowValues;
                            break;
                        case 'QuoteItemUDF2':
                            QuoteItemUDF2NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                            //_NarrowSearchSave.objSearch.UDF2 = OrderUDF2NarrowValues;
                            break;
                        case 'QuoteItemUDF3':
                            QuoteItemUDF3NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                            //_NarrowSearchSave.objSearch.UDF3 = OrderUDF3NarrowValues;
                            break;
                        case 'QuoteItemUDF4':
                            QuoteItemUDF4NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                            //_NarrowSearchSave.objSearch.UDF4 = OrderUDF4NarrowValues;
                            break;
                        case 'QuoteItemUDF5':
                            QuoteItemUDF5NarrowValues = $.map($(this).multiselect("getChecked"), function (input) { return escape(input.value); });
                            //_NarrowSearchSave.objSearch.UDF5 = OrderUDF5NarrowValues;
                            break;
                    }

                    if ($("#" + ddlCollapseName).text().trim() != '')
                        $("#" + ddlCollapseName).show();
                    else
                        $("#" + ddlCollapseName).hide();

                    if ($("#" + ddlCollapseName).find('span').length <= 2) {
                        $("#" + ddlCollapseName).scrollTop(0).height(50);
                    }
                    else {
                        $("#" + ddlCollapseName).scrollTop(0).height(100);
                    }
                    DoQuoteNarrowSearch();

                }).multiselectfilter();

        //_NarrowSearchSave.setControlValue(ddlName);
    }

    function DoQuoteNarrowSearch() {
        // clearSearchFilterIfNotInFocus();

        var narrowSearchValues = '';

        if (LocationBySelectedValues == undefined || LocationBySelectedValues.length <= 0)
            LocationBySelectedValues = '';

        if (SupplierBySelectedValues == undefined || SupplierBySelectedValues.length <= 0)
            SupplierBySelectedValues = '';

        if (CategorySelectedValues == undefined || CategorySelectedValues.length <= 0)
            CategorySelectedValues = '';

        if (ManufacturerSelectedValues == undefined || ManufacturerSelectedValues.length <= 0)
            ManufacturerSelectedValues = '';

        if (CreatedBySelectedValues == undefined || CreatedBySelectedValues.length <= 0)
            CreatedBySelectedValues = '';

        if (UpdatedBySelectedValues == undefined || UpdatedBySelectedValues.length <= 0)
            UpdatedBySelectedValues = '';

        //if (RequiredDateSelectedValues == undefined || RequiredDateSelectedValues.length <= 0)
        //    RequiredDateSelectedValues = '';

        if (QuoteItemUDF1NarrowValues == undefined || QuoteItemUDF1NarrowValues.length <= 0)
            QuoteItemUDF1NarrowValues = '';

        if (QuoteItemUDF2NarrowValues == undefined || QuoteItemUDF2NarrowValues.length <= 0)
            QuoteItemUDF2NarrowValues = '';

        if (QuoteItemUDF3NarrowValues == undefined || QuoteItemUDF3NarrowValues.length <= 0)
            OQuoteItemUDF3NarrowValues = '';

        if (QuoteItemUDF4NarrowValues == undefined || QuoteItemUDF4NarrowValues.length <= 0)
            QuoteItemUDF4NarrowValues = '';

        if (QuoteItemUDF5NarrowValues == undefined || QuoteItemUDF5NarrowValues.length <= 0)
            QuoteItemUDF5NarrowValues = '';

        narrowSearchValues += LocationBySelectedValues + "~";
        narrowSearchValues += SupplierBySelectedValues + "~";
        narrowSearchValues += CategorySelectedValues + "~";
        narrowSearchValues += ManufacturerSelectedValues + "~";
        narrowSearchValues += CreatedBySelectedValues + "~";
        narrowSearchValues += UpdatedBySelectedValues + "~";
        if ($('#QuoteItemDateCFrom').val() != '' && $('#QuoteItemDateCTo').val() != '' && $('#QuoteItemDateCFrom').val() != undefined && $('#QuoteItemDateCTo').val() != undefined) {
            narrowSearchValues += ($('#QuoteItemDateCFrom').val()) + "," + ($('#QuoteItemDateCTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }

        if ($('#QuoteItemDateUFrom').val() != '' && $('#QuoteItemDateUTo').val() != '' && $('#QuoteItemDateUFrom').val() != undefined && $('#QuoteItemDateUTo').val() != undefined) {
            narrowSearchValues += ($('#QuoteItemDateUFrom').val()) + "," + ($('#QuoteItemDateUTo').val()) + "~";
        }
        else {
            narrowSearchValues += "~";
        }
        narrowSearchValues += QuoteItemUDF1NarrowValues + "~";
        narrowSearchValues += QuoteItemUDF2NarrowValues + "~";
        narrowSearchValues += QuoteItemUDF3NarrowValues + "~";
        narrowSearchValues += QuoteItemUDF4NarrowValues + "~";
        narrowSearchValues += QuoteItemUDF5NarrowValues + "~";
        narrowSearch = "[###]" + narrowSearchValues + "[###]" + $("#txtQuoteItemFilter").val().replace(/'/g, "''");
        bIsFilter = true;
        fnFilterQuoteItemList(narrowSearch)
    }
    function DoQuoteNarrowSearch_OnEnter(KeyCode)
    {
        if (typeof $("#txtQuoteItemFilter") != 'undefined' && (KeyCode == 13 || $("#txtQuoteItemFilter").val().length == 0)) {
            DoQuoteNarrowSearch();
        }
    }
</script>
