@model eTurns.DTO.AssetCategoryMasterDTO
@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";

    bool isUpdate;
    bool isInsert;
    if (ViewBag.ViewOnly == true)
    {
        isUpdate = false;
        isInsert = false;
    }
    else
    {
        isUpdate = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AssetCategory, eTurnsWeb.Helper.SessionHelper.PermissionType.Update);
        isInsert = eTurnsWeb.Helper.SessionHelper.GetModulePermission(eTurnsWeb.Helper.SessionHelper.ModuleList.AssetCategory, eTurnsWeb.Helper.SessionHelper.PermissionType.Insert);
    }
}
@using (Ajax.BeginForm("AssetCategorySave", "Master", new AjaxOptions { HttpMethod = "Post", LoadingElementId = "DivLoading", OnSuccess = "onCategorySuccess", InsertionMode = InsertionMode.Replace, OnFailure = "onFailure" }, new { @id = "frmAssetCategory" }))
{
    @Html.AntiForgeryToken()
    <div class="userHead">
        @Html.ValidationSummary(true)
        @if (Model.ID != 0)
        {        
            <div class="infoBlock">
                <ul>
                    <li>
                        <label for="RoomName">
                            @Html.LabelFor(model => model.RoomName)
                        </label>
                        : <span>@(Model.RoomName)</span></li>
                    <li>
                        <label for="RoomName">
                            @Html.LabelFor(model => model.Created)
                        </label>
                        @*: <span>@(Model.CreatedDate)</span></li>*@ : <span>@(Model.ReceivedOnDateWeb)</span></li>
                    <li>
                        <label for="RoomName">
                            @Html.LabelFor(model => model.CreatedByName)
                        </label>
                        : <span>@(Model.CreatedByName)</span></li>
                    <li>
                        <label for="RoomName">
                            @Html.LabelFor(model => model.Updated)
                        </label>
                        @*: <span>@(Model.UpdatedDate)</span></li>*@ : <span>@(Model.ReceivedOnDate)</span></li>
                    <li style="border: none">
                        <label for="RoomName">
                            @Html.LabelFor(model => model.UpdatedByName)
                        </label>
                        : <span>@(Model.UpdatedByName)</span></li>
                </ul>
            </div>
        }
        <div class="editorForm">
            <ul>
                <li>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AssetCategory)<em> *</em>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.AssetCategory, new { id = "txtAssetCategoryName", @class = "text-box", maxlength = 128 })
                        <span class="ErrorMessage">@Html.ValidationMessageFor(model => model.AssetCategory)</span>
                        @Html.HiddenFor(model => model.ID, new { id = "hiddenCategoryID" })
                        @Html.HiddenFor(model => model.GUID)
                        @Html.HiddenFor(model => model.Created)
                        @Html.HiddenFor(model => model.Updated)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.LastUpdatedBy)
                        @Html.HiddenFor(model => model.CompanyID)
                        @Html.HiddenFor(model => model.Room)
                        @Html.HiddenFor(model => model.IsOnlyFromItemUI)
                    </div>
                </li>
                @Html.Partial("UDFLayout", new eTurns.DTO.ResAssetCategory())
                <li>
                    <div class="editor-label">
                        &nbsp;
                    </div>
                    <div class="BtnBlockform">
                        <input type="button" value="@eTurns.DTO.Resources.ResCommon.Cancel" id="btnCategoryCancel" class="CreateBtn" />
                        @if ((isInsert == true && Model.ID == 0) || (isUpdate == true && Model.ID > 0))
                        {
                            <input type="submit" value="@eTurns.DTO.Resources.ResCommon.Save" id="btnSave" class="CreateBtn" />
                        }
                        else //if (isUpdate == false && isInsert == false)
                        {                             
                            <script>
                                //This is the case when archived or deleted record is being viewed..
                                disableControls('frmAssetCategory');
                                $('#btnCategoryCancel').removeAttr('disabled');
                            </script>
                        }
                    </div>
                </li>
            </ul>
        </div>
        @* <div class="BtnBlockform">
            <input type="button" value="Cancel" id="btnCategoryCancel" class="CreateBtn" />
            <input type="submit" value="Save" id="btnSave" class="CreateBtn" />
        </div> *@
    </div>
}
@Html.Partial("_RequiredMessages")
<script type="text/javascript">
    $("form").submit(function (e) {
        $.validator.unobtrusive.parse("#frmAssetCategory");
        if ($(this).valid()) {
            rememberUDFValues($("#hdnPageName").val(), '@Model.ID');
        }
        e.preventDefault();
        $('#NarroSearchClear').click();
    });    
</script>
<script language="javascript" type="text/javascript">

    function onCategorySuccess(response) {
        IsRefreshGrid = true;
        //$('div#target').fadeToggle();
        //$("div#target").delay(2000).fadeOut(200);
        showNotificationDialog();
        $("#spanGlobalMessage").html(response.Message);
        $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
        var idCategoryValue = $("#hiddenCategoryID").val();

        if (response.Status == "fail") {
            $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
            $("#txtAssetCategoryName").val("");
            $("#txtAssetCategoryName").focus();
        }
        else if (idCategoryValue == 0) {
            //$("#txtAssetCategoryName").val("");
            $("#txtAssetCategoryName").focus();
            if (response.Status == "duplicate")
                $("#spanGlobalMessage").removeClass('errorIcon succesIcon').addClass('WarningIcon');
            else {
                if ($('#NewMasterPopUP') != undefined && $('#NewMasterPopUP').length > 0) {
                    $('#NewMasterPopUP').data("IDVal", response.NewIDForPopUp + '~' + $("#txtAssetCategoryName").val()).dialog('close');
                }
                else {
                    clearControls('frmAssetCategory');
                    setDefaultUDFValues($("#hdnPageName").val(), '@Model.ID');
                }
            }

        }
        else if (idCategoryValue > 0) {
            if (response.Status == "duplicate") {
                $("#spanGlobalMessage").removeClass('errorIcon succesIcon').addClass('WarningIcon');
                $("#txtAssetCategoryName").val("");
                $("#txtAssetCategoryName").focus();
            }
            else
                clearControls('frmAssetCategory');
            SwitchTextTab(0, 'AssetCategoryCreate', 'frmAssetCategory');
        }
    }
    function onFailure(message) {
        $("#spanGlobalMessage").html(message.statusText);
        //$('div#target').fadeToggle();
        //$("div#target").delay(2000).fadeOut(200);
        showNotificationDialog();
        $("#txtAssetCategoryName").focus();
    }

    $(document).ready(function () {
        $('form').areYouSure();
        $('#btnCategoryCancel').click(function (e) {
            //            if (IsRefreshGrid)
            //$('#NarroSearchClear').click();
            if ($('#NewMasterPopUP') != undefined && $('#NewMasterPopUP').length > 0)
                $('#NewMasterPopUP').dialog('close');
            else {

                SwitchTextTab(0, 'AssetCategoryCreate', 'frmAssetCategory');
                if (oTable !== undefined && oTable != null) {
                    oTable.fnDraw();
                }
            }
        });
        checkRememberUDFValues($("#hdnPageName").val(), '@Model.ID');
    });
    _Common.addRequiredSign();
</script>
