@using eTurns.DTO
@using eTurns.DTO.Resources
@{    
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
    var settings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplayDeleteButton = false, DataTableName = "HistoryTable",ColumnSetupFor = "BinChangeLog" };
}
<script language="javascript" type="text/javascript">
    var oHistoryTable;
    $(document).ready(function () {
        oHistoryTable = $('#HistoryTable').dataTable({
            "bJQueryUI": true,
            "bScrollCollapse": true,
            "bAutoWidth": true,
            "sDom": 'R<"top"lp<"clear">>rt<"bottom"i<"clear">>T',
            "oColVis": {},
            "sScrollX": "100%",
            //"aaSorting": [[1, "asc"]],
            "oColReorder": {},
            "bSort": false,
            "sPaginationType": "full_numbers",
            "sAjaxSource": '@Url.Content("~/Master/GetHistoryData")',
            "oLanguage": {
                    "sLengthMenu": '@eTurns.DTO.Resources.ResGridHeader.Show' + ' _MENU_ ' + '@eTurns.DTO.Resources.ResGridHeader.Records',
                    "sEmptyTable": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
                    "sInfo": '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries',
                    "sInfoEmpty": '@eTurns.DTO.Resources.ResMessage.ShowingZeroEntries',
                    "sZeroRecords": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
                    "sInfoFiltered": "",
                    "sLoadingRecords": '@eTurns.DTO.Resources.ResMessage.MsgLoading'
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $("td.RowNo:first", nRow).html(this.fnSettings()._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                aoData.push({ "name": "PageType", "value": "BinList" });
                aoData.push({ "name": "PageID", "value": SelectedHistoryRecordID });
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
					"headers": { "__RequestVerificationToken": $("input[name='__RequestVerificationToken'][type='hidden']").val() },
                    "success": fnCallback
                })
            },
            "fnInitComplete": function () {
                     compareHistoryRows(this);
            },
            "aoColumns": [
                            //{ "mDataProp": "ID", "sClass": "read_only" },
                            //{ "mDataProp": "HistoryID", "sClass": "read_only" },
                            { "mDataProp": "Action", "sClass": "read_only" },
			                {
			                    "mDataProp": "BinNumber",
			                    "sClass": "read_only",
			                    "sDefaultContent": ''
			                    //"bSortable": true,
			                    //"bSearchable": false
			                },
			                { "mDataProp": "RoomName", "sClass": "read_only" },
			                { "mDataProp": "Created", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        //return GetDateInFullFormat(val);
                                    return obj.aData.CreatedDate;

			                    }
			                },
			                { "mDataProp": "LastUpdated", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                       // return GetDateInFullFormat(val);
                                   return obj.aData.UpdatedDate;
			                    }
			                },
                            { "mDataProp": "UpdatedByName", "sClass": "read_only" },
                            { "mDataProp": "CreatedByName", "sClass": "read_only" },
                            { "mDataProp": "AddedFrom", "sClass": "read_only" },
                            { "mDataProp": "EditedFrom", "sClass": "read_only" },
                            { "mDataProp": "ReceivedOn", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
                                     return obj.aData.ReceivedOnDate;
			                    }
			                },
			                { "mDataProp": "ReceivedOnWeb", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
                                   return obj.aData.ReceivedOnDateWeb;
			                    }
			                }
//                            { "mDataProp": "ReceivedOnDate", "sClass": "read_only" },
//                            { "mDataProp": "ReceivedOnDateWeb", "sClass": "read_only" }
                            @Html.RenderColumnsArray("BinMaster")

		    ]
        });
        //HIDE PRINT CONTAINER
        $('.DTTT_container').css('z-index', '-1');
        $("#HistoryText").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                oHistoryTable.fnFilter(this.value);
            }
        });
        $("#HistoryClear").click(function () {
            if ($("#HistoryText").val().length > 0) {
                $("#HistoryText").val("");
                oHistoryTable.fnFilter("");
            }
            return false;
        });
        _Common.setGloblaSearch('HistoryText', 'HistoryTable');
    });
</script>
<div class="searchWrapper">
    <div class="searchBlock">
        <span class="label">@eTurns.DTO.Resources.ResCommon.Search </span>
        <div class="searchinputB">
            <input type="text" class="searchinput" id="HistoryText" />
            <a href="javascript:void(0);" class="xclose">
                <img src="~/Content/images/x.png" alt="X" id="HistoryClear" /></a>
        </div>
    </div>
</div>
@Html.GridTopHeaderForHistory(settings)
<div style="margin: 0 0.4% 1%">
    <table id="HistoryTable" class="display">
        <thead>
            <tr>
                @*<th>
                    @eTurns.DTO.Resources.ResCommon.ID
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.HistoryID
                </th>*@
                <th>
                    @eTurns.DTO.Resources.ResCommon.HistoryAction
                </th>
                <th>
                    @eTurns.DTO.ResBin.BinNumber
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.RoomName
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedBy
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedBy
                </th>
                <th>
                    @ResCommon.AddedFrom
                </th>
                <th>
                    @ResCommon.EditedFrom
                </th>
                <th>
                    @ResCommon.ReceivedOnDate
                </th>
                <th>
                    @ResCommon.ReceivedOnWebDate
                </th>
                @Html.RenderColumnsHeader("BinMaster", typeof(eTurns.DTO.ResBin))
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
