<div>
    <div style="float: left; width: 39%;">
        <div style="width: 100%; float: left; min-height: 22px;">
            &nbsp;</div>
        <div id="dvCategoryChart">
            @{Html.RenderAction("ItemCategoryChart", "Master");}
        </div>
    </div>
    <div style="float: right; width: 61%;">
        <div id="minTab" style="width: 50%; float: left;">
            <div style="width: 100%; float: left; margin-left: 27px;">
                <div style="padding-bottom: 5px; padding-left: 2px; float: left; min-width: 30px;">
                    <img src="@Url.Content("~/Content/images/Red.png")" alt="Red" style="padding-right: 2px;" />@Html.Label("0", new { id = "lblMinRed" })
                </div>
                <div style="padding-bottom: 5px; padding-left: 2px; float: left; min-width: 30px;">
                    <img src="@Url.Content("~/Content/images/Yellow.png")" alt="Yellow" style="padding-right: 2px;" />@Html.Label("0", new { id = "lblMinYellow" })
                </div>
                <div style="padding-bottom: 5px; padding-left: 2px; float: left; min-width: 30px;">
                    <img src="@Url.Content("~/Content/images/Green.png")" alt="Green" style="padding-right: 2px;" />@Html.Label("0", new { id = "lblMinGreen" })
                </div>
            </div>
            <div id="minbarchart" class="dvchart">
                @{Html.RenderAction("MinChart", "Master");}
            </div>
            <div style="float: left; width: 90%;">
                @Html.Label(@ResInventoryAnalysis.MinimumPercentage)
                <div id="MinSlider" style="width: 90%;">
                </div>
                <span id="minSlideValue" style="float: left; width: 5%;">0</span>
                <input type="hidden" name="hdnminper" id="hdnminper" value="0" />
            </div>
        </div>
        <div id="maxtab" style="width: 50%; float: left;">
            <div style="width: 100%; float: left; margin-left: 27px;">
                <div style="padding-bottom: 5px; padding-left: 2px; float: left; min-width: 30px;">
                    <img src="@Url.Content("~/Content/images/Red.png")" alt="Red" style="padding-right: 2px;" />@Html.Label("0", new { id = "lblMaxRed" })
                </div>
                <div style="padding-bottom: 5px; padding-left: 2px; float: left; min-width: 30px;">
                    <img src="@Url.Content("~/Content/images/Yellow.png")" alt="Yellow" style="padding-right: 2px;" />@Html.Label("0", new { id = "lblMaxYellow" })
                </div>
                <div style="padding-bottom: 5px; padding-left: 2px; float: left; min-width: 30px;">
                    <img src="@Url.Content("~/Content/images/Green.png")" alt="Green" style="padding-right: 2px;" />@Html.Label("0", new { id = "lblMaxGreen" })
                </div>
            </div>
            <div id="maxbarchart" class="dvchart">
                @{Html.RenderAction("MaxChart", "Master");}
            </div>
            <div style="float: left; width: 90%;">
                @Html.Label(@ResInventoryAnalysis.MaximumPercentage)                
                <div id="MaxSlider" style="width: 90%;">
                </div>
                <span id="maxSlideValue" style="float: left; width: 5%;">0</span>
                <input type="hidden" name="hdnmaxper" id="hdnmaxper" value="0" />
            </div>
        </div>       
    </div>
</div>
