@model List<eTurnsNewsDTO>
@{
    List<eTurnsNewsDTO> lstTop5 = new List<eTurnsNewsDTO>();
    if (Model != null)
    {
        lstTop5 = Model.Take(5).ToList();
    }
}
<h1 class="text-center eturnsnewsHeader">eTurns News</h1>

<ul class="ulHeadeNews">
    @*@if (lstTop5 != null)
        {
            foreach (var NewsItem in lstTop5)
            {
                <li class="newsli">
                    <div>
                        <div class="newsimgdiv"><img class="newsimgli" src="@("https://www.eturns.com"+NewsItem.mainImage)" /> </div>
                        <div class="newsheaderdiv"><a target="_blank" href="@("https://www.eturns.com"+NewsItem.NiceUrl)" title="@NewsItem.title">@NewsItem.title</a></div>
                    </div>
                </li>
            }
        }*@
    <li class="newsli">
        <div>
            <div class="newsimgdiv"><img class="newsimgli" src="@("https://www.eturns.com/media/zq0lrjxf/mobile-app-scan.jpg?width=1400&height=700&v=1db30957f379110")" /> </div>
            <div class="newsheaderdiv"><a target="_blank" href="@("https://www.eturns.com/resources/blog/what-to-look-for-in-a-vendor-managed-inventory-app/")" title="What to look for in a Vendor-managed Inventory App">What to look for in a Vendor-managed Inventory App</a></div>
        </div>
    </li>

    <li class="newsli">
        <div>
            <div class="newsimgdiv"><img class="newsimgli" src="@("https://www.eturns.com/media/fv5d2w10/service_truck_inventory_management-opt.jpeg?width=1400&height=700&v=1db362a1cff2090")" /> </div>
            <div class="newsheaderdiv"><a target="_blank" href="@("https://www.eturns.com/resources/blog/donalds-column-3-new-ways-eturns-helps-with-service-truck-inventory-management-work-orders/")" title="3 Ways eTurns Solves for Service Truck Inventory Management">3 Ways eTurns Solves for Service Truck Inventory Management</a></div>
        </div>
    </li>

    <li class="newsli">
        <div>
            <div class="newsimgdiv"><img class="newsimgli" src="@("https://www.eturns.com/media/zuhfqvrc/min-max-tuning-dashboard_v3.webp")" /> </div>
            <div class="newsheaderdiv"><a target="_blank" href="@("https://www.eturns.com/resources/blog/the-benefits-of-minmax-inventory-management/")" title="The Benefits of Min/Max Inventory Management">The Benefits of Min/Max Inventory Management</a></div>
        </div>
    </li>

    <li class="newsli">
        <div>
            <div class="newsimgdiv"><img class="newsimgli" src="@("https://www.eturns.com/media/trtlbell/man-using-trackstock-inventory-management-software.webp")" /> </div>
            <div class="newsheaderdiv"><a target="_blank" href="@("https://www.eturns.com/resources/blog/vmi-what-is-vendor-managed-inventory-examples-and-solutions/")" title="VMI: What Is Vendor Managed Inventory? Examples and Solutions">VMI: What Is Vendor Managed Inventory? Examples and Solutions</a></div>
        </div>
    </li>
    <li class="newsli">
        <div>
            <div class="newsimgdiv"><img class="newsimgli" src="@("https://www.eturns.com/media/rkqppni2/men-in-stock-room-with-tablet.jpeg")" /> </div>
            <div class="newsheaderdiv"><a target="_blank" href="@("https://www.eturns.com/resources/blog/how-to-manage-consignment-inventory-common-mistakes-best-practices-and-choosing-the-right-technology/")" title="How to Manage Consignment Inventory: Common Mistakes, Best Practices and Choosing the Right Technology">How to Manage Consignment Inventory: Common Mistakes, Best Practices and Choosing the Right Technology</a></div>
        </div>
    </li>

    <li style="height:15px; float:right;"><a target="_blank" href="https://www.eturns.com/news-blog">More News....</a></li>
</ul>
