@using eTurns.DTO
@using eTurns.DTO.Resources
@{    
    Layout = "~/Views/Shared/_PopupMaster.cshtml";
    var settings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplayDeleteButton = false, DataTableName = "HistoryTable" };
}
<script language="javascript" type="text/javascript">
    var oHistoryTable;
    $(document).ready(function () {
        oHistoryTable = $('#HistoryTable').dataTable({
            "bJQueryUI": true,
            "bScrollCollapse": true,
            "bAutoWidth": true,                        
            "sDom": 'R<"top"lp<"clear">>rt<"bottom"i<"clear">>T',
            "oColVis": {},
            "sScrollX": "100%",
            //"aaSorting": [[1, "asc"]],
            "oColReorder": {},
            "bSort": false,
            "sPaginationType": "full_numbers",
            "sAjaxSource": '@Url.Content("~/Master/GetHistoryData")',
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                aoData.push({ "name": "PageType", "value": "CostUOMList" }); 
                aoData.push({ "name": "PageID", "value": SelectedHistoryRecordID });
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            "fnInitComplete": function () {                     
                     compareHistoryRows(this);
            },
            "aoColumns": [                            
                            //{ "mDataProp": "ID", "sClass": "read_only" },    
                            //{ "mDataProp": "HistoryID", "sClass": "read_only" },
                            { "mDataProp": "Action", "sClass": "read_only" },
			                { "mDataProp": "InventoryClassification",
			                    "sClass": "read_only",
			                    "sDefaultContent": ''			                    
			                },
                             { "mDataProp": "BaseOfInventory", "sClass": "read_only" },
                             { "mDataProp": "RangeStart", "sClass": "read_only" },
                             { "mDataProp": "RangeEnd", "sClass": "read_only" },
			                { "mDataProp": "RoomName", "sClass": "read_only" },
			                { "mDataProp": "Created", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        //return GetDateInFullFormat(val);
                                    return obj.aData.CreatedDate;
			                    }
			                },
			                { "mDataProp": "Updated", "sClass": "read_only",
			                    "fnRender": function (obj, val) {
			                        //return GetDateInFullFormat(val);
                                    return obj.aData.UpdatedDate;
			                    }
			                },

                            { "mDataProp": "UpdatedByName", "sClass": "read_only" },
                            { "mDataProp": "CreatedByName", "sClass": "read_only" },
                            @Html.RenderColumnsArray("CostUOMMaster")

		    ]
        });
        //HIDE PRINT CONTAINER
        $('.DTTT_container').css('z-index', '-1');
        $("#HistoryText").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                oHistoryTable.fnFilter(this.value);
            }
        });
        $("#HistoryClear").click(function () {
            if ($("#HistoryText").val().length > 0) {
                $("#HistoryText").val("");
                oHistoryTable.fnFilter("");
            }
            return false;
        });
    });    
</script>
<div class="searchWrapper">
    <div class="searchBlock">
        <span class="label">@eTurns.DTO.Resources.ResCommon.Search </span>
        <div class="searchinputB">
            <input type="text" class="searchinput" id="HistoryText" />
            <a href="" class="xclose">
                <img src="~/Content/images/x.png" alt="X" id="HistoryClear" /></a>
        </div>
    </div>
</div>
@Html.GridTopHeaderForHistory(settings)
<div style="margin: 0 0.4% 1%">
    <table id="HistoryTable" class="display">
        <thead>
            <tr>
                @*<th>
                    @eTurns.DTO.Resources.ResCommon.ID
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.HistoryID
                </th>*@
                <th>
                    @eTurns.DTO.Resources.ResCommon.HistoryAction
                </th>
                <th>
                    @eTurns.DTO.ResInventoryClassificationMaster.InventoryClassification
                </th>
                <th>
                    @eTurns.DTO.ResInventoryClassificationMaster.BaseOfInventory
                </th>
                <th>
                    @eTurns.DTO.ResInventoryClassificationMaster.RangeStart
                </th>
                <th>
                    @eTurns.DTO.ResInventoryClassificationMaster.RangeEnd
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.RoomName
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedOn
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.UpdatedBy
                </th>
                <th>
                    @eTurns.DTO.Resources.ResCommon.CreatedBy
                </th>
                @Html.RenderColumnsHeader("InventoryClassificationMaster", typeof(eTurns.DTO.ResInventoryClassificationMaster))
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
