@model eTurns.DTO.UserSettingDTO
@{
    string Message = string.Empty;
    ViewBag.Title = "Redirect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Redirect</h2>
<div>
    <div class="userListingWrapper">
        <div id="dvCreteRedirect" style="display: none;">
            @using (Ajax.BeginForm("UserSettingSave", "Master", new AjaxOptions { HttpMethod = "Post", LoadingElementId = "DivLoading", OnSuccess = "onPageSuccess", InsertionMode = InsertionMode.Replace, OnFailure = "onPageFailure" }, new { @id = "frmRedirectToPage" }))
            {
                @Html.AntiForgeryToken()
                <div class="main-area">
                    <div class="header">
                        <div class="logo">
                            <img src="@Url.Content("~/Content/images/logo.png")" alt="" /></div>
                        <div class="close-event">
                            @* <img src="../../Content/images/min.jpg" alt="" />
                    <img src="../../Content/images/max.jpg" alt="" />*@ <a id="anchrclose">
                        <img id="imgclose1" style="cursor: pointer;" src="@Url.Content("~/Content/images/close.jpg")" alt="" /></a>
                        </div>
                        <div class="title">
                            <span><span class="red">e</span>Turns</span> 4 Setup</div>
                        @Html.DropDownListFor(model => model.RedirectURL, new List<SelectListItem>() { new SelectListItem() { Text = "select", Value = "0" } }, new { @class = "selectBox" })
                        @Html.CheckBoxFor(model => model.IsRemember)
                        @Html.HiddenFor(model => model.Id, new { id = "hiddenID" })
                        <input type="submit" value="Submit" />
                    </div>
                    <div class="inner">
                        <div class="top-area">
                            <div class="left">
                                <h1>
                                </h1>
                                <p>
                                </p>
                            </div>
                            <div class="right large-logo">
                                <img src="@Url.Content("~/Content/images/large-logo.jpg")" alt="" /></div>
                        </div>
                        <div class="bottom-area">
                            <div class="middle">
                            </div>
                            <div class="unicode">
                                <span class="code-text">&nbsp;</span>
                            </div>
                            <div class="right">
                            </div>
                        </div>
                    </div>
                </div><script type="text/javascript">
                          function onPageSuccess(response) {
                              if (response.Status == "ok") {
                                  var pageURL = $("#RedirectURL option:selected").val();
                                  window.location.href = pageURL;
                              }
                          }
                          function onPageFailure(message) {
                              $("#spanGlobalMessage").html(message.statusText);
                              $("#RedirectURL").focus();
                          }
                </script>
            }
        </div>
    </div>
</div>
<script type="text/javascript">

    $("form").submit(function (e) {
        $.validator.unobtrusive.parse("#frmRedirectToPage");
        if ($(this).valid()) {

        }
        e.preventDefault();
    });

    var ddlPageName;
    $(function () {

        
        $("#dvCreteRedirect").dialog({
            autoOpen: true,
            modal: true,
            width: 525,
            title: '@eTurns.DTO.ResCartItem.PageTitle',
            draggable: false,
            resizable: false,
            open: function () {
                $("#dvCreteRedirect").removeClass("ui-dialog-content").removeClass("ui-widget-content");
                $(".ui-dialog-titlebar").hide();
                $("#dvCreteRedirect").parent("div.ui-dialog").css("border", "0px").css("padding", "0px");
            },
            close: function () {
                $('#HeatNameDiv').dialog('close');
            }
        });

        ddlPageName = $("#RedirectURL");

        $('.RightBlock').find('div.Rnav').find("ul[id='rightNav']").find("li:first").each(function (i) {
            var mnuBtnText = $.trim($(this).find('a').first().text());
            var mnuBtnVal = $.trim($(this).find('a').first().attr("href"));
            if (mnuBtnText.length > 0) {
                ddlPageName.append('<option  value="' + mnuBtnVal + '"> ' + mnuBtnText + '</option>');
                $(this).find('a').first().parent().find('ul').find('li').each(function (j) {
                    if ($(this).parent().hasClass('sub_subMenu') === false) {
                        var subMnuText = $.trim($(this).find('a').first().text());
                        var subMnuVal = $.trim($(this).find('a').attr("href"));
                        ddlPageName.append('<option  value="' + subMnuVal + '"> ' + ' &nbsp;     ' + subMnuText + '</option>');
                    }
                });
                
            }
        });
        if ('@Model.RedirectURL' != null) {
            ddlPageName.val('@Model.RedirectURL');
        }

        // change event of dropdown
        //        $('#RedirectURL').change(function () {
        //            $("#frmRedirectToPage").submit();
        //        });

        

        
    });
</script>
