@model eTurns.DTO.RoleMasterDTO
@{
    Layout = "~/Views/Shared/_PopupMaster.cshtml";

}

@using (Ajax.BeginForm("EnterpriseUserRoleSave", "Master", new AjaxOptions { HttpMethod = "Post", LoadingElementId = "DivLoading", OnSuccess = "onRoleSuccess", InsertionMode = InsertionMode.Replace, OnFailure = "onFailure" }, new { @id = "frmSetRoleForEnterpriseUser" }))
{
    @Html.AntiForgeryToken()
    <table cellpadding="1" cellspacing="1" border="0" width="100%">
        <tr style="height: 25px;">
            <td>
                <ul>
                    <li>
                        <div class="editor-label">
                            @ResRoleMaster.RoleName<em>*</em>
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(t => t.ID, new SelectList(ViewBag.lstRoles, "ID", "RoleName"), "Select Role", new { @class = "selectBox", @id = "ddlRoleForEnterPriseUser" })
                            @Html.HiddenFor(x => x.UserID, new { @id = "UserID" })
                            <input type="hidden" id="hdUserID" value="@ViewBag.UserId" />
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            &nbsp;
                        </div>
                        <div class="BtnBlockform">
                            <input type="button" value="@eTurns.DTO.Resources.ResCommon.Cancel" id="btnCancel" class="CreateBtn" />                           
                            <input type="submit" value="@eTurns.DTO.Resources.ResCommon.Save" id="btnSave" class="CreateBtn" />
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
}


<script language="javascript" type="text/javascript">

    $("form").submit(function (e) {
        $.validator.unobtrusive.parse("#frmSetRoleForEnterpriseUser");
        e.preventDefault();
        if($("#ddlRoleForEnterPriseUser").val() == 0)
        {
            alert("Please select Role");
        }
    });


    $(document).ready(function () {
        $('#btnCancel').click(function (e) {
            if ($('#NewRoleForEnterPriseUserPopup') != undefined && $('#NewRoleForEnterPriseUserPopup').length > 0)
                $('#NewRoleForEnterPriseUserPopup').dialog('close');
        });
    });

    function onRoleSuccess(response) {
        IsRefreshGrid = true;
        showNotificationDialog();
        $("#spanGlobalMessage").html(response.Message);
        $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
        var idhdUserID = $("#hdUserID").val();
        if (response.Status == "fail") {
            $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
            $("#ddlRoleForEnterPriseUser").val("");
            $("#ddlRoleForEnterPriseUser").focus();
        }
        else {
            if ($('#NewRoleForEnterPriseUserPopup') != undefined && $('#NewRoleForEnterPriseUserPopup').length > 0) {
                $('#NewRoleForEnterPriseUserPopup').dialog('close');
                oTable.fnDraw();
            }
        }
    }

    function onFailure(message) {
        $("#spanGlobalMessage").html(message.statusText);
        showNotificationDialog();
        $("#ddlRoleForEnterPriseUser").focus();
    }

</script>

