@model IList<eTurns.DTO.SupplierAccountDetailsDTO>
<div id="divSupplierAccountDetails" style="width: 99.5%; min-height: 140px">
    <div>
        <div>
            <div style="text-align: center; float: left; width: 80%;">
                <span id="spanErrorMsg" style="color: Green;"></span>
            </div>
            <div>
                <input type="button" value="Add Account" class="CreateBtn" onclick="return AddAccountofSupplier();" />
            </div>
        </div>
    </div>
    <div class="userContentInnerGrid" style="width: 99% !important; margin-left: 5px !important;
        float: left;">
        <table id="SupplierAccount" class="display">
            <thead>
                <tr>
                    <th>@eTurns.DTO.ResSupplierAccountDetails.AccountNo
                    </th>
                    <th>@eTurns.DTO.ResSupplierAccountDetails.AccountName
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    { 
                    <tr>
                        <td>
                            @Html.TextBox("txtAccountNo", item.AccountNo, new { @style = "width:200px;", @maxlength = "200", @class = "text-box" })
                        </td>
                          <td>
                            @Html.TextBox("txtAccountName", item.AccountName, new { @style = "width:200px;", @maxlength = "100", @class = "text-box" })
                        </td>
                        <td>
                            @if (item.GUID != Guid.Empty)
                            {
                                <a href="JavaScript:void{0}" onclick="return DeletetoSeesionSupplierAccountSingle(this)">
                                    <img alt="@ResCommon.Save" src="/Content/images/delete.png"></a>
                            }
                            <input id="hdnID" type="hidden" value="@item.ID" />
                            <input id="hdnGUID" type="hidden" value="@item.GUID" />
                            <input id="hdnSupplierID" type="hidden" value="@item.SupplierID" />
                            <input id="hdnSessionSr" type="hidden" value="@item.SessionSr" />
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="dialog" id="mdlQLYesNo" style="display: none;">
    <div class="inner">
        <p class="text">
            @eTurns.DTO.Resources.ResMessage.DeleteConfirm</p>
        <a href="JavaScript:void{}" id="btnQLModelYesSP" class="yes">
            <img src="~/Content/images/yes.png" alt="Yes" />
            @eTurns.DTO.Resources.ResMessage.ConfirmYes</a><a href="javascript:void(0)" class="no"
                onclick="QLcloseModal()">
                <img src="~/Content/images/no.png" alt="No" />@eTurns.DTO.Resources.ResMessage.ConfirmNo</a>
    </div>
</div>
<script type="text/javascript">
    var oTableItemSupplier;
    var deleteURL1 = "/Master/SupplierAccountDelete";
    var NotAllowedCharCodes = [9, 16, 17, 18, 19, 20, 27, 33, 34, 35, 36, 37, 38, 39, 40];
    var DTNameSup = 'SupplierAccount';
    var bIsFilter = false;

    $(document).ready(function () {


        var gaiSelected = [];
        oTableItemSupplier = $('#' + DTNameSup).dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": false,
            "bRetrieve": true,
            "bDestroy": true
        });
        $('.DTTT_container').css('z-index', '-1');
    });


    $('#' + DTNameSup + ' tbody tr').die('tap click');
    $('#deleteRows1').unbind("click");
    $('#Gobtn1').unbind("click");
    $('#clear_QLItem_filter').unbind("click");
    $('#saveRows').die('click');
    $('#PageNumber1').unbind("keydown");
    $('#btnModelYesInnerGrid').die('click');

    // To adjust the print block next to colvis button
    $('#btnblock').css({ 'margin-right': '45px' });

    //    $('#' + DTName + ' tbody tr').live('tap click', function () {
    //        $(this).toggleClass('row_selected');
    //        return false;
    //    });

    /* Add a click handler for the delete rows multiple rows */

    $('#deleteRows1').click(function () {
        /* IF PRINT PREVIEW DONT SHOW CONTEXT MENU */
        if ($("body").hasClass('DTTT_Print')) {
            return false;
        }
        /* IF PRINT PREVIEW DONT SHOW CONTEXT MENU */


        var anSelected = fnGetSelected(oTableProjectItems);
        var stringIDs = "";
        for (var i = 0; i <= anSelected.length - 1; i++) {
            //anSelected[0].cells[0].innerHTML            
            stringIDs = stringIDs + $(anSelected[i]).find("#hdnID").val() + ",";
        }
        if (anSelected.length !== 0) {
            $('#Inner-Grid-basic-modal-content').modal();
            IsDeletePopupOpen = false;
        }


    });

</script>
