@model IEnumerable<eTurns.DTO.DashboardDTO>
@using eTurns.DTO
@using eTurns.DTO.Resources
@{
    ViewBag.Title = ResDashboard.PageTitle;
    //var settings = new GridHeaderSettings() { dataViewType = DataViewType.None, DisplayUDFButton = true, DisplayColumnSetupButton = true, ColumnSetupFor = "RoleList" };
    var modelCommon = new eTurns.DTO.CommonDTO { PageName = "Dashboard" };
    eTurns.DAL.CommonDAL objCommonDAL = new eTurns.DAL.CommonDAL(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName);
    objCommonDAL.GenerateDashboardData();
    string tabImageURL = Url.Content("~/Content/images/contact_tab.gif");
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.slidepanel.css")">
@section head{
    <script type='text/javascript' src="@Url.Content("~/Scripts/jquery.slidepanel.js")"></script>
    <script type="text/javascript">
        var AllowDeletePopup = true;
        $(document).ready(function () {
            //            GenerateFirstDashboard();

            $('[data-slidepanel]').slidepanel({
                orientation: 'right', //default left, available: top, right, bottom, left
                mode: 'overlay', //default push, available: push, overlay
                static: false //default false, available: true, false
            });
        });

        var toggleContent = function (e) {
            var targetContent = $('div.portlet-content', this.parentNode.parentNode);
            if (targetContent.css('display') == 'none') {
                targetContent.slideDown(300);
                $(this).removeClass('ui-icon-triangle-1-s').addClass('ui-icon-triangle-1-n');
            } else {
                targetContent.slideUp(300);
                $(this).removeClass('ui-icon-triangle-1-n').addClass('ui-icon-triangle-1-s');

            }
            return false;
        };

        var toggleContent2 = function (e) {
            var targetContent2 = $('div.portlet-content', this.parentNode.parentNode);
            if (targetContent2.css('display') == 'none') {
                targetContent2.slideDown(300);
                $(this).removeClass('ui-icon-triangle-1-s').addClass('ui-icon-triangle-1-n');
            } else {
                targetContent2.slideUp(300);
                $(this).removeClass('ui-icon-triangle-1-n').addClass('ui-icon-triangle-1-s');

            }
            return false;
        };

        function ShowSecondDashboard() {
            $("#sort1").hide();
            $("#sort2").hide();
            $("#sort3").show();
            ChangeImgSRC('Grid', 'imgMainChart', 'imgMainGrid');
            $('#btninventoryqtyGo').click();
        }
        function ShowFirstDashboard() {
            location.href = "/Master/Dashboard";
            //            $("#sort1").show();
            //            $("#sort2").show();
            //            $("#sort3").hide();
            //            ChangeImgSRC('Chart', 'imgMainChart', 'imgMainGrid');
        }

        //        function GenerateFirstDashboard() {
        //            $("#sort1").show();
        //            $("#sort2").show();
        //            $("#sort3").hide();



        //            $('a.closeEl').bind('click', toggleContent);
        //            $('a.closeEl2').bind('click', toggleContent2);
        //            $.ajax({
        //                type: "POST",
        //                url: "/Master/GenerateDashBoard",
        //                data: "{'RoomID': '1' }",
        //                contentType: "application/json; charset=utf-8",
        //                dataType: "json",
        //                success: function (widget) {
        //                    $("#divs1").html(widget.LeftWidget);
        //                    $("#divs2").html(widget.RightWidget);
        //                    BindFirstDashboardEvents();
        //                },
        //                error: function (response) {
        //                    // through errror message
        //                }
        //            });

        //        
        //        }


        function BindFirstDashboardEvents() {
            $('a.closeEl').bind('click', toggleContent);
            $('div.column').Sortable(
			{
			    accept: 'portlet',
			    helperclass: 'sortHelper',
			    opacity: 0.5,
			    activeclass: 'sortableactive',
			    hoverclass: 'sortablehover',
			    handle: 'div.portlet-header',
			    tolerance: 'pointer',
			    onChange: function (ser) {
			    },
			    onStart: function () {
			        $.iAutoscroller.start(this, document.getElementsByTagName('body'));
			    },
			    onStop: function () {
			        $.iAutoscroller.stop();
			        var widgetorder = "saveorder=1&" + serialize();
			        $.ajax({
			            url: "/Master/SaveWidgetOrder?" + widgetorder,
			            //url: "/Master/SaveWidgetOrder?",
			            success: function () { },
			            error: function (XMLHttpRequest, textStatus, errorThrown) {
			                alert(textStatus);
			            }
			        });
			    }
			});
            // Change the image of hoverable images
            $(".imgHoverable").hover(function () {
                var hoverImg = HoverImgOf($(this).attr("src"));
                $(this).attr("src", hoverImg);
            },
            function () {
                var normalImg = NormalImgOf($(this).attr("src"));
                $(this).attr("src", normalImg);
            });



        }
        function serialize(s) {
            serial = $.SortSerialize(s);
            return serial.hash.toString();
        };

        function HoverImgOf(filename) {
            var re = new RegExp("(.+)\\.(gif|png|jpg)", "g");
            return filename.replace(re, "$1-hover.$2");
        }
        function NormalImgOf(filename) {
            var re = new RegExp("(.+)-hover\\.(gif|png|jpg)", "g");
            return filename.replace(re, "$1.$2");
        }
        function get_random_color() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.round(Math.random() * 15)];
            }
            return color;
        }
    </script>
    @*<script src="../../Scripts/Dashboard/jquery.js" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/Dashboard/interface.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Dashboard/blue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Dashboard/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
}
<div class="dashboardWrapper">
    <h2>
        @ResDashboard.PageHeader</h2>
    <div class="viewBlock" style="float: none; width: 100%;">
        <a class="view" href="javascript:void(0);" onclick="ShowFirstDashboard();">
            <img alt="" id="imgMainGrid" src="/content/images/chart-view-active.png"></a>
        <a class="view" href="javascript:void(0);">
            <img alt="" id="imgMainChart" src="/content/images/list-view-inactive.png"></a>
    </div>
    <div id="portlets">
        <div style="-moz-user-select: none; margin-right: 30px; min-height: 600px" class="columnfull"
            id="sort3">
            <div runat="Server" id="divs3">
                <div id="SecondDashGrid" class="portlet ui-widget-content ui-helper-clearfix ui-corner-all">
                    <div class="portlet-header ui-widget-header ui-corner-top">
                        <span class="forcolor">Summary</span><a href="#" class="closeEl2 ui-icon ui-icon-triangle-1-n"></a>
                        <a href="@Url.Action("DashboardParameters", "Master")" data-slidepanel="panel">Show
                            Panel</a>
                    </div>
                    <div class="portlet-content" style="min-height: 350px;">
                        <div id="dvSecondDashGrid" class="">
                            @if (eTurnsWeb.Helper.SessionHelper.CompanyID > 0)
                            {
                                @Html.Partial("ItemQuantityDashboard")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
