@*@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Attributes;
@using CaptchaMvc*@
@using reCAPTCHA.MVC
@{
    Layout = null;
    string Status = string.Empty;
    if (!String.IsNullOrWhiteSpace(Convert.ToString(ViewBag.Status)))
    {
        Status = Convert.ToString(ViewBag.Status);
    }


    //var version = new Random();
}
<!DOCTYPE html>
<link href="~/Content/OpenAccess/LoginBS.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/OpenAccess/jquery-1.7.1.js")" type="text/javascript"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ResLoginForms.PageTitleForgotPassword</title>
    <script src="~/Scripts/Recaptcha.js" async defer></script>
    <style type="text/css">
        html {
            display: none;
            visibility: hidden;
        }
        .grecaptcha-badge { visibility: hidden !important; }
    </style>
</head>
<body>
    <div class="wrapper">
        <div id="container" class="clearfix">
            <!-- header starts -->
            <div id="header" class="clearfix">
                <!-- logo starts -->
                <h1 id="logo" class="alignLeft">
                    <a href="#" rel="home" title="eTurns">
                        <img src="@Url.Content("~/Content/OpenAccess/eturnslogo.png")" alt="eTurns" title="eTurns" width="167" height="77" />
                    </a>
                </h1>
                <!-- logo ends -->
            </div>
            <!-- header ends -->
            <!-- content starts -->
            <div id="contentWrap" class="clearfix">
                <!-- main content starts -->
                <div class="content">
                    <h1 id="pagehdr">
                        @ResLoginForms.PageHeaderForgotPasswordTop                        
                    </h1>
                    <div class="mainGreybg" style="min-height:354px;">
                        <div class="loginBg" style="min-height:350px;">
                            <div class="loginContent alignLeft">
                                @using (Html.BeginForm("ForgotPassword", "Master", FormMethod.Post, new { @class = "ajax" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="login alignLeft">
                                        <h2 class="alignLeft" id="pagehdrInner">
                                            @ResLoginForms.PageHeaderForgotPassword
                                        </h2>
                                        <div class="loginForm clear">
                                            <ul>
                                                <li>
                                                    <div id="ErrorMSG" style="color: Red">
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li class="alignLeft">
                                                    <span>@ResLoginForms.UserName</span>
                                                    <input type="text" class="inputtext" value="" id="txtUserName" name="username" />
                                                </li>


                                                @*<li class="alignLeft">
                                                        <span>Captcha:</span>
                                                        @Html.Captcha("refress capcha", "input text", 5, "Capcha required", true, null)
                                                    </li>*@

                                            </ul>
                                            <ul>
                                                <li class="alignLeft">
                                                    <span>
                                                        @*<img alt="username" class="icon" src="@Url.Content("~/Content/images/password.png")" />*@
                                                        @ResLoginForms.CaptchaImage
                                                    </span>
                                                </li>
                                                <li class="alignLeft">
                                                    <div style="float:left;">
                                                        @*@Html.MathCaptcha(ResLoginForms.RefressCaptchaImage, "", "Captcha required", true, null)*@
                                                        @*@Html.Captcha(ResLoginForms.RefressCaptchaImage, "", 3, "Captcha required", true, null)*@
                                                        @Html.Recaptcha()
                                                        @Html.ValidationMessage("ReCaptcha")
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li class="alignLeft">
                                                    &nbsp;
                                                </li>
                                                <li class="alignLeft">
                                                    <input style="margin-left: 28%; margin-top: 4%;" type="submit" class="searchBtn"
                                                           value="Send" id="btnSend" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main content ends -->
            </div>
            <!-- content ends -->
        </div>
        <!-- footer starts -->
        <div id="footer" class="clearfix">
            <div class="copyright">
                &copy; Copyright © @eTurns.DAL.DateTimeUtility.DateTimeNow.Year.ToString() eTurns.com. All rights reserved.
            </div>
        </div>
        <!-- footer ends -->
    </div>
    @* <script type="text/javascript" language="javascript">
            $(document).ready(function () {
                $('#btnSend').click(function (e) {
                    if ($("#txtUserName").val() == '') {
                        $("#ErrorMSG").html('User Name  is mandatory');
                        return false;
                    }
                    $.ajax({
                        type: "POST",
                        url: "/Master/SendPassword",
                        data: "{'UserName': '" + $("#txtUserName").val() + "' }",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (message) {
                            if (message.Message == "ok") {
                                $("#ErrorMSG").html('If the username you entered exists in our system, you will shortly receive a message at your e-mail address with further instructions on how to reset your password. If you do not receive a message within the next 30 minutes, please contact us at helpdesk@example.com for further assistance.');
                            }
                            else if (message.Message == "Fail") {
                                $("#ErrorMSG").html('If the username you entered exists in our system, you will shortly receive a message at your e-mail address with further instructions on how to reset your password. If you do not receive a message within the next 30 minutes, please contact us at helpdesk@example.com for further assistance.');
                            }
                            else {
                                $("#ErrorMSG").html(message.Message);
                            }

                        },
                        error: function (response) {
                            // through errror message
                        }
                    });
                });
            });
        </script>*@

    <script>
        $(function () {
            
            if (self == top) {
                document.documentElement.style.display = 'block';
                document.documentElement.style.visibility = 'visible';
            }
            else {
                top.location = self.location;
            }
            if ('@Status' != '') {
                if ('@Status' == 'ok') {
                    $("#pagehdr,#pagehdrInner").hide();
                    $("#ErrorMSG").html('@ResLoginForms.ForgotPasswordMessage');                    
                }
                else if ('@Status' == 'Fail') {
                    $("#pagehdr,#pagehdrInner").hide();
                    $("#ErrorMSG").html('@ResLoginForms.ForgotPasswordMessage');                    
                }
                else if ('@Status' == '@ResLoginForms.IncorrectCapcha') {
                    $("#pagehdr,#pagehdrInner").hide();
                    $("#ErrorMSG").html('@ResLoginForms.IncorrectCapcha');                    
                }
                else {
                    $("#ErrorMSG").html('');
                }

            }
            //$("form.ajax").submit(function () {
            //    $.post($(this).attr("action"), $(this).serialize(), function (response) {
            //        if (response.Message == "ok") {
            //            $("#ErrorMSG").html('If the username you entered exists in our system, you will shortly receive a message at your e-mail address with further instructions on how to reset your password. If you do not receive a message within the next 30 minutes, please contact us at helpdesk@example.com for further assistance.');
            //        }
            //        else if (response.Message == "Fail") {
            //            $("#ErrorMSG").html('Invalid user.');
            //        }
            //        else {
            //            $("#ErrorMSG").html(response.Message);
            //        }
            //    });
            //    return false;
            //});
        });
        $(document).ready(function () {
        //    var tmpSrc = $("#CaptchaImage").attr("src");
        //    tmpSrc += "?" + Math.random();
            //    $("#CaptchaImage").attr("src", tmpSrc);
            //setTimeout(function ()
            //{
            //    //$('.rc-anchor-pt').hide();
            //    $('.grecaptcha-badge').hide();

            //    var iframes = document.getElementsByTagName("iframe");
            //    var lastIframe = iframes[iframes.length - 1];
            //    var elmnt = lastIframe.contentWindow.document.getElementsByClassName("rc-anchor-pt")[0];
            //    elmnt.style.display = "none";
            //}, 5000);
            
            
            //class="rc-anchor-pt"
        });
        //CaptchaImage
    </script>
</body>
</html>
