@model eTurns.DTO.QuickBookTokenDetailDTO
@{
    ViewBag.Title = ResLayout.QuickBookSetupPageTitle;
    Int64 Id = 0;
    bool IsSuccessDisplay = false;
    if(Model != null && Model.ID > 0)
    {
        Id = Model.ID;
        if(Model.IsSuccessDisplay != null)
        {
            IsSuccessDisplay = (bool)Model.IsSuccessDisplay;
        }

    }
    if (ViewBag.IsMsgDisplay)
    {
        IsSuccessDisplay = true;
    }
}
<div class="userListingWrapper">
    <h2>
        @ResLayout.QuickBookSetupPageHeader
    </h2>
    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="display: block;">
            @using (Html.BeginForm("InitiateAuth", "Master", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
            <div class="userHead">
                @if (Model != null && Model.ID != 0)
                {
                    <div class="infoBlock">
                        <ul>
                            <li>
                                <label for="RoomName">
                                    @Html.LabelFor(model => model.RoomName)
                                </label>
                                : <span>@(Model.RoomName)</span>
                            </li>
                            <li>
                                <label for="RoomName">
                                    @Html.LabelFor(model => model.Created)
                                </label>
                                : <span>@(Model.CreatedDate)</span>
                            </li>
                            <li>
                                <label for="RoomName">
                                    @Html.LabelFor(model => model.CreatedByName)
                                </label>
                                : <span>@(Model.CreatedByName)</span>
                            </li>
                            <li>
                                <label for="RoomName">
                                    @Html.LabelFor(model => model.LastUpdated)
                                </label>
                                : <span>@(Model.UpdatedDate)</span>
                            </li>
                            <li style="border: none">
                                <label for="RoomName">
                                    @Html.LabelFor(model => model.UpdatedByName)
                                </label>
                                : <span>@(Model.UpdatedByName)</span>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="infoBlock">
                    </div>
                }

                <div class="editorForm">
                    <ul>
                        <div id="dvSetup">
                            <li>
                                <div class="editor-label">
                                    @ResLayout.SetupInfo <em></em>
                                </div>
                                <div class="editor-field">
                                    @{ if (ViewBag.AccessToken == "Success" && ViewBag.AuthError == string.Empty)
                                        {
                                            <p>@ResLayout.ConnectionSuccessful</p>
                                        }
                                        else if (ViewBag.AuthError != null)
                                        {
                                            <p>@ResCommon.ErrorColon @ViewBag.AuthError</p>
                                        }
                                    }
                                </div>
                            </li>
                        </div>
                        <div id="dvCompany">
                            <li>
                                <div class="editor-label">
                                    @eTurns.DTO.Resources.ResCommon.QuickBookCompanyName
                                </div>
                                <div class="editor-label">
                                    @Html.DisplayFor(model => model.QuickBookCompanyName)
                                </div>
                            </li>
                        </div>
                        <li>
                            <div class="editor-label">
                                @eTurns.DTO.Resources.ResCommon.ConnectToQuickBook
                            </div>
                            <div class="editor-label">
                                <input type="submit" value="@eTurns.DTO.Resources.ResCommon.ConnectToQuickBook" id="btnSave" class="CreateBtn" />
                            </div>
                        </li>
                        <div id="dvDisconnectQB">
                            <li>
                                <div class="editor-label">
                                    @eTurns.DTO.Resources.ResCommon.DisconnectQuickBook
                                </div>
                                <div class="editor-label">
                                    <input type="button" value="@eTurns.DTO.Resources.ResCommon.DisconnectQuickBook" id="btnDisconnect" class="CreateBtn" onclick="return DisconnectQBRequest();" />
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#dvDisconnectQB').hide();
        $('#dvSetup').hide();
        $('#dvCompany').hide();
        var _id = '@Id';
        var _IsDisplay = '@IsSuccessDisplay';

        if (_id > 0) {
            $('#dvDisconnectQB').show();
            $('#dvCompany').show();
        }
        if (_IsDisplay == true || _IsDisplay == "True" || _IsDisplay == 'true' ) {
            $('#dvSetup').show();
        }
    });
    function DisconnectQBRequest() {

        $.ajax({
            'url': "DisconnectQuickbook",
            'type': 'Post',
            'async': false,
            'cache': false,
            'dataType': 'json',
            'success': function (response) {
                if (response.Status === "ok") {
                    $('#DivLoading').hide();
                    $('#dvDisconnectQB').hide();
                    showNotificationDialog();
                    $('#dvCompany').hide();
                    $("#spanGlobalMessage").html("Success");
                    $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
                }
                else {
                    $('#DivLoading').hide();
                    showNotificationDialog();
                    $("#spanGlobalMessage").html(response.Status);
                    $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
                }
            },
            'error': function (xhr) {
                $('#DivLoading').hide();
            }

        });


        return false;
    }
</script>
