<script language="javascript" type="text/javascript">
    var IsRefreshGrid = false;
    var IsDeletePopupOpen = false;
    var AllowDeletePopup = true;
</script>
<style type="text/css">
    .editorForm li .editor-label
    {
        float: left;
        width: 20%; /*width: 21%;*/ /*    padding: 0 0 0 10%;*/
        padding: 0 0 0 4%;
    }
    .editorForm .editor-field
    {
        width: 500px;
    }
    .ui-multiselect
    {
        width: 40% !important;
    }
</style>
@{
    RouteValueDictionary obj = new RouteValueDictionary();
    obj = ViewContext.Controller.ControllerContext.RouteData.Values;
    string ControllerName = Convert.ToString(obj["controller"]);
    string ActionName = Convert.ToString(obj["action"]);
}
<div class="userListingWrapper">
    <h2>
        Reports</h2>
    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="display: block;">
            <div class="userHead">
                <div class="editorForm">
                    <ul>
                        <li>
                            <div class="editor-label">
                                Report List
                            </div>
                            <div class="editor-field">
                                @Html.DropDownList("ddlReportList", new SelectList(ViewBag.ReportListBag, "Value", "Key"), "", new { @class = "selectBox" })
                            </div>
                        </li>
                    </ul>
                    <ul id="GlobalReprotBuilderForAll" style="display: none;">
                        <li>
                            <div class="editor-label">
                                Report Title
                            </div>
                            <div class="editor-field">
                                <input type="text" name="name" id="textGlobalReprotBuilder" style="width: 200px;"
                                    class="text ui-widget-content ui-corner-all" />
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                Company
                            </div>
                            <div class="editor-field">
                                <select id="ComapnyGlobalReprotBuilderForAll" style="width: 40% !important;" multiple="multiple"
                                    name="example-basic">
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                Room
                            </div>
                            <div class="editor-field">
                                <select id="RoomGlobalReprotBuilderForAll" multiple="multiple" name="example-basic">
                                </select>
                            </div>
                        </li>
                        <li id="liStartDates" style="display: none;">
                            <div class="editor-label">
                                @eTurns.DTO.Resources.ResNarrowSearch.From
                                <em style="color: Red;">*</em>
                            </div>
                            <div class="editor-field">
                                <input type="text" name="name" id="SDGlobalReprotBuilderForAll" class="text ui-widget-content ui-corner-all" />
                            </div>
                        </li>
                        <li id="liEndDates" style="display: none;">
                            <div class="editor-label">
                                @eTurns.DTO.Resources.ResNarrowSearch.To
                                <em style="color: Red;">*</em>
                            </div>
                            <div class="editor-field">
                                <input type="text" name="name" id="EDGlobalReprotBuilderForAll" class="text ui-widget-content ui-corner-all" />
                            </div>
                        </li>
                        <li id="ReportShowHideFields">
                            <div class="editor-label">
                                Show/Hide Columns
                            </div>
                            <div class="editor-field" id="divShowHideFields" style="float: left; padding-left: 24%; padding-top: 10px;">
                            </div>
                        </li>
                        <li id="OrderDetailsField">
                            <div class="editor-label">
                                Order Details Fields
                            </div>
                            <div class="editor-field" id="divOrderDetailsField" style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input type="checkbox" id="ItemNumber" value="Item #" checked="checked" />Item #
                                <input type="checkbox" id="BinNumber" value="Bin #" checked="checked"/>Bin #
                                <input type="checkbox" id="SupplierPartNo" value="Supplier P/N" checked="checked"/>Supplier P/N
                                <input type="checkbox" id="Category" value="Category" checked="checked"/>Category
                                <input type="checkbox" id="Manufacturer" value="MFG #" checked="checked"/>MFG #
                                <input type="checkbox" id="Description" value="Description" checked="checked" disabled="disabled"/>Description
                                <input type="checkbox" id="Cost" value="Cost Description" checked="checked" disabled="disabled"/>Cost                                
                                <input type="checkbox" id="CostDescription" value="Cost Description" checked="checked" disabled="disabled"/>Cost Description  
                                <input type="checkbox" id="OnOrder" value="On Order" checked="checked"/>On Order
                                <input type="checkbox" id="Recv" value="Recv." checked="checked"/>Recv.
                                <input type="checkbox" id="Packagin" value="Packagin" checked="checked"/>Packagin
                                <input type="checkbox" id="Total" value="Total" checked="checked"/>Total
                            </div>
                        </li>
                        <li id="ReqDetailsField">
                            <div class="editor-label">
                                Req. Details Fields
                            </div>
                            <div class="editor-field" id="divReqDetailsField" style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input type="checkbox" id="ItemNumber" value="Item #" checked="checked" />Item #
                                <input type="checkbox" id="BinNumber" value="Bin #" checked="checked"/>Bin #
                                <input type="checkbox" id="SupplierPartNo" value="Supplier P/N" checked="checked"/>Supplier P/N
                                <input type="checkbox" id="Category" value="Category" checked="checked"/>Category
                                <input type="checkbox" id="Manufacturer" value="MFG #" checked="checked"/>MFG #
                                <input type="checkbox" id="Description" value="Desc." checked="checked" disabled="disabled"/>Description
                                <input type="checkbox" id="Cost" value="Cost" checked="checked" disabled="disabled"/>Cost                                
                                <input type="checkbox" id="CostDescription" value="Cost Desc." checked="checked" disabled="disabled"/>Cost Description  
                                <input type="checkbox" id="QuantityRequisitioned" value="Req Qty." checked="checked" />Quantity Requisitioned  
                                <input type="checkbox" id="QuantityApproved" value="Aprvd." checked="checked" />Quantity Approved  
                                <input type="checkbox" id="QuantityPulled" value="Pulled" checked="checked" />Quantity Pulled  
                                <input type="checkbox" id="Total" value="Total" checked="checked"/>Total
                            </div>
                        </li>
                        <li id="WODetailsField">
                            <div class="editor-label">
                                WO Details Fields
                            </div>
                            <div class="editor-field" id="divWODetailsField" style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input type="checkbox" id="ItemNumber" value="Item #" checked="checked" />Item #
                                <input type="checkbox" id="BinNumber" value="Bin #" checked="checked"/>Bin #
                                <input type="checkbox" id="SupplierPartNo" value="Supplier P/N" checked="checked"/>Supplier P/N
                                <input type="checkbox" id="Category" value="Category" checked="checked"/>Category
                                <input type="checkbox" id="Manufacturer" value="MFG #" checked="checked"/>MFG #
                                <input type="checkbox" id="Description" value="Desc." checked="checked" disabled="disabled"/>Description
                                <input type="checkbox" id="Cost" value="Cost" checked="checked" disabled="disabled"/>Cost                                
                                <input type="checkbox" id="CostDescription" value="Cost Desc." checked="checked" disabled="disabled"/>Cost Description  
                                <input type="checkbox" id="OnOder" value="On Order" checked="checked" disabled="disabled"/>On Order
                                <input type="checkbox" id="PoolQuantity" value="Pulled" checked="checked" disabled="disabled"/>Pulled 
                                <input type="checkbox" id="Total" value="Total" checked="checked"/>Total
                            </div>
                        </li>
                        <li id="RecDetailsField">
                            <div class="editor-label">
                                Rec. Details Fields
                            </div>
                            <div class="editor-field" id="divRecDetailsField" style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input type="checkbox" id="ItemNumber" value="Item #" checked="checked" />Item #
                                <input type="checkbox" id="BinNumber" value="Bin #" checked="checked"/>Bin #
                                <input type="checkbox" id="SupplierPartNo" value="Supplier P/N" checked="checked"/>Supplier P/N
                                <input type="checkbox" id="OrderNumber" value="Order #" checked="checked"/>Order #
                                <input type="checkbox" id="LastReceiveDate" value="Receive Date" checked="checked"/>Receive Date
                                <input type="checkbox" id="Description" value="Desc." checked="checked" disabled="disabled"/>Description
                                <input type="checkbox" id="Cost" value="Cost" checked="checked" disabled="disabled"/>Cost                                
                                <input type="checkbox" id="CostDescription" value="Cost Desc." checked="checked" disabled="disabled"/>Cost Description  
                                <input type="checkbox" id="RequestedQuantity" value="Req. Qty" checked="checked"/>Req. Qty
                                <input type="checkbox" id="ApprovedQuantity" value="Apr. Qty" checked="checked"/>Apr. Qty
                                <input type="checkbox" id="ReceivedQuantity" value="Rec. Qty" checked="checked"/>Rec. Qty
                                <input type="checkbox" id="Total" value="Total" checked="checked"/>Total
                            </div>
                        </li>
                        <li id="PullDetailsField">
                            <div class="editor-label">
                                Pull Details Fields
                            </div>
                            <div class="editor-field" id="divPullDetailsField" style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input type="checkbox" id="Created" value="Created" checked="checked"/>Created
                                <input type="checkbox" id="SupplierName" value="Supplier Name" checked="checked"/>Supplier Name
                                <input type="checkbox" id="ItemNumber" value="Item #" checked="checked" />Item #
                                <input type="checkbox" id="SerialNumber" value="Serial Number" checked="checked"/>Serial Number
                                <input type="checkbox" id="LotNumber" value="Lot Number" checked="checked"/>Lot Number
                                <input type="checkbox" id="Expiration" value="Expiration" checked="checked"/>Expiration
                                <input type="checkbox" id="Description" value="Desc." checked="checked"/>Desc.
                                <input type="checkbox" id="BinNumber" value="Bin #" checked="checked"/>Bin #
                                <input type="checkbox" id="Manufacturer" value="MFG #" checked="checked"/>MFG #
                                <input type="checkbox" id="CustomerOwnedQuantity" value="Cust. Qty" checked="checked"/>Cust. Qty
                                <input type="checkbox" id="ConsignedQuantity" value="Cons. Qty" checked="checked"/>Cons. Qty
                                <input type="checkbox" id="ItemCost" value="Cost" checked="checked"/>Cost
                                <input type="checkbox" id="CostDescription" value="Cost Desc." checked="checked" disabled="disabled"/>Cost Description  
                                <input type="checkbox" id="PoolQuantity" value="Pulled Qty" checked="checked"/>Pulled Qty
                                <input type="checkbox" id="DefaultPullQuantity" value="Default Qty" checked="checked"/>Default Qty
                                <input type="checkbox" id="Total" value="Total" checked="checked"/>Total
                            </div>
                        </li>
                        <li id="POItemsDetailsField">
                            <div class="editor-label">
                                POItems Details Fields
                            </div>
                            <div class="editor-field" id="divPOItemsDetailsField" style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input type="checkbox" id="ItemNumber" value="Item #" checked="checked" />Item #
                                <input type="checkbox" id="BinNumber" value="Bin #" checked="checked"/>Bin #
                                <input type="checkbox" id="SupplierPartNo" value="Supplier P/N" checked="checked"/>Supplier P/N
                                <input type="checkbox" id="OrderNumber" value="Order #" checked="checked"/>Order #
                                <input type="checkbox" id="LastReceiveDate" value="Rec. Date" checked="checked"/>Rec. Date
                                <input type="checkbox" id="Description" value="Desc." checked="checked"/>Desc.
                                <input type="checkbox" id="Cost" value="Cost" checked="checked" disabled="disabled"/>Cost
                                <input type="checkbox" id="CostDescription" value="Cost Desc." checked="checked" disabled="disabled"/>Cost Description  
                                <input type="checkbox" id="RequestedQuantity" value="Req. Qty" checked="checked"/>Req. Qty
                                <input type="checkbox" id="ApprovedQuantity" value="Apr. Qty" checked="checked"/>Apr. Qty
                                <input type="checkbox" id="ReceivedQuantity" value="Rec. Qty" checked="checked"/>Rec. Qty
                                <input type="checkbox" id="Total" value="Total" checked="checked"/>Total                                
                            </div>
                        </li>
                        <li id="BarcodeColumns">
                            <div class="editor-label">
                                No of label
                            </div>
                            <div class="editor-field" id="divBarcodeColumns">
                                  <select id="ddlBarcodeColumns" class="selectBox">
                                    <option selected="selected" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                  </select>                      
                            </div>
                        </li>
                        <li>
                            <div style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input id="ShowGlobalReprotBuilderForAll" type="button" value=" Show " class="ClearBtn" />
                            </div>
                        </li>
                        <li>
                            <div style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input id="CloningOfReport" type="button" value=" Copy " class="ClearBtn" title="click here to copy selected report!" />
                            </div>
                        </li>
                        <li id="liCopyReprot" style="display:none;">
                            <div class="editor-label">
                                Report Name
                            </div>
                            <div class="editor-field">
                                <input type="text" name="name" id="textNewReportName" style="width: 200px;"
                                    class="text ui-widget-content ui-corner-all" />
                            </div>
                            <div style="float: left; padding-left: 24%; padding-top: 10px;">
                                <input id="SaveCopyReport" type="button" value=" Save " class="ClearBtn" title="click here to copy selected report!" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divHiddenLoad" style="display: none;">
</div>
<div class="dialog" id="GlobalModalProcessingForAll" style="display: none;">
    <div class="inner">
        <p class="text" id="GloablMSGWait" style="text-align: left; padding-left: 10px;">
            <b style="color: Red;">@*Kindly wait, We are loading the Report parameters.*@
            @eTurns.DTO.Resources.ResMessage.PleaseWaitTransGoingOn
            </b>
        </p>
    </div>
</div>
<script type="text/javascript">
    var CurrentoTableColsListAll;
    var ModalPointer = null;
    $(document).ready(function () {
    
        $("#ddlReportList").change(function () {
        
            isDirtyForm = false;
            $("#ComapnyGlobalReprotBuilderForAll").empty();
            $("#ComapnyGlobalReprotBuilderForAll").multiselect('destroy');
            $("#ComapnyGlobalReprotBuilderForAll").multiselectfilter('destroy');
            $("#RoomGlobalReprotBuilderForAll").empty();
            $("#RoomGlobalReprotBuilderForAll").multiselect('destroy');
            $("#RoomGlobalReprotBuilderForAll").multiselectfilter('destroy');
            $("#divHiddenLoad").empty();
            $('#divHiddenLoad').html('');
            $("#GlobalReprotBuilderForAll").hide();
            $('#divShowHideFields').empty();
            $('#divShowHideFields').html('');
            $("#textGlobalReprotBuilder").val('');

            if ($("#ddlReportList option:selected").text() != '') {
                GetColumnDataByReportName($("#ddlReportList option:selected").text());
            }
            else {
                $("#GlobalReprotBuilderForAll").hide();
            }
            if ($("#ddlReportList option:selected").text() == 'Pulls' || $("#ddlReportList option:selected").text() == 'Receives' || $("#ddlReportList option:selected").text() == 'Order Items') {
                $("#liStartDates").show();
                $("#liEndDates").show();
            }
            else {
                $("#liStartDates").hide();
                $("#liEndDates").hide();
            }
            if ($("#ddlReportList option:selected").val().toLowerCase().indexOf("transaction") <= 0) {
                $("#ReportShowHideFields").show();
            }
            else {
                $("#ReportShowHideFields").hide();
            }
            if ($("#ddlReportList option:selected").text() == 'Purchase Order')
                $("#OrderDetailsField").show();
            else
                $("#OrderDetailsField").hide();

            if ($("#ddlReportList option:selected").text() == 'Requisition')
                $("#ReqDetailsField").show();
            else
                $("#ReqDetailsField").hide();

            if ($("#ddlReportList option:selected").text() == 'Work Order')
                $("#WODetailsField").show();
            else
                $("#WODetailsField").hide();

            if ($("#ddlReportList option:selected").text() == 'Receives')
                $("#RecDetailsField").show();
            else
                $("#RecDetailsField").hide();

            if ($("#ddlReportList option:selected").text() == 'Pulls')
                $("#PullDetailsField").show();
            else
                $("#PullDetailsField").hide();

            if ($("#ddlReportList option:selected").text() == 'Order Items')
                $("#POItemsDetailsField").show();
            else
                $("#POItemsDetailsField").hide();

           if ($("#ddlReportList option:selected").text() == 'Item Barcode 1 Column' || $("#ddlReportList option:selected").text() == 'Item Barcode 2 Column')
                $("#BarcodeColumns").show();
            else
                $("#BarcodeColumns").hide();
                
        });
        $("#SDGlobalReprotBuilderForAll").datepicker({
            dateFormat: 'm/d/yy',
            onSelect: function (selected) {
                $("#EDGlobalReprotBuilderForAll").datepicker("option", "minDate", selected)
            }
        });
        $("#EDGlobalReprotBuilderForAll").datepicker({
            dateFormat: 'm/d/yy',
            onSelect: function (selected) {
                $("#SDGlobalReprotBuilderForAll").datepicker("option", "maxDate", selected)
            }
        });
        $("#SaveCopyReport").click(function () {
            if ($("#textNewReportName").val() != '') {
                $.ajax({
                    type: "POST",
                    url: "/Master/CopyReportsFromSourceToDest",
                    data: { SourceReportName: $("#ddlReportList option:selected").text(), FoldarName: $("#ddlReportList option:selected").val(), DestinationReportName: $("#textNewReportName").val(), ReportPath: "" },
                    success: function (response) {
                        if (response.Message = "Ok") {
                            $("#liCopyReprot").hide();
                            $("#spanGlobalMessage").html("@ResReportMaster.ReportCopySuccessfully");
                            showNotificationDialog();
                        }
                        else {
                            $("#liCopyReprot").hide();
                            $("#spanGlobalMessage").html("@ResReportMaster.ErrorWhileCopyReport");
                            showNotificationDialog();
                        }
                    },
                    error: function (err) {
                        alert("There is some Error");
                    }
                });
            }
            else {
                $("#spanGlobalMessage").html("@ResReportMaster.ReqReportName");
                showNotificationDialog();
            }
        });
        $("#CloningOfReport").click(function () {
            isDirtyForm = false;
            if ($("#ddlReportList option:selected").text() != '') {
                $("#liCopyReprot").show();
            }
            else {
                $("#spanGlobalMessage").html("@ResReportMaster.ReqReportToCopy");
                showNotificationDialog();
            }
        });
        $("#ShowGlobalReprotBuilderForAll").click(function () {
            isDirtyForm = false;
            GetSelectedColumnsList();
            if ($("#ddlReportList option:selected").text() == 'Purchase Order')
                GetOrderDetailSelectedColumns();
            if ($("#ddlReportList option:selected").text() == 'Requisition')
                GetReqDetailSelectedColumns();
            if ($("#ddlReportList option:selected").text() == 'Work Order')
                GetWODetailSelectedColumns();
            if ($("#ddlReportList option:selected").text() == 'Receives')
                GetRecDetailSelectedColumns();
            if ($("#ddlReportList option:selected").text() == 'Pulls')
                GetPullDetailSelectedColumns();
            if ($("#ddlReportList option:selected").text() == 'Order Items')
                GetPOItemsDetailSelectedColumns();

            if ($("#ComapnyGlobalReprotBuilderForAll").multiselect("getChecked").length == 0 || $("#RoomGlobalReprotBuilderForAll").multiselect("getChecked").length == 0) {
                $("#spanGlobalMessage").html("@ResReportMaster.ReqCompanyAndRoom");
                showNotificationDialog();
            }
            else if ($("#ddlReportList option:selected").text() == "Pulls") {
                var StartDate = $("#SDGlobalReprotBuilderForAll")[0].value;
                var EndDate = $("#EDGlobalReprotBuilderForAll")[0].value;
                if (StartDate == "" || EndDate == "") {
                    $("#spanGlobalMessage").html("@ResReportMaster.ReqDateRange");
                    showNotificationDialog();
                }
                else {
                    callPrintTransactionForAll("oTable", $("#ddlReportList option:selected").val(), CurrentoTableColsListAll, StartDate, EndDate,"");
                }
            }
            else if ($("#ddlReportList option:selected").text() == "Receives") {
                var StartDate = $("#SDGlobalReprotBuilderForAll")[0].value;
                var EndDate = $("#EDGlobalReprotBuilderForAll")[0].value;
                if (StartDate == "" || EndDate == "") {
                    $("#spanGlobalMessage").html("@ResReportMaster.ReqDateRange");
                    showNotificationDialog();
                }
                else {
                    callPrintTransactionForAll("oTable", $("#ddlReportList option:selected").val(), CurrentoTableColsListAll, StartDate, EndDate,"");
                }
            }
            else if ($("#ddlReportList option:selected").text() == "Order Items") {
                var StartDate = $("#SDGlobalReprotBuilderForAll")[0].value;
                var EndDate = $("#EDGlobalReprotBuilderForAll")[0].value;
                if (StartDate == "" || EndDate == "") {
                    $("#spanGlobalMessage").html("@ResReportMaster.ReqDateRange");
                    showNotificationDialog();
                }
                else {
                    callPrintTransactionForAll("oTable", $("#ddlReportList option:selected").val(), CurrentoTableColsListAll, StartDate, EndDate,"");
                }
            }
            else if ($("#ddlReportList option:selected").text() == "Item Barcode 1 Column" || $("#ddlReportList option:selected").text() == "Item Barcode 2 Column") {
                var varBarCodeColumns = $("#ddlBarcodeColumns option:selected").val();
                callPrintTransactionForAll("oTable", $("#ddlReportList option:selected").val(), CurrentoTableColsListAll, "", "",varBarCodeColumns);
            }
            else {
                callPrintTransactionForAll("oTable", $("#ddlReportList option:selected").val(), CurrentoTableColsListAll, "", "","");
            }
        });
    });

    function CallCompanyRoomCombo() {
        
        GetMultiSelectCompanyDDForAll("ComapnyGlobalReprotBuilderForAll", "ComapnyGlobalReprotBuilderCollapse", "CompanyMaster", "", "Company");
        $("#GlobalReprotBuilderForAll").show();
        ModalPointer.close();
    }
    function GetColumnDataByReportName(ReportName) {
        
        ModalPointer = $('#GlobalModalProcessingForAll').modal();
        var URLPath = "";
        switch (ReportName) {
            case "Bin Location":
                URLPath = "/Master/BinList";
                break;
            case "Category":
                URLPath = "/Master/CategoryList";
                break;
            case "Customers":
                URLPath = "/Master/CustomerMasterList";
                break;
            case "FreightTypes":
                URLPath = "/Master/FreightTypeList";
                break;
            case "GLAccounts":
                URLPath = "/Master/GLAccountList";
                break;
            case "Locations":
                URLPath = "/Master/LocationList";
                break;
            case "Manufacturers":
                URLPath = "/Master/ManufacturerList";
                break;
            case "Measurement Terms":
                URLPath = "/Master/MeasurementTermList";
                break;
            case "ShipVia":
                URLPath = "/Master/ShipViaList";
                break;
            case "Supplier":
                URLPath = "/Master/SupplierList";
                break;
            case "Technicians":
                URLPath = "/Master/TechnicianList";
                break;
            case "Tool Category":
                URLPath = "/Master/ToolCategoryList";
                break;
            case "Units":
                URLPath = "/Master/UnitList";
                break;
            case "Items":
                URLPath = "/Inventory/ItemMasterList";
                break;
            case "Purchase Order":
                URLPath = "/Order/OrderList";
                break;
            case "Work Order":
                URLPath = "/WorkOrder/WorkOrderList";
                break;
            case "Requisition":
                URLPath = "/Consume/RequisitionList";
                break;
            case "Pulls":
                URLPath = "/Pull/PullMasterList";
                break;
            case "Receives":
                URLPath = "/Receive/ReceiveList";
                break;
            case "Order Items":
                URLPath = "/Order/OrderList";
                break;
            case "Inventory Classification":
                URLPath = "/Master/InventoryClassificationList";
                break;
            case "Cost UOM":
                URLPath = "/Master/CostUOMList";
                break;
            case "Item Barcode 2 Column":
            case "Item Barcode 1 Column":
                URLPath = "/Master/CostUOMList";
                break;
        }
            $.get(URLPath, function (data) {
                $('#divHiddenLoad').html(data);
                setTimeout("CallTimeOutFN()", 5000);
            });
    }
    function CallTimeOutFN() {
        
        CurrentoTableColsListAll = "";
        var CurrentoTableColsForAll = null;
        if ($("#ddlReportList option:selected").text() != 'Receives' && $("#ddlReportList option:selected").text() != 'Pulls' && $("#ddlReportList option:selected").text() != 'Order Items' && $("#ddlReportList option:selected").text() != 'Item Barcode 2 Column' && $("#ddlReportList option:selected").text() != 'Item Barcode 1 Column') {
            CurrentoTableColsForAll = $($("#divHiddenLoad")[0].getElementsByClassName("userContent")[0].getElementsByClassName("display").myDataTable).dataTable().DataTable.settings[0].aoColumns;
            for (var i = 0; i <= CurrentoTableColsForAll.length - 1; i++) {
                if (CurrentoTableColsForAll[i].bVisible && CurrentoTableColsForAll[i].mDataProp != null && CurrentoTableColsForAll[i].mDataProp.toString().toLowerCase().indexOf("udf") < 0) {
                    CurrentoTableColsListAll += CurrentoTableColsForAll[i].mDataProp + ":" + CurrentoTableColsForAll[i].sTitle.trim() + ",";
                    addCheckbox(CurrentoTableColsForAll[i].sTitle.trim(), CurrentoTableColsForAll[i].mDataProp);
                }
            }
        }
        $('#divHiddenLoad').empty();
        $('#divHiddenLoad').html('');
        setTimeout("CallCompanyRoomCombo()", 5000);
    }
    function addCheckbox(ColumnName, columnID) {
        var container = $('#divShowHideFields');
        var inputs = container.find('input');
        var id = inputs.length + 1;
        $('<input />', { type: 'checkbox', id: columnID, value: ColumnName, checked: 'checked' }).appendTo(container);
        $('<label />', { 'for': columnID, text: ColumnName }).appendTo(container);
    }
    function GetSelectedColumnsList() {
        CurrentoTableColsListAll = "";
        $('#divShowHideFields :checkbox').each(function () {
            if (this.checked) {
                CurrentoTableColsListAll += this.id + ":" + this.value + ",";
            }
        });
    }
    function GetOrderDetailSelectedColumns() {
        $('#divOrderDetailsField :checkbox').each(function () {
            if (this.checked) {
                CurrentoTableColsListAll += this.id + ":" + this.value + ",";
            }
        });
    }
    function GetReqDetailSelectedColumns() {
        $('#divReqDetailsField :checkbox').each(function () {
            if (this.checked) {
                CurrentoTableColsListAll += this.id + ":" + this.value + ",";
            }
        });
    }
    function GetWODetailSelectedColumns() {
        $('#divWODetailsField :checkbox').each(function () {
            if (this.checked) {
                CurrentoTableColsListAll += this.id + ":" + this.value + ",";
            }
        });
    }
    function GetRecDetailSelectedColumns() {
        $('#divRecDetailsField :checkbox').each(function () {
            if (this.checked) {
                CurrentoTableColsListAll += this.id + ":" + this.value + ",";
            }
        });
    }
    function GetPullDetailSelectedColumns() {
        $('#divPullDetailsField :checkbox').each(function () {
            if (this.checked) {
                CurrentoTableColsListAll += this.id + ":" + this.value + ",";
            }
        });
    }
    function GetPOItemsDetailSelectedColumns() {
        $('#divPOItemsDetailsField :checkbox').each(function () {
            if (this.checked) {
                CurrentoTableColsListAll += this.id + ":" + this.value + ",";
            }
        });
    }
</script>
<script type="text/javascript">

    function GetMultiSelectCompanyDDForAll(_CntrlName, _CntrlNameCollapse, _TableName, _ComapnyIds, _DisplayName) {
        $.ajax({ 'url': "/Master/GetMultiSelectDD",
            data: { TableName: _TableName, CompanyIds: _ComapnyIds },
            success: function (response) {
                var s = '';
                $.each(response.DDData, function (i, val) {
                    s += '<option value="' + val + '">' + i + '</option>';
                });
                //Destroy widgets before reapplying the filter
                $("#" + _CntrlName).empty();
                $("#" + _CntrlName).multiselect('destroy');
                $("#" + _CntrlName).multiselectfilter('destroy');

                $("#" + _CntrlName).append(s);
                $("#" + _CntrlName).multiselect(
                        { noneSelectedText: _DisplayName, selectedList: 5,
                            selectedText: function (numChecked, numTotal, checkedItems) {
                                return numChecked + ' ' + _DisplayName + ' ' + selected;
                            }
                        },
                        {
                            checkAll: function (ui) {
                            }
                        }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                SelectedCompanyIDs = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })
                GetMultiSelectRoomDDForAll("RoomGlobalReprotBuilderForAll", "RoomGlobalReprotBuilderCollapse", "Room", SelectedCompanyIDs.toString(), "Room");
            }).multiselectfilter();
                if (IsFirstTime) {
                    setTimeout(SetRoomDataForAll, 1000);
                    IsFirstTime = false;
                }
            },
            error: function (response) {
                // through errror message
            }
        });
        function SetRoomDataForAll() {
            $("#ComapnyGlobalReprotBuilderForAll").multiselect("widget").find(":checkbox[value='" + $("#ddlCompany").val() + "']").each(function () {
                this.click();
            });
        }
    }
    function GetMultiSelectRoomDDForAll(_CntrlName, _CntrlNameCollapse, _TableName, _ComapnyIds, _DisplayName) {
        $.ajax({ 'url': "/Master/GetMultiSelectDD",
            data: { TableName: _TableName, CompanyIds: _ComapnyIds },
            success: function (response) {

                var s = '';
                $.each(response.DDData, function (i, val) {
                    s += '<option value="' + val + '">' + i + '</option>';
                });
                //Destroy widgets before reapplying the filter
                $("#" + _CntrlName).empty();
                $("#" + _CntrlName).multiselect('destroy');
                $("#" + _CntrlName).multiselectfilter('destroy');

                $("#" + _CntrlName).append(s);
                $("#" + _CntrlName).multiselect(
                        { noneSelectedText: _DisplayName, selectedList: 5,
                            selectedText: function (numChecked, numTotal, checkedItems) {
                                return numChecked + ' ' + _DisplayName + ' ' + selected;
                            }
                        },
                        {
                            checkAll: function (ui) {
                            }
                        }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                SelectedRoomIDs = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })
            }).multiselectfilter();
                if (IsRoomFirstTime) {
                    setTimeout(SetRoomDefaultForAll, 1000);
                    IsRoomFirstTime = false;
                }
                $('#DivLoading').hide();
            },
            error: function (response) {
                // through errror message
            }
        });
    }
    function SetRoomDefaultForAll() {
        $("#RoomGlobalReprotBuilderForAll").multiselect("widget").find(":checkbox[value='" + $("#ddlStockroom").val() + "']").each(function () {
            this.click();
        });
    }

</script>
