@using eTurnsWeb.Controllers
@using eTurnsWeb.Helper
@{
    string title = ResDashboard.Reports;
    var listdata = (List<UserRoleModuleDetailsDTO>)ViewBag.ReportsList;
    var obj = new eTurns.DAL.ModuleMasterDAL(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName);
}
<div id="Reports" class="portlet ui-widget-content ui-helper-clearfix ui-corner-all">
    <div class="portlet-header ui-widget-header ui-corner-top">
        <span class="forcolor">@title</span><a href="#" class="closeEl ui-icon ui-icon-triangle-1-n"></a>
    </div>
    <div class="portlet-content">
        <div id="dvReports">
            <div style="float: left; width: 100%;">
                @if (listdata != null)
                {
                    if (listdata.Any())
                    {
                        foreach (var item in listdata)
                        {
                            string moduleName = SessionHelper.GetModuleName(Convert.ToInt32(item.ModuleID));
                            string totalNotification = obj.GetModuleNotificationByRoomPlain(Convert.ToInt32(item.ModuleID), SessionHelper.RoomID);
                            if (Convert.ToInt32(item.ModuleID) == (int)SessionHelper.ModuleList.Kits)
                            {
                                totalNotification = new KitController().GetWIPKitCountForRedCircle();
                            }
                            totalNotification = totalNotification ?? "0";
                            if (!string.IsNullOrEmpty(item.ImageName))
                            {
                    <div class="imgclassNew">
                        <a href="@item.ModuleURL" runat="server" title="@moduleName">
                            <img src="@(Url.Content("~/Content/images/") + item.ImageName)"  class="imgHoverable" alt=""  />
                            @if (totalNotification != "0")
                            {
                                <span>+ @totalNotification + </span>
                            }
                            <br />
                            @moduleName</a>
                    </div>
                            }

                        }

                    }
                }
            </div>
        </div>
    </div>
</div>
