@using eTurnsWeb.Helper;
@{
    ViewBag.Title = "Licencing Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string termsfilepath = Url.Content("~/Content/OpenAccess/EndUserTermsAndAgreements.pdf");
    string Message = " 4 Setup";
    string DetailMessage = ResTermsAndCondition.youagreeto;
    if (!SessionHelper.AnotherLicenceAccepted)
    {
        DetailMessage = ResTermsAndCondition.youagreeto;
    }
    if (!SessionHelper.NewEulaAccept)
    {
        DetailMessage = ResTermsAndCondition.newPDFMessage;
    }
    if (!SessionHelper.IsLicenceAccepted)
    {
        DetailMessage = ResTermsAndCondition.youagreeto;
    }
    string newfilepath = new eTurnsMaster.DAL.EulaMasterDAL().GetLastestFilePath();
    if (!string.IsNullOrEmpty(newfilepath))
    {
        termsfilepath = Url.Content("~/Uploads/EulaFiles/" + newfilepath);
    }
    string EnterpriseLogoName = "";

    if ((string.IsNullOrWhiteSpace(eTurnsWeb.Helper.SessionHelper.EnterpriseLogoUrl)))
    {
        EnterpriseDTO objEnterpriseDTO = new eTurnsMaster.DAL.EnterpriseMasterDAL().GetEnterprise(eTurnsWeb.Helper.SessionHelper.EnterPriceID);
        if (objEnterpriseDTO != null && !string.IsNullOrWhiteSpace(objEnterpriseDTO.EnterpriseLogo))
        {
            EnterpriseLogoName = Url.Content("~/Uploads/EnterpriseLogos/" + eTurnsWeb.Helper.SessionHelper.EnterPriceID.ToString() + "/" + objEnterpriseDTO.EnterpriseLogo);
            eTurnsWeb.Helper.SessionHelper.EnterpriseLogoUrl = objEnterpriseDTO.EnterpriseLogo;
        }
        else
        {
            eTurnsWeb.Helper.SessionHelper.EnterpriseLogoUrl = EnterpriseLogoName;
        }
    }
    else
    {
        string _entLogo = HttpContext.Current.Server.MapPath(Url.Content("~/Uploads/EnterpriseLogos/" + eTurnsWeb.Helper.SessionHelper.EnterPriceID.ToString() + "/" + eTurnsWeb.Helper.SessionHelper.EnterpriseLogoUrl));
        if (File.Exists(_entLogo))
        {
            EnterpriseLogoName = Url.Content("~/Uploads/EnterpriseLogos/" + eTurnsWeb.Helper.SessionHelper.EnterPriceID.ToString() + "/" + eTurnsWeb.Helper.SessionHelper.EnterpriseLogoUrl);
        }

    }
}
<div class="userListingWrapper">
    <div id="dvCreteTermsAndCondition" style="display: none;">
        <div class="main-area">
            <div class="header">
                <div class="logo">
                    <img src="@Url.Content("~/Content/images/logo.png")" alt="" />
                </div>
                <div class="close-event">
                    @* <img src="../../Content/images/min.jpg" alt="" />
                        <img src="../../Content/images/max.jpg" alt="" />*@ <a id="anchrclose" href="@Url.Action("LogoutUser", "Master")">
                        <img id="imgclose1" style="cursor: pointer;" src="@Url.Content("~/Content/images/close.jpg")" alt="" />
                    </a>
                </div>
                @if (!SiteSettingHelper.EnableOktaLoginForSpecialUrls.Contains(eTurnsWeb.Helper.SessionHelper.CurrentDomainURL))
                {
                    <div class="title">
                        <span><span class='red'>e</span>Turns</span> @Message
                    </div>
                }

            </div>
            <div class="inner">
                <div class="top-area">
                    <div class="left">
                        <h1>
                            @ResTermsAndCondition.LicenseAgrement
                        </h1>
                        <p>
                            @ResTermsAndCondition.Pleasereview
                        </p>
                    </div>
                    @if (SiteSettingHelper.EnableOktaLoginForSpecialUrls.Contains(eTurnsWeb.Helper.SessionHelper.CurrentDomainURL))
                    {
                        <div class="right large-logo">
                            <img src="@EnterpriseLogoName" width="100" height="33" alt="@eTurns.DTO.Resources.ResLayout.CompanyLogoAlt" class="alc dynamiccompanylogo" />
                        </div>
                    }
                    else
                    {
                        <div class="right large-logo">
                            <img src="@Url.Content("~/Content/images/large-logo.jpg")" alt="" />
                        </div>
                    }

                </div>
                <div class="bottom-area">
                    <div class="middle">
                        @if (SiteSettingHelper.EnableOktaLoginForSpecialUrls.Contains(eTurnsWeb.Helper.SessionHelper.CurrentDomainURL))
                        {
                            <p>
                                @ResTermsAndCondition.Byusing
                                <span style="font-style: italic; font-weight: bold;
                                font-size: 13px;">
                                    Border States VMI
                                </span> @DetailMessage
                            </p>
                        }
                        else
                        {
                            <p>
                                @ResTermsAndCondition.Byusing
                                <span style="font-style: italic; font-weight: bold;
                                font-size: 13px;">
                                    <span style="font-style: italic; font-weight: bold; color: Red;">e</span>Turns
                                </span>4  @DetailMessage
                            </p>
                        }

                        @*<p>
                                @ResTermsAndCondition.Byusing
                                @if (!SiteSettingHelper.EnableOktaLoginForSpecialUrls.Contains(eTurnsWeb.Helper.SessionHelper.CurrentDomainURL))
                                {
                                    <span style="font-style: italic; font-weight: bold;
                                    font-size: 13px;">
                                        <span style="font-style: italic; font-weight: bold; color: Red;">e</span>Turns
                                    </span>
                                }
                                else
                                {
                                    <span style="font-style: italic; font-weight: bold;
                                    font-size: 13px;">
                                        Border States VMI
                                    </span>
                                }
                                @DetailMessage
                            </p>*@
                        <a id="lbtntermsandcondition" style="cursor: pointer;">@ResTermsAndCondition.TermsofService</a>
                        @*<a href="#">Privacy Policy</a>*@
                    </div>
                    <div class="unicode">
                        <span class="code-text">&nbsp;</span>
                    </div>
                    <div class="right">
                        <input name="btnAgree" id="btnAgree" type="button" value="I Agree" class="agree left" disabled style="color: #666"/>
                        <input name="btncancel" id="btncancel" type="button" value="Cancel" class="cancel left" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#dvCreteTermsAndCondition").dialog({
            autoOpen: true,
            modal: true,
            width: 525,
            title: '@eTurns.DTO.ResCartItem.PageTitle',
            draggable: false,
            resizable: false,
            open: function () {
                $("#dvCreteTermsAndCondition").removeClass("ui-dialog-content").removeClass("ui-widget-content");
                $(".ui-dialog-titlebar").hide();
                $("#dvCreteTermsAndCondition").parent("div.ui-dialog").css("border", "0px").css("padding", "0px");
            }
        });

        $("#lbtntermsandcondition").click(function () {
            $('#btnAgree').prop('disabled', false);
            document.getElementById('btnAgree').removeAttribute('style');
        })

        $("#btncancel").click(function () {
            $("#anchrclose")[0].click();
        });

        //        $("#imgclose").click(function () {
        //            logout();
        //        });
        $("#lbtntermsandcondition").click(function () {

            window.open('@termsfilepath', "_blank");
        });
        $("#btnAgree").click(function () {

            var IsLicenceAccepted = true;
            if (IsLicenceAccepted == true) {
                $.ajax({
                    type: "POST",
                    url: "/Master/SaveTermcondition",
                    data: "{'IsLicenceAccepted':" + IsLicenceAccepted + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (message) {

                        if (message.Message == "Ok")
                            window.location = message.RedirectURL;

                    },
                    error: function (response) {

                    }
                });
            }
            else {
                alert("Please Select Terms and Condition");
            }
        });
    });
    //    function logout() {
    //        $("#anchrclose").click();
    ////        window.location.href = '@Url.Action("LogoutUser", "Master")';
    //
    //    }
</script>
