@model List<UserMasterLoginDTO>
@{

}
<div class="innerGrid" id="" style="background: none repeat scroll 0 0 #F8F8F8;width:94%; padding: 20px 10px 20px 10px;float:left">
    <table class="display" id="UserLoginGrid" style="margin:10px;">
        <thead>

            <tr>
                <th>
                    <b>#</b>
                </th>
                <th>
                    @eTurns.DTO.ResUserMaster.UserName
                </th>
                <th>
                    @eTurns.DTO.ResEnterprise.EnterpriseName
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserMasterLoginDTO item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.EnterpriseName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var tableUserList = $("table#UserLoginGrid").dataTable({
        "bStateSave": true,
        "fnStateSave": function (oSettings, oData) {
            localStorage.setItem('offersDataTables', JSON.stringify(oData));
        },
        "oLanguage": {
            "sLengthMenu": '@eTurns.DTO.Resources.ResGridHeader.Show' + ' _MENU_ ' + '@eTurns.DTO.Resources.ResGridHeader.Records',
            "sEmptyTable": '@eTurns.DTO.Resources.ResMessage.NoDataAvailableInTable',
            "sInfo": '@eTurns.DTO.Resources.ResMessage.ShowingNoOfEntries',
            "sInfoEmpty": '@eTurns.DTO.Resources.ResMessage.ShowingZeroEntries',
            "sLoadingRecords": '@eTurns.DTO.Resources.ResMessage.MsgLoading'
        },
        "fnStateLoad": function (oSettings) {
            return JSON.parse(localStorage.getItem('offersDataTables'));
        }
    });
</script>
