@model eTurns.DTO.ABProductDetails
@*@{
    string ProductImageAltText = ViewBag.ProductImageAltText;
    string ProductImageURL = ViewBag.ProductImageURL;

    string title = "";
    title = ViewBag.title;
}*@
<div class="filterBlock">
    <div class="closeFilter"></div>

    <div class="freeShipSuggestion">
        @if (Model != null)
        {
            if (Model.featuredOffer != null)
            {
                decimal RatePercentage = 0;
                string starRating = "";
                string SoldByNote = "";
                if (Model.featuredOffer.merchant.meanFeedbackRating != null
                     && Convert.ToDecimal(Model.featuredOffer.merchant.meanFeedbackRating) > 0)
                {
                    RatePercentage = ((Convert.ToDecimal(Model.featuredOffer.merchant.meanFeedbackRating) / 5) * 100);
                }
                if (Model.featuredOffer.merchant.totalFeedbackCount != null
                   && Convert.ToInt64(Model.featuredOffer.merchant.totalFeedbackCount) > 0)
                {
                    starRating = Convert.ToString(Model.featuredOffer.merchant.totalFeedbackCount);
                }
                if (Model.featuredOffer.fulfillmentType == "AMAZON_FULFILLMENT")
                {
                    SoldByNote = ResABProducts.SoldBy + " " + Model.featuredOffer.merchant.name + " " + ResABProducts.Fulfilledbyamazon;
                }
                else if (!string.IsNullOrWhiteSpace(Model.featuredOffer.merchant.name))
                {
                    SoldByNote = ResABProducts.SoldBy + " " + Model.featuredOffer.merchant.name;
                }
                double OfferPriceMain = Math.Truncate(Model.featuredOffer.price.value.amount);
                Int64 OfferPriceDecimal = (Int64)(((decimal)Model.featuredOffer.price.value.amount % 1) * 100);
                string ProductImageAltText = "";
                string ProductImageURL = "";
                string title = Model.title;
                if (Model.includedDataTypes != null && Model.includedDataTypes.IMAGES.Count > 0)
                {
                    ProductImageAltText = Model.includedDataTypes.IMAGES[0].altText;
                    ProductImageURL = Model.includedDataTypes.IMAGES[0].small.url;
                }
                <div class="shipWraper">
                    <div class="mainFeaturedProduct">
                        <div class="productFilterList">
                            <div class="productFilterNewPrice">
                                <strong>
                                    <span>@Model.featuredOffer.productCondition</span>
                                    <sup>@ViewBag.RegionCurrencySymbol</sup><div class="filterRightPrice">@OfferPriceMain</div><sup>@(String.Format("{0:00}",OfferPriceDecimal))</sup>
                                </strong>
                            </div>
                            <div class="productFilterShipDetail">
                                @*$71.95 delivery <strong>September 20 - 28.</strong> <a href="#" class="amazonChoiceLink">Details</a>*@
                                <strong>@Model.featuredOffer.deliveryInformation</strong>
                            </div>
                            <div class="productFilterAddRoom add-cart">
                                @*<a href="#">@ResABProducts.addtoroom</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="productFilterList">
                        @if (!string.IsNullOrWhiteSpace(ProductImageURL))
                        {
                            <div class="slideshow-thumbnails active item"><img alt="@ProductImageAltText" src="@ProductImageURL"></div>
                        }
                        <div class="product-row">
                            <div id="productTitle">@(title.Length > 50 ? (title.Substring(0, 50) + "...") : title)</div>
                            @if (RatePercentage > 0)
                            {
                                <div class="rating-result d-flex flex-row">
                                    <div class="rating-box">
                                        <div class="rating ratingShow" style="width:@(RatePercentage)%"></div>
                                    </div>
                                    <span class="ratingLink">(@starRating @ResABProducts.ratings)</span>
                                </div>
                            }
                            <div class="wrapdetails">
                                <div class="filtercontent">
                                    <div class="productFilterNewPrice">
                                        <strong>
                                            <span>@Model.featuredOffer.productCondition</span>
                                            <sup>@ViewBag.RegionCurrencySymbol</sup><div class="filterRightPrice">@OfferPriceMain</div><sup>@(String.Format("{0:00}",OfferPriceDecimal))</sup>
                                        </strong>
                                    </div>
                                    <div class="productFilterShipDetail">
                                        @*$71.95 delivery <strong>September 20 - 28.</strong> <a href="#" class="amazonChoiceLink">Details</a>*@
                                        <strong>@Model.featuredOffer.deliveryInformation</strong>
                                    </div>
                                </div>
                                <div class="productFilterAddRoom add-cart">
                                    @*<a href="#">@ResABProducts.addtoroom</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.featuredOffer.productConditionNote))
                    {
                        <div class="priceShipSeparater"></div>
                        <div class="productShipList">
                            <div class="productShipFrom">
                                <span>@ResABProducts.Condition</span>
                            </div>
                            <div class="productShipDetail">
                                @Model.featuredOffer.productConditionNote
                            </div>
                        </div>
                    }
                    @*<div class="productShipList">
                        <div class="productShipFrom">
                            <span>@SoldByNote</span>
                        </div>
                    </div>*@
                    @*<div class="productShipList">
            <div class="productShipFrom">
                <span>Ships from</span>
            </div>
            <div class="productShipDetail">
                Amazon.com
            </div>
        </div>
        <div class="productShipList">
            <div class="productShipFrom">
                <span>Sold by</span>
            </div>
            <div class="productShipDetail">
                <a href="#" class="amazonChoiceLink">ELECTRONICS DEPOT (SN RECORDED)</a>
                <div class="rating-result d-flex flex-row">
                    <a href="#" title="" class="smlRating"><img src="../Content/images/rating.png" alt="rating"></a> (1277 ratings)
                </div>
                92% positive over last 12 months
            </div>
        </div>*@
                    <hr class="hrLine" />
                </div>
            }
            if (Model.offers != null)
            {
                foreach (Offer abOffer in Model.offers)
                {
                    decimal OfferRatePercentage = 0;
                    string OfferstarRating = "";
                    string SoldByNote = "";
                    double OfferPriceMain = Math.Truncate(abOffer.price.value.amount);
                    Int64 OfferPriceDecimal = (Int64)(((decimal)abOffer.price.value.amount % 1) * 100);
                    if (abOffer.merchant.meanFeedbackRating != null
                     && Convert.ToDecimal(abOffer.merchant.meanFeedbackRating) > 0)
                    {
                        OfferRatePercentage = ((Convert.ToDecimal(abOffer.merchant.meanFeedbackRating) / 5) * 100);
                    }
                    if (abOffer.merchant.totalFeedbackCount != null
                       && Convert.ToInt64(abOffer.merchant.totalFeedbackCount) > 0)
                    {
                        OfferstarRating = Convert.ToString(abOffer.merchant.totalFeedbackCount);
                    }
                    if (abOffer.fulfillmentType == "AMAZON_FULFILLMENT")
                    {
                        SoldByNote = abOffer.merchant.name + " " + ResABProducts.Fulfilledbyamazon;
                    }
                    else if (!string.IsNullOrWhiteSpace(abOffer.merchant.name))
                    {
                        SoldByNote = abOffer.merchant.name;
                    }
                    <div class="shipWraper">
                            <div class="productFilterList">
                                <div class="productFilterNewPrice">
                                    <strong>
                                        <span>@abOffer.productCondition</span>
                                        <sup>@ViewBag.RegionCurrencySymbol</sup><div class="filterRightPrice">@OfferPriceMain</div><sup>@(String.Format("{0:00}",OfferPriceDecimal))</sup>                                        
                                    </strong>
                                </div>
                                <div class="productFilterShipDetail">
                                    <strong>@abOffer.deliveryInformation</strong>
                                </div>
                                <div class="productFilterAddRoom add-cart">
                                    @*<a href="#">@ResABProducts.addtoroom</a>*@
                                </div>
                            </div>
                        <div class="priceShipSeparater"></div>
                            @if (!string.IsNullOrWhiteSpace(abOffer.productConditionNote))
                            {                                
                                <div class="productShipList">
                                    <div class="productShipFrom">
                                        <span>@ResABProducts.Condition</span>
                                    </div>
                                    <div class="productShipDetail">
                                        @abOffer.productConditionNote
                                    </div>
                                </div>
                            }
                            <div class="productShipList">
                                
                                    <div class="productShipFrom">
                                        <span>@ResABProducts.SoldBy </span>
                                    </div>
                                    <div class="soldenote">
                                        
                                            <span>@SoldByNote</span>
                                        

                                        @if (OfferRatePercentage > 0)
                                        {
                                            <div class="rating-result d-flex flex-row">
                                                <div class="rating-box">
                                                    <div class="rating ratingShow" style="width:@(OfferRatePercentage)%"></div>
                                                </div>
                                                <span class="ratingLink">(@OfferstarRating @ResABProducts.ratings)</span>
                                            </div>
                                        }
                                    </div>
                            </div>
                            <hr class="hrLine" />
                        </div>
                }
            }
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {      

        $('.closeFilter').click(function () {
            $("#overlay").remove("#overlay");
            $('body').removeClass('filterBlockShown');
        });

        $(".freeShipSuggestion").scroll(function () {
            var scroll = $(".freeShipSuggestion").scrollTop();

            if (scroll >= 10) {
                setTimeout(function () {
                    $(".mainFeaturedProduct").slideDown();
                }, 200);
            } else {
                setTimeout(function () {
                    $(".mainFeaturedProduct").slideUp();
                }, 200);
            }
        });
    });
</script>